Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-6967): refactor update deal endpoint to use userInformation
  dtfs-central-api/api-tests/helpers/generateUserInformation.ts
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-put-tfm.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-search-string.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deal.api-test.js
  dtfs-central-api/src/helpers/userInformation.ts
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/tfm/cypress/support/central-api/api.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/api-tests/v1/amendments/update-tfm-deal-amendment-completion.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.tasks.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-lead-underwriter.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-underwriter-managers-decision.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/update-deal.js
  trade-finance-manager-api/src/v1/__mocks__/mock-portal-users.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.js
  trade-finance-manager-api/src/v1/controllers/deal-underwriter-managers-decision.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.convert-deal-currencies.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
  trade-finance-manager-api/src/v1/controllers/party.controller.js
  trade-finance-manager-api/src/v1/controllers/tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/tasks.controller.js
  trade-finance-manager-api/src/v1/controllers/tfm.controller.js
  trade-finance-manager-api/src/v1/helpers/generateUserInformation.ts
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.api-test.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.js
Due: eslint --fix

feat(DTFS2-7080): update tests
  trade-finance-manager-api/api-tests/v1/deals/deals-party-db.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.api-test.js
Due: eslint --fix

feat(DTFS2-7080): commonise generateUserInformation
  dtfs-central-api/api-tests/helpers/generateUserInformation.ts
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-put-tfm.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-search-string.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deal.api-test.js
  dtfs-central-api/src/helpers/userInformation.ts
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  libs/common/src/helpers/changeStream/generateUserInformation.ts
  libs/common/src/types/userInformation.ts
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/deal-underwriter-managers-decision.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.convert-deal-currencies.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
  trade-finance-manager-api/src/v1/controllers/party.controller.js
  trade-finance-manager-api/src/v1/controllers/tasks.controller.js
  trade-finance-manager-api/src/v1/controllers/tfm.controller.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.js
Due: eslint --fix

feat(DTFS2-7103): auto close stale pull requests
  .github/workflows/pr.yml
  README.md
Due: none

feat(DTFS2-7103): updated CRON time to midnight
  .github/workflows/pr.yml
Due: none

fix(DTFS2-7103): added documentation
  .github/workflows/pr.yml
Due: none

fix(DTFS2-7103): auto close stale pull requests (#3003)
  .github/workflows/pr.yml
  README.md
Due: none

feat(FN-1853): squash migrations
  libs/common/src/sql-db-connection/migrations/1707317495910-AddUtilisationReportTables.ts
  libs/common/src/sql-db-connection/migrations/1709731032407-AddOnDeleteCascadeToAzureFileInfo.ts
  libs/common/src/sql-db-connection/migrations/1710248062308-RenameUtilisationDataToFeeRecord.ts
  libs/common/src/sql-db-connection/migrations/1710250937910-UpdateNullableColumnTypes.ts
  libs/common/src/sql-db-connection/migrations/1710259065447-UpdateFeeRecordColumns.ts
  libs/common/src/sql-db-connection/migrations/1711452223370-UpdateActivityLogsColumns.ts
  libs/common/src/sql-db-connection/migrations/1711652127585-AddFeeRecordCascadeDelete.ts
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
Due: eslint --fix

feat(FN-1853): trigger deployment on changes to libs/common
  .github/workflows/feature_deploy.yml
Due: none

feat(DTFS2-6891): adding exceptions in login data validation process
  trade-finance-manager-ui/server/controllers/login/index.js
  trade-finance-manager-ui/server/controllers/login/loginService.js
  trade-finance-manager-ui/server/controllers/login/loginService.test.ts
Due: eslint --fix

feat(DTFS2-7080): fix typos
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.api-test.js
Due: eslint --fix

feat(FN-1456): quarterly submission month in e2e test and missing tests
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/navigating-to-utilisation-reports.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/pdc-reconcile/mark-report-as-done.spec.js
  libs/common/src/utils/report-period.test.ts
  libs/common/src/utils/report-period.ts
Due: eslint --fix

feat(DTFS2-6891): api test improvement for TFM-api user routes
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
Due: eslint --fix

feat(DTFS2-7080): code review
  dtfs-central-api/package-lock.json
  dtfs-central-api/src/helpers/userInformation.test.ts
  dtfs-central-api/src/helpers/userInformation.ts
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/api.js
  libs/common/package.json
  libs/common/src/helpers/changeStream/generateAuditDetails.test.ts
  libs/common/src/helpers/changeStream/generateUserInformation.test.ts
  package-lock.json
  trade-finance-manager-api/api-tests/v1/amendments/update-tfm-deal-amendment-completion.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.test.js
  trade-finance-manager-api/src/v1/controllers/tasks.api-test.js
Due: eslint --fix, sort-package-json

chore(FN-2253): fix linting
  utils/data-migration/tfm/migrate-tfm-users.js
Due: eslint --fix

chore(DTFS2-6967): refactor to generate userInformation at the controller level, where possible
  trade-finance-manager-api/api-tests/v1/amendments/update-tfm-deal-amendment-completion.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-party-db.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.tasks.api-test.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.js
  trade-finance-manager-api/src/v1/controllers/deal-underwriter-managers-decision.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.convert-deal-currencies.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.test.js
  trade-finance-manager-api/src/v1/controllers/tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/tasks.controller.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.api-test.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.js
Due: eslint --fix

feat(DTFS2-7080): fix typo
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
Due: eslint --fix

feat(DTFS2-7080): use userInformation on submit endpoint
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/utils/submitDeal.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/deals/routes.js
Due: eslint --fix

feat(FN-1456): remove unused report period start field
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.ts
  trade-finance-manager-ui/server/services/utilisation-report-service.ts
Due: eslint --fix

feat(FN-2253): add MongoDB to SQL Server data migrator (#2772)
  cspell.json
  libs/common/src/types/index.ts
  package-lock.json
  utils/data-migration/.eslintrc.js
  utils/data-migration/package.json
  utils/data-migration/sql/utilisation-reports/README.md
  utils/data-migration/sql/utilisation-reports/helpers/ejson.helper.ts
  utils/data-migration/sql/utilisation-reports/helpers/index.ts
  utils/data-migration/sql/utilisation-reports/helpers/transformers.helper.ts
  utils/data-migration/sql/utilisation-reports/index.ts
  utils/data-migration/sql/utilisation-reports/mongodb-ejson/utilisationData.json
  utils/data-migration/sql/utilisation-reports/mongodb-ejson/utilisationReports.json
  utils/data-migration/tfm/migrate-tfm-users.js
  utils/data-migration/tsconfig.eslint.json
  utils/data-migration/tsconfig.json
Due: eslint --fix, sort-package-json

feat(FN-1456): remove removed field and method from tests
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.test.ts
  trade-finance-manager-ui/server/services/utilisation-report-service.test.js
Due: eslint --fix

feat(DTFS2-7080): update tests
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-post.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-put.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-put-tfm.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-facilities-for-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-sorting.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facility-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facility-put.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  trade-finance-manager-api/api-tests/v1/utils/submitDeal.js
Due: eslint --fix

feat(DTFS2-7093): fix favicon refresh
  gef-ui/templates/index.njk
  portal/templates/index.njk
  service-unavailable/index.html
  trade-finance-manager-ui/templates/index.njk
Due: none

feat(DTFS2-7093): fix favicon refresh
  README.md
Due: none

feat(DTFS2-7093): update readme
  README.md
Due: none

Feat/dtfs2 7093/update crown favicon (#3005)
  README.md
  gef-ui/templates/index.njk
  portal/templates/index.njk
  service-unavailable/index.html
  trade-finance-manager-ui/templates/index.njk
Due: none

feat(FN-2562): update checkbox & component tests
  e2e-tests/tfm/cypress.config.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-table.component-test.js
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
Due: eslint --fix

feat(FN-2562): undo cypress config changes
  e2e-tests/tfm/cypress.config.js
Due: eslint --fix

feat(DTFS2-7093): fix issue with static folder not being resolved
  portal/server/generateApp.ts
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

feat(DTFS2-NONE): update favicon to tudor crown
  README.md
Due: none

feat(dtfs2 7096): update static folder (#3010)
  README.md
  portal/server/generateApp.ts
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

feat(FN-1456): quarterly reports on TFM bank reports page (#2995)
  dtfs-central-api/api-tests/mocks/utilisation-reports/utilisation-report-reconciliation-summary.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  dtfs-central-api/test-helpers/test-data/bank-report-period-schedule.ts
  dtfs-central-api/test-helpers/test-data/bank.ts
  dtfs-central-api/tsconfig.eslint.json
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/navigating-to-utilisation-reports.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/pdc-reconcile/mark-report-as-done.spec.js
  libs/common/src/utils/report-period.test.ts
  libs/common/src/utils/report-period.ts
  portal-api/src/cron-scheduler-jobs/helpers/utilisation-report-helpers.ts
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-details.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-reports.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.ts
  trade-finance-manager-ui/server/services/utilisation-report-service.test.js
  trade-finance-manager-ui/server/services/utilisation-report-service.ts
  trade-finance-manager-ui/server/test-mocks/mock-utilisation-report-reconciliation-summary.ts
  trade-finance-manager-ui/server/types/utilisation-reports.ts
Due: eslint --fix

feat(FN-2559): group quarterly previous reports in all years spanned and format period in link text
  libs/common/src/utils/report-period.test.ts
  libs/common/src/utils/report-period.ts
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.ts
  portal/component-tests/utilisation-report-service/previous-reports.component-test.js
  portal/server/controllers/utilisation-report-service/previous-reports/index.test.ts
  portal/server/controllers/utilisation-report-service/previous-reports/index.ts
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
Due: eslint --fix

feat(FN-2562): TFM mark as complete checkbox design (#3009)
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-table.component-test.js
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
Due: eslint --fix
