Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(FN-1683): correct portal previous reports header
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
Due: none

fix(FN-1683): add GEF to main header
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
Due: none

feat(FN-1501): add new collections and fileshare to bicep infra
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/storage.bicep
Due: none

fix(DTFS2-6464): fix tests and improve coverage
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-exporter/exporter-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-exporter/exporter-table.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.njk
Due: eslint --fix

fix(FN-1683): correct portal previous reports page headers (#2367)
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
Due: none

feat(FN-1041): add report period details to TFM 'Bank reports' screen
  .github/workflows/lint.yml
  .github/workflows/test.yml
  portal-api/src/external-api/bank-holidays.js
  portal-api/src/external-api/types/bank-holidays.d.ts
  portal-api/src/scheduler/jobs/helpers/utilisation-report-helpers.test.js
  trade-finance-manager-api/.eslintrc.js
  trade-finance-manager-api/api-tests/v1/bank-holidays/bank-holidays.api-test.js
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/types/bank-holidays.d.ts
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/mock-bank-holidays.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/bank-holidays/get-bank-holidays.controller.js
  trade-finance-manager-api/src/v1/controllers/bank-holidays/get-bank-holidays.controller.test.js
  trade-finance-manager-api/src/v1/controllers/bank-holidays/index.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/api.test.js
  trade-finance-manager-ui/server/constants/bank-holiday-region.js
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.test.js
  trade-finance-manager-ui/server/helpers/date.js
  trade-finance-manager-ui/server/helpers/date.test.js
  trade-finance-manager-ui/server/routes/index.js
  trade-finance-manager-ui/server/routes/index.test.js
  trade-finance-manager-ui/server/routes/utilisation-reports/index.js
  trade-finance-manager-ui/server/services/utilisation-report-service.js
  trade-finance-manager-ui/server/services/utilisation-report-service.test.js
  trade-finance-manager-ui/server/test-mocks/mock-bank-holidays.js
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
Due: eslint --fix, sort-package-json

fix(FN-1683): fix component test
  portal/component-tests/utilisation-report-service/previous-reports.component-test.js
Due: eslint --fix

feat(FN-1041): add report period details to TFM 'Bank reports' screen (#2337)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  portal-api/src/external-api/bank-holidays.js
  portal-api/src/external-api/types/bank-holidays.d.ts
  portal-api/src/scheduler/jobs/helpers/utilisation-report-helpers.test.js
  portal/component-tests/utilisation-report-service/previous-reports.component-test.js
  trade-finance-manager-api/.eslintrc.js
  trade-finance-manager-api/api-tests/v1/bank-holidays/bank-holidays.api-test.js
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/types/bank-holidays.d.ts
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/mock-bank-holidays.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/bank-holidays/get-bank-holidays.controller.js
  trade-finance-manager-api/src/v1/controllers/bank-holidays/get-bank-holidays.controller.test.js
  trade-finance-manager-api/src/v1/controllers/bank-holidays/index.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/api.test.js
  trade-finance-manager-ui/server/constants/bank-holiday-region.js
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.test.js
  trade-finance-manager-ui/server/helpers/date.js
  trade-finance-manager-ui/server/helpers/date.test.js
  trade-finance-manager-ui/server/routes/index.js
  trade-finance-manager-ui/server/routes/index.test.js
  trade-finance-manager-ui/server/routes/utilisation-reports/index.js
  trade-finance-manager-ui/server/services/utilisation-report-service.js
  trade-finance-manager-ui/server/services/utilisation-report-service.test.js
  trade-finance-manager-ui/server/test-mocks/mock-bank-holidays.js
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
Due: eslint --fix, sort-package-json

fix(DTFS-6522): removing nested divs from dl elements
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/case-summary.scss
  trade-finance-manager-ui/templates/case/_macros/case-summary-ndb.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary.njk
  trade-finance-manager-ui/templates/case/_macros/ukef-deal-stage.njk
Due: none

fix(FN-1683): fix component test (#2370)
  portal/component-tests/utilisation-report-service/previous-reports.component-test.js
Due: eslint --fix

feat(FN-1501): update query for clamav subnet resource id
  .github/workflows/development_infrastructure.yml
Due: none

feat(DTFS2-6734): add activity template without functionality
  portal/server/routes/activity.js
  portal/server/routes/index.js
  portal/templates/activity/index.njk
Due: eslint --fix

feat(DTFS2-6734): add navbar tab and stub activity page
  portal/server/routes/admin/activity.ts
  portal/templates/_partials/primary-navigation.njk
  portal/templates/activity/index.njk
Due: eslint --fix

feat(FN-1042): update status display values
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.test.js
Due: eslint --fix

feat(DTFS2-6796): fix portal api tests
  portal/api-tests/common-tests/role-validation-api-tests.js
Due: eslint --fix

feat(DTFS2-6796): fix portal admin routes api tests
  portal/api-tests/admin-routes.api-test.js
Due: eslint --fix

fix(DTFS2-6463): add 'Task' and 'Status' headings to deal tasks table and tests
  trade-finance-manager-ui/templates/case/amendments/_macros/tasks-table-amendments.njk
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.component-test.js
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.njk
Due: eslint --fix

refactor(DTFS2-6463): make tests more DRY
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.component-test.js
Due: eslint --fix

refactor(DTFS2-6463): lint
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.component-test.js
Due: eslint --fix

feat(DTFS2-6745): remove feature flag
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
Due: eslint --fix

feat(DTFS2-6745): remove feature flag
  portal-api/api-tests/api-test-users.js
Due: eslint --fix

feat(DTFS2-6745): remove feature flag
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/portal/cypress/support/portal/login.js
  portal-api/api-tests/api-test-users.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/reset-password.api-test.js
  portal-api/api-tests/v1/users/users.api-test.js
  portal-api/src/config/feature-flag.config.js
  portal-api/src/v1/users/login.controller.js
  portal-api/src/v1/users/login.controller.test.js
  portal-api/src/v1/users/passport.js
  portal-api/src/v1/users/routes.js
  portal/api-tests/login/post-check-your-email.api-test.js
  portal/api-tests/login/post-login.api-test.js
  portal/server/api.js
  portal/server/api.test.js
  portal/server/config/feature-flag.config.js
  portal/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-6745): remove feature flag
  portal/api-tests/login/post-check-your-email.api-test.js
Due: eslint --fix

feat(DTFS2-6745): remove feature flag
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
Due: eslint --fix

feat(DTFS2-6745): remove feature flag
  e2e-tests/portal/cypress/e2e/journeys/login/sign-in-link-session-edge-cases.spec.js
  portal/server/api.test.js
Due: eslint --fix

feat(DTFS2-6734): add functionality to generate activity report page and select users page template
  portal/server/routes/activity.js
  portal/templates/activity/generate-activity-report.njk
  portal/templates/activity/index.njk
  portal/templates/activity/select-user.njk
Due: eslint --fix

fix(DTFS-6522): removing nested divs from Deal page
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/list.scss
  trade-finance-manager-ui/templates/case/amendments/_macros/amendment-ukef-decision-summary.njk
  trade-finance-manager-ui/templates/case/deal/deal.njk
  trade-finance-manager-ui/templates/case/facility/_macros/amendment-details.njk
  trade-finance-manager-ui/templates/case/facility/_macros/facility_details.njk
  trade-finance-manager-ui/templates/case/facility/_macros/premium_schedule.njk
Due: none

feat(DTFS2-6734): add error message on input
  portal/server/routes/activity.js
  portal/templates/activity/generate-activity-report.njk
Due: eslint --fix

feat(DTFS2-6786): 2.1 EC version introduction
  e2e-tests/gef/cypress/e2e/scenarios/eligibility-criterion-16/eligibility-criterion-16.spec.js
  e2e-tests/gef/cypress/fixtures/mocks/mock-deals.js
  e2e-tests/tfm/cypress/fixtures/mock-gef-deals.js
  portal-api/README.md
  portal-api/api-tests/fixtures/gef/eligibilityCriteria.js
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  trade-finance-manager-api/src/v1/__mocks__/mock-gef-deal.js
  trade-finance-manager-api/src/v1/content-strings/index.js
  utils/mock-data-loader/gef/eligibilityCriteria.js
Due: eslint --fix

feat(DTFS2-6734): add component test for generate activity report page
  portal/component-tests/activity/generate-activity-report.component-test.js
  portal/templates/activity/generate-activity-report.njk
Due: eslint --fix

fix(DTFS-6522): fixing PR failing test because of missing data-cy
  trade-finance-manager-ui/templates/case/amendments/_macros/amendment-ukef-decision-summary.njk
Due: none

feat(DTFS2-6734): update nav bar component test
  portal/component-tests/partials/primary-navigation.component-test.js
Due: eslint --fix

fix(DTFS-6522): fixing accidental css class change
  trade-finance-manager-ui/templates/case/amendments/amendment-answers.njk
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
