Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(DTFS2-6888): deal validation before submitting to ACBS
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/constants/facilities.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/party.controller.js
  trade-finance-manager-api/src/v1/controllers/should-update-deal-from-MIA-to-MIN.js
  trade-finance-manager-api/src/v1/helpers/is-issued-acbs.js
  trade-finance-manager-api/src/v1/helpers/is-issued-acbs.test.js
  trade-finance-manager-api/src/v1/helpers/submit-deal-acbs.js
  trade-finance-manager-ui/package.json
  utils/mock-data-loader/package.json
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7120): add audit logs to create application endpoint
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/models/application.js
Due: eslint --fix

feat(DTFS2-7120): add audit logs to update application endpoint
  portal-api/src/v1/gef/controllers/application.controller.js
Due: eslint --fix

feat(DTFS2-7120): add audit logs to change status and add supporting information endpoints
  portal-api/src/v1/gef/controllers/application.controller.js
Due: eslint --fix

fix(DTFS2-6888): removed old test cases
  trade-finance-manager-api/api-tests/v1/deals/deal-controller.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
Due: eslint --fix

feat(FN-1615): remove function which utilises side-effect
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix

fix(DTFS2-6888): docstring update
  trade-finance-manager-api/src/v1/helpers/dealHasAllUkefIds.js
Due: eslint --fix

feat(FN-1615): use updateWithFeeRecords method
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix

feat(DTFS2-7120): add audit logs to facilities endpoints
  portal-api/api-tests/v1/gef/application-submit.api-test.js
  portal-api/api-tests/v1/gef/facilities.api-test.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/models/facilities.js
Due: eslint --fix

feat(DTFS2-7120): add audit logs to create eligibility criteria endpoint
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/gef/eligibility-criteria.api-test.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/models/eligibilityCriteria.js
Due: eslint --fix

feat(FN-1615): misc change
  utils/sql-db-seeder/.env.sample
  utils/sql-db-seeder/src/fee-record/fee-record.helper.ts
Due: eslint --fix

fix(DTFS2-6888): refactored ACBS submission
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
  trade-finance-manager-api/src/v1/controllers/estore.controller.js
  trade-finance-manager-api/src/v1/controllers/party.controller.js
  trade-finance-manager-api/src/v1/helpers/submit-deal-acbs.js
Due: eslint --fix

feat(DTFS2-7120): add audit logs to clone gef deal enpoint
  portal-api/api-tests/v1/gef/clone-gef-deal.api-test.js
  portal-api/src/v1/gef/controllers/clone-gef-deal.controller.js
Due: eslint --fix

feat(dtfs2-7069): temporary commit to replace footer and accessibility contact us
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: none

feat(dtfs2-7067): update email in portal and gef
  gef-ui/templates/includes/contact-us.njk
  gef-ui/templates/includes/footer.njk
  portal/component-tests/login/temporarily-suspended.component-test.js
  portal/component-tests/login/we-have-sent-you-another-link.component-test.js
  portal/templates/_partials/contact-us.njk
  portal/templates/_partials/footer.njk
  portal/templates/accessibility-statement.njk
  portal/templates/login/index.njk
Due: eslint --fix

feat(DTFS2-7120): add audit logs to create mandatory criteria endpoint
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/gef/models/mandatoryCriteria.js
Due: eslint --fix

feat(DTFS2-7120): add audit logs to mandatory criteria versioned endpoint
  portal-api/api-tests/v1/gef/mandatory-criteria-versioned.api-test.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
Due: eslint --fix

feat(DTFS2-7120): add audit logs to files endpoint
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/gef/models/files.js
Due: eslint --fix

feat(DTFS2-7120): clean up
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/clone-gef-deal.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
Due: eslint --fix

chore(FN): remove deprecated package causing type check errors
  external-api/package.json
  package-lock.json
Due: sort-package-json

feat(FN-1615): add seeder for fee records (#3050)
  .github/workflows/test.yml
  utils/sql-db-seeder/.env.sample
  utils/sql-db-seeder/src/fee-record/fee-record.helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix

fix(DTFS2-6888): improved logging messages
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/helpers/submit-deal-acbs.js
Due: eslint --fix

chore(FN): update readme instruction
  utils/data-migration/sql/utilisation-reports/README.md
Due: none

feat(dtfs2-7067): update email in portal and gef and dns
  .github/workflows/dns.yml
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
  service-unavailable/index.html
Due: eslint --fix

feat(DTFS2-7119): use auditDetails
  portal-api/api-tests/v1/gef/application-submit.api-test.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/clone-gef-deal.controller.js
Due: eslint --fix

feat(dtfs2-7069): update to env var
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: eslint --fix

chore(FN): remove sql seeding from test runs
  .github/workflows/test.yml
Due: none

feat(DTFS2-7120): use auditDetails more extensively
  portal-api/api-tests/v1/gef/application-submit.api-test.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/users/routes.js
Due: eslint --fix

feat(DTFS2-7120): add audit logs to gef routes of portal api (#3046)
  portal-api/api-tests/v1/gef/application-submit.api-test.js
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/gef/clone-gef-deal.api-test.js
  portal-api/api-tests/v1/gef/eligibility-criteria.api-test.js
  portal-api/api-tests/v1/gef/facilities.api-test.js
  portal-api/api-tests/v1/gef/mandatory-criteria-versioned.api-test.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/clone-gef-deal.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/gef/models/application.js
  portal-api/src/v1/gef/models/eligibilityCriteria.js
  portal-api/src/v1/gef/models/facilities.js
  portal-api/src/v1/gef/models/files.js
  portal-api/src/v1/gef/models/mandatoryCriteria.js
  portal-api/src/v1/users/routes.js
Due: eslint --fix

feat(dtfs2-7067): update formatting for linter
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
Due: eslint --fix

chore(FN): remove typeorm extension from seeding job
  package-lock.json
  utils/package.json
  utils/sql-db-seeder/package.json
  utils/sql-db-seeder/src/index.ts
  utils/sql-db-seeder/src/seeding-data-source.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix, sort-package-json

feat(dtfs2-7069): reformat
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
Due: eslint --fix

feat(dtfs2-7069): update tfm to handle not having self service portal configured
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: none

feat(dtfs2-7069): update to env var
  .github/workflows/dns.yml
  gef-ui/templates/includes/contact-us.njk
  gef-ui/templates/includes/footer.njk
  portal/server/nunjucks-configuration/index.js
  portal/templates/_partials/contact-us.njk
  portal/templates/_partials/footer.njk
  portal/templates/accessibility-statement.njk
  portal/templates/login/index.njk
Due: eslint --fix

feat(dtfs2-7067): update to env var
  .env.sample
  .github/workflows/test.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
  gef-ui/server/nunjucks-configuration/index.js
  portal/component-tests/login/temporarily-suspended.component-test.js
  portal/component-tests/login/we-have-sent-you-another-link.component-test.js
  portal/server/nunjucks-configuration/index.js
Due: eslint --fix

feat(dtfs2-7067): update tests
  portal/component-tests/componentRenderer.js
  portal/component-tests/login/temporarily-suspended.component-test.js
  portal/component-tests/login/we-have-sent-you-another-link.component-test.js
  portal/component-tests/pageRenderer.js
  portal/component-tests/test-helpers/with-contact-us-email-address.component-tests.js
Due: eslint --fix

chore(FN): merge conflict fixes
  dtfs-central-api/src/repositories/durable-functions-repo.test.ts
  dtfs-central-api/src/repositories/durable-functions-repo.ts
  dtfs-central-api/src/v1/controllers/durable-functions/durable-functions.controller.js
  external-api/src/cron/eStoreFacilityFolderCreationJob.cron.ts
  libs/common/package.json
Due: eslint --fix, sort-package-json

feat(dtfs2-7067): update tests
  .env.sample
  .github/workflows/dns.yml
  gef-ui/server/nunjucks-configuration/index.js
  portal/server/nunjucks-configuration/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
