Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(DTFS2-6631): fix validation error on loan financial details page
  portal/server/helpers/constructPayload.js
  portal/server/helpers/constructPayload.test.js
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

docs(REload): updated instructions for intial setup
  README.md
Due: none

chore(merge): update function name
  e2e-tests/portal/cypress/support/portal/login.js
Due: eslint --fix

chore(merge): fix typo
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-exchange-rate-error.js
Due: eslint --fix

feat(FN-692): disable function apps in feature deployments
  .github/workflows/feature_deploy.yml
Due: none

feat(fn 692): disable function apps in feature deployments (#2546)
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-692): disable function apps in feature deployments (#2547)
  .github/workflows/feature_deploy.yml
Due: none

fix(DTFS-6470): remove auto-submit from tasks and comments page filters (#2487)
  e2e-tests/tfm/cypress/e2e/journeys/case/activities/activities.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/tasks/tasks.spec.js
  e2e-tests/tfm/cypress/e2e/pages/activities/activitiesPage.js
  e2e-tests/tfm/cypress/e2e/pages/tasksPage.js
  trade-finance-manager-ui/component-tests/assertions.js
  trade-finance-manager-ui/component-tests/case/tasks/_macros/task-filters.component-test.js
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/main.js
  trade-finance-manager-ui/public/js/main.js.map
  trade-finance-manager-ui/scripts/main.js
  trade-finance-manager-ui/scripts/submit.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/templates/case/activity/_macros/activity-comment-filter.njk
  trade-finance-manager-ui/templates/case/tasks/_macros/task-filters.njk
Due: eslint --fix

chore(merge): fix tests
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-exchange-rate-error.test.js
  trade-finance-manager-ui/component-tests/case/facility/facility.component-test.js
Due: eslint --fix

fix(DTFS-6526): using optional chaining
  trade-finance-manager-ui/server/controllers/deals/index.js
Due: eslint --fix

feat(dtfs2-6113): add pagination to backend
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-ui/server/constants/deals.js
  trade-finance-manager-ui/server/controllers/deals/index.js
Due: eslint --fix

fix(DTFS2-6713): eStore CRON job refactorisation
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  external-api/src/cronJobs/eStoreCronJobManager.ts
  external-api/src/helpers/validIds.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
  gef-ui/package-lock.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
  utils/mock-data-loader/package-lock.json
Due: eslint --fix, sort-package-json

fix(DTFS-6526): code style improvement
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/controllers/deals/index.test.js
Due: eslint --fix

fix(DTFS2-6526): focus user to the table header button if it was clicked just now (#2491)
  trade-finance-manager-ui/component-tests/deals/_macros/deals-table-heading.component-test.js
  trade-finance-manager-ui/component-tests/deals/_macros/deals-table.component-test.js
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/controllers/deals/index.test.js
  trade-finance-manager-ui/templates/deals/_macros/deals-table-heading.njk
  trade-finance-manager-ui/templates/deals/_macros/deals-table.njk
  trade-finance-manager-ui/templates/deals/deals.njk
Due: eslint --fix

fix(estore): : updated cron jobs
  external-api/api-tests/v1/eStore.api-test.ts
  external-api/src/cron/eStoreCronJobManager.ts
  external-api/src/cron/eStoreDealFolderCreationJob.cron.ts
  external-api/src/cron/eStoreFacilityFolderCreationJob.cron.ts
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/cron/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/cron/index.ts
  external-api/src/cronJobs/eStoreSiteCreationJob.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

feat(DTFS2-6113): add pagination to deals page front end
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/images/search.svg
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/controllers/login/index.js
  trade-finance-manager-ui/server/routes/deals/index.js
  trade-finance-manager-ui/styles/breadcrumbs.scss
  trade-finance-manager-ui/styles/styles.scss
  trade-finance-manager-ui/templates/_macros/header.njk
  trade-finance-manager-ui/templates/_macros/pagination.njk
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
  trade-finance-manager-ui/templates/deals/deals.njk
Due: eslint --fix

fix(estore): : updated cfacility term and buyer ron jobs
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/cron/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

fix: move setting all appSettings for tfm-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-no-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

fix: linting
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-no-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

fix(DTFS2-6899): fix issue where blocked user can log in
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/sign-in-link-session-edge-cases.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/login/sign-in-link-expired.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fix: linting
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

fix(DTFS2-6899): update user status in portal api to enum
  portal-api/api-tests/api-test-users.js
  portal-api/api-tests/v1/deals/deals-status-submitted.api-test.js
  portal-api/api-tests/v1/deals/deals-status.api-test.js
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/users.api-test.js
  portal-api/src/v1/users/login.controller.js
  portal-api/src/v1/users/login.controller.test.js
  portal-api/src/v1/users/sanitizeUserData.test.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

fix(DTFS2-6899): update user status in portal api to enum
  portal-api/src/v1/users/login.controller.js
Due: eslint --fix

fix: bicep refactor (#2548)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-no-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

fix(DTFS2-6899): update login function of portal api to check user is not blocked
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
Due: eslint --fix

fix(DTFS2-6899): fix import
  portal-api/src/v1/users/login.controller.js
Due: eslint --fix

fix(DTFS2-6899): fix commented out code
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
Due: eslint --fix

fix(DTFS2-6899): review comment
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
Due: eslint --fix

feat(DTFS2-6113): count total number of results
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/rest-mappings/mappings/deal/mapDeals.js
  trade-finance-manager-ui/server/controllers/deals/index.js
Due: eslint --fix

fix(DTFS2-6631): resolved comments on PR
  portal/server/helpers/constructPayload.js
  portal/server/helpers/constructPayload.test.js
  portal/server/routes/contract/bond/index.js
Due: eslint --fix

feat(DTFS2-6113): handle too large & small page numbers
  trade-finance-manager-ui/server/controllers/deals/index.js
Due: eslint --fix

refactor(estore): refactored eStore API with improved documentation
  external-api/src/constants/eStore.constant.ts
  external-api/src/v1/controllers/estore/eStoreApi.ts
Due: eslint --fix

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: sort-package-json

chore: update new 2fa login controller to use payment report officer routing
  portal/server/controllers/login/index.js
  portal/server/controllers/login/login-with-sign-in-link.js
  portal/server/controllers/login/login-with-sign-in-link.test.js
  portal/templates/login/post-login-redirect.njk
Due: eslint --fix

feat(FN-1536): implement handling put request
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-status.component-test.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/constants/utilisation-report-reconciliation-status.js
  trade-finance-manager-ui/server/constants/utilisation-report-reconciliation-status.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.js
  trade-finance-manager-ui/server/test-mocks/mock-utilisation-report-reconciliation-summary.js
  trade-finance-manager-ui/server/types/types-helper.d.ts
  trade-finance-manager-ui/server/types/utilisation-reports.d.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
  trade-finance-manager-ui/tsconfig.json
Due: eslint --fix

feat(FN-1536): add nunjucks form to table
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
Due: none

feat(FN-1536): stop users from being able to download placeholder reports
  dtfs-central-api/src/types/utilisation-reports.d.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller.test.js
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.ts
  trade-finance-manager-ui/server/types/utilisation-reports.d.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
Due: eslint --fix

feat(FN-1536): fix dtfs central api tests
  dtfs-central-api/api-tests/v1/utilisation-reports/put-utilisation-report-status.api-test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/update-report-status.test.ts
Due: eslint --fix

feat(FN-1536): small fixes for tests
  trade-finance-manager-api/src/utils/validation.test.ts
  trade-finance-manager-api/src/utils/validation.ts
  trade-finance-manager-api/src/v1/validation/validate-payloads.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-table.component-test.js
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
