Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-3668): api mock entities to reference one another -- review comment
  portal-api/api-tests/v1/utilisation-report-service/fee-record-corrections/get-fee-record-correction.api-test.js
Due: eslint --fix

fix(DTFS2-7616): amended environment step
  .github/workflows/deployment.yml
Due: none

feat(FN-3668): address minor review comments
  portal-api/src/v1/controllers/utilisation-report-service/fee-record-corrections/get-fee-record-correction.controller/index.test.ts
  portal/component-tests/utilisation-report-service/record-correction/_macros/correction-request-details-table.component-test.js
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.test.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.test.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.ts
  portal/server/types/view-models/record-correction/provide-utilisation-report-correction.ts
  portal/templates/utilisation-report-service/record-correction/_macros/correction-request-details-table.njk
Due: eslint --fix

feat(FN-3667): move new line filter to common and add to portal
  libs/common/src/index.ts
  libs/common/src/nunjucks-filters/filter-replaceNewLinesWithBrTags.test.ts
  libs/common/src/nunjucks-filters/filter-replaceNewLinesWithBrTags.ts
  libs/common/src/nunjucks-filters/index.ts
  portal/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
Due: eslint --fix

feat(FN-3668): add line break support to error summary
  portal/component-tests/assertions.js
  portal/component-tests/utilisation-report-service/record-correction/_macros/correction-request-details-table.component-test.js
  portal/templates/utilisation-report-service/record-correction/_macros/correction-request-details-table.njk
Due: eslint --fix

fix(DTFS2-7616): notification step for both deployment and release
  .github/workflows/deployment.yml
  .github/workflows/release.yml
Due: none

feat(DTFS2-7705): get cover end date template and add unit tests (#4085)
  gef-ui/api-tests/amendments/cover-end-date.api-test.ts
  gef-ui/component-tests/partials/amendments/cover-end-date.component-test.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.ts
  gef-ui/server/routes/facilities/amendments/index.ts
  gef-ui/server/types/view-models/amendments/cover-end-date-view-model.ts
  gef-ui/server/utils/mocks/mock-applications.js
  gef-ui/templates/partials/amendments/cover-end-date.njk
Due: eslint --fix

feat(FN-3581): use full width row for content, allow word break on emails
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/typography.scss
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/request-sent.njk
Due: none

fix(DTFS2-7616): notification step for both deployment and release
  .github/workflows/release.yml
Due: none

feat(FN-3581): update component test
  trade-finance-manager-ui/component-tests/utilisation-reports/record-corrections/request-sent.component-test.ts
Due: eslint --fix

feat(FN-3668): add required view model attribute
  portal/component-tests/utilisation-report-service/record-correction/provide-utilisation-report-correction.component-test.js
Due: eslint --fix

fix(DTFS2-7616): added ms notifications web hook (#4095)
  .github/workflows/deployment.yml
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/release.yml
  .github/workflows/staging_infrastructure.yml
Due: none

chore(main): release 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-3163): Create new DTFS exporters in Salesforce (#4021)
  .env.sample
  docker-compose.yml
  external-api/api-tests/v1/party-db.api-test.ts
  external-api/src/v1/controllers/party-db.controller.ts
  external-api/src/v1/routes/external-apis.route.ts
  gef-ui/server/services/api.js
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-feature-flag-enabled.test.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.test.js
Due: eslint --fix

chore(DTFS2-7727): run gef tests with error logging
  .github/workflows/test.yml
  e2e-tests/gef/cypress/support/e2e.js
Due: eslint --fix

chore(DTFS2-7431): resolved some comments on PR
  e2e-tests/gef/cypress/e2e/clone/clone-gef-deal.spec.js
  e2e-tests/gef/cypress/e2e/pages/dashboard-page.js
  e2e-tests/portal/cypress/e2e/journeys/maker/dashboard/fixtures/deals.js
  e2e-tests/portal/cypress/e2e/journeys/maker/edit-deal-name/edit-deal-name.spec.js
Due: eslint --fix

chore(DTFS2-7727): split clone-gef-deal into 3 files
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIA-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-deal.spec.js
Due: eslint --fix

chore(deps): dependencies updates
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(DTFS2-7727): better html logging
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-deal.spec.js
  e2e-tests/gef/cypress/support/e2e.js
  e2e-tests/support/tasks.js
Due: eslint --fix

chore(deps): dependencies updates (#4097)
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(DTFS2-7727): html debugging
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/models/application.js
  gef-ui/templates/partials/application-preview.njk
Due: eslint --fix

feat(FN-3668): address minor review comments
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/get-fee-record-correction.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-fee-record-correction.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-fee-record-correction.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-fee-record-correction.controller/index.ts
  portal-api/api-tests/v1/utilisation-report-service/fee-record-corrections/get-fee-record-correction.api-test.js
  portal-api/src/v1/controllers/utilisation-report-service/fee-record-corrections/get-fee-record-correction.controller/index.test.ts
  portal-api/src/v1/controllers/utilisation-report-service/fee-record-corrections/get-fee-record-correction.controller/index.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.test.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.ts
Due: eslint --fix

feat(FN-3668): move plural 'error types' header logic to controller
  portal/component-tests/utilisation-report-service/record-correction/_macros/correction-request-details-table.component-test.js
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.test.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.ts
  portal/server/types/view-models/record-correction/provide-utilisation-report-correction.ts
  portal/templates/utilisation-report-service/record-correction/_macros/correction-request-details-table.njk
  portal/templates/utilisation-report-service/record-correction/provide-utilisation-report-correction.njk
Due: eslint --fix

feat(FN-3581): fix "request sent" email line break (#4094)
  trade-finance-manager-ui/component-tests/utilisation-reports/record-corrections/request-sent.component-test.ts
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/typography.scss
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/request-sent.njk
Due: eslint --fix

feat(FN-3668): align portal 'provide correction' route with FN-3667
  portal/api-tests/utilisation-report-routes.api-test.js
  portal/server/routes/utilisation-report-service/record-correction/index.js
Due: eslint --fix

feat(FN-3668): move currency radio item mapper to libs/common
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/map-currencies-to-radio-items.test.ts
  libs/common/src/helpers/map-currencies-to-radio-items.ts
  libs/common/src/test-helpers/currency-radio-item.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
Due: eslint --fix

feat(FN-3668): add initial form fields
  portal/templates/utilisation-report-service/record-correction/provide-utilisation-report-correction.njk
Due: none

feat(FN-3668): add currency radios
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.ts
  portal/server/types/view-models/record-correction/provide-utilisation-report-correction.ts
  portal/templates/utilisation-report-service/record-correction/provide-utilisation-report-correction.njk
Due: eslint --fix

feat(FN-3668): wip -- make additional comments labels dynamic
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.ts
  portal/server/types/view-models/record-correction/provide-utilisation-report-correction.ts
  portal/templates/utilisation-report-service/record-correction/provide-utilisation-report-correction.njk
Due: eslint --fix

feat(FN-3668): add unit tests for dynamic additional comments labels
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.test.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.test.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.ts
Due: eslint --fix

feat(FN-3668): additional comments required when OTHER is a correction reason
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.test.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/helpers.ts
  portal/server/controllers/utilisation-report-service/record-correction/provide-utilisation-report-correction/index.test.ts
Due: eslint --fix

chore(DTFS2-7431): resolved comments on PR
  e2e-tests/portal/cypress/e2e/journeys/checker/return-a-deal-to-maker/return-deal-to-maker.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-notice-type.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-status.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filters/dashboard-deals-panel-filter-remove.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/dashboard/fixtures/deals.js
  e2e-tests/portal/cypress/support/portal/createBssEwcsDeal.js
Due: eslint --fix

feat(FN-3668): restrict width of form
  portal/templates/utilisation-report-service/record-correction/provide-utilisation-report-correction.njk
Due: none

fix(DTFS2-7728): only active users are mapped
  libs/common/src/constants/tfm/index.ts
  libs/common/src/constants/tfm/users.ts
  trade-finance-manager-api/src/v1/__mocks__/mock-users.js
  trade-finance-manager-api/src/v1/controllers/team.controller.js
  trade-finance-manager-api/src/v1/controllers/team.controller.test.js
  trade-finance-manager-api/src/v1/teams/routes.js
Due: eslint --fix

fix(DTFS2-7728): refactored test case
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  libs/common/src/constants/tfm/index.ts
  libs/common/src/constants/tfm/user-status.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/api-tests/api-test-users.ts
  trade-finance-manager-api/api-tests/types/test-user.ts
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/constants/index.js
  trade-finance-manager-api/src/constants/user.js
  trade-finance-manager-api/src/v1/__mocks__/mock-users.js
  trade-finance-manager-api/src/v1/controllers/team.controller.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/repo/user.repo.create-user.test.ts
  trade-finance-manager-api/src/v1/repo/user.repo.ts
  trade-finance-manager-api/src/v1/repo/user.repo.update-user-by-id.test.ts
  trade-finance-manager-api/src/v1/services/user.service.upsert-user-from-entra-id-user.test.ts
  trade-finance-manager-ui/package.json
  utils/package.json
Due: eslint --fix, sort-package-json

chore(DTFS2-7728): docker and github actions plugins versions updated
  .github/workflows/development_infrastructure.yml
  .github/workflows/feature_deploy.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  .github/workflows/test.yml
  azure-functions/acbs-function/package.json
  dtfs-central-api/Dockerfile
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/Dockerfile
  external-api/package.json
  gef-ui/Dockerfile
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/Dockerfile
  portal-api/package.json
  portal/Dockerfile
  portal/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/Dockerfile
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(DTFS2-7727): refactor clone deal tests
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-deal-validation.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIA-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
  e2e-tests/gef/cypress/e2e/partials/index.js
  e2e-tests/gef/cypress/support/commands.js
  e2e-tests/gef/cypress/support/commands/clone/check-clone-deal-link.js
  e2e-tests/gef/cypress/support/commands/clone/check-cloned-deal-banner-and-deal.js
  e2e-tests/gef/cypress/support/commands/clone/clone-deal.js
  e2e-tests/gef/cypress/support/commands/complete-manual-inclusion-supporting-info-sections.js
  e2e-tests/gef/cypress/support/commands/submit-mock-data-loader-deal-to-checker.js
  e2e-tests/gef/cypress/support/commands/submit-mock-data-loader-deal-to-ukef.js
Due: eslint --fix

chore(DTFS2-7728): fixed api test
  trade-finance-manager-api/api-tests/v1/teams/get-team-members.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/mock-users.js
Due: eslint --fix

chore(DTFS2-7728): dependency update
  package-lock.json
Due: none
