Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(DTFS2-8402): tfm accessibility fix dac-text-input-01
  trade-finance-manager-ui/component-tests/_macros/table-search-form.component-test.js
  trade-finance-manager-ui/templates/_macros/table-search-form.njk
Due: eslint --fix

chore(DTFS2-8401): test coverage
  e2e-tests/gef/cypress/e2e/application/application-details.spec.js
  e2e-tests/gef/cypress/e2e/application/application-preview.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/facility/facility.spec.js
  e2e-tests/tfm/cypress/e2e/pages/facilityPage.js
  gef-ui/component-tests/includes/submit/submit-to-checker-post-ukef-approval.component-test.js
  gef-ui/component-tests/includes/submit/submit-to-checker.component-test.js
  gef-ui/component-tests/includes/submit/submit-to-ukef.component-test.js
  trade-finance-manager-ui/component-tests/case/facility/facility.component-test.js
Due: eslint --fix

chore(DTFS2-8402): test coverage
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-search.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/facility/facilities.spec.js
  e2e-tests/tfm/cypress/e2e/pages/dealsPage.js
  e2e-tests/tfm/cypress/e2e/pages/facilitiesPage.js
Due: eslint --fix

fix(DTFS2-8494): create a gift facility - months of cover/facility name
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

fix(DTFS2-8494): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

fix(DTFS2-8432): fix/update api test
  trade-finance-manager-api/api-tests/v1/amendments/update-facility-amendment-apim-gift.api-test.js
  trade-finance-manager-api/server/v1/controllers/apim-gift.temp.controller.js
  trade-finance-manager-api/server/v1/controllers/apim-gift.temp.controller.test.js
Due: eslint --fix

fix(DTFS2-8494): create a gift facility - months of cover, facility name (#4823)
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

fix(DTFS2-8488): readability, documentation improvements
  dtfs-central-api/server/v1/controllers/tfm/amendments/tfm-get-amendments.controller.ts
Due: eslint --fix

chore(DTFS2-8496): split dependabot npm into groups to avoid timeout
  .github/dependabot.yml
Due: none

fix(DTFS2-8488): add missing tests, amend issue faciliy - graceful handling
  trade-finance-manager-api/api-tests/v1/amendments/update-facility-amendment-apim-gift.api-test.js
  trade-finance-manager-api/server/v1/controllers/amend-issued-facility.js
  trade-finance-manager-api/server/v1/controllers/amend-issued-facility.test.js
Due: eslint --fix

chore(DTFS2-8496): markups
  .github/dependabot.yml
Due: none

chore(DTFS2-8467): address pr comments
  dtfs-central-api/server/repositories/portal-bank-list-repo.test.ts
  dtfs-central-api/server/v1/controllers/bank/get-portal-bank-list.controller.test.ts
Due: eslint --fix

chore(deps): update dependencies
  .github/actions/acr/action.yml
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/notify/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/bicep_infrastructure.yml
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
Due: sort-package-json

chore(DTFS2-8496): split dependabot npm into groups to avoid timeout (#4824)
  .github/dependabot.yml
Due: none

fix(DTFS2-8432): markups
  trade-finance-manager-api/server/v1/controllers/amendment.controller-sendFacilityAmendment.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller-updateFacilityAmendment.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.ts
Due: eslint --fix

chore(deps): update dependencies (#4807)
  .github/actions/acr/action.yml
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/notify/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/bicep_infrastructure.yml
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-8495): send a gift facility - accrual dates
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/apim-gift.ts
Due: eslint --fix

chore(deps): update dependencies
  gef-ui/package.json
  package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-8495): send a gift facility - accrual dates (#4839)
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/apim-gift.ts
Due: eslint --fix

fix(DTFS2-8432): fix/update test
  trade-finance-manager-api/api-tests/v1/amendments/send-facility-amendment.api-test.js
Due: eslint --fix

chore(deps): update dependencies
  gef-ui/package.json
  package-lock.json
  package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-8432): add e2e debugging info
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-proceed.spec.js
Due: eslint --fix

fix(DTFS2-8432): temporarily only run certain e2e tests
  .github/workflows/test.yml
Due: none

chore(DTFS2-8432): remove temp changes
  trade-finance-manager-api/server/v1/controllers/apim-gift.temp.controller.js
  trade-finance-manager-api/server/v1/controllers/apim-gift.temp.controller.test.js
Due: eslint --fix

chore(deps): update dependencies
  gef-ui/.babelrc
  gef-ui/package.json
  package-lock.json
  package.json
  portal-ui/.babelrc
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/.babelrc
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(deps): update dependencies
  gef-ui/package.json
  package-lock.json
  package.json
  portal-ui/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(DTFS2-8401): removed h2 element assertions from e2e tests
  e2e-tests/gef/cypress/e2e/application/application-details.spec.js
  e2e-tests/gef/cypress/e2e/application/application-preview.spec.js
Due: eslint --fix

chore(deps): update dependencies - babel (#4844)
  gef-ui/.babelrc
  gef-ui/package.json
  package-lock.json
  package.json
  portal-ui/.babelrc
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/.babelrc
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-8432): temporary e2e debugging
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-proceed.spec.js
Due: eslint --fix

fix(DTFS2-8432): temporary e2e debugging
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-proceed.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-underwriter-declined.spec.js
Due: eslint --fix

chore(DTFS2-8402): update to sort by order and name
  dtfs-central-api/server/repositories/portal-bank-list-repo.test.ts
  dtfs-central-api/server/repositories/portal-bank-list-repo.ts
  dtfs-central-api/server/v1/controllers/bank/get-portal-bank-list.controller.test.ts
  utils/mock-data-loader/insert-mocks.js
Due: eslint --fix

fix(DTFS2-8432): temporary e2e debugging
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-proceed.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-underwriter-declined.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-withdraw.spec.js
Due: eslint --fix

chore(DTFS2-8467): fix console error to be less verbose
  portal-ui/server/helpers/get-portal-bank-list-for-login-page.js
  portal-ui/server/helpers/get-portal-bank-list-for-login-page.test.js
Due: eslint --fix

chore(DTFS2-8467): update open api schema docs
  dtfs-central-api/server/v1/routes/bank-routes.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
