Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(deployment-fix-az-cli): kick off deployment on branch push
  .github/workflows/deployment.yml
Due: none

chore(deployment-fix-az-cli): test fix
  .github/actions/webapp/action.yml
Due: none

chore(deployment-fix-az-cli): revert
  .github/actions/webapp/action.yml
Due: none

chore(az-cli-purge-fix): fix deployment failure with temp directory
  .github/workflows/purge.yml
  cspell.json
Due: none

chore(deployment-fix-az-cli): test purge
  .github/workflows/deployment.yml
  .github/workflows/purge.yml
Due: none

chore(deployment-fix-az-cli): test deployment
  .github/actions/webapp/action.yml
  .github/workflows/deployment.yml
Due: none

chore(deployment-fix-az-cli): test logging
  .github/actions/webapp/action.yml
  .github/workflows/purge.yml
Due: none

chore(deployment-fix-az-cli): test logging
  .github/actions/webapp/action.yml
  .github/workflows/deployment.yml
Due: none

chore(deployment-fix-az-cli): test logging
  .github/actions/webapp/action.yml
Due: none

chore(deployment-fix-az-cli): test
  .github/actions/functions/action.yml
  .github/workflows/deployment.yml
Due: none

chore(deployment-fix-az-cli): test
  .github/actions/webapp/action.yml
Due: none

chore(deployment-fix-az-cli): test
  .github/workflows/purge.yml
Due: none

chore(deployment-fix-az-cli): test
  .github/workflows/deployment.yml
Due: none

chore(deployment-fix-az-cli): test
  .github/workflows/deployment.yml
  .github/workflows/purge.yml
Due: none

chore(az-cli-purge-fix): add temp directory to dev deployment)
  .github/actions/functions/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/deployment.yml
  .github/workflows/purge.yml
Due: none

chore(deployment-fix-az-cli): test
  .github/actions/functions/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/deployment.yml
Due: none

chore(missing-dependency): added missing express-validator
  libs/common/package.json
  package-lock.json
Due: sort-package-json

chore(feature-deployment-parallel): reduce feature deployment parallel runs to 1
  .github/workflows/feature.yml
Due: none

chore(deps): dependencies update
  .github/workflows/test.yml
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): dependencies update
  package-lock.json
Due: none

chore(deps): dependencies update
  .github/workflows/test.yml
  libs/common/package.json
  package-lock.json
  reverse-proxy/Dockerfile
Due: sort-package-json

fix(DTFS2-8220): error summary record correction single line
  portal-ui/component-tests/utilisation-report-service/record-correction/pending-corrections.component-test.js
  portal-ui/public/css/styles.css
  portal-ui/public/js/disableFormSubmitOnSubmission.js.map
  portal-ui/public/js/govukFrontend.js
  portal-ui/public/js/govukFrontend.js.map
  portal-ui/public/js/guaranteeFeePayableByBank.js.map
  portal-ui/public/js/jsEnabled.js.map
  portal-ui/public/js/main.js.map
  portal-ui/public/js/maskedInputs.js.map
  portal-ui/public/js/mojFilters.js.map
  portal-ui/public/js/mojFrontend.js.map
  portal-ui/public/js/multiFileUpload.js.map
  portal-ui/public/js/printPage.js.map
  portal-ui/public/js/ukefexposure.js.map
  portal-ui/styles/styles.scss
  portal-ui/styles/table.scss
  portal-ui/templates/utilisation-report-service/record-correction/pending-corrections.njk
Due: eslint --fix

fix(DTFS-8234): update risk margin fee validation
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
  portal-api/api-tests/v1/loan/loan-validation.api-test.js
  portal-api/server/v1/validation/fields/margin-fee.js
  portal-api/server/v1/validation/fields/margin-fee.test.js
Due: eslint --fix

fix(DTFS-8234): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
Due: eslint --fix

fix(DTFS-8234): update bonds-validation api test
  portal-api/api-tests/v1/bonds/bonds-validation.api-test.js
Due: eslint --fix

feat(DTFS-8222): address review comments
  portal-ui/api-tests/login/access-code-expired.api-test.ts
  portal-ui/api-tests/login/account-suspended.api-test.js
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
Due: eslint --fix

fix(DTFS2-8218): fix amendments order when referenceNumber does not exist
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.generatePortalAmendmentEligibilityRows.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
Due: eslint --fix

fix(DTFS2-8218): fix sequential order on portal
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
Due: eslint --fix

fix(DTFS2-8218): add reference number e2e tests on portal
  e2e-tests/gef/cypress/e2e/pages/application-amendments.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendments-tab.spec.js
Due: eslint --fix

fix(DTFS2-8242): add 2027 to backup bank holiday file
  external-api/server/external-api/bank-holidays.test.ts
  external-api/server/external-api/bank-holidays.ts
Due: eslint --fix

chore(DTFS2-8217): todo comment
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/account-suspended-page.spec.js
Due: eslint --fix

fix(DTFS2-8220): address pr comments
  portal-ui/templates/utilisation-report-service/record-correction/pending-corrections.njk
Due: none

fix(DTFS2-8218): fix e2e test
  e2e-tests/gef/cypress/e2e/pages/application-amendments.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendments-tab.spec.js
Due: eslint --fix

fix(DTFS2-8218): fix e2e test
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendments-tab.spec.js
Due: eslint --fix
