Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(DTFS2-6628): remove export keyword
  gef-ui/test-helpers/common-role-lists.js
Due: eslint --fix

chore(DTFS2-6628): add TODOs
  gef-ui/server/controllers/activities-controller/index.js
  gef-ui/server/controllers/unissued-facilities/index.js
Due: eslint --fix

fix(DTFS2-6628): add userRoles null safety to applicationReferenceAndActions
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
  gef-ui/templates/includes/application-details/applicationReferenceAndActions.njk
Due: eslint --fix

chore(DTFS2-6508): remove resolved TODO
  gef-ui/server/controllers/activities-controller/index.js
Due: eslint --fix

chore(DTFS2-6628): add TODO
  gef-ui/server/models/application.js
Due: eslint --fix

refactor(DTFS2-6628): extract canUpdateUnissuedFacilitiesCheck from gef-ui helpers
  gef-ui/server/controllers/application-details/canUpdateUnissuedFacilitiesCheck.js
  gef-ui/server/controllers/application-details/canUpdateUnissuedFacilitiesCheck.test.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/utils/helpers.js
  gef-ui/server/utils/helpers.test.js
Due: eslint --fix

feat(DTFS2-6628): restrict update unissued facilities access to only makers in gef-ui
  gef-ui/server/controllers/application-details/canUpdateUnissuedFacilitiesCheck.js
  gef-ui/server/controllers/application-details/canUpdateUnissuedFacilitiesCheck.test.js
  gef-ui/server/controllers/application-details/index.js
Due: eslint --fix

feat(DTFS2-6628): check if user status allows deal to be abandoned in applicationDetails
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/test-helpers/common-deal-status-lists.js
Due: eslint --fix

fix(DTFS2-6628): use previewMode instead of isAdmin in application-details/automatic-cover.njk
  gef-ui/templates/includes/application-details/automatic-cover.njk
Due: none

feat(DTFS2-6628): change renderReviewDecisionLink to only ever be true for makers
  gef-ui/server/controllers/application-details/index.js
Due: eslint --fix

feat(DTFS2-6628): remove admin and read-only role checks form applicationReferenceAndActions
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
  gef-ui/templates/includes/application-details/applicationReferenceAndActions.njk
Due: eslint --fix

fix(DTFS2-6628): preserve user.roles null safety in gef-ui footer
  gef-ui/templates/includes/footer.njk
Due: none

feat(DTFS2-6628): prevent error for unknown roles in getUserAuthorisationLevelsToApplication
  gef-ui/server/utils/user-authorisation-level.js
  gef-ui/server/utils/user-authorisation-level.test.js
Due: eslint --fix

fix(DTFS2-6628): remove annd from cspell.json
  cspell.json
Due: none

refactor(DTFS2-6628): remove unnecessary brackets
  gef-ui/component-tests/partials/application-activity.component-test.js
Due: eslint --fix

refactor(DTFS2-6628): use role constant in application-activity test
  gef-ui/component-tests/partials/application-activity.component-test.js
Due: eslint --fix

refactor(DTFS2-6628): improve spacing in nunjucks files
  gef-ui/templates/includes/application-details/applicationReferenceAndActions.njk
Due: none

refactor(DTFS2-6628): remove isAdmin param from applicationDetails now it is unused
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
Due: eslint --fix

refactor(DTFS2-6628): improve canUpdateUnissuedFacilitiesCheck
  gef-ui/server/controllers/application-details/canUpdateUnissuedFacilitiesCheck.js
Due: eslint --fix

feat(DTFS2-6628): correct test name
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
Due: eslint --fix

chore(DTFS2-6628): remove resolved TODOs
  gef-ui/server/controllers/unissued-facilities/index.js
Due: eslint --fix

Feat(FN-965): Add upload utilisation report page (#2052)
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  portal/server/constants/file-upload.js
  portal/server/controllers/utilisation-report-service/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/index.js
  portal/server/routes/utilisation-report-service/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/multer-filter.utils.js
  portal/server/utils/multer-filter.utils.test.js
  portal/templates/utilisation-report-service/_partials/header.njk
  portal/templates/utilisation-report-service/_partials/primary-navigation.njk
  portal/templates/utilisation-report-service/index.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

feat(FN-980): rename folders
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/previous-reports/list-previous-reports.spec.js
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
Due: eslint --fix

feat(FN-72): build pipeline - don't set MACHINEKEY_DecryptionKey
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-72): build pipeline - correct docker container name for function apps
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
Due: none

chore(DTFS2-6628): remove TODO
  gef-ui/server/models/application.js
Due: eslint --fix

fix(DTFS2-6628): fix unresolved imports
  utils/data-migration/tfm/migrate-tfm-users.js
Due: eslint --fix

feat(DTFS2-6628): add read only limitation on UI elements in gef-ui (#2057)
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
  gef-ui/component-tests/includes/footer.component-test.js
  gef-ui/component-tests/includes/primary-navigation.component-test.js
  gef-ui/component-tests/partials/application-activity.component-test.js
  gef-ui/package.json
  gef-ui/server/controllers/application-details/canUpdateUnissuedFacilitiesCheck.js
  gef-ui/server/controllers/application-details/canUpdateUnissuedFacilitiesCheck.test.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/utils/helpers.js
  gef-ui/server/utils/helpers.test.js
  gef-ui/server/utils/user-authorisation-level.js
  gef-ui/server/utils/user-authorisation-level.test.js
  gef-ui/templates/includes/application-details/applicationReferenceAndActions.njk
  gef-ui/templates/includes/application-details/automatic-cover.njk
  gef-ui/templates/includes/footer.njk
  gef-ui/templates/includes/primary-navigation.njk
  gef-ui/templates/partials/accessibility-statement.njk
  gef-ui/test-helpers/common-deal-status-lists.js
  gef-ui/test-helpers/common-role-lists.js
  portal/package.json
  utils/data-migration/tfm/migrate-tfm-users.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6508): remove user limitation to provide feedback
  cspell.json
  gef-ui/templates/includes/footer.njk
  portal/templates/_partials/footer.njk
Due: none

feat(DTFS2-6508): remove user limitation to provide feedback
  gef-ui/component-tests/includes/footer.component-test.js
  gef-ui/test-helpers/common-role-lists.js
  portal/component-tests/partials/footer.component-test.js
  portal/test-helpers/common-role-lists.js
Due: eslint --fix

feat(DTFS2-6508): update feedback access (#2059)
  cspell.json
  gef-ui/component-tests/includes/footer.component-test.js
  gef-ui/templates/includes/footer.njk
  gef-ui/test-helpers/common-role-lists.js
  portal/component-tests/partials/footer.component-test.js
  portal/templates/_partials/footer.njk
  portal/test-helpers/common-role-lists.js
Due: eslint --fix

feat(FN-72): build pipeline - use real IP range
  .github/workflows/bicep_workflow.yml
Due: none

feat(DTFS2-6635): remove maker/checker role from gef-ui
  gef-ui/server/utils/constructPayload.test.js
Due: eslint --fix

feat(DTFS2-6635): remove maker/checker role from portal
  portal/server/helpers/constructPayload.test.js
  portal/server/helpers/isChecker.test.js
Due: eslint --fix

chore(DTFS2-6635): add TODO
  portal/server/helpers/isChecker.helper.js
Due: eslint --fix

feat(DTFS2-6635): remove editor role from gef-ui
  gef-ui/server/constants/roles.js
Due: eslint --fix

feat(DTFS2-6635): remove efm role from portal
  portal/server/constants/roles.js
  portal/server/helpers/constructPayload.test.js
Due: eslint --fix

feat(DTFS2-6635): remove ukef_operations role from portal
  portal/api-tests/admin-routes.api-test.js
  portal/server/constants/roles.js
  portal/server/helpers/constructPayload.test.js
  portal/server/routes/admin/index.js
  portal/server/routes/middleware/validateBank/index.js
  portal/templates/index.njk
Due: eslint --fix

feat(DTFS2-6635): remove editor role from e2e-tests
  e2e-tests/trade-finance-manager/cypress/fixtures/users-portal.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
