Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-8033): njk indentation fix
  .github/workflows/test.yml
Due: none

chore(main): release 2.9.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-8033): updated markdown lint configuration
  .markdownlint.json
  gef-ui/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(deps): dependencies updates
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-8033): updated gef-ui to 5.11 govuk-frontend
  gef-ui/component-tests/includes/contact-us.component-test.js
  gef-ui/templates/includes/admin-header.njk
  gef-ui/templates/includes/contact.njk
  gef-ui/templates/includes/footer.njk
  gef-ui/templates/includes/header.njk
  gef-ui/templates/includes/primary-navigation.njk
  gef-ui/templates/includes/skip-link.njk
  gef-ui/templates/index.njk
  gef-ui/templates/partials/contact.njk
  portal/templates/_partials/contact.njk
  portal/templates/index.njk
Due: eslint --fix

feat(DTFS2-8033): updated gef-ui to 5.11 govuk-frontend
  gef-ui/templates/application-abandon.njk
  gef-ui/templates/index.njk
  portal/templates/admin/user-edit.njk
  portal/templates/index.njk
Due: none

feat(DTFS2-4227): corrected NJK indentation
  gef-ui/templates/includes/footer.njk
  gef-ui/templates/includes/header.njk
  portal/templates/_partials/footer.njk
  portal/templates/_partials/header.njk
Due: none

feat(DTFS2-8033): fixed component test cases
  docker-compose.yml
  dtfs-central-api/package.json
  gef-ui/component-tests/includes/contact-us.component-test.js
  gef-ui/component-tests/includes/footer.component-test.js
  gef-ui/component-tests/includes/primary-navigation.component-test.js
  gef-ui/server/nunjucks-configuration/index.js
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-8033): fixed component test cases
  gef-ui/component-tests/includes/contact.component-test.js
  gef-ui/component-tests/includes/header.component-test.js
  gef-ui/templates/includes/header.njk
  portal/component-tests/pageRenderer.js
  portal/component-tests/partials/header.component-test.js
  portal/templates/_partials/header.njk
Due: eslint --fix

feat(DTFS2-8033): fixed component test cases
  gef-ui/component-tests/assertions.js
  gef-ui/component-tests/pageRenderer.js
  gef-ui/server/nunjucks-configuration/index.js
  portal/component-tests/pageRenderer.js
  portal/server/nunjucks-configuration/index.js
  portal/templates/_partials/header.njk
Due: eslint --fix

feat(DTFS2-8033): fixed linting errors
  gef-ui/component-tests/pageRenderer.js
  package-lock.json
  portal/component-tests/pageRenderer.js
Due: eslint --fix

feat(DTFS2-8033): fixed artifact upload
  .github/workflows/test.yml
  package-lock.json
Due: none

feat(DTFS2-8033): dependencies update
  package-lock.json
Due: none

feat(DTFS2-8033): fixed cypress e2e tests
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/e2e/page-footer.spec.js
  e2e-tests/gef/cypress/e2e/page-header.spec.js
  e2e-tests/gef/cypress/e2e/pages/contact.js
  e2e-tests/gef/cypress/e2e/pages/footer.js
  e2e-tests/gef/cypress/e2e/pages/header.js
  e2e-tests/gef/cypress/e2e/pages/index.js
  e2e-tests/gef/cypress/e2e/pages/page-banner.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/portal/cypress/e2e/journeys/contact/contact.spec.js
  e2e-tests/portal/cypress/e2e/journeys/portal-header.spec.js
  gef-ui/component-tests/includes/contact.component-test.js
  gef-ui/styles/footer.scss
  gef-ui/styles/styles.scss
  gef-ui/templates/includes/contact.njk
  gef-ui/templates/includes/header.njk
  gef-ui/templates/partials/contact.njk
  gef-ui/templates/partials/page-not-found.njk
Due: eslint --fix

feat(DTFS2-8033): fixed cypress e2e tests
  e2e-tests/gef/cypress/e2e/pages/dashboard-page.js
  e2e-tests/gef/cypress/e2e/partials/index.js
Due: eslint --fix

feat(DTFS2-8033): re-build gef-ui
  gef-ui/package.json
  gef-ui/public/css/styles.css
  gef-ui/public/js/correspondenceAddress.js
  gef-ui/public/js/correspondenceAddress.js.map
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/public/js/govukFrontend.js
  gef-ui/public/js/govukFrontend.js.map
  package-lock.json
  portal/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-8033): added component tests for gef-ui JS files
  gef-ui/component-tests/includes/exporter-address/seprate-correspondence.component-test.js
  gef-ui/component-tests/partials/print-button.component-test.js
  gef-ui/component-tests/partials/upload-supporting-document.component-test.js
  gef-ui/templates/includes/exporters-address/separate-correspondence.njk
Due: eslint --fix

feat(EMS-4231): fixed js/ts docs types
  package-lock.json
Due: none

feat(DTFS2-8016): dependencies updates
  external-api/package.json
  package-lock.json
  portal/public/css/styles.css
Due: sort-package-json

fix(DTFS2-7987): dependencies updates
  package-lock.json
  portal/public/css/styles.css
  portal/public/js/maskedInputs.js.map
  portal/public/js/mojFrontend.js.map
Due: none

feat(DTFS2-8016): gef fixed fee calculation as per guarantee fee
  libs/common/src/helpers/facility-calculations/index.ts
  trade-finance-manager-api/src/v1/controllers/update-facilities.js
  trade-finance-manager-api/src/v1/controllers/update-issued-facilities.js
  trade-finance-manager-api/src/v1/helpers/calculate-gef-facility-fee-record.js
Due: eslint --fix

feat(DTFS2-8016): added additional unit test cases
  libs/common/src/helpers/facility-calculations/index.test.ts
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.facilities.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/src/v1/helpers/calculate-gef-facility-fee-record.api-test.js
Due: eslint --fix

fix(DTFS2-7987): dependencies updates
  package-lock.json
Due: none

feat(DTFS2-8016): updated test cases assertions
  libs/common/src/helpers/facility-calculations/index.test.ts
Due: eslint --fix

feat(DTFS2-8016): fixed multi date formats
  libs/common/src/helpers/facility-calculations/index.test.ts
  libs/common/src/helpers/facility-calculations/index.ts
Due: eslint --fix

feat(DTFS2-8016): fixed multi date formats
  trade-finance-manager-api/src/v1/helpers/calculate-gef-facility-fee-record.api-test.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-cash-contingent-facility.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-cash-contingent-facility.test.js
Due: eslint --fix

feat(DTFS2-8016): gef fixed fee calculation as per guarantee fee (#4372)
  libs/common/src/helpers/facility-calculations/index.test.ts
  libs/common/src/helpers/facility-calculations/index.ts
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.facilities.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/src/v1/controllers/update-facilities.js
  trade-finance-manager-api/src/v1/controllers/update-issued-facilities.js
  trade-finance-manager-api/src/v1/helpers/calculate-gef-facility-fee-record.api-test.js
  trade-finance-manager-api/src/v1/helpers/calculate-gef-facility-fee-record.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-cash-contingent-facility.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-cash-contingent-facility.test.js
Due: eslint --fix

feat(DTFS2-8059): added is uk entity to exporter party creation in salesforce
  external-api/src/v1/controllers/party-db.controller.ts
  libs/common/src/constants/country.ts
  libs/common/src/constants/index.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-country-uk.test.ts
  libs/common/src/helpers/is-country-uk.ts
  portal/server/routes/contract/about/companiesHouseSearch.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-bss-ewcs-deal.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-gef-deal.js
Due: eslint --fix

fix(DTFS2-8062): feature flag test cases for fee record correction portal links
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/feature-flag-enabled/fee-record-correction/page-header.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/fee-record-correction/page-header.spec.js
  e2e-tests/portal/cypress/e2e/journeys/page-footer.spec.js
  e2e-tests/portal/cypress/e2e/journeys/page-header.spec.js
Due: eslint --fix

feat(DTFS2-8059): corrected docstring and documentation
  portal/server/routes/contract/about/companiesHouseSearch.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
Due: eslint --fix

feat(DTFS2-8059): corrected docstring
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-bss-ewcs-deal.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-gef-deal.js
Due: eslint --fix

chore(main): release 2.9.0 (#4307)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-8062): fixed e2e tests paths
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/homepage/page-footer.spec.js
  e2e-tests/gef/cypress/e2e/homepage/page-header.spec.js
  e2e-tests/portal/cypress/e2e/journeys/homepage/page-footer.spec.js
  e2e-tests/portal/cypress/e2e/journeys/homepage/page-header.spec.js
  gef-ui/templates/includes/header.njk
  portal/templates/_partials/header.njk
Due: eslint --fix
