Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(DTFS2-6713): email dispatch upon failure
  external-api/src/constants/emailTemplates.constant.ts
  external-api/src/cron/eStoreFacilityDirectoryCreationJob.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
  external-api/src/v1/controllers/estore/eStoreApi.ts
Due: eslint --fix

feat(FN-2309): review markups
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-group-reconciliation-data.ts
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-groups.test.ts
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-groups.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/mark-as-reconciled/mark-as-reconciled.event-handler.test.ts
Due: eslint --fix

feat(FN-2069): refine comment content
  trade-finance-manager-ui/styles/table.scss
Due: none

feat(FN-2309): rename file to remove helpers from name
  dtfs-central-api/src/helpers/index.ts
  dtfs-central-api/src/helpers/tfm-facility-latest-completed-amendment-to-cover-end-date.test.ts
  dtfs-central-api/src/helpers/tfm-facility-latest-completed-amendment-to-cover-end-date.ts
Due: eslint --fix

feat(FN-2309): introduce a DRY aUtilisationReport method
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-groups-from-fee-record-entities.test.ts
  dtfs-central-api/src/mapping/fee-record-mapper.test.ts
  dtfs-central-api/src/mapping/keying-sheet-mapping.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/calculate-fixed-fee-adjustment.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/calculate-principal-balance-adjustment.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/helpers/get-keying-sheet-fee-payment-shares-for-fee-records.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/delete-payment.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-records-to-key.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/filter-fee-record-payment-entity-groups-by-facility-id.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-keying-sheet-for-report-id.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/map-fee-record-payment-entity-groups-to-fee-record-payment-groups.test.ts
  dtfs-central-api/test-helpers/test-data/index.ts
  dtfs-central-api/test-helpers/test-data/utilisation-report.ts
Due: eslint --fix

feat(FN-2309): move all values related to calculation into a const at start of test
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/map-to-fee-record-payment-groups.test.ts
Due: eslint --fix

feat(DTFS2-7219): add unit test for get bank review date request handler
  gef-ui/package.json
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.ts
  libs/common/src/test-helpers/bank-report-period-schedule.ts
  libs/common/src/test-helpers/bank.ts
  libs/common/src/test-helpers/index.ts
  libs/common/src/test-helpers/portal-session-user.ts
  package-lock.json
  portal/server/controllers/utilisation-report-service/previous-reports/helpers/previous-reports-view-model-mapper.test.ts
  portal/server/controllers/utilisation-report-service/previous-reports/index.test.ts
Due: eslint --fix, sort-package-json

feat(DTFS2-7219): add get model unit tests
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.get-model.test.ts
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.ts
Due: eslint --fix

fix(DTFS2-6713): email dispatch upon failure
  external-api/src/cron/eStoreBuyerDirectoryCreationJob.cron.ts
  external-api/src/cron/eStoreDealDirectoryCreationJob.cron.ts
  external-api/src/cron/eStoreFacilityDirectoryCreationJob.cron.ts
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/v1/controllers/estore/eStoreApi.ts
Due: eslint --fix

chore(deps): bump dependencies
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

fix(DTFS2-7316): remove transactions from deletion audit logs (#3386)
  libs/common/src/change-stream/delete-many.ts
  libs/common/src/change-stream/delete-one.test.ts
  libs/common/src/change-stream/delete-one.ts
  libs/common/src/change-stream/test-helpers/with-delete-many.api-tests.ts
  libs/common/src/change-stream/test-helpers/with-delete-one.api-tests.ts
  portal-api/api-tests/deal-versioning.api-test.js
Due: eslint --fix

fix(DTFS2-7316): add update and replace to deletion change stream (#3391)
  dtfs-central-api/src/services/changeStream/setupChangeStream.ts
Due: eslint --fix

fix(DTFS2-6713): enable db migrate (#3419)
  .github/workflows/deployment.yml
Due: none

fix(DTFS2-6713): email dispatch upon failure
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

feat(FN-2309): improve documentation
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.test.ts
  trade-finance-manager-ui/server/constants/date-format.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
Due: eslint --fix

feat(FN-2309): introduce a DRY aUtilisationReport method (#3465)
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-groups-from-fee-record-entities.test.ts
  dtfs-central-api/src/mapping/fee-record-mapper.test.ts
  dtfs-central-api/src/mapping/keying-sheet-mapping.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/calculate-fixed-fee-adjustment.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/calculate-principal-balance-adjustment.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/helpers/get-keying-sheet-fee-payment-shares-for-fee-records.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/delete-payment.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-records-to-key.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/filter-fee-record-payment-entity-groups-by-facility-id.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-keying-sheet-for-report-id.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/map-fee-record-payment-entity-groups-to-fee-record-payment-groups.test.ts
  dtfs-central-api/test-helpers/test-data/index.ts
  dtfs-central-api/test-helpers/test-data/utilisation-report.ts
Due: eslint --fix

feat(FN-2069): hide horizontal scrollbar on report reconciliation table when at full width (#3463)
  trade-finance-manager-ui/styles/table.scss
Due: none

feat(FN-2309): clarify test and use new common helper
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-group-status.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/map-to-fee-record-payment-groups.test.ts
Due: eslint --fix

feat(DTFS2-7219): add post unit tests
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.ts
  gef-ui/server/controllers/bank-review-date/post-bank-review-date.test.ts
  gef-ui/server/controllers/bank-review-date/post-bank-review-date.ts
  gef-ui/server/controllers/bank-review-date/post-bank-review-date.update-bank-review-date.test.ts
Due: eslint --fix

feat(FN-2310): include target edit payments tab in remove fees request
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-details-table.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/remove-fees-from-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/remove-fees-from-payment/index.ts
  trade-finance-manager-ui/server/middleware/validatePostRemoveFeesFromPaymentRequestBody/index.test.ts
  trade-finance-manager-ui/server/middleware/validatePostRemoveFeesFromPaymentRequestBody/index.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-details-table.njk
Due: eslint --fix

feat(dtfs2-6892): update tests to use jsdom, add tests to sso auto submit
  package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/scripts/sso-auto-submit.js
  trade-finance-manager-ui/scripts/sso-auto-submit.test.js
  trade-finance-manager-ui/unit.jest.config.js
Due: eslint --fix, sort-package-json

chore(deps): bump dependencies (#3466)
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(FN-3162): review markups
  dtfs-central-api/api-tests/v1/utilisation-reports/post-upload-utilisation-report.api-test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/index.ts
Due: eslint --fix

feat(FN-2310): make remove selected fees redirect tab dynamic
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-details-table.component-test.js
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-details-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/edit-payment.njk
Due: eslint --fix

feat(FN-2310): include redirectTab query param in initial visit url
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/remove-fees-from-payment.spec.js
Due: eslint --fix

fix(DTFS2-6713): fixed unit test cases
  trade-finance-manager-ui/server/controllers/case/index.ff-test.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
Due: eslint --fix

feat(DTFS2-7294): add tfm-ui test
  trade-finance-manager-ui/server/api-ssrf.test.js
Due: eslint --fix

feat(DTFS2-7294): add tfm-ui layer and deal types
  libs/common/src/types/mongo-db-models/db-model.ts
  libs/common/src/types/mongo-db-models/deal.ts
  libs/common/src/types/mongo-db-models/index.ts
  libs/common/src/types/mongo-db-models/tfm-deals.ts
  trade-finance-manager-ui/server/api-ssrf.test.js
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(DTFS2-7294): add tfm-api layer
  trade-finance-manager-api/src/types/express.d.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.ts
  trade-finance-manager-api/src/v1/deals/routes.js
Due: eslint --fix

feat(DTFS2-7294): add central api layer
  dtfs-central-api/src/repositories/tfm-deals-repo/index.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deal-cancellation.repo.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deals-cancellation-repo.test.ts
  dtfs-central-api/src/v1/controllers/tfm/deal-cancellation/tfm-put-update-deal-cancellation.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/index.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-put-deal-cancellation-payload.ts
  dtfs-central-api/src/v1/routes/tfm-routes.js
Due: eslint --fix

feat(DTFS2-7294): fix api test
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.test.ts
Due: eslint --fix

feat(DTFS2-7294): amend central api layer
  dtfs-central-api/src/v1/controllers/tfm/deal-cancellation/tfm-put-update-deal-cancellation.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-put-deal-cancellation-payload.ts
Due: eslint --fix

feat(DTFS2-7294): add tfm-api test
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.ts
Due: eslint --fix

feat(DTFS2-7294): add dtfs-central test
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deal-cancellation.repo.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deals-cancellation-repo.test.ts
  dtfs-central-api/src/v1/controllers/tfm/deal-cancellation/tfm-put-update-deal-cancellation.controller.ts
Due: eslint --fix

feat(dtfs2-6892): update package lock following merge of main
  package-lock.json
Due: none

feat(FN-2310): replace view model literals with constants where possible
  trade-finance-manager-ui/test-helpers/fee-record-payment-group-view-model-item.ts
Due: eslint --fix

feat(FN-2310): make redirectTab param optional instead of requiring undefined
  trade-finance-manager-ui/server/controllers/utilisation-reports/edit-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.ts
Due: eslint --fix

feat(FN-2309): remove helper from file name and remove never reached if block
  dtfs-central-api/src/helpers/fee-record-csv-row-mapper.test.ts
  dtfs-central-api/src/helpers/fee-record-csv-row-mapper.ts
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-group-reconciliation-data.ts
  dtfs-central-api/src/helpers/index.ts
Due: eslint --fix

feat(FN-2310): migrate to new back link cypress click event
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/edit-payment.spec.js
  e2e-tests/tfm/cypress/e2e/pages/utilisation-reports/utilisationReportEditPaymentPage.js
  e2e-tests/tfm/cypress/e2e/partials/clickEvents.js
  e2e-tests/tfm/cypress/e2e/partials/index.js
  e2e-tests/tfm/cypress/support/ui/click-events/click-back-link.js
  e2e-tests/tfm/cypress/support/ui/click-events/index.js
  e2e-tests/tfm/cypress/support/ui/index.js
Due: eslint --fix

feat(FN-3162): add assertions for error messaging
  dtfs-central-api/src/services/utilisation-report-data-validator/index.ts
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-monthly-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-quarterly-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/utilisation-reports/assertUploadReportValidationErrorTableRowContains.js
  portal/templates/utilisation-report-service/utilisation-report-upload/check-the-report.njk
Due: eslint --fix
