Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-7730): delete amendment endpoint dtfs-central-api
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.deletePortalFacilityAmendment.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/services/portal/facility-amendment.deletePortalFacilityAmendment.service.test.ts
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  dtfs-central-api/src/v1/controllers/portal/facility/delete-amendment.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/delete-amendment.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-delete-portal-facility-amendment-payload.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-delete-portal-facility-amendment-payload.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

feat(FN-3611): browser back button behaviour after correction request submitted (#4164)
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-fee-record-correction-request-review.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-fee-record-correction-request-review.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/record-correction-request-submission-going-back.spec.js
  e2e-tests/tfm/cypress/e2e/pages/utilisation-reports/index.js
  e2e-tests/tfm/cypress/e2e/pages/utilisation-reports/pageNotFoundPage.js
  libs/common/src/constants/index.ts
  libs/common/src/constants/status.ts
  libs/common/src/middleware/index.ts
  libs/common/src/middleware/set-no-store-cache-control.test.ts
  libs/common/src/middleware/set-no-store-cache-control.ts
  libs/common/src/test-helpers/mock-data/fee-record-correction-request-review-response-body-mock.ts
  libs/common/src/test-helpers/mock-data/index.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/fee-record-correction/get-fee-record-correction-request-review.controller.test.ts
  trade-finance-manager-ui/server/api-response-types/fee-record-correction-request-review-response-body.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/is-record-correction-request-review-response-type.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/is-record-correction-request-review-response-type.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/record-correction-request-already-submitted.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/record-correction-request-already-submitted.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/check-the-information/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/check-the-information/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/problem-with-service-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/page-not-found.njk
Due: eslint --fix

feat(dtfs2-7693): add jsdocs
  trade-finance-manager-ui/server/helpers/team-checking.helper.ts
  trade-finance-manager-ui/server/types/view-models/team-checking-view-model.ts
Due: eslint --fix

feat(DTFS2-7498): add eligibility and bank review date e2e tests (#4174)
  e2e-tests/gef/cypress/e2e/pages/amendments/bank-review-date.js
  e2e-tests/gef/cypress/e2e/pages/amendments/do-you-have-a-facility-end-date.js
  e2e-tests/gef/cypress/e2e/pages/amendments/eligibility.js
  e2e-tests/gef/cypress/e2e/pages/amendments/facility-value.js
  e2e-tests/gef/cypress/e2e/pages/amendments/what-do-you-need-to-change.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/change-cover-end-date-journey.happy-path.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/change-facility-end-date-journey.unhappy-path.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/change-both-cover-end-date-and-facility-value.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/change-cover-end-date-with-BRD-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/change-cover-end-date-with-FED-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/change-facility-value-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/bank-review-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/cover-end-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/do-you-have-a-facility-end-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/eligibility.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/facility-end-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/facility-value.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/what-needs-to-change.spec.js
Due: eslint --fix

feat(FN-3675): update unit tests
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.test.ts
Due: eslint --fix

feat(FN-3675): add gef email recipient env var to test yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-7709): add get controller for manual approval needed page
  gef-ui/server/controllers/amendments/manual-approval-needed/get-manual-approval-needed.ts
  gef-ui/server/routes/facilities/amendments/index.ts
  gef-ui/server/types/view-models/amendments/ManualApprovalNeededViewModel.ts
  gef-ui/templates/partials/amendments/manual-approval-needed.njk
Due: eslint --fix

feat(DTFS2-7709): add unit, component and api tests
  gef-ui/api-tests/amendments/manual-approval-needed.get.api-test.ts
  gef-ui/component-tests/partials/amendments/manual-approval-needed.component-test.ts
  gef-ui/server/controllers/amendments/manual-approval-needed/get-manual-approval-needed.test.ts
Due: eslint --fix

feat(DTFS2-7709): add manual approval needed to URLs and helper functions
  gef-ui/server/constants/amendments.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.getNextPage.test.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.getPreviousPage.test.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.ts
Due: eslint --fix

feat(FN-3671): address minor review comments
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/helpers/map-completed-corrections-to-response.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/helpers/map-completed-corrections-to-response.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/helpers/map-reasons-and-values-to-formatted-values.ts
Due: eslint --fix

feat(DTFS2-7779): fix nested h1 and make consistent headings
  gef-ui/templates/partials/amendments/bank-review-date.njk
  gef-ui/templates/partials/amendments/cancel.njk
  gef-ui/templates/partials/amendments/cover-end-date.njk
  gef-ui/templates/partials/amendments/do-you-have-a-facility-end-date.njk
  gef-ui/templates/partials/amendments/effective-date.njk
  gef-ui/templates/partials/amendments/eligibility.njk
  gef-ui/templates/partials/amendments/facility-end-date.njk
  gef-ui/templates/partials/amendments/facility-value.njk
  gef-ui/templates/partials/amendments/what-needs-to-change.njk
Due: none

feat(FN-3671): add "record correction history" nav item
  portal/component-tests/partials/primary-navigation.component-test.js
  portal/server/constants/primary-nav-key.ts
  portal/templates/_partials/primary-navigation.njk
Due: eslint --fix

feat(DTFS2-7730): fix delete amentment endpoint
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.deletePortalFacilityAmendment.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
Due: eslint --fix

feat(DTFS2-7730): fix delete endpoint
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.deletePortalFacilityAmendment.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
Due: eslint --fix

feat(DTFS2-7730): address pr comments
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/delete-amendment.controller.test.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

feat(DTFS2-779): replace effectiveDate with effectiveFrom
  gef-ui/server/controllers/amendments/effective-date/get-effective-from.ts
  gef-ui/server/routes/facilities/amendments/index.ts
  gef-ui/server/types/view-models/amendments/effective-date-view-model.ts
  gef-ui/templates/partials/amendments/effective-from.njk
  gef-ui/test-helpers/mock-amendment.ts
Due: eslint --fix

feat(DTFS2-7779): add get controller unit tests
  gef-ui/server/controllers/amendments/effective-date/get-effective-from.test.ts
Due: eslint --fix

feat(FN-3671): wip - add "record correction history" controller and base template
  portal/api-tests/utilisation-report-routes.api-test.js
  portal/server/api-response-types/get-completed-fee-record-corrections-response-body.ts
  portal/server/api-response-types/index.ts
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/record-correction/index.ts
  portal/server/controllers/utilisation-report-service/record-correction/record-correction-history/index.ts
  portal/server/routes/utilisation-report-service/record-correction/index.js
  portal/server/types/view-models/record-correction/record-correction-history.ts
  portal/templates/utilisation-report-service/record-correction/correction-history.njk
Due: eslint --fix

feat(DTFS2-7779): add component and api tests
  gef-ui/api-tests/amendments/effective-from.get.api-test.ts
  gef-ui/component-tests/partials/amendments/effective-from.component-test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-from.ts
Due: eslint --fix

feat(DTFS2-7709): add e2e tests
  e2e-tests/gef/cypress/e2e/pages/amendments/eligibility.js
  e2e-tests/gef/cypress/e2e/pages/amendments/manual-approval-needed.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/eligibility.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/manual-approval-needed.spec.js
Due: eslint --fix

feat(dtfs2-6892): add logout functionality
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-logout.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/routes/login/configs/login-sso.ts
  trade-finance-manager-ui/templates/_partials/user-logged-out.njk
Due: eslint --fix

feat(DTFS2-7709): small naming and formatting tweaks
  gef-ui/server/controllers/amendments/helpers/navigation.helper.getNextPage.test.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.ts
  gef-ui/templates/partials/amendments/manual-approval-needed.njk
Due: eslint --fix

feat(dtfs2-6892): hide profile from SSO login header
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/templates/_macros/header.njk
Due: eslint --fix

feat(FN-3675): remove unnecessary object containing
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/put-fee-record-correction.controller/helpers.test.ts
Due: eslint --fix

feat(FN-3805): add TO_DO_AMENDED events to state machine
  dtfs-central-api/src/services/state-machines/fee-record/fee-record.state-machine.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/fee-record.state-machine.ts
Due: eslint --fix

feat(FN-3805): go back to TO_DO_AMENDED when payment deleted
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/payment-deleted/payment-deleted.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/payment-deleted/payment-deleted.event-handler.ts
Due: eslint --fix

feat(FN-3805): call payment deleted event with hasCorrections param
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/delete-payment/delete-payment.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/delete-payment/delete-payment.event-handler.ts
Due: eslint --fix

feat(FN-3671): use RecordCorrectionValues instead of CorrectionValuesPartialEntity
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/helpers/map-reasons-and-values-to-formatted-values.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/helpers/map-reasons-and-values-to-formatted-values.ts
  libs/common/src/sql-db-entities/index.ts
Due: eslint --fix

feat(DTFS2-779): remove commas
  gef-ui/templates/partials/amendments/bank-review-date.njk
  gef-ui/templates/partials/amendments/facility-end-date.njk
  gef-ui/templates/partials/amendments/facility-value.njk
Due: none

fix(FN-3163): set SSO FF to false
  .github/workflows/test.yml
  trade-finance-manager-ui/templates/_macros/success-banner.njk
Due: none

feat(DTFS2-779): use h1 and h2s
  gef-ui/templates/partials/amendments/bank-review-date.njk
  gef-ui/templates/partials/amendments/cancel.njk
  gef-ui/templates/partials/amendments/cover-end-date.njk
  gef-ui/templates/partials/amendments/do-you-have-a-facility-end-date.njk
  gef-ui/templates/partials/amendments/effective-from.njk
  gef-ui/templates/partials/amendments/eligibility.njk
  gef-ui/templates/partials/amendments/facility-end-date.njk
  gef-ui/templates/partials/amendments/facility-value.njk
  gef-ui/templates/partials/amendments/what-needs-to-change.njk
Due: none

feat(FN-3163): create new dtfs customers in salesforce (#4173)
  .env.sample
  .github/workflows/test.yml
  docker-compose.yml
  external-api/api-tests/v1/party-db.ff-test.ts
  external-api/src/v1/controllers/party-db.controller.ts
  external-api/src/v1/routes/external-apis.route.ts
  gef-ui/server/services/api.js
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-feature-flag-enabled.test.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
  trade-finance-manager-api/api-tests/v1/deals/deals-party-db.api-test.js
  trade-finance-manager-api/src/constants/deals.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/mock-deal-no-party-db.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.ff-test.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.test.js
  trade-finance-manager-ui/templates/_macros/success-banner.njk
Due: eslint --fix

chore(main): release 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-3796): review markups and code improvements
  dtfs-central-api/src/helpers/map-correction-reasons-to-formatted-values.test.ts
  dtfs-central-api/src/helpers/map-correction-reasons-to-formatted-values.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-formatted-old-and-correct-values.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-formatted-old-and-correct-values.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-record-correction-details.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-record-correction-details.ts
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/record-correction-log-correct-records.spec.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/record-correction-helpers.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/record-correction-helpers.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/set-record-correction-status.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/set-record-correction-status.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
Due: eslint --fix

feat(FN-3671): address minor review comments
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/get-completed-fee-record-corrections.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/helpers/map-completed-corrections-to-response.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/helpers/map-completed-corrections-to-response.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  portal-api/src/v1/api.js
Due: eslint --fix

feat(DTFS2-7779): update label html
  gef-ui/templates/partials/amendments/facility-value.njk
Due: none

feat(DTFS2-7779): update effective-date to effective-from
  gef-ui/component-tests/partials/amendments/effective-from.component-test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-from.test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-from.ts
  gef-ui/server/types/view-models/amendments/effective-from-view-model.ts
Due: eslint --fix

fix(DTFS2-7740): updated test fixtures
  package-lock.json
  portal/component-tests/_macros/facility-stage.component-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/package.json
Due: eslint --fix, sort-package-json

feat(FN-3671): return empty array for 404, move "get completed corrections" route to bank routes
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/get-completed-fee-record-corrections.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-completed-fee-record-corrections.controller/index.ts
  dtfs-central-api/src/v1/routes/bank-routes.js
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  portal-api/api-tests/v1/utilisation-report-service/fee-record-corrections/get-completed-fee-record-corrections.api-test.js
  portal-api/src/v1/api.js
Due: eslint --fix

feat(FN-3805): persist TO_DO_AMENDED when removing fee from payment group
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/remove-from-payment-group/remove-from-payment-group.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/remove-from-payment-group/remove-from-payment-group.event-handler.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.test.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.types.ts
Due: eslint --fix
