Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(19579): update auth type
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8199): fix unit test
  portal-api/server/v1/users/login.controller.js
  portal-api/server/v1/users/routes.js
  portal-ui/server/helpers/getNextAccessCodePage.test.ts
Due: eslint --fix

feat(DTFS2-8199): formatting
  libs/common/src/constants/access-code-pages.ts
  libs/common/src/types/access-code.ts
Due: eslint --fix

feat(DTFS2-8199): fix api tests
  portal-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

feat(DTFS2-8199): comment out for 2fa
  e2e-tests/gef/cypress/e2e/application/application-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-amendments-sorted-by-reference-number.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-multiple-portal-amendments-of-same-type-on-tfm.spec.js
Due: eslint --fix

feat(DTFS2-8199): comment out failing e2e tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-portal-amendment-on-amendment-details-page.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-portal-and-tfm-amendments-on-amendment-details-page.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-multiple-portal-amendments-latest-future-effective-date.spec.js
Due: eslint --fix

feat(16188): addressed review comments
  infrastructure/development_scripts/sort_lists.js
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
  infrastructure/subscription_level/main.bicep
Due: eslint --fix

feat(DTFS2-8222): update access code expired api test
  portal-ui/api-tests/login/access-code-expired.api-test.js
  portal-ui/api-tests/login/access-code-expired.api-test.ts
Due: eslint --fix

feat(DTFS2-8222): update unit tests
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
  portal-ui/templates/login/access-code-expired.njk
Due: eslint --fix

feat(DTFS2-8222): remove api tests to be added later
  portal-ui/api-tests/login/access-code-expired.api-test.js
Due: eslint --fix

feat(DTFS2-8199): revert comment
  e2e-tests/gef/cypress/e2e/application/application-details.spec.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
  e2e-tests/portal/cypress/support/portal/login.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-amendments-sorted-by-reference-number.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-multiple-portal-amendments-of-same-type-on-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-portal-amendment-on-amendment-details-page.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-portal-and-tfm-amendments-on-amendment-details-page.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-multiple-portal-amendments-latest-future-effective-date.spec.js
  e2e-tests/ukef/cypress/support/portal/logIn.js
Due: eslint --fix

feat(DTFS2-8199): comment out 2fa on login
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8199): comment out 2fa login message
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(16188): addressed review comments
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-no-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

Revert "feat(16188): addressed review comments"
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-no-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

feat(16188): addressed review comments
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-no-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(DTFS2-8222): update controller to use numberOfSignInOtpAttemptsRemaining
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
Due: eslint --fix

feat(16188): addressed review comments
  cspell.json
  infrastructure/resource_group_level/main.bicep
Due: none

feat(16188): addressed review comments
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/parameters_dev.json
Due: none

feat(16188): addressed review comments
  cspell.json
Due: none

feat(DTFS2-8258): request new sign in otp
  portal-ui/server/controllers/login/request-new-sign-in-otp.test.ts
  portal-ui/server/controllers/login/request-new-sign-in-otp.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8199): address pr comments
  portal-ui/server/controllers/login/get-check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/get-check-your-email-access-code.ts
  portal-ui/server/helpers/getNextAccessCodePage.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-7033): added salt and hash libs/common
  portal-ui/package.json
Due: sort-package-json

feat(DTFS2-8199): address pr comments
  portal-api/server/v1/users/sign-in-link.controller.js
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8199): address pr comments
  portal-ui/server/controllers/login/check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/check-your-email-access-code.ts
  portal-ui/server/helpers/getNextAccessCodePage.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8199): fix package
  portal-ui/package.json
Due: sort-package-json

Revert "feat(DTFS2-6761): commonised password hashing (#4509)"
  libs/common/src/constants/access-code-pages.ts
  libs/common/src/constants/index.ts
  libs/common/src/types/access-code.ts
  libs/common/src/types/index.ts
  portal-api/server/v1/users/sign-in-link.controller.js
  portal-ui/package.json
  portal-ui/server/controllers/login/check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/check-your-email-access-code.ts
  portal-ui/server/helpers/getNextAccessCodePage.test.ts
  portal-ui/server/helpers/getNextAccessCodePage.ts
  portal-ui/server/helpers/index.js
  portal-ui/server/routes/login/index.js
  portal-ui/templates/login/check-your-email-access-code.njk
Due: eslint --fix, sort-package-json

feat(DTFS2-8199): remove console
  portal-ui/server/routes/login/index.js
Due: eslint --fix

chore(DTFS2-8229): remove eslint disable comments - portal-api (#4586)
  portal-api/.eslintrc.js
  portal-api/api-tests/v1/users/post-create-user.api-test.js
  portal-api/api-tests/v1/users/with-validate-email-is-unique.api-tests.js
  portal-api/api-tests/v1/users/with-validate-password.api-tests.js
  portal-api/server/cron-scheduler-jobs/send-report-due-emails-job/index.test.ts
  portal-api/server/cron-scheduler-jobs/send-report-submission-period-start-emails-job/index.test.ts
  portal-api/server/v1/helpers/escapeOperators.js
  portal-api/server/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/server/v1/users/sign-in-link.service.login-user.test.js
  portal-api/server/v1/users/transform-database-user.test.js
  portal-api/server/v1/users/user.service.test.js
  portal-api/server/v1/users/validation/rules/email-must-be-unique.test.js
  portal-api/test-helpers/unit-test-helpers/users/validation/user-validation.test-helpers.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

feat(DTFS2-8251): add get new access code page (#4605)
  portal-ui/server/routes/login/index.js
Due: eslint --fix

Revert "feat(DTFS2-6761): commonised password hashing (#4509)"
  portal-ui/server/routes/login/index.js
Due: eslint --fix

Revert "feat(DTFS2-6761): commonised password hashing (#4509)"
  portal-ui/package.json
  portal-ui/server/routes/login/index.js
Due: eslint --fix, sort-package-json

feat(DTFS2-8251): add get new access code page (#4605)
  portal-ui/server/controllers/login/new-access-code-page.test.ts
  portal-ui/server/controllers/login/new-access-code-page.ts
  portal-ui/server/routes/login/index.js
  portal-ui/templates/login/new-access-code.njk
Due: eslint --fix

feat(DTFS2-8199): add comma
  portal-ui/server/helpers/index.js
Due: eslint --fix

feat(DTFS2-8199): comment out login check for 2fa
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/portal/cypress/support/portal/login.js
  e2e-tests/ukef/cypress/support/portal/logIn.js
Due: eslint --fix

feat(DTFS2-8199): add email parameter
  portal-ui/server/controllers/login/check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/check-your-email-access-code.ts
Due: eslint --fix

feat(DTFS2-8199): fix login
  portal-ui/server/routes/login/index.js
Due: eslint --fix
