Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(DTFS2-6937): disabled prettier:all
  .github/workflows/lint.yml
Due: none

fix(DTFS2-7091): increased delay and enhanced logging
  portal-api/src/v1/controllers/deal-status.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
Due: eslint --fix

feat(DTFS2-7084): add audit logs to create facility amendment endpoint (#2989)
  dtfs-central-api/api-tests/helpers/with-validate-audit-details.api-tests.ts
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-post.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-put.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facility-put.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
Due: eslint --fix

feat(DTFS2-7085): pass in payload as separate object
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-post.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-put.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.test.js
  trade-finance-manager-api/src/v1/rest-mappings/helpers/amendment.helpers.test.js
Due: eslint --fix

feat(DTFS2-7085): use validateAuditDetails tests on put endpoint
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-put.api-test.js
Due: eslint --fix

feat(DTFS2-7085): add audit details to update facility ammendment endpoint
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
Due: eslint --fix

feat(DTFS2-7085): update tests
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-get.api-test.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.test.js
Due: eslint --fix

feat(DTFS2-7085): fix update controller typos
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-post.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-put.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
Due: eslint --fix

feat(DTFS2-7082): add audit logs to update deal snapshot endpoint
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deal.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
Due: eslint --fix

feat(DTFS2-7082): fix typo in test
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
Due: eslint --fix

feat(DTFS2-7082): use auditDetails on update deal snapshot endpoint
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deal.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
Due: eslint --fix

feat(DTFS2-7082): use withValidateAuditDetails test helper
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
Due: eslint --fix

feat(DTFS2-7087): add audit logs to create user endpoint
  dtfs-central-api/api-tests/v1/tfm/users/tfm-users.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
Due: eslint --fix

fix(DTFS2-7091): increased delay and enhanced logging (#3032)
  portal-api/src/v1/controllers/deal-status.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
Due: eslint --fix

fix(DTFS2-6937): added prettier and type-check scripts (#3030)
  .github/workflows/lint.yml
  .husky/pre-commit
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  external-api/src/database/mongo-client.ts
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal-api/src/external-api/bank-holidays.js
  portal-api/src/external-api/companies-house.js
  portal-api/src/external-api/countries.js
  portal-api/src/external-api/currencies.js
  portal-api/src/external-api/industry-sectors.js
  portal-api/src/external-api/number-generator.ts
  portal-api/src/external-api/ordnance-survey.js
  portal-api/src/external-api/send-email.js
  portal-api/src/v1/controllers/deal-status.controller.js
  portal-api/src/v1/controllers/deal-status/update-submission-count.js
  portal-api/src/v1/gef/controllers/externalApi.controller.js
  portal/package.json
  secrets/github/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-ui/package.json
  utils/mock-data-loader/package.json
Due: eslint --fix, sort-package-json

chore(FN): fix teams notifications when there are co-authors
  .github/workflows/notify.yml
Due: none

chore(FN): trigger notification off this branch
  .github/workflows/notify.yml
Due: none

chore(FN): fix reference to teams webhook in curl command
  .github/workflows/notify.yml
Due: none

chore(FN): remove redundant space
  .github/workflows/notify.yml
Due: none

feat(DTFS2-7086): add audit details to create team endpoint
  dtfs-central-api/api-tests/v1/tfm/users/tfm-teams.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  package-lock.json
  package.json
  utils/mock-data-loader/.eslintrc.js
  utils/mock-data-loader/package.json
  utils/mock-data-loader/tfm/api.js
  utils/mock-data-loader/tfm/insert-mocks-tfm.js
  utils/mock-data-loader/tsconfig.eslint.json
  utils/mock-data-loader/tsconfig.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7087): update test
  dtfs-central-api/api-tests/v1/tfm/users/tfm-users.api-test.js
Due: eslint --fix

fix(DTFS2-7105): consistent prettierignore and eslintignore files
  .eslintignore
  .prettierignore
  azure-functions/acbs-function/.eslintignore
  external-api/.eslintignore
  external-api/.prettierignore
  gef-ui/.eslintignore
  portal-api/.prettierignore
  portal/.eslintignore
  trade-finance-manager-ui/.eslintignore
  utils/reporting/tfm/.eslintignore
Due: none

chore(FN): echo out teams webhook
  .github/workflows/notify.yml
Due: none

fix(dtfs2-6119): update name, clarified logic
  gef-ui/public/js/disableFormOnSubmit.js
  gef-ui/public/js/disableFormOnSubmit.js.map
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/templates/index.njk
  gef-ui/webpack.common.config.js
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
  portal/public/js/disableFormOnSubmit.js
  portal/public/js/disableFormOnSubmit.js.map
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/templates/index.njk
  portal/webpack.common.config.js
  trade-finance-manager-ui/public/js/disableFormOnSubmit.js
  trade-finance-manager-ui/public/js/disableFormOnSubmit.js.map
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix

fix(DTFS2-7105): fixed tsc on staged file
  .prettierignore
  azure-functions/acbs-function/api-test.jest.config.js
  azure-functions/acbs-function/unit.jest.config.js
  dtfs-central-api/api-test.jest.config.js
  dtfs-central-api/unit.jest.config.js
  external-api/api-test.jest.config.js
  external-api/unit.jest.config.js
  gef-ui/api-test.jest.config.js
  gef-ui/unit.jest.config.js
  libs/common/unit.jest.config.js
  package.json
  portal-api/api-test.jest.config.js
  portal-api/unit.jest.config.js
  portal/api-test.jest.config.js
  portal/unit.jest.config.js
  trade-finance-manager-api/api-test.jest.config.js
  trade-finance-manager-api/unit.jest.config.js
  trade-finance-manager-ui/api-test.jest.config.js
  trade-finance-manager-ui/unit.jest.config.js
Due: eslint --fix, sort-package-json

chore(FN): add webhook env var to step directly
  .github/workflows/notify.yml
Due: none

fix(DTFS2-7105): consistent ignore files (#3035)
  .eslintignore
  .prettierignore
  azure-functions/acbs-function/.eslintignore
  azure-functions/acbs-function/api-test.jest.config.js
  azure-functions/acbs-function/unit.jest.config.js
  dtfs-central-api/api-test.jest.config.js
  dtfs-central-api/unit.jest.config.js
  external-api/.eslintignore
  external-api/.prettierignore
  external-api/api-test.jest.config.js
  external-api/unit.jest.config.js
  gef-ui/.eslintignore
  gef-ui/api-test.jest.config.js
  gef-ui/unit.jest.config.js
  libs/common/unit.jest.config.js
  package.json
  portal-api/.prettierignore
  portal-api/api-test.jest.config.js
  portal-api/unit.jest.config.js
  portal/.eslintignore
  portal/api-test.jest.config.js
  portal/unit.jest.config.js
  trade-finance-manager-api/api-test.jest.config.js
  trade-finance-manager-api/unit.jest.config.js
  trade-finance-manager-ui/.eslintignore
  trade-finance-manager-ui/api-test.jest.config.js
  trade-finance-manager-ui/unit.jest.config.js
  utils/reporting/tfm/.eslintignore
Due: eslint --fix, sort-package-json

feat(DTFS2-7087): fix api test typo
  dtfs-central-api/api-tests/v1/tfm/users/tfm-users.api-test.js
Due: eslint --fix

chore(FN-2624): refactor string methods, report headers and valuesof imports to common lib
  dtfs-central-api/src/constants/index.js
  dtfs-central-api/src/constants/utilisation-report-headers.ts
  dtfs-central-api/src/helpers/fee-record.helper.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  portal-api/src/types/types-helper.ts
  trade-finance-manager-api/src/config/fileshare.config.ts
  trade-finance-manager-api/src/types/fileshare.ts
  trade-finance-manager-api/src/types/types-helper.ts
  trade-finance-manager-api/src/utils/string.api-test.js
  trade-finance-manager-api/src/utils/string.js
  trade-finance-manager-api/src/utils/validation.test.ts
  trade-finance-manager-api/src/utils/validation.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/update-utilisation-report-status/index.ts
  trade-finance-manager-ui/server/helpers/string.js
  trade-finance-manager-ui/server/helpers/string.test.js
  trade-finance-manager-ui/server/helpers/validation.js
  trade-finance-manager-ui/server/helpers/validation.test.js
  trade-finance-manager-ui/server/services/utilisation-report-service.ts
Due: eslint --fix

feat(DTFS2-7085): add auditRecords to the documents correctly, and update tests to reflect this
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-post.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-put.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
Due: eslint --fix

fix(DTFS2-7091): validation before updating details deal object
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  portal-api/src/v1/controllers/deal-status.controller.js
  portal-api/src/v1/controllers/deal-status/update-submission-count.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/helpers/delay.js
Due: eslint --fix

fix(DTFS2-7091): added documentation
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
Due: eslint --fix

fix(DTFS2-7091): validation before updating details deal object (#3037)
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  portal-api/src/v1/controllers/deal-status.controller.js
  portal-api/src/v1/controllers/deal-status/update-submission-count.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/helpers/delay.js
Due: eslint --fix

feat(FN-2624): remove duplicated definitions of date helpers in common lib
  dtfs-central-api/src/types/date.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  dtfs-central-api/src/utils/date.test.ts
  dtfs-central-api/src/utils/date.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/index.ts
  dtfs-central-api/src/v1/validation/route-validators/route-validators.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/navigating-to-utilisation-reports.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/pdc-reconcile/mark-report-as-done.spec.js
  e2e-tests/tfm/cypress/support/utils/dateHelpers.js
  external-api/src/interfaces/number.interface.ts
  external-api/src/types/date.ts
  libs/common/src/utils/date.test.ts
  libs/common/src/utils/date.ts
  portal-api/src/types/date.ts
  trade-finance-manager-api/src/utils/date.test.js
  trade-finance-manager-api/src/utils/date.ts
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-ui/server/helpers/date.js
  trade-finance-manager-ui/server/helpers/date.test.js
Due: eslint --fix

chore(FN): test separate secret
  .github/workflows/notify.yml
Due: none

feat(DTFS2-7124): added Shawbrook bank
  .github/workflows/test.yml
  e2e-tests/portal/cypress/e2e/journeys/homepage/content.spec.js
  e2e-tests/portal/cypress/e2e/pages/login/index.js
  portal/templates/_partials/before-you-start.njk
Due: eslint --fix

chore(FN-2363): merge release 1.5
  trade-finance-manager-api/api-tests/v1/utilisation-reports/utilisation-report-download.api-test.ts
Due: eslint --fix

feat(DTFS2-7082): commonise validating specific userType
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  libs/common/src/helpers/change-stream/validate-audit-details.test.ts
  libs/common/src/helpers/change-stream/validate-audit-details.ts
Due: eslint --fix
