Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(DTFS2-6713): fixed api test
  external-api/api-tests/v1/eStore.api-test.ts
Due: eslint --fix

fix(DTFS2-6713): fixed deal ID type
  external-api/src/helpers/validIds.test.ts
Due: eslint --fix

feat(FN-1714): fix check keying data error text
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.ts
Due: eslint --fix

feat(FN-1714): fix check keying data error text (#3259)
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.ts
Due: eslint --fix

fix(DTFS2-6713): reverted dependencies bumps
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

fix(DTFS2-6713): reverted dependencies bumps
  package-lock.json
Due: none

fix(DTFS2-6713): added missing dependencies
  external-api/package.json
  libs/common/package.json
  package-lock.json
  package.json
Due: sort-package-json

feat(dtfs2-6966): add audit details to updateGefFacility and refactor
  dtfs-central-api/api-tests/v1/gef-deals/add-min-activities.api-test.js
  dtfs-central-api/api-tests/v1/gef-facilities/gef-facility-put.api-test.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/add-min-activities.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/update-facility.controller.js
  libs/common/src/errors/Invalid-deal-id.error.test.ts
  libs/common/src/errors/Invalid-facility-id.error.test.ts
  libs/common/src/errors/deal-not-found.error.test.ts
  libs/common/src/errors/deal-not-found.error.ts
  libs/common/src/errors/facility-not-found.error.test.ts
  libs/common/src/errors/facility-not-found.error.ts
  libs/common/src/errors/index.ts
  libs/common/src/errors/invalid-deal-id.error.ts
  libs/common/src/errors/invalid-facility-id.error.ts
  portal-api/src/v1/gef/controllers/application.controller.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/update-facilities.js
  trade-finance-manager-api/src/v1/controllers/update-issued-facilities.js
Due: eslint --fix

fix(DTFS2-7225): reverted dependencies updates
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

fix(DTFS2-7225): reverted dependencies updates
  package-lock.json
Due: none

feat(FN-NONE): fix api test users
  dtfs-central-api/api-tests/mocks/test-users/api-test-users.ts
Due: eslint --fix

feat(FN-NONE): move incorrectly defined api tests
  dtfs-central-api/api-tests/v1/gef-deals/add-min-activities.api-test.js
  dtfs-central-api/src/utils/get-object-property-value-from-string-path.test.js
  dtfs-central-api/src/utils/setEmptyIfNull.test.js
Due: eslint --fix

feat(FN-1718): update endpoint name
  dtfs-central-api/api-tests/v1/utilisation-reports/get-payment-details-by-id.api-test.ts
  dtfs-central-api/src/mapping/fee-record-mapper.test.ts
  dtfs-central-api/src/repositories/payment-repo/payment.repo.ts
  dtfs-central-api/src/types/payments.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-edit-payment.controller/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/payment-details-response-body.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api-response-types/index.ts
  trade-finance-manager-api/src/v1/api-response-types/payment-details-response-body.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-edit-payment.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-payment-details-by-id.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-payment-details-by-id.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/index.ts
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/component-tests/utilisation-reports/edit-payment.component-test.js
  trade-finance-manager-ui/server/api-response-types/get-payment-details-response-body.ts
  trade-finance-manager-ui/server/api-response-types/index.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/edit-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/edit-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.ts
  trade-finance-manager-ui/test-helpers/edit-payment-view-model.ts
  trade-finance-manager-ui/test-helpers/index.ts
  trade-finance-manager-ui/test-helpers/payment-details-response-body.ts
Due: eslint --fix

feat(FN-1718): commonise payment form validation
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/validate-payment-form-values.ts
Due: eslint --fix

feat(FN-1617): refactor grouping and mapping logic and tests
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-groups-from-fee-record-entities.ts
  dtfs-central-api/src/helpers/index.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report.repo.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.ts
Due: eslint --fix

feat(FN-1718): update some type definitions
  trade-finance-manager-ui/server/types/view-models/add-payment-view-model.ts
  trade-finance-manager-ui/server/types/view-models/edit-payment-view-model.ts
  trade-finance-manager-ui/server/types/view-models/fee-record-details-view-model.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/payment-errors-view-model.ts
Due: eslint --fix

fix(DTFS2-7225): fixed ACBS api test
  azure-functions/acbs-function/.babelrc
  azure-functions/acbs-function/api-test-common.jest.config.js
  azure-functions/acbs-function/api-test.jest.config.js
  azure-functions/acbs-function/api.api-test.js
  azure-functions/acbs-function/package.json
  azure-functions/acbs-function/tsconfig.eslint.json
  azure-functions/acbs-function/tsconfig.json
  cspell.json
  libs/common/src/index.ts
  package-lock.json
Due: eslint --fix, sort-package-json

fix(DTFS2-7225): removed NPM scripts
  dtfs-central-api/Dockerfile
  external-api/Dockerfile
  gef-ui/Dockerfile
  libs/common/src/sql-db-connection/Dockerfile
  libs/common/src/sql-db-connection/init.sh
  mongodb/Dockerfile
  package.json
  portal-api/Dockerfile
  portal/Dockerfile
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-ui/Dockerfile
Due: sort-package-json

feat(FN-1718): add common payment date input component
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/payment-date-input.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/edit-payment.component-test.js
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-date-input.njk
  trade-finance-manager-ui/templates/utilisation-reports/add-payment.njk
  trade-finance-manager-ui/templates/utilisation-reports/edit-payment.njk
Due: eslint --fix

feat(FN-1718): fix unit test
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/validate-payment-form-values.test.ts
Due: eslint --fix

fix(DTFS2-7225): removed NPM scripts
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
Due: none

feat(FN-1720): delete payment endpoint (#3247)
  dtfs-central-api/api-tests/v1/utilisation-reports/delete-payment.api-test.ts
  dtfs-central-api/src/helpers/fee-record-matching.test.ts
  dtfs-central-api/src/helpers/fee-record-matching.ts
  dtfs-central-api/src/helpers/index.ts
  dtfs-central-api/src/repositories/payment-repo/index.ts
  dtfs-central-api/src/repositories/payment-repo/payment.repo.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/index.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/payment-deleted/index.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/payment-deleted/payment-deleted.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/payment-deleted/payment-deleted.event-handler.ts
  dtfs-central-api/src/services/state-machines/fee-record/event/fee-record.event-type.ts
  dtfs-central-api/src/services/state-machines/fee-record/event/fee-record.event.ts
  dtfs-central-api/src/services/state-machines/fee-record/fee-record.state-machine.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/fee-record.state-machine.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/add-a-payment/helpers.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/delete-payment/delete-payment.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/delete-payment/delete-payment.event-handler.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/delete-payment/index.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/index.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/payment-removed-from-fee-record/index.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/payment-removed-from-fee-record/payment-removed-from-fee-record.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/payment-removed-from-fee-record/payment-removed-from-fee-record.event-handler.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event/utilisation-report.event-type.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event/utilisation-report.event.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/utilisation-report.state-machine.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/utilisation-report.state-machine.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/delete-payment.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/delete-payment.controller/index.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-delete-payment-payload.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/test-helpers/test-data/db-request-source.ts
  libs/common/src/test-helpers/mock-data/fee-record.entity.mock-builder.ts
Due: eslint --fix

fix(DTFS2-7225): removed NPM scripts
  package.json
Due: sort-package-json

fix(DTFS2-7225): spelling mistake
  mongodb/Dockerfile
Due: none

feat(FN-NONE): remove api test users
  dtfs-central-api/api-tests/mocks/test-users/api-test-users.ts
  dtfs-central-api/api-tests/mocks/test-users/portal-user.ts
  dtfs-central-api/api-tests/test-api.ts
  dtfs-central-api/api-tests/v1/gef-deals/add-min-activities.api-test.js
  dtfs-central-api/api-tests/v1/gef-facilities/gef-facility-put.api-test.js
Due: eslint --fix

feat(dtfs2-6966): fix tests
  portal-api/src/v1/gef/controllers/application.controller.js
Due: eslint --fix

feat(FN-NONE): cap api test memory limit
  dtfs-central-api/api-test.jest.config.js
Due: eslint --fix

fix(DTFS2-7225): fixed headers for E2E
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/tfm/cypress/support/portal-api/api.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/api.js
  e2e-tests/ukef/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-api/api.js
Due: eslint --fix

feat(dtfs2-6966): fix tests
  dtfs-central-api/src/v1/controllers/portal/gef-deal/add-min-activities.controller.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
Due: eslint --fix

feat(FN-1617): display and persist filter value
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: eslint --fix

feat(FN-NONE): fix flakey tfm-api test
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
Due: eslint --fix

Revert "feat(FN-NONE): fix flakey tfm-api test"
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
Due: eslint --fix

fix(DTFS2-7248): disabled countries in mock
  portal-api/src/external-api/__mocks__/countries.js
Due: eslint --fix

feat(FN-1720): add unit tests for zod schemas (#3249)
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/currency.schema.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/mongo-object-id.schema.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/mongo-object-id.schema.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/tfm-session-user.schema.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/tfm-team.schema.test.ts
Due: eslint --fix

feat(FN-1617): rename style classes
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/utilisation-reports.scss
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
