Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-16188): web app deployments
  .github/workflows/deployment_dev.yml
Due: none

feat(DTFS2-8199): update get check your email access code page
  libs/common/src/constants/access-code.ts
  libs/common/src/types/access-code.ts
  portal-ui/api-tests/login/get-check-your-email-access-code-page.api-test.js
  portal-ui/server/controllers/login/access-code.test.ts
  portal-ui/server/controllers/login/access-code.ts
  portal-ui/server/controllers/login/check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/check-your-email-access-code.ts
  portal-ui/server/helpers/login/get-next-access-code-page.test.ts
  portal-ui/server/helpers/login/get-next-access-code-page.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8195): add route and controller for temporarily suspended access page
  portal-ui/api-tests/login/account-suspended-api-test.js
  portal-ui/server/controllers/login/account-suspended-page.test.ts
  portal-ui/server/controllers/login/account-suspended-page.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

chore(main): release 2.12.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-16188): addeed workflow central api and updated resource group under function acbs
  .github/workflows/deployment_dev.yml
Due: none

chore(DTFS2-deployment-fix): webapp retries
  .github/actions/webapp/action.yml
  .github/workflows/feature.yml
Due: none

chore(DTFS2-deployment-fix): fix
  .github/actions/webapp/action.yml
Due: none

feat(DTFS-8222): implemented access code expired page and related tests
  portal-ui/api-tests/login/access-code-expired.api-test.js
  portal-ui/api-tests/login/account-suspended.api-test.js
  portal-ui/component-tests/login/access-code-expired.component-test.js
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
  portal-ui/server/routes/login/index.js
  portal-ui/templates/login/access-code-expired.njk
Due: eslint --fix

chore(DTFS2-deployment-fix): fix
  .github/workflows/feature.yml
Due: none

chore(DTFS2-deployment-fix): fix
  .github/actions/webapp/action.yml
  .github/workflows/feature.yml
Due: none

feat(DTFS2-8199): address pr comments
  portal-ui/server/controllers/login/check-your-email-access-code.ts
Due: eslint --fix

feat(DTFS-8222): update access code expired test and fix sessions var naming
  portal-ui/api-tests/login/access-code-expired.api-test.js
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
Due: eslint --fix

feat(DTFS-8222): ebable 2fa feature flag for access code expired tests
  portal-ui/api-tests/login/access-code-expired.api-test.js
Due: eslint --fix

feat(DTFS-8222): enhance tests for temporarily suspended access code page
  portal-ui/api-tests/login/account-suspended.api-test.js
Due: eslint --fix

chore(DTFS-8217): add e2e tests for temporarily suspended access page
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/account-suspended-page.spec.js
  e2e-tests/portal/cypress/e2e/pages/login/account-suspended-page.js
Due: eslint --fix

feat(DTFS-8222): remove unnessary type assertion for req in access code test
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
Due: eslint --fix

feat(DTFS2-7033): add controllers for OTP generation
  dtfs-central-api/package.json
  dtfs-central-api/server/helpers/portal-2fa/generate-otp.ts
  dtfs-central-api/server/helpers/portal-2fa/increment-sign-in-opt-sent-count.ts
  dtfs-central-api/server/helpers/portal-2fa/is-user-blocked-or-disabled.ts
  dtfs-central-api/server/helpers/portal-2fa/validate-otp.ts
  dtfs-central-api/server/repositories/users-repo/index.ts
  dtfs-central-api/server/v1/controllers/portal/login/create-and-email-sign-in-otp.ts
  dtfs-central-api/server/v1/controllers/portal/login/login.controller.ts
  dtfs-central-api/server/v1/controllers/portal/login/validate-otp.ts
  dtfs-central-api/server/v1/routes/portal-routes.js
  libs/common/src/constants/portal/index.ts
  libs/common/src/constants/portal/otp.ts
  libs/common/src/types/mongo-db-models/users.ts
  libs/common/src/types/portal/index.ts
  libs/common/src/types/portal/login.ts
  package-lock.json
  portal-api/server/v1/api.js
  portal-api/server/v1/users/sign-in-link.service.js
Due: eslint --fix, sort-package-json

feat(DTFS2-16188) tfm-api deployment
  .github/workflows/deployment_dev.yml
Due: none

feat(DTFS2-16188): added job to wait for slot then swap deployment slot
  .github/actions/webapp/action.yml
Due: none

feat(DTFS2-16188): updated action version to v2
  .github/actions/webapp/action.yml
Due: none

feat(DTFS2-16188): updated the az command to list
  .github/actions/webapp/action.yml
Due: none

feat(DTFS2-16188): updated command to show status
  .github/actions/webapp/action.yml
Due: none

feat(DTFS2-16188): updated the workflow to use central api
  .github/workflows/deployment_dev.yml
Due: none

feat(DTFS2-16188): added step to wait for application to respond for http requests
  .github/actions/webapp/action.yml
Due: none

chore(deps): dependencies updates
  .github/actions/acr/action.yml
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/notify/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-16188): added health status for container
  .github/actions/webapp/action.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
