Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix: small fixes
  external-api/src/cronJobs/eStoreDealFolderCreationJob.cron.ts
  external-api/src/cronJobs/eStoreFacilityFolderCreationJob.cron.ts
  external-api/src/cronJobs/eStoreSiteCreationJob.cron.ts
  external-api/src/cronJobs/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-6625): add role validation API tests to Portal UI contract routes
  portal/api-tests/contract-routes.api-test.js
Due: eslint --fix

refactor(DTFS2-6625): lint
  portal/api-tests/contract-routes.api-test.js
Due: eslint --fix

feat(DTFS2-6625): add option to disable happy path to role validation API tests
  portal/api-tests/common-tests/role-validation-api-tests.js
Due: eslint --fix

feat(DTFS2-6182): api changes to use rest endpoint for update facility
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

feat(DTFS2-6566): added virgin money bank to the portal
  portal/templates/_partials/before-you-start.njk
Due: none

feat(DTFS2-6625): ensure that Portal UI logi/start routes role testing doesn't call Portal API
  portal/api-tests/login-routes.api-test.js
  portal/api-tests/start-routes.api-test.js
Due: eslint --fix

feat(DTFS2-6625): ensure that Portal UI dashboard routes role testing doesn't call Portal API
  portal/api-tests/dashboard-routes.api-test.js
Due: eslint --fix

refactor(DTFS2-6625): lint
  portal/api-tests/dashboard-routes.api-test.js
Due: eslint --fix

feat(DTFS2-6182): api changes to fix path params & body and return same object
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
Due: eslint --fix

feat(DTFS2-6566): added virgin money bank to the portal (#1987)
  portal/templates/_partials/before-you-start.njk
Due: none

fix: portal-api/package.json & portal-api/package-lock.json to reduce vulnerabilities
  portal-api/package-lock.json
  portal-api/package.json
Due: sort-package-json

fix: trade-finance-manager-api/package.json & trade-finance-manager-api/package-lock.json to reduce vulnerabilities
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
Due: sort-package-json

fix: dtfs-central-api/package.json & dtfs-central-api/package-lock.json to reduce vulnerabilities
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
Due: sort-package-json

feat(DTFS2-6182): add error handling
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(DTFS2-6182): change error handling
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(FN-939):use parameter sets (#1970)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
Due: none

refactor(DTFS2-6623): rename readonly mock user
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

fix(mongo): Remove MongoDB URI with credentials (#1977)
  .github/workflows/test.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
Due: none

feat(DTFS2-6625): add role validation API tests to Portal UI about routes
  portal/api-tests/contract/about-routes.api-test.js
Due: eslint --fix

refactor(DTFS2-6625): lint
  portal/api-tests/contract/about-routes.api-test.js
Due: eslint --fix

refactor(DTFS2-6625): add TODO comments for happy paths and move contract routes tests to own folder
  portal/api-tests/contract/contract-routes.api-test.js
  portal/api-tests/dashboard-routes.api-test.js
Due: eslint --fix

feat(DTFS2-6625): add option to disallowAdminRoles in role validation API tests
  portal/api-tests/common-tests/role-validation-api-tests.js
Due: eslint --fix

feat(FN-742): set config values - use environment() to set privatelink name
  infrastructure/resource_group_level/modules/privatelink-file-core-windows-net.bicep
Due: none

feat(FN-742): set config values - add values as secure parameters
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-742): set config values - add non-secure parameters
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

feat(FN-742): set config values - move parameters to main.bicep
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

fix: fixing json format error in github action publish.yml
  .github/workflows/publish.yml
Due: none

feat(FN-742): Set Bicep config values from GitHub (#1976)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/privatelink-file-core-windows-net.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

Update external-api/src/v1/controllers/estore/eStore.controller.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

Update external-api/src/cronJobs/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/cronJobs/eStoreTermStoreAndBuyerFolder.cron.ts
Due: eslint --fix

fix(error): changed 400 to 500 status codes upon exceptional handling
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/update-deal.controller.js
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: eslint --fix, sort-package-json

fix(mongodb): updated mongodb package from 4.2.0 to 4.17.0
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  portal-api/package-lock.json
  portal-api/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
Due: sort-package-json

fix(DTFS2-6612): added await beforing return
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/update-deal.controller.js
Due: eslint --fix

feat(DTFS2-6625): change so that admin roles no longer automatically pass validation
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/api-tests/contract/about-routes.api-test.js
  portal/api-tests/contract/contract-routes.api-test.js
  portal/api-tests/dashboard-routes.api-test.js
  portal/api-tests/login-routes.api-test.js
  portal/api-tests/start-routes.api-test.js
  portal/server/constants/index.js
  portal/server/constants/non-admin-roles.js
  portal/server/constants/roles.js
  portal/server/constants/ukef-admin-roles.js
  portal/server/routes/contract/about/buyerPage.js
  portal/server/routes/contract/about/financialPage.js
  portal/server/routes/contract/about/previewPage.js
  portal/server/routes/contract/about/supplierPage.js
  portal/server/routes/middleware/validateRole/index.js
Due: eslint --fix

refactor(DTFS2-6625): lint
  portal/server/constants/roles.js
Due: eslint --fix

feat(DTFS2-6182): tfm ui & api changes for update facility risk profile endpoint
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/facility-risk-profile/index.js
Due: eslint --fix

feat(DTFS2-6625): add role validation API tests to Portal UI loan routes
  portal/api-tests/contract/loan-routes.api-test.js
  portal/server/routes/contract/canIssueOrEditIssueFacility.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

refactor(DTFS2-6625): lint
  portal/api-tests/contract/loan-routes.api-test.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
