Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(FN-1617): add some tests are refactoring
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-fields-from-redirect-session-data.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-fields-from-redirect-session-data.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/validate-facility-id-query.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/validate-facility-id-query.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.test.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: eslint --fix

feat(FN-1720): add confirm delete payment page
  dtfs-central-api/api-tests/v1/utilisation-reports/delete-payment.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-payment-details-by-id.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/payment-details-response-body.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api-response-types/payment-details-response-body.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/delete-payment.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/delete-payment.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-payment-details-by-id.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-payment-details-by-id.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/index.ts
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/component-tests/assertions.js
  trade-finance-manager-ui/component-tests/utilisation-reports/confirm-delete-payment.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/edit-payment.component-test.js
  trade-finance-manager-ui/server/api-response-types/get-payment-details-response-body.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/confirm-delete-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/confirm-delete-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/edit-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/edit-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/view-models/confirm-delete-payment-view-model.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/templates/utilisation-reports/confirm-delete-payment.njk
  trade-finance-manager-ui/templates/utilisation-reports/edit-payment.njk
  trade-finance-manager-ui/test-helpers/payment-details-response-body.ts
Due: eslint --fix

feat(FN-1720): fix tfm-api lint errors
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/delete-payment.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-payment-details-by-id.controller.ts
Due: eslint --fix

feat(FN-2054): add edit permission check for utilisation report reconciliation
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
Due: eslint --fix

feat(FN-2054): add conditional rendering for edit controls in utilisation report
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: none

feat(FN-2054): add conditional rendering for checkboxes in premium payments table
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: none

feat(FN-2054): fix indentation of button group in utilisation report
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: none

feat(FN-2054): restrict payment editing to users with edit permissions
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table-row.njk
Due: none

feat(FN-2054): restrict add payment access to PDC_RECONCILE team only
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
Due: eslint --fix

feat(FN-2054): move userCanEdit for permission checks to templates from controller
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: eslint --fix

feat(FN-2054): add userCanEdit refs to existing premium payments table tests
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
Due: eslint --fix

feat(FN-2054): enhance checkbox tests with explicit existence checks
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
Due: eslint --fix

feat(FN-2054): test checkboxes are not rendered when user cannot edit
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
Due: eslint --fix

feat(FN-2054): test payments are rendered as plain text when user cannot edit
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
Due: eslint --fix

feat(FN-2054): add user param to existing utilisation report reconciliation tests
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
Due: eslint --fix

feat(FN-2054): add test for hiding add payment button for PDC_READ user
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
Due: eslint --fix

feat(FN-2054): add test for hiding generate keying data button for PDC_READ user
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
Due: eslint --fix

feat(FN-2054): fix linting errors
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
Due: eslint --fix

feat(dtfs2-6966): review comments
  dtfs-central-api/src/v1/controllers/portal/gef-facility/update-facility.controller.js
  libs/common/package.json
  libs/common/src/errors/invalid-deal-id.error.ts
  libs/common/src/errors/invalid-facility-id.error.ts
  package-lock.json
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
Due: eslint --fix, sort-package-json

feat(dtfs2-6966): review comments
  dtfs-central-api/src/v1/controllers/portal/gef-facility/update-facility.controller.js
  libs/common/src/errors/deal-not-found.error.test.ts
  libs/common/src/errors/deal-not-found.error.ts
  libs/common/src/errors/facility-not-found.error.test.ts
  libs/common/src/errors/facility-not-found.error.ts
  libs/common/src/errors/invalid-deal-id.error.test.ts
  libs/common/src/errors/invalid-facility-id.error.test.ts
Due: eslint --fix

feat(FN-NONE): add nunjucks types package
  package-lock.json
  trade-finance-manager-ui/component-tests/componentRenderer.ts
  trade-finance-manager-ui/component-tests/pageRenderer.ts
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
Due: eslint --fix, sort-package-json

feat(FN-NONE): fix misplaced component test
  trade-finance-manager-ui/templates/case/amendments/_macros/tasks-table-amendments.component-test.js
Due: eslint --fix

feat(FN-1720): add confirm delete payment page (#3262)
  dtfs-central-api/api-tests/v1/utilisation-reports/delete-payment.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-payment-details-by-id.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-payment-details-by-id.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/payment-details-response-body.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api-response-types/payment-details-response-body.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/delete-payment.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/delete-payment.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-payment-details-by-id.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-payment-details-by-id.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/index.ts
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/component-tests/assertions.js
  trade-finance-manager-ui/component-tests/utilisation-reports/confirm-delete-payment.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/edit-payment.component-test.js
  trade-finance-manager-ui/server/api-response-types/get-payment-details-response-body.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/confirm-delete-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/confirm-delete-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/edit-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/edit-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/edit-payment-helper.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/view-models/confirm-delete-payment-view-model.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/templates/utilisation-reports/confirm-delete-payment.njk
  trade-finance-manager-ui/templates/utilisation-reports/edit-payment.njk
  trade-finance-manager-ui/test-helpers/payment-details-response-body.ts
Due: eslint --fix

feat(dtfs2-6966): fix tests
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
Due: eslint --fix

feat(FN-NONE): fix newly added component test import
  trade-finance-manager-ui/component-tests/utilisation-reports/confirm-delete-payment.component-test.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
