Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

Feat(FN-955): Check payment officer can login (#2071)
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/previous-reports/list-previous-reports.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/fixtures/constants.js
  e2e-tests/portal/cypress/fixtures/users.js
  portal/component-tests/admin/user-edit.component-test.js
  portal/server/routes/utilisation-report-service/previous-reports/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/admin/user-edit.njk
  utils/mock-data-loader/portal/roles.js
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

refactor(DTFS2-6694): use object destructuring in facilityValidation
  gef-ui/server/controllers/unissued-facilities/index.js
  gef-ui/server/controllers/unissued-facilities/validation.js
  gef-ui/server/controllers/unissued-facilities/validation.test.js
Due: eslint --fix

feat(FN-966): refactor, add exchange rate validation and add more unit tests
  portal/server/constants/index.js
  portal/server/constants/utilisation-report-headers.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
  portal/server/utils/csv-utils.js
  portal/templates/utilisation-reporting-service/utilisation-report-upload/check-the-report.njk
  portal/templates/utilisation-reporting-service/utilisation-report-upload/utilisation-report-check-errors.njk
Due: eslint --fix

refactor(DTFS2-6694): destructure session from req in companies-house controller
  gef-ui/server/controllers/companies-house/index.js
Due: eslint --fix

refactor(DTFS2-6679): lint
  portal/server/routes/admin/users.js
Due: eslint --fix

refactor(DTFS2-6679): commonise code for GET/POST /users/edit/:id
  portal/server/routes/admin/users.js
Due: eslint --fix

fix(DTFS2-6679): display errors on the edit user page
  portal/server/routes/admin/users.js
Due: eslint --fix

feat(FN-958): use payment officer role
  e2e-tests/portal/cypress/e2e/journeys/service-options/service-options.spec.js
  e2e-tests/portal/cypress/fixtures/users.js
  portal/server/constants/roles.js
  portal/server/controllers/service-options/index.js
  portal/server/helpers/getUserRoles.js
  portal/server/routes/utilisation-report-service/previous-reports/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/service-options/service-options.njk
Due: eslint --fix

feat(FN-966): finish unit tests and fix some validations
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators.test.js
Due: eslint --fix

feat(FN-958): new index template to remove banner
  e2e-tests/portal/cypress/e2e/journeys/service-options/service-options.spec.js
  portal/templates/service-options/index.njk
  portal/templates/service-options/service-options.njk
Due: eslint --fix

feat(FN-958): new test for read only
  e2e-tests/portal/cypress/e2e/journeys/service-options/service-options.spec.js
Due: eslint --fix

feat(FN-958): formatting
  e2e-tests/portal/cypress/e2e/journeys/service-options/service-options.spec.js
Due: eslint --fix

feat(fn-966): fix row and column logic for error messages
  cspell.json
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(FN-1086): sync environment vars - external-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(FN-1086): sync encironment vars - gef-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
Due: none

feat(country): added Serbia and Montenegro
  external-api/src/external-api/countries.ts
  portal-api/src/external-api/__mocks__/countries.js
Due: eslint --fix

feat(FN-1086): sync encironment vars - portal-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
Due: none

feat(FN-1086): sync encironment vars - portal-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(FN-1086): sync encironment vars - tfm-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
Due: none

feat(FN-1086): sync encironment vars - tfm-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

update GHA to deploy from test branch
  .github/workflows/bicep_workflow.yml
Due: none

fix(country): updated country code
  external-api/src/external-api/countries.ts
  portal-api/src/external-api/__mocks__/countries.js
Due: eslint --fix

feat(FN-966): add e2e tests and csv-utils tests and refactor csv-utils
  e2e-tests/portal/cypress/e2e/journeys/payment_officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report.csv
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report.xlsx
  portal/jest.config.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
  portal/server/utils/csv-utils.js
  portal/server/utils/csv-utils.test.js
  portal/templates/utilisation-reporting-service/utilisation-report-upload/check-the-report.njk
Due: eslint --fix

feat(FN-1086): sync encironment vars - portal-api connection strings
  infrastructure/resource_group_level/main.bicep
Due: none

feat(spell-check): added spell check to the pipeline
  .github/workflows/sca.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

feat(FN-1086): sync environment vars - central-api
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
Due: none

feat(FN-1086): sync environment vars - gef-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
Due: none

feat(FN-1086): sync environment vars - portal-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
Due: none

feat(FN-1086): sync environment vars - portal-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(FN-1086): sync environment vars - tfm-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
Due: none

feat(FN-1086): sync environment vars - tfm-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

fix(lint-stagged): added glob to lint stagged
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package.json
  utils/mock-data-loader/package.json
Due: sort-package-json

fix(lint-stagged): added glob to lint stagged
  package.json
Due: sort-package-json

fix(lint-stagged): added glob to lint stagged
  azure-functions/acbs-function/package.json
  package.json
Due: sort-package-json

fix(lint-stagged): added glob to lint stagged
  azure-functions/acbs-function/package.json
Due: sort-package-json

feat(FN-1086): Sync env vars with main (#2074)
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(FN-72): build pipeline - allow trigger from push to branch
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - remove unused routeTableId parameter
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-72): build pipeline - add simple action
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none
