Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-2588): refactor & updating api tests
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller/index.ts
  dtfs-central-api/src/v1/routes/bank-routes.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/find-reports-by-year-helper.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-reports-by-bank-and-year-view-model.ts
Due: eslint --fix

feat(DTFS2-7159): fix to ts-node declaration merging
  dtfs-central-api/tsconfig.json
Due: none

fix(DTFS2-7159): fix ts-node type checking in all services
  dtfs-central-api/tsconfig.json
  e2e-tests/tsconfig.json
  external-api/tsconfig.json
  gef-ui/tsconfig.json
  libs/common/tsconfig.json
  portal-api/tsconfig.json
  portal/tsconfig.json
  trade-finance-manager-api/tsconfig.json
Due: none

feat(FN-2900): update local SQL to use ledger tables (#3159) (#3167)
  doc/sql-db.md
  libs/common/package.json
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
  libs/common/src/sql-db-connection/reset-database.sh
  package-lock.json
Due: eslint --fix, sort-package-json

fix(FN-NONE): update npm start scripts
  package.json
Due: sort-package-json

chore: merge 'release-2.2' into 'main' (#3169)
  doc/sql-db.md
  libs/common/package.json
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
  libs/common/src/sql-db-connection/reset-database.sh
  package-lock.json
Due: eslint --fix, sort-package-json

fix(DTFS2-7159): add new lines and fix indentation
  e2e-tests/tsconfig.json
  portal-api/tsconfig.json
  trade-finance-manager-api/tsconfig.json
  trade-finance-manager-ui/tsconfig.json
  tsconfig.json
Due: none

fix(DTFS2-7159): make exclude options consistent
  libs/common/tsconfig.json
  tsconfig.json
Due: none

feat(FN-1739): add payments table
  libs/common/src/sql-db-connection/migrations/1716990167763-AddPaymentTable.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/index.ts
  libs/common/src/sql-db-entities/payment/index.ts
  libs/common/src/sql-db-entities/payment/payment.entity.ts
  libs/common/src/sql-db-entities/payment/payment.types.ts
  libs/common/src/test-helpers/mock-data/fee-record.entity.mock-builder.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/test-helpers/mock-data/payment.entity.mock-builder.ts
Due: eslint --fix

feat(FN-1739): add ledger to the new table
  libs/common/src/sql-db-connection/migrations/1716990167763-AddPaymentTable.ts
Due: eslint --fix

feat(DTFS2-6892): cleanup after merging main
  docker-compose.yml
  trade-finance-manager-api/api-tests/api-test-users.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
  trade-finance-manager-api/src/v1/helpers/get-tfm-roles-from-entra-groups.test.ts
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/middleware/index.js
  trade-finance-manager-ui/server/middleware/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
Due: eslint --fix

feat(DTFS2-7159): code review & revert docker compose change
  docker-compose.gha.yml
  libs/common/src/change-stream/test-helpers/with-delete-one.api-tests.ts
Due: eslint --fix

feat(FN-2588): fix api tests
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
Due: eslint --fix

feat(FN-1739): fix ordering of auditable base entity columns
  libs/common/src/sql-db-connection/migrations/1716990167763-AddPaymentTable.ts
Due: eslint --fix

fix(DTFS2-7159): fix ts-node type checking in all services (#3168)
  dtfs-central-api/tsconfig.json
  e2e-tests/tsconfig.json
  external-api/tsconfig.json
  gef-ui/tsconfig.json
  libs/common/tsconfig.json
  portal-api/tsconfig.json
  portal/tsconfig.json
  trade-finance-manager-api/tsconfig.json
  trade-finance-manager-ui/tsconfig.json
  tsconfig.json
Due: none

feat(FN-2588): unskip tests
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
Due: eslint --fix

fix(FN-NONE): small changes
  package.json
Due: sort-package-json

feat(FN-1488): handle form submission with empty params
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.ts
Due: eslint --fix

fix(FN-NONE): update npm start scripts (#3170)
  package.json
Due: sort-package-json

feat(FN-2588): remove commented out code & fix test
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller/index.ts
Due: eslint --fix

feat(FN-1739): add payment table (#3171)
  libs/common/src/sql-db-connection/migrations/1716990167763-AddPaymentTable.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/index.ts
  libs/common/src/sql-db-entities/payment/index.ts
  libs/common/src/sql-db-entities/payment/payment.entity.ts
  libs/common/src/sql-db-entities/payment/payment.types.ts
  libs/common/src/test-helpers/mock-data/fee-record.entity.mock-builder.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/test-helpers/mock-data/payment.entity.mock-builder.ts
Due: eslint --fix

fix(DTFS2-7158): remove separate errors export from libs/common
  dtfs-central-api/src/errors/api.error.ts
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  gef-ui/server/middleware/rateLimit/index.js
  gef-ui/server/middleware/rateLimit/index.test.js
  gef-ui/tsconfig.json
  libs/common/package.json
  libs/common/src/index.ts
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal/server/generateApp.ts
  portal/server/routes/middleware/rateLimit/index.js
  portal/server/routes/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/controllers/feedback-controller.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix, sort-package-json

feat(FN-1848): check fee records match payment method
  libs/common/src/constants/index.ts
  libs/common/src/constants/payment-matching-currency-to-tolerance-map.ts
  libs/common/src/sql-db-entities/payment/payment.entity.ts
Due: eslint --fix

feat(FN-1848): add custom errors and unit tests
  libs/common/src/constants/error-code.ts
  libs/common/src/constants/index.ts
  libs/common/src/errors/api.error.ts
  libs/common/src/errors/index.ts
  libs/common/src/errors/payment-and-fee-record-currency-does-not-match.error.test.ts
  libs/common/src/errors/payment-and-fee-record-currency-does-not-match.error.ts
  libs/common/src/errors/payment-has-no-fee-records.error.test.ts
  libs/common/src/errors/payment-has-no-fee-records.error.ts
  libs/common/src/sql-db-entities/payment/payment.entity.test.ts
  libs/common/src/sql-db-entities/payment/payment.entity.ts
  libs/common/src/types/error-code.ts
  libs/common/src/types/index.ts
Due: eslint --fix

feat(FN-1488): refactor
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.test.ts
Due: eslint --fix

feat(DTFS2-7159): implement deletion logs in dtfs-central-api (#3130)
  dtfs-central-api/api-test-setup.jest.config.js
  dtfs-central-api/api-tests/v1/deals/delete-deal.api-test.js
  dtfs-central-api/api-tests/v1/facilities/facility-delete.api-test.js
  dtfs-central-api/api-tests/v1/tfm/users/tfm-teams.api-test.js
  dtfs-central-api/api-tests/v1/tfm/users/tfm-users.api-test.js
  dtfs-central-api/src/types/express.d.ts
  dtfs-central-api/src/v1/controllers/portal/facility/delete-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/delete-facility.controller.ts
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  dtfs-central-api/tsconfig.json
  e2e-tests/e2e-fixtures/portal-users.fixture.js
  e2e-tests/portal/cypress/support/central-api/api.js
  e2e-tests/portal/cypress/support/central-api/deleteFacility.js
  e2e-tests/tfm/cypress/support/central-api/api.js
  e2e-tests/tfm/cypress/support/central-api/deleteFacility.js
  e2e-tests/tfm/cypress/support/central-api/deleteTfmDeal.js
  libs/common/src/change-stream/delete-document-with-audit-logs.test.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
  libs/common/src/change-stream/delete-one.ts
  libs/common/src/change-stream/test-helpers/with-delete-one.api-tests.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/bonds.controller.js
  portal-api/src/v1/controllers/facilities.controller.js
  portal-api/src/v1/controllers/loans.controller.js
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  utils/mock-data-loader/centralApi.js
  utils/mock-data-loader/constants/mockDataLoaderAuditDetails.ts
  utils/mock-data-loader/tfm/api.js
Due: eslint --fix

fix(DTFS2-7158): remove separate errors export from libs/common (#3176)
  dtfs-central-api/src/errors/api.error.ts
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  gef-ui/server/middleware/rateLimit/index.js
  gef-ui/server/middleware/rateLimit/index.test.js
  gef-ui/tsconfig.json
  libs/common/package.json
  libs/common/src/index.ts
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal/server/generateApp.ts
  portal/server/routes/middleware/rateLimit/index.js
  portal/server/routes/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/controllers/feedback-controller.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix, sort-package-json

fix(FN-NONE): enable dockerignore by adding it to root
  .dockerignore
  dtfs-central-api/.dockerignore
  external-api/.dockerignore
  gef-ui/.dockerignore
  portal-api/.dockerignore
  portal/.dockerignore
  trade-finance-manager-api/.dockerignore
  trade-finance-manager-ui/.dockerignore
Due: none

fix(FN-NONE): run api tests outside container
  .github/workflows/test.yml
Due: none

fix(FN-NONE): fix gha dockerignore
  .gha.dockerignore
  .github/workflows/test.yml
  generate-dockerignore.gha.sh
Due: none

feat(DTFS2-7165): add delete many helper & tests. Implement for durable functions
  dtfs-central-api/api-tests/v1/durable-functions/durable-functions.api-test.js
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.ts
  dtfs-central-api/src/repositories/durable-functions-repo.test.ts
  dtfs-central-api/src/repositories/durable-functions-repo.ts
  dtfs-central-api/src/v1/controllers/durable-functions/durable-functions.controller.js
  dtfs-central-api/src/v1/controllers/durable-functions/durable-functions.controller.ts
  libs/common/src/change-stream/delete-many-with-audit-logs.ts
  libs/common/src/change-stream/index.ts
  libs/common/src/change-stream/test-helpers/index.ts
  libs/common/src/change-stream/test-helpers/with-delete-many-audit-logs.api-tests.ts
  utils/mock-data-loader/gef/api.js
Due: eslint --fix

feat(DTFS2-7165): add deletion logs to delete cron jobs endpoint
  dtfs-central-api/api-tests/v1/cron-jobs/cron-jobs.api-test.js
  dtfs-central-api/src/v1/controllers/cron-jobs/cron-jobs.controller.js
  dtfs-central-api/src/v1/controllers/cron-jobs/cron-jobs.controller.ts
  utils/mock-data-loader/gef/api.js
Due: eslint --fix

feat(DTFS2-7165): handle feature flag in delete many helper
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/src/repositories/durable-functions-repo.test.ts
  dtfs-central-api/src/repositories/durable-functions-repo.ts
  libs/common/src/change-stream/delete-many.ts
  libs/common/src/change-stream/index.ts
Due: eslint --fix

feat(DTFS2-7165): update helper and tests
  dtfs-central-api/api-tests/v1/durable-functions/durable-functions.api-test.js
  dtfs-central-api/src/v1/controllers/durable-functions/durable-functions.controller.ts
  libs/common/src/change-stream/delete-many.ts
  libs/common/src/change-stream/test-helpers/with-delete-many-audit-logs.api-tests.ts
Due: eslint --fix

feat(DTFS2-7165): add audit logs to delete tfm-deal endpoint
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-delete.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-delete-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-delete-deal.controller.ts
  libs/common/src/change-stream/delete-many.ts
  libs/common/src/change-stream/test-helpers/with-delete-many-audit-logs.api-tests.ts
Due: eslint --fix

feat(DTFS2-7165): update mdl api call & reset mocks after api tests
  dtfs-central-api/api-tests/v1/cron-jobs/cron-jobs.api-test.js
  dtfs-central-api/api-tests/v1/durable-functions/durable-functions.api-test.js
  utils/mock-data-loader/tfm/api.js
Due: eslint --fix

feat(DTFS2-7165): update change stream config
  libs/common/src/change-stream/config.ts
  libs/common/src/change-stream/test-helpers/with-delete-many-audit-logs.api-tests.ts
Due: eslint --fix

feat(DTFS2-7165): wrap in try/catch and export MongoDbClient class in portal-api
  portal-api/src/drivers/db-client.ts
  portal-api/src/v1/gef/controllers/application.controller.js
Due: eslint --fix

feat(DTFS2-7165): use jest.spyOn to simplify mocking in delete many test helper
  dtfs-central-api/api-tests/v1/cron-jobs/cron-jobs.api-test.js
  dtfs-central-api/api-tests/v1/durable-functions/durable-functions.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-delete.api-test.js
  libs/common/src/change-stream/test-helpers/index.ts
  libs/common/src/change-stream/test-helpers/with-delete-many.api-tests.ts
Due: eslint --fix
