Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(dtfs2-6892): add error if no Entra ID provided for role, fix types
  trade-finance-manager-api/src/v1/helpers/get-tfm-roles-from-entra-groups.js
Due: eslint --fix

fix(deployment): fixed release deployment
  .github/workflows/deployment.yml
  libs/common/package.json
  package-lock.json
Due: sort-package-json

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-7288): deployment pipeline (#3537)
  .github/workflows/deployment.yml
  libs/common/package.json
  package-lock.json
Due: sort-package-json

chore(FN-3225): code fixes
  dtfs-central-api/src/services/utilisation-report-data-validator/index.test.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/index.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/cells/index.test.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/cells/index.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/headers/index.test.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/headers/index.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/rows/index.test.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/rows/index.ts
Due: eslint --fix

fix(DTFS2-7375): merge conflicts
  package-lock.json
Due: none

chore(tests): remove unintended template change
  portal/templates/dashboard/_macros/dashboard-deals-table.njk
Due: none

chore(DTFS2-7378): fix/update e2e tests
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/utils/keyboardInput copy.js
Due: eslint --fix

chore(DTFS2-7381): dry cypress commands - keyboardInput - ukef suite
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-with-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-without-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-refused-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-default-credit-rating-in-tfm/submit-AIN-deal-creates-default-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tasks-in-tfm/submit-AIN-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tfm-deal-stage-and-product/submit-AIN-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-updates-portal-deal-status/submit-AIN-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tasks-in-tfm/submit-MIA-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tfm-deal-stage-and-product/submit-MIA-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-updates-portal-deal-status/submit-MIA-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-changes-tfm-stage-to-confirmed/submit-MIN-changes-tfm-stage-to-confirmed.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-deal-does-not-create-credit-rating-in-tfm/submit-MIN-deal-does-not-create-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-deal-updates-portal-deal-status/submit-MIN-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-adds-risk-profile-to-facilities/submit-deal-adds-risk-profile-to-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-converts-contract-value-to-gbp/submit-deal-converts-contract-value-to-gbp.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-creates-loss-given-and-probability-defaults-in-tfm/submit-deal-creates-loss-given-and-probability-defaults-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-issued-facilities/submit-deal-with-issued-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-non-gbp-facilities/submit-deal-with-non-gbp-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/portal/enterUsernameAndPassword.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-ui/login.js
  e2e-tests/ukef/cypress/support/utils/keyboardInput.js
Due: eslint --fix

fix(DTFS2-7375): added missing env variable to sql deployment job
  .github/workflows/deployment.yml
Due: none

chore(tests): split up e2e tests - tfm amendments (#3509)
  .github/workflows/test.yml
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-proceed.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-underwriter-declined.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision/add-bank-decision-withdraw.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-lead-underwriter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-underwriter-decision.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-changes-multiple-single-amendments/amendment-changes-multiple-single-amendments.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-should-change-all-facilities-values/amendment-should-change-all-facilities-values.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-underwriting-page-multiple-amendments/amendment-underwriting-page-multiple-amendments.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendments-version-order/amendments-version-order.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/bss-deal-expect-no-facility-end-date-features/bss-deal-expect-no-facility-end-date-features.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/in-progress/amendment-in-progress-deal-stage.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/request-when-previously-submitted/request-amendment-when-previously-submitted.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/show-amendment-button/show-amendment-button.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/tasks/amendment-tasks-automatic.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/tasks/amendment-tasks-manual.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/underwriting-page-unassigned/underwriting-page-unassigned.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/1. add-amendment-request.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/2. amendment-request-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/3. amendment-effective-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/4. amendment-options.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/5. facility-value.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/6. cover-end-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/7. amendment-details-automatic-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/8. amendment-details-manual-approval.spec.js
Due: eslint --fix

fix(DTFS2-7375): dependencies updates
  gef-ui/package.json
  package-lock.json
  package.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(dtfs2-6892): remove unneeded constants and refactor
  libs/common/src/constants/tfm/team-ids.ts
Due: eslint --fix

feat(dtfs2-6892): update create user to reduce code complexity and use guard clauses
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(dtfs2-6892): add deprecated tag to deprecated verification functions
  libs/common/src/helpers/payload-verification/is-verified-payload-by-type.ts
  libs/common/src/types/payload-verification.ts
Due: eslint --fix

chore(tests): remove unecessary .clear()
  e2e-tests/gef/cypress/e2e/facility/pre-submission/about-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-to-issued-3-months-after-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-specialIssuedPermission-MIN.spec.js
Due: eslint --fix

chore(emails): fix typo
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails-bss.api-test.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails.js
Due: eslint --fix

chore(tests): split up tfm case e2e tests
  .github/workflows/test.yml
  e2e-tests/tfm/cypress/e2e/journeys/case/AIN/deal-AIN.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/GEF/deal-GEF.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/MIA/deal-MIA.spec.js
Due: eslint --fix

feat(dtfs2-6892): add typedef to MockTfmUser
  trade-finance-manager-api/src/v1/__mocks__/mock-users.js
Due: eslint --fix

feat(dtfs2-6892): add hex string type, update TFM user handling for JWTs & mapping Entra to TFM user
  libs/common/src/types/hex-string.ts
  libs/common/src/types/index.ts
  trade-finance-manager-api/src/types/auth/get-user-response.ts
  trade-finance-manager-api/src/types/db-models/tfm-users.ts
  trade-finance-manager-api/src/utils/crypto.util.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/issue-jwt-and-update-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/map-entra-user-data.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/handleFindByEmailsResult.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

fix(DTFS2-6655): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/checker/return-a-deal-to-maker/return-deal-to-maker.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-happy-path.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-unhappy-path.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-buyer-page-create-element.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-financial-page-create-element.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-supply-contract-create-element.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond.spec.js
Due: eslint --fix

chore(DTFS2-7381): dry cypress commands - keyboardInput - ukef suite (#3538)
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-with-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-without-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-refused-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-default-credit-rating-in-tfm/submit-AIN-deal-creates-default-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tasks-in-tfm/submit-AIN-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tfm-deal-stage-and-product/submit-AIN-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-updates-portal-deal-status/submit-AIN-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tasks-in-tfm/submit-MIA-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tfm-deal-stage-and-product/submit-MIA-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-updates-portal-deal-status/submit-MIA-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-changes-tfm-stage-to-confirmed/submit-MIN-changes-tfm-stage-to-confirmed.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-deal-does-not-create-credit-rating-in-tfm/submit-MIN-deal-does-not-create-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-deal-updates-portal-deal-status/submit-MIN-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-adds-risk-profile-to-facilities/submit-deal-adds-risk-profile-to-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-converts-contract-value-to-gbp/submit-deal-converts-contract-value-to-gbp.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-creates-loss-given-and-probability-defaults-in-tfm/submit-deal-creates-loss-given-and-probability-defaults-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-issued-facilities/submit-deal-with-issued-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-non-gbp-facilities/submit-deal-with-non-gbp-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/portal/enterUsernameAndPassword.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-ui/login.js
  e2e-tests/ukef/cypress/support/utils/keyboardInput.js
Due: eslint --fix

chore(DTFS2-7392): refactor mock facilities into functions
  e2e-tests/gef/cypress/e2e/clone/clone-gef-deal.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-bank-review-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-all-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-issued-to-unissued-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-facility-end-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facility-change-from-preview-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facility-to-issued-cover-start-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-all-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-to-issued-3-months-after-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-specialIssuedPermission-MIN.spec.js
  e2e-tests/gef/cypress/fixtures/mocks/mock-facilities.js
Due: eslint --fix

chore(FN-3225): code fixes
  dtfs-central-api/src/services/utilisation-report-data-validator/index.test.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/index.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/rows/index.test.ts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/validate-csv-data/rows/index.ts
Due: eslint --fix

feat(dtfs2-6892): update use of destroy session to avoid misuse
  trade-finance-manager-ui/server/helpers/destroy-session-and-redirect-to-start.js
  trade-finance-manager-ui/server/helpers/destroy-session-and-redirect-to-start.test.js
  trade-finance-manager-ui/server/middleware/validateToken/index.destroySessionAndRedirectToStart.test.js
  trade-finance-manager-ui/server/middleware/validateToken/index.js
  trade-finance-manager-ui/server/middleware/validateToken/index.test.js
  trade-finance-manager-ui/server/middleware/validateToken/index.validateToken.test.js
Due: eslint --fix

feat(dtfs2-6892): revert previous destroy session changes for portal-ui
  portal/server/utils/destroy-session-and-redirect-to-start.js
Due: eslint --fix

feat(dtfs2-6892): add todo regarding whether azureOid is optional
  libs/common/src/types/mongo-db-models/tfm-users.ts
Due: eslint --fix

feat(FN-2311): remove unused csrf token params
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: none

feat(FN-2311): move script tags into specific templates where possible
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/templates/utilisation-reports/find-utilisation-reports-by-year.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: none

feat(FN-2311): tidy filter hiding script for readability
  trade-finance-manager-ui/public/js/mojFilterHide.js
  trade-finance-manager-ui/public/js/mojFilterHide.js.map
  trade-finance-manager-ui/scripts/moj-filter-hide.ts
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: eslint --fix

feat(dtfs2-6616): automatically amend facility guarantee in acbs (#3326)
  azure-functions/acbs-function/api.api-test.js
  azure-functions/acbs-function/api.js
  azure-functions/acbs-function/mappings/facility/facility-guarantee-amend.js
  azure-functions/acbs-function/mappings/facility/facility-guarantee-amend.test.js
  azure-functions/acbs-function/mappings/facility/index.js
  azure-functions/acbs-function/src/functions/acbs-amend-facility-guarantee-record.js
  azure-functions/acbs-function/src/functions/acbs-amend-facility.js
  azure-functions/acbs-function/src/functions/activity-update-facility-guarantee.js
Due: eslint --fix

feat(FN-2311): remove redundant doc file - present in README
  doc/adding-and-updating-scripts.md
Due: none

chore(DTFS2-7393): create multiple mock facilities helper
  e2e-tests/gef/cypress/e2e/clone/clone-gef-deal.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-bank-review-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-all-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-issued-to-unissued-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-facility-end-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facility-change-from-preview-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facility-to-issued-cover-start-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-all-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-to-issued-3-months-after-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-specialIssuedPermission-MIN.spec.js
  e2e-tests/gef/cypress/fixtures/mocks/mock-facilities.js
Due: eslint --fix

feat(DTFS2-7294): add deal cancellation update backend (#3469)
  docker-compose.yml
  dtfs-central-api/api-tests/v1/tfm/deal-cancellation/tfm-deal-cancellation-put.api-test.js
  dtfs-central-api/src/repositories/tfm-deals-repo/index.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deal-cancellation.repo.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deals-cancellation-repo.test.ts
  dtfs-central-api/src/v1/controllers/tfm/deal-cancellation/tfm-put-update-deal-cancellation.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/create-validation-middleware-for-schema.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/index.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-put-deal-cancellation-payload.ts
  dtfs-central-api/src/v1/routes/tfm-routes.js
  libs/common/package.json
  libs/common/src/constants/tfm/deal-stage.ts
  libs/common/src/constants/tfm/index.ts
  libs/common/src/index.ts
  libs/common/src/middleware/feature-flags/deal-cancellation.test.ts
  libs/common/src/middleware/feature-flags/deal-cancellation.ts
  libs/common/src/middleware/feature-flags/index.ts
  libs/common/src/middleware/index.ts
  libs/common/src/types/index.ts
  libs/common/src/types/mongo-db-models/db-model.ts
  libs/common/src/types/mongo-db-models/deals.ts
  libs/common/src/types/mongo-db-models/index.ts
  libs/common/src/types/mongo-db-models/tfm-deals.ts
  libs/common/src/types/tfm-deal-cancellation.ts
  package-lock.json
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/api-tests/v1/deal-cancellation/deal-cancellation.api-test.ts
  trade-finance-manager-api/src/types/express.d.ts
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.ts
  trade-finance-manager-api/src/v1/deals/routes.js
  trade-finance-manager-ui/server/api-ssrf.test.js
  trade-finance-manager-ui/server/api.js
Due: eslint --fix, sort-package-json

feat(DTFS2-7370): add RBAC middleware to tfm-api
  trade-finance-manager-api/src/constants/teams.js
  trade-finance-manager-api/src/types/db-models/tfm-users.ts
  trade-finance-manager-api/src/types/team-id.ts
  trade-finance-manager-api/src/types/team.ts
  trade-finance-manager-api/src/types/tfm-session-user.ts
  trade-finance-manager-api/src/v1/middleware/validate-user-is-in-at-least-one-allowed-team.test.ts
  trade-finance-manager-api/src/v1/middleware/validate-user-is-in-at-least-one-allowed-team.ts
Due: eslint --fix

feat(DTFS2-7370): add api test helper
  trade-finance-manager-api/.eslintrc.js
  trade-finance-manager-api/api-tests/common-tests/with-team-authorisation.api-tests.ts
  trade-finance-manager-api/src/v1/middleware/validate-user-is-in-at-least-one-allowed-team.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
