Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(dtfs2-7075): update sanitise user in dtfs central
  dtfs-central-api/src/v1/controllers/user/get-user.controller.js
Due: eslint --fix

feat(dtfs2-7075): update sanitise user
  dtfs-central-api/src/types/portal/portal-session-user.ts
  portal/server/test-mocks/mock-portal-session-user.ts
  portal/server/types/portal-session-user.ts
Due: eslint --fix

fix(deployment): added release-2.0 to deployment
  .github/workflows/deployment.yml
Due: none

fix(deployment-script): changed release-1.5 to release-2.9
  .github/workflows/deployment.yml
Due: none

fix(deployment): updated release-1.5 to release-2.0
  .github/workflows/deployment.yml
  .github/workflows/test.yml
Due: none

fix(deployment): updated release-1.5 to release-2.0
  .github/workflows/deployment.yml
Due: none

fix(deployment): release-1.5 to release-2.0
  .github/workflows/deployment.yml
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

fix(DTFS2-7105): dependencies updates
  libs/common/package.json
  package-lock.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(deployment): updated test variables
  .github/workflows/test.yml
Due: none

fix(readme): formatted
  .github/workflows/README.md
  azure-functions/README.md
  azure-functions/acbs-function/README.md
  dtfs-central-api/README.md
  e2e-tests/README.md
  external-api/README.md
  gef-ui/README.md
  reverse-proxy/README.md
  trade-finance-manager-api/README.md
  trade-finance-manager-ui/README.md
  utils/README.md
  utils/data-migration/README.md
Due: none

fix(DTFS2-7105): formatted README.md files
  .github/workflows/README.md
  azure-functions/README.md
  azure-functions/acbs-function/README.md
  dtfs-central-api/README.md
  e2e-tests/README.md
  external-api/README.md
  gef-ui/README.md
  reverse-proxy/README.md
  trade-finance-manager-api/README.md
  trade-finance-manager-ui/README.md
  utils/README.md
  utils/data-migration/README.md
Due: none

fix(DTFS2-7105): fixed E2E load data
  e2e-tests/gef/cypress/support/commands/loadData.js
  e2e-tests/package.json
  package.json
Due: eslint --fix, sort-package-json

feat(FN-1615): fix migration adding status to work with ledger tables (#3109)
  libs/common/src/sql-db-connection/migrations/1715613302494-AddFeeRecordStatusColumn.ts
Due: eslint --fix

feat(FN-1488): undo case back link changes
  trade-finance-manager-ui/templates/case/_macros/back-link.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary-ndb.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary.njk
Due: none

fix(DTFS2-7105): fixed return
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-delete-deal.controller.js
Due: eslint --fix

Revert "chore(main): release 2.0.0"
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(dtfs2-7075): update test data
  e2e-tests/portal/cypress/e2e/journeys/checker/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date/deal.js
  e2e-tests/portal/cypress/e2e/journeys/checker/issued-specs-new/MIA-deal-with-unissued-facilities.js
  e2e-tests/portal/cypress/e2e/journeys/checker/issued-specs-new/submit-MIN-deal-with-issued-facility/MIN-deal-accepted-status-with-unissued-facilities.js
  portal-api/api-tests/v1/deals/deals-status-submitted.api-test.js
  portal-api/api-tests/v1/deals/deals-status.api-test.js
Due: eslint --fix

feat(dtfs2-7075): wip commit
  libs/common/src/constants/payload-verification.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/payload-verification/index.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-type.test.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-type.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-zod.test.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-zod.ts
  libs/common/src/helpers/payload-verification/with-is-verified-payload.tests.ts
  libs/common/src/helpers/payload.test.ts
  libs/common/src/helpers/payload.ts
  libs/common/src/types/payload-verification.ts
Due: eslint --fix

fix(DTFS2-7105): added env
  .github/workflows/test.yml
Due: none

feat(dtfs2-7075): update validation
  dtfs-central-api/src/v1/controllers/bank/create-bank.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  libs/common/src/constants/index.ts
  portal-api/src/v1/controllers/banks.controller.js
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/controllers/mandatoryCriteria.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(FN-1865): add db:seed:reset command to reset sql seeder (#3103)
  doc/sql-db.md
  package.json
  utils/package.json
  utils/sql-db-seeder/src/helpers/get-from-mongo-db.ts
  utils/sql-db-seeder/src/mongo-db-client/index.ts
  utils/sql-db-seeder/src/reset-seeder.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
Due: eslint --fix, sort-package-json

chore(github): fixed cypress env variables
  .github/workflows/test.yml
Due: none

feat(dtfs2-7075): update validation
  libs/common/src/helpers/payload-verification/is-verified-payload-by-type.test.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-type.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-zod.test.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-zod.ts
  libs/common/src/helpers/payload-verification/with-is-verified-payload.tests.ts
  libs/common/src/types/payload-verification.ts
Due: eslint --fix

fix(DTFS2-7105): fixed env variable
  .github/workflows/test.yml
Due: none

fix(github-actions): updated deprecated gha package
  .github/workflows/publish.yml
Due: none

fix(github-actions): updated deprecated gha package
  release-please-config.json
Due: none

fix(release-please): fix release please
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/sca.yml
  package-lock.json
  package.json
  release-please-config.json
Due: sort-package-json

fix(release-please): fix release please
  .github/workflows/publish.yml
  package.json
Due: sort-package-json

fix(github-actions): updated deprecated gha package
  gef-ui/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(github-actions): updated deprecated gha package
  package-lock.json
Due: none

Revert "Revert "chore(main): release 2.0.0""
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(release-please): change to base branch
  .github/workflows/publish.yml
Due: none

fix(release-please): fixed version
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-1692): add missing fee record statuses
  libs/common/src/constants/fee-record-status.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-status.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-status.njk
  trade-finance-manager-ui/test-helpers/fee-record-item.ts
  trade-finance-manager-ui/test-helpers/index.ts
Due: eslint --fix

feat(FN-2420): rename function and fix code style
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/services/utilisation-report/email-service.test.ts
Due: eslint --fix

feat(FN-1692): fix linting
  trade-finance-manager-ui/.eslintrc.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-status.component-test.js
Due: eslint --fix
