Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(dtfs2-6627): add tests
  cspell.json
  gef-ui/api-tests/about-facility.api-test.js
  gef-ui/api-tests/application-abandon.api-test.js
  gef-ui/api-tests/application-activities.api-test.js
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/api-tests/application-submission.api-test.js
  gef-ui/api-tests/automatic-cover.api-test.js
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/confirm-cover-start-date.api-test.js
  gef-ui/api-tests/cover-start-date.api-test.js
  gef-ui/api-tests/downloadFile.api-test.js
  gef-ui/api-tests/eligible-automatic-cover.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/facilities.api-test.js
  gef-ui/api-tests/facility-confirm-deletion.api-test.js
  gef-ui/api-tests/facility-currency.api-test.js
  gef-ui/api-tests/facility-guarantee.api-test.js
  gef-ui/api-tests/facility-value.api-test.js
  gef-ui/api-tests/mandatory-criteria.api-test.js
  gef-ui/api-tests/name-application.api-test.js
  gef-ui/api-tests/provided-facility.api-test.js
  gef-ui/api-tests/return-to-maker.api-test.js
  gef-ui/api-tests/review-decision.api-test.js
  gef-ui/api-tests/security-details.api-test.js
  gef-ui/api-tests/select-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/submit-to-ukef.api-test.js
  gef-ui/api-tests/supporting-information-upload.api-test.js
  gef-ui/api-tests/supporting-information.api-test.js
  gef-ui/api-tests/test-helpers/role-selection.js
  gef-ui/api-tests/test-helpers/storage/storage.js
  gef-ui/api-tests/test-helpers/user-generator.js
  gef-ui/api-tests/test-helpers/user-session-generator.js
  gef-ui/api-tests/unissued-facilities.api-test.js
Due: eslint --fix

feat(dtfs2-6627): add tests
  gef-ui/api-tests/about-exporter.api-test.js
  gef-ui/api-tests/about-facility.api-test.js
  gef-ui/api-tests/application-abandon.api-test.js
  gef-ui/api-tests/application-activities.api-test.js
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/api-tests/application-submission.api-test.js
  gef-ui/api-tests/automatic-cover.api-test.js
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/confirm-cover-start-date.api-test.js
  gef-ui/api-tests/cover-start-date.api-test.js
  gef-ui/api-tests/downloadFile.api-test.js
  gef-ui/api-tests/eligible-automatic-cover.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/facilities.api-test.js
  gef-ui/api-tests/facility-confirm-deletion.api-test.js
  gef-ui/api-tests/facility-currency.api-test.js
  gef-ui/api-tests/facility-guarantee.api-test.js
  gef-ui/api-tests/facility-value.api-test.js
  gef-ui/api-tests/mandatory-criteria.api-test.js
  gef-ui/api-tests/name-application.api-test.js
  gef-ui/api-tests/provided-facility.api-test.js
  gef-ui/api-tests/return-to-maker.api-test.js
  gef-ui/api-tests/review-decision.api-test.js
  gef-ui/api-tests/security-details.api-test.js
  gef-ui/api-tests/select-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/submit-to-ukef.api-test.js
  gef-ui/api-tests/supporting-information-upload.api-test.js
  gef-ui/api-tests/supporting-information.api-test.js
  gef-ui/api-tests/test-helpers/role-selection.js
  gef-ui/api-tests/test-helpers/storage/storage.js
  gef-ui/api-tests/test-helpers/user-generator.js
  gef-ui/api-tests/test-helpers/user-session-generator.js
  gef-ui/api-tests/unissued-facilities.api-test.js
Due: eslint --fix

feat(dtfs2-6627): add tests
  gef-ui/api-tests/about-exporter.api-test.js
  gef-ui/api-tests/about-facility.api-test.js
  gef-ui/api-tests/application-abandon.api-test.js
  gef-ui/api-tests/application-activities.api-test.js
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/api-tests/application-submission.api-test.js
  gef-ui/api-tests/automatic-cover.api-test.js
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/confirm-cover-start-date.api-test.js
  gef-ui/api-tests/cover-start-date.api-test.js
  gef-ui/api-tests/downloadFile.api-test.js
  gef-ui/api-tests/eligible-automatic-cover.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/facilities.api-test.js
  gef-ui/api-tests/facility-confirm-deletion.api-test.js
  gef-ui/api-tests/facility-currency.api-test.js
  gef-ui/api-tests/facility-guarantee.api-test.js
  gef-ui/api-tests/facility-value.api-test.js
  gef-ui/api-tests/mandatory-criteria.api-test.js
  gef-ui/api-tests/name-application.api-test.js
  gef-ui/api-tests/provided-facility.api-test.js
  gef-ui/api-tests/return-to-maker.api-test.js
  gef-ui/api-tests/review-decision.api-test.js
  gef-ui/api-tests/security-details.api-test.js
  gef-ui/api-tests/select-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/submit-to-ukef.api-test.js
  gef-ui/api-tests/supporting-information-upload.api-test.js
  gef-ui/api-tests/supporting-information.api-test.js
  gef-ui/api-tests/unissued-facilities.api-test.js
  gef-ui/server/middleware/validateRole/index.js
  gef-ui/server/routes/application-activities.js
  gef-ui/server/routes/unissued-facilities.js
  portal/server/routes/middleware/validateRole/index.js
Due: eslint --fix

feat(dtfs2-6627): add tests
  gef-ui/api-tests/about-exporter.api-test.js
  gef-ui/api-tests/about-facility.api-test.js
  gef-ui/api-tests/application-abandon.api-test.js
  gef-ui/api-tests/application-activities.api-test.js
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/api-tests/application-submission.api-test.js
  gef-ui/api-tests/automatic-cover.api-test.js
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/confirm-cover-start-date.api-test.js
  gef-ui/api-tests/cover-start-date.api-test.js
  gef-ui/api-tests/downloadFile.api-test.js
  gef-ui/api-tests/eligible-automatic-cover.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/facilities.api-test.js
  gef-ui/api-tests/facility-confirm-deletion.api-test.js
  gef-ui/api-tests/facility-currency.api-test.js
  gef-ui/api-tests/facility-guarantee.api-test.js
  gef-ui/api-tests/facility-value.api-test.js
  gef-ui/api-tests/mandatory-criteria.api-test.js
  gef-ui/api-tests/name-application.api-test.js
  gef-ui/api-tests/provided-facility.api-test.js
  gef-ui/api-tests/return-to-maker.api-test.js
  gef-ui/api-tests/review-decision.api-test.js
  gef-ui/api-tests/security-details.api-test.js
  gef-ui/api-tests/select-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/submit-to-ukef.api-test.js
  gef-ui/api-tests/supporting-information-upload.api-test.js
  gef-ui/api-tests/supporting-information.api-test.js
  gef-ui/api-tests/unissued-facilities.api-test.js
  gef-ui/server/routes/application-activities.js
  gef-ui/server/routes/unissued-facilities.js
Due: eslint --fix

feat(dtfs2-6627): update tests
  gef-ui/api-tests/about-exporter.api-test.js
  gef-ui/api-tests/about-facility.api-test.js
  gef-ui/api-tests/application-abandon.api-test.js
  gef-ui/api-tests/application-activities.api-test.js
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/api-tests/application-submission.api-test.js
  gef-ui/api-tests/automatic-cover.api-test.js
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/confirm-cover-start-date.api-test.js
  gef-ui/api-tests/cover-start-date.api-test.js
  gef-ui/api-tests/downloadFile.api-test.js
  gef-ui/api-tests/eligible-automatic-cover.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/facilities.api-test.js
  gef-ui/api-tests/facility-confirm-deletion.api-test.js
  gef-ui/api-tests/facility-currency.api-test.js
  gef-ui/api-tests/facility-guarantee.api-test.js
  gef-ui/api-tests/facility-value.api-test.js
  gef-ui/api-tests/name-application.api-test.js
  gef-ui/api-tests/provided-facility.api-test.js
  gef-ui/api-tests/return-to-maker.api-test.js
  gef-ui/api-tests/review-decision.api-test.js
  gef-ui/api-tests/security-details.api-test.js
  gef-ui/api-tests/select-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/submit-to-ukef.api-test.js
  gef-ui/api-tests/supporting-information-upload.api-test.js
  gef-ui/api-tests/supporting-information.api-test.js
  gef-ui/api-tests/unissued-facilities.api-test.js
Due: eslint --fix

feat(dtfs2-6627): update tests
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
Due: eslint --fix

feat(FN-966): refactor for extra utils files
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(FN-965): review mark ups and consistent folder naming
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  portal/server/constants/file-upload.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/_partials/header.njk
  portal/templates/utilisation-report-service/_partials/primary-navigation.njk
  portal/templates/utilisation-report-service/index.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

feat(dtfs2-6627): update tests
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
  gef-ui/api-tests/test-helpers/storage/storage.js
Due: eslint --fix

feat(dtfs2-6627): update tests
  gef-ui/api-tests/test-helpers/storage/storage.js
Due: eslint --fix

feat(FN-72): build pipeline - don't use undefined secrets
  .github/workflows/bicep_az_deployment_group.yml
Due: none

feat(FN-72): build pipeline - customise command
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-980): address markup comments
  e2e-tests/portal/cypress/e2e/journeys/payment_officer/previous-reports/list-previous-reports.spec.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/previousReports.js
  portal/component-tests/utilisation-report-service/previous-reports.component-test.js
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
  portal/templates/utilisation-report-service/partials/previous-reports.njk
Due: eslint --fix

feat(FN-980): format e2e tests
  e2e-tests/portal/cypress/e2e/journeys/payment_officer/previous-reports/list-previous-reports.spec.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/previousReports.js
Due: eslint --fix

feat(DTFS2-6182): update error messages
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(dtfs2-6627): update tests
  gef-ui/api-tests/about-exporter.api-test.js
  gef-ui/api-tests/about-facility.api-test.js
  gef-ui/api-tests/application-abandon.api-test.js
  gef-ui/api-tests/application-activities.api-test.js
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/api-tests/application-submission.api-test.js
  gef-ui/api-tests/automatic-cover.api-test.js
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/confirm-cover-start-date.api-test.js
  gef-ui/api-tests/cover-start-date.api-test.js
  gef-ui/api-tests/downloadFile.api-test.js
  gef-ui/api-tests/eligible-automatic-cover.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/facilities.api-test.js
  gef-ui/api-tests/facility-confirm-deletion.api-test.js
  gef-ui/api-tests/facility-currency.api-test.js
  gef-ui/api-tests/facility-guarantee.api-test.js
  gef-ui/api-tests/facility-value.api-test.js
  gef-ui/api-tests/mandatory-criteria.api-test.js
  gef-ui/api-tests/name-application.api-test.js
  gef-ui/api-tests/provided-facility.api-test.js
  gef-ui/api-tests/return-to-maker.api-test.js
  gef-ui/api-tests/review-decision.api-test.js
  gef-ui/api-tests/security-details.api-test.js
  gef-ui/api-tests/select-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/submit-to-ukef.api-test.js
  gef-ui/api-tests/supporting-information-upload.api-test.js
  gef-ui/api-tests/supporting-information.api-test.js
  gef-ui/api-tests/unissued-facilities.api-test.js
  gef-ui/package.json
  gef-ui/server/middleware/validateRole/index.js
  gef-ui/server/routes/unissued-facilities.js
  portal/server/routes/middleware/validateRole/index.js
Due: eslint --fix, sort-package-json

feat(FN-966): return file buffer along with csv data and start writing validation functions
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(dtfs2-6627): update read me
  gef-ui/README.md
  portal/README.md
  trade-finance-manager-ui/README.md
Due: none

feat(dtfs2-6627): update todo
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
Due: eslint --fix

feat(DTFS2-6182): fix some tfm UI tests
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/loss-given-default/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/probability-of-default/index.test.js
Due: eslint --fix

feat(FN-72): build pipeline - derive docker credentials
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

feat(dtfs2-6627): update tests
  gef-ui/server/routes/__tests__/application-activities.test.js
  gef-ui/server/routes/__tests__/application-details.test.js
  gef-ui/server/routes/__tests__/supporting-information.test.js
  gef-ui/server/routes/__tests__/unissued-facilities.test.js
  gef-ui/server/routes/application-activities.js
  gef-ui/server/routes/application-details.js
  gef-ui/server/routes/unissued-facilities.js
Due: eslint --fix

feat(dtfs2-6627): update tests
  gef-ui/server/routes/__tests__/application-activities.test.js
  gef-ui/server/routes/application-activities.js
  gef-ui/server/routes/application-details.js
  gef-ui/server/routes/unissued-facilities.js
Due: eslint --fix

feat(dtfs2-6627): update tests
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/server/routes/application-details.js
Due: eslint --fix

feat(DTFS2-6623): allow read only role assignment in portal UI (#1968)
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/fixtures/constants.js
  e2e-tests/portal/cypress/fixtures/users.js
  portal/component-tests/admin/user-edit.component-test.js
  portal/component-tests/assertions.js
  portal/templates/admin/user-edit.njk
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

fix(DTFS2-6508): correct branch name in GH actions
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

chore(DTFS2-6508): run PR linting and testing on 6508 branch
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-6626): add read only role to portal api (#1971)
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  portal-api/src/role-validator.js
  portal-api/src/v1/controllers/deal-status/user-can-submit-deal.js
  portal-api/src/v1/facility-issuance/index.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/gef/routes.js
  portal-api/src/v1/roles/roles.js
  portal-api/src/v1/roles/user-has-sufficient-role.js
  portal-api/src/v1/roles/user-has-sufficient-role.test.js
  portal-api/src/v1/roles/validate-user-has-sufficient-role.js
  portal-api/src/v1/roles/validate-user-has-sufficient-role.test.js
  portal-api/src/v1/routes.js
Due: eslint --fix

feat(DTFS2-6647): forbid read only users from having another role (#2051)
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  portal-api/api-tests/v1/users/users.api-test.js
  portal-api/src/v1/roles/roles.js
  portal-api/src/v1/users/validation/index.js
  portal-api/src/v1/users/validation/rules/current-password-must-match.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-8-characters.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-lowercase.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-number.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-special-character.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-uppercase.test.js
  portal-api/src/v1/users/validation/rules/passwords-cannot-be-reused.test.js
  portal-api/src/v1/users/validation/rules/passwords-must-match.test.js
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.js
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.test.js
  portal-api/test-helpers/common-role-lists.js
  portal/component-tests/admin/user-edit.component-test.js
  portal/server/routes/admin/users.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix

feat(DTFS-6628): add read-only role limitation to some gef-ui components
  cspell.json
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
  gef-ui/component-tests/includes/footer.component-test.js
  gef-ui/component-tests/includes/primary-navigation.component-test.js
  gef-ui/component-tests/partials/application-activity.component-test.js
  gef-ui/templates/includes/application-details/applicationReferenceAndActions.njk
  gef-ui/templates/includes/footer.njk
  gef-ui/templates/includes/primary-navigation.njk
  gef-ui/test-helpers/common-role-lists.js
Due: eslint --fix

refactor(DTFS2-6628): delete unused gef-ui accessibility statement template
  gef-ui/templates/partials/accessibility-statement.njk
Due: none

fix(DTFS2-6628): fix linting
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
  gef-ui/component-tests/includes/footer.component-test.js
  gef-ui/component-tests/includes/primary-navigation.component-test.js
  gef-ui/package.json
  gef-ui/test-helpers/common-role-lists.js
  portal/package.json
Due: eslint --fix, sort-package-json
