Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(DTFS2-6626): remove resolved TODOs
  portal-api/api-tests/v1/feedback/feedback.api-test.js
  portal-api/src/v1/routes.js
Due: eslint --fix

feat(DTFS2-6626): bonds GET tests
  portal-api/api-tests/v1/bonds/bonds.api-test.js
Due: eslint --fix

chore(DTFS2-6626): remove resolved TODOs
  portal-api/api-tests/v1/banks/banks.api-test.js
  portal-api/src/v1/routes.js
Due: eslint --fix

chore: remove todo
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/gef/facilities.api-test.js
  portal-api/src/v1/routes.js
Due: eslint --fix

feat(DTFS2-6626): loan GET api tests
  portal-api/api-tests/v1/loan/loan.api-test.js
Due: eslint --fix

feat(DTFS2-6626): deal eligibility documentation api tests
  portal-api/api-tests/v1/deals/deal-eligibility-documentation.api-test.js
Due: eslint --fix

feat(DTFS2-6626): use auth tests in gef files api tests
  portal-api/api-tests/api.js
  portal-api/api-tests/common-tests/role-authorisation-tests.js
  portal-api/api-tests/v1/gef/files.api-test.js
Due: eslint --fix

refactor(DTFS2-6626): rename role validator
  portal-api/src/v1/gef/routes.js
  portal-api/src/v1/roles/user-has-at-least-one-allowed-role.js
  portal-api/src/v1/roles/user-has-at-least-one-allowed-role.test.js
  portal-api/src/v1/roles/user-has-sufficient-role.js
  portal-api/src/v1/roles/validate-user-has-at-least-one-allowed-role.js
  portal-api/src/v1/roles/validate-user-has-at-least-one-allowed-role.test.js
  portal-api/src/v1/roles/validate-user-has-sufficient-role.js
  portal-api/src/v1/routes.js
Due: eslint --fix

feat(DTFS2-6626): restrict admin role access in portal-api
  portal-api/api-tests/common-tests/role-authorisation-tests.js
  portal-api/api-tests/v1/deals/deals-status.api-test.js
  portal-api/api-tests/v1/feedback/feedback.api-test.js
  portal-api/api-tests/v1/gef/address.api-test.js
  portal-api/api-tests/v1/gef/company.api-test.js
  portal-api/api-tests/v1/gef/files.api-test.js
  portal-api/api-tests/v1/reports/review-ukef-decision.api-test.js
  portal-api/api-tests/v1/reports/unissued-facilities.api-test.js
  portal-api/src/v1/gef/routes.js
  portal-api/src/v1/roles/user-has-at-least-one-allowed-role.js
  portal-api/src/v1/roles/user-has-at-least-one-allowed-role.test.js
  portal-api/src/v1/roles/validate-user-has-at-least-one-allowed-role.test.js
  portal-api/src/v1/routes.js
Due: eslint --fix

chore(DTFS2-6626): find all cspell failures on commit lint
  portal-api/package.json
Due: sort-package-json

refactor(DTFS2-6626): change import order in bonds validation api test
  portal-api/api-tests/v1/bonds/bonds-validation.api-test.js
Due: eslint --fix

refactor(DTFS2-6626): use test constants for company reg number and postcode
  portal-api/api-tests/fixtures/postcode.js
  portal-api/api-tests/v1/gef/address.api-test.js
  portal-api/api-tests/v1/gef/company.api-test.js
Due: eslint --fix

refactor(DTFS2-6626): use english spelling of alphabetised in portal-api
  portal-api/api-tests/v1/countries/countries.api-test.js
  portal-api/api-tests/v1/currencies/currencies.api-test.js
Due: eslint --fix

feat(dtfs2-6624): fix test
  e2e-tests/portal/cypress/e2e/journeys/read-only/deal/cannot-modify-an-unissued-deal.spec.js
Due: eslint --fix

feat(FN-721): Commonise Webapps - fix uniqueness
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

feat(docs): updated DTFS documentation
  .github/workflows/README.md
  README.md
  azure-functions/README.md
  azure-functions/acbs-function/README.md
  cspell.json
  dtfs-central-api/README.md
  dtfs-central-api/api-tests/README.md
  e2e-tests/README.md
  external-api/README.md
  gef-ui/README.md
  portal-api/.eslintrc.js
  portal-api/README.md
  portal/README.md
  reverse-proxy/README.md
  service-unavailable/README.md
  trade-finance-manager-api/README.md
  trade-finance-manager-api/api-tests/README.md
  trade-finance-manager-ui/README.md
  utils/README.md
  utils/data-migration/.eslintrc.js
  utils/data-migration/README.md
Due: eslint --fix

chore(deps): depdendencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: sort-package-json

feat(FN-712):commonise webapps fix naming (#2048)
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

fix(DTFS2-6626): return early in getBonds if user does not have access to the deal
  portal-api/src/v1/controllers/bonds.controller.js
Due: eslint --fix

feat(FN-72): build pipeline - add simple action
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - allow trigger from push to branch
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - pass in vars and secrets
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-72): build pipeline - set environment
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - use self-hosted runner
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - remove unused routeTableId parameter
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-72): build pipeline - create test ASP
  .github/workflows/bicep_deploy.yml
Due: none

feat(FN-72): build pipeline - remove temporary check
  .github/workflows/bicep_deploy.yml
Due: none

feat(FN-72): build pipeline - set peeringVnetName override from parametersMap
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-72): build pipeline - remove note to check application gateway in vnet
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-72): build pipeline - move acr name to parameterMap
  infrastructure/resource_group_level/main.bicep
Due: none

feat(DTFS2-6626): prevent external api calls in address and company api tests
  portal-api/api-tests/v1/gef/address.api-test.js
  portal-api/api-tests/v1/gef/company.api-test.js
  portal-api/src/external-api/__mocks__/api.js
  portal-api/src/external-api/__mocks__/companies-house.js
  portal-api/src/external-api/__mocks__/ordnance-survey.js
  portal-api/src/external-api/api.js
  portal-api/src/external-api/companies-house.js
  portal-api/src/external-api/ordnance-survey.js
  portal-api/src/v1/gef/controllers/externalApi.controller.js
Due: eslint --fix

feat(FN-965): clean up code and fix primary nav. move multer code to multer file
  portal/server/constants/file-upload.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/multer-filter.utils.js
  portal/server/utils/multer-filter.utils.test.js
  portal/templates/utilisation-reporting-service/_partials/header.njk
  portal/templates/utilisation-reporting-service/_partials/primary-navigation.njk
  portal/templates/utilisation-reporting-service/index.njk
  portal/templates/utilisation-reporting-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

chore(deps): lint fixes and dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/tfm/export-tfm-users.js
  utils/data-migration/tfm/migrate-tfm-users.js
Due: eslint --fix, sort-package-json

feat(FN-72): build pipeline - update secret names
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-980): ui skeleton & mock data
  portal/server/controllers/utilisation-report-service/index.js
  portal/server/controllers/utilisation-report-service/previous-reports/data.json
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
  portal/server/routes/index.js
  portal/server/routes/utilisation-report-service/index.js
  portal/server/routes/utilisation-report-service/previous-reports/index.js
  portal/templates/utilisation-reporting-service/partials/previous-reports.njk
Due: eslint --fix

fix(DTFS2-6626): fix external api api tests
  portal-api/api-tests/v1/gef/external-api.api-test.js
  portal-api/src/v1/gef/controllers/externalApi.controller.js
Due: eslint --fix

feat(FN-980): mock data and use in the frontend
  portal/server/controllers/utilisation-report-service/index.js
  portal/server/controllers/utilisation-report-service/previous-reports/data.json
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
  portal/server/controllers/utilisation-report-service/previous-reports/no-data.json
  portal/server/routes/utilisation-report-service/index.js
  portal/server/routes/utilisation-report-service/previous-reports/index.js
  portal/templates/utilisation-reporting-service/partials/previous-reports.njk
Due: eslint --fix

fix(docs): documentation updated
  .github/workflows/README.md
  README.md
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/README.md
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
