Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(DTFS2-4533): update package lock after rebase
  portal/package-lock.json
Due: none

chore(DTFS2-6993): code review changes
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/server/constants/date.ts
  portal/server/constants/index.js
  portal/server/helpers/date.ts
  portal/server/helpers/index.js
  portal/server/nunjucks-configuration/filter-localiseTimestamp.test.ts
  portal/server/nunjucks-configuration/filter-localiseTimestamp.ts
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

chore(DTFS2-4533): store timestamp as string
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

chore(DTFS2-4533): check against start of day
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

chore(DTFS2-4533): add docs for getNow method
  portal/server/helpers/date.ts
Due: eslint --fix

fix(DTFS2-7014): added coverDateConfirmed flag to bond and loan
  portal/server/helpers/dealFormsCompleted.js
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
  portal/templates/contract/components/contract-actions.njk
  portal/templates/contract/components/contract-actions/proceed-to-review-button.njk
Due: eslint --fix

chore(e2e-tests): fix lint errors (#2687)
  e2e-tests/README.md
  e2e-tests/portal/cypress/e2e/pages/contract/contract-confirmSubmission.js
  e2e-tests/support/alias-selector.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-search.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-buyer.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-exporter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-product.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-receivedDate-default-sort.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-stage.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-ukefDealId.spec.js
  e2e-tests/tfm/cypress/fixtures/constants.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/submitDeal.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/submitManyDeals.js
Due: eslint --fix

feat(FN-1859): add type-safe entity create function (#2754)
  libs/common/src/sql-db-connection/data-source.ts
  libs/common/src/sql-db-entities/azure-file-info/azure-file-info.entity.ts
  libs/common/src/sql-db-entities/azure-file-info/index.ts
  libs/common/src/sql-db-entities/base-entities/auditable.base-entity.ts
  libs/common/src/sql-db-entities/base-entities/index.ts
  libs/common/src/sql-db-entities/helpers/index.ts
  libs/common/src/sql-db-entities/helpers/user-id.helper.ts
  libs/common/src/sql-db-entities/partial-entities/index.ts
  libs/common/src/sql-db-entities/partial-entities/month-and-year.partial-entity.ts
  libs/common/src/sql-db-entities/partial-entities/report-period.partial-entity.ts
  libs/common/src/sql-db-entities/partial-entities/report-period.ts
  libs/common/src/sql-db-entities/utilisation-data/index.ts
  libs/common/src/sql-db-entities/utilisation-data/utilisation-data.entity.ts
  libs/common/src/sql-db-entities/utilisation-report/index.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.types.ts
Due: eslint --fix

chore(DTFS2-6993): fix mock data in localiseTimestamp unit test
  portal/server/nunjucks-configuration/filter-localiseTimestamp.test.ts
Due: eslint --fix

chore(DTFS2-6993): fix typo
  portal/server/nunjucks-configuration/filter-localiseTimestamp.test.ts
Due: eslint --fix

fix(DTFS2-6935): fix existing tests
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-search.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-buyer.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-exporter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-product.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-receivedDate-default-sort.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-stage.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-ukefDealId.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/login/login.spec.js
  trade-finance-manager-ui/server/controllers/deals/index.test.js
  trade-finance-manager-ui/server/routes/deals/index.test.js
Due: eslint --fix

refactor(DTFS2-6935): lint
  trade-finance-manager-ui/server/controllers/deals/index.test.js
Due: eslint --fix

feat(DTFS2-6935): temporarily add feature branch to test.yml
  .github/workflows/test.yml
Due: none

chore(DTFS2-6993): replace moment.js in portal (#2656)
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/package-lock.json
  portal/package.json
  portal/server/constants/date.ts
  portal/server/constants/index.js
  portal/server/helpers/date.ts
  portal/server/helpers/formattedTimestamp.js
  portal/server/helpers/index.js
  portal/server/nunjucks-configuration/filter-localiseTimestamp.js
  portal/server/nunjucks-configuration/filter-localiseTimestamp.test.ts
  portal/server/nunjucks-configuration/filter-localiseTimestamp.ts
  portal/server/nunjucks-configuration/index.js
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
  portal/templates/admin/dashboard.njk
  portal/templates/bond/_macros/bond-stage-issued-form-fields.njk
  portal/templates/bond/_macros/bond-submission-details.njk
  portal/templates/bond/bond-issue-facility.njk
  portal/templates/contract/components/bond-transactions-table.njk
  portal/templates/contract/components/contract-overview-table.njk
  portal/templates/contract/components/loan-transactions-table.njk
  portal/templates/contract/contract-view-comments.njk
  portal/templates/contract/contract-view.njk
  portal/templates/dashboard/_macros/dashboard-deals-table.njk
  portal/templates/dashboard/_macros/dashboard-facilities-table.njk
  portal/templates/loan/_macros/facility-stage-unconditional-form-fields.njk
  portal/templates/loan/_macros/loan-submission-details.njk
  portal/templates/loan/loan-issue-facility.njk
  portal/templates/user/profile.njk
Due: eslint --fix, sort-package-json

fix(DTFS2-7014): added coverDateConfirmed to issued facilities
  portal-api/src/v1/controllers/countries.controller.js
  portal-api/src/v1/controllers/deal-eligibility-criteria.controller.js
  portal-api/src/v1/controllers/deal-submission-details.controller.js
  portal-api/src/v1/validation/fields/country.js
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

fix(DTFS2-7014): added unit test cases
  portal-api/package.json
  portal-api/src/external-api/countries.js
  portal-api/src/v1/validation/fields/country.js
  portal-api/src/v1/validation/fields/country.test.js
Due: eslint --fix, sort-package-json

fix(portal): renamed unit test script to unit-test
  portal/package.json
Due: sort-package-json

fix(DTFS2-7014): fixed unit test cases
  portal/server/helpers/dealFormsCompleted.test.js
Due: eslint --fix

fix(DTFS2-6935): remove Cypress command chaining
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-search.spec.js
Due: eslint --fix

fix(DTFS2-6935): remove Cypress command chaining
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-buyer.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-exporter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-product.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-receivedDate-default-sort.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-stage.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-ukefDealId.spec.js
Due: eslint --fix

chore(DTFS2-6993): remove moment.js from tests
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
  portal/component-tests/contract/components/bond-transactions-table.component-test.js
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/component-tests/contract/components/loan-transactions-table.component-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/server/constants/date-formats.js
  portal/server/constants/index.js
Due: eslint --fix

chore(DTFS2-6993): remove moment from portal e2e test
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
Due: eslint --fix

chore(DTFS2-6993): fix typo
  portal/component-tests/fixtures/deal-fully-completed.js
Due: eslint --fix

chore(DTFS2-6993): fix typo
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
Due: eslint --fix

chore(DTFS2-6993): fix legacy typo
  portal/component-tests/contract/components/contract-overview-table.component-test.js
Due: eslint --fix

chore(DTFS2-6993): refactor date format constants
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/server/constants/date-formats.js
  portal/server/constants/date-formats.ts
Due: eslint --fix

feat(DTFS2-6935): add unit tests for getDeals method
  trade-finance-manager-ui/server/api.test.js
Due: eslint --fix

refactor(DTFS2-6935): lint
  trade-finance-manager-ui/server/api.test.js
Due: eslint --fix

chore(DTFS2-6993): code review changes
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
  portal/component-tests/contract/components/bond-transactions-table.component-test.js
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/component-tests/contract/components/loan-transactions-table.component-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/server/constants/date-formats.ts
  portal/server/constants/date.ts
  portal/server/constants/index.js
  portal/server/helpers/date.ts
Due: eslint --fix

chore(DTFS2-6993): use timezone constant in tests and add documentation for getNow method
  portal/component-tests/admin/user-edit.component-test.js
  portal/component-tests/bond/_macros/bond-submission-details.component-test.js
  portal/component-tests/contract/components/bond-transactions-table.component-test.js
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/component-tests/contract/components/loan-transactions-table.component-test.js
  portal/component-tests/contract/contract-submission-details.component-test.js
  portal/component-tests/contract/contract-view.component-test.js
  portal/component-tests/loan/_macros/loan-submission-details.component-test.js
  portal/server/constants/date.ts
  portal/server/helpers/date.ts
Due: eslint --fix

feat(DTFS2-6965): add change stream env vars to other docker compose files
  docker-compose.gha.yml
  docker-compose.yml
Due: none

chore(DTFS2-NONE): add typescript to portal routes
  portal/.eslintrc.js
  portal/package-lock.json
  portal/package.json
  portal/server/generateApp.ts
  portal/server/routes/admin/index.js
  portal/server/routes/admin/index.ts
  portal/server/routes/index.js
  portal/server/routes/index.ts
  portal/server/types/date.ts
  portal/server/types/db-models/banks.ts
  portal/server/types/db-models/users.ts
  portal/server/types/portal/portal-role.ts
  portal/server/types/portal/portal-session-user.ts
  portal/server/types/session-bank.ts
  portal/server/types/types-helper.ts
Due: eslint --fix, sort-package-json

chore(DTFS2-NONE): fix after rebasing
  portal/.eslintrc.js
  portal/Dockerfile
Due: eslint --fix

chore(DTFS2-NONE): add tranpile-only flag to init.sh
  portal/init.sh
Due: none

chore(DTFS2-NONE): code review
  portal/server/generateApp.ts
  portal/server/types/date.ts
  portal/server/types/db-models/banks.ts
  portal/server/types/express-session.d.ts
Due: eslint --fix

chore(DTFS2-NONE): code review to generateApp
  portal/server/generateApp.ts
Due: eslint --fix

chore(DTFS2-NONE): run prettier on generateApp
  portal/server/generateApp.ts
Due: eslint --fix

chore(DTFS2-NONE): fix after rebase
  portal/server/routes/admin/index.ts
Due: eslint --fix

chore(DTFS2-NONE): fix session to match TFM-UI
  portal/server/helpers/express-session.ts
  portal/server/types/bank.ts
  portal/server/types/date.ts
  portal/server/types/express-session.d.ts
  portal/server/types/portal-session-user.ts
  portal/server/types/session-bank.ts
Due: eslint --fix

chore(DTFS2-NONE): code review changes
  dtfs-central-api/src/types/db-models/users.ts
  portal/init.sh
  portal/package-lock.json
  portal/package.json
  portal/server/types/db-models/banks.ts
  portal/server/types/db-models/users.ts
  portal/server/types/express-session.d.ts
  portal/server/types/portal-session-user.ts
  portal/server/types/portal/portal-role.ts
  portal/server/types/portal/portal-session-user.ts
  portal/server/types/session-bank.ts
  portal/server/types/types-helper.ts
Due: eslint --fix, sort-package-json
