Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-8078): fixed api test
  trade-finance-manager-api/src/v1/helpers/calculate-gef-facility-fee-record.api-test.js
Due: eslint --fix

feat(DTFS2-8078): add an additional day for contingent facility (#4400)
  libs/common/src/helpers/facility-calculations/index.test.ts
  libs/common/src/helpers/facility-calculations/index.ts
  trade-finance-manager-api/src/v1/helpers/calculate-gef-facility-fee-record.api-test.js
Due: eslint --fix

chore(DTFS2-7071-7072): pr comment
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

chore(DTFS2-7071-7072): pr comments
  dtfs-central-api/src/v1/routes/portal-routes.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
Due: eslint --fix

chore(DTFS2-7071-7072): improve endpoints (#4397)
  dtfs-central-api/src/v1/routes/portal-routes.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
Due: eslint --fix

feat(DTFS2-7812): added default pod
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-bss-ewcs-deal.api-test.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-bss-ewcs-deal.js
Due: eslint --fix

feat(DTFS2-7812): added docstring
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
Due: eslint --fix

feat(DTFS2-7812): missing probability of default for BSS/EWCS deals (#4401)
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-bss-ewcs-deal.api-test.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-bss-ewcs-deal.js
Due: eslint --fix

chore(DTFS2-7071): add is production validation on delete endpoints
  dtfs-central-api/src/v1/routes/portal-routes.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  dtfs-central-api/src/v1/validation/route-validators/route-validators.js
  portal-api/src/v1/routes.js
  portal-api/src/v1/validation/route-validators/route-validators.js
Due: eslint --fix

feat(DTFS2-7939): acbs functions log output validation
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
Due: eslint --fix

feat(DTFS2-7939): added unit test case
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.test.js
Due: eslint --fix

chore(deps): dependencies updates
  libs/common/package.json
  package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-8080): reverted country code to SCG
  external-api/src/external-api/countries.ts
  portal-api/src/external-api/__mocks__/countries.js
Due: eslint --fix

feat(DTFS2-8080): reverted country code to SCG (#4404)
  external-api/src/external-api/countries.ts
  portal-api/src/external-api/__mocks__/countries.js
Due: eslint --fix

chore(DTFS2-7071): fix api test
  dtfs-central-api/src/v1/routes/portal-routes.js
  portal-api/api-tests/v1/deals/deals.api-test.js
  portal-api/src/v1/controllers/deal.controller.js
Due: eslint --fix

feat(DTFS2-7939): acbs functions log output validation (#4403)
  libs/common/package.json
  package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.test.js
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

chore(main): release 2.10.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-8001): rename portal to portal-ui directory name
  .github/workflows/test.yml
  README.md
  docker-compose.yml
  portal-api/README.md
  portal-ui/Dockerfile
Due: none

fix(DTFS2-8001): package file sync
  package-lock.json
Due: none

fix(DTFS2-8001): fixed directory name
  portal-ui/Dockerfile
Due: none

fix(DTFS2-8001): fixed directory name
  .github/workflows/test.yml
Due: none

fix(DTFS2-7939): updated base image version
  reverse-proxy/Dockerfile
Due: none

chore(DTFS2-7071): fix docstring
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

chore(DTFS2-7071): address pr comments
  dtfs-central-api/src/v1/validation/route-validators/route-validators.js
  portal-api/api-tests/v1/deals/deals.api-test.js
  portal-api/src/v1/controllers/deal.controller.js
  portal-api/src/v1/validation/route-validators/route-validators.js
Due: eslint --fix

feat(DTFS2-7939): added reverse proxy to gha
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-7939): added helper functions
  .env.sample
  libs/common/src/helpers/is-maintainance-active.test.ts
  libs/common/src/helpers/is-maintainance-active.ts
  libs/common/src/helpers/string-to-boolean.test.ts
  libs/common/src/helpers/string-to-boolean.ts
Due: eslint --fix

feat(DTFS2-7939): dependency update
  package-lock.json
Due: none

chore(DTFS2-7071): add try catch
  portal-api/src/v1/controllers/deal.controller.js
Due: eslint --fix

feat(DTFS2-7939): typo fixes
  .env.sample
  libs/common/src/constants/index.ts
  libs/common/src/constants/maintenance.ts
  libs/common/src/helpers/is-maintenance-active.test.ts
  libs/common/src/helpers/is-maintenance-active.ts
  libs/common/src/middleware/maintainance/index.ts
Due: eslint --fix

feat(DTFS2-7939): added middleware to dtfs-central-api
  .github/workflows/test.yml
  docker-compose.yml
  dtfs-central-api/src/generateApp.ts
  libs/common/src/middleware/index.ts
  libs/common/src/middleware/maintainance/index.ts
Due: eslint --fix

feat(DTFS2-7939): added middleware to microservices
  dtfs-central-api/src/generateApp.ts
  external-api/src/generateApp.ts
  gef-ui/server/generateApp.js
  portal-api/src/generateApp.js
  portal-ui/server/generateApp.ts
  trade-finance-manager-api/src/generateApp.js
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

feat(DTFS2-7939): removed variable from e2e test
  .github/workflows/test.yml
Due: none

chore(DTFS-7071): address pr comment
  portal-api/src/v1/controllers/deal.controller.js
Due: eslint --fix

feat(DTFS2-7939): added middleware test
  libs/common/src/middleware/maintainance/index.test.ts
Due: eslint --fix
