Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-6734): fix test
  portal/component-tests/activity/generate-activity-report.component-test.js
  portal/templates/activity/generate-activity-report.njk
Due: eslint --fix

fix(DTFS-6522): comment cleanup
  trade-finance-manager-ui/styles/case-summary.scss
Due: none

feat(FN-1501): update dev command and add clamav to staging and prod
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
Due: none

feat(DTFS2-6745): fix gef tests
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/e2e/pages/landingPage.js
  e2e-tests/gef/cypress/e2e/pages/login/sign-in-link.js
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/gef/cypress/support/commands/login.js
  e2e-tests/gef/cypress/support/commands/portal/enterUsernameAndPassword.js
  e2e-tests/gef/cypress/support/commands/portal/getUserByUsername.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/gef/cypress/support/commands/portal/overrideUserSignInTokenByUsername.js
  e2e-tests/gef/cypress/support/commands/portal/resetUserStatusAndNumberOfSignInLinks.js
  e2e-tests/gef/cypress/support/e2e.js
  e2e-tests/gef/cypress/support/relativeURL.js
  e2e-tests/gef/cypress/support/tasks.js
Due: eslint --fix

feat(DTFS2-6745): fix gef tests
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/gef/cypress/support/commands/portal/enterUsernameAndPassword.js
Due: eslint --fix

feat(FN-1501): add new collections and fileshare to bicep infra (#2369)
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/storage.bicep
Due: none

feat(DTFS2-6745): fix gef tests
  e2e-tests/gef/cypress/support/commands/reinsertMocks.js
Due: eslint --fix

feat(DTFS2-6745): update e2e filestructure
  e2e-tests/gef/cypress/support/commands.js
  e2e-tests/gef/cypress/support/e2e.js
Due: eslint --fix

fix(FN-1686): update file too large error message
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(DTFS2-6734): refactor activity routes and add api test
  portal/api-tests/activity.api-test.js
  portal/component-tests/partials/primary-navigation.component-test.js
  portal/server/routes/admin/activity.js
  portal/server/routes/admin/index.js
  portal/server/routes/index.js
  portal/templates/_partials/primary-navigation.njk
  portal/templates/activity/select-user.njk
Due: eslint --fix

feat(DTFS2-6745): update e2e filestructure to commonise user tasks
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/support/commands.js
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/gef/cypress/support/commands/portal/overridePortalUserSignInTokenByUsername.js
  e2e-tests/gef/cypress/support/commands/portal/overrideUserSignInTokenByUsername.js
  e2e-tests/gef/cypress/support/commands/portal/resetPortalUserStatusAndNumberOfSignInLinks.js
  e2e-tests/gef/cypress/support/commands/portal/resetUserStatusAndNumberOfSignInLinks.js
  e2e-tests/gef/cypress/support/e2e.js
  e2e-tests/gef/cypress/support/tasks.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/sign-in-link-session-edge-cases.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/portal/cypress/support/portal/login.js
  e2e-tests/portal/cypress/support/portal/overridePortalUserSignInTokenByUsername.js
  e2e-tests/portal/cypress/support/portal/overrideUserSignInTokenByUsername.js
  e2e-tests/portal/cypress/support/portal/resetPortalUserStatusAndNumberOfSignInLinks.js
  e2e-tests/portal/cypress/support/portal/resetUserStatusAndNumberOfSignInLinks.js
  e2e-tests/portal/cypress/support/tasks.js
  e2e-tests/support/user-tasks.js
  portal-api/test-helpers/api-test-helpers/database/user-repository.js
Due: eslint --fix

feat(DTFS2-6745): update e2e filestructure to commonise user tasks
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
Due: eslint --fix

feat(DTFS2-6745): fix lint
  portal/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-6745): fix tfm tests
  e2e-tests/tfm/cypress.config.js
  e2e-tests/tfm/cypress/support/commands.js
  e2e-tests/tfm/cypress/support/portal-api/api.js
  e2e-tests/tfm/cypress/support/portal-api/getUserByUsername.js
  e2e-tests/tfm/cypress/support/portal-api/overridePortalUserSignInTokenByUsername.js
  e2e-tests/tfm/cypress/support/portal-api/resetPortalUserStatusAndNumberOfSignInLinks.js
Due: eslint --fix

feat(DTFS2-6745): fix tfm tests
  e2e-tests/tfm/cypress/support/portal-api/api.js
Due: eslint --fix

fix(mock-data): fixed mock data loader
  e2e-tests/gef/cypress/e2e/scenarios/eligibility-criterion-21/eligibility-criterion-21.spec.js
  portal-api/src/constants/payloads.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/models/eligibilityCriteria.js
  utils/mock-data-loader/bss/eligibilityCriteria.js
  utils/mock-data-loader/gef/eligibilityCriteria.js
Due: eslint --fix

feat(DTFS2-6745): fix ukef tests, refactor all e2e tests
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/tfm/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress.config.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/portal/enterUsernameAndPassword.js
  e2e-tests/ukef/cypress/support/portal/getUserByUsername.js
  e2e-tests/ukef/cypress/support/portal/logIn.js
  e2e-tests/ukef/cypress/support/portal/overridePortalUserSignInTokenByUsername.js
  e2e-tests/ukef/cypress/support/portal/resetPortalUserStatusAndNumberOfSignInLinks.js
Due: eslint --fix

feat(DTFS2-6745): fix ukef tests, refactor all e2e tests
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/tfm/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/portal-api/api.js
Due: eslint --fix

feat(DTFS2-6745): fix gef e2e tests
  e2e-tests/gef/cypress/support/commands/api.js
Due: eslint --fix

fix(DTFS-6466): accessibility added text for screen readers to make input field prefix/suffix known
  trade-finance-manager-ui/templates/case/amendments/amendment-facility-value.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/loss-given-default.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/probability-of-default.njk
Due: none

Merge branch 'main' into main-stbr
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  portal/package.json
Due: eslint --fix, sort-package-json

Merge branch 'main' into main-stbr
  external-api/package-lock.json
  portal/server/controllers/login/index.js
  trade-finance-manager-api/package-lock.json
Due: eslint --fix

fix(DTFS-6466): fixing component tests
  trade-finance-manager-ui/component-tests/case/underwriting/loss-given-default.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/probability-of-default.component-test.js
Due: eslint --fix

fix: fix about-facility UI test failing after 5/12/2023
  gef-ui/server/controllers/about-facility/index.test.js
Due: eslint --fix

fix(DTFS-6466): fixing component tests
  trade-finance-manager-ui/component-tests/case/underwriting/loss-given-default.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/probability-of-default.component-test.js
Due: eslint --fix

fix(e2e): fixed E2E tests
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  e2e-tests/gef/cypress/e2e/pages/automatic-cover.js
  e2e-tests/gef/cypress/e2e/scenarios/eligibility-criterion-16/eligibility-criterion-16.spec.js
  e2e-tests/gef/cypress/e2e/scenarios/eligibility-criterion-21/eligibility-criterion-21.spec.js
  e2e-tests/gef/cypress/support/commands/reinsertMocks.js
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/templates/partials/automatic-cover.njk
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: eslint --fix, sort-package-json

fix(FN-1686): update error copy for large file (#2421)
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

fix(gha): updated working directory path
  .github/workflows/test.yml
  package.json
Due: sort-package-json

fix: fix about-facility UI test failing after 5/12/2023 (#2424)
  gef-ui/server/controllers/about-facility/index.test.js
Due: eslint --fix

feat(DTFS2-6745): remove accidentally re-added test
  portal-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

feat(DTFS2-6796): apply suggestions from PR
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/src/v1/users/sign-in-link.controller.create-and-email-sign-in-link.test.js
  portal/api-tests/admin-routes.api-test.js
Due: eslint --fix

refactor(DTFS2-6796): add login status constant for portal tests
  portal/api-tests/helpers/login.js
  portal/api-tests/login/login-with-sign-in-link.api-test.js
  portal/api-tests/login/post-login.api-test.js
  portal/server/api.test.js
  portal/server/constants/index.js
  portal/server/constants/login-status.js
  portal/server/controllers/login/login-with-sign-in-link.test.js
Due: eslint --fix

chore(DTFS2-6796): remove TODO
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
Due: eslint --fix

fix(DTFS-6466): fixing component test spacing in template
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/loss-given-default.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/probability-of-default.njk
Due: none

feat(DTFS2-6796): improve unit tests
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
Due: eslint --fix

chore(DTFS2-6796): remove TODO
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
Due: eslint --fix

fix(DTFS-6522): reordering css
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/list.scss
Due: none

fix(api-test): fixed api-test
  portal-api/api-tests/v1/gef/application.api-test.js
Due: eslint --fix
