Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(DTFS2-8234): refactor error halder to its own helper and update tests
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
  e2e-tests/portal/cypress/support/portal/assertRiskMarginValidationError.js
Due: eslint --fix

fix(DTFS2-8218): fix e2e test
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendments-tab.spec.js
Due: eslint --fix

fix(DTFS2-8234): update margin fee init tests to use toEqual
  portal-api/server/v1/validation/fields/margin-fee.test.js
Due: eslint --fix

fix(DTFS2-8234): update comment
  portal-api/api-tests/v1/loan/loan-validation.api-test.js
Due: eslint --fix

fix(DTFS2-8220): fix integrity
  gef-ui/templates/index.njk
Due: none

fix(DTFS2-8220): change integrity for portal ui
  portal-ui/templates/index.njk
Due: none

fix(DTFS2-8220): change integrity
  gef-ui/templates/index.njk
  portal-ui/templates/index.njk
Due: none

fix(DTFS2-8220): change integrity component tests
  gef-ui/component-tests/index/index.component-test.js
  portal-ui/component-tests/index/index.component-test.js
Due: eslint --fix

feat(DTFS2-7033): review markups
  cspell.json
  dtfs-central-api/server/helpers/portal-2fa/does-user-have-sign-in-tokens.ts
  dtfs-central-api/server/helpers/portal-2fa/increment-sign-in-opt-sent-count.ts
  dtfs-central-api/server/helpers/portal-2fa/is-sign-in-data-stale.ts
  dtfs-central-api/server/helpers/portal-2fa/sign-in-token-status.ts
  dtfs-central-api/server/helpers/portal-2fa/verify-hash.ts
  dtfs-central-api/server/repositories/users-repo/index.ts
  dtfs-central-api/server/v1/controllers/portal/login/create-and-email-sign-in-otp.ts
  dtfs-central-api/server/v1/controllers/portal/login/validate-otp-and-sign-in.ts
  libs/common/src/constants/crypto.ts
  libs/common/src/constants/portal/otp.ts
  portal-api/server/v1/api.js
  portal-api/server/v1/routes.js
  portal-api/server/v1/users/routes.js
Due: eslint --fix

fix(DTFS2-8218): address PR comments
  e2e-tests/gef/cypress/e2e/pages/application-amendments.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendments-tab.spec.js
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
Due: eslint --fix

fix(DTFS2-8220): add expectElement component test
  portal-ui/component-tests/assertions.js
  portal-ui/component-tests/utilisation-report-service/record-correction/pending-corrections.component-test.js
Due: eslint --fix

feat(DTFS2-7033): review markups
  dtfs-central-api/server/helpers/portal-2fa/increment-sign-in-opt-sent-count.ts
  dtfs-central-api/server/helpers/portal-2fa/verify-hash.ts
  dtfs-central-api/server/v1/controllers/portal/login/create-and-email-sign-in-otp.ts
Due: eslint --fix

fix(DTFS2-8234): address pr comments
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
  e2e-tests/portal/cypress/support/commands.js
  portal-api/api-tests/v1/loan/loan-validation.api-test.js
  portal-api/server/v1/validation/fields/margin-fee.test.js
Due: eslint --fix

fix(DTFS2-8218): add helper function
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/sort-amendments.test.ts
  libs/common/src/helpers/sort-amendments.ts
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
Due: eslint --fix

chore(main): release 2.12.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-8234): add js docks and test comment
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/support/portal/assertRiskMarginValidationError.js
Due: eslint --fix

fix(DTFS2-8234): address review comments
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/assertRiskMarginValidationError.js
Due: eslint --fix

fix(DTFS2-8218): fix reference number order (#4591)
  e2e-tests/gef/cypress/e2e/pages/application-amendments.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendments-tab.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-display-amendments-sorted-by-reference-number.spec.js
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/sort-amendments.test.ts
  libs/common/src/helpers/sort-amendments.ts
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.generatePortalAmendmentEligibilityRows.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
Due: eslint --fix

fix(DTFS-8234): BSS guarantee fee cannot be 0
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/assertRiskMarginValidationError.js
  portal-api/api-tests/v1/bonds/bonds-validation.api-test.js
  portal-api/api-tests/v1/loan/loan-validation.api-test.js
  portal-api/server/v1/validation/fields/margin-fee.js
  portal-api/server/v1/validation/fields/margin-fee.test.js
Due: eslint --fix

Revert "feat(DTFS2-6761): commonised password hashing (#4509)"
  libs/common/src/constants/access-code-pages.ts
  libs/common/src/constants/index.ts
  libs/common/src/types/access-code.ts
  libs/common/src/types/index.ts
  portal-api/server/v1/users/sign-in-link.controller.js
  portal-ui/package.json
  portal-ui/server/controllers/login/check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/check-your-email-access-code.ts
  portal-ui/server/helpers/getNextAccessCodePage.test.ts
  portal-ui/server/helpers/getNextAccessCodePage.ts
  portal-ui/server/helpers/index.js
  portal-ui/server/routes/login/index.js
  portal-ui/templates/login/check-your-email-access-code.njk
Due: eslint --fix, sort-package-json

feat(DTFS2-7033): added salt and hash libs/common
  portal-ui/package.json
Due: sort-package-json

feat(DTFS2-8199): fix package
  portal-ui/package.json
Due: sort-package-json

feat(DTFS2-8251): add get new access code page
  portal-ui/component-tests/login/new-access-code.component-test.js
  portal-ui/server/controllers/login/new-access-code-page.test.ts
  portal-ui/server/controllers/login/new-access-code-page.ts
  portal-ui/server/routes/login/index.js
  portal-ui/templates/login/new-access-code.njk
Due: eslint --fix

chore(DTFS2-8233): remove eslint comment global require (#4588)
  e2e-tests/gef/cypress/e2e/pages/index.js
Due: eslint --fix

feat(DTFS2-8199): remove console
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8199): address pr comments
  portal-api/server/v1/users/sign-in-link.controller.js
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8251): change route
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8222): update sessions property
  portal-ui/component-tests/login/access-code-expired.component-test.js
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
  portal-ui/templates/login/access-code-expired.njk
Due: eslint --fix

chore(DTFS2-8229): remove eslint disable comments - portal-api (#4586)
  portal-api/.eslintrc.js
  portal-api/api-tests/v1/users/post-create-user.api-test.js
  portal-api/api-tests/v1/users/with-validate-email-is-unique.api-tests.js
  portal-api/api-tests/v1/users/with-validate-password.api-tests.js
  portal-api/server/cron-scheduler-jobs/send-report-due-emails-job/index.test.ts
  portal-api/server/cron-scheduler-jobs/send-report-submission-period-start-emails-job/index.test.ts
  portal-api/server/v1/helpers/escapeOperators.js
  portal-api/server/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/server/v1/users/sign-in-link.service.login-user.test.js
  portal-api/server/v1/users/transform-database-user.test.js
  portal-api/server/v1/users/user.service.test.js
  portal-api/server/v1/users/validation/rules/email-must-be-unique.test.js
  portal-api/test-helpers/unit-test-helpers/users/validation/user-validation.test-helpers.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

feat(FN-418): redis (#1753)
  infrastructure/arm_templates/redis/parameters.json
  infrastructure/arm_templates/redis/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/redis.bicep
Due: none

feat(FN-419): Add ACBS function to Bicep (#1769)
  infrastructure/arm_templates/function-acbs/application-insights/errors.json
  infrastructure/arm_templates/function-acbs/application-insights/parameters.json
  infrastructure/arm_templates/function-acbs/application-insights/template.json
  infrastructure/arm_templates/function-acbs/errors.json
  infrastructure/arm_templates/function-acbs/parameters.json
  infrastructure/arm_templates/function-acbs/private-endpoint/parameters.json
  infrastructure/arm_templates/function-acbs/private-endpoint/template.json
  infrastructure/arm_templates/function-acbs/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/storage.bicep
Due: none

feat(FN-417): Add Storage in Bicep (#1701)
  infrastructure/arm_templates/storage-private-endpoint/parameters.json
  infrastructure/arm_templates/storage-private-endpoint/template.json
  infrastructure/arm_templates/storage/parameters.json
  infrastructure/arm_templates/storage/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-416): cosmosdb (#1705)
  infrastructure/arm_templates/cosmosdb/errors.json
  infrastructure/arm_templates/cosmosdb/parameters.json
  infrastructure/arm_templates/cosmosdb/private-endpoint/parameters.json
  infrastructure/arm_templates/cosmosdb/private-endpoint/template.json
  infrastructure/arm_templates/cosmosdb/serverless_example/parameters.json
  infrastructure/arm_templates/cosmosdb/serverless_example/template.json
  infrastructure/arm_templates/cosmosdb/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/privatelink-mongo-cosmos-azure-com.bicep
Due: none

feat(FN-70): bicep conversion - networking (#1696)
  infrastructure/arm_templates/gw-nsg/parameters.json
  infrastructure/arm_templates/gw-nsg/template.json
  infrastructure/arm_templates/nat-gw/parameters.json
  infrastructure/arm_templates/nat-gw/template.json
  infrastructure/arm_templates/nat-ip/parameters.json
  infrastructure/arm_templates/nat-ip/template.json
  infrastructure/arm_templates/private-dns/azurewebsites.net/parameters.json
  infrastructure/arm_templates/private-dns/azurewebsites.net/template.json
  infrastructure/arm_templates/private-dns/file.core.windows.net/parameters.json
  infrastructure/arm_templates/private-dns/file.core.windows.net/template.json
  infrastructure/arm_templates/private-dns/mongo.cosmos.azure.com/parameters.json
  infrastructure/arm_templates/private-dns/mongo.cosmos.azure.com/template.json
  infrastructure/arm_templates/private-dns/redis.cache.windows.net/parameters.json
  infrastructure/arm_templates/private-dns/redis.cache.windows.net/template.json
  infrastructure/arm_templates/public_ip/tfs-dev-ip/parameters.json
  infrastructure/arm_templates/public_ip/tfs-dev-ip/template.json
  infrastructure/arm_templates/route-tables/template.json
  infrastructure/arm_templates/vnet/parameters.json
  infrastructure/arm_templates/vnet/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
  infrastructure/resource_group_level/modules/privatelink-file-core-windows-net.bicep
  infrastructure/resource_group_level/modules/privatelink-mongo-cosmos-azure-com.bicep
  infrastructure/resource_group_level/modules/privatelink-redis-cache-windows-net.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/subscription_level/main.bicep
  infrastructure/subscription_level/modules/resourceGroup.bicep
Due: none

feat(FN-573): Configure automatic A Record generation (#1765)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/privatelink-file-core-windows-net.bicep
  infrastructure/resource_group_level/modules/storage.bicep
Due: none

feat(FN-421): add external-api webapp to Bicep (#1820)
  infrastructure/arm_templates/external-api/parameters.json
  infrastructure/arm_templates/external-api/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/external-api.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
Due: none

feat(FN-423): portal-api in Bicep (#1839)
  infrastructure/arm_templates/portal-api/parameters.json
  infrastructure/arm_templates/portal-api/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/portal-api.bicep
Due: none

feat(FN-424): add tfm-api to Bicep (#1843)
  infrastructure/arm_templates/trade-finance-manager-api/parameters.json
  infrastructure/arm_templates/trade-finance-manager-api/template.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/trade-finance-manager-api.bicep
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
