Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/healthcheck.js
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/server/controllers/supporting-information/supporting-documents/index.js
  gef-ui/server/index.js
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal/package-lock.json
  portal/package.json
  portal/server/index.js
  portal/server/routes/contract/eligibility/index.js
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/index.js
  utils/data-migration/package-lock.json
Due: eslint --fix, sort-package-json

fix(env): fixed environment variables (#1886)
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/healthcheck.js
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/server/controllers/supporting-information/supporting-documents/index.js
  gef-ui/server/index.js
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal/package-lock.json
  portal/package.json
  portal/server/index.js
  portal/server/routes/contract/eligibility/index.js
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails-tfm-tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/index.js
  utils/data-migration/package-lock.json
Due: eslint --fix, sort-package-json

fix: updated the timer settings for eStore (#1880)
  .github/workflows/pr_api_tests.yml
  .github/workflows/pr_e2e_tests.yml
  external-api/src/cronJobs/eStoreSiteCreationJob.cron.ts
  external-api/src/cronJobs/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

fix(DTFS2-5656): Add middleware to strip _csrf token from body of requests (#1879)
  dtfs-central-api/api-tests/v1/routes/middleware/remove-csrf-token.api-test.js
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/v1/routes/middleware/remove-csrf-token.js
  portal-api/api-tests/v1/middleware/check-api-key.api-test.js
  portal-api/api-tests/v1/middleware/remove-csrf-token.api-test.js
  portal-api/api-tests/v1/mocks/index.js
  portal-api/src/createApp.js
  portal-api/src/v1/middleware/remove-csrf-token.js
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/routes.js
  trade-finance-manager-api/api-tests/v1/middleware/check-api-key.api-test.js
  trade-finance-manager-api/api-tests/v1/middleware/remove-csrf-token.api-test.js
  trade-finance-manager-api/api-tests/v1/mocks/index.js
  trade-finance-manager-api/src/createApp.js
  trade-finance-manager-api/src/v1/middleware/remove-csrf-token.js
Due: eslint --fix

fix(SR-14): Estore API SSRF protection (#1883)
  external-api/api-tests/v1/eStore.api-test.ts
  external-api/src/constants/regex.constants.ts
  external-api/src/interfaces/eStore.interface.ts
  external-api/src/utils/inputValidations.ts
  external-api/src/v1/controllers/estore/eStoreApi.ts
Due: eslint --fix

fix(commit): lint commit convention adherence
  .commitlintrc.json
  .lintstagedrc.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package.json
  commitlint.config.js
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package.json
  utils/mock-data-loader/package.json
Due: eslint --fix, sort-package-json

updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(security): package dependencies update to mitigate github alerts
  package-lock.json
Due: none

fix(console): consistent console with string substitutions
  dtfs-central-api/src/index.js
  external-api/src/index.ts
  gef-ui/server/index.js
  portal-api/src/index.js
  portal/server/index.js
  trade-finance-manager-api/src/index.js
  trade-finance-manager-ui/server/index.js
  utils/data-migration/bss-ewcs/maps/findPortalValue.js
Due: eslint --fix

fix(lint): lint error fixes
  portal/server/api.js
Due: eslint --fix

fix(lintstagged): commit lint messages
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package.json
  utils/mock-data-loader/package.json
Due: sort-package-json

fix(lint): lint error fix
  commitlint.config.js
Due: eslint --fix

fix(e2e): fixed E2E tests
  e2e-tests/portal/cypress/e2e/journeys/maker/facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
  package-lock.json
  package.json
Due: eslint --fix, sort-package-json

fix(commit): git pre-commit hook (#1887)
  .commitlintrc.json
  .lintstagedrc.json
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  commitlint.config.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  e2e-tests/portal/cypress/e2e/journeys/maker/facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package.json
  utils/mock-data-loader/package.json
Due: eslint --fix, sort-package-json

fix(e2e): fixed failing E2E tests
  e2e-tests/gef/cypress/e2e/enter-exporters-corr-address.spec.js
  e2e-tests/gef/cypress/e2e/exporters-address-create-element.spec.js
  e2e-tests/gef/cypress/e2e/exporters-address.spec.js
  e2e-tests/gef/cypress/fixtures/constants.js
Due: eslint --fix

fix: fix commit message linting
  .husky/commit-msg
Due: none

fix: lint current commit message on commit instead of previous (#1888)
  .husky/commit-msg
Due: none

feat(sr-8): add rate limiter and rate limiter config to dtfs-central
  .env.sample
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/config/rate-limiter.config.js
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/v1/routes/middleware/rate-limiter.js
Due: eslint --fix, sort-package-json

feat(sr-8): add rate limiter and rate limiter config to dtfs-central
  dtfs-central-api/src/createApp.js
Due: eslint --fix

feat(SR7): portal ui rate limiter
  .env.sample
  portal/package-lock.json
  portal/package.json
  portal/server/index.js
  portal/server/routes/middleware/index.js
  portal/server/routes/middleware/rateLimit/index.js
Due: eslint --fix, sort-package-json

fix(typo): typo fixes
  portal/server/routes/middleware/rateLimit/index.js
Due: eslint --fix

fix(config): configuration fix
  portal/server/routes/middleware/rateLimit/index.js
Due: eslint --fix

fix(portal): env validation
  portal/server/routes/middleware/rateLimit/index.js
Due: eslint --fix

feat(SR-8): add rate limiter and config to portal ui
  .env.sample
  portal/package-lock.json
  portal/package.json
  portal/server/index.js
  portal/server/routes/middleware/index.js
  portal/server/routes/middleware/rateLimit/index.js
Due: eslint --fix, sort-package-json

feat(sr-8): add rate limiter and rate limiter config to dtfs-central
  .env.sample
  dtfs-central-api/src/config/rate-limiter.config.js
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/v1/routes/middleware/index.js
  dtfs-central-api/src/v1/routes/middleware/rate-limiter.js
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.js
Due: eslint --fix

feat(sr-8): add rate limiter and rate limiter config to dtfs-central
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/v1/routes/middleware/index.js
Due: eslint --fix

feat(sr-8): add rate limiter and rate limiter config to dtfs-central
  dtfs-central-api/src/v1/routes/middleware/index.js
Due: eslint --fix

feat(cspell): added cspell check for all files
  .gitattributes
  .gitignore
  azure-functions/acbs-function/.gitignore
  azure-functions/number-generator-function/.gitignore
  cspell.json
  package-lock.json
  package.json
  portal-api/.gitignore
  trade-finance-manager-api/.gitignore
  utils/data-migration/.gitignore
Due: sort-package-json

fix(typo): spelling mistakes
  .gitignore
  README.md
  azure-functions/acbs-function/.dockerignore
  azure-functions/number-generator-function/.dockerignore
  cspell.json
  dtfs-central-api/.dockerignore
  external-api/.dockerignore
  gef-ui/.dockerignore
  package.json
  portal-api/.dockerignore
  portal/.dockerignore
  trade-finance-manager-api/.dockerignore
  trade-finance-manager-ui/.dockerignore
Due: sort-package-json

fix(eslint): updated eslint configuration
  gef-ui/server/services/api.js
  portal-api/.eslintrc.js
  portal-api/src/v1/gef/routes.js
Due: eslint --fix

fix(test): fixed unit tests
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/server/services/__tests__/api.test.js
  gef-ui/server/services/api.js
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: eslint --fix, sort-package-json

fix(SSRF): Add missing validation to routes in portal and gef (#1878)
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  e2e-tests/gef/cypress/e2e/enter-exporters-corr-address.spec.js
  e2e-tests/gef/cypress/e2e/exporters-address-create-element.spec.js
  e2e-tests/gef/cypress/e2e/exporters-address.spec.js
  e2e-tests/gef/cypress/fixtures/constants.js
  e2e-tests/portal/cypress/e2e/pages/resetPassword.js
  external-api/package-lock.json
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/server/constants/index.js
  gef-ui/server/services/__tests__/api.test.js
  gef-ui/server/services/api.js
  gef-ui/server/utils/validateIds.js
  gef-ui/server/utils/validateIds.test.js
  package-lock.json
  package.json
  portal-api/.eslintrc.js
  portal-api/package-lock.json
  portal-api/src/v1/gef/routes.js
  portal/package-lock.json
  portal/package.json
  portal/server/api-ssrf.test.js
  portal/server/api.js
  portal/server/constants/file-upload.js
  portal/server/constants/regex.js
  portal/server/routes/contract/index.js
  portal/server/validation/validate-ids.js
  portal/server/validation/validate-ids.test.js
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: eslint --fix, sort-package-json

fix(SR-8): fix rate limiting middleware in portal UI
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  portal/server/errors/invalid-environment-variable.error.js
  portal/server/errors/invalid-environment-variable.error.test.js
  portal/server/index.js
  portal/server/routes/middleware/index.js
  portal/server/routes/middleware/rateLimit/index.js
  portal/server/routes/middleware/rateLimit/index.test.js
Due: eslint --fix

fix(typo): removed duplicates
  cspell.json
Due: none

feat(cspell): Cspell addition (#1938)
  .gitattributes
  .gitignore
  README.md
  azure-functions/acbs-function/.dockerignore
  azure-functions/acbs-function/.gitignore
  azure-functions/number-generator-function/.dockerignore
  azure-functions/number-generator-function/.gitignore
  cspell.json
  dtfs-central-api/.dockerignore
  dtfs-central-api/package-lock.json
  e2e-tests/gef/cypress/e2e/exporters-address-create-element.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/submit-to-trade-finance-manager/cypress/support/commands.js
  external-api/.dockerignore
  external-api/package-lock.json
  gef-ui/.dockerignore
  gef-ui/templates/includes/exporters-address/seperate-correspondence.njk
  package-lock.json
  package.json
  portal-api/.dockerignore
  portal-api/.gitignore
  portal/.dockerignore
  trade-finance-manager-api/.dockerignore
  trade-finance-manager-api/.gitignore
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/.dockerignore
  utils/data-migration/.gitignore
Due: eslint --fix, sort-package-json

fix(SR-8): fix expected info message in test
  portal/server/routes/middleware/rateLimit/index.test.js
Due: eslint --fix

refactor(SR-8): separate createApp from portal server index
  portal/server/createApp.js
  portal/server/index.js
Due: eslint --fix

feat(SR-8): add rate limiting api test to portal UI
  portal/.eslintrc.js
  portal/api-tests/api-rate-limiting.api-test.js
  portal/api-tests/create-api.js
  portal/package-lock.json
  portal/package.json
Due: eslint --fix, sort-package-json

feat(FN-685) A record generation (#1885)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/external-api.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gef-ui.bicep
  infrastructure/resource_group_level/modules/portal-api.bicep
  infrastructure/resource_group_level/modules/portal-ui.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
  infrastructure/resource_group_level/modules/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/trade-finance-manager-ui.bicep
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
