Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(package): removed frivolous test script
  dtfs-central-api/package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
Due: sort-package-json

fix(DTFS2-6200): update runningAt field rather than status when running durable function
  trade-finance-manager-api/src/v1/controllers/number-generator.controller.js
Due: eslint --fix

feat(FN-2074): remove dividers when no buttons on 'Bank Reports' page (#2603)
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/layout.scss
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
Due: none

fix(FN-2075): highlight 'Users' nav item on user admin pages in Portal
  portal/component-tests/utilisation-report-service/utilisation-report-upload.component-test.js
  portal/server/constants/dashboard.js
  portal/server/constants/index.js
  portal/server/constants/primary-nav-key.ts
  portal/server/controllers/dashboard/reports.controller.js
  portal/server/controllers/dashboard/reports.test.js
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/admin/users.js
Due: eslint --fix

fix(FN-2075): highlight 'Users' nav item on user admin pages in Portal (#2604)
  portal/component-tests/utilisation-report-service/utilisation-report-upload.component-test.js
  portal/server/constants/dashboard.js
  portal/server/constants/index.js
  portal/server/constants/primary-nav-key.ts
  portal/server/controllers/dashboard/reports.controller.js
  portal/server/controllers/dashboard/reports.test.js
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/admin/users.js
Due: eslint --fix

feat(FN-2077): add exclusive team checking
  trade-finance-manager-ui/server/controllers/home/index.test.js
  trade-finance-manager-ui/server/controllers/home/index.test.ts
  trade-finance-manager-ui/server/controllers/home/index.ts
  trade-finance-manager-ui/server/helpers/user.js
  trade-finance-manager-ui/server/helpers/user.test.js
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
Due: eslint --fix

fix(DTFS2-6963): review mark ups and documentation
  .github/workflows/test.yml
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  portal-api/api-tests/v1/users/reset-password.api-test.js
  portal-api/src/v1/errors/user-blocked.error.js
  portal-api/src/v1/errors/user-disabled.error.js
  portal-api/src/v1/errors/user-not-found.error.js
  portal-api/src/v1/users/controller.test.js
  portal-api/src/v1/users/login.controller.js
  portal-api/src/v1/users/user.service.js
  portal-api/src/v1/users/user.service.test.js
Due: eslint --fix

feat(FN-2077): refactor some logic
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/constants/team-ids.ts
  trade-finance-manager-ui/server/constants/teamIds.js
  trade-finance-manager-ui/server/controllers/home/index.test.ts
  trade-finance-manager-ui/server/controllers/home/index.ts
  trade-finance-manager-ui/server/helpers/user.js
  trade-finance-manager-ui/server/helpers/user.test.js
  trade-finance-manager-ui/server/helpers/user.test.ts
  trade-finance-manager-ui/server/helpers/user.ts
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/server/types/team-id.ts
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
Due: eslint --fix

feat(FN-2077): change how `PDC` users behave on login (#2605)
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/constants/team-ids.ts
  trade-finance-manager-ui/server/constants/teamIds.js
  trade-finance-manager-ui/server/controllers/home/index.test.js
  trade-finance-manager-ui/server/controllers/home/index.test.ts
  trade-finance-manager-ui/server/controllers/home/index.ts
  trade-finance-manager-ui/server/helpers/user.js
  trade-finance-manager-ui/server/helpers/user.test.js
  trade-finance-manager-ui/server/helpers/user.test.ts
  trade-finance-manager-ui/server/helpers/user.ts
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/server/types/team-id.ts
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
Due: eslint --fix

fix(DTFS2-6963): fix test and review comment
  portal-api/api-tests/v1/users/reset-password.api-test.js
  portal-api/src/v1/users/controller.test.js
Due: eslint --fix

chore(deps): dependencies updates
  .github/workflows/deployment.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

feat(FN-1854): add required lines to docker compose
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
Due: none

fix(DTFS2-6963): Holistic user service approach to block users who have `disabled` `true` (#2598)
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/reset-password.api-test.js
  portal-api/src/constants/http-error-causes.js
  portal-api/src/constants/index.js
  portal-api/src/constants/passport-validation-results.js
  portal-api/src/generateApp.js
  portal-api/src/v1/errors/user-blocked.error.js
  portal-api/src/v1/errors/user-disabled.error.js
  portal-api/src/v1/errors/user-disabled.error.test.js
  portal-api/src/v1/errors/user-not-found.error.js
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/controller.test.js
  portal-api/src/v1/users/login.controller.js
  portal-api/src/v1/users/login.controller.test.js
  portal-api/src/v1/users/passport.js
  portal-api/src/v1/users/reset-password.controller.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
  portal-api/src/v1/users/user.service.js
  portal-api/src/v1/users/user.service.test.js
  portal/api-tests/login/get-check-your-email.api-test.js
  portal/api-tests/login/send-new-sign-in-link-api-tests.js
  portal/server/constants/http-error-causes.js
  portal/server/controllers/login/login-with-sign-in-link.js
  portal/server/routes/middleware/validatePartialAuthToken/index.js
  portal/server/routes/middleware/validatePartialAuthToken/index.test.js
Due: eslint --fix

chore(deeps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
Due: sort-package-json

refactor: misc refactors and test updates
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
Due: eslint --fix

feat(FN-2081): add flag to banks visible in TFM
  dtfs-central-api/api-tests/mocks/banks.ts
  dtfs-central-api/src/constants/payloads.js
  dtfs-central-api/src/types/db-models/banks.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  portal-api/src/constants/payloads.js
  trade-finance-manager-ui/server/types/custom-express-request.ts
  utils/mock-data-loader/banks/index.js
Due: eslint --fix

fix(DTFS2-NONE): restrict sign in link expired path
  portal/server/routes/login/index.js
Due: eslint --fix

feat(FN-2081): fix swagger docs
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/utilisation-reports-reconciliation-summary.js
Due: eslint --fix

fix(DTFS2-6986): fix bug regarding redirect
  portal/server/routes/login/index.js
Due: eslint --fix

fix(gha): test.yml execution upon pushing to any environment
  .github/workflows/deployment.yml
  .github/workflows/test.yml
Due: none

refactor: update test
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.test.js
Due: eslint --fix

fix(gha): test.yml execution upon pushing to any environment
  .github/workflows/deployment.yml
Due: none

fix(gha): test.yml execution upon pushing to any environment
  .github/workflows/deployment.yml
  .github/workflows/test.yml
  external-api/api-tests/api.ts
Due: eslint --fix

refactor: fix tests
  portal/server/controllers/login/login-with-sign-in-link.test.js
Due: eslint --fix

feat(FN-1615): add e2e tests for utilisation reports in tfm
  e2e-tests/e2e-fixtures/constants.fixture.js
  e2e-tests/tfm/cypress/e2e/journeys/header/header.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/login/login.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/navigating-to-bank-page.spec.js
  utils/mock-data-loader/tfm/mocks/users.js
Due: eslint --fix

fix(DTFS2): resolved failing tests
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
Due: eslint --fix

fix(gha): test.yml execution upon pushing to any environment
  .github/workflows/deployment.yml
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

fix(gha): test.yml execution upon pushing to any environment
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

chore(deeps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

chore(deps): dependencies updates
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
Due: sort-package-json
