Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(dtfs2-none): update js
  utils/copy-env-vars/.eslintrc.js
  utils/copy-env-vars/copy-env-vars.js
Due: eslint --fix

feat(FN-2333): mobile screenreader error link focus order (#3026)
  portal/templates/utilisation-report-service/utilisation-report-upload/check-the-report.njk
Due: none

chore(dtfs2-none): update js
  package.json
  utils/copy-env-vars/copy-env-vars.js
Due: eslint --fix, sort-package-json

fix(DTFS2-7105): fixed api test
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/delete-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/get-gef-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/put-gef-deal.status.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facility.controller.js
  dtfs-central-api/src/v1/controllers/user/get-user.controller.js
Due: eslint --fix

chore(dtfs2-none): update js
  utils/copy-env-vars/copy-env-vars.js
Due: eslint --fix

feat(DTFS2-7128): move backlink into <main> and format index.njk (#3094)
  portal/templates/index.njk
Due: none

feat(dtfs2-7067): update portal footer (#3057)
  .github/workflows/dns.yml
  .github/workflows/test.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  e2e-tests/package.json
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
  gef-ui/server/nunjucks-configuration/index.js
  gef-ui/templates/includes/contact-us.njk
  gef-ui/templates/includes/footer.njk
  package-lock.json
  portal/component-tests/componentRenderer.js
  portal/component-tests/login/temporarily-suspended.component-test.js
  portal/component-tests/login/we-have-sent-you-another-link.component-test.js
  portal/component-tests/pageRenderer.js
  portal/component-tests/test-helpers/with-contact-us-email-address.component-tests.js
  portal/server/nunjucks-configuration/index.js
  portal/templates/_partials/contact-us.njk
  portal/templates/_partials/footer.njk
  portal/templates/accessibility-statement.njk
  portal/templates/login/index.njk
  service-unavailable/index.html
Due: eslint --fix, sort-package-json

chore(DTFS2-NONE): update to use regex and typescript
  utils/copy-env-vars/copy-env-vars.js
  utils/copy-env-vars/copy-env-vars.ts
  utils/copy-env-vars/tsconfig.eslint.json
  utils/copy-env-vars/tsconfig.json
  utils/package.json
Due: eslint --fix, sort-package-json

feat(dtfs2-7069): update dtfs helpdesk hyperlink (#3058)
  .env.sample
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: eslint --fix

fix(DTFS2-7105): fixed api-test
  dtfs-central-api/api-tests/helpers/with-validate-audit-details.api-tests.ts
Due: eslint --fix

feat(FN-1488): small changes
  trade-finance-manager-ui/component-tests/utilisation-reports/bank-previous-years-reports.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/find-utilisation-reports-by-year.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-reports.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/search-input-validator.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/search-input-validator.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/primary-navigation-key.ts
  trade-finance-manager-ui/server/types/view-models/find-utilisation-reports-by-year-view-model.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/templates/utilisation-reports/find-utilisation-reports-by-year.njk
Due: eslint --fix

fix(DTFS2-7105): unified yml
  .github/workflows/test.yml
Due: none

fix(DTFS2-7105): removed .env.sample from utils
  doc/sql-db.md
  dtfs-central-api/src/generateApp.js
  e2e-tests/support/tasks.js
  utils/data-migration/sql/utilisation-reports/index.ts
  utils/mock-data-loader/.env.sample
Due: eslint --fix

feat(DTFS2-7054): use auditDetails consistently across portal-api
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/users/login.controller.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/sign-in-link.controller.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

feat(DTFS2-7054): use audit details in tfm log in
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
Due: eslint --fix

feat(DTFS2-7054): update imports from ukef/dtfs-common
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  portal-api/src/v1/users/sign-in-link.controller.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
  trade-finance-manager-api/src/v1/controllers/amend-issued-facility.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.js
Due: eslint --fix

revert(DTFS2-7054): fix tfm audit details
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
Due: eslint --fix

feat(FN-1488): small changes to controller and filename
  trade-finance-manager-ui/component-tests/utilisation-reports/previous-bank-reports-by-year.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/previous-bank-reports-by-year-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/previous-bank-reports-by-year.njk
Due: eslint --fix

feat(DTFS2-7054): use logged in user audit details after successful sign in
  portal-api/src/v1/users/sign-in-link.controller.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.js
Due: eslint --fix

fix(DTFS2-7105): fixed SRIs
  gef-ui/templates/includes/exporters-address/separate-correspondence.njk
  gef-ui/templates/index.njk
  gef-ui/templates/partials/upload-supporting-documents.njk
  portal/templates/_macros/facility-inputs/guarantee-fee-payable-by-bank.njk
  portal/templates/_macros/facility-inputs/ukef-exposure.njk
  portal/templates/_partials/print-button.njk
  portal/templates/index.njk
  trade-finance-manager-ui/templates/index.njk
Due: none

chore(deps): dependencies updates
  gef-ui/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(dtfs2-7075): update mock data loader
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/users/passport.js
  utils/mock-data-loader/user-helper.js
Due: eslint --fix

feat(FN-2420): improve error status handling and test assertions
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/errors/invalid-report-status.error.ts
  portal-api/src/v1/services/utilisation-report/email-service.test.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-validator.test.ts
Due: eslint --fix

feat(FN-2420): simplify validators
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
  portal-api/src/v1/services/utilisation-report/azure-file-service.js
  portal-api/src/v1/services/utilisation-report/azure-file-service.test.js
  portal-api/src/v1/services/utilisation-report/email-service.test.ts
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-upload-validator.test.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-upload-validator.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-validator.test.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-validator.ts
Due: eslint --fix

feat(FN-2420): send upload report email notification to multiple recipients
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  package-lock.json
  portal-api/package.json
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
  portal-api/src/v1/errors/index.js
  portal-api/src/v1/errors/invalid-report-status.error.test.ts
  portal-api/src/v1/errors/invalid-report-status.error.ts
  portal-api/src/v1/services/utilisation-report/azure-file-service.js
  portal-api/src/v1/services/utilisation-report/azure-file-service.test.js
  portal-api/src/v1/services/utilisation-report/email-service.test.ts
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-upload-validator.test.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-upload-validator.ts
Due: eslint --fix, sort-package-json

feat(DTFS2-7054): update tests
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.test.js
Due: eslint --fix

fix(DTFS2-7105): removed single quotes
  azure-functions/acbs-function/package.json
  dtfs-central-api/api-tests/sql-db-helper.ts
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.test.ts
  package-lock.json
  portal-api/api-tests/sql-db-helper.ts
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/api-tests/v1/amendments/create-amendment-tfm-object-on-amendment-completion.api-test.js
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/v1/api-response-types/utilisation-report-reconciliation-details-response-body.ts
  trade-finance-manager-api/src/v1/controllers/should-update-deal-from-MIA-to-MIN.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
  trade-finance-manager-api/src/v1/rest-mappings/deal-with-amendment-bss.api-test.js
  trade-finance-manager-api/src/v1/rest-mappings/deal-with-amendment-gef.api-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/api-response-types/index.ts
  trade-finance-manager-ui/server/api-response-types/utilisation-report-reconciliation-details-response-body.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  utils/package.json
Due: eslint --fix, sort-package-json

feat(dtfs2-7075): update schema
  libs/common/src/schemas/payload.ts
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(FN-1615): add default value for fee record status column
  libs/common/src/sql-db-connection/migrations/1715613302494-AddFeeRecordStatusColumn.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
Due: eslint --fix

feat(FN-1615): add default value for fee record status column (#3107)
  libs/common/src/sql-db-connection/migrations/1715613302494-AddFeeRecordStatusColumn.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
Due: eslint --fix

feat(dtfs2-7141): add is trusted radio buttons
  portal/templates/admin/user-edit.njk
Due: none

feat(dtfs2-7141): add is trusted radio buttons
  portal/server/routes/admin/users.js
Due: eslint --fix

feat(FN-1615): fix migration adding status to work with ledger tables
  libs/common/src/sql-db-connection/migrations/1715613302494-AddFeeRecordStatusColumn.ts
Due: eslint --fix

feat(DTFS2-7054): use audit details consistently (#3061)
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/users/login.controller.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/sign-in-link.controller.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/amend-issued-facility.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.js
Due: eslint --fix

feat(dtfs2-7075): update schema
  libs/common/src/schemas/payload.ts
Due: eslint --fix

feat(dtfs2-7075): fix api tests
  portal-api/api-tests/api-test-users.js
Due: eslint --fix

feat(dtfs2-7075): update unit tests
  portal-api/src/crypto/utils.test.js
  portal-api/src/v1/users/sanitizeUserData.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix
