Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(tests): split up e2e tests - unissued facilities (#3482)
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/facility/pre-submission/about-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/bank-review-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facilities-change-facility-end-date-to-bank-review-date-journey.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facilities-change-from-details-journey.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facilities.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facility-confirm-deletion.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facility-currency.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facility-end-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facility-guarantee.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facility-value.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/provided-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-bank-review-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-all-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-issued-to-unissued-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-facility-end-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facility-change-from-preview-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facility-to-issued-cover-start-date-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-all-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-to-issued-3-months-after-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facility-change-from-preview-specialIssuedPermission-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/version-0/version-0-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/version-0/version-0-unissued-facility.spec.js
Due: eslint --fix

feat(dtfs2-6892): update teamIds type to be more consistant
  libs/common/src/types/tfm/team-id.ts
Due: eslint --fix

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(dtfs2-6892): removed unused teamIds type
  libs/common/src/types/tfm/team-id.ts
Due: eslint --fix

feat(dtfs2-6892): fixed GetUserResponse type to be accurate
  trade-finance-manager-api/src/types/auth/get-user-response.ts
Due: eslint --fix

fix(deployment): release deployment
  .github/workflows/deployment.yml
  .husky/pre-commit
Due: none

fix(deployment): release based deployment (#3516)
  .github/workflows/deployment.yml
Due: none

fix(deployment): release deployment
  .github/workflows/deployment.yml
Due: none

fix(deployment): release deployment (#3518)
  .github/workflows/deployment.yml
Due: none

fix(deployment): release deployment test
  .github/workflows/deployment.yml
Due: none

fix(deployment): release deployment test
  .github/workflows/deployment.yml
  .husky/pre-commit
Due: none

fix(deployment): deployment YAML syntax fix (#3520)
  .github/workflows/deployment.yml
Due: none

fix(deployment): git hook fix
  .husky/pre-commit
Due: none

fix(deployment): release deployment (#3522)
  .github/workflows/deployment.yml
Due: none

chore(tests): split up e2e tests - tf amendments
  .github/workflows/test.yml
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/show-amendment-button/AIN/show-amendment-button-AIN.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/show-amendment-button/MIA/show-amendment-button-MIA.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/show-amendment-button/MIN/show-amendment-button-MIN.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/show-amendment-button/show-amendment-button.spec.js
Due: eslint --fix

chore(tests): split up e2e tests - tfm amendments
  .github/workflows/test.yml
Due: none

feat(FN-2311): fix tests -- match groups component param naming
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.ts
Due: eslint --fix

fix(DTFS2-6655): replaced insertOneDeal with createBssDeal
  e2e-tests/portal/cypress/e2e/journeys/checker/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date.spec.js
  e2e-tests/portal/cypress/e2e/journeys/checker/return-a-deal-to-maker/return-deal-to-maker.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-filter-by-notice-type.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-filter-by-product.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-filter-by-status.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-filters-reset-after-navigating-away.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-filters.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-main-container-filter-remove.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-panel-filter-remove.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-facilities/dashboard-facilities-filters.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/abandon-a-deal.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/bss-mandatory-criteria.spec.js
  e2e-tests/portal/cypress/e2e/pages/dashboardDeals.js
  e2e-tests/portal/cypress/support/portal/createBssDeal.js
  portal/templates/dashboard/_macros/dashboard-deals-table.njk
Due: eslint --fix

feat(dtfs2-6616): add white space
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(dtfs2-6616): add white space
  azure-functions/acbs-function/mappings/facility/facility-guarantee-amend.js
Due: eslint --fix

fix(deployment): release based deployment (#3523)
  .github/workflows/deployment.yml
Due: none

feat(FN-2311): filter only premium payments (#3490)
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-report-reconciliation-details-by-id.api-test.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/parse-filters.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/parse-filters.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/utilisation-report-reconciliation-details.js
  libs/common/src/types/utilisation-reports.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-utilisation-report-reconciliation-details-by-id.controller/index.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.ts
  trade-finance-manager-ui/server/api-response-types/utilisation-report-reconciliation-details-response-body.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
  trade-finance-manager-ui/test-helpers/fee-record-payment-group-view-model-item.ts
  trade-finance-manager-ui/test-helpers/utilisation-report-reconciliation.ts
Due: eslint --fix

fix(deployment): release deployment (#3524)
  .github/workflows/deployment.yml
Due: none

chore(FN-3225): added e2e testing
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-monthly-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-quarterly-utilisation-report.spec.js
  e2e-tests/portal/cypress/fixtures/invalid-matching-utilisation-report-February_2023_monthly.csv
  e2e-tests/portal/cypress/fixtures/invalid-matching-utilisation-report-February_2024_quarterly.csv
Due: eslint --fix

feat(FN-2311): update field naming to include tab ref
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/payment-details-filters-form.component-test.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-details-filters-form.njk
Due: eslint --fix

feat(dtfs2-6616): update typo
  azure-functions/acbs-function/src/functions/acbs-amend-facility-guarantee-record.js
Due: eslint --fix

feat(dtfs2-6616): update error handling
  azure-functions/acbs-function/mappings/facility/facility-covenant-amend.js
  azure-functions/acbs-function/mappings/facility/facility-guarantee-amend.js
  azure-functions/acbs-function/src/functions/activity-update-facility-covenant.js
  azure-functions/acbs-function/src/functions/activity-update-facility-guarantee.js
Due: eslint --fix

chore(tests): fix/update test.yml
  .github/workflows/test.yml
Due: none

feat(FN-2311): update window typing
  trade-finance-manager-ui/scripts/moj-filter-hide.ts
Due: eslint --fix
