Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7834): fix failing tests
  libs/common/src/constants/utilisation-report-status-tag-colours.ts
  portal/component-tests/utilisation-report-service/_macros/report-reconciliation-status.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-status.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/keying-sheet-status.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/record-correction-table.component-test.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
Due: eslint --fix

feat(DTFS2-7834): code markups
  libs/common/src/types/status-tag-colours.ts
  portal/templates/utilisation-report-service/previous-reports/_macros/report-reconciliation-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/record-correction-status.njk
Due: eslint --fix

fix(DTFS2-6838): fixed failing unit test
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

feat(DTFS2-7834): standardised tag colours for E2ETF utilisation reports (#4262)
  libs/common/src/constants/index.ts
  libs/common/src/constants/utilisation-report-status-tag-colours.ts
  libs/common/src/types/index.ts
  libs/common/src/types/status-tag-colours.ts
  portal/component-tests/utilisation-report-service/_macros/report-reconciliation-status.component-test.js
  portal/server/controllers/utilisation-report-service/previous-reports/helpers/previous-reports-view-model-mapper.test.ts
  portal/server/controllers/utilisation-report-service/previous-reports/helpers/previous-reports-view-model-mapper.ts
  portal/server/controllers/utilisation-report-service/previous-reports/index.test.ts
  portal/server/types/view-models/previous-reports.ts
  portal/templates/utilisation-report-service/previous-reports/_macros/report-reconciliation-status.njk
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-status.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/keying-sheet-status.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/record-correction-table.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/record-correction-log-details/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/record-correction-log-details/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/types/view-models/record-correction/record-correction-log-details-view-model.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/check-keying-data-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-details-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/record-correction-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/record-correction-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/partials/keying-sheet-html.njk
  trade-finance-manager-ui/templates/utilisation-reports/partials/premium-payments-html.njk
  trade-finance-manager-ui/templates/utilisation-reports/partials/record-correction-log-html.njk
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/record-correction-log-details.njk
  trade-finance-manager-ui/test-helpers/test-data/view-models/record-corrections/create-record-correction-log-details-view-model.ts
Due: eslint --fix

chore(main): release 2.8.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): dependencies updates
  gef-ui/package.json
  package-lock.json
  package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(deps): updated cron schedule
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/purge.yml
Due: none

chore(deps): dependencies updates (#4263)
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/purge.yml
  gef-ui/package.json
  package-lock.json
  package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-7582): add getDealIdswithAmendmentsUnderway function
  portal/server/api.js
  portal/server/api.test.js
  portal/server/controllers/dashboard/deals/index.js
  portal/server/helpers/getDealIdsWithAmendmentsUnderway.js
  portal/server/helpers/getDealIdsWithAmendmentsUnderway.test.js
  portal/server/helpers/index.js
Due: eslint --fix

fix(DTFS2-7577): added timeout to heavy TFM API submission
  dtfs-central-api/package.json
  e2e-tests/ukef/cypress/e2e/journeys/utilisation-reports/utilisation-report-submission.spec.js
  external-api/package.json
  gef-ui/package.json
  gef-ui/server/services/api.js
  gef-ui/server/services/axios.js
  libs/common/src/constants/index.ts
  libs/common/src/constants/timeout.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal-api/src/v1/api.js
  portal/package.json
  portal/server/routes/middleware/virusScanUpload/index.js
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7851): address pr comments
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-all-amendments.controller.ts
  portal-api/api-tests/v1/gef/amendments/amendment-urls.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/get-all-amendments.controller.ts
Due: eslint --fix

fix(DTFS2-7577): amended docstrings
  e2e-tests/ukef/cypress/e2e/journeys/utilisation-reports/utilisation-report-submission.spec.js
Due: eslint --fix

fix(DTFS2-7577): amended docstrings
  package-lock.json
  portal/server/routes/middleware/virusScanUpload/index.js
Due: eslint --fix

fix(DTFS2-7577): added timeout to heavy TFM API submission (#4265)
  dtfs-central-api/package.json
  e2e-tests/ukef/cypress/e2e/journeys/utilisation-reports/utilisation-report-submission.spec.js
  external-api/package.json
  gef-ui/package.json
  gef-ui/server/services/api.js
  gef-ui/server/services/axios.js
  libs/common/src/constants/index.ts
  libs/common/src/constants/timeout.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal-api/src/v1/api.js
  portal/package.json
  portal/server/routes/middleware/virusScanUpload/index.js
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

chore(DTFS2-7431): resolved comments on PR
  e2e-tests/portal/cypress/e2e/journeys/checker/dashboard/dashboard.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-buyer-validation.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-financial-validation.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-clearing-data-via-next-page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/submit-bond-with-created-element.spec.js
Due: eslint --fix

feat(DTFS2-7851): address pr comments
  dtfs-central-api/api-tests/v1/portal-facility-amendments/all-amendments-get.api-test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
  portal-api/api-tests/v1/gef/amendments/all-amendments.get.api-test.ts
  portal-api/api-tests/v1/gef/amendments/amendment-urls.ts
Due: eslint --fix

chore(deployment): updated deployment cron schedule
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/purge.yml
Due: none

chore(deployment): updated deployment cron schedule (#4266)
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/purge.yml
Due: none

feat(DTFS2-7851): address pr comments
  dtfs-central-api/src/v1/controllers/portal/facility/get-all-amendments.controller.ts
  portal-api/src/v1/controllers/amendments/get-all-amendments.controller.ts
Due: eslint --fix

fix(DTFS2-6838): resolved comments on PR
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility-criteria.spec.js
  portal/server/routes/contract/eligibility/index.js
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

feat(DTFS2-7663): added maker email functionality for portal amendment submission
  dtfs-central-api/src/constants/email-template-ids.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-status-payload.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-status-payload.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.ts
  gef-ui/server/services/api.js
  gef-ui/server/types/deal.ts
  libs/common/src/constants/date-formats.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/test-helpers/mock-data/portal-amendment-to-checker-email-variables.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/patch-amendment-status.controller.ts
  portal-api/src/v1/controllers/amendments/patch-amendment-status.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.ts
Due: eslint --fix

feat(DTFS2-7663): fix failing tests and code improvements
  gef-ui/api-tests/amendments/check-your-answers.post.api-test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.test.ts
Due: eslint --fix

feat(DTFS2-7663): sonarcloud markup
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.ts
Due: eslint --fix

feat(DTFS2-7679): address pr comments
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/deal-summary-page-amendment-ready-for-checkers-approval.spec.js
  e2e-tests/ukef/cypress/support/portal/makerSubmitPortalAmendmentForReview.js
  gef-ui/component-tests/includes/application-preview/summary.component-test.js
  gef-ui/component-tests/includes/application-preview/task-comments.component-test.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/controllers/confirm-cover-start-date/index.test.js
  gef-ui/server/utils/submitted-amendment-details.js
  gef-ui/server/utils/submitted-amendment-details.test.js
  gef-ui/templates/includes/application-preview/summary.njk
  libs/common/src/constants/amendments.ts
  libs/common/src/constants/portal/deal-status.ts
Due: eslint --fix

feat(DTFS2-7679): fix tests
  e2e-tests/gef/cypress/e2e/application/application-details.spec.js
  e2e-tests/gef/cypress/e2e/checker/application-details-submit-to-checker.spec.js
  gef-ui/server/utils/submitted-amendment-details.js
  gef-ui/templates/includes/application-preview/summary.njk
Due: eslint --fix

feat(DTFS2-7679): change console error
  gef-ui/server/utils/submitted-amendment-details.js
Due: eslint --fix

feat(DTFS2-7851): add 404 to openapi
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

fix(DTFS2-6838): show validation errors on eligibility criteria page (#4258)
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility-criteria.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility-documentation.spec.js
  portal/server/routes/contract/eligibility/index.js
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

feat(DTFS2-7663): fix failing test and markuos
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-status-patch.api-test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.test.ts
  libs/common/src/test-helpers/mock-data/portal-amendment-to-checker-email-variables.ts
Due: eslint --fix

feat(DTFS2-7663): review markups
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-status-payload.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-status-payload.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.ts
  gef-ui/server/services/api.js
  libs/common/src/test-helpers/mock-data/portal-amendment-to-checker-email-variables.ts
  libs/common/src/types/portal/amendment.ts
  portal-api/api-tests/v1/gef/amendments/amendments-status.patch.api-test.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/patch-amendment-status.controller.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.ts
Due: eslint --fix

feat(DTFS2-7851): address pr comments add unit test
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.findAllPortalAmendmentsByStatus.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
Due: eslint --fix

feat(DTFS2-7663): fix failing test
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.test.ts
Due: eslint --fix

feat(DTFS2-7663): review markups
  dtfs-central-api/src/constants/email-template-ids.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.ts
Due: eslint --fix

feat(DTFS2-7663): review markups
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-status-patch.api-test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-status-payload.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.ts
  libs/common/src/test-helpers/mock-data/portal-amendment-to-checker-email-variables.ts
  portal-api/api-tests/v1/gef/amendments/amendments-status.patch.api-test.ts
  portal-api/src/v1/controllers/amendments/patch-amendment-status.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.test.ts
Due: eslint --fix

feat(DTFS2-7679): rename variable portal amendment in progress
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  dtfs-central-api/src/services/portal/facility-amendment.validateNoOtherAmendmentsUnderWayOnDeal.service.test.ts
  gef-ui/component-tests/includes/application-preview/facilities.component-test.js
  gef-ui/component-tests/includes/application-preview/summary.component-test.js
  gef-ui/component-tests/includes/application-preview/task-comments.component-test.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/controllers/confirm-cover-start-date/index.test.js
  gef-ui/server/services/__tests__/api.test.js
  gef-ui/server/utils/submitted-amendment-details.js
  gef-ui/server/utils/submitted-amendment-details.test.js
  gef-ui/templates/includes/application-preview/deal-submission-details.njk
  gef-ui/templates/includes/application-preview/facilities.njk
  gef-ui/templates/includes/application-preview/summary.njk
  gef-ui/templates/includes/application-preview/task-comments.njk
  libs/common/src/constants/amendments.ts
  portal-api/api-tests/v1/gef/amendments/amendmentsOnDeal.get.api-test.ts
Due: eslint --fix

feat(DTFS2-7663): added maker email functionality for portal amendment submission (#4267)
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-status-patch.api-test.ts
  dtfs-central-api/src/constants/email-template-ids.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-status-payload.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-status-payload.ts
  gef-ui/api-tests/amendments/check-your-answers.post.api-test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.ts
  gef-ui/server/services/api.js
  gef-ui/server/types/deal.ts
  libs/common/src/constants/date-formats.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/test-helpers/mock-data/portal-amendment-to-checker-email-variables.ts
  libs/common/src/types/portal/amendment.ts
  portal-api/api-tests/v1/gef/amendments/amendments-status.patch.api-test.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/patch-amendment-status.controller.ts
  portal-api/src/v1/controllers/amendments/patch-amendment-status.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-amendment-status-payload.ts
Due: eslint --fix

feat(DTFS2-7851): fix api test
  portal-api/api-tests/common-tests/role-authorisation-tests.js
  portal-api/api-tests/v1/gef/amendments/all-amendments.get.api-test.ts
Due: eslint --fix

feat(DTFS2-7851): fix api test remove throw error
  dtfs-central-api/src/v1/controllers/portal/facility/get-all-amendments.controller.ts
  portal-api/api-tests/common-tests/role-authorisation-tests.js
  portal-api/api-tests/v1/gef/amendments/all-amendments.get.api-test.ts
  portal-api/src/v1/controllers/amendments/get-all-amendments.controller.ts
Due: eslint --fix

chore(DTFS2-6685): remove real bank names from test data
  dtfs-central-api/api-tests/mocks/banks.ts
  dtfs-central-api/api-tests/mocks/test-users/portal-user.ts
  dtfs-central-api/api-tests/mocks/utilisation-reports/utilisation-report-reconciliation-summary.ts
  dtfs-central-api/api-tests/v1/bank/bank-get.api-test.js
  dtfs-central-api/api-tests/v1/bank/bank-post.api-test.js
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/src/repositories/banks-repo.test.ts
  libs/common/src/schemas/portal-user.schema.create.test.ts
  portal-api/api-tests/api-test-users.js
  portal-api/api-tests/v1/bonds/bond-change-cover-start-date-validation.api-test.js
  portal-api/api-tests/v1/bonds/bond-change-cover-start-date.api-test.js
  portal-api/api-tests/v1/bonds/bond-issue-facility.api-test.js
  portal-api/api-tests/v1/bonds/bonds.api-test.js
  portal-api/api-tests/v1/deals/deal-clone.api-test.js
  portal-api/api-tests/v1/deals/deal-comments.api-test.js
  portal-api/api-tests/v1/deals/deal-eligibility-criteria.api-test.js
  portal-api/api-tests/v1/deals/deal-eligibility-documentation.api-test.js
  portal-api/api-tests/v1/deals/deal-name.api-test.js
  portal-api/api-tests/v1/deals/deal-status-accepted.api-test.js
  portal-api/api-tests/v1/deals/deal-validation.api-test.js
  portal-api/api-tests/v1/deals/deals-status-accepted-facilities-cover-start-date.api-test.js
  portal-api/api-tests/v1/deals/deals-status-facilities.api-test.js
  portal-api/api-tests/v1/deals/deals-status-submitted-updates-unsubmitted-issued-facilities.api-test.js
  portal-api/api-tests/v1/deals/deals-status-submitted.api-test.js
  portal-api/api-tests/v1/deals/deals-submission-details-validation.api-test.js
  portal-api/api-tests/v1/deals/deals-submission-details.api-test.js
  portal-api/api-tests/v1/deals/deals.api-test.js
  portal-api/api-tests/v1/gef/clone-gef-deal.api-test.js
  portal-api/api-tests/v1/gef/files.api-test.js
  portal-api/api-tests/v1/loan/loan-change-cover-start-date-validation.api-test.js
  portal-api/api-tests/v1/loan/loan-change-cover-start-date.api-test.js
  portal-api/api-tests/v1/loan/loan-issue-facility.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-download.api-test.js
  portal/api-tests/utilisation-report-routes.api-test.js
  portal/server/routes/middleware/validateBankIdForUser/index.test.js
  portal/test-helpers/mock-banks.js
  trade-finance-manager-ui/server/test-mocks/mock-banks.ts
  trade-finance-manager-ui/server/test-mocks/mock-utilisation-report-reconciliation-summary.ts
  utils/mock-data-loader/banks/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
