Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(DTFS2-6678): fix e2e tests
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  e2e-tests/portal/cypress/e2e/pages/admin/users/createUser.js
  e2e-tests/portal/cypress/e2e/pages/admin/users/editUser.js
  e2e-tests/portal/cypress/e2e/pages/resetPassword.js
  e2e-tests/portal/db-client.js
  package-lock.json
  package.json
Due: eslint --fix, sort-package-json

refactor(DTFS2-6678): lint
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
Due: eslint --fix

fix(DTFS2-6678): remove auto-create password for new user as not needed
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/routes.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix

feat(FN-980): refactor & update tests
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
Due: eslint --fix

feat(DTFS2-6718): migrate update underwriters managers decision in tfm to rest (#2158)
  e2e-tests/tfm/cypress/e2e/journeys/case/activities/activities.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/underwriter-managers-decision.spec.js
  e2e-tests/tfm/cypress/support/commands.js
  e2e-tests/tfm/cypress/support/ui/type-without-delay.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-lead-underwriter.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-underwriter-managers-decision.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-task.api-test.js
  trade-finance-manager-api/src/graphql/resolvers/mutation-update-underwriter-managers-decision.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/find-one-team.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/index.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal-underwriter-managers-decision.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.update-tfm-underwriter-managers-decision.test.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails-tfm-tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/task-emails.api-test.js
  trade-finance-manager-api/src/v1/controllers/tasks.api-test.js
  trade-finance-manager-api/src/v1/deals/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/underwriter-managers-decision/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/underwriter-managers-decision/index.test.js
  trade-finance-manager-ui/server/graphql/mutations/update-underwriter-managers-decision.js
Due: eslint --fix

feat(FN-997): take in file size as an environment variable
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  portal/server/routes/middleware/virusScanUpload/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

chore(FN-684): Remove unnecessary code (#2150)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
  infrastructure/resource_group_level/modules/privatelink-mongo-cosmos-azure-com.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(FN-927): wire up tfm-ui url (#2146)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-connection-strings.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-no-connection-strings.bicep
Due: none

feat(FN-1203): disable function-acbs in non-prod environments (#2143)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
Due: none

chore(DTFS2-6182): remove unnecessary TODO
  trade-finance-manager-api/src/v1/deals/routes.js
Due: eslint --fix

refactor(DTFS2-6182): rename dealsRouter to dealsAuthRouter
  trade-finance-manager-api/src/v1/deals/routes.js
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

fix(DTFS2-6182): remove auth check from PUT /deals/submit in TFM API
  trade-finance-manager-api/src/v1/deals/routes.js
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

fix(DTFS2-6182): fix typo
  trade-finance-manager-api/src/v1/graphql-mappings/filters/filterActivities.api-test.js
Due: eslint --fix

feat(FN-980): list previous reports backend (#2153)
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/portal/utilisation-report-service/previous-reports.controller.js
  dtfs-central-api/src/v1/routes/portal-routes.js
  dtfs-central-api/src/v1/validation/route-validators/route-validators.js
  dtfs-central-api/src/v1/validation/route-validators/validation-handler.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/previous-reports/list-previous-reports.spec.js
  portal-api/api-tests/fixtures/utilisation-report-service/reports.js
  portal-api/api-tests/v1/utilisation-report-service/previous-reports.api-test.js
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/index.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
  portal-api/src/v1/roles/roles.js
  portal-api/src/v1/routes.js
  portal-api/src/v1/validation/route-validators/route-validators.js
  portal-api/src/v1/validation/route-validators/validation-handler.js
  portal-api/src/v1/validation/validateIds.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/previous-reports/data.json
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
  portal/server/controllers/utilisation-report-service/previous-reports/index.test.js
  portal/server/validation/validate-ids.js
Due: eslint --fix, sort-package-json

fix(DTFS2-6182): remove passport from put deals submit (#2162)
  trade-finance-manager-api/src/v1/deals/routes.js
  trade-finance-manager-api/src/v1/graphql-mappings/filters/filterActivities.api-test.js
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

refactor(DTFS2-6678): create Cypress command for user setting password
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/userSetPassword.js
Due: eslint --fix

feat(FN-974): refactor
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix

refactor(DTFS2-6678): lint
  e2e-tests/portal/cypress/support/portal/userSetPassword.js
Due: eslint --fix

feat(FN-974): formatting
  portal/server/api.js
Due: eslint --fix

feat(FN-967): wip add repos and controllers for saving data to azure/database
  dtfs-central-api/src/constants/db_collections.js
  dtfs-central-api/src/constants/utilisationReportHeaders.js
  dtfs-central-api/src/services/repositories/utilisation-data-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisationEE-report-upload.controller.js
Due: eslint --fix

feat(FN-980): update error handling
  dtfs-central-api/src/v1/controllers/portal/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
Due: eslint --fix

feat(DTFS2-6182): move update tasks to rest
  trade-finance-manager-api/api-tests/api.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-lead-underwriter.api-test.js
  trade-finance-manager-api/api-tests/v1/tasks/tasks-update-task.api-test.js
  trade-finance-manager-api/src/graphql/resolvers/mutation-update-task.js
  trade-finance-manager-api/src/v1/controllers/tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/tasks.controller.js
  trade-finance-manager-api/src/v1/graphql-mappings/mappings/facilities/mapPremiumSchedule.api-test.js
  trade-finance-manager-api/src/v1/graphql-mappings/mappings/facilities/mapTenor.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/tasks/routes.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/constants/regex.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/helpers/validateIds.js
Due: eslint --fix

feat(DTFS2-6182): move update tasks to rest
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

fix(DTFS2-6678): remove auto-create password for new user as not needed (#2148)
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  e2e-tests/portal/cypress/e2e/pages/admin/users/createUser.js
  e2e-tests/portal/cypress/e2e/pages/admin/users/editUser.js
  e2e-tests/portal/cypress/e2e/pages/resetPassword.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/userSetPassword.js
  e2e-tests/portal/db-client.js
  package-lock.json
  package.json
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/routes.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix, sort-package-json

feat(DTFS2-6182): move update tasks to rest
  trade-finance-manager-api/api-tests/v1/tasks/tasks-update-task.api-test.js
Due: eslint --fix

feat(dtfs2-6716):replace graphql update task in tfm with rest (#2160)
  trade-finance-manager-api/api-tests/api.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-lead-underwriter.api-test.js
  trade-finance-manager-api/api-tests/v1/tasks/tasks-update-task.api-test.js
  trade-finance-manager-api/src/graphql/resolvers/mutation-update-task.js
  trade-finance-manager-api/src/v1/controllers/tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/tasks.controller.js
  trade-finance-manager-api/src/v1/graphql-mappings/mappings/facilities/mapPremiumSchedule.api-test.js
  trade-finance-manager-api/src/v1/graphql-mappings/mappings/facilities/mapTenor.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/tasks/routes.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/constants/regex.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/helpers/validateIds.js
Due: eslint --fix

feat(FN-977): let portal depend on clamav service
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  portal/server/routes/middleware/virusScanUpload/index.js
Due: eslint --fix

chore(DTFS2-6182): add todos
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/activity/index.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/facilities/index.js
Due: eslint --fix

chore(DTFS2-6182): remove unnecessary TODOs
  trade-finance-manager-api/src/v1/api.js
Due: eslint --fix

feat(DTFS2-6182): move task and activity filter for getDeal to query params
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/activity/index.js
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

feat(DTFS2-6182): use query params for searching all TFM facilities
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/facilities/index.js
  trade-finance-manager-ui/server/controllers/facilities/index.test.js
Due: eslint --fix

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/mock-data-loader/package-lock.json
Due: sort-package-json

fix(DTFS2-6182): handle missing filters
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

fix(mongodb): changed mongodb version to 4.17.0 from 4.2.0
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  portal-api/package-lock.json
  portal-api/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
Due: sort-package-json

feat(FN-967): add api calls from portal to portal API to central
  dtfs-central-api/src/services/repositories/utilisation-data-repo.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisationEE-report-upload.controller.js
  portal-api/src/v1/routes.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(fn 997): file type validation and virus scanning (#2152)
  .github/workflows/feature_deploy.yml
  .github/workflows/test.yml
  .gitignore
  cspell.json
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirmation.spec.js
  e2e-tests/portal/cypress/fixtures/password-protected-report.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report.xlsx
  portal/package-lock.json
  portal/package.json
  portal/server/constants/file-upload.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/middleware/index.js
  portal/server/routes/middleware/virusScanUpload/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/multer-filter.utils.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6182): remove new mapper functions & replace all UI calls for getFacility endpoint
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/mappings/map-facility.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendCoverEndDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendFacilityValue.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentOptions.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentRequestDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/managersConditionsAndComments.controller.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/facility-risk-profile/index.js
Due: eslint --fix

feat(DTFS2-6182): replace qraphql endpoint with rest & wip refactor
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/mappings/map-facility.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix
