Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(FN): review mark ups
  .github/workflows/notify.yml
Due: none

fix(DTFS2-6713): removed cronjobmanager
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  .github/workflows/test.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  external-api/package-lock.json
  external-api/package.json
  external-api/src/cron/eStoreCronJobManager.ts
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
  gef-ui/package.json
  package-lock.json
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

fix(DTFS2-6713): removed cronjobmanager
  external-api/src/v1/controllers/estore/eStore.controller.ts
  utils/mock-data-loader/tfm/api.js
Due: eslint --fix

feat(FN-1861): log heap usage for testing
  portal-api/package.json
Due: sort-package-json

feat(FN-1249): wip review comments
  dtfs-central-api/src/cron-scheduler-jobs/create-utilisation-reports/index.ts
  dtfs-central-api/src/cron-scheduler-jobs/create-utilisation-reports/utilisation-report-period-schedule-validator.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.test.ts
  dtfs-central-api/src/v1/controllers/bank/get-next-report-period-by-bank.controller.js
  dtfs-central-api/src/v1/routes/bank-routes.js
Due: eslint --fix

feat(FN-1861): revert to fixed value for jest worker refresh limit
  portal-api/api-test.jest.config.js
  portal-api/package.json
Due: eslint --fix, sort-package-json

feat(FN-1862): remove state machine mocks and improve tests
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/put-utilisation-report-status.controller/index.test.ts
Due: eslint --fix

feat(DTFS2-6892): unit test improvements for TFM-UI and TFM-API
  trade-finance-manager-api/src/v1/controllers/user/helpers/generateArrayOfEmailsRegex.test.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/handleFindByEmailsResult.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.test.js
  trade-finance-manager-ui/server/controllers/login/index.handleSsoRedirect.test.ts
  trade-finance-manager-ui/server/controllers/login/index.login.test.ts
  trade-finance-manager-ui/server/controllers/login/index.logout.test.ts
  trade-finance-manager-ui/server/controllers/login/index.test.ts
  trade-finance-manager-ui/server/controllers/login/loginService.js
  trade-finance-manager-ui/server/controllers/login/loginService.test.ts
Due: eslint --fix

feat(DTFS2-6965): deploy with extra logging
  .github/workflows/feature_deploy.yml
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
Due: eslint --fix

feat(FN-1861): increase timeout on long running test
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
Due: eslint --fix

feat(DTFS2-6965): temporarily disable deploying unnecessary apps for speed
  .github/workflows/feature_deploy.yml
Due: none

fix(DTFS2-6713): updated CRON e execution logic
  .env.sample
  external-api/package.json
  external-api/src/cron/eStoreDealFolderCreationJob.cron.ts
  external-api/src/cron/eStoreFacilityFolderCreationJob.cron.ts
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/cron/index.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
  package-lock.json
Due: eslint --fix, sort-package-json

feat(DTFS2-6862): update to review comments
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.ts
  dtfs-central-api/src/cron-scheduler-jobs/index.ts
  dtfs-central-api/src/services/repositories/durable-functions-repo.test.ts
  dtfs-central-api/src/services/repositories/durable-functions-repo.ts
  libs/common/src/constants/durable-functions-log.constant.ts
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
Due: eslint --fix

feat(DTFS2-6862): update to review comments
  dtfs-central-api/src/services/repositories/durable-functions-repo.test.ts
Due: eslint --fix

feat(DTFS2-6965): narrow types to allowed change stream documents
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  dtfs-central-api/src/services/changeStream/setupChangeStream.ts
Due: eslint --fix

feat(DTFS2-6892): improve login controller/service documentation
  trade-finance-manager-ui/server/controllers/login/index.js
  trade-finance-manager-ui/server/controllers/login/loginService.js
Due: eslint --fix

feat(DTFS2-6965): formatting
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  dtfs-central-api/src/services/changeStream/setupChangeStream.ts
Due: eslint --fix

feat(DTFS2-6965): revert feature_deploy changes
  .github/workflows/feature_deploy.yml
Due: none

revert(dtfs2-NONE): revert remove moment from azure-functions (#2852)
  azure-functions/acbs-function/helpers/date.add-day.test.js
  azure-functions/acbs-function/helpers/date.add-month.test.js
  azure-functions/acbs-function/helpers/date.add-year.test.js
  azure-functions/acbs-function/helpers/date.format-timestamp.test.js
  azure-functions/acbs-function/helpers/date.get-date-string-from-year-month-day.test.js
  azure-functions/acbs-function/helpers/date.get-inclusive-month-difference.test.js
  azure-functions/acbs-function/helpers/date.get-year-and-mmdd.test.js
  azure-functions/acbs-function/helpers/date.is-epoch.test.js
  azure-functions/acbs-function/helpers/date.is-string.test.js
  azure-functions/acbs-function/helpers/date.js
  azure-functions/acbs-function/mappings/deal/deal.js
  azure-functions/acbs-function/mappings/deal/helpers/get-deal-effective-date.js
  azure-functions/acbs-function/mappings/deal/helpers/get-deal-guarantee-expiry-date.js
  azure-functions/acbs-function/mappings/facility/helpers/get-exposure-period.js
  azure-functions/acbs-function/mappings/facility/helpers/get-issue-date.js
  azure-functions/acbs-function/mappings/facility/helpers/get-next-quarter-date.js
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/acbs-function/test-helpers/date-formats.js
  package-lock.json
Due: eslint --fix, sort-package-json

fix(DTFS2-NONE): fix error handling in mock data loader
  utils/mock-data-loader/api.js
Due: eslint --fix

revert(DTFS2-none): revert refactor and add test coverage to azure-functions date helper
  .github/workflows/test.yml
  azure-functions/acbs-function/acbs-http/index.api-test.js
  azure-functions/acbs-function/activity-create-code-value-transaction/index.js
  azure-functions/acbs-function/activity-create-deal-guarantee/index.js
  azure-functions/acbs-function/activity-create-deal-investor/index.js
  azure-functions/acbs-function/activity-create-deal/index.js
  azure-functions/acbs-function/activity-create-facility-covenant/index.js
  azure-functions/acbs-function/activity-create-facility-fee/index.js
  azure-functions/acbs-function/activity-create-facility-guarantee/index.js
  azure-functions/acbs-function/activity-create-facility-investor/index.js
  azure-functions/acbs-function/activity-create-facility-loan/index.js
  azure-functions/acbs-function/activity-create-facility-master/index.js
  azure-functions/acbs-function/activity-create-party/index.js
  azure-functions/acbs-function/activity-update-facility-loan-amount/index.js
  azure-functions/acbs-function/activity-update-facility-loan/index.js
  azure-functions/acbs-function/activity-update-facility-master/index.js
  azure-functions/acbs-function/helpers/date.add-day.test.js
  azure-functions/acbs-function/helpers/date.add-month.test.js
  azure-functions/acbs-function/helpers/date.add-year.test.js
  azure-functions/acbs-function/helpers/date.format-date.test.js
  azure-functions/acbs-function/helpers/date.format-timestamp.test.js
  azure-functions/acbs-function/helpers/date.format-year.test.js
  azure-functions/acbs-function/helpers/date.get-date-string-from-year-month-day.test.js
  azure-functions/acbs-function/helpers/date.get-inclusive-month-difference.test.js
  azure-functions/acbs-function/helpers/date.get-now-as-iso-string.test.js
  azure-functions/acbs-function/helpers/date.is-date.test.js
  azure-functions/acbs-function/helpers/date.is-epoch.test.js
  azure-functions/acbs-function/helpers/date.is-string.test.js
  azure-functions/acbs-function/helpers/date.js
  azure-functions/acbs-function/helpers/date.now.test.js
  azure-functions/acbs-function/mappings/facility/helpers/get-exposure-period.js
  azure-functions/acbs-function/mappings/facility/helpers/get-exposure-period.test.js
  azure-functions/acbs-function/mappings/facility/helpers/get-fee-frequency-months.js
  azure-functions/acbs-function/package.json
  azure-functions/acbs-function/test-helpers/date-formats.js
  azure-functions/acbs-function/testing/defaultContext.js
  azure-functions/acbs-function/testing/defaultTimer.js
  azure-functions/acbs-function/unit.jest.config.js
  package-lock.json
Due: eslint --fix, sort-package-json

fix(DTFS2-NONE): fix error handling in mock data loader (#2899)
  utils/mock-data-loader/api.js
Due: eslint --fix

fix(DTFS2-6713): added missing types on relevant argument
  .env.sample
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/cron/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/helpers/validIds.api-test.ts
  external-api/src/helpers/validIds.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
  trade-finance-manager-api/src/v1/helpers/dealHasAllUkefIds.api-test.js
Due: eslint --fix

feat(FN-2183): remove references to utilisation data
  dtfs-central-api/src/repositories/fee-record-repo/fee-record.repo.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
Due: eslint --fix

chore(FN-1853): update mongo db connection strings
  .github/workflows/test.yml
  utils/mock-data-loader/database/database.config.js
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix

feat(DTFS2-6965): fix tests
  dtfs-central-api/src/services/changeStream/changeStreamApi.test.ts
Due: eslint --fix

fix(DTFS2-6713): fixed unit test cases
  external-api/src/helpers/validIds.api-test.ts
  external-api/src/helpers/validIds.test.ts
Due: eslint --fix

feat(DTFS2-6862): add cron job to delete acbs logs (#2892)
  .env.sample
  .github/workflows/test.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.ts
  dtfs-central-api/src/cron-scheduler-jobs/index.ts
  dtfs-central-api/src/errors/database.error.test.ts
  dtfs-central-api/src/errors/database.error.ts
  dtfs-central-api/src/errors/index.ts
  dtfs-central-api/src/errors/write-concern.error.test.ts
  dtfs-central-api/src/errors/write-concern.error.ts
  dtfs-central-api/src/services/repositories/durable-functions-repo.test.ts
  dtfs-central-api/src/services/repositories/durable-functions-repo.ts
  dtfs-central-api/src/v1/controllers/durable-functions/durable-functions.controller.js
  external-api/src/v1/errors/invalid-entity-type.error.test.ts
  external-api/src/v1/errors/invalid-entity-type.error.ts
  libs/common/src/constants/durable-functions-log.constant.ts
  libs/common/src/constants/index.ts
  libs/common/src/cron-scheduler/scheduler.types.ts
  libs/common/src/index.ts
  trade-finance-manager-api/src/constants/durable-functions.js
  trade-finance-manager-api/src/constants/index.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
Due: eslint --fix

feat(DTFS2-6892): tfm-api, tfm-ui - documentation, comments, tests
  e2e-tests/tfm/cypress.config.js
  trade-finance-manager-api/src/v1/controllers/user/passport.js
  trade-finance-manager-api/src/v1/errors/index.js
  trade-finance-manager-ui/scripts/sso-auto-submit.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/home/index.test.ts
  trade-finance-manager-ui/server/controllers/login/index.js
  trade-finance-manager-ui/templates/_partials/beta-banner.njk
  utils/mock-data-loader/api.js
Due: eslint --fix

feat(DTFS2-6892): maybe lint autofix
  utils/mock-data-loader/tfm/api.js
Due: eslint --fix

feat(FN-1862): change event handler test
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/manually-set-incomplete/manually-set-incomplete.event-handler.test.ts
Due: eslint --fix

feat(DTFS2-6965): fix operation types (#2897)
  dtfs-central-api/src/services/changeStream/changeStreamApi.test.ts
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  dtfs-central-api/src/services/changeStream/setupChangeStream.ts
Due: eslint --fix

feat(DTFS2-6892): beta banner should have long dash - instead of short dash -
  e2e-tests/tfm/cypress/e2e/journeys/login/login.spec.js
Due: eslint --fix

feat(FN-1861): rename test
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports.api-test.ts
Due: eslint --fix

feat(FN-2331): update title on check report page to mention error
  portal/templates/utilisation-report-service/utilisation-report-upload/check-the-report.njk
Due: none

feat(FN-2334): update h1 and labels on previous reports page
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
Due: none

feat(FN-2334): update component tests
  portal/component-tests/utilisation-report-service/previous-reports.component-test.js
Due: eslint --fix

feat(FN-1862): add another describe block to controller test
  dtfs-central-api/src/v1/controllers/utilisation-report-service/put-utilisation-report-status.controller/index.test.ts
Due: eslint --fix

feat(DTFS2-6933): add API tests for DTFS Central sorting/pagination of facilities
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-sorting.api-test.js
  dtfs-central-api/src/utils/getObjectPropertyValueFromStringPath.js
Due: eslint --fix

refactor(DTFS2-6933): lint
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-sorting.api-test.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
