Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(DTFS2-8450): refactor tests to address comments
  gef-ui/api-tests/about-facility.api-test.js
  gef-ui/api-tests/provided-facility.api-test.js
Due: eslint --fix

fix(DTFS-8530): improve auditDeatils update
  trade-finance-manager-api/server/v1/controllers/amendment.controller-sendFacilityAmendment.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

chore(DTFS2-8256): update post login api test as per the comment
  portal-ui/api-tests/login/post-login.api-test.ts
Due: eslint --fix

feat(DTFS2-25605): added verify subscription step
  .github/workflows/bicep_infrastructure.yml
Due: none

chore(DTFS2-8256): refactor to use jeft fn mocks in tests
  portal-ui/api-tests/login/get-check-your-email.api-test.ts
  portal-ui/api-tests/login/get-sign-in-link-expired.api-test.ts
  portal-ui/api-tests/login/send-new-sign-in-link-api-tests.ts
Due: eslint --fix

chore(DTFS2-8256): update post-login-api-test.ts to add missing tests
  portal-ui/api-tests/login/post-login.api-test.ts
Due: eslint --fix

chore(DTFS2-8453): update application-submission-api test to use promise-all
  gef-ui/api-tests/application-submission.api-test.js
Due: eslint --fix

fix(DTFS2-8530): amend a gift facility - sent to apim/gift check (#4903)
  dtfs-central-api/server/v1/routes/middleware/payload-validation/validate-put-facility-amendment-payload.test.ts
  dtfs-central-api/server/v1/routes/middleware/payload-validation/validate-put-facility-amendment-payload.ts
  trade-finance-manager-api/api-tests/v1/amendments/send-facility-amendment.api-test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller-apimGiftHelpers.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller-sendFacilityAmendment.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller-updateFacilityAmendment.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

fix(DTFS2-8538): readability improvements, fix typo
  dtfs-central-api/server/v1/controllers/tfm/amendments/tfm-get-amendments.controller.ts
Due: eslint --fix

chore(DTFS2-8538): fix typo
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.ts
Due: eslint --fix

fix(DTFS2-8538): amend a gift facility amount - cover percentage
  trade-finance-manager-api/server/v1/controllers/amendment.controller-apimGiftHelpers.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller-sendFacilityAmendment.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

chore(DTFS2-8519): stop tracking chores on release-please (#4904)
  release-please-config.json
Due: none

fix(DTFS2-8538): markups
  trade-finance-manager-api/server/v1/controllers/amendment.controller-apimGiftHelpers.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

Saving release notes
  release-notes.md
Due: none

chore((release-3.2.0)): release dtfs 3.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Revert "chore(DTFS2-8519): stop tracking chores on release-please (#4904)"
  release-please-config.json
Due: none

revert(DTFS2-8519): revert removing tracking chore changes (#4906)
  release-please-config.json
Due: none

fix(DTFS2-8538): markups
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.ts
Due: eslint --fix

chore(DTFS2-8408): gef-ui happy path api tests (#4761)
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/common-tests/clone-mock.js
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/security-details.api-test.js
Due: eslint --fix

chore(DTFS2-8365): handle new credit rating format for ACBS mapping
  azure-functions/acbs/constants/deal.js
  azure-functions/acbs/mappings/facility/helpers/get-credit-rating-code.js
  azure-functions/acbs/mappings/facility/helpers/get-credit-rating-code.test.js
Due: eslint --fix

fix(DTFS2-8538): amend a gift facility amount - cover percentage (#4905)
  dtfs-central-api/server/v1/controllers/tfm/amendments/tfm-get-amendments.controller.ts
  trade-finance-manager-api/server/v1/controllers/amendment.controller-apimGiftHelpers.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller-sendFacilityAmendment.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.ts
Due: eslint --fix

feat(DTFS2-25605): commented infra code provision to test resource group creation
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-25605): removed subscription id from workflow
  .github/workflows/bicep_infrastructure.yml
Due: none

chore(DTFS2-8365): review markups
  azure-functions/acbs/mappings/facility/helpers/get-credit-rating-code.js
Due: eslint --fix

chore(DTFS2-8408): refactor about facility api test
  gef-ui/api-tests/about-facility.api-test.js
Due: eslint --fix

chore(DTFS2-8365): handle new credit rating format for ACBS mapping (#4908)
  azure-functions/acbs/constants/deal.js
  azure-functions/acbs/mappings/facility/helpers/get-credit-rating-code.js
  azure-functions/acbs/mappings/facility/helpers/get-credit-rating-code.test.js
Due: eslint --fix

chore(DTFS2-8450): update facility currency api test
  gef-ui/api-tests/facility-currency.api-test.js
Due: eslint --fix

fix(DTFS2-8432): amend a gift facility - fallback effective date
  trade-finance-manager-api/server/v1/controllers/amendment.controller-apimGiftHelpers.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

fix(DTSF2-8432): markups
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

fix(DTFS2-8432): markups
  trade-finance-manager-api/server/v1/controllers/amendment.controller-apimGiftHelpers.test.js
Due: eslint --fix

chore(deps): update feedback controller portal-ui
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/sanitise-feedback-response.ts
  libs/common/src/helpers/sanitise-value.test.ts
  libs/common/src/helpers/sanitise-value.ts
  libs/common/src/helpers/santise-feedback-response.test.ts
  package-lock.json
  portal-api/server/v1/controllers/feedback.controller.js
  trade-finance-manager-api/package.json
  trade-finance-manager-api/server/v1/controllers/feedback-controller.js
  trade-finance-manager-api/server/v1/helpers/sanitise-feedback-response.test.js
Due: eslint --fix, sort-package-json

chore(deps): update dependencies (#4846)
  .github/workflows/sca.yml
  dtfs-central-api/api-tests/v1/utilisation-reports/get-fee-record.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-payment-details-by-id.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-record-correction-log-details.api-test.ts
  dtfs-central-api/package.json
  dtfs-central-api/tsconfig.json
  e2e-tests/package.json
  e2e-tests/tsconfig.json
  external-api/package.json
  external-api/server/v1/controllers/estore/eStoreApi.ts
  external-api/tsconfig.json
  gef-ui/package.json
  gef-ui/tsconfig.json
  libs/common/package.json
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/sanitise-feedback-response.ts
  libs/common/src/helpers/sanitise-value.test.ts
  libs/common/src/helpers/sanitise-value.ts
  libs/common/src/helpers/santise-feedback-response.test.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal-api/server/v1/controllers/feedback.controller.js
  portal-api/tsconfig.json
  portal-ui/package.json
  portal-ui/tsconfig.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/server/v1/controllers/feedback-controller.js
  trade-finance-manager-api/tsconfig.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/tsconfig.json
  utils/package.json
  utils/tsconfig.json
Due: eslint --fix, sort-package-json

feat(DTFS2-25605): added normalisation for params
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-25605): addressed inline parameter string line error
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-25605): fixed the path available to export
  .github/workflows/bicep_infrastructure.yml
Due: none

fix(DTFS2-8432): amend a gift facility - fallback effective date (#4914)
  trade-finance-manager-api/server/v1/controllers/amendment.controller-apimGiftHelpers.test.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

chore(deps): update dependencies and patch vulnerabilities
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/public/js/enableFindReportsByYearDropdown.js.map
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js.map
  trade-finance-manager-ui/public/js/govukFrontend.js
  trade-finance-manager-ui/public/js/govukFrontend.js.map
  trade-finance-manager-ui/public/js/jsEnabled.js
  trade-finance-manager-ui/public/js/jsEnabled.js.map
  trade-finance-manager-ui/public/js/main.js.map
  trade-finance-manager-ui/public/js/mojFilterHide.js
  trade-finance-manager-ui/public/js/mojFilterHide.js.LICENSE.txt
  trade-finance-manager-ui/public/js/mojFilterHide.js.map
  trade-finance-manager-ui/public/js/mojFrontend.js
  trade-finance-manager-ui/public/js/mojFrontend.js.LICENSE.txt
  trade-finance-manager-ui/public/js/mojFrontend.js.map
  trade-finance-manager-ui/public/js/ssoRedirectAutoSubmit.js.map
Due: eslint --fix, sort-package-json

chore(DTFS2-8543): convert sign in link api tests to typescript
  libs/common/src/types/api-response.ts
  libs/common/src/types/index.ts
  libs/common/src/types/request-headers.ts
  libs/common/src/types/session-cookie-response.ts
  portal-ui/api-tests/common-tests/partial-2fa-auth-validation-api-tests.js
  portal-ui/api-tests/common-tests/role-validation-api-tests.js
  portal-ui/api-tests/common-tests/role-validation-api-tests.ts
  portal-ui/api-tests/login/account-suspended-api-test.js
  portal-ui/api-tests/login/get-check-your-email.api-test.js
  portal-ui/api-tests/login/get-login.api-test.js
  portal-ui/api-tests/login/get-sign-in-link-expired.api-test.js
  portal-ui/api-tests/login/helpers/partial-2fa-auth-validation-api-tests.ts
  portal-ui/api-tests/login/other-login-routes.api-test.js
  portal-ui/api-tests/login/post-check-your-email.api-test.js
  portal-ui/api-tests/login/post-login.api-test.js
  portal-ui/api-tests/login/post-sign-in-link-expired.api-test.js
  portal-ui/api-tests/login/send-new-sign-in-link-api-tests.js
  portal-ui/api-tests/login/sign-in-link/get-check-your-email.api-test.ts
  portal-ui/api-tests/login/sign-in-link/get-login.api-test.ts
  portal-ui/api-tests/login/sign-in-link/get-sign-in-link-expired.api-test.ts
  portal-ui/api-tests/login/sign-in-link/login-with-sign-in-link.api-test.ts
  portal-ui/api-tests/login/sign-in-link/other-login-routes.api-test.ts
  portal-ui/api-tests/login/sign-in-link/post-check-your-email.api-test.ts
  portal-ui/api-tests/login/sign-in-link/post-login.api-test.ts
  portal-ui/api-tests/login/sign-in-link/post-sign-in-link-expired.api-test.ts
  portal-ui/api-tests/login/sign-in-link/send-new-sign-in-link-api-tests.ts
Due: eslint --fix

chore(DTFS2-8543): update request-headers ts type
  libs/common/src/types/request-headers.ts
Due: eslint --fix
