Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7811): validate amendment assigned to maker (#4227)
  gef-ui/.eslintrc.js
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.ts
  gef-ui/server/controllers/amendments/cancel-amendment/cancel-portal-facility-amendment.get.test.ts
  gef-ui/server/controllers/amendments/cancel-amendment/cancel-portal-facility-amendment.ts
  gef-ui/server/controllers/amendments/check-your-answers/get-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/get-check-your-answers.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/get-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/get-do-you-have-a-facility-end-date.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.ts
  gef-ui/server/controllers/amendments/facility-value/get-currency-symbol.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-currency-symbol.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.ts
  gef-ui/server/controllers/amendments/manual-approval-needed/get-manual-approval-needed.test.ts
  gef-ui/server/controllers/amendments/manual-approval-needed/get-manual-approval-needed.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.ts
  gef-ui/test-helpers/with-amendment-get-controller.tests.ts
  libs/common/src/constants/amendments.ts
Due: eslint --fix

feat(dtfs2-6892): fix issue regarding header token on record correction endpoint
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(DTFS2-7533): post cancel amendment
  gef-ui/server/middleware/index.js
  gef-ui/server/middleware/validateMongoId/index.js
  gef-ui/server/routes/facilities/amendments/index.ts
  libs/common/src/middleware/index.ts
  libs/common/src/middleware/validate-mongoId/index.ts
  libs/common/src/middleware/validate-mongoId/validate-mongoId.test.ts
  libs/common/src/middleware/validate-mongoId/validate-mongoId.ts
Due: eslint --fix

feat(dtfs2-6892): fix tests
  trade-finance-manager-ui/server/routes/index.test.js
Due: eslint --fix

chore(FN-3849): implement due report initialised event (#4226)
  dtfs-central-api/src/cron-scheduler-jobs/create-utilisation-reports/index.test.ts
  dtfs-central-api/src/cron-scheduler-jobs/create-utilisation-reports/index.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/due-report-initialised/due-report-initialised.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/due-report-initialised/due-report-initialised.event-handler.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/utilisation-report.state-machine.test.ts
Due: eslint --fix

feat(DTFS2-6892): add redirect to previous page on log in (#4194)
  libs/common/src/test-helpers/mock-builders/mock-builder.mock.builder.ts
  libs/common/src/test-helpers/mock-data/authorisation-url-request.mock.ts
  libs/common/src/test-helpers/mock-data/get-auth-code-url-request.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/types/tfm/get-auth-code.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.get-auth-code-url.test.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-login.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-logout.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.handle-sso-redirect-form.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/middleware/user-validation.js
  trade-finance-manager-ui/server/middleware/user-validation.test.ts
  trade-finance-manager-ui/server/middleware/user-validation.ts
  trade-finance-manager-ui/server/routes/auth/configs/unauthenticated-auth-sso.ts
  trade-finance-manager-ui/server/routes/login/configs/login-sso.ts
  trade-finance-manager-ui/server/services/login.service.get-auth-code-url.test.ts
  trade-finance-manager-ui/server/services/login.service.handle-sso-redirect-form.test.ts
  trade-finance-manager-ui/server/services/login.service.ts
  trade-finance-manager-ui/server/services/user-session.service.create-logged-in-session.test.ts
  trade-finance-manager-ui/server/services/user-session.service.create-partially-logged-in-session.test.ts
  trade-finance-manager-ui/server/services/user-session.service.ts
  trade-finance-manager-ui/test-helpers/mocks/index.ts
  trade-finance-manager-ui/test-helpers/mocks/login.service.mock.builder.ts
  trade-finance-manager-ui/test-helpers/mocks/user-session.service.mock.builder.ts
  trade-finance-manager-ui/test-helpers/test-data/a-request-session.ts
  trade-finance-manager-ui/test-helpers/test-data/index.ts
  trade-finance-manager-ui/test-helpers/test-data/partially-logged-in-session.ts
Due: eslint --fix

feat(dtfs2-6892): fixes to sso following local running (#4166)
  docker-compose.yml
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.test.ts
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.ts
  libs/common/src/schemas/tfm/entra-id-user.schema.ts
  libs/common/src/test-helpers/mock-data/entra-id-user.ts
  libs/common/src/test-helpers/schemas/schema-tests/with-entra-id-user-schema.tests.ts
  package-lock.json
  trade-finance-manager-api/src/v1/controllers/sso.controller.ts
  trade-finance-manager-api/src/v1/repo/user.repo.ts
  trade-finance-manager-api/src/v1/services/entra-id.service.ts
  trade-finance-manager-api/src/v1/services/user.service.ts
  trade-finance-manager-api/src/v1/services/user.service.upsert-user-from-entra-id-user.test.ts
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/public/js/govukFrontend.js.map
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/auth/auth-sso/unauthenticated-auth.controller.post-sso-redirect.test.ts
  trade-finance-manager-ui/server/controllers/auth/auth-sso/unauthenticated-auth.controller.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/generateApp.js
  trade-finance-manager-ui/server/routes/auth/configs/unauthenticated-auth-sso.ts
  trade-finance-manager-ui/server/routes/index.js
  trade-finance-manager-ui/server/session-configuration/index.js
  trade-finance-manager-ui/templates/auth/accept-sso-redirect.njk
Due: eslint --fix, sort-package-json

chore(FN-3850): add more documentation to keying sheet logic
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-groups.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/helpers/get-keying-sheet-fee-payment-shares-for-fee-records.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-records-to-key.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-records-to-key.controller/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-keying-data.controller/index.ts
Due: eslint --fix

feat(DTFS2-7533): address pr comments
  libs/common/src/middleware/validate-mongoId/validate-mongoId.test.ts
  libs/common/src/middleware/validate-mongoId/validate-mongoId.ts
Due: eslint --fix

feat(dtfs2-6892): review comments
  libs/common/src/schemas/tfm/get-auth-code-params.schema.test.ts
  libs/common/src/schemas/tfm/get-auth-code-request.schema.test.ts
  libs/common/src/schemas/tfm/get-auth-code-request.schema.ts
  trade-finance-manager-api/src/v1/middleware/validate-get-auth-code-url-payload.test.ts
  trade-finance-manager-api/src/v1/sso/routes.ts
Due: eslint --fix

feat(dtfs2-6892): review comments
  trade-finance-manager-ui/server/middleware/user-validation.test.ts
  trade-finance-manager-ui/server/services/user-session.service.ts
Due: eslint --fix

feat(DTFS2-6892): add logout functionality (#4183)
  e2e-tests/tfm/cypress/e2e/partials/header.js
  libs/common/src/test-helpers/mock-data/authorisation-url-request.mock.ts
  libs/common/src/test-helpers/mock-data/get-auth-code-url-request.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/types/tfm/get-auth-code.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.get-auth-code-url.test.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.ts
  trade-finance-manager-ui/component-tests/_macros/header.component-test.js
  trade-finance-manager-ui/component-tests/header.component-test.js
  trade-finance-manager-ui/component-tests/user-logged-out.component-test.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-login.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-logout.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.handle-sso-redirect-form.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/middleware/user-validation.js
  trade-finance-manager-ui/server/middleware/user-validation.test.ts
  trade-finance-manager-ui/server/middleware/user-validation.ts
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/server/routes/auth/configs/auth-sso.ts
  trade-finance-manager-ui/server/routes/auth/configs/unauthenticated-auth-sso.ts
  trade-finance-manager-ui/server/routes/login/configs/login-sso.ts
  trade-finance-manager-ui/server/services/login.service.get-auth-code-url.test.ts
  trade-finance-manager-ui/server/services/login.service.handle-sso-redirect-form.test.ts
  trade-finance-manager-ui/server/services/login.service.ts
  trade-finance-manager-ui/server/services/user-session.service.create-logged-in-session.test.ts
  trade-finance-manager-ui/server/services/user-session.service.create-partially-logged-in-session.test.ts
  trade-finance-manager-ui/server/services/user-session.service.ts
  trade-finance-manager-ui/templates/_macros/header.njk
  trade-finance-manager-ui/templates/_partials/header.njk
  trade-finance-manager-ui/templates/user-logged-out.njk
  trade-finance-manager-ui/test-helpers/mocks/index.ts
  trade-finance-manager-ui/test-helpers/mocks/login.service.mock.builder.ts
  trade-finance-manager-ui/test-helpers/mocks/user-session.service.mock.builder.ts
  trade-finance-manager-ui/test-helpers/test-data/a-request-session.ts
  trade-finance-manager-ui/test-helpers/test-data/index.ts
  trade-finance-manager-ui/test-helpers/test-data/partially-logged-in-session.ts
Due: eslint --fix

chore(main): release 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7533): update valid ids
  gef-ui/api-tests/amendments/cancel-portal-facility-amendment.get.api-test.ts
Due: eslint --fix

chore(FN-3850): add additional documentation to keying sheet logic (#4228)
  dtfs-central-api/src/helpers/get-fee-record-payment-entity-groups.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/helpers/get-keying-sheet-fee-payment-shares-for-fee-records.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-records-to-key.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-records-to-key.controller/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-keying-data.controller/index.ts
Due: eslint --fix

feat(dtfs2-6892): review comments
  trade-finance-manager-ui/server/services/user-session.service.ts
Due: eslint --fix

feat(DTFS2-7733): post cancel amendment (#4199)
  gef-ui/api-tests/amendments/cancel-portal-facility-amendment.get.api-test.ts
  gef-ui/api-tests/amendments/cancel-portal-facility-amendment.post.api-test.ts
  gef-ui/server/controllers/amendments/cancel-amendment/get-cancel-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/cancel-amendment/get-cancel-portal-facility-amendment.ts
  gef-ui/server/controllers/amendments/cancel-amendment/post-cancel-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/cancel-amendment/post-cancel-portal-facility-amendment.ts
  gef-ui/server/routes/facilities/amendments/index.ts
  libs/common/src/middleware/index.ts
  libs/common/src/middleware/validate-mongoId/index.ts
  libs/common/src/middleware/validate-mongoId/validate-mongoId.test.ts
  libs/common/src/middleware/validate-mongoId/validate-mongoId.ts
Due: eslint --fix

feat(DTFS2-6892): add validation on sso endpoint (#4211)
  libs/common/src/schemas/tfm/get-auth-code-params.schema.test.ts
  libs/common/src/schemas/tfm/get-auth-code-params.schema.ts
  libs/common/src/schemas/tfm/get-auth-code-request.schema.test.ts
  libs/common/src/schemas/tfm/get-auth-code-request.schema.ts
  libs/common/src/schemas/tfm/index.ts
  libs/common/src/test-helpers/mock-builders/mock-builder.mock.builder.ts
  libs/common/src/types/tfm/get-auth-code.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.ts
  trade-finance-manager-api/src/v1/middleware/validate-get-auth-code-url-payload.test.ts
  trade-finance-manager-api/src/v1/middleware/validate-get-auth-code-url-payload.ts
  trade-finance-manager-api/src/v1/services/entra-id.service.ts
  trade-finance-manager-api/src/v1/sso/routes.ts
  trade-finance-manager-ui/server/controllers/auth/auth-sso/unauthenticated-auth.controller.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.handle-sso-redirect-form.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.post-sso-redirect.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/generateApp.js
  trade-finance-manager-ui/server/middleware/user-validation.test.ts
  trade-finance-manager-ui/server/routes/auth/configs/index.get-auth-router.test.ts
  trade-finance-manager-ui/server/routes/auth/configs/index.ts
  trade-finance-manager-ui/server/routes/auth/index.ts
  trade-finance-manager-ui/server/routes/login/configs/auth-sso.ts
  trade-finance-manager-ui/server/routes/login/configs/index.get-login-router.test.ts
  trade-finance-manager-ui/server/routes/login/configs/index.get-unauthenticated-auth-router.test.ts
  trade-finance-manager-ui/server/routes/login/configs/index.ts
  trade-finance-manager-ui/server/routes/login/configs/unauthenticated-login-sso.ts
  trade-finance-manager-ui/server/routes/login/index.ts
  trade-finance-manager-ui/server/services/user-session.service.ts
Due: eslint --fix

fix(release-2.5.2): e2e test fixed
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-disabled/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
Due: eslint --fix

fix(DTFS2-7740): facility stage on dashboard
  .env.sample
  gef-ui/server/controllers/submit-to-ukef/index.js
  libs/common/src/constants/portal/facility-stage.ts
  libs/common/src/types/portal/dashboard.ts
  libs/common/src/types/portal/facility-stage.ts
  libs/common/src/types/portal/index.ts
  portal-api/src/v1/controllers/facilities.controller.js
  portal/component-tests/contract/contract-submission-details.component-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/server/controllers/dashboard/facilities/index.js
  portal/server/controllers/dashboard/facilities/index.test.js
  portal/server/helpers/index.js
  portal/server/helpers/map-facility-properties.test.ts
  portal/server/helpers/map-facility-properties.ts
  portal/templates/dashboard/_macros/dashboard-facilities-table.njk
  trade-finance-manager-api/src/v1/__mocks__/mock-durable-tasks.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.test.js
  trade-finance-manager-ui/component-tests/_macros/success-banner.component-test.js
Due: eslint --fix

chore(main): release 2.6.0 (#3929)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-7748): created facility stage helper (#4229)
  .env.sample
  gef-ui/server/controllers/submit-to-ukef/index.js
  libs/common/src/constants/portal/facility-stage.ts
  libs/common/src/types/portal/dashboard.ts
  libs/common/src/types/portal/facility-stage.ts
  libs/common/src/types/portal/index.ts
  portal-api/src/v1/controllers/facilities.controller.js
  portal/component-tests/contract/contract-submission-details.component-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/server/controllers/dashboard/facilities/index.js
  portal/server/controllers/dashboard/facilities/index.test.js
  portal/server/helpers/index.js
  portal/server/helpers/map-facility-properties.test.ts
  portal/server/helpers/map-facility-properties.ts
  portal/templates/dashboard/_macros/dashboard-facilities-table.njk
  trade-finance-manager-api/src/v1/__mocks__/mock-durable-tasks.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.test.js
  trade-finance-manager-ui/component-tests/_macros/success-banner.component-test.js
Due: eslint --fix

fix(release-2.5.2): e2e test fixed
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-disabled/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-enabled/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-enabled/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
Due: eslint --fix

feat(DTFS2-7732): add e2e test coverage cancel amendment page
  e2e-tests/gef/cypress/e2e/pages/amendments/cancel-amendment.js
  e2e-tests/gef/cypress/e2e/pages/amendments/cancel.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-BRD-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-FED-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-journey.spec.js
Due: eslint --fix

chore(merge): merge release-2.5.2 to main
  package.json
Due: sort-package-json

feat(dtfs2-7693): add routes for role testing tfm (#4125)
  CHANGELOG.md
  azure-functions/acbs-function/.eslintrc.js
  dtfs-central-api/.eslintrc.js
  external-api/.eslintrc.js
  gef-ui/.eslintrc.js
  gef-ui/public/js/govukFrontend.js.map
  libs/common/.eslintrc.js
  portal-api/.eslintrc.js
  portal/.eslintrc.js
  portal/public/js/govukFrontend.js.map
  trade-finance-manager-api/.eslintrc.js
  trade-finance-manager-ui/.eslintrc.js
  trade-finance-manager-ui/server/controllers/team-checking/index.ts
  trade-finance-manager-ui/server/generateApp.js
  trade-finance-manager-ui/server/helpers/team-checking.helper.ts
  trade-finance-manager-ui/server/routes/index.js
  trade-finance-manager-ui/server/routes/index.test.js
  trade-finance-manager-ui/server/routes/team-checking/index.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/team-checking-view-model.ts
  trade-finance-manager-ui/templates/team-checking/team-checking-page.njk
  utils/.eslintrc.js
Due: eslint --fix

chore(main): release 2.7.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(DTFS2-7693): main merge
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-submit-ukef-AIN.spec.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.test.ts
Due: eslint --fix

chore(main): release 2.7.0 (#4231)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(merge): merge release-2.5.2 to main (#4230)
  CHANGELOG.md
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-submit-ukef-AIN.spec.js
Due: eslint --fix

feat(DTFS2-7720): redirect to check answers page if change query is true
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.ts
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.ts
  gef-ui/server/controllers/amendments/cover-end-date/post-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/post-cover-end-date.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.ts
  gef-ui/server/controllers/amendments/effective-date/post-effective-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/post-effective-date.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/post-eligibility.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/post-eligibility.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.ts
  gef-ui/server/controllers/amendments/facility-end-date/post-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/post-facility-end-date.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.ts
  gef-ui/server/controllers/amendments/helpers/amendment-summary-view-model.helper.test.ts
  gef-ui/server/controllers/amendments/helpers/amendment-summary-view-model.helper.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.getNextPage.test.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.getPreviousPage.test.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/post-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/post-what-needs-to-change.ts
Due: eslint --fix

feat(DTFS2-7732): address pr comments
  e2e-tests/gef/cypress/e2e/pages/amendments/cancel.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-BRD-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-FED-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-journey.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/utils/getAmendmentIdFromUrl.js
Due: eslint --fix

chore(merge-release-255): fixed unit test
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/index.test.ts
Due: eslint --fix

feat(DTFS2-7732): cancel amendment e2e tests (#4221)
  e2e-tests/gef/cypress/e2e/pages/amendments/cancel.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/change-both-cover-end-date-and-facility-value.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/utils/getAmendmentIdFromUrl.js
Due: eslint --fix

chore(main): release 2.8.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(merge): merge release-2.5.2 to release-2.7.0 (#4233)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-7741): updated .env.sample
  .env.sample
Due: none

feat(DTFS2-7720): add e2e test coverage for check your answers change journey
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/cancel-amendment-journey.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/check-your-answers-change-journey.spec.js
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
