Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

Revert "feat(sr-8): update unit tests to use fake timers"
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
  external-api/src/middleware/rateLimit/index.test.ts
  gef-ui/api-test.jest.config.js
  gef-ui/server/middleware/rateLimit/index.test.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/api-test.jest.config.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix

Revert "feat(sr-8): update unit tests to use fake timers"
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
  external-api/src/middleware/rateLimit/index.test.ts
  gef-ui/api-test.jest.config.js
  gef-ui/server/middleware/rateLimit/index.test.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal/api-test.jest.config.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/api-test.jest.config.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix

Revert "feat(sr-8): update unit tests to use fake timers"
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
  external-api/src/middleware/rateLimit/index.test.ts
  gef-ui/server/middleware/rateLimit/index.test.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal/server/routes/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix

feat(sr-8): remove fake timer tests from api
  gef-ui/api-tests/api-rate-limiting.api-test.js
  portal-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
  portal/api-tests/api-rate-limiting.api-test.js
Due: eslint --fix

feat(sr-8): remove fake timer tests from api
  portal-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
Due: eslint --fix

feat(sr-8): add api-test command to ui services
  gef-ui/api-test.jest.config.js
  gef-ui/package.json
  portal/api-test.jest.config.js
  portal/package.json
  trade-finance-manager-ui/api-test.jest.config.js
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

feat(sr-8): add api-test command to ui services
  gef-ui/package.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

refactor(SR-8): standardise createApp and generateApp
  gef-ui/api-tests/api-rate-limiting.api-test.js
  gef-ui/server/createApp.js
  gef-ui/server/generateApp.js
  gef-ui/server/index.js
  portal/api-tests/api-rate-limiting.api-test.js
  portal/server/createApp.js
  portal/server/generateApp.js
  portal/server/index.js
  trade-finance-manager-ui/api-tests/api-rate-limiting.api-test.js
  trade-finance-manager-ui/server/createApp.js
  trade-finance-manager-ui/server/generateApp.js
  trade-finance-manager-ui/server/index.js
Due: eslint --fix

fix(SR-8): correct portal index
  portal/server/index.js
Due: eslint --fix

feat(sr-8): fix external-api rate-limit api tests
  external-api/api-test.jest.config.js
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
  external-api/package.json
Due: eslint --fix, sort-package-json

fix(api-test): added api test for UI micro-services
  .github/workflows/test.yml
Due: none

feat(FN-712): commonise webapps - remove comments
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

fix(csp): removed inline script
  dtfs-central-api/src/v1/routes/middleware/headers/security.js
  external-api/src/middleware/headers/security/index.api-test.ts
  external-api/src/middleware/headers/security/index.ts
  gef-ui/server/middleware/headers/security.middleware.js
  portal-api/src/v1/middleware/headers/security.js
  portal/public/js/main.js
  portal/public/js/main.js.map
  portal/scripts/change-industry-classes.js
  portal/scripts/main.js
  portal/server/helpers/mapIndustrySectors.js
  portal/server/routes/middleware/headers/security.middleware.js
  portal/templates/contract/about/about-supplier.njk
  portal/templates/contract/about/components/industry-sectors-dropdown.njk
  portal/templates/index.njk
  trade-finance-manager-api/src/v1/middleware/headers/security.js
  trade-finance-manager-ui/server/middleware/headers/security.js
  utils/mock-data-loader/api.js
Due: eslint --fix

fix(gha): fixed gha branch
  .github/workflows/lint.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/mock-data-loader/package-lock.json
Due: sort-package-json

fix(gha): gha ci:all before npm run lint
  .github/workflows/lint.yml
Due: none

fix(gha): lint error fix + private runner execution
  .github/workflows/lint.yml
  .github/workflows/test.yml
  gef-ui/package-lock.json
  gef-ui/package.json
Due: sort-package-json

fix(npm): added legacy peer deps flag to portal-ui microservice
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  gef-ui/package.json
  package-lock.json
  package.json
Due: sort-package-json

fix(gha): updated cypress group name
  .github/workflows/test.yml
Due: none

fix(csp): removed inline <script> tag (#1944)
  dtfs-central-api/src/v1/routes/middleware/headers/security.js
  external-api/src/middleware/headers/security/index.api-test.ts
  external-api/src/middleware/headers/security/index.ts
  gef-ui/server/middleware/headers/security.middleware.js
  portal-api/src/v1/middleware/headers/security.js
  portal/public/js/main.js
  portal/public/js/main.js.map
  portal/scripts/change-industry-classes.js
  portal/scripts/main.js
  portal/server/helpers/mapIndustrySectors.js
  portal/server/routes/middleware/headers/security.middleware.js
  portal/templates/contract/about/about-supplier.njk
  portal/templates/contract/about/components/industry-sectors-dropdown.njk
  portal/templates/index.njk
  trade-finance-manager-api/src/v1/middleware/headers/security.js
  trade-finance-manager-ui/server/middleware/headers/security.js
  utils/mock-data-loader/api.js
Due: eslint --fix

fix(SR-8): install dev dependencies in gef-ui, portal, tfm-ui docker files
  gef-ui/Dockerfile
  portal/Dockerfile
  trade-finance-manager-ui/Dockerfile
Due: none

fix(dockerfile): removed --omit=dev from Dockerfile
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  cspell.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/Dockerfile
  gef-ui/package-lock.json
  package-lock.json
  portal-api/package-lock.json
  portal/Dockerfile
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/Dockerfile
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
Due: sort-package-json

fix(SR-8): fix dev dependency linting in UIs
  gef-ui/.eslintrc.js
  gef-ui/package-lock.json
  gef-ui/package.json
  portal/.eslintrc.js
  trade-finance-manager-ui/.eslintrc.js
Due: eslint --fix, sort-package-json

fix(SR-8): fix threshold in rate limit api tests
  dtfs-central-api/api-tests/v1/middleware/api-rate-limiting.api-tests.js
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
  gef-ui/api-tests/api-rate-limiting.api-test.js
  portal-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
  portal/api-tests/api-rate-limiting.api-test.js
  trade-finance-manager-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
  trade-finance-manager-ui/api-tests/api-rate-limiting.api-test.js
Due: eslint --fix

refactor(SR-8): improve legacy headers comment
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.js
  external-api/src/middleware/rateLimit/index.ts
  gef-ui/server/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.js
  portal/server/routes/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.js
Due: eslint --fix

fix(SR-8): add equals operator to findOne in portal deal controller
  dtfs-central-api/src/v1/controllers/portal/deal/get-deal.controller.js
Due: eslint --fix

feat(APIM-6493): updated TFM accessibility statement content
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: none

fix(nosqli): use operator to ensure user input is used as literal value
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.js
Due: eslint --fix

chore: mark todos for collection find calls
  dtfs-central-api/src/v1/controllers/portal/deal/get-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/portal/mandatory-criteria/mandatory-criteria.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  dtfs-central-api/src/v1/controllers/user/get-user.controller.js
  portal-api/src/v1/controllers/banks.controller.js
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/controllers/mandatoryCriteria.controller.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/users/controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/number-generator.controller.js
  utils/data-migration/export-tables.js
  utils/data-migration/helpers/database.js
Due: eslint --fix

fix: fixup
  utils/data-migration/export-tables.js
  utils/data-migration/helpers/database.js
Due: eslint --fix

refactor(SR-8): replace find({}) with find()
  dtfs-central-api/src/v1/controllers/portal/facility/get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  dtfs-central-api/src/v1/controllers/user/get-user.controller.js
  portal-api/src/v1/controllers/banks.controller.js
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/controllers/mandatoryCriteria.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/users/controller.js
  utils/data-migration/export-tables.js
Due: eslint --fix

fix(SR8): added cspell
  package.json
Due: sort-package-json

fix(SR-8): use explicit $eq for find queries
  dtfs-central-api/src/v1/controllers/portal/deal/get-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/portal/mandatory-criteria/mandatory-criteria.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/number-generator.controller.js
  utils/data-migration/helpers/database.js
  utils/reporting/tfm/rad-reporting.js
  utils/reporting/tfm/tfm-reporting.js
Due: eslint --fix

fix(SR-8): use explicit $eq for findOne queries
  dtfs-central-api/api-tests/v1/gef-deals/add-min-activities.api-test.js
  dtfs-central-api/src/v1/controllers/bank/get-bank.controller.js
  dtfs-central-api/src/v1/controllers/portal/deal/get-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/get-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/add-min-activities.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/get-gef-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/update-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/mandatory-criteria/mandatory-criteria.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  dtfs-central-api/src/v1/controllers/user/get-user.controller.js
  portal-api/api-tests/v1/gef/application-submit.api-test.js
  portal-api/api-tests/v1/gef/portal-activities.controller.api-test.js
  portal-api/src/v1/controllers/banks.controller.js
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/controllers/mandatoryCriteria.controller.js
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/clone-gef-deal.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/gef/controllers/portal-activities.controller.js
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/reset-password.controller.js
  trade-finance-manager-api/src/v1/controllers/banks.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

refactor(SR-8): lint
  dtfs-central-api/api-tests/v1/gef-deals/add-min-activities.api-test.js
  dtfs-central-api/src/v1/controllers/portal/deal/get-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/get-facility.controller.js
Due: eslint --fix

fix(SR-8): use explicit $eq for findOneAndDelete queries
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
Due: eslint --fix

fix(SR-8): use explicit $eq for deleteMany queries
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
Due: eslint --fix

fix(syntax): syntax error
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.js
Due: eslint --fix

chore(SR-8): add todos for all findOneAndUpdate usages
  dtfs-central-api/src/v1/controllers/portal/deal/add-deal-comment.controller.js
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/add-underwriter-comment-gef.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/put-gef-deal.status.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/update-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  external-api/src/cronJobs/eStoreFacilityFolderCreationJob.cron.ts
  external-api/src/cronJobs/eStoreSiteCreationJob.cron.ts
  external-api/src/cronJobs/eStoreTermStoreAndBuyerFolder.cron.ts
  portal-api/src/v1/gef/controllers/application.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/gef.controller.js
  trade-finance-manager-api/src/v1/controllers/number-generator.controller.js
Due: eslint --fix

fix(SR-8): use $eq operator in all findOneAndUpdate queries
  dtfs-central-api/src/v1/controllers/portal/deal/add-deal-comment.controller.js
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-facility/update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/number-generator.controller.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
