Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

refactor(DTFS2-6693): rename signInLinkExpiry to signInLinkDurationMinutes
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.test.js
Due: eslint --fix

fix(DTFS2-6693): fix and improve transform database user(s) test
  portal-api/src/v1/users/transform-database-user.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

refactor(DTFS2-6693): lint
  portal-api/src/v1/users/transform-database-user.test.js
Due: eslint --fix

refactor(DTFS2-6693): lint
  portal/api-tests/login-routes/other-login-routes.api-test.js
Due: eslint --fix

feat(DTFS2-6693): add API tests for new Portal routes
  portal/api-tests/login-routes/other-login-routes.api-test.js
Due: eslint --fix

Update utils/mock-data-loader/portal/users.js
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

refactor(DTFS2-6693): lint
  portal-api/src/v1/users/sign-in-link.service.test.js
Due: eslint --fix

fix(DTFS2-6693): fix sign in link email text when link duration is 1 minute
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.test.js
Due: eslint --fix

fix(DTFS2-6693): fix post sign in link api test
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
Due: eslint --fix

Update portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

feat(FN-967): resolve merge errors for package files
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-967): resolve merge errors
  portal-api/.eslintrc.js
Due: eslint --fix

feat(FN-967): resolve merge errors
  azure-functions/acbs-function/package-lock.json
Due: none

feat(FN-967): resolve merge errors
  azure-functions/number-generator-function/package-lock.json
Due: none

feat(FN-967): resolve merge errors
  portal-api/src/constants/index.js
Due: eslint --fix

feat(FN-967): alphabetise cspell
  cspell.json
Due: none

feat(FN-967): add an environment variable for utilisation reports shareclient (#2332)
  .github/workflows/bicep_az_deployment_group.yml
  cspell.json
  infrastructure/resource_group_level/main.bicep
Due: none

feat(DTFS2-6461): use h2 tags for headings on TFM deal page (#2342)
  trade-finance-manager-ui/templates/case/deal/deal.njk
Due: none

fix(DTFS2-6465): moving headers to date form component
  trade-finance-manager-ui/templates/case/amendments/amendment-add-banks-decision-effective-date.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-add-banks-decision-receive-date.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-cover-end-date.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-effective-date.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-request-date.njk
Due: none

fix: fix back link on user edit
  portal/templates/admin/user-edit.njk
Due: none

feat(FN-967): fix merge errors
  portal/server/routes/middleware/validateRole/index.js
Due: eslint --fix

feat(FN-967): linting
  portal/server/routes/middleware/validateRole/index.js
Due: eslint --fix

feat(FN-967): fixing tests
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
  portal/api-tests/dashboard-routes.api-test.js
Due: eslint --fix

feat(FN-967): fixing tests
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
Due: eslint --fix

fix: add back eslint parser typescript defs (#2344)
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  package-lock.json
  package.json
  portal/server/api.js
  portal/server/routes/middleware/validateRole/index.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix, sort-package-json

feat(FN-967): upload report to azure file storage (#2328)
  .env.sample
  .github/workflows/test.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.test.js
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
  portal-api/api-tests/fixtures/utilisation-report.csv
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal-api/src/config/fileshare.config.js
  portal-api/src/constants/file-upload.js
  portal-api/src/constants/index.js
  portal-api/src/drivers/fileshare.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/deal-eligibility-documentation.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/gef/routes.js
  portal-api/src/v1/helpers/convertUtcDateToDateTimeString.test.js
  portal-api/src/v1/helpers/covertUtcDateToDateTimeString.js
  portal-api/src/v1/helpers/formatDateForEmail.js
  portal-api/src/v1/helpers/formatDateForEmail.test.js
  portal-api/src/v1/middleware/index.js
  portal-api/src/v1/middleware/utilisation-report-file-upload.js
  portal-api/src/v1/routes.js
  portal-api/test-helpers/mock-azure-file-info.js
  portal-api/test-helpers/mock-utilisation-reports.js
  portal/api-tests/dashboard-routes.api-test.js
  portal/component-tests/utilisation-report-service/confirm-and-send.component-test.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/previous-reports/data.json
  portal/server/controllers/utilisation-report-service/previous-reports/no-data.json
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/csv-utils.js
  portal/templates/utilisation-report-service/utilisation-report-upload/confirm-and-send.njk
Due: eslint --fix

fix(DTFS2-6693): fix after rebase
  portal-api/.eslintrc.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.test.js
  portal/.eslintrc.js
  portal/api-tests/login-routes/other-login-routes.api-test.js
  portal/api-tests/login/other-login-routes.api-test.js
Due: eslint --fix

Update portal/templates/login/_macros/request-new-sign-in-link.njk
  portal/templates/login/_macros/request-new-sign-in-link.njk
Due: none

feat(FN-1501): add dev infrastructure collections, fileshare, environment variables
  .env.sample
  .github/workflows/development_infrastructure.yml
Due: none

fix: fix login e2e tests
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
Due: eslint --fix

fix: fix new default routes tests
  portal/api-tests/default-route.api-test.js
Due: eslint --fix

fix: update portal api tests for dashboard and default routing
  portal/api-tests/dashboard-routes.api-test.js
  portal/api-tests/default-route.api-test.js
Due: eslint --fix

fix: remove and fix some underwriting tfm e2e tests
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/underwriting-page.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/assign-lead-underwriter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/change-facility-risk-profile.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/loss-given-default.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/pricing-and-risk-risk-managers.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/pricing-and-risk.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/probability-of-default.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/underwriter-managers-decision-decline.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/underwriter-managers-decision.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/underwriting-page.spec.js
Due: eslint --fix

fix: fix tfm e2e tests
  e2e-tests/tfm/cypress/e2e/journeys/case/activities/activities.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/1. add-amendment-request.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/2. amendment-request-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/3. amendment-effective-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/4. amendment-options.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/5. facility-value.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/6. cover-end-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/7. amendment-details-automatic-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/8. amendment-details-manual-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/add-amendment-request-check-previous.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/add-bank-decision-proceed.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/add-bank-decision-underwriter-declined.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/add-bank-decision-withdraw.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/add-lead-underwriter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/add-underwriter-decision.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendment-changes-multiple-single-amendments.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendment-in-progress-deal-stage.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendment-should-change-all-facilities-values.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendment-tasks-automatic.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendment-tasks-manual.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendment-underwriting-page-multiple-amendments.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendments-version-order.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/show-amendment-button.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/underwriting-page-unassigned.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/parties/parties.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/tasks/tasks.spec.js
Due: eslint --fix

feat(FN-1501): add staging and prod infrastructure collections, fileshare, environment variables
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
Due: none

fix(DTFS2-6468): fixing header level hierarchy
  trade-finance-manager-ui/templates/case/amendments/amendment-managers-conditions-and-comments-summary.njk
Due: none

feat(DTFS-6693): add expiry functionality to 2FA sign in links (#2325)
  portal-api/.eslintrc.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/constants/index.js
  portal-api/src/constants/sign-in-link-duration.js
  portal-api/src/constants/sign-in-link-expiry-minutes.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/routes.test.js
  portal-api/src/v1/users/sanitizeUserData.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.test.js
  portal-api/src/v1/users/transform-database-user.js
  portal-api/src/v1/users/transform-database-user.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
  portal/.eslintrc.js
  portal/api-tests/login/other-login-routes.api-test.js
  portal/server/routes/login/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
