Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(DTFS2-6994): remove moment from portal-api facility-dates directory (#2799)
  package-lock.json
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/controllers/bond-issue-facility.controller.js
  portal-api/src/v1/controllers/loan-issue-facility.controller.js
  portal-api/src/v1/facility-dates/cover-end-date.js
  portal-api/src/v1/facility-dates/cover-end-date.test.js
  portal-api/src/v1/facility-dates/issued-date.js
  portal-api/src/v1/facility-dates/requested-cover-start-date.js
  portal-api/src/v1/facility-dates/timestamp.js
  portal-api/src/v1/validation/checker-submit-deal-facility-ready-for-check-cover-start-dates/index.test.js
  portal-api/src/v1/validation/fields/cover-end-date.test.js
  portal-api/src/v1/validation/fields/currency-not-the-same-as-supply-contract-rules/conversion-rate-date.test.js
Due: eslint --fix, sort-package-json

feat(FN-1865): update documentation
  doc/sql-db.md
  e2e-tests/README.md
  libs/common/package.json
  libs/common/src/sql-db-seeder/seeding-data-source.ts
  libs/common/src/sql-db-seeder/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix, sort-package-json

fix(DTFS2-6188): uupdated test deal id
  external-api/api-tests/v1/eStore.api-test.ts
  external-api/src/utils/swagger-definitions/estore.ts
Due: eslint --fix

chore(DTFS2-6996): code review
  dtfs-central-api/src/helpers/getDateFromSearchString.test.ts
Due: eslint --fix

fix(DTFS2-6935): fix tests after rebase
  portal/component-tests/_macros/pagination.component-test.js
  trade-finance-manager-ui/component-tests/_macros/pagination.component-test.js
Due: eslint --fix

feat(DTFS2-6892): e2e test coverage improvements
  e2e-tests/tfm/cypress.config.js
  e2e-tests/tfm/cypress/e2e/journeys/login/login.spec.js
Due: eslint --fix

feat(DTFS2-6892): update and consume AZURE_SSO_AUTHORITY env var
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-config.js
  trade-finance-manager-ui/server/controllers/login/index.test.ts
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

feat(DTFS2-6892): auth provide - try/catch, logging improvements
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider.js
Due: eslint --fix

chore(DTFS2-6995): refactor and add tests for formatDate
  azure-functions/acbs-function/helpers/date.format-date.test.js
  azure-functions/acbs-function/helpers/date.format-year.test.js
  azure-functions/acbs-function/helpers/date.is-date.test.js
  azure-functions/acbs-function/helpers/date.is-epoch.test.js
  azure-functions/acbs-function/helpers/date.is-string.test.js
  azure-functions/acbs-function/helpers/date.now.test.js
  azure-functions/acbs-function/helpers/date.test.js
Due: eslint --fix

chore(DTFS2-6995): add test coverage for formatTimestamp
  azure-functions/acbs-function/helpers/date.format-timestamp.test.js
  azure-functions/acbs-function/helpers/date.js
Due: eslint --fix

feat(FN-1249): linting
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/utilisation-report-period-schedule-validator.ts
  dtfs-central-api/src/v1/controllers/bank/get-next-report-period-by-bank.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  libs/common/package.json
  libs/common/src/types/bank-report-period-schedule.ts
  libs/common/src/utils/report-period.test.ts
  libs/common/src/utils/report-period.ts
Due: eslint --fix, sort-package-json

fix(DTFS2-6188): improved test coverage
  external-api/src/v1/controllers/number-generator.controller.ts
  portal-api/api-tests/v1/deals/deals-status-submitted-updates-unsubmitted-issued-facilities.api-test.js
  portal-api/api-tests/v1/deals/deals-status-submitted.api-test.js
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/src/external-api/__mocks__/number-generator.js
  portal-api/src/external-api/api.js
  portal-api/src/external-api/number-generator.js
  portal-api/src/external-api/number-generator.ts
  portal-api/src/v1/controllers/deal-status/create-ukef-ids.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/application-submit.test.js
Due: eslint --fix

chore(deps): dependencies updates
  gef-ui/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-6188): fixed test coverage and DRY code
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/application-submit.test.js
Due: eslint --fix

feat(DTFS2-6188): added IsoDateTimeStamp type
  .env.sample
  .github/workflows/staging_infrastructure.yml
  docker-compose.yml
  external-api/package.json
  external-api/src/interfaces/number.interface.ts
  external-api/src/types/date.ts
  trade-finance-manager-api/api-tests/v1/acbs/acbs.api-test.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6188): code consistency
  azure-functions/acbs-function/acbs-amend-facility/index.js
  azure-functions/acbs-function/acbs-issue-facility/index.js
  azure-functions/acbs-function/activity-create-facility-covenant/index.js
  azure-functions/acbs-function/activity-get-facility-master/index.js
  azure-functions/acbs-function/activity-get-loan-id/index.js
  external-api/api-tests/v1/number-generator.api-test.ts
  external-api/package.json
  external-api/src/interfaces/number.interface.ts
  external-api/src/v1/controllers/number-generator.controller.ts
  gef-ui/server/controllers/application-details/index.js
  portal-api/src/external-api/countries.js
  portal-api/src/external-api/number-generator.ts
  portal-api/src/v1/controllers/countries.controller.js
  portal-api/src/v1/controllers/deal-eligibility-criteria.controller.js
  portal-api/src/v1/controllers/industrySectors.controller.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/application-submit.test.js
  portal-api/src/v1/users/routes.js
  trade-finance-manager-api/src/v1/controllers/amend-issued-facility.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/dealStage.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-ui/server/nunjucks-configuration/filter-sentenceCase.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6966): revert test.yml change and add mock tfm users to portal endpoint calls
  .github/workflows/test.yml
  trade-finance-manager-api/src/v1/api.js
Due: eslint --fix

feat(DTFS2-6966): fix api tests in portal api
  portal-api/api-tests/v1/bonds/bonds.api-test.js
  portal-api/api-tests/v1/deals/deals-status-facilities.api-test.js
  portal-api/api-tests/v1/deals/deals-status.api-test.js
  portal-api/api-tests/v1/deals/expectAddedFields.js
Due: eslint --fix

fix(DTFS2-6188): updated package.json
  external-api/package.json
Due: sort-package-json

feat(FN-1865): move mock data back to utils
  e2e-tests/README.md
  e2e-tests/e2e-fixtures/cypress-env-keys.fixture.ts
  e2e-tests/e2e-fixtures/get-cypress-env-variable.fixture.ts
  e2e-tests/e2e-fixtures/portal-users.fixture.js
  e2e-tests/gef/cypress.config.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/support/cypress-env.ts
  e2e-tests/tfm/cypress.config.js
  e2e-tests/ukef/cypress.config.js
  libs/common/src/sql-db-seeder/helpers/get-from-mongo-db.ts
  libs/common/src/sql-db-seeder/helpers/index.ts
  libs/common/src/sql-db-seeder/utilisation-report/utilisation-report.seed.ts
  libs/common/src/test-helpers/mock-data/banks.mock.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/test-helpers/mock-data/portal-users.mock.ts
  utils/mock-data-loader/banks/index.js
  utils/mock-data-loader/portal-users/index.js
Due: eslint --fix

feat(DTFS2-6966): fix lastUpdatedByPortalUser -> lastUpdatedByPortalUserId
  portal-api/api-tests/v1/bonds/bonds.api-test.js
  portal-api/api-tests/v1/deals/deals-status-facilities.api-test.js
  portal-api/api-tests/v1/deals/expectAddedFields.js
Due: eslint --fix

chore(DTFS2-6995): add test coverage for addDay
  azure-functions/acbs-function/helpers/date.add-day.test.js
  azure-functions/acbs-function/helpers/date.js
Due: eslint --fix

chore(DTFS2-6995): add test coverage for addMonth & addYear
  azure-functions/acbs-function/helpers/date.add-month.test.js
  azure-functions/acbs-function/helpers/date.add-year.test.js
  azure-functions/acbs-function/helpers/date.js
  azure-functions/acbs-function/mappings/facility/helpers/get-fee-frequency-months.js
Due: eslint --fix

fix(DTFS2-6188): fixed external-api api test
  .github/workflows/deployment.yml
  .github/workflows/test.yml
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
Due: eslint --fix

refactor(DTFS2-6935): split pagination component test functions into separate file
  portal/component-tests/_macros/pagination.component-test.js
  portal/component-tests/test-assertions/index.js
  portal/component-tests/test-assertions/pagination-assertions.js
  trade-finance-manager-ui/component-tests/_macros/pagination.component-test.js
  trade-finance-manager-ui/component-tests/test-assertions/index.js
  trade-finance-manager-ui/component-tests/test-assertions/pagination-assertions.js
Due: eslint --fix

refactor(DTFS2-6935): lint
  portal/component-tests/test-assertions/index.js
  portal/component-tests/test-assertions/pagination-assertions.js
  trade-finance-manager-ui/component-tests/test-assertions/index.js
  trade-finance-manager-ui/component-tests/test-assertions/pagination-assertions.js
Due: eslint --fix

feat(DTFS2-6892): change logic in processSsoRedirect, user creation also activates user session
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/index.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

chore(DTFS2-6995): add test coverage for get now as iso string
  azure-functions/acbs-function/helpers/date.get-now-as-iso-string.test.js
  azure-functions/acbs-function/helpers/date.now.test.js
Due: eslint --fix

feat(FN-1865): change mongo-db-client export from common
  dtfs-central-api/src/drivers/db-client.ts
  e2e-tests/support/tasks.js
  external-api/src/database/mongo-client.ts
  external-api/tsconfig.json
  libs/common/package.json
  libs/common/src/index.ts
  portal-api/src/drivers/db-client.ts
  portal-api/test-helpers/api-test-helpers/database/database-client.ts
  portal-api/tsconfig.json
  trade-finance-manager-api/src/drivers/db-client.ts
  trade-finance-manager-api/tsconfig.json
  utils/mock-data-loader/database/database-client.ts
Due: eslint --fix, sort-package-json

feat(FN-1249): linting
  dtfs-central-api/src/cron-scheduler-jobs/create-utilisation-reports/utilisation-report-period-schedule-validator.ts
  libs/common/package.json
  libs/common/src/utils/date.ts
  utils/mock-data-loader/api.js
Due: eslint --fix, sort-package-json

fix(DTFS2-6188): fixed portal api-test
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/src/constants/index.js
  portal-api/src/constants/number.ts
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
Due: eslint --fix

feat(DTFS2-6892): auth-sevice unit tests
  trade-finance-manager-api/src/v1/__mocks__/mock-entra-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/create-tfm-user.api-test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/create-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-existing-tfm-user.api-test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-existing-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/index.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/populate-tfm-user-with-entra-data.api-test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/populate-tfm-user-with-entra-data.js
  trade-finance-manager-api/src/v1/controllers/auth/auth.controller.api-test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth.controller.js
Due: eslint --fix

feat(DTFS2-6935): check every cell rather than just first and last in pagination E2E tests
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-pagination.spec.js
  e2e-tests/tfm/cypress/support/commands.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/checkDealIdCell.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/checkDealIdCells.js
Due: eslint --fix

chore(DTFS2-6995): add tests for get month difference & refactor to commonise date formats
  azure-functions/acbs-function/helpers/date.add-day.test.js
  azure-functions/acbs-function/helpers/date.add-month.test.js
  azure-functions/acbs-function/helpers/date.add-year.test.js
  azure-functions/acbs-function/helpers/date.common.test.js
  azure-functions/acbs-function/helpers/date.format-date.test.js
  azure-functions/acbs-function/helpers/date.format-timestamp.test.js
  azure-functions/acbs-function/helpers/date.get-month-difference.test.js
  azure-functions/acbs-function/helpers/date.js
  azure-functions/acbs-function/mappings/facility/helpers/get-exposure-period.test.js
  azure-functions/acbs-function/package.json
Due: eslint --fix, sort-package-json

chore(DTFS2-7037): add test coverage for isSameDayOfTheMonth
  azure-functions/acbs-function/helpers/date.is-same-day-of-month.test.js
  azure-functions/acbs-function/package.json
Due: eslint --fix, sort-package-json

fix(DTFS2-6188): fixed portal-api number generator mock response
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/src/external-api/__mocks__/number-generator.js
  portal-api/src/v1/controllers/deal-status/create-ukef-ids.js
  portal-api/src/v1/gef/controllers/application-submit.test.js
Due: eslint --fix

chore(DTFS2-7037): refactor date formats
  azure-functions/acbs-function/helpers/date.add-day.test.js
  azure-functions/acbs-function/helpers/date.add-month.test.js
  azure-functions/acbs-function/helpers/date.add-year.test.js
  azure-functions/acbs-function/helpers/date.format-date.test.js
  azure-functions/acbs-function/helpers/date.format-timestamp.test.js
  azure-functions/acbs-function/helpers/date.get-month-difference.test.js
  azure-functions/acbs-function/helpers/date.is-same-day-of-month.test.js
  azure-functions/acbs-function/test-helpers/date-formats.js
  azure-functions/acbs-function/testing/defaultTimer.js
Due: eslint --fix
