Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-6761): fixed tests
  portal-api/server/crypto/hasher.js
  portal-api/server/crypto/pbkdf2-sha512-hash-strategy.js
  portal-api/server/crypto/utils.js
  portal-api/server/crypto/utils.test.js
  trade-finance-manager-api/server/utils/crypto.util.js
  trade-finance-manager-api/server/utils/crypto.util.test.js
Due: eslint --fix

feat(DTFS2-6761): depdencies updates
  libs/common/package.json
  package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(DTFS2-7769): address pr comments
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  trade-finance-manager-ui/component-tests/case/_macros/portal-amendment-in-progress-bar.component-test.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.getAmendmentsInProgress.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
  trade-finance-manager-ui/templates/case/amendments/_macros/portal-amendment-in-progress-bar.njk
  trade-finance-manager-ui/templates/case/amendments/_macros/portal-amendment-in-progress-deal-bar.njk
  trade-finance-manager-ui/templates/case/deal/deal.njk
  trade-finance-manager-ui/templates/case/facility/facility.njk
Due: eslint --fix

chore(DTFS2-7769): fix component tests
  trade-finance-manager-ui/component-tests/case/_macros/portal-amendment-in-progress-bar.component-test.js
Due: eslint --fix

chore(DTFS2-7769): fix component test
  trade-finance-manager-ui/component-tests/case/_macros/portal-amendment-in-progress-deal-bar.component-test.js
Due: eslint --fix

feat(DTFS2-6761): depdencies updates
  e2e-tests/support/tasks.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/server/crypto/hasher.js
  portal-api/server/crypto/utils.js
  trade-finance-manager-api/server/utils/crypto.util.js
Due: eslint --fix

feat(DTFS2-6761): improve password hasing - pbkdf2sync (#4516)
  dtfs-central-api/package.json
  e2e-tests/support/tasks.js
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  libs/common/src/constants/e2e-fixtures.ts
  libs/common/src/helpers/crypto/hash.ts
  package-lock.json
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/package.json
  portal-api/server/crypto/hasher.js
  portal-api/server/crypto/pbkdf2-sha512-hash-strategy.js
  portal-api/server/crypto/utils.js
  portal-api/server/crypto/utils.test.js
  portal-api/server/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/server/v1/users/sign-in-link.service.login-user.test.js
  portal-api/test-helpers/api-test-helpers/database/user-repository.js
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/server/utils/crypto.util.js
  trade-finance-manager-api/server/utils/crypto.util.test.js
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

chore(DTFS2-7769): fix
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
Due: eslint --fix

feat(DTFS2-16188): renaming bicep templates
  .github/workflows/bicep_infrastructure.yml
  cspell.json
Due: none

chore(DTFS2-7769): address pr comments
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
Due: eslint --fix

feat(DTFS2-16188): resolved lint errors
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(DTFS2-8187): global exception handlers
  dtfs-central-api/server/generateApp.ts
  external-api/server/generateApp.ts
  gef-ui/server/generateApp.js
  libs/common/src/helpers/errors/global-handlers.test.ts
  libs/common/src/helpers/errors/global-handlers.ts
  libs/common/src/helpers/errors/index.ts
  libs/common/src/helpers/index.ts
  portal-api/server/generateApp.js
  portal-ui/server/generateApp.ts
  trade-finance-manager-api/server/generateApp.js
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

feat(DTFS2-8187): timezone variable
  .github/workflows/test.yml
  libs/common/src/helpers/errors/global-handlers.ts
Due: eslint --fix

feat(DTFS2-8187): timezone variable
  .github/workflows/deployment.yml
  .github/workflows/development_infrastructure.yml
  .github/workflows/feature.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/staging_infrastructure.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-8187): added test case
  .github/actions/mssql/action.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  libs/common/src/helpers/errors/global-handlers.test.ts
  libs/common/src/helpers/errors/global-handlers.ts
  reverse-proxy/Dockerfile
Due: eslint --fix

feat(DTFS2-8187): global exception handlers (#4523)
  .github/actions/mssql/action.yml
  .github/workflows/deployment.yml
  .github/workflows/development_infrastructure.yml
  .github/workflows/feature.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/staging_infrastructure.yml
  .github/workflows/test.yml
  dtfs-central-api/server/generateApp.ts
  external-api/server/generateApp.ts
  gef-ui/server/generateApp.js
  libs/common/src/helpers/errors/global-handlers.test.ts
  libs/common/src/helpers/errors/global-handlers.ts
  libs/common/src/helpers/errors/index.ts
  libs/common/src/helpers/index.ts
  portal-api/server/generateApp.js
  portal-ui/server/generateApp.ts
  reverse-proxy/Dockerfile
  trade-finance-manager-api/server/generateApp.js
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

chore(main): release 2.12.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-6761): updated api test
  dtfs-central-api/server/generateApp.ts
  external-api/server/generateApp.ts
  gef-ui/server/generateApp.js
  libs/common/src/helpers/errors/global-handlers.test.ts
  libs/common/src/helpers/errors/global-handlers.ts
  portal-api/server/generateApp.js
  portal-ui/server/generateApp.ts
  trade-finance-manager-api/server/generateApp.js
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

fix(DTFS2-6761): updated api test
  libs/common/src/helpers/errors/index.ts
  libs/common/src/helpers/index.ts
Due: eslint --fix

feat(DTFS2-8187): global exception handlers (#4526)
  dtfs-central-api/server/generateApp.ts
  external-api/server/generateApp.ts
  gef-ui/server/generateApp.js
  libs/common/src/helpers/errors/global-handlers.test.ts
  libs/common/src/helpers/errors/global-handlers.ts
  libs/common/src/helpers/errors/index.ts
  libs/common/src/helpers/index.ts
  portal-api/server/generateApp.js
  portal-ui/server/generateApp.ts
  trade-finance-manager-api/server/generateApp.js
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

fix(DTFS2-6761): updated github variables
  .github/workflows/deployment.yml
  .github/workflows/development_infrastructure.yml
  .github/workflows/feature.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/staging_infrastructure.yml
  .github/workflows/test.yml
Due: none

fix(DTFS2-6761): updated github variables (#4527)
  .github/workflows/deployment.yml
  .github/workflows/development_infrastructure.yml
  .github/workflows/feature.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/staging_infrastructure.yml
  .github/workflows/test.yml
Due: none

chore(DTFS2-7769): rename has amendment in progress (#4520)
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  trade-finance-manager-ui/component-tests/case/_macros/portal-amendment-in-progress-bar.component-test.js
  trade-finance-manager-ui/component-tests/case/_macros/portal-amendment-in-progress-deal-bar.component-test.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.getAmendmentsInProgress.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
  trade-finance-manager-ui/templates/case/amendments/_macros/portal-amendment-in-progress-bar.njk
  trade-finance-manager-ui/templates/case/amendments/_macros/portal-amendment-in-progress-deal-bar.njk
  trade-finance-manager-ui/templates/case/deal/deal.njk
Due: eslint --fix

chore(7146): remove eslint ignore comments accross dtfs-central-api
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/server/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/server/helpers/get-fee-record-payment-entity-groups.ts
  dtfs-central-api/server/services/portal/facility-amendment.upsertPortalFacilityAmendmentDraft.service.test.ts
  dtfs-central-api/server/v1/controllers/utilisation-report-service/fee-record-correction/put-fee-record-correction.controller/helpers.test.ts
  dtfs-central-api/server/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers/reconciliation-summary-generator.test.ts
  dtfs-central-api/server/v1/controllers/utilisation-report-service/post-keying-data.controller/index.test.ts
Due: eslint --fix

feat(DTFS2-16902): replaced variables under deployment scripts with parameters
  .github/build-deployment-params.sh
  .github/deployment-params/common/apim-params.json
  .github/deployment-params/common/auth-params.json
  .github/deployment-params/common/network-params.json
  .github/deployment-params/services/azure-functions.json
  .github/deployment-params/services/portal-api.json
  .github/deployment-params/services/trade-finance-manager-api.json
  .github/deployment-params/services/utilization-reports.json
  .github/load-deployment-params.sh
  .github/workflows/bicep_az_deployment_group_parameterized.yml
  .github/workflows/bicep_workflow_feature.yml
Due: none

chore(7146): refactor fee record copy creatio in post-keying test
  dtfs-central-api/server/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/server/v1/controllers/utilisation-report-service/post-keying-data.controller/index.test.ts
Due: eslint --fix

feat(DTFS2-16188): fix lint errors
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/parameters.dev.json
Due: none

feat(DTFS2-16188): fix lint errors
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(DTFS2-16188): fix lint errors
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(DTFS2-16188): fix lint errors
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
Due: none

feat(DTFS2-16188): fix lint errors
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/test.bicep
Due: none

feat(DTFS2-16188): fix lint errors
  .bicepconfig.json
Due: none

feat(DTFS2-16188): fix lint errors
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-16188): fix lint errors
  infrastructure/resource_group_level/test.bicep
Due: none

feat(DTFS2-16188): fix lint errors with concat
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/test.bicep
Due: none

feat(DTFS2-16902): fixed code scan error
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_az_deployment_group_parameterized.yml
Due: none

feat(DTFS2-16188): validate resource plan
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/test.bicep
Due: none

feat(DTFS2-16188): validate resource plan
  .github/workflows/bicep_infrastructure.yml
Due: none
