Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(DTFS2-7616): manual dev deployment (#4057)
  .github/workflows/deployment.yml
  .github/workflows/test.yml
Due: none

fix(DTFS2-7616): effecient deployment
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/rerun/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/release.yml
Due: none

fix(DTFS2-7616): effecient deployment
  .github/workflows/deployment.yml
  .github/workflows/release.yml
Due: none

fix(DTFS2-7616): efficient deployment (#4059)
  .github/workflows/deployment.yml
  .github/workflows/release.yml
Due: none

fix(DTFS2-7616): effecient deployment
  .github/actions/mssql/action.yml
  .github/workflows/deployment.yml
  .github/workflows/release.yml
Due: none

fix(DTFS2-7616): added branch selection
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/deployment.yml
  .github/workflows/release.yml
Due: none

fix(DTFS2-7616): added branch selection
  .github/workflows/deployment.yml
  .github/workflows/release.yml
Due: none

feat(DTFS2-7671): unit test fix
  gef-ui/server/services/__tests__/api.test.js
Due: eslint --fix

chore(merge): merge release-2.5.1 to main
  .github/workflows/test.yml
Due: none

fix(DTFS2-7616): added branch selection
  .github/workflows/release.yml
Due: none

feat(FN-3582): add valid emails for PDC users
  utils/mock-data-loader/tfm/mocks/users.js
Due: eslint --fix

feat(DTFS2-7659): update component tests
  gef-ui/component-tests/partials/application-activity.component-test.js
  trade-finance-manager-ui/templates/case/activity/activity.njk
Due: eslint --fix

feat(DTFS2-7659): create mock author object
  gef-ui/server/controllers/activities-controller/index.test.js
  gef-ui/server/utils/mocks/mock-author.js
  trade-finance-manager-api/src/v1/__mocks__/mock-author.js
Due: eslint --fix

feat(FN-3690): address initial review comments
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/delete-fee-record-correction-transient-form-data.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/delete-fee-record-correction-transient-form-data.controller/index.ts
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction.spec.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/fee-record-correction/delete-fee-record-correction-transient-form-data.controller.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/cancel-record-correction-request/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/check-the-information/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/initiate-record-correction-request/index.ts
Due: eslint --fix

feat(DTFS2-7653): scheduled deal cancellation - gef activity entries (#4033)
  dtfs-central-api/src/repositories/portal/portal-activity.repo.test.ts
  dtfs-central-api/src/services/portal/deal.service.add-gef-deal-cancellation-pending-activity.test.ts
  dtfs-central-api/src/services/portal/deal.service.add-gef-deal-cancelled-activity.test.ts
  dtfs-central-api/src/services/portal/deal.service.ts
  dtfs-central-api/src/services/portal/deal.service.update-status.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.getTfmDealCancellationResponse.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.processPendingCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.submitDealCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.ts
  libs/common/src/constants/portal/activity.ts
  libs/common/src/types/mongo-db-models/activity-author.ts
  libs/common/src/types/portal/activity.ts
Due: eslint --fix

chore(DTFS2-7533): fix typo
  portal/templates/_partials/password-create.njk
Due: none

feat(FN-3578): display line breaks in additional info
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction-check-the-information.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction-form-errors.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction-form.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction.spec.js
  trade-finance-manager-ui/component-tests/assertions.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/record-corrections/check-the-information.component-test.ts
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/check-the-information.njk
Due: eslint --fix

feat(FN-3690): add returns docs -- address review comment
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/fee-record-correction/delete-fee-record-correction-transient-form-data.controller.ts
Due: eslint --fix

feat(FN-3690): wip -- extract record correction url gen
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/delete-fee-record-correction-transient-form-data.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/get-fee-record-correction-request-review.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/get-fee-record-correction-transient-form-data.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/post-fee-record-correction.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/put-fee-record-correction-transient-form-data.api-test.ts
  dtfs-central-api/test-helpers/get-fee-record-correction-url.ts
Due: eslint --fix

fix(DTFS2-7616): removed ref attribute
  .github/workflows/release.yml
Due: none

feat(DTFS2-7659): deal cancellation - gef activity entry - design update (#4019)
  e2e-tests/gef/cypress/e2e/application/application-activities-AIN.spec.js
  e2e-tests/gef/cypress/e2e/application/application-activities-MIA.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-disabled/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-disabled/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-enabled/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/facility-end-date-enabled/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/facility-end-date-disabled/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/facility-end-date-enabled/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/facility-end-date-disabled/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/facility-end-date-enabled/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/gef/cypress/e2e/pages/application-activities.js
  e2e-tests/tfm/cypress/e2e/journeys/case/activities/activities.spec.js
  gef-ui/component-tests/partials/application-activity.component-test.js
  gef-ui/server/controllers/activities-controller/index.js
  gef-ui/server/controllers/activities-controller/index.test.js
  gef-ui/server/utils/mocks/mock-author.js
  gef-ui/templates/_macros/application-activity/activity-html.njk
  gef-ui/templates/_macros/application-activity/deal-cancelled.njk
  gef-ui/templates/_macros/application-activity/facility.njk
  gef-ui/templates/_macros/application-activity/status-change.njk
  gef-ui/templates/partials/application-activity.njk
  libs/common/src/constants/date-formats.ts
  trade-finance-manager-api/src/v1/__mocks__/mock-author.js
  trade-finance-manager-ui/templates/case/activity/activity.njk
Due: eslint --fix

feat(dtfs2-6892): update mock builder
  libs/common/src/test-helpers/mock-builders/mock-builder.mock.builder.ts
  trade-finance-manager-api/src/v1/__mocks__/builders/user.service.mock.builder.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.get-auth-code-url.test.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.handle-sso-redirect-form.test.ts
  trade-finance-manager-api/src/v1/services/entra-id.service.get-auth-code-url.test.ts
Due: eslint --fix

Revert "feat(dtfs2-6892): remove tfm ui changes"
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/api.test.js
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/helpers/express-session.ts
  trade-finance-manager-ui/server/routes/auth/configs/index.ts
  trade-finance-manager-ui/server/routes/auth/index.ts
  trade-finance-manager-ui/server/services/login.service.ts
  trade-finance-manager-ui/server/types/express-session.d.ts
Due: eslint --fix

Revert "feat(dtfs2-6892): remove tfm ui changes"
  trade-finance-manager-ui/server/routes/auth/configs/auth-sso.ts
  trade-finance-manager-ui/server/routes/auth/configs/index.get-auth-router.test.ts
Due: eslint --fix

feat(dtfs2-6892): add user session service
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/services/login.service.ts
  trade-finance-manager-ui/server/services/user-session.service.ts
Due: eslint --fix

feat(dtfs2-6892): update user session types
  trade-finance-manager-ui/server/types/express-session.d.ts
Due: eslint --fix

feat(dtfs2-6892): add user sesion mock builder and tests
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-login.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-logout.test.ts
  trade-finance-manager-ui/test-helpers/mocks/index.ts
  trade-finance-manager-ui/test-helpers/mocks/user-session.service.mock.builder.ts
Due: eslint --fix

feat(dtfs2-6892): update mock builders
  libs/common/src/test-helpers/mock-data/get-auth-code-url-response.mock.ts
  libs/common/src/test-helpers/mock-data/index.ts
  trade-finance-manager-api/src/v1/__mocks__/builders/extra-id.service.mock.builder.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-login.test.ts
  trade-finance-manager-ui/server/services/login.service.ts
  trade-finance-manager-ui/test-helpers/mocks/login.service.mock.builder.ts
  trade-finance-manager-ui/test-helpers/mocks/user-session.service.mock.builder.ts
  trade-finance-manager-ui/test-helpers/test-data/handle-sso-redirect-form-response.ts
  trade-finance-manager-ui/test-helpers/test-data/index.ts
Due: eslint --fix

chore(DTFS2-7533): gov design library - password fields (#4049)
  portal/templates/_partials/password-create.njk
  portal/templates/login/index.njk
  portal/templates/user/change-password.njk
  trade-finance-manager-ui/templates/login.njk
  trade-finance-manager-ui/templates/user/change-password.njk
Due: none

fix(deployment): updated deployment script as per main
  .github/actions/mssql/action.yml
  .github/actions/rerun/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat(dtfs2-6892): split express session tests
  trade-finance-manager-ui/server/helpers/express-session.as-a-user-session.test.ts
Due: eslint --fix

feat(dtfs2-6892): add express session tests
  trade-finance-manager-ui/server/helpers/express-session.as-a-partially-logged-in-user-session.test.ts
  trade-finance-manager-ui/server/helpers/express-session.assert-partially-logged-in-user.test.ts
Due: eslint --fix

feat(dtfs2-6892): add express session tests
  trade-finance-manager-ui/server/helpers/express-session.assert-partially-logged-in-user.test.ts
Due: eslint --fix

feat(dtfs2-6892): update user session service import
  trade-finance-manager-ui/server/routes/auth/configs/auth-sso.ts
Due: eslint --fix

feat(dtfs2-6892): update user session service tests
  trade-finance-manager-ui/server/services/user-session.service.create-logged-in-session.test.ts
  trade-finance-manager-ui/server/services/user-session.service.create-partially-logged-in-session.test.ts
Due: eslint --fix

feat(dtfs2-6892): update login controller to handle errors
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/server/routes/login/configs/login-sso.ts
Due: eslint --fix

chore(main): release 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-7694): updated variable name
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
