Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(FN-1692): update fee record statuses (#3121)
  libs/common/src/constants/fee-record-status.ts
  trade-finance-manager-ui/.eslintrc.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-status.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-status.njk
  trade-finance-manager-ui/test-helpers/fee-record-item.ts
  trade-finance-manager-ui/test-helpers/index.ts
Due: eslint --fix

feat(FN-1615): add random fee record seeder to generate many fee records
  libs/common/src/constants/fee-record-status.ts
  package-lock.json
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-status.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  utils/package.json
  utils/sql-db-seeder/src/fee-record/fee-record.helper.ts
  utils/sql-db-seeder/src/helpers/get-exchange-rate.ts
  utils/sql-db-seeder/src/helpers/index.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix, sort-package-json

fix(FN-1615): add update query to fee record status migration
  libs/common/src/sql-db-connection/migrations/1715613302494-AddFeeRecordStatusColumn.ts
Due: eslint --fix

fix(FN-1615): add update query to fee record status migration (#3124)
  libs/common/src/sql-db-connection/migrations/1715613302494-AddFeeRecordStatusColumn.ts
Due: eslint --fix

feat(FN-1615): seed more random fee records (#3122)
  libs/common/src/constants/fee-record-status.ts
  package-lock.json
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/fee-record-status.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  utils/package.json
  utils/sql-db-seeder/src/fee-record/fee-record.helper.ts
  utils/sql-db-seeder/src/helpers/get-exchange-rate.ts
  utils/sql-db-seeder/src/helpers/index.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix, sort-package-json

chore(dtfs2-none): update to comments
  utils/copy-env-vars/.eslintrc.js
  utils/copy-env-vars/index.ts
  utils/copy-env-vars/tsconfig.eslint.json
  utils/copy-env-vars/tsconfig.json
  utils/package.json
Due: eslint --fix, sort-package-json

feat(FN-1692): add and update component tests
  trade-finance-manager-ui/component-tests/_macros/select-all-table-cell-checkbox.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
Due: eslint --fix

feat(FN-1692): use js-enabled class
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/removeHideIfJsNotEnabledClass.js
  trade-finance-manager-ui/public/js/removeHideIfJsNotEnabledClass.js.map
  trade-finance-manager-ui/scripts/remove-hide-if-js-not-enabled-class.js
  trade-finance-manager-ui/styles/hide-if-js-not-enabled.scss
  trade-finance-manager-ui/styles/styles.scss
  trade-finance-manager-ui/styles/table.scss
  trade-finance-manager-ui/templates/_macros/select-all-table-cell-checkbox.njk
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix

feat(FN-1692): add select all checkbox and hidden js elements
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js.map
  trade-finance-manager-ui/public/js/removeHideIfJsNotEnabledClass.js
  trade-finance-manager-ui/public/js/removeHideIfJsNotEnabledClass.js.map
  trade-finance-manager-ui/scripts/enable-select-all-table-checkbox.js
  trade-finance-manager-ui/scripts/remove-hide-if-js-not-enabled-class.js
  trade-finance-manager-ui/styles/hide-if-js-not-enabled.scss
  trade-finance-manager-ui/styles/styles.scss
  trade-finance-manager-ui/templates/_macros/select-all-table-cell-checkbox.njk
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix

feat(FN-1692): update component tests
  trade-finance-manager-ui/component-tests/_macros/select-all-table-cell-checkbox.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
Due: eslint --fix

feat(FN-1692): update component test
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
Due: eslint --fix

feat(FN-1615): update the formatting for the currency and amount string
  libs/common/src/helpers/currency.test.ts
  libs/common/src/helpers/currency.ts
Due: eslint --fix

chore(dtfs2-7156): update to comments
  utils/copy-env-vars/index.ts
Due: eslint --fix

feat(FN-1692): add select all checkbox and hidden js elements (#3123)
  trade-finance-manager-ui/component-tests/_macros/select-all-table-cell-checkbox.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js.map
  trade-finance-manager-ui/scripts/enable-select-all-table-checkbox.js
  trade-finance-manager-ui/styles/table.scss
  trade-finance-manager-ui/templates/_macros/select-all-table-cell-checkbox.njk
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix

feat(FN-1615): update number of fractional digits used
  libs/common/src/helpers/currency.test.ts
  libs/common/src/helpers/currency.ts
Due: eslint --fix

feat(FN-1615): update the formatting for the currency and amount string (#3125)
  libs/common/src/helpers/currency.test.ts
  libs/common/src/helpers/currency.ts
Due: eslint --fix

chore(dtfs2-none): add env copy command
  package.json
  utils/copy-env-vars/index.ts
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7157): enable prettier check
  .github/workflows/lint.yml
  package-lock.json
  portal-api/package.json
Due: sort-package-json

feat(FN-2420): do not deploy release-2.2a to feature
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1615): add sort by status to premium payments table
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
Due: none

feat(FN-1616): add sort by status to premium payments table (#3128)
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
Due: none

feat(FN-1616): add function to get data sort value for column
  package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
Due: eslint --fix, sort-package-json

feat(FN-1616): move view model types to correct directory
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
Due: eslint --fix

feat(FN-1616): update tests
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
Due: eslint --fix

feat(FN-1616): add lodash.orderby package
  package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
Due: eslint --fix, sort-package-json

feat(FN-1616): update component tests
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
  trade-finance-manager-ui/test-helpers/fee-record-view-model-item.ts
  trade-finance-manager-ui/test-helpers/index.ts
Due: eslint --fix

feat(FN-1616): update docstring
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
Due: eslint --fix

feat(FN-1615): add fee record state machine
  dtfs-central-api/src/errors/invalid-state-machine-transition.error.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/add-a-payment/add-a-payment.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/add-a-payment/add-a-payment.event-handler.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/add-a-payment/index.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/index.ts
  dtfs-central-api/src/services/state-machines/fee-record/event/base-fee-record.event.ts
  dtfs-central-api/src/services/state-machines/fee-record/event/fee-record.event-type.ts
  dtfs-central-api/src/services/state-machines/fee-record/event/fee-record.event.ts
  dtfs-central-api/src/services/state-machines/fee-record/fee-record.state-machine.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/fee-record.state-machine.ts
Due: eslint --fix

fix(DTFS2-7157): fixed prettier ignore path
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js
  utils/package.json
Due: eslint --fix, sort-package-json

fix(DTFS2-7157): reverted back formatted public JS asset
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js
Due: eslint --fix

fix(DTFS2-7157): added documentation
  .github/workflows/github.yml
Due: none

fix(DTFS2-7157): updated actions/setup-node@v4
  .github/workflows/deployment.yml
  .github/workflows/feature_deploy.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat(FN-1616): improve unit tests
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
Due: eslint --fix

feat(FN-2420): use correct indentifier for report id
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
Due: eslint --fix

feat(FN-2420): ukef utilisation report email notifications to multiple addresses (#3064)
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/feature_deploy.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  package-lock.json
  portal-api/package.json
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
  portal-api/src/v1/errors/index.js
  portal-api/src/v1/errors/invalid-report-status.error.test.ts
  portal-api/src/v1/errors/invalid-report-status.error.ts
  portal-api/src/v1/services/utilisation-report/azure-file-service.js
  portal-api/src/v1/services/utilisation-report/azure-file-service.test.js
  portal-api/src/v1/services/utilisation-report/email-service.test.ts
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-validator.test.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-validator.ts
Due: eslint --fix, sort-package-json

feat(FN-1616): create separate helper for getting the data sort value map
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-fee-record-item-index-to-data-sort-value-map-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-fee-record-item-index-to-data-sort-value-map-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
Due: eslint --fix

feat(FN-1616): changes to tests and name refactors
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-fee-record-item-index-to-data-sort-value-map-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-fee-record-item-index-to-data-sort-value-map-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-key-to-currency-and-amount-sort-value-map-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-key-to-currency-and-amount-sort-value-map-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
Due: eslint --fix

feat(FN-1616): sort premium payments table (#3129)
  package-lock.json
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-key-to-currency-and-amount-sort-value-map-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-key-to-currency-and-amount-sort-value-map-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/test-helpers/fee-record-view-model-item.ts
  trade-finance-manager-ui/test-helpers/index.ts
Due: eslint --fix, sort-package-json

feat(FN-1615): update tests and resolve other comments
  dtfs-central-api/src/errors/invalid-state-machine-transition.error.ts
  dtfs-central-api/src/services/state-machines/fee-record/fee-record.state-machine.test.ts
Due: eslint --fix

feat(DTFS2-7055): add transaction on tfm user deletion
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/drivers/db-client.ts
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
