Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-8333): apim - create gift facility - gef overview mapping
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types.ts
Due: eslint --fix

chore(DTFS2-8307): apim - create gift facility - initial gef flags (#4683)
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-deal-type-flags/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-deal-type-flags/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-party-urns/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-party-urns/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-party-urns/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-party-urns/index.ts
Due: eslint --fix

feat(DTFS2-8328): map facility name
  libs/common/src/helpers/has-been-submitted-to-tfm.test.ts
  libs/common/src/types/mongo-db-models/deals.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.ts
Due: eslint --fix

feat(DTFS2-8222): refactor error response handling
  libs/common/src/helpers/errors-include-message.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-api-error-response.test.ts
  libs/common/src/helpers/is-api-error-response.ts
  libs/common/src/helpers/parse-api-error-response.test.ts
  libs/common/src/helpers/parse-api-error-response.ts
  portal-ui/server/controllers/login/attempt-otp-login.ts
Due: eslint --fix

feat(DTFS2-8328): markups
  libs/common/src/types/mongo-db-models/deals.ts
Due: eslint --fix

feat(DTFS2-8265): refactor 2fa page tests
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/2faPageHelpers.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/check-your-email.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/new-access-code.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/resend-another-access-code.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/temporarily-suspended-access-code.page.spec.js
  e2e-tests/portal/cypress/e2e/pages/login/check-your-email-access-code.js
  e2e-tests/portal/cypress/e2e/pages/login/new-access-code.js
  e2e-tests/portal/cypress/e2e/pages/login/resend-another-access-code.js
  portal-ui/templates/login/new-access-code.njk
  portal-ui/templates/login/resend-another-access-code.njk
Due: eslint --fix

feat(DTFS-8328): markups
  gef-ui/server/types/deal.ts
  libs/common/src/types/mongo-db-models/deals.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

feat(DTFS-8328): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
Due: eslint --fix

feat(DTFS2-8328): fix linting issue
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.ts
Due: eslint --fix

feat(DTFS2-8222): access code expired page get controller (#4565)
  libs/common/src/helpers/errors-include-message.test.ts
  libs/common/src/helpers/errors-include-message.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/otp-login-result.ts
  libs/common/src/helpers/parse-api-error-response.test.ts
  libs/common/src/helpers/parse-api-error-response.ts
  portal-ui/api-tests/login/account-suspended-api-test.js
  portal-ui/component-tests/login/access-code-expired.component-test.js
  portal-ui/server/api.js
  portal-ui/server/controllers/login/attempt-otp-login.test.ts
  portal-ui/server/controllers/login/attempt-otp-login.ts
  portal-ui/server/controllers/login/get-access-code-expired-page.test.ts
  portal-ui/server/controllers/login/get-access-code-expired-page.ts
  portal-ui/server/controllers/login/get-request-new-access-code.test.ts
  portal-ui/server/controllers/login/get-request-new-access-code.ts
  portal-ui/server/controllers/login/post-check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/post-check-your-email-access-code.ts
  portal-ui/server/controllers/login/post-new-access-code-page.test.ts
  portal-ui/server/controllers/login/post-new-access-code-page.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.test.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.ts
  portal-ui/server/helpers/is-otp-expired.test.ts
  portal-ui/server/helpers/is-otp-expired.ts
  portal-ui/server/routes/login/index.js
  portal-ui/server/types/2fa/login-with-sign-in-otp-response.ts
  portal-ui/templates/login/access-code-expired.njk
Due: eslint --fix

feat(DTFS2-8328-8333): apim - create gift facility - gef overview, facility name (#4684)
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.ts
  gef-ui/server/types/deal.ts
  libs/common/src/helpers/has-been-submitted-to-tfm.test.ts
  libs/common/src/types/mongo-db-models/deals.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types.ts
Due: eslint --fix

feat(DTFS2-8329): apim - create gift facility - gef facility category code
  external-api/server/helpers/swagger-definitions/facility-category.ts
  external-api/server/v1/controllers/facility-categories.controller.test.ts
  external-api/server/v1/controllers/facility-categories.controller.ts
  external-api/server/v1/routes/external-apis.route.ts
  gef-ui/templates/includes/application-details/facilities.njk
  trade-finance-manager-api/server/v1/__mocks__/api.js
  trade-finance-manager-api/server/v1/__mocks__/mock-facility-categories.js
  trade-finance-manager-api/server/v1/api-response-types/facility-category.ts
  trade-finance-manager-api/server/v1/api-response-types/index.ts
  trade-finance-manager-api/server/v1/api.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
Due: eslint --fix

feat(16188): dev1 latest changes
  .github/workflows/deployment_dev.yml
Due: none

feat(DTFS2-8329): split up risk details mappings
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-credit-rating/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-credit-rating/index.ts
Due: eslint --fix

feat(8265): enable access code expired tests
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/access-code-expired.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/check-your-email.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/new-access-code.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/resend-another-access-code.page.spec.js
Due: eslint --fix

feat(16188): portal ui
  .github/workflows/deployment_dev.yml
Due: none

feat(DTFS2-8265): address pr comments
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/check-your-email.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/new-access-code.page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/pages/resend-another-access-code.page.spec.js
  e2e-tests/portal/cypress/e2e/pages/login/check-your-email-access-code.js
  e2e-tests/portal/cypress/e2e/pages/login/resend-another-access-code.js
Due: eslint --fix

feat(16188): default:dev issue fix
  .github/actions/webapp/action.yml
Due: none

feat(16188): default:dev issue fix
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(16188): default:dev issue fix
  infrastructure/resource_group_level/main.bicep
Due: none

feat(DTFS2-16188): removed environment for docker image name and replaced with latest
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(DTFS2-16188): commented unused variable
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(DTFS2-8329): markups
  external-api/server/v1/controllers/facility-categories.controller.test.ts
  trade-finance-manager-api/package.json
  trade-finance-manager-api/server/v1/__mocks__/mock-TFM-deal-BSS-EWCS-AIN-submitted.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.ts
Due: eslint --fix, sort-package-json

feat(16188): fix deployment issue
  .github/actions/webapp/action.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(DTFS2-8329): markups
  trade-finance-manager-api/package.json
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.ts
Due: eslint --fix, sort-package-json

feat(DTFS2-8331): apim - create gift facility - gef obligation amount
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types.ts
Due: eslint --fix

feat(DTFS2-8331): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.ts
Due: eslint --fix

feat(16188): dev1 deployment fix
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8338): apim - create gift facility - obligation subtype code
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types.ts
Due: eslint --fix

feat(16188): dev1 deployment fix
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
  infrastructure/resource_group_level/parameters_dev.json
Due: none

feat(16188): dev1 deployment fix
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

feat(16188): dev1 deployment fix
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
