Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(DTFS2-7727): html logging
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
Due: eslint --fix

fix(DTFS2-7728): refactored test
  trade-finance-manager-api/api-tests/v1/teams/get-team-members.api-test.js
Due: eslint --fix

chore(main): release 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(DTFS2-7727): change deal version
  e2e-tests/gef/cypress/fixtures/mocks/mock-deals.js
Due: eslint --fix

chore(DTFS2-7727): reenable tests
  .github/workflows/test.yml
Due: none

chore(DTFS2-7727): disable api tests
  .github/workflows/test.yml
Due: none

chore(DTFS2-7727): refactor gef cloned tests
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIA-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
  e2e-tests/gef/cypress/support/commands/clone/check-cloned-deal-banner-and-deal.js
  e2e-tests/gef/cypress/support/commands/loadData.js
Due: eslint --fix

chore(DTFS2-7727): revert loadData change
  e2e-tests/gef/cypress/support/commands/loadData.js
Due: eslint --fix

chore(DTFS2-7727): added html logging
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
Due: eslint --fix

chore(DTFS2-7727): debug with wait
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/gef/cypress/support/commands/loadData.js
Due: eslint --fix

chore(DTFS2-7727): added console.log
  .github/workflows/test.yml
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
Due: eslint --fix

chore(DTFS2-7727): added console.log
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
Due: eslint --fix

chore(DTFS2-7727): added console.log
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/gef/cypress/support/commands/loadData.js
Due: eslint --fix

chore(DTFS2-7727): temp reduce retries
  .github/workflows/test.yml
Due: none

chore(DTFS2-7727): change to find facility by name
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIA-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
Due: eslint --fix

chore(DTFS2-7727): re-enable all tests
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/support/tasks.js
Due: eslint --fix

chore(deps): dependencies updates
  dtfs-central-api/package.json
  package-lock.json
  package.json
  portal-api/package.json
Due: sort-package-json

chore(DTFS2-7727): remove useless code
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/models/application.js
  gef-ui/templates/partials/application-preview.njk
Due: eslint --fix

chore(DTFS2-7727): remove useless code
  gef-ui/server/controllers/application-details/index.js
Due: eslint --fix

chore(DTFS2-7727): test improvement
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
Due: eslint --fix

chore(deps): dependencies updates (#4099)
  dtfs-central-api/package.json
  package-lock.json
  package.json
  portal-api/package.json
Due: sort-package-json

chore(DTFS2-7727): change viewport
  e2e-tests/portal/cypress.config.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/ukef/cypress.config.js
Due: eslint --fix

chore(DTFS2-7727): test improvements
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-deal-validation.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIA-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
  e2e-tests/gef/cypress/fixtures/mocks/mock-deals.js
  e2e-tests/gef/cypress/support/commands/submit-mock-data-loader-deal-to-checker.js
  e2e-tests/gef/cypress/support/commands/submit-mock-data-loader-deal-to-ukef.js
Due: eslint --fix

chore(DTFS2-7727): refactor GEF clone deal E2E tests (#4096)
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-deal-validation.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-checker-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-AIN-submitted-to-ukef-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIA-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-MIN-deal.spec.js
  e2e-tests/gef/cypress/e2e/clone/clone-gef-deal.spec.js
  e2e-tests/gef/cypress/e2e/partials/index.js
  e2e-tests/gef/cypress/support/commands.js
  e2e-tests/gef/cypress/support/commands/clone/check-clone-deal-link.js
  e2e-tests/gef/cypress/support/commands/clone/check-cloned-deal-banner-and-deal.js
  e2e-tests/gef/cypress/support/commands/clone/clone-deal.js
  e2e-tests/gef/cypress/support/commands/complete-manual-inclusion-supporting-info-sections.js
  e2e-tests/gef/cypress/support/commands/submit-mock-data-loader-deal-to-checker.js
  e2e-tests/gef/cypress/support/commands/submit-mock-data-loader-deal-to-ukef.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/ukef/cypress.config.js
Due: eslint --fix

fix(DTFS2-3236-3455): upgraded dependencies
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

fix(DTFS2-3236-3455): upgraded dependencies (#4100)
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(DTFS2-7431): resoved comments on PR
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/dashboard/deals/dashboard-table-data.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/submit-issued-facilities-for-review/submit-issued-bond-facility-with-created-field.spec.js
  e2e-tests/portal/cypress/e2e/pages/dashboardDeals.js
Due: eslint --fix

fix(DTFS2-6892): minor fixes
  doc/tfm-sso.md
Due: none

feat(DTFS2-6892): renamed file
  libs/common/src/test-helpers/mock-builders/index.ts
  libs/common/src/test-helpers/mock-builders/mock-builder.ts
Due: eslint --fix

feat(DTFS2-6892): update mock builder to require complete defaults, add documentation demonstrating how to pass through mocked class methods (#4067)
  libs/common/src/test-helpers/mock-builders/index.ts
  libs/common/src/test-helpers/mock-builders/mock-builder.mock.builder.ts
  libs/common/src/test-helpers/mock-builders/mock-builder.ts
  trade-finance-manager-api/src/v1/__mocks__/builders/user.service.mock.builder.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.get-auth-code-url.test.ts
  trade-finance-manager-api/src/v1/controllers/sso.controller.handle-sso-redirect-form.test.ts
  trade-finance-manager-api/src/v1/services/entra-id.service.get-auth-code-url.test.ts
Due: eslint --fix

feat(DTFS2-6892): add object id schema for tfm sso (#4027)
  libs/common/src/schemas/audit-database-record.ts
  libs/common/src/schemas/index.ts
  libs/common/src/schemas/object-id.test.ts
  libs/common/src/schemas/object-id.ts
Due: eslint --fix

feat(DTFS2-6892): add initial tfm sso diagram (#4075)
  doc/assets/tfm-entra-id-auth_page-request.drawio
  doc/assets/tfm-entra-id-auth_page-request.drawio.png
  doc/docstring.md
  doc/tfm-sso.md
Due: none

feat(FN-3668): minor template fixes
  portal/templates/utilisation-report-service/record-correction/_macros/correction-request-details-table.njk
  portal/templates/utilisation-report-service/record-correction/provide-utilisation-report-correction.njk
Due: none

feat(FN-3668): add util report correction VM test helper
  portal/test-helpers/test-data/view-models/record-corrections/provide-utilisation-report-correction-view-model.ts
Due: eslint --fix

feat(FN-3668): add correction input component tests
  portal/component-tests/utilisation-report-service/record-correction/_macros/correction-request-details-table.component-test.js
  portal/component-tests/utilisation-report-service/record-correction/provide-utilisation-report-correction.component-test.js
Due: eslint --fix
