Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-16188): rework on tfm ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

feat(8194): add route and controller for temporarily suspended access code page
  portal-ui/server/controllers/login/account-suspended-page.test.ts
  portal-ui/server/controllers/login/account-suspended-page.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-16188): rework on gef ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
Due: none

feat(DTFS2-16188): rework on app gw portal
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
Due: none

feat(DTFS2-16188): rework on app gw tfm
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
Due: none

feat(DTFS2-16188): rework on app gw tfm
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
Due: none

feat(DTFS2-16188): rework on waf policies
  infrastructure/resource_group_level/main.bicep
Due: none

feat(DTFS2-16188): rework on waf policies
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

feat(DTFS2-16188): rework on frontdoor
  infrastructure/resource_group_level/modules/front-door-portal.bicep
Due: none

feat(DTFS2-16188): rework on frontdoor
  infrastructure/resource_group_level/main.bicep
Due: none

feat(DTFS2-16188): rework on frontdoor
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

feat(DTFS2-16188): rework on frontdoor
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

fix(DTFS2-8207): fix pending cancellation change button (#4550)
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/gef/AIN-deal-pending-cancellation-change-button.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/gef/MIN-deal-pending-cancellation-change-button.spec.js
  gef-ui/server/utils/helpers.js
  gef-ui/server/utils/helpers.test.js
Due: eslint --fix

chore(main): release 2.12.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-16188): updated api version under waf policies template
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

feat(DTFS2-16188): added sku options for waf policies template
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

feat(8195): address pr comments
  portal-ui/server/controllers/login/account-suspended-page.test.ts
  portal-ui/server/controllers/login/account-suspended-page.ts
Due: eslint --fix

feat(DTFS2-16188): rework on namings front door
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

feat(8195): add API test for temporarily suspended access code page
  portal-ui/api-tests/login/account-suspended-api-test.js
Due: eslint --fix

feat(8195): update index to use getAccountSuspendedPage
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-16188): rework on namings front door
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

chore(7146): simplify api mocking in addCheckerCommentsToApplication test
  gef-ui/server/helpers/add-checker-comments-to-application.test.ts
Due: eslint --fix

feat(DTFS2-16188): rework on namings front door
  infrastructure/resource_group_level/modules/front-door-portal.bicep
Due: none

feat(DTFS2-16188): rework on namings front door
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

fix(DTFS2-8210): fixed make a change not being shown on further makers input required
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/maker/return-to-maker.spec.js
  gef-ui/server/helpers/map-facility-application-details.ts
  gef-ui/server/utils/facility-amendments.helper.canUserAmendIssuedFacilities.test.ts
  gef-ui/server/utils/facility-amendments.helper.ts
  gef-ui/server/utils/facility-amendments.helper.userCanAmendFacility.test.ts
  gef-ui/templates/includes/application-details/facilities.njk
Due: eslint --fix

feat(DTFS2-16188): destroy waf policies
  infrastructure/resource_group_level/main.bicep
Due: none
