Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-6734): improve error handling & update user model
  portal/server/generateApp.ts
  portal/server/models/bank.ts
  portal/server/models/user.ts
Due: eslint --fix

feat(FN-1042): statusCode -> status
  dtfs-central-api/src/types/utilisation-reports.d.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller.test.js
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-status.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.js
  trade-finance-manager-ui/server/test-mocks/mock-utilisation-report-reconciliation-summary.js
  trade-finance-manager-ui/server/types/utilisation-reports.d.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
Due: eslint --fix

fix/add unit to max file size environment variable infra (#2428)
  .github/workflows/bicep_az_deployment_group.yml
  infrastructure/resource_group_level/main.bicep
Due: none

fix(DTFS-6538): current css order fails 'Codacy Static Code Analysis', trying moving 1 css class
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/list.scss
Due: none

feat(DTFS2-6734): update user model and fix select user template
  portal/server/models/user.ts
  portal/templates/admin/activity/select-user.njk
Due: eslint --fix

fix/add unit to max file size environment variable (#2427)
  .env.sample
  docker-compose.dev.yml
  docker-compose.gha.yml
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(DTFS2-6734): fix component tests and install ts-jest for api-tests
  portal/api-test.jest.config.js
  portal/component-tests/admin/activity/search-users.component-test.js
  portal/component-tests/partials/primary-navigation.component-test.js
  portal/package-lock.json
  portal/package.json
Due: eslint --fix, sort-package-json

fix(doc): updated markdown sytanx
  portal-api/README.md
  portal-api/api-tests/fixtures/deal-fully-completed.js
Due: eslint --fix

fix(gha): azure functions api-test matrix execution
  .github/workflows/test.yml
Due: none

fix(api-test): fixed dof api test
  .github/workflows/test.yml
Due: none

Update trade-finance-manager-ui/templates/case/amendments/amendment-answers.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-answers.njk
Due: none

fix: update package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
Due: none

fix: update tests
  portal-api/api-tests/v1/utilisation-report-service/due-report-dates.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/lastest-report.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/previous-reports.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-download.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
Due: eslint --fix

chore: swap feature deployments to TFM 5 release
  .github/workflows/feature_deploy.yml
Due: none

feat(DTFS2-6734): add e2e tests for activity/search page
  e2e-tests/portal/cypress/e2e/journeys/admin/activity/search-for-user.spec.js
  e2e-tests/portal/cypress/e2e/pages/admin/activity/searchUsers.js
  e2e-tests/portal/cypress/e2e/pages/header.js
  e2e-tests/portal/cypress/e2e/pages/index.js
Due: eslint --fix

fix(DTFS-6522): simplify 'Facility' page tab 'Premium Schedule' definition list
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/list.scss
  trade-finance-manager-ui/templates/case/facility/_macros/premium_schedule.njk
Due: none

feat(DTFS2-6463): add header component tests for tasks-table-amendments
  trade-finance-manager-ui/templates/case/amendments/_macros/tasks-table-amendments.component-test.js
Due: eslint --fix

fix: update bicep deploy trigger
  .github/workflows/bicep_workflow_feature.yml
Due: none

fix: update cypress.config.js
  e2e-tests/portal/cypress.config.js
Due: eslint --fix

feat(DTFS2-6734): fix e2e test
  e2e-tests/portal/cypress/e2e/journeys/admin/activity/search-for-user.spec.js
  e2e-tests/portal/cypress/e2e/pages/admin/activity/searchUsers.js
  e2e-tests/portal/cypress/e2e/pages/header.js
Due: eslint --fix

fix(DTFS-6464): use summary lists on underwriting page (#2355)
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/pricing-and-risk-risk-managers.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/pricing-and-risk.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/underwriting-page.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/users/PIM_user.spec.js
  e2e-tests/tfm/cypress/e2e/pages/underwriting/pricingAndRiskPage.js
  e2e-tests/tfm/cypress/e2e/pages/underwriting/underwritingPage.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-default-credit-rating-in-tfm/submit-AIN-deal-creates-default-credit-rating-in-tfm.spec.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-exporter/exporter-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-exporter/exporter-table.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-exporter/section-exporter.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.njk
Due: eslint --fix

feat(FN-1042): naming refactor
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller.js
Due: eslint --fix

fix(DTFS2-6531): resolved comments on PR
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-beneficiary-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-issuer-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/task.component-test.js
  trade-finance-manager-ui/templates/_macros/facility-link.component-test.js
  trade-finance-manager-ui/templates/_macros/facility-link.njk
  trade-finance-manager-ui/templates/case/deal/_macros/facilities-table.component-test.js
  trade-finance-manager-ui/templates/case/deal/_macros/facilities-table.njk
  trade-finance-manager-ui/templates/case/tasks/task.component-test.js
  trade-finance-manager-ui/templates/case/tasks/task.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.njk
  trade-finance-manager-ui/templates/deals/_macros/deals-table.component-test.js
  trade-finance-manager-ui/templates/deals/_macros/deals-table.njk
  trade-finance-manager-ui/templates/facilities/facilities.njk
Due: eslint --fix

fix(DTFS-6531): accessibility - added text for screen readers which will help activate the hyperlink
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-beneficiary-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-issuer-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/task.component-test.js
  trade-finance-manager-ui/templates/_macros/facility-link.component-test.js
  trade-finance-manager-ui/templates/_macros/facility-link.njk
  trade-finance-manager-ui/templates/case/deal/_macros/facilities-table.component-test.js
  trade-finance-manager-ui/templates/case/deal/_macros/facilities-table.njk
  trade-finance-manager-ui/templates/case/tasks/task.component-test.js
  trade-finance-manager-ui/templates/case/tasks/task.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.njk
  trade-finance-manager-ui/templates/deals/_macros/deals-table.component-test.js
  trade-finance-manager-ui/templates/deals/_macros/deals-table.njk
  trade-finance-manager-ui/templates/facilities/facilities.njk
Due: eslint --fix

fix(DTFS2-6463): add 'Task' and 'Status' headings to deal tasks tables (#2417)
  trade-finance-manager-ui/templates/case/amendments/_macros/tasks-table-amendments.component-test.js
  trade-finance-manager-ui/templates/case/amendments/_macros/tasks-table-amendments.njk
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.component-test.js
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.njk
Due: eslint --fix

feat(DTFS2-6786): add GEF eligibility criteria in clone-gef-deal API test
  portal-api/api-tests/v1/gef/clone-gef-deal.api-test.js
Due: eslint --fix

fix(api-test): fixed api-tests
  portal-api/api-tests/fixtures/eligibilityCriteria.js
  portal-api/api-tests/v1/eligibility-criteria/eligibility-criteria.api-test.js
  portal-api/api-tests/v1/gef/clone-gef-deal.api-test.js
  portal-api/api-tests/v1/gef/eligibility-criteria.api-test.js
Due: eslint --fix

fix(api-test): fixed api-tests
  external-api/src/v1/controllers/ordnance-survey.controller.ts
  portal-api/api-tests/v1/gef/eligibility-criteria.api-test.js
  portal-api/api-tests/v1/gef/external-api.api-test.js
Due: eslint --fix

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
Due: none

chore: swap feature deployments to TFM 5 release (#2430)
  .github/workflows/feature_deploy.yml
Due: none

feat(DTFS2-6734): temporarily turn off env variable checking to run pipeline
  portal/server/generateApp.ts
Due: eslint --fix

feat(DTFS2-5659): resolved conflicts
  gef-ui/server/index.ts
  portal/server/index.ts
Due: eslint --fix

fix(DTFS2-6522): Accessibility - Description list (#2280)
  gef-ui/public/css/styles.css
  gef-ui/styles/footer.scss
  gef-ui/templates/includes/footer.njk
  portal/public/css/styles.css
  portal/styles/footer.scss
  portal/templates/_partials/footer.njk
  service-unavailable/index.html
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/case-summary.scss
  trade-finance-manager-ui/styles/footer.scss
  trade-finance-manager-ui/styles/list.scss
  trade-finance-manager-ui/styles/styles.scss
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary-ndb.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary.njk
  trade-finance-manager-ui/templates/case/_macros/ukef-deal-stage.njk
  trade-finance-manager-ui/templates/case/amendments/_macros/amendment-ukef-decision-summary.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-answers.njk
  trade-finance-manager-ui/templates/case/deal/deal.njk
  trade-finance-manager-ui/templates/case/facility/_macros/amendment-details.njk
  trade-finance-manager-ui/templates/case/facility/_macros/facility_details.njk
  trade-finance-manager-ui/templates/case/facility/_macros/premium_schedule.njk
  trade-finance-manager-ui/templates/case/parties/_macros/parties-key-value-array-grid-row.njk
  trade-finance-manager-ui/templates/case/parties/_macros/parties-key-value-grid-row.njk
Due: none

fix(DTFS2-6466): add text in TFM for screen readers to make input field prefix/suffix known (#2422)
  trade-finance-manager-ui/component-tests/case/underwriting/loss-given-default.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/probability-of-default.component-test.js
  trade-finance-manager-ui/templates/case/amendments/amendment-facility-value.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/loss-given-default.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/probability-of-default.njk
Due: eslint --fix

feat(DTFS2-6734): refactor activity search results routing
  e2e-tests/portal/cypress/e2e/journeys/admin/activity/search-for-user.spec.js
  portal/server/routes/admin/activity.ts
Due: eslint --fix

fix(DTFS2-6786): added EC21 to GEF-UI model
  gef-ui/server/models/application.js
  portal-api/README.md
  portal-api/api-tests/fixtures/gef/coverTerms.js
  utils/mock-data-loader/bss/deals/1.js
  utils/mock-data-loader/bss/deals/10.js
  utils/mock-data-loader/bss/deals/11.js
  utils/mock-data-loader/bss/deals/2.js
  utils/mock-data-loader/bss/deals/3.js
  utils/mock-data-loader/bss/deals/4.js
  utils/mock-data-loader/bss/deals/5.js
  utils/mock-data-loader/bss/deals/6.js
  utils/mock-data-loader/bss/deals/7.js
  utils/mock-data-loader/bss/deals/8.js
  utils/mock-data-loader/bss/deals/9.js
Due: eslint --fix

chore(deps): dependencies updates
  external-api/package-lock.json
  external-api/package.json
  package-lock.json
Due: sort-package-json

feat(DTFS2-5659): moved default-view-deal.component-test.js under deals
  trade-finance-manager-ui/component-tests/deals/default-view-deal.component-test.js
Due: eslint --fix
