Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7805): fix failing test
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-further-makers-input-pending-cancellation-deal.spec.js
Due: eslint --fix

feat(DTFS2-7763): added tfm activity when portal amendment is submitted to ukef (#4360)
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-get-acknowledged.api-test.ts
  dtfs-central-api/api-tests/v1/portal-facility-amendments/submit-amendment-patch.api-test.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/index.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-activities.repo.submitTfmActivity.test.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-activities.repo.ts
  dtfs-central-api/src/services/portal/facility-amendment.returnPortalFacilityAmendmentToMaker.test.ts
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  dtfs-central-api/src/services/portal/facility-amendment.submitPortalFacilityAmendmentToChecker.service.test.ts
  dtfs-central-api/src/services/portal/facility-amendment.submitPortalFacilityAmendmentToUkef.service.test.ts
  dtfs-central-api/src/services/portal/facility-amendment.updatePortalFacilityAmendmentUserValues.service.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-submit-amendment-payload.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-submit-amendment-payload.ts
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm-activities-submit-amendments-to-ukef.spec.js
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.test.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.ts
  gef-ui/server/services/api.js
  portal-api/api-tests/v1/gef/amendments/submit-amendment.patch.api-test.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/patch-submit-amendment-controller.test.ts
  portal-api/src/v1/controllers/amendments/patch-submit-amendment.controller.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-submit-amendment-payload.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-submit-amendment-payload.ts
Due: eslint --fix

feat(DTFS2-8033): fixed SRI
  gef-ui/package.json
  package-lock.json
  portal/component-tests/index/index.component-test.js
  portal/component-tests/partials/footer.component-test.js
  portal/package.json
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7805): review markups
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-further-makers-input-cancelled-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-further-makers-input-pending-cancellation-deal.spec.js
Due: eslint --fix

feat(DTFS2-7805): added banner for in progress amendments on pending cancellation deal (#4361)
  e2e-tests/gef/cypress/e2e/pages/application-preview.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-further-makers-input-cancelled-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-further-makers-input-pending-cancellation-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-ready-for-checker-pending-cancellation-deal.spec.js
  gef-ui/component-tests/includes/application-preview/amendments-abandoned-deal-cancelled.component-test.ts
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/helpers/map-facility-application-details.test.ts
  gef-ui/server/helpers/map-facility-application-details.ts
  gef-ui/templates/includes/application-preview/amendments-abandoned-deal-cancelled.njk
Due: eslint --fix

feat(DTFS2-8033): updated contact page
  portal/api-tests/footer-routes.api-test.js
  portal/component-tests/test-helpers/with-contact-us-email-address.component-tests.js
  portal/server/routes/footer.route.js
  portal/templates/_partials/contact.njk
  portal/templates/contact.njk
  portal/templates/login/temporarily-suspended.njk
  portal/templates/login/we-have-sent-you-another-link.njk
  portal/templates/page-not-found.njk
  portal/templates/reset-password.njk
Due: eslint --fix

feat(DTFS2-7789): address pr comments
  dtfs-central-api/src/services/portal/deal.service.ts
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/update-deal.controller.js
Due: eslint --fix

feat(DTFS2-8033): added screenshots to cypress failure - GIFT
  .github/workflows/test.yml
  package-lock.json
Due: none

chore(DTFS2-8033): updated package lock
  package-lock.json
Due: none

feat(DTFS2-8033): added markdown validation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint.yml
  .markdownlint.json
  .markdownlintignore
  doc/schemas.md
  gef-ui/README.md
  package-lock.json
  package.json
  portal/README.md
  portal/server/constants/dashboard.js
  portal/server/constants/primary-nav-key.ts
  portal/server/routes/user/profile.js
  portal/templates/_partials/header.njk
  portal/templates/index.njk
  trade-finance-manager-api/tasks.md
Due: eslint --fix, sort-package-json

feat(DTFS2-8033): fixed markdown validation errors
  .github/workflows/README.md
  .prettierrc.json
  README.md
  azure-functions/README.md
  doc/docstring.md
  doc/gotchas.md
  doc/npm-workspaces.md
  doc/schemas.md
  doc/sql-db.md
  doc/state-machines.md
  dtfs-central-api/README.md
  e2e-tests/README.md
  external-api/README.md
  gef-ui/README.md
  libs/common/README.md
  package.json
  portal-api/README.md
  portal/README.md
  reverse-proxy/README.md
  trade-finance-manager-api/README.md
  trade-finance-manager-api/tasks.md
  trade-finance-manager-ui/README.md
  utils/README.md
  utils/data-migration/README.md
  utils/data-migration/remove-sql-ledger/README.md
Due: sort-package-json

feat(DTFS2-8033): fixed typeorm query builder delete method
  gef-ui/package.json
  package-lock.json
  portal/package.json
  portal/templates/_partials/header.njk
  portal/templates/index.njk
  trade-finance-manager-ui/package.json
  utils/sql-db-seeder/src/index.ts
Due: eslint --fix, sort-package-json

feat(DTFS2-7880-7921): address pr comments
  e2e-tests/gef/cypress/e2e/pages/application-preview.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/deal-summary-page-amendment-effective-future.spec.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/helpers/get-amendment-created-by-row.ts
  gef-ui/server/helpers/map-facility-application-details.test.ts
  gef-ui/server/helpers/map-facility-application-details.ts
  gef-ui/server/types/portal-amendments.ts
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/templates/_macros/amendments/submitted-amendment-summary-list.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
Due: eslint --fix

feat(DTFS2-7880-7921): address pr comment
  gef-ui/server/helpers/add-amendment-params-to-facility.ts
Due: eslint --fix

feat(DTFS2-7880-7921): fix test
  gef-ui/component-tests/_macros/submitted-amendment-summary-list.component-test.ts
Due: eslint --fix

feat(DTFS2-8033): fixed unit test case with feature flag mocked as false
  portal/server/controllers/dashboard/deals/template-filters.test.js
  portal/templates/_partials/header.njk
Due: eslint --fix

feat(DTFS2-8033): fixed unit test cases
  portal/component-tests/partials/primary-navigation.component-test.js
  portal/server/constants/primary-nav-key.ts
  portal/server/controllers/dashboard/deals/template-filters.test.js
  portal/server/controllers/dashboard/facilities/template-filters.test.js
  portal/templates/_partials/header.njk
Due: eslint --fix

feat(DTFS2-7880-7921): make a change button and banner effective future amendmnent (#4362)
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.findAllTypeAmendmentsByDealIdAndStatus.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  e2e-tests/gef/cypress/e2e/pages/application-preview.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/deal-summary-page-amendment-effective-future.spec.js
  e2e-tests/ukef/cypress/support/gef/makerAndCheckerSubmitPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerMakesPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerSubmitPortalAmendmentForReview.js
  gef-ui/component-tests/_macros/submitted-amendment-summary-list.component-test.ts
  gef-ui/component-tests/includes/application-preview/facilities.component-test.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/helpers/add-amendment-params-to-facility.test.ts
  gef-ui/server/helpers/add-amendment-params-to-facility.ts
  gef-ui/server/helpers/get-amendment-created-by-row.ts
  gef-ui/server/helpers/map-facility-application-details.test.ts
  gef-ui/server/helpers/map-facility-application-details.ts
  gef-ui/server/types/portal-amendments.ts
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/templates/_macros/amendments/submitted-amendment-summary-list.njk
  gef-ui/templates/includes/application-preview/amendment-future-effective-banner.njk
  gef-ui/templates/includes/application-preview/facilities.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
Due: eslint --fix

chore(main): release 2.9.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-8033): updated package-lock json
  package-lock.json
Due: none

feat(DTFS2-8033): fixed SRIs
  gef-ui/component-tests/index/index.component-test.js
  gef-ui/templates/index.njk
  trade-finance-manager-ui/component-tests/index/index.component-test.js
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

feat(DTFS2-8033): updated CSP
  dtfs-central-api/src/v1/routes/middleware/headers/security.js
  e2e-tests/gef/cypress.config.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/ukef/cypress.config.js
  external-api/src/middleware/headers/security/index.api-test.ts
  external-api/src/middleware/headers/security/index.ts
  gef-ui/component-tests/index/index.component-test.js
  gef-ui/server/middleware/headers/security.middleware.js
  portal-api/src/v1/middleware/headers/security.js
  portal/server/routes/middleware/headers/security.middleware.js
  trade-finance-manager-api/src/v1/middleware/headers/security.js
  trade-finance-manager-ui/server/middleware/headers/security.js
Due: eslint --fix

feat(DTFS2-7789): fix failing api tests
  dtfs-central-api/src/v1/controllers/portal/gef-deal/update-deal.controller.js
Due: eslint --fix

feat(DTFS2-8033): updated CSP for cypress
  e2e-tests/gef/cypress.config.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/ukef/cypress.config.js
Due: eslint --fix

feat(DTFS2-8033): set gha permission to read
  .github/workflows/lint.yml
Due: none

feat(DTFS2-8033): set gha permission to read
  .github/workflows/github.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-8033): updated header and footer link syntax
  e2e-tests/gef/cypress/e2e/pages/page-banner.js
  e2e-tests/portal/cypress/e2e/pages/header.js
  gef-ui/templates/includes/header.njk
  portal/component-tests/partials/footer.component-test.js
  portal/component-tests/partials/primary-navigation.component-test.js
  portal/server/constants/primary-nav-key.ts
  portal/templates/_partials/footer.njk
  portal/templates/_partials/header.njk
Due: eslint --fix

feat(DTFS2-7789): deal updatedAt when amendment has been approved (#4355)
  dtfs-central-api/src/services/portal/deal.service.ts
  dtfs-central-api/src/services/portal/deal.service.update-deal.test.ts
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/create-multiple-facilities.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.ts
  dtfs-central-api/src/v1/controllers/portal/gef-deal/add-min-activities.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/update-deal.controller.js
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-deals-last-updated.spec.js
  portal-api/src/v1/controllers/deal.controller.test.js
Due: eslint --fix

feat(DTFS2-7762): add current value and coverEndDate
  dtfs-central-api/src/repositories/tfm-facilities-repo/aggregate-pipelines/index.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/aggregate-pipelines/latest-completed-cover-end-date-amendment.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/aggregate-pipelines/latest-completed-value-amendment.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-latest-amendment-facility-value-and-cover-end-date.controller.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-submit-amendment-payload.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
  gef-ui/server/controllers/amendments/cover-end-date/post-cover-end-date.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.ts
  gef-ui/server/services/api.js
  libs/common/src/helpers/date.ts
  libs/common/src/schemas/portal-amendment.schema.ts
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  libs/common/src/types/portal/amendment.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/get-latest-amendment-facility-value-and-cover-end-date.controller.ts
  portal-api/src/v1/controllers/amendments/patch-submit-amendment.controller.ts
  portal-api/src/v1/gef/routes.js
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-submit-amendment-payload.ts
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/templates/case/facility/_macros/amendment-details.njk
Due: eslint --fix

fix(DTFS2-8033): fixed header e2e test
  e2e-tests/portal/cypress/e2e/journeys/portal-header.spec.js
  e2e-tests/portal/cypress/e2e/pages/header.js
Due: eslint --fix

fix(DTFS2-8033): updated SRIs
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
  e2e-tests/portal/cypress/e2e/pages/header.js
  portal/component-tests/contract/about/check-your-answers.component-test.js
  portal/component-tests/contract/about/financial-details.component-test.js
  portal/component-tests/partials/primary-navigation.component-test.js
  portal/templates/_macros/facility-inputs/guarantee-fee-payable-by-bank.njk
  portal/templates/_macros/facility-inputs/ukef-exposure.njk
  portal/templates/_partials/header.njk
  portal/templates/_partials/print-button.njk
Due: eslint --fix

fix(DTFS2-8033): added footer e2e
  e2e-tests/portal/cypress/e2e/journeys/portal-footer.spec.js
  e2e-tests/portal/cypress/e2e/journeys/portal-header.spec.js
  e2e-tests/portal/cypress/e2e/pages/footer.js
  portal/component-tests/contract/about/check-your-answers.component-test.js
  portal/templates/_partials/footer.njk
Due: eslint --fix

fix(DTFS2-8033): fixed e2e test
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
Due: eslint --fix

feat(DTFS2-8033): fixed tfm-ui SRI
  .env.sample
  trade-finance-manager-ui/component-tests/index/index.component-test.js
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

feat(DTFS2-8033): fixed gef-ui SRI
  .github/workflows/test.yml
  gef-ui/component-tests/partials/amendments/amendment-details-ready-for-checkers-approval.component-test.ts
  gef-ui/templates/partials/print-button.njk
  package-lock.json
Due: eslint --fix

feat(DTFS2-8033): added contact E2E
  .github/workflows/test.yml
  e2e-tests/portal/cypress/e2e/journeys/contact/contact.spec.js
  e2e-tests/portal/cypress/e2e/pages/contact.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  portal/templates/_partials/contact.njk
  portal/templates/contact.njk
Due: eslint --fix

feat(DTFS2-8033): strict E2E assertion
  .github/workflows/test.yml
  e2e-tests/portal/cypress/e2e/journeys/contact/contact.spec.js
Due: eslint --fix

feat(DTFS2-8033): njk indentation fix
  .github/workflows/test.yml
  package-lock.json
  package.json
  portal/templates/_partials/header.njk
Due: sort-package-json

feat(DTFS2-8033): njk indentation fix
  portal/templates/_partials/header.njk
Due: none

feat(DTFS2-8033): njk indentation fix
  .github/workflows/test.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
