Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(DTFS-7820): fix component tests
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
  portal/component-tests/contract/components/clone-deal-link.component-test.js
Due: eslint --fix

fix(DTFS2-7842): lint fixes
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.js
Due: eslint --fix

fix(DTFS2-7842): lint fixes
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

fix(DTFS2-7842): graceful exceptional handling for TFM page (#4242)
  dtfs-central-api/Dockerfile
  external-api/Dockerfile
  gef-ui/Dockerfile
  portal-api/Dockerfile
  portal/Dockerfile
  reverse-proxy/Dockerfile
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-ui/Dockerfile
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.deals.test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.facilities.test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.js
Due: eslint --fix

fix(DTFS2-7827): feature flag covenant and guarantee record creation
  azure-functions/acbs-function/src/functions/acbs-amend-facility.js
Due: eslint --fix

chore(DTFS2-7431): resolved comments on PR
  e2e-tests/portal/cypress/e2e/journeys/checker/dashboard/dashboard.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-status.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filters/dashboard-deals-filters.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filters/dashboard-deals-panel-filter-remove.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-buyer-page-happy-path.spec.js
Due: eslint --fix

chore(DTFS2-7431): refactor about-supply-contract-page-titles e2e test
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/about-supply-contract-page-titles.spec.js
  e2e-tests/portal/cypress/e2e/pages/contract/about/about-supplier.js
Due: eslint --fix

fix(DTFS2-7827): facilty covenant and guarantee amendment under feature flag (#4243)
  azure-functions/acbs-function/src/functions/acbs-amend-facility.js
Due: eslint --fix

chore(deps): dependencies updates
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(DTFS2-7431): resolved comments on PR
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/e2e/journeys/checker/dashboard/dashboard.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-buyer-page-happy-path.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-buyer-validation.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-financial-page-happy-path.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-financial-validation.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-clearing-data-via-next-page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-clearing-data-via-save-and-go-back.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-happy-path.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-validation.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-buyer-page-create-element.spec.js
Due: eslint --fix

chore(deps): dependencies updates (#4247)
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): dependencies updates
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(deps): dependencies updates (#4248)
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-7679): add amendment status and details links
  gef-ui/server/controllers/application-details/index.js
  gef-ui/templates/includes/application-preview/facilities.njk
  gef-ui/templates/includes/application-preview/summary.njk
  gef-ui/templates/includes/application-preview/task-comments.njk
  libs/common/src/constants/amendments.ts
  libs/common/src/constants/portal/deal-status.ts
Due: eslint --fix

chore(DTFS2-7431): resolved comments on PR
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-buyer-validation.spec.js
Due: eslint --fix

fix(DTFS2-7820): change a text with type from libs common
  portal/server/routes/contract/index.js
Due: eslint --fix

fix(DTFS2-7820): cancel deal hide clone button (#4240)
  e2e-tests/portal/cypress/e2e/pages/cloneDeal.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/deal-cancellation-maker-unable-clone-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/gef/deal-cancellation-maker-unable-clone-deal.spec.js
  gef-ui/component-tests/includes/application-details/applicationReferenceAndActions.component-test.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/templates/includes/application-details/applicationReferenceAndActions.njk
  portal/component-tests/contract/components/clone-deal-link.component-test.js
  portal/server/routes/contract/index.js
  portal/templates/contract/components/clone-deal-link.njk
  portal/templates/contract/contract-view.njk
Due: eslint --fix

fix(DTFS2-7813): estore payload sanitisation
  cspell.json
  libs/common/src/helpers/string.test.ts
  libs/common/src/helpers/string.ts
  trade-finance-manager-api/src/v1/helpers/formatNameForSharepoint.js
  trade-finance-manager-api/src/v1/mappings/map-create-estore.api-test.js
  trade-finance-manager-api/src/v1/mappings/map-create-estore.js
  trade-finance-manager-api/src/v1/mappings/map-ukef-documents-to-estore.js
Due: eslint --fix

fix(DTFS2-7813): estore payload sanitisation (#4251)
  cspell.json
  libs/common/src/helpers/string.test.ts
  libs/common/src/helpers/string.ts
  trade-finance-manager-api/src/v1/helpers/formatNameForSharepoint.js
  trade-finance-manager-api/src/v1/mappings/map-create-estore.api-test.js
  trade-finance-manager-api/src/v1/mappings/map-create-estore.js
  trade-finance-manager-api/src/v1/mappings/map-ukef-documents-to-estore.js
Due: eslint --fix

chore(main): release 2.8.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7846): acr purge github action
  .github/actions/azure/action.yml
  .github/actions/notify/action.yml
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/purge.yml
Due: none

feat(DTFS2-7846): updated deployment and release YML GHAs
  .github/workflows/release.yml
Due: none

feat(DTFS2-7846): added acr purge github action composite module
  .github/actions/azure/action.yml
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/purge.yml
Due: none

feat(DTFS2-7846): added acr purge github action composite module
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
Due: none

feat(DTFS2-7846): added acr purge github action composite module
  .github/workflows/purge.yml
Due: none

feat(DTFS2-7846): added acr purge github action composite module
  .github/actions/azure/action.yml
  .github/actions/notify/action.yml
Due: none

feat(DTFS2-7846): added acr purge github action composite module
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/purge.yml
Due: none

feat(DTFS2-7846): added acr purge github action composite module
  .github/actions/azure/action.yml
  .github/actions/notify/action.yml
  .github/workflows/purge.yml
Due: none

feat(DTFS2-7679): add unit tests
  gef-ui/component-tests/includes/application-preview/facilities.component-test.js
  gef-ui/component-tests/includes/application-preview/summary.component-test.js
  gef-ui/component-tests/includes/application-preview/task-comments.component-test.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/utils/submitted-amendment-details.js
  gef-ui/server/utils/submitted-amendment-details.test.js
  gef-ui/templates/includes/application-preview/facilities.njk
  gef-ui/templates/includes/application-preview/task-comments.njk
Due: eslint --fix

feat(DTFS2-7846): added acr purge github action composite module
  .github/actions/azure/action.yml
Due: none

feat(DTFS2-7846): added acr purge github action composite module
  .github/actions/acr/action.yml
  .github/actions/azure/action.yml
  .github/workflows/deployment.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
Due: none
