Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-NONE): update sri, update readme around sri
  README.md
  gef-ui/templates/index.njk
  package-lock.json
  portal/templates/index.njk
  trade-finance-manager-ui/templates/index.njk
Due: none

feat(FN-1613): add primary navigation keys to tfm-ui (#2992)
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-status.component-test.js
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/constants/primary-navigation-keys.ts
  trade-finance-manager-ui/server/constants/team-ids.ts
  trade-finance-manager-ui/server/constants/utilisation-report-reconciliation-status.ts
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/controllers/deals/index.test.js
  trade-finance-manager-ui/server/controllers/facilities/index.js
  trade-finance-manager-ui/server/controllers/facilities/index.test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.ts
Due: eslint --fix

feat(FN-1613): update sql id validation to accept any path parameter
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/validation/route-validators/route-validators.js
  portal-api/src/v1/routes.js
  portal-api/src/v1/validation/route-validators/route-validators.js
  portal/server/routes/middleware/validateSqlId/index.test.ts
  portal/server/routes/middleware/validateSqlId/index.ts
  portal/server/routes/utilisation-report-service/utilisation-report-download/index.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-ui/server/middleware/validateSqlId/index.test.ts
  trade-finance-manager-ui/server/middleware/validateSqlId/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.js
Due: eslint --fix

fix(FN-1862): fix reconciliation summary helpers to avoid extra db queries
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
Due: eslint --fix

feat(FN-1613): validator export fixes
  dtfs-central-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
Due: eslint --fix

feat(DTFS2-6891): adding types, jsdoc and comment improvements
  trade-finance-manager-api/src/types/auth/azure-id-token-claims.ts
  trade-finance-manager-api/src/types/auth/azure-user-info-response-account.ts
  trade-finance-manager-api/src/types/auth/azure-user-info-response.ts
  trade-finance-manager-api/src/types/auth/get-user-response.ts
  trade-finance-manager-api/src/types/date.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-and-map-existing-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-existing-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-or-create-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-or-create-tfm-user.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/populate-tfm-user-with-entra-data.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/handleFindByEmailsResult.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/handleFindByEmailsResult.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

fix(DTFS2-7091): ensure incomplete facilities cannot be submitted
  portal-api/src/v1/facility-dates/requested-cover-start-date.js
  portal/server/helpers/dealFormsCompleted.js
  portal/server/helpers/isFacilityComplete.test.js
Due: eslint --fix

feat(DTFS2-6891): renaming new unit test files from '*api-test*' '*test*'
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-get-auth-code-url.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-get-authority-metadata.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-get-login-url.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-get-logout-url.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-get-msal-instance.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-get-redirect-url.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider-handle-redirect.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/index.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/issue-jwt-and-update-user.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/map-entra-user-data.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/map-first-and-last-name.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/populate-tfm-user-with-entra-data.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/tfm-user.test.js
  trade-finance-manager-api/src/v1/controllers/auth/auth.controller.test.js
Due: eslint --fix

feat(DTFS2-NONE): update gef sri
  gef-ui/templates/index.njk
Due: none

feat(DTFS2-NONE): remove unneeded import
  gef-ui/server/generateApp.js
Due: eslint --fix

feat(DTFS2-NONE): update readme
  README.md
Due: none

feat(FN-1613): update sql id validation to accept any path parameter (#2993)
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/validation/route-validators/route-validators.js
  portal-api/src/v1/routes.js
  portal-api/src/v1/validation/route-validators/route-validators.js
  portal/server/routes/middleware/validateSqlId/index.test.ts
  portal/server/routes/middleware/validateSqlId/index.ts
  portal/server/routes/utilisation-report-service/utilisation-report-download/index.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-ui/server/middleware/validateSqlId/index.test.ts
  trade-finance-manager-ui/server/middleware/validateSqlId/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.js
Due: eslint --fix

fix(DTFS2-7091): fixed unit test
  portal/server/helpers/dealFormsCompleted.test.js
Due: eslint --fix

fix(DTFS2-7091): fixed api test
  portal-api/api-tests/v1/bonds/bonds.api-test.js
Due: eslint --fix

feat(DTFS2-7093): Update Crown logo to Tudor logo (#2983)
  README.md
  gef-ui/package.json
  gef-ui/public/css/styles.css
  gef-ui/public/js/govukFrontend.js
  gef-ui/public/js/govukFrontend.js.map
  gef-ui/server/generateApp.js
  gef-ui/templates/includes/header.njk
  gef-ui/templates/index.njk
  gef-ui/webpack.common.config.js
  package-lock.json
  portal/package.json
  portal/public/css/styles.css
  portal/public/js/govukFrontend.js
  portal/public/js/govukFrontend.js.map
  portal/templates/_partials/header.njk
  portal/templates/index.njk
  portal/webpack.common.config.js
  service-unavailable/assets/images/favicon.ico
  service-unavailable/assets/images/govuk-apple-touch-icon-152x152.png
  service-unavailable/assets/images/govuk-apple-touch-icon-167x167.png
  service-unavailable/assets/images/govuk-apple-touch-icon-180x180.png
  service-unavailable/assets/images/govuk-apple-touch-icon.png
  service-unavailable/assets/images/govuk-logotype-tudor-crown.png
  service-unavailable/assets/images/govuk-mask-icon.svg
  service-unavailable/assets/images/govuk-opengraph-image.png
  service-unavailable/index.html
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/govukFrontend.js
  trade-finance-manager-ui/public/js/govukFrontend.js.map
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix, sort-package-json

fix(FN-1862): update api tests
  dtfs-central-api/api-tests/sql-db-helper.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/utilisation-reports-get-reconciliation-summary.api-test.js
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
Due: eslint --fix

fix(DTFS2-7091): fixed and added Cypress test
  e2e-tests/portal/cypress/e2e/journeys/maker/submit-issued-facilities-for-review/maker-cannot-submit-incomplete-facilities-to-checker.spec.js
Due: eslint --fix

fix(DTFS2-7091): fixed Cypress E2E test where an incomplete facility cannot be submitted
  e2e-tests/portal/cypress/e2e/journeys/maker/proceed-to-review.spec.js
Due: eslint --fix

fix(DTFS2-7091): Portal deal status does not reflect submission type (#2984)
  e2e-tests/portal/cypress/e2e/journeys/maker/proceed-to-review.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/submit-issued-facilities-for-review/maker-cannot-submit-incomplete-facilities-to-checker.spec.js
  portal-api/api-tests/v1/bonds/bonds.api-test.js
  portal-api/src/v1/facility-dates/requested-cover-start-date.js
  portal/server/helpers/dealFormsCompleted.js
  portal/server/helpers/dealFormsCompleted.test.js
  portal/server/helpers/isFacilityComplete.test.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
Due: eslint --fix

fix(FN-1862): remove extra db queries in reconciliation summaries (#2994)
  dtfs-central-api/api-tests/sql-db-helper.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/utilisation-reports-get-reconciliation-summary.api-test.js
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
Due: eslint --fix

feat(FN-1456): group reports for current and open reports page by report period end
  dtfs-central-api/api-tests/mocks/utilisation-reports/utilisation-report-reconciliation-summary.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  dtfs-central-api/test-helpers/test-data/bank-report-period-schedule.ts
  dtfs-central-api/test-helpers/test-data/bank.ts
  dtfs-central-api/tsconfig.eslint.json
  libs/common/src/utils/report-period.test.ts
  libs/common/src/utils/report-period.ts
Due: eslint --fix

feat(FN-1456): display quarterly reporting periods in bank reports page headers
  libs/common/src/utils/report-period.test.ts
  libs/common/src/utils/report-period.ts
  portal-api/src/cron-scheduler-jobs/helpers/utilisation-report-helpers.ts
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-details.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-reports.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.ts
  trade-finance-manager-ui/server/test-mocks/mock-utilisation-report-reconciliation-summary.ts
  trade-finance-manager-ui/server/types/utilisation-reports.ts
Due: eslint --fix

feat(DTFS2-6891): experimental branch with migration to typescript
  trade-finance-manager-api/.eslintrc.js
  trade-finance-manager-api/src/types/auth/azure-id-token-claims.ts
  trade-finance-manager-api/src/types/auth/azure-user-info-response-account.ts
  trade-finance-manager-api/src/types/auth/azure-user-info-response.ts
  trade-finance-manager-api/src/types/auth/get-user-response.ts
  trade-finance-manager-api/src/types/date.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-provider.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-and-map-existing-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-and-map-existing-tfm-user.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-existing-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-existing-tfm-user.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-or-create-tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-or-create-tfm-user.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/index.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/populate-tfm-user-with-entra-data.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/tfm-user.js
  trade-finance-manager-api/src/v1/controllers/auth/auth.controller.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/handleFindByEmailsResult.ts
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/helpers/get-tfm-roles-from-entra-groups.test.ts
  trade-finance-manager-api/tsconfig.json
Due: eslint --fix

feat(DTFS2-6891): sso can create user without active session user
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

fix(DTFS2-7099): update tfm accessibility statement
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: none

chore(DTFS2-NONE): rebuild public folder
  README.md
  portal/public/css/styles.css
  portal/public/js/govukFrontend.js.map
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/govukFrontend.js.map
Due: none

chore(merge): merge release1.5 to main
  package.json
  trade-finance-manager-ui/README.md
Due: sort-package-json

fix(DTFS2-7099): update TFM accessibility statement
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: none

feat(FN-1456): add tests generation of summaries
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
Due: eslint --fix

feat(DTFS2-6891): downgrade redis client package in e2e tests to match other microservices
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-1456): remove to dos
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/navigating-to-utilisation-reports.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/pdc-reconcile/mark-report-as-done.spec.js
  libs/common/src/utils/report-period.ts
  trade-finance-manager-ui/server/services/utilisation-report-service.ts
Due: eslint --fix

feat(DTFS2-6891): removing deprecated package '@types/cron: ^2.4.0,'
  external-api/package.json
  package-lock.json
Due: sort-package-json

feat(FN-1456): fix function import error from rebase
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
Due: eslint --fix

fix(DTFS2-7099): update TFM accessibility statement (#3002)
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: none

feat(DTFS2-6967): add audit logs to submit endpoint
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
Due: eslint --fix

feat(DTFS2-6967): add audit logs to update deal endpoint
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-put-tfm.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-query-field.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-search-string.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-facilities-for-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/portal/cypress/support/trade-finance-manager-api/submitDeal.js
  e2e-tests/tfm/cypress/support/central-api/api.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/api.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/submitDeal.js
  e2e-tests/tfm/cypress/support/trade-finance-manager-api/submitManyDeals.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-api/submitDeal.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-api/submitManyDeals.js
  trade-finance-manager-api/api-tests/v1/deals/deal-controller.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-underwriter-managers-decision.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/update-deal.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.js
  trade-finance-manager-api/src/v1/controllers/deal-underwriter-managers-decision.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.convert-deal-currencies.js
  trade-finance-manager-api/src/v1/controllers/deal.party-db.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
  trade-finance-manager-api/src/v1/controllers/party.controller.js
  trade-finance-manager-api/src/v1/controllers/tasks.controller.js
  trade-finance-manager-api/src/v1/controllers/tfm.controller.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.api-test.js
  trade-finance-manager-api/src/v1/tasks/assign-group-tasks-to-one-user.js
Due: eslint --fix
