Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-6620): add tests for correspondence-address script
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/scripts/correspondence-address.test.js
Due: eslint --fix, sort-package-json

fix(DTFS2-6620): fix html joining in test
  gef-ui/scripts/correspondence-address.test.js
Due: eslint --fix

fix(sr-8): formatting
  portal-api/src/v1/gef/controllers/facilities.controller.js
Due: eslint --fix

fix(porta-api): fixed e2e test, fixed mocked fixtures and code refacotirsation for all banks
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  portal-api/src/v1/users/controller.js
  portal/server/routes/admin/users.js
  portal/templates/admin/user-edit.njk
  utils/mock-data-loader/banks/index.js
Due: eslint --fix

fix(sr-8): update error message name (#1963)
  cspell.json
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/gef/clone-gef-deal.api-test.js
  portal-api/api-tests/v1/gef/external-api.api-test.js
  portal-api/api-tests/v1/gef/facilities.api-test.js
  portal-api/src/v1/gef/controllers/externalApi.controller.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/controllers/validation/application.js
  portal-api/src/v1/gef/controllers/validation/external.js
  portal-api/src/v1/gef/controllers/validation/facilities.js
Due: eslint --fix

fix(DTFS2-6620): fix gef correspondence address script not loading due to SRI hash mismatch (#1965)
  e2e-tests/gef/cypress/e2e/exporter-correspondence-address.spec.js
  e2e-tests/gef/cypress/e2e/exporters-address.spec.js
  e2e-tests/gef/cypress/e2e/exporters-incomplete-details.spec.js
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/scripts/correspondence-address.test.js
  gef-ui/templates/includes/exporters-address/separate-correspondence.njk
  gef-ui/templates/partials/exporters-address.njk
  portal/public/js/correspondenceAddress.js
  portal/public/js/correspondenceAddress.js.map
  portal/scripts/correspondence-address.js
  portal/webpack.common.config.js
Due: eslint --fix, sort-package-json

feat(auto-release): auto release based on conventional commit messages (#1967)
  .github/workflows/publish.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  cspell.json
  dtfs-central-api/api-tests/v1/facilities/facilities.api-test.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/routes/portal-routes.js
  e2e-tests/gef/cypress/e2e/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/submit-to-trade-finance-manager/cypress/e2e/journeys/portal/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm.spec.js
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/gef/controllers/application-submit.js
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/v1/emails/AIN-MIN-confirmation/gef-facilities-list.js
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/api.js
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
  utils/mock-data-loader/portal/users.js
  utils/mock-data-loader/user-helper.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6623): allow creation of read-only user in portal
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  portal/component-tests/admin/user-edit.component-test.js
  portal/component-tests/assertions.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix

feat(DTFS2-6623): add e2e tests that read only users cannot access admin users page
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/fixtures/users.js
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

feat(DTFS2-6623): improve update-a-user e2e tests
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
Due: eslint --fix

refactor(DTFS2-6623): access roles from a constant in some e2e tests
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/fixtures/constants.js
Due: eslint --fix

chore(deps): dependecies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
Due: sort-package-json

fix(security): fixed security alert
  package-lock.json
Due: none

fix(whitespace): added white space
  .husky/commit-msg
Due: none

fix(publish): corrected datatype
  .github/workflows/publish.yml
Due: none

feat(DTFS2-6182): remove new mapper functions & replace all UI calls for getFacility endpoint
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/mappings/map-facility.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendCoverEndDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendFacilityValue.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentOptions.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentRequestDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/managersConditionsAndComments.controller.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/facility-risk-profile/index.js
Due: eslint --fix

feat(DTFS2-6182): add validation for facility ID to routes.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

feat(FN-939): use parameter set
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
Due: none

feat(FN-939): move environment logic into parameter set
  infrastructure/resource_group_level/main.bicep
Due: none

chore(deps): dependecies updates (#1969)
  .github/workflows/publish.yml
  .husky/commit-msg
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
Due: sort-package-json

feat(countries): removed Armenia, Azerbaijan and Niger from the countries list by setting disabled flag to true
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  external-api/src/external-api/countries.ts
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/external-api/__mocks__/countries.js
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
Due: eslint --fix, sort-package-json

feat(codecov): introduced CodeCov tto uni test
  .github/workflows/sca.yml
  .github/workflows/test.yml
  cspell.json
Due: none

feat(codecov): fixed mistakes on sca.yml
  .github/workflows/sca.yml
Due: none

fix(codecov): added to sca.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

feat(FN-939): use parameter set - fix parameter typo
  infrastructure/resource_group_level/main.bicep
Due: none

fix(DTFS2-6596): moved to test.yml from sca.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

fix(e2e): removed Azerbaijan from E2E, replaced it with Ireland
  e2e-tests/portal/cypress/e2e/journeys/checker/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date/deal.js
  e2e-tests/portal/cypress/fixtures/deal.js
Due: eslint --fix

feat(DTFS2-6508): run PR linting and tests on dtfs2-6508 branch
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat(countries): Disabled countries (#1972)
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  e2e-tests/portal/cypress/e2e/journeys/checker/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date/deal.js
  e2e-tests/portal/cypress/fixtures/deal.js
  external-api/package-lock.json
  external-api/package.json
  external-api/src/external-api/countries.ts
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/external-api/__mocks__/countries.js
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
Due: eslint --fix, sort-package-json

fix(codecov): added flags
  .github/workflows/test.yml
  portal-api/package.json
Due: sort-package-json

fix(mongo): removed MongoDB URI with credentials
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
Due: none

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

fix(secret): added missing secret to test.yml
  .github/workflows/test.yml
Due: none

feat(codecov): `CodeCov` introduction (#1973)
  .github/workflows/sca.yml
  .github/workflows/test.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  cspell.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

fix: fixed siteName updates in tfm
  external-api/src/cronJobs/eStoreDealFolderCreationJob.cron.ts
  external-api/src/cronJobs/eStoreSiteCreationJob.cron.ts
  external-api/src/cronJobs/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

feat(DTFS2-6625): add role validation (inc new readonly role) tests to Portal UI start/login routes
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/api-tests/create-api.js
  portal/api-tests/login-routes.api-test.js
  portal/api-tests/start-routes.api-test.js
  portal/server/constants/index.js
  portal/server/constants/non-admin-roles.js
  portal/server/constants/ukef-admin-roles.js
  portal/server/routes/middleware/validateRole/index.js
Due: eslint --fix

refactor(DTFS2-6625): lint
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/api-tests/login-routes.api-test.js
  portal/api-tests/start-routes.api-test.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
