Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-7165): add deletion logs to delete gef deal endpoint
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/src/v1/gef/controllers/application.controller.js
Due: eslint --fix

feat(DTFS2-7165): update tests
  libs/common/src/change-stream/test-helpers/with-delete-many.api-tests.ts
  libs/common/src/change-stream/test-helpers/with-delete-one.api-tests.ts
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/src/v1/gef/controllers/application.controller.js
Due: eslint --fix

fix(FN-NONE): add gha dockerignore
  .base-gha.dockerignore
  .base-local.dockerignore
  .dockerignore
  generate-dockerignore.gha.sh
  generate-dockerignore.local.sh
Due: none

feat(DTFS2-6892): cleanup after merging main, and config for new sso app
  libs/common/src/constants/payload-verification.ts
  libs/common/src/helpers/payload-verification/is-verified-payload-by-type.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/tfm-user.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/payload.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/controllers/user/validation/index.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/currentPasswordMustMatch.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/passwordAtLeast8Characters.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/passwordAtLeastOneLowercase.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/passwordAtLeastOneNumber.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/passwordAtLeastOneSpecialCharacter.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/passwordAtLeastOneUppercase.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/passwordsCannotBeReUsed.js
  trade-finance-manager-api/src/v1/controllers/user/validation/rules/passwordsMustMatch.js
  trade-finance-manager-api/src/v1/helpers/get-tfm-roles-from-entra-groups.js
  trade-finance-manager-api/src/v1/helpers/get-tfm-roles-from-entra-groups.test.ts
  trade-finance-manager-ui/public/js/ssoAutoSubmit.js
  trade-finance-manager-ui/public/js/ssoAutoSubmit.js.map
  utils/mock-data-loader/user-helper.js
Due: eslint --fix

feat(DTFS2-7165): update after rebase
  dtfs-central-api/src/v1/controllers/cron-jobs/cron-jobs.controller.ts
  dtfs-central-api/src/v1/controllers/durable-functions/durable-functions.controller.ts
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-delete-deal.controller.ts
  utils/mock-data-loader/tfm/api.js
Due: eslint --fix

fix(DTFS2-6709): add role to user
  utils/mock-data-loader/portal-users/index.js
Due: eslint --fix

fix(DTFS2-7170): dependencies updates
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-7165): temporarily update docker compose file
  docker-compose.gha.yml
Due: none

feat(DTFS2-7165): add env variable to docker compose files
  docker-compose.replica-set.yml
  docker-compose.yml
Due: none

chore(FN): reduce parallel services deploying to 1 and add clean up script for slots
  .github/workflows/feature_deploy.yml
Due: none

feat(DTFS2-7165): add audit logs to delete facility by dealId
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  portal-api/api-tests/v1/gef/facilities.api-test.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
Due: eslint --fix

feat(FN-1698): add add payment form
  trade-finance-manager-ui/component-tests/assertions.js
  trade-finance-manager-ui/component-tests/utilisation-reports/add-payment.component-test.js
  trade-finance-manager-ui/server/constants/regex.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-payment/add-payment-form-values-validator.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-payment/add-payment-form-values-validator.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-payment/index.ts
  trade-finance-manager-ui/server/types/add-payment-form-values.ts
  trade-finance-manager-ui/server/types/view-models/add-payment-view-model.ts
  trade-finance-manager-ui/server/types/view-models/base-view-model.ts
  trade-finance-manager-ui/server/types/view-models/find-utilisation-reports-by-year-view-model.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-reports-by-bank-and-year-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/add-payment.njk
  trade-finance-manager-ui/templates/utilisation-reports/find-utilisation-reports-by-year.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports-by-bank-and-year-results.njk
  trade-finance-manager-ui/test-helpers/test-data/add-payment-view-model.ts
  trade-finance-manager-ui/test-helpers/test-data/tfm-session-user.ts
Due: eslint --fix

feat(FN-2846): add ordering to sql request
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
Due: eslint --fix

fix(DTFS2-7170): migrated activity function
  azure-functions/acbs-function/constants/index.js
  azure-functions/acbs-function/constants/industry.js
  azure-functions/acbs-function/package.json
  azure-functions/acbs-function/src/functions/acbs.js
  azure-functions/acbs-function/src/functions/activity-get-acbs-industry-sector.js
  package-lock.json
Due: eslint --fix, sort-package-json

fix(deployment): added local.settings.json to .gitignore
  .gitignore
  gef-ui/README.md
Due: none

chore(FN): add readme to libs common explaining the different exports
  doc/npm-workspaces.md
  libs/common/README.md
Due: none

feat(FN-2900): update local SQL to use ledger tables (#3159)
  doc/sql-db.md
  libs/common/package.json
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
  libs/common/src/sql-db-connection/reset-database.sh
  package-lock.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7165): clean up code
  dtfs-central-api/api-tests/v1/cron-jobs/cron-jobs.api-test.js
  libs/common/src/change-stream/delete-many.ts
  libs/common/src/change-stream/delete-one.ts
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/gef/facilities.api-test.js
Due: eslint --fix

feat(DTFS2-7165): clean up
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-delete.api-test.js
  utils/mock-data-loader/gef/api.js
  utils/mock-data-loader/tfm/api.js
Due: eslint --fix

fix(DTFS2-6079): fixed failing tests
  portal-api/src/v1/users/validation/rules/firstName-must-not-be-empty.js
  portal-api/src/v1/users/validation/rules/firstName-must-not-be-empty.test.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-bank.test.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-role.test.js
  portal-api/src/v1/users/validation/rules/surname-must-not-be-empty.test.js
Due: eslint --fix

feat(FN-2846): add e2e test
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-monthly-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
Due: eslint --fix

Revert "feat(FN-2900): update local SQL to use ledger tables (#3159)"
  doc/sql-db.md
  libs/common/package.json
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
  libs/common/src/sql-db-connection/reset-database.sh
  package-lock.json
Due: eslint --fix, sort-package-json

feat(FN-2900): update local SQL to use ledger tables (#3159)
  doc/sql-db.md
  libs/common/package.json
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
  libs/common/src/sql-db-connection/reset-database.sh
Due: eslint --fix, sort-package-json

feat(DTFS2-6892): fixin broken tfm login helper in e2e tests
  e2e-tests/support/tasks.js
  e2e-tests/tfm/cypress/e2e/journeys/login/login.spec.js
  trade-finance-manager-api/api-tests/v1/banks/get-all-banks.api-test.ts
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/api-tests/v1/utilisation-reports/utilisation-report-download.api-test.ts
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/tfm-user.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(DTFS2-7165): use role authorisation test helper
  portal-api/api-tests/v1/gef/application.api-test.js
Due: eslint --fix

Revert "feat(FN-2900): update local SQL to use ledger tables (#3159)"
  doc/sql-db.md
  libs/common/package.json
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
  libs/common/src/sql-db-connection/reset-database.sh
Due: eslint --fix, sort-package-json

chore: merge 'release-2.2' into 'main' (#3169)
  libs/common/src/sql-db-connection/migrations/1712063692770-AddUtilisationReportTables.ts
Due: eslint --fix

feat(FN-2846): update template
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

fix(deployment): fixed deployment script
  .github/workflows/deployment.yml
Due: none

feat(FN-2846): fix component tests
  portal/component-tests/utilisation-report-service/utilisation-report-upload.component-test.js
Due: eslint --fix

feat(DTFS2-7165): fix tests
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/gef/facilities.api-test.js
Due: eslint --fix

chore(FN): update SQL documentation for CDC changes
  doc/sql-db.md
Due: none

feat(DTFS2-6892): ensure tfm api test users.api-test.js is same as in main
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

feat(FN-2846): add ordering for other repo query
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
Due: eslint --fix

feat(DTFS2-6892): fix tfm test users in dtfs-central-api
  dtfs-central-api/api-tests/v1/tfm/users/tfm-users.api-test.js
Due: eslint --fix

feat(DTFS2-6892): yaml warnings in dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
Due: eslint --fix

feat(FN-2846): add ordering to utilisation reports request (#3183)
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-monthly-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  portal/component-tests/utilisation-report-service/utilisation-report-upload.component-test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

feat(DTFS2-7175): add audit logs to delete mandatory criteria endpoint
  libs/common/src/change-stream/test-helpers/generate-mock-audit-database-record.ts
  portal-api/api-tests/v1/mandatory-criteria/mandatory-criteria.api-test.js
  portal-api/src/drivers/db-client.ts
  portal-api/src/v1/controllers/mandatoryCriteria.controller.js
Due: eslint --fix

feat(DTFS2-7174): temporarily update docker compose file
  docker-compose.gha.yml
Due: none

fix(DTFS2-7170): migrated durable activity functions
  azure-functions/acbs-function/src/functions/acbs-amend-facility-loan-record.js
  azure-functions/acbs-function/src/functions/acbs-amend-facility-master-record.js
  azure-functions/acbs-function/src/functions/acbs-amend-facility.js
  azure-functions/acbs-function/src/functions/acbs-facility-bond.js
  azure-functions/acbs-function/src/functions/acbs-facility-loan.js
  azure-functions/acbs-function/src/functions/acbs-facility.js
  azure-functions/acbs-function/src/functions/acbs-issue-facility.js
  azure-functions/acbs-function/src/functions/acbs.js
  azure-functions/acbs-function/src/functions/activity-create-deal-guarantee.js
  azure-functions/acbs-function/src/functions/activity-create-deal-investor.js
  azure-functions/acbs-function/src/functions/activity-create-deal.js
  azure-functions/acbs-function/src/functions/activity-create-party.js
  azure-functions/acbs-function/src/functions/activity-get-acbs-country-code.js
  azure-functions/acbs-function/src/functions/activity-get-acbs-industry-sector.js
  external-api/package.json
  package-lock.json
Due: eslint --fix, sort-package-json
