Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(FN): fix formatting issues
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
  portal-api/src/v1/errors/invalid-report-status.error.ts
  portal-api/src/v1/services/utilisation-report/azure-file-service.test.js
  portal-api/src/v1/services/utilisation-report/email-service.test.ts
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal-api/src/v1/validation/utilisation-report/utilisation-report-validator.test.ts
Due: eslint --fix

feat(DTFS2-7151): fix api-test in portal-api
  portal-api/api-tests/v1/gef/external-api.api-test.js
Due: eslint --fix

feat(dtfs2-7069): update dtfs helpdesk hyperlink (#3058)
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/accessibility-statement.njk
Due: eslint --fix

feat(dtfs2-7067): update portal footer
  .github/workflows/dns.yml
  .github/workflows/test.yml
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  e2e-tests/package.json
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
  gef-ui/server/nunjucks-configuration/index.js
  gef-ui/templates/includes/contact-us.njk
  gef-ui/templates/includes/footer.njk
  package-lock.json
  portal/component-tests/componentRenderer.js
  portal/component-tests/login/temporarily-suspended.component-test.js
  portal/component-tests/login/we-have-sent-you-another-link.component-test.js
  portal/component-tests/pageRenderer.js
  portal/component-tests/test-helpers/with-contact-us-email-address.component-tests.js
  portal/server/nunjucks-configuration/index.js
  portal/templates/_partials/contact-us.njk
  portal/templates/_partials/footer.njk
  portal/templates/accessibility-statement.njk
  portal/templates/login/index.njk
  service-unavailable/index.html
Due: eslint --fix, sort-package-json

feat(dtfs2-7067): update infrastructure
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
Due: none

feat(dtfs2-7116): add tag for trusted user (#3131)
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/pages/admin/users/users.js
  libs/common/src/schemas/audit-database-record.test.ts
  portal/templates/admin/dashboard.njk
Due: eslint --fix

feat: one- year -> one-year
  e2e-tests/e2e-fixtures/bss/mandatoryCriteria.fixture.js
  portal-api/api-tests/fixtures/mandatoryCriteria.js
  portal/component-tests/fixtures/deal-fully-completed.js
  utils/mock-data-loader/bss/mandatoryCriteria.js
Due: eslint --fix

feat: add spaces before parentheses
  portal-api/api-tests/fixtures/gef/mandatoryCriteriaVersioned.js
  utils/mock-data-loader/gef/mandatoryCriteriaVersioned.js
Due: eslint --fix

feat: use an 8 character example companies house number
  e2e-tests/gef/cypress/e2e/exporter/exporter-correspondence-address.spec.js
  e2e-tests/gef/cypress/fixtures/constants.js
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-supply-contract-validation.spec.js
  external-api/api-tests/test-mocks/companies-house-number.ts
  gef-ui/server/test-mocks/companies-house-number.js
  gef-ui/templates/partials/companies-house.njk
  portal-api/api-tests/fixtures/companies-house-number.js
  portal/server/test-mocks/companies-house-number.js
  portal/server/validation/validate-ids.test.js
Due: eslint --fix

docs: update initial setup steps in README.md
  README.md
Due: none

feat: add missing ?
  gef-ui/templates/partials/provided-facility.njk
Due: none

feat(DTFS2-7055): add set up deletion collection to MDL
  dtfs-central-api/src/services/changeStream/changeStreamApi.test.ts
  libs/common/src/change-stream/generate-audit-database-record.ts
  libs/common/src/change-stream/test-helpers/generate-mock-audit-database-record.ts
  libs/common/src/types/audit-database-record.ts
  package-lock.json
  utils/mock-data-loader/database/database-client.ts
  utils/mock-data-loader/re-insert-mocks.js
  utils/mock-data-loader/setup-deletion-audit-logs.ts
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7055): add transaction on tfm user deletion
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/drivers/db-client.ts
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-api/src/v1/controllers/user/user.routes.js
Due: eslint --fix

feat(DTFS2-7055): set up deletion changestream
  dtfs-central-api/src/services/changeStream/changeStreamApi.test.ts
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  dtfs-central-api/src/services/changeStream/setupChangeStream.ts
  libs/common/src/constants/mongo-db-collections.ts
  libs/common/src/types/mongo-db-models/db-model.ts
  libs/common/src/types/mongo-db-models/deletion-audit-logs.ts
  libs/common/src/types/mongo-db-models/index.ts
Due: eslint --fix

feat(DTFS2-7054): add separate logCreatedAt field to deletion logs
  libs/common/src/change-stream/generate-audit-database-record.ts
  libs/common/src/change-stream/test-helpers/generate-mock-audit-database-record.ts
  libs/common/src/types/audit-database-record.ts
  libs/common/src/types/mongo-db-models/deletion-audit-logs.ts
  utils/mock-data-loader/setup-deletion-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): create helper to create audit logs in transaction
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.js
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  libs/common/src/change-stream/delete-document-from-collection-with-audit-logs.ts
  libs/common/src/change-stream/index.ts
  libs/common/src/types/mongo-db-models/deletion-audit-logs.ts
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  utils/mock-data-loader/re-insert-mocks.js
  utils/mock-data-loader/setup-deletion-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): update tests
  dtfs-central-api/src/services/changeStream/changeStreamApi.test.ts
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(DTFS2-7055): add environment variable for expiration time
  .env.sample
  docker-compose.replica-set.yml
  libs/common/src/change-stream/delete-document-from-collection-with-audit-logs.ts
  libs/common/src/errors/index.ts
  libs/common/src/errors/invalid-environment-variable.error.test.ts
  libs/common/src/errors/invalid-environment-variable.error.ts
  libs/common/src/index.ts
  trade-finance-manager-ui/server/errors/invalid-environment-variable.error.js
Due: eslint --fix

feat(DTFS2-7055): ensure transaction rollsback changes if either operation fails
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
  libs/common/src/change-stream/index.ts
Due: eslint --fix

feat(DTFS2-7055): add audit details to delete deal endpoint
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/deal.controller.js
Due: eslint --fix

feat(DTFS2-7055): add unit tests to delete document helper
  libs/common/package.json
  libs/common/src/change-stream/delete-document-with-audit-logs.test.ts
  package-lock.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7055): update tests & clean up
  dtfs-central-api/src/services/changeStream/changeStreamApi.test.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(DTFS2-7055): add reusable test helper
  dtfs-central-api/api-tests/v1/portal/deal/delete-deal.api-test.js
  dtfs-central-api/src/mapping/mapDataModel.test.js
  dtfs-central-api/src/v1/controllers/portal/deal/create-deal.controller.js
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
  libs/common/src/change-stream/test-helpers/index.ts
  libs/common/src/change-stream/test-helpers/with-deletion-audit-logs.tests.ts
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  utils/mock-data-loader/setup-deletion-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): clean up
  dtfs-central-api/api-tests/v1/portal/deal/delete-deal.api-test.js
  libs/common/src/change-stream/test-helpers/with-deletion-audit-logs.tests.ts
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  utils/mock-data-loader/setup-deletion-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): validate audit details on delete deal endpoint
  dtfs-central-api/api-tests/v1/portal/deal/delete-deal.api-test.js
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  utils/mock-data-loader/setup-deletion-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): create reusable test helper to check transactions are rolled back correctly
  dtfs-central-api/api-tests/v1/portal/deal/delete-deal.api-test.js
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  libs/common/.eslintrc.js
  libs/common/package.json
  libs/common/src/change-stream/delete-document-with-audit-logs.test.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
  libs/common/src/change-stream/test-helpers/index.ts
  libs/common/src/change-stream/test-helpers/with-deletion-audit-logs.api-tests.ts
  libs/common/src/change-stream/test-helpers/with-deletion-audit-logs.tests.ts
  package-lock.json
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix, sort-package-json

feat(DTFS2-7055): clean up
  dtfs-central-api/api-tests/v1/deals/delete-deal.api-test.js
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  dtfs-central-api/src/services/changeStream/setupChangeStream.ts
  libs/common/src/change-stream/test-helpers/with-deletion-audit-logs.api-tests.ts
  portal-api/src/v1/api.js
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  utils/mock-data-loader/setup-deletion-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): update tests
  dtfs-central-api/api-tests/v1/deals/deal.api-test.js
  dtfs-central-api/api-tests/v1/deals/delete-deal.api-test.js
  portal-api/api-tests/v1/feedback/feedback.api-test.js
Due: eslint --fix

feat(DTFS2-7055): temporarily update GHA to run replica set
  docker-compose.gha.yml
Due: none

feat(DTFS2-7055): refactor change stream test-helpers
  dtfs-central-api/api-tests/v1/portal/deal/delete-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/amendments/tfm-amendments-put.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-bss-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deal-put-tfm.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-query-field.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-gef-deals-put-submit.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-facilities-for-deal.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facility-put.api-test.js
  libs/common/package.json
  libs/common/src/change-stream/index.ts
  portal-api/api-tests/v1/eligibility-criteria/eligibility-criteria.api-test.js
  portal-api/api-tests/v1/gef/application.api-test.js
  portal-api/api-tests/v1/gef/clone-gef-deal.api-test.js
  portal-api/api-tests/v1/gef/eligibility-criteria.api-test.js
  portal-api/api-tests/v1/gef/facilities.api-test.js
  portal-api/api-tests/v1/gef/mandatory-criteria-versioned.api-test.js
  portal-api/api-tests/v1/mandatory-criteria/mandatory-criteria.api-test.js
  portal-api/src/v1/users/controller.test.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/routes.test.js
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix, sort-package-json

feat(DTFS2-7055): return custom invalidAuditDetailsError when validating
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/src/errors/api.error.ts
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  libs/common/src/change-stream/validate-audit-details.ts
  libs/common/src/errors/api.error.ts
  libs/common/src/errors/index.ts
  libs/common/src/errors/invalid-audit-details.error.test.ts
  libs/common/src/errors/invalid-audit-details.error.ts
  portal-api/src/v1/controllers/feedback.controller.js
  trade-finance-manager-api/src/v1/controllers/feedback-controller.js
Due: eslint --fix

feat(DTFS2-7055): code review
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  docker-compose.yml
  dtfs-central-api/src/services/changeStream/changeStreamApi.test.ts
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
  utils/mock-data-loader/setup-deletion-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): override env vars in tfm-api
  docker-compose.gha.yml
Due: none

feat(DTFS2-7055): allow feature flag to be empty string
  libs/common/src/change-stream/config.ts
Due: eslint --fix

feat(DTFS2-7055): log CSE value used in GHA
  utils/mock-data-loader/re-insert-mocks.js
Due: eslint --fix

feat(DTFS2-7055): add change stream config file
  libs/common/src/change-stream/config.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): revert config changes
  libs/common/src/change-stream/config.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): remove typo from mock data loader
  utils/mock-data-loader/re-insert-mocks.js
Due: eslint --fix

feat(DTFS2-7055): code review
  .env.sample
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.test.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
