Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-8291): revert test yml changes
  .github/workflows/test.yml
Due: none

chore(DTFS2-8301): add healthcheck action
  .github/actions/healthchecks/action.yml
Due: none

chore(DTFS2-8301): add healthcheck action
  .github/actions/healthchecks/action.yml
  .github/workflows/test.yml
Due: none

chore(DTFS2-8301): move waiton installation to main test.yml
  .github/actions/healthchecks/action.yml
  .github/workflows/test.yml
Due: none

chore(DTFS2-8301): install waiton
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update dependencies
  .github/workflows/test.yml
  gef-ui/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-8266): address pr comment
  portal-api/server/v1/users/sign-in-link.controller.js
Due: eslint --fix

chore(deps): update dependencies (#4660)
  .github/workflows/test.yml
  gef-ui/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-8266): address PR comments
  portal-ui/server/api.js
  portal-ui/server/controllers/login/attempt-otp-login.test.ts
  portal-ui/server/controllers/login/get-check-your-email-access-code.ts
  portal-ui/server/controllers/login/get-new-access-code-page.ts
  portal-ui/server/controllers/login/get-request-new-access-code.ts
  portal-ui/server/controllers/login/get-resend-another-access-code.ts
  portal-ui/server/controllers/login/validation/rules/access-code-numeric.ts
  portal-ui/templates/login/new-access-code.njk
Due: eslint --fix

feat(DTFS2-8266): address pr comments
  portal-ui/server/controllers/login/post-check-your-email-access-code.ts
  portal-ui/server/controllers/login/post-new-access-code-page.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.ts
  portal-ui/server/types/view-models/2fa/check-your-email-access-code-view-model.ts
  portal-ui/server/types/view-models/2fa/new-access-code-view-model.ts
  portal-ui/server/types/view-models/2fa/resend-another-access-code-view-model.ts
  portal-ui/templates/login/check-your-email-access-code.njk
  portal-ui/templates/login/new-access-code.njk
  portal-ui/templates/login/resend-another-access-code.njk
Due: eslint --fix

feat(DTFS2-8266): fix component-test
  portal-ui/component-tests/login/check-your-email-access-code.component-test.js
Due: eslint --fix

feat(DTFS2-8266): fix unit tests
  portal-ui/server/controllers/login/post-check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/post-new-access-code-page.test.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.test.ts
Due: eslint --fix

feat(DTFS2-8266): address pr comments
  portal-ui/server/controllers/login/get-check-your-email-access-code.ts
  portal-ui/server/controllers/login/get-new-access-code-page.ts
  portal-ui/server/controllers/login/get-request-new-access-code.ts
  portal-ui/server/controllers/login/get-resend-another-access-code.ts
Due: eslint --fix

feat(DTFS2-8291): implement error handling and unit tests
  dtfs-central-api/server/errors/email-send-error.ts
  dtfs-central-api/server/errors/missing-user-fields-error.ts
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.test.ts
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.ts
Due: eslint --fix

feat(DTFS2-8266): add helper generate view model
  portal-ui/server/controllers/login/post-check-your-email-access-code.ts
  portal-ui/server/controllers/login/post-new-access-code-page.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.ts
  portal-ui/server/helpers/generate-view-model.test.ts
  portal-ui/server/helpers/generate-view-model.ts
Due: eslint --fix

feat(DTFS2-8266): rename helper
  portal-ui/server/controllers/login/post-check-your-email-access-code.ts
  portal-ui/server/controllers/login/post-new-access-code-page.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.ts
  portal-ui/server/helpers/generate-2fa-view-model.test.ts
  portal-ui/server/helpers/generate-2fa-view-model.ts
Due: eslint --fix

feat(DTFS2-8266): resend another access code page controllers (#4615)
  libs/common/src/constants/access-code-pages.ts
  portal-ui/component-tests/login/check-your-email-access-code.component-test.js
  portal-ui/component-tests/login/new-access-code.component-test.js
  portal-ui/component-tests/login/resend-another-access-code.component-test.js
  portal-ui/server/api.js
  portal-ui/server/controllers/login/attempt-otp-login.test.ts
  portal-ui/server/controllers/login/attempt-otp-login.ts
  portal-ui/server/controllers/login/get-check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/get-check-your-email-access-code.ts
  portal-ui/server/controllers/login/get-new-access-code-page.test.ts
  portal-ui/server/controllers/login/get-new-access-code-page.ts
  portal-ui/server/controllers/login/get-request-new-access-code.test.ts
  portal-ui/server/controllers/login/get-request-new-access-code.ts
  portal-ui/server/controllers/login/get-resend-another-access-code.test.ts
  portal-ui/server/controllers/login/get-resend-another-access-code.ts
  portal-ui/server/controllers/login/new-access-code-page.ts
  portal-ui/server/controllers/login/post-check-your-email-access-code.ts
  portal-ui/server/controllers/login/post-new-access-code-page.test.ts
  portal-ui/server/controllers/login/post-new-access-code-page.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.test.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.ts
  portal-ui/server/controllers/login/validation/rules/access-code-numeric.test.ts
  portal-ui/server/controllers/login/validation/rules/access-code-numeric.ts
  portal-ui/server/controllers/login/validation/rules/index.ts
  portal-ui/server/helpers/generate-2fa-view-model.test.ts
  portal-ui/server/helpers/generate-2fa-view-model.ts
  portal-ui/server/helpers/getNextAccessCodePage.test.ts
  portal-ui/server/helpers/getNextAccessCodePage.ts
  portal-ui/server/helpers/updateSessionAfterLogin.ts
  portal-ui/server/routes/login/index.js
  portal-ui/server/types/view-models/2fa/new-access-code-view-model.ts
  portal-ui/server/types/view-models/2fa/resend-another-access-code-view-model.ts
  portal-ui/templates/login/check-your-email-access-code.njk
  portal-ui/templates/login/resend-access-code.njk
  portal-ui/templates/login/resend-another-access-code.njk
Due: eslint --fix

fix(DTFS2-8291): resove comments
  dtfs-central-api/server/errors/email-send-error.ts
  dtfs-central-api/server/errors/missing-user-fields-error.ts
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.test.ts
Due: eslint --fix

feat(DTFS2-8291): address review comments
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.test.ts
Due: eslint --fix

feat(DTFS2-8291): update unit tests to corretly use await
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.test.ts
Due: eslint --fix

feat(DTFS2-8291): add error helpers export via index
  dtfs-central-api/server/errors/index.ts
Due: eslint --fix

feat(DTFS2-8291): send access code to users email (#4647)
  .github/workflows/test.yml
  dtfs-central-api/server/constants/email-template-ids.ts
  dtfs-central-api/server/errors/email-send-error.ts
  dtfs-central-api/server/errors/index.ts
  dtfs-central-api/server/errors/missing-user-fields-error.ts
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.test.ts
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.ts
  dtfs-central-api/server/v1/controllers/portal/login/create-and-email-sign-in-otp.ts
Due: eslint --fix

feat(16188): addressed review comments
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

chore(DTFS2-8195): improve account suspended controller
  portal-ui/server/controllers/login/account-suspended-page.test.ts
  portal-ui/server/controllers/login/account-suspended-page.ts
  portal-ui/server/controllers/login/get-account-suspended-access-code.test.ts
  portal-ui/server/controllers/login/get-account-suspended-access-code.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-7033): enable 2fa in portal-ui routes
  .github/workflows/test.yml
  dtfs-central-api/server/helpers/portal-2fa/send-sign-in-otp-email.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-7033): enable 2fa in portal-ui routes
  portal-ui/server/routes/login/index.js
Due: eslint --fix

chore(DTFS2-8195): address pr comment
  portal-ui/server/controllers/login/get-account-suspended.test.ts
  portal-ui/server/controllers/login/get-account-suspended.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(16188): addressed review comments
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

chore(DTFS2-8195): improve account suspended controller (#4661)
  portal-ui/server/controllers/login/account-suspended-page.test.ts
  portal-ui/server/controllers/login/account-suspended-page.ts
  portal-ui/server/controllers/login/get-account-suspended.test.ts
  portal-ui/server/controllers/login/get-account-suspended.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-7033): review markups
  portal-ui/server/routes/login/index.js
Due: eslint --fix

chore(DTFS2-8303): add timeout-minutes to limit how long tests run for
  .github/workflows/test.yml
Due: none

feat(DTFS2-8222): error handling and comments improved
  portal-ui/server/controllers/login/attempt-otp-login.ts
  portal-ui/server/controllers/login/get-access-code-expired-page.test.ts
  portal-ui/server/controllers/login/get-access-code-expired-page.ts
Due: eslint --fix

feat(DTFS2-8222): implemnt otp expriation in 2nd and 3rd trials
  portal-ui/api-tests/login/account-suspended.api-test.js
  portal-ui/server/api.js
  portal-ui/server/controllers/login/post-check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/post-check-your-email-access-code.ts
  portal-ui/server/controllers/login/post-new-access-code-page.test.ts
  portal-ui/server/controllers/login/post-new-access-code-page.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.test.ts
  portal-ui/server/controllers/login/post-resend-another-access-code-page.ts
  portal-ui/server/helpers/is-otp-expired.test.ts
  portal-ui/server/helpers/is-otp-expired.ts
Due: eslint --fix

feat(DTFS2-7033): review markups
  docker-compose.yml
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-7033): review markups and make controller
  portal-ui/server/controllers/login/post-login.js
  portal-ui/server/controllers/login/post-login.test.js
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-7033): revert change to docker compose
  docker-compose.yml
Due: none

feat(DTFS2-7033): review markups and test fixes
  portal-ui/server/controllers/login/post-login.js
  portal-ui/server/controllers/login/post-login.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
