Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7679): fix confirm cover start date test
  gef-ui/server/controllers/confirm-cover-start-date/index.test.js
Due: eslint --fix

feat(DTFS2-7679): add e2e tests
  e2e-tests/gef/cypress/e2e/pages/application-preview.js
  e2e-tests/gef/cypress/e2e/pages/application-status-banner.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/deal-summary-page-amendment-ready-for-checkers-approval.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/portal/makerLoginSubmitPortalAmendmentForReview.js
  gef-ui/templates/includes/application-preview/facilities.njk
Due: eslint --fix

feat(DTFS2-7679): fix description
  e2e-tests/ukef/cypress/support/portal/makerLoginSubmitPortalAmendmentForReview.js
Due: eslint --fix

feat(DTFS2-7846): typo fixes
  .github/actions/functions/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/README.md
  .github/workflows/purge.yml
Due: none

feat(DTFS2-7846): typo fixes
  .github/actions/functions/action.yml
Due: none

feat(DTFS2-7679): change function name
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/deal-summary-page-amendment-ready-for-checkers-approval.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/portal/makerSubmitPortalAmendmentForReview.js
Due: eslint --fix

fix(CVE-2025-27152): updated axios version to curcumvent CVE-2025-27152
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  libs/common/src/test-helpers/test-api-error.ts
  libs/common/src/types/http-status-codes.ts
  libs/common/src/types/index.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: eslint --fix, sort-package-json

fix(CVE-2025-27152): updated axios version to curcumvent CVE-2025-27152 (#4254)
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  libs/common/src/test-helpers/test-api-error.ts
  libs/common/src/types/http-status-codes.ts
  libs/common/src/types/index.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7846): acr purge github action (#4253)
  .github/actions/acr/action.yml
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/notify/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/README.md
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/feature.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
Due: none

feat(DTFS2-7679): add container div
  gef-ui/templates/includes/application-preview/summary.njk
Due: none

feat(DTFS2-7679): fix div tag
  gef-ui/templates/includes/application-preview/deal-submission-details.njk
  gef-ui/templates/includes/application-preview/summary.njk
Due: none

fix(DTFS2-7825): added all 58 currencies to the currency type literal
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/currency.schema.ts
  external-api/src/external-api/countries.ts
  external-api/src/external-api/currencies.ts
  external-api/src/external-api/index.ts
  external-api/src/external-api/industry-sectors.ts
  external-api/src/helpers/array.ts
  external-api/src/interfaces/country.interface.ts
  external-api/src/interfaces/currency.interface.ts
  external-api/src/interfaces/index.ts
  external-api/src/interfaces/industry-sector.interface.ts
  external-api/src/v1/controllers/countries.controller.ts
  external-api/src/v1/controllers/currencies.controller.ts
  external-api/src/v1/controllers/industry-sectors.controller.ts
  libs/common/src/constants/currency.ts
  libs/common/src/index.ts
  libs/common/src/interfaces/country.ts
  libs/common/src/interfaces/currency.ts
  libs/common/src/interfaces/index.ts
  libs/common/src/interfaces/industry.ts
  libs/common/src/types/currency.ts
Due: eslint --fix

fix(DTFS2-6838): show validation erros on eligibility criteria page
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility-criteria.spec.js
  portal/server/routes/contract/eligibility/index.js
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

feat(DTFS2-7851): add get all amedments endpoint in dtfs-central-api
  dtfs-central-api/api-tests/v1/portal-facility-amendments/all-amendments-get.api-test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-all-amendments.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-all-amendments.controller.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

fix(DTFS2-7825): refactored currencies schemas
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/currency.schema.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-put-facility-amendment-payload.ts
  external-api/src/helpers/array.api-test.ts
  external-api/src/helpers/array.test.ts
  libs/common/src/constants/currency.ts
Due: eslint --fix

fix(DTFS2-7825): fixed failing test
  libs/common/src/helpers/map-currencies-to-radio-items.test.ts
Due: eslint --fix

fix(FN-3671): fixed sorting issue on exporter sort record correction log
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/record-correction-log-exporter-sorting.spec.js
  e2e-tests/tfm/cypress/support/ui/utilisation-report/fee-record-correction/checkRecordCorrectionRowExporterWithoutId.js
  e2e-tests/tfm/cypress/support/ui/utilisation-report/index.js
  trade-finance-manager-ui/templates/utilisation-reports/_macros/record-correction-table.njk
Due: eslint --fix

fix(FN-3671): fix typo
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/record-correction-log-exporter-sorting.spec.js
Due: eslint --fix

fix(FN-3671): fixed sorting issue on exporter sort record correction log (#4259)
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/record-correction-log-exporter-sorting.spec.js
  e2e-tests/tfm/cypress/support/ui/utilisation-report/fee-record-correction/checkRecordCorrectionRowExporterWithoutId.js
  e2e-tests/tfm/cypress/support/ui/utilisation-report/index.js
  trade-finance-manager-ui/templates/utilisation-reports/_macros/record-correction-table.njk
Due: eslint --fix

fix(DTFS2-7825): code refactored
  external-api/src/helpers/array.test.ts
  libs/common/src/interfaces/industry.ts
Due: eslint --fix

fix(DTFS2-7825): added e2e test
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/9. facility-value-aed-currency.js
  e2e-tests/tfm/cypress/fixtures/deal-AIN.js
Due: eslint --fix

fix(DTFS2-6838): fixed failing tests
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility-documentation.spec.js
  portal/server/routes/contract/eligibility/index.js
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

fix(DTFS2-7825): added e2e test
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/9. facility-value-aud-currency.spec.js
  e2e-tests/tfm/cypress/fixtures/deal-AIN.js
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

feat(DTFS-7851): add layer get all amendments
  portal-api/api-tests/v1/gef/amendments/all-amendments.get.api-test.ts
  portal-api/api-tests/v1/gef/amendments/amendment-urls.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/get-all-amendments.controller.ts
  portal-api/src/v1/controllers/amendments/get-all-amendments.test.ts
  portal-api/src/v1/gef/routes.js
Due: eslint --fix

fix(DTFS2-6838): fixed failing unit test
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

fix(DTFS2-7846): feature deployment and ACR purge
  .github/workflows/feature.yml
  .github/workflows/purge.yml
  cspell.json
Due: none

fix(DTFS2-6838): fixed failing test
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

fix(DTFS2-7846): corrected cron schedule
  .github/workflows/feature.yml
Due: none

fix(DTFS2-7846): fixed typo
  .github/workflows/feature.yml
Due: none

fix(DTFS2-7846): feature deployment and ACR purge (#4261)
  .github/workflows/feature.yml
  .github/workflows/purge.yml
  cspell.json
Due: none

fix(DTFS2-7825): updated cypress E2E on TFM facilities
  .github/workflows/feature.yml
  e2e-tests/tfm/cypress/e2e/journeys/facility/facilities.spec.js
  e2e-tests/tfm/cypress/fixtures/deal-AIN.js
  e2e-tests/tfm/cypress/fixtures/deal-MIA.js
  libs/common/src/constants/tfm/facility-stage.ts
Due: eslint --fix

fix(DTFS2-7825): updated cypress E2E on TFM facilities
  e2e-tests/tfm/cypress/e2e/journeys/facility/facilities.spec.js
Due: eslint --fix

feat(DTFS2-7834): standardised tag colours for E2ETF utilisation reports
  libs/common/src/constants/index.ts
  libs/common/src/constants/utilisation-report-status-tag-colours.ts
  libs/common/src/types/index.ts
  libs/common/src/types/status-tag-colours.ts
  portal/server/controllers/utilisation-report-service/previous-reports/helpers/previous-reports-view-model-mapper.test.ts
  portal/server/controllers/utilisation-report-service/previous-reports/helpers/previous-reports-view-model-mapper.ts
  portal/server/types/view-models/previous-reports.ts
  portal/templates/utilisation-report-service/previous-reports/_macros/report-reconciliation-status.njk
  portal/templates/utilisation-report-service/previous-reports/previous-reports.njk
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/record-correction-log-details/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/record-correction-log-details/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/types/view-models/record-correction/record-correction-log-details-view-model.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/check-keying-data-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-details-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/fee-record-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table-row.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/record-correction-status.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/record-correction-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/partials/keying-sheet-html.njk
  trade-finance-manager-ui/templates/utilisation-reports/partials/premium-payments-html.njk
  trade-finance-manager-ui/templates/utilisation-reports/partials/record-correction-log-html.njk
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/record-correction-log-details.njk
Due: eslint --fix

feat(DTFS2-7834): fix linting errors
  portal/server/controllers/utilisation-report-service/previous-reports/index.test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.ts
Due: eslint --fix

feat(DTFS2-7834): fix linting errors
  trade-finance-manager-ui/test-helpers/test-data/view-models/record-corrections/create-record-correction-log-details-view-model.ts
Due: eslint --fix

fix(DTFS2-7825): added unit test case for exceptional handling
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
Due: eslint --fix

fix(DTFS2-6838): failing test fix
  portal/server/routes/contract/eligibility/index.test.js
Due: eslint --fix

fix(DTFS2-7825): added all 58 currencies to the currency type literal (#4257)
  .github/workflows/feature.yml
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/currency.schema.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-put-facility-amendment-payload.ts
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/9. facility-value-aud-currency.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/facility/facilities.spec.js
  e2e-tests/tfm/cypress/fixtures/deal-AIN.js
  e2e-tests/tfm/cypress/fixtures/deal-MIA.js
  external-api/src/external-api/countries.ts
  external-api/src/external-api/currencies.ts
  external-api/src/external-api/index.ts
  external-api/src/external-api/industry-sectors.ts
  external-api/src/helpers/array.api-test.ts
  external-api/src/helpers/array.test.ts
  external-api/src/helpers/array.ts
  external-api/src/interfaces/country.interface.ts
  external-api/src/interfaces/currency.interface.ts
  external-api/src/interfaces/index.ts
  external-api/src/interfaces/industry-sector.interface.ts
  external-api/src/v1/controllers/countries.controller.ts
  external-api/src/v1/controllers/currencies.controller.ts
  external-api/src/v1/controllers/industry-sectors.controller.ts
  libs/common/src/constants/currency.ts
  libs/common/src/constants/tfm/facility-stage.ts
  libs/common/src/helpers/map-currencies-to-radio-items.test.ts
  libs/common/src/index.ts
  libs/common/src/interfaces/country.ts
  libs/common/src/interfaces/currency.ts
  libs/common/src/interfaces/index.ts
  libs/common/src/interfaces/industry.ts
  libs/common/src/types/currency.ts
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
