Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-2183): sql db schema change (#2886)
  dtfs-central-api/api-tests/mocks/utilisation-reports/utilisation-data.ts
  dtfs-central-api/api-tests/sql-db-helper.ts
  dtfs-central-api/api-tests/test-helpers/wipe-sql-db.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports.api-test.ts
  dtfs-central-api/src/helpers/fee-record.helper.test.ts
  dtfs-central-api/src/helpers/fee-record.helper.ts
  dtfs-central-api/src/helpers/index.js
  dtfs-central-api/src/repositories/fee-record-repo/fee-record.repo.ts
  dtfs-central-api/src/repositories/fee-record-repo/index.ts
  dtfs-central-api/src/repositories/utilisation-data-repo/index.ts
  dtfs-central-api/src/repositories/utilisation-data-repo/utilisation-data-sql.repo.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.test.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.test.ts
  libs/common/src/sql-db-connection/migrations/1710248062308-RenameUtilisationDataToFeeRecord.ts
  libs/common/src/sql-db-connection/migrations/1710250937910-UpdateNullableColumnTypes.ts
  libs/common/src/sql-db-connection/migrations/1710259065447-UpdateFeeRecordColumns.ts
  libs/common/src/sql-db-entities/base-entities/auditable.base-entity.ts
  libs/common/src/sql-db-entities/custom-columns/exchange-rate-column.ts
  libs/common/src/sql-db-entities/custom-columns/index.ts
  libs/common/src/sql-db-entities/custom-columns/monetary-column.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.types.ts
  libs/common/src/sql-db-entities/fee-record/index.ts
  libs/common/src/sql-db-entities/index.ts
  libs/common/src/sql-db-entities/utilisation-data/index.ts
  libs/common/src/sql-db-entities/utilisation-data/utilisation-data.entity.ts
  libs/common/src/sql-db-entities/utilisation-data/utilisation-data.types.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.test.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.types.ts
  libs/common/src/test-helpers/mock-data/fee-record.entity.mock-builder.ts
  libs/common/src/test-helpers/mock-data/fee-record.entity.mock.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/test-helpers/mock-data/utilisation-data.entity.mock-builder.ts
  libs/common/src/test-helpers/mock-data/utilisation-report.entity.mock-builder.ts
  portal-api/api-tests/sql-db-helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
Due: eslint --fix

feat(FN-1853): improve e2e test coverage
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirmation.spec.js
Due: eslint --fix

feat(FN-1853): fix portal e2e test mock reports
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/previous-reports/list-previous-reports.spec.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
Due: eslint --fix

feat(FN-1853): fix upload report controller
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix

feat(FN-1853): delete utilisation data before utilisation reports
  e2e-tests/support/tasks.js
Due: eslint --fix

feat(FN-1853): update e2e task to use new FeeRecordEntity
  e2e-tests/support/tasks.js
Due: eslint --fix

chore(FN): remove unused environment section
  .github/workflows/notify.yml
Due: none

chore(FN): add in environment name for gha
  .github/workflows/notify.yml
Due: none

chore(FN): point environment at dev
  .github/workflows/notify.yml
Due: none

feat(FN-1853): add default values for fee record
  dtfs-central-api/src/helpers/fee-record.helper.ts
Due: eslint --fix

chore(FN): remove test branch from action file
  .github/workflows/notify.yml
Due: none

feat(FN-1864): refactor columns for activity logs
  dtfs-central-api/src/helpers/fee-record.helper.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/manually-set-completed/manually-set-completed.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/manually-set-incomplete/manually-set-incomplete.event-handler.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/put-utilisation-report-status.controller/index.test.ts
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  libs/common/src/sql-db-entities/azure-file-info/azure-file-info.entity.ts
  libs/common/src/sql-db-entities/base-entities/auditable.base-entity.test.ts
  libs/common/src/sql-db-entities/base-entities/auditable.base-entity.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/helpers/user-id.helper.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.test.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.ts
  libs/common/src/test-helpers/mock-data/fee-record.entity.mock-builder.ts
  libs/common/src/test-helpers/mock-data/utilisation-report.entity.mock-builder.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
Due: eslint --fix

feat(FN-1864): generate migration
  libs/common/src/sql-db-connection/migrations/1710850659016-UpdateActivityLogsColumns.ts
Due: eslint --fix

feat(FN-1864): add test for updateActivityDetails
  libs/common/src/sql-db-entities/base-entities/auditable.base-entity.test.ts
  libs/common/src/sql-db-entities/base-entities/auditable.base-entity.ts
Due: eslint --fix

chore(FN): add in infra setup step
  .github/workflows/notify.yml
Due: none

fix(DTFS2-6933): resolve review comments
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-sorting.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-sorting.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-get-facilities.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-ui/jest.config.js
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/controllers/facilities/index.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.deals.test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.facilities.test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.js
  trade-finance-manager-ui/server/controllers/helpers/index.js
  trade-finance-manager-ui/server/controllers/helpers/overrideDealsIfAmendmentsInProgress.helper.test.js
  trade-finance-manager-ui/server/controllers/helpers/overrideFacilitiesIfAmendmentsInProgress.helper.test.js
  trade-finance-manager-ui/server/errors/invalid-collection-name.error.js
  trade-finance-manager-ui/server/errors/invalid-collection-name.error.test.js
Due: eslint --fix

refactor(DTFS2-6933): lint
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-sorting.api-test.js
  dtfs-central-api/api-tests/v1/tfm/facilities/tfm-facilities-get-sorting.api-test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.js
  trade-finance-manager-ui/server/controllers/helpers/overrideDealsIfAmendmentsInProgress.helper.test.js
  trade-finance-manager-ui/server/controllers/helpers/overrideFacilitiesIfAmendmentsInProgress.helper.test.js
  trade-finance-manager-ui/server/errors/invalid-collection-name.error.js
Due: eslint --fix

fix(DTFS2-6933): fix failing tests and ensure facilities E2E tests run in pipeline
  e2e-tests/tfm/cypress/e2e/journeys/facility/facilities-pagination.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/facility/facilities.spec.js
  trade-finance-manager-api/src/v1/api.js
Due: eslint --fix

feat(DTFS2-6892): simplifying e2e tfm login function
  e2e-tests/gef/cypress/support/commands.js
  e2e-tests/support/redis-client.js
  e2e-tests/support/tasks.js
  e2e-tests/support/trade-finance-manager/login.js
  e2e-tests/support/trade-finance-manager/overrideRedisUserSession.js
  e2e-tests/support/trade-finance-manager/setSessionCookie.js
  e2e-tests/support/utils/crypto.js
  e2e-tests/tfm/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/commands.js
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

fix(typo): ENV sample (#2912)
  .env.sample
  cspell.json
  portal/README.md
Due: none

chore(merge): main merge
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package.json
  utils/mock-data-loader/package.json
Due: sort-package-json

chore(deps): dependencies updates
  gef-ui/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(FN): fix teams notification (#2917)
  .github/workflows/notify.yml
Due: none

chore(main): release 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-6933): fix failing API tests
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-query-field.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-search-string.api-test.js
Due: eslint --fix

feat(DTFS2-6892): escape email before it is used for user lookup
  package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/v1/controllers/user/helpers/generateArrayOfEmailsRegex.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6892): recompiled tfm-ui public file ssoAutoSubmit.js
  trade-finance-manager-ui/public/js/ssoAutoSubmit.js
  trade-finance-manager-ui/public/js/ssoAutoSubmit.js.map
  trade-finance-manager-ui/templates/sso/accept-external-sso-post.njk
Due: eslint --fix

fix(DTFS2-6713): improved code coverage, refactored test cases and improved test descriptions
  external-api/api-tests/v1/acbs.api-test.ts
  external-api/api-tests/v1/bank-holidays.api-test.ts
  external-api/api-tests/v1/companies-house.api-test.ts
  external-api/api-tests/v1/currency-exchange-rate.api-test.ts
  external-api/api-tests/v1/eStore.api-test.ts
  external-api/api-tests/v1/exposure-period.api-test.ts
  external-api/api-tests/v1/ordnance-survey.api-test.ts
  external-api/api-tests/v1/party-db.api-test.ts
  external-api/api-tests/v1/party-urn.api-test.ts
  external-api/api-tests/v1/premium-schedule.api-test.ts
  external-api/package.json
  external-api/src/cron/eStoreDealFolderCreationJob.cron.ts
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/cron/eStoreTermStoreAndBuyerFolder.cron.ts
  external-api/src/helpers/date.test.ts
  external-api/src/helpers/date.ts
  external-api/src/helpers/object.api-test.ts
  external-api/src/helpers/object.test.ts
  external-api/src/helpers/object.ts
  external-api/src/helpers/validIds.test.ts
  external-api/src/v1/controllers/email.controller.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
  package-lock.json
  trade-finance-manager-api/src/v1/mappings/map-create-estore.js
  trade-finance-manager-api/src/v1/mappings/map-ukef-documents-to-estore.js
Due: eslint --fix, sort-package-json

fix(DTFS2-6933): fix array query string encoding in API test
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-query-field.api-test.js
Due: eslint --fix

fix(DTFS2-6933): fix OpenAPI YAML formatting
  dtfs-central-api/src/v1/routes/tfm-routes.js
Due: eslint --fix

feat(DTFS2-6892): removing /dist from govuk folder name in webpack.config
  gef-ui/webpack.common.config.js
  portal/webpack.common.config.js
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix

feat(FN-1853): fix portal e2e test mock reports (#2908)
  dtfs-central-api/src/helpers/fee-record.helper.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/previous-reports/list-previous-reports.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirmation.spec.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  e2e-tests/support/tasks.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix

feat(FN-1859): update get utilisation report mapping and response types
  dtfs-central-api/src/mapping/mapUtilisationReport.ts
  dtfs-central-api/src/repositories/users-repo/index.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report.controller/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller/index.ts
  package-lock.json
  portal/package.json
  portal/server/api-response-types/index.ts
  portal/server/api-response-types/utilisation-report-response-body.ts
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-details.js
  portal/tsconfig.json
Due: eslint --fix, sort-package-json

feat(DTFS2-6892): removing unused fields from TFM-user: status, salt, hash, loginFailureCount
  dtfs-central-api/src/types/db-models/tfm-users.ts
  trade-finance-manager-api/api-tests/api-test-users.js
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/constants/index.js
  trade-finance-manager-api/src/constants/payloads.js
  trade-finance-manager-api/src/constants/user.js
  trade-finance-manager-api/src/types/db-models/tfm-users.ts
  trade-finance-manager-api/src/types/tfm-session-user.ts
  trade-finance-manager-api/src/v1/__mocks__/mock-tfm-session-user.ts
  trade-finance-manager-api/src/v1/controllers/user/helpers/mapUserData.helper.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
  trade-finance-manager-ui/server/controllers/login/index.js
  trade-finance-manager-ui/server/middleware/validateToken/index.test.js
Due: eslint --fix

feat(FN-1859): improve e2e tests
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-no-longer-upload-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirmation.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/problem-with-service/index.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
Due: eslint --fix

feat(FN-1249): refactor mock throwing error and remove unsuccessful test timeout increase
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/next-report-period.api-test.js
Due: eslint --fix

feat(FN-1859): pre-emptive api fixes
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-report.api-test.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports.api-test.ts
Due: eslint --fix

fix(DTFS2-6933): resolve review comments
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.deals.test.js
  trade-finance-manager-ui/server/controllers/helpers/dealsAndFacilities.helper.facilities.test.js
Due: eslint --fix

feat(FN-1859): update portal to use UploadedByUser instead of UploadedBy
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-details.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-details.test.js
Due: eslint --fix

feat(DTFS2-6891): fix TFM lint error
  dtfs-central-api/api-tests/mocks/test-users/mock-tfm-user.ts
  dtfs-central-api/src/types/tfm/tfm-session-user.ts
Due: eslint --fix
