Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(FN-2069): recompile css files for table width fix (#3473)
  trade-finance-manager-ui/public/css/styles.css
Due: none

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-3162): add docstring
  e2e-tests/portal/cypress/support/portal/utilisation-reports/assertUploadReportValidationErrorTableRowContains.js
Due: eslint --fix

feat(FN-2311): separate filtered/unfiltered payment group in response
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-report-reconciliation-details-by-id.api-test.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.ts
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/utilisation-report-reconciliation-details.js
  trade-finance-manager-ui/server/api-response-types/utilisation-report-reconciliation-details-response-body.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
Due: eslint --fix

feat(DTFS2-7348): update tests
  docker-compose.yml
  trade-finance-manager-ui/server/middleware/feature-flags/deal-cancellation.test.ts
  trade-finance-manager-ui/server/middleware/feature-flags/deal-cancellation.ts
  trade-finance-manager-ui/server/routes/case/index.test.js
  trade-finance-manager-ui/templates/case/cancellation/reason-for-cancelling.njk
Due: eslint --fix

chore(FN-3419): add lint package
  dtfs-central-api/.eslintrc.js
Due: eslint --fix

chore(FN): re-enable main deployments to feature env (#3480)
  .github/workflows/feature_deploy.yml
Due: none

feat(DTFS2-7294): refactor dtfs-central api test to typescript
  dtfs-central-api/api-tests/v1/tfm/deal-cancellation/tfm-deal-cancellation-put.api-test.ts
Due: eslint --fix

feat(DTFS2-7348): mock case routes in unit test
  trade-finance-manager-ui/server/routes/index.test.js
Due: eslint --fix

chore(FN-3419): removed airbnb-base
  dtfs-central-api/.eslintrc.js
Due: eslint --fix

feat(DTFS2-7294): add api test to tfm-api wip
  trade-finance-manager-api/api-tests/v1/deal-cancellation/deal-cancellation.api-test.ts
Due: eslint --fix

feat(DTFS2-7294): fix api-test unit tests
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/deal-cancellation.controller.ts
Due: eslint --fix

feat(DTFS2-7294): fix api-test in dtfs-central-api
  dtfs-central-api/api-tests/v1/tfm/deal-cancellation/tfm-deal-cancellation-put.api-test.js
Due: eslint --fix

feat(DTFS2-7294): fix api-test in tfm-api
  trade-finance-manager-api/api-tests/v1/deal-cancellation/deal-cancellation.api-test.ts
Due: eslint --fix

chore(DTFS2-7333): fix/update cypress command
  e2e-tests/ukef/cypress/support/trade-finance-manager-ui/login.js
Due: eslint --fix

chore(DTFS2-7333): fix/update e2e tests
  e2e-tests/tfm/cypress/support/ui/amendments/navigate-to-is-using-facility-end-date-page.js
Due: eslint --fix

chore(tests): split up unissued facilities e2e tests
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/facility/end-date/facilities-change-facility-end-date-to-bank-review-date-journey.spec.js
  e2e-tests/gef/cypress/e2e/facility/end-date/facility-end-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/version-0/version-0-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/version-0/version-0-unissued-facility.spec.js
Due: eslint --fix

fix(DTFS2-6655): changed createBssApplicationReadyForCheck to createBssDeal
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/createBssDealReadyForCheck.js
  e2e-tests/portal/cypress/support/portal/loginGoToDealPage.js
Due: eslint --fix

chore(DTFS2-NONE): add common config back to get rid of lint error
  azure-functions/acbs-function/jest.common.config.js
Due: eslint --fix

chore(DTFS2): re-enable teams notifications for release-2.3
  .github/workflows/notify.yml
Due: none

feat(DTFS2): allow release branches to deploy to staging
  .github/workflows/deployment.yml
Due: none

feat(DTFS2-7294): update FF name and config values
  .env.sample
  .github/workflows/test.yml
  docker-compose.yml
  e2e-tests/tfm/cypress.config.js
  libs/common/src/helpers/is-feature-flag-enabled.test.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
Due: eslint --fix

feat(FN-2311): wip - group filter parsing by tab group
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/parse-filters.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/parse-filters.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.ts
Due: eslint --fix

feat(DTFS2): generalise release notifications for all release branches
  .github/workflows/notify.yml
Due: none

feat(DTFS2-7294): refactor unit test to use new ff pattern
  trade-finance-manager-ui/server/helpers/deal-cancellation-enabled.ff-test.ts
  trade-finance-manager-ui/server/helpers/deal-cancellation-enabled.test.ts
Due: eslint --fix

chore(tests): split up unissued facilities e2e tests
  e2e-tests/gef/cypress/e2e/facility/end-date/bank-review-date.spec.js
Due: eslint --fix

feat(dtfs2-6616): update handling of record to existing patterns per comment
  azure-functions/acbs-function/mappings/facility/facility-guarantee-amend.js
Due: eslint --fix

feat(DTFS2-7294): refactor ff test
  trade-finance-manager-ui/server/controllers/case/index.ff-test.js
Due: eslint --fix

feat(dtfs2-6616): update order of return types
  azure-functions/acbs-function/src/functions/activity-update-facility-guarantee.js
Due: eslint --fix

feat(dtfs2-6616): precommit hook check
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(FN-2311): address test TODOs
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/parse-filters.test.ts
Due: eslint --fix

chore(tests): split up unissued facilities e2e tests
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/facility/pre-submission/bank-review-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facilities-change-facility-end-date-to-bank-review-date-journey.spec.js
  e2e-tests/gef/cypress/e2e/facility/pre-submission/facility-end-date.spec.js
Due: eslint --fix

feat(FN-2311): remove 'tab' references from shared type naming outside UI layer
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/parse-filters.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/parse-filters.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/utilisation-report-reconciliation-details.js
  libs/common/src/types/utilisation-reports.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-utilisation-report-reconciliation-details-by-id.controller/index.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-utilisation-report-reconciliation-details-by-id.controller/index.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
Due: eslint --fix

feat(FN-2311): fix tests - use new split groups
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/test-helpers/utilisation-report-reconciliation.ts
Due: eslint --fix

feat(FN-3162): fix linting error introduced by mistake resolving conflicts
  dtfs-central-api/src/services/utilisation-report-data-validator/utilisation-report-cell-validators/generate-ukef-facility-id-error.test.ts
Due: eslint --fix

feat(DTFS2-7294): move deal cancellation helper files and add unit test
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/helpers/deal-cancellation-enabled.helper.ff-test.ts
  trade-finance-manager-ui/server/controllers/helpers/deal-cancellation-enabled.helper.test.ts
  trade-finance-manager-ui/server/controllers/helpers/deal-cancellation-enabled.helper.ts
  trade-finance-manager-ui/server/controllers/helpers/index.js
Due: eslint --fix

fix(DTFS2-6713): fixed tests
  .husky/pre-commit
  package.json
Due: sort-package-json

commit hook test
  .husky/commit-msg
  .husky/pre-commit
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
