Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(docs): markdown syntax error
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: sort-package-json

Revert "fix(docs): markdown syntax error"
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: sort-package-json

fix(docs): markdown syntax fix
  trade-finance-manager-api/README.md
Due: none

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
Due: sort-package-json

feat(FN-965): add e2e tests
  e2e-tests/portal/cypress/e2e/journeys/payment_officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-reporting-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

fix(docs): udpated GHA document update
  .github/workflows/README.md
Due: none

fix(cicd): added main-stbr to gha
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  cspell.json
Due: none

fix(DTFS2-6625): always pass user to isDealEditable in portal
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

fix(ukefid-pending): added UKEF ID validation before eStore and ACBS processing
  azure-functions/acbs-function/acbs-amend-facility/index.js
  azure-functions/acbs-function/acbs-facility/index.js
  azure-functions/acbs-function/acbs-issue-facility/index.js
  azure-functions/acbs-function/acbs/index.js
  azure-functions/acbs-function/constants/deal.js
  external-api/src/constants/number-generator.constant.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

fix(ukefid): UKEF ID validation (#2054)
  azure-functions/acbs-function/acbs-amend-facility/index.js
  azure-functions/acbs-function/acbs-facility/index.js
  azure-functions/acbs-function/acbs-issue-facility/index.js
  azure-functions/acbs-function/acbs/index.js
  azure-functions/acbs-function/constants/deal.js
  external-api/src/constants/number-generator.constant.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

feat(DTFS2-6647): rename page "User create" to "Create user"
  portal/templates/admin/user-edit.njk
Due: none

feat(DTFS2-6647): add explanatory text under "Roles"
  portal/templates/admin/user-edit.njk
Due: none

chore(DTFS2-6647): add todo
  portal/server/routes/admin/users.js
Due: eslint --fix

feat(DTFS2-6647): make new/confirm password labels bold on create user page
  portal/templates/admin/user-edit.njk
Due: none

chore(DTFS2-6647): add todos
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
Due: eslint --fix

feat(DTFS2-6647): remove full-stops at end of hints on create user page
  portal/templates/admin/user-edit.njk
Due: none

feat(DTFS2-6647): add exclusive behaviour to read-only role on create user page
  portal/templates/admin/user-edit.njk
Due: none

feat(DTFS2-6647): display read-only role as Read-only on create user page
  portal/templates/admin/user-edit.njk
Due: none

feat(DTFS2-6647): make form labels bold on create user page
  portal/templates/admin/user-edit.njk
Due: none

feat(DTFS2-6647): show only 4 roles on create user page
  portal/component-tests/admin/user-edit.component-test.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix

feat(DTFS2-6647): add hints to roles on create user page
  portal/templates/admin/user-edit.njk
Due: none

chore(DTFS2-6647): remove solved TODO
  portal-api/src/v1/users/validation/index.js
Due: eslint --fix

chore(DTFS2-6647): remove resolved TODO
  portal/server/routes/admin/users.js
Due: eslint --fix

chore(DTFS2-6647): remove solved todos
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
Due: eslint --fix

feat(DTFS2-6647): wip for validating that read-only role is exclusive
  portal-api/api-tests/v1/users/users.api-test.js
  portal-api/src/v1/users/validation/index.js
  portal-api/src/v1/users/validation/rules/current-password-must-match.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-8-characters.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-lowercase.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-number.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-special-character.test.js
  portal-api/src/v1/users/validation/rules/passwords-at-least-one-uppercase.test.js
  portal-api/src/v1/users/validation/rules/passwords-cannot-be-reused.test.js
  portal-api/src/v1/users/validation/rules/passwords-must-match.test.js
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.js
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.test.js
  portal/component-tests/admin/user-edit.component-test.js
  portal/server/routes/admin/users.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix

feat(DTFS2-6647): use bigger checkboxes on create user page
  portal/templates/admin/user-edit.njk
Due: none

chore(DTFS2-6647): remove resolved TODO
  portal-api/src/v1/users/validation/index.js
Due: eslint --fix

feat(DTFS2-6647): add component tests for error message
  portal/component-tests/admin/user-edit.component-test.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix

chore(DTFS2-6647): remove resolved TODO
  portal/component-tests/admin/user-edit.component-test.js
Due: eslint --fix

feat(DTFS2-6647): add e2e tests for read-only role exclusivity when creating a user
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
Due: eslint --fix

refactor(DTFS2-6647): rename adminUpdateRules for user validation
  portal-api/src/v1/users/validation/index.js
Due: eslint --fix

refactor(DTFS2-6647): use role constants
  portal-api/api-tests/v1/users/users.api-test.js
  portal-api/src/v1/roles/roles.js
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.js
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.test.js
Due: eslint --fix

feat(DTFS2-6647): remove maker/checker functionality from handleRoles
  portal/server/routes/admin/users.js
Due: eslint --fix

feat(DTFS2-6647): add api tests in portal-api for user read-only happy paths
  portal-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

feat(DTFS2-6647): allow read-only role to be assigned twice to the same user
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.js
  portal-api/src/v1/users/validation/rules/read-only-role-cannot-be-assigned-with-other-roles.test.js
Due: eslint --fix
