Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(FN-1295): back link and error positioning (#2291)
  portal/templates/admin/user-edit.njk
  portal/templates/index.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/check-the-report.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/confirm-and-send.njk
Due: none

feat(FN-970): change date format
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
Due: eslint --fix

fix(test): fixed test
  trade-finance-manager-ui/templates/case/deal/_macros/eligibility-criteria-answer-tag.component-test.js
Due: eslint --fix

refactor(DTFS2-6789): add constant to portal and gef-ui for all banks id
  gef-ui/server/constants/all-banks-id.js
  gef-ui/server/constants/index.js
  gef-ui/server/middleware/validateBank/index.js
  gef-ui/server/middleware/validateBank/index.test.js
  portal/server/constants/all-banks-id.js
  portal/server/constants/index.js
  portal/server/controllers/dashboard/deals/deals-filters-query.test.js
  portal/server/controllers/dashboard/deals/index.test.js
  portal/server/controllers/dashboard/facilities/facilities-filters-query.test.js
  portal/server/controllers/dashboard/facilities/index.test.js
  portal/server/helpers/isSuperUser.js
  portal/server/helpers/isSuperUser.test.js
  portal/server/routes/admin/users.js
  portal/server/routes/middleware/validateBank/index.js
  portal/server/routes/middleware/validateBank/index.test.js
Due: eslint --fix

feat(FN-970): Monthly status on file upload page (#2197)
  external-api/api-test.jest.config.js
  external-api/api-tests/test-mocks/bank-holidays.ts
  external-api/api-tests/v1/bank-holidays.api-test.ts
  external-api/src/external-api/bank-holidays.ts
  external-api/src/external-api/index.ts
  external-api/src/interfaces/bankHolidays.interface.ts
  external-api/src/interfaces/index.ts
  external-api/src/utils/swagger-definitions/bank-holidays-division.ts
  external-api/src/utils/swagger-definitions/bank-holidays.ts
  external-api/src/utils/swagger.util.ts
  external-api/src/v1/controllers/bank-holidays.controller.ts
  external-api/src/v1/routes/external-apis.route.ts
  portal-api/api-tests/v1/bank-holidays/bank-holidays.api-test.js
  portal-api/src/external-api/api.js
  portal-api/src/external-api/bank-holidays.js
  portal-api/src/v1/controllers/bank-holidays.controller.js
  portal-api/src/v1/routes.js
  portal/package-lock.json
  portal/package.json
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.test.js
  portal/server/helpers/addBusinessDays.js
  portal/server/helpers/addBusinessDays.test.js
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix, sort-package-json

chore: separate tfm case underwriting e2e tests for shorter execution time
  .github/workflows/test.yml
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/assign-lead-underwriter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/change-facility-risk-profile.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/loss-given-default.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/pricing-and-risk-risk-managers.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/pricing-and-risk.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/probability-of-default.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/underwriter-managers-decision-decline.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/underwriter-managers-decision.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/underwriting-page.spec.js
Due: eslint --fix

chore: separate gef unissued facilities e2e tests
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facilities-change-all-AIN.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facilities-change-all-MIN.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facilities-change-issued-to-unissued.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facilities-change-to-issued-3-months-after.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facility-change-from-preview-AIN.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facility-change-from-preview-MIN.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facility-change-from-preview-specialIssuedPermission.spec.js
  e2e-tests/gef/cypress/e2e/unissued-facilities/unissued-facility-to-issued-cover-start-date.spec.js
Due: eslint --fix

fix(DTFS2-6789): fix portal unit test
  portal/server/controllers/dashboard/deals/index.test.js
  portal/server/controllers/dashboard/facilities/index.test.js
Due: eslint --fix

feat(FN-970): store month index 1 in session
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.test.js
Due: eslint --fix

feat(FN-970): linting
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
Due: eslint --fix

fix(DTFS2-6789): allow read-only users to have access to all banks (#2296)
  gef-ui/server/constants/all-banks-id.js
  gef-ui/server/constants/index.js
  gef-ui/server/middleware/validateBank/index.js
  gef-ui/server/middleware/validateBank/index.test.js
  portal/server/constants/all-banks-id.js
  portal/server/constants/index.js
  portal/server/controllers/dashboard/deals/deals-filters-query.test.js
  portal/server/controllers/dashboard/deals/index.test.js
  portal/server/controllers/dashboard/facilities/facilities-filters-query.test.js
  portal/server/controllers/dashboard/facilities/index.test.js
  portal/server/helpers/isSuperUser.js
  portal/server/helpers/isSuperUser.test.js
  portal/server/routes/admin/users.js
  portal/server/routes/middleware/validateBank/index.js
  portal/server/routes/middleware/validateBank/index.test.js
Due: eslint --fix

fix(njk): boolean comparison
  trade-finance-manager-ui/templates/case/deal/_macros/eligibility-criteria-answer-tag.njk
Due: none

feat(FN-970): add get one indexed month function
  portal/jest.config.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/server/helpers/getOneIndexedMonth.js
  portal/server/helpers/getOneIndexedMonth.test.js
  portal/server/helpers/index.js
Due: eslint --fix

feat(FN-970): linting
  portal/server/helpers/getOneIndexedMonth.js
  portal/server/helpers/getOneIndexedMonth.test.js
Due: eslint --fix

feat(DTFS2-6777): fix login.js file capitalisation
  e2e-tests/portal/cypress/support/portal/login.js
Due: eslint --fix

refactor(DTFS2-6777): move login e2e page
  e2e-tests/portal/cypress/e2e/pages/login.js
  e2e-tests/portal/cypress/e2e/pages/login/index.js
Due: eslint --fix

feat(DTFS2-6777): redirect user to expired sign in link page if link has invalid token
  portal/server/api.js
  portal/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-6777): delete duplicated e2e tests
  .github/workflows/test.yml
  e2e-tests/portal/cypress/e2e/journeys/AD integration/activedirectory.spec.js
Due: eslint --fix

feat(DTFS2-6777): add e2e tests for sign in link
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/login/index.js
  e2e-tests/portal/cypress/e2e/pages/login/sign-in-link.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/enterUsernameAndPassword.js
  e2e-tests/portal/cypress/support/portal/logIn.js
  e2e-tests/portal/cypress/support/portal/overrideUserSignInTokenByUsername.js
  e2e-tests/support/db-client.js
  portal/templates/_partials/problem-with-service.njk
Due: eslint --fix

feat(DTFS2-6777): fix e2e tests that depend on login functionality
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/portal/cypress/support/portal-api/removeUserIfPresent.js
Due: eslint --fix

fix(DTFS2-6788): nunjucks boolean check (#2295)
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/templates/case/deal/_macros/eligibility-criteria-answer-tag.component-test.js
  trade-finance-manager-ui/templates/case/deal/_macros/eligibility-criteria-answer-tag.njk
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: eslint --fix, sort-package-json

feat(FN-970): revert jest config change
  portal/jest.config.js
Due: eslint --fix

feat(DTFS2-6774): revert redis package upgrade in portal
  portal/package-lock.json
  portal/package.json
Due: sort-package-json

feat(DTFS2-6774): add typescript compatibility to portal and fix jsdocs
  dtfs-central-api/src/v1/routes/middleware/headers/check-api-key.js
  dtfs-central-api/src/v1/routes/middleware/headers/security.js
  dtfs-central-api/src/v1/routes/middleware/headers/seo.js
  dtfs-central-api/src/v1/routes/middleware/remove-csrf-token.js
  external-api/src/middleware/check-api-key/index.ts
  external-api/src/middleware/headers/security/index.ts
  external-api/src/middleware/headers/seo.ts
  gef-ui/server/middleware/headers/security.middleware.js
  gef-ui/server/middleware/headers/seo.middleware.js
  portal-api/src/v1/middleware/headers/check-api-key.js
  portal-api/src/v1/middleware/headers/security.js
  portal-api/src/v1/middleware/headers/seo.js
  portal-api/src/v1/middleware/remove-csrf-token.js
  portal/package-lock.json
  portal/package.json
  portal/server/routes/middleware/headers/security.middleware.js
  portal/server/routes/middleware/headers/seo.middleware.js
  portal/tsconfig.eslint.json
  portal/tsconfig.json
  portal/webpack.common.config.js
  trade-finance-manager-api/src/v1/middleware/headers/check-api-key.js
  trade-finance-manager-api/src/v1/middleware/headers/security.js
  trade-finance-manager-api/src/v1/middleware/headers/seo.js
  trade-finance-manager-api/src/v1/middleware/remove-csrf-token.js
  trade-finance-manager-api/src/v1/validation/route-validators/validation-handler.js
  trade-finance-manager-ui/server/middleware/headers/security.js
  trade-finance-manager-ui/server/middleware/headers/seo.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6774): update main in package.json
  portal/package.json
Due: sort-package-json

feat(DTFS2-6774): update webpack config
  portal/package.json
  portal/scripts/main.ts
  portal/server/azure-env/index.ts
  portal/tsconfig.eslint.json
  portal/webpack.common.config.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6774): run portal with ts-node
  portal/init.sh
Due: none

feat(DTFS2-6774): update ts linting config to include more directories
  portal/tsconfig.eslint.json
Due: none

feat(DTFS2-6774): change index to ts to verify package is working as expected
  portal/package.json
  portal/server/azure-env/index.js
  portal/server/azure-env/index.ts
  portal/server/index.ts
Due: eslint --fix, sort-package-json

feat(DTFS2-6774): update next type in jsdocs
  dtfs-central-api/src/v1/routes/middleware/headers/check-api-key.js
  dtfs-central-api/src/v1/routes/middleware/headers/security.js
  dtfs-central-api/src/v1/routes/middleware/headers/seo.js
  dtfs-central-api/src/v1/routes/middleware/remove-csrf-token.js
  gef-ui/server/middleware/headers/security.middleware.js
  gef-ui/server/middleware/headers/seo.middleware.js
  portal-api/src/v1/middleware/headers/check-api-key.js
  portal-api/src/v1/middleware/headers/security.js
  portal-api/src/v1/middleware/headers/seo.js
  portal-api/src/v1/middleware/remove-csrf-token.js
  portal/server/routes/middleware/headers/security.middleware.js
  portal/server/routes/middleware/headers/seo.middleware.js
  trade-finance-manager-api/src/v1/middleware/headers/check-api-key.js
  trade-finance-manager-api/src/v1/middleware/headers/security.js
  trade-finance-manager-api/src/v1/middleware/headers/seo.js
  trade-finance-manager-api/src/v1/middleware/remove-csrf-token.js
  trade-finance-manager-api/src/v1/validation/route-validators/validation-handler.js
  trade-finance-manager-ui/server/middleware/headers/security.js
  trade-finance-manager-ui/server/middleware/headers/seo.js
Due: eslint --fix

feat(DTFS2-6778): remove tsx compatibility from webpack
  portal/webpack.common.config.js
Due: eslint --fix

fix(gef-readonly): added read-only to GEF deals users
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/models/application.js
Due: eslint --fix

fix(lint): lint fix
  gef-ui/server/models/application.js
Due: eslint --fix

feat(DTFS2-6762): add environment variable portal-ui-url (#2272)
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_workflow_feature.yml
  infrastructure/resource_group_level/main.bicep
Due: none

fix(gef-readonly): added read-only to GEF deals users (#2301)
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/models/application.js
Due: eslint --fix

feat(FN-970): fix month indexing in session (#2299)
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.test.js
  portal/server/helpers/getOneIndexedMonth.js
  portal/server/helpers/getOneIndexedMonth.test.js
  portal/server/helpers/index.js
Due: eslint --fix

feat(FN-1163/4/5): add infra env vars for scheduled report emails
  .github/workflows/bicep_az_deployment_group.yml
  infrastructure/resource_group_level/main.bicep
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
