Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(DTFS2-6910): fix e2e test
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/tfm/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/portal-api/api.js
Due: eslint --fix

fix(DTFS2-6910): fix e2e test
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/tfm/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/portal-api/api.js
Due: eslint --fix

chore(deps)): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
Due: none

fix: update .d.ts files to .ts where applicable
  dtfs-central-api/src/types/azure-file-info.ts
  dtfs-central-api/src/types/currency.ts
  dtfs-central-api/src/types/date.ts
  dtfs-central-api/src/types/db-models/banks.ts
  dtfs-central-api/src/types/db-models/db-collection-name.ts
  dtfs-central-api/src/types/db-models/db-model.ts
  dtfs-central-api/src/types/db-models/tfm-users.ts
  dtfs-central-api/src/types/db-models/users.ts
  dtfs-central-api/src/types/db-models/utilisation-data.ts
  dtfs-central-api/src/types/db-models/utilisation-reports.ts
  dtfs-central-api/src/types/portal/portal-role.ts
  dtfs-central-api/src/types/portal/portal-session-user.ts
  dtfs-central-api/src/types/session-bank.ts
  dtfs-central-api/src/types/tfm/team.ts
  dtfs-central-api/src/types/tfm/tfm-session-user.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  portal-api/src/external-api/types/bank-holidays.ts
  portal-api/src/scheduler/types/scheduler-job.ts
  trade-finance-manager-api/src/types/bank-holidays.ts
  trade-finance-manager-api/src/types/date.ts
  trade-finance-manager-api/src/types/db-models/tfm-users.ts
  trade-finance-manager-api/src/types/fileshare.ts
  trade-finance-manager-api/src/types/team-id.ts
  trade-finance-manager-api/src/types/team.ts
  trade-finance-manager-api/src/types/tfm-session-user.d.ts
  trade-finance-manager-api/src/types/tfm-session-user.ts
  trade-finance-manager-api/src/types/types-helper.ts
  trade-finance-manager-api/src/types/utilisation-reports.ts
  trade-finance-manager-api/src/v1/__mocks__/mock-tfm-session-user.ts
  trade-finance-manager-ui/server/types/bank-holidays.ts
  trade-finance-manager-ui/server/types/date.ts
  trade-finance-manager-ui/server/types/team-id.ts
  trade-finance-manager-ui/server/types/tfm-session-user.ts
  trade-finance-manager-ui/server/types/types-helper.ts
  trade-finance-manager-ui/server/types/utilisation-reports.ts
Due: eslint --fix

fix: omit -> pick
  trade-finance-manager-api/src/types/tfm-session-user.ts
Due: eslint --fix

fix: update '.d.ts' files to '.ts' where applicable (#2579)
  dtfs-central-api/src/types/azure-file-info.ts
  dtfs-central-api/src/types/currency.ts
  dtfs-central-api/src/types/date.ts
  dtfs-central-api/src/types/db-models/banks.ts
  dtfs-central-api/src/types/db-models/db-collection-name.ts
  dtfs-central-api/src/types/db-models/db-model.ts
  dtfs-central-api/src/types/db-models/tfm-users.ts
  dtfs-central-api/src/types/db-models/users.ts
  dtfs-central-api/src/types/db-models/utilisation-data.ts
  dtfs-central-api/src/types/db-models/utilisation-reports.ts
  dtfs-central-api/src/types/portal/portal-role.ts
  dtfs-central-api/src/types/portal/portal-session-user.ts
  dtfs-central-api/src/types/session-bank.ts
  dtfs-central-api/src/types/tfm/team.ts
  dtfs-central-api/src/types/tfm/tfm-session-user.ts
  dtfs-central-api/src/types/utilisation-reports.ts
  portal-api/src/external-api/types/bank-holidays.ts
  portal-api/src/scheduler/types/scheduler-job.ts
  trade-finance-manager-api/src/types/bank-holidays.ts
  trade-finance-manager-api/src/types/date.ts
  trade-finance-manager-api/src/types/db-models/tfm-users.ts
  trade-finance-manager-api/src/types/fileshare.ts
  trade-finance-manager-api/src/types/team-id.ts
  trade-finance-manager-api/src/types/team.ts
  trade-finance-manager-api/src/types/tfm-session-user.d.ts
  trade-finance-manager-api/src/types/tfm-session-user.ts
  trade-finance-manager-api/src/types/types-helper.ts
  trade-finance-manager-api/src/types/utilisation-reports.ts
  trade-finance-manager-api/src/v1/__mocks__/mock-tfm-session-user.ts
  trade-finance-manager-ui/server/types/bank-holidays.ts
  trade-finance-manager-ui/server/types/date.ts
  trade-finance-manager-ui/server/types/team-id.ts
  trade-finance-manager-ui/server/types/tfm-session-user.ts
  trade-finance-manager-ui/server/types/types-helper.ts
  trade-finance-manager-ui/server/types/utilisation-reports.ts
Due: eslint --fix

feat(FN-2022): update report header
  dtfs-central-api/src/constants/utilisation-report-headers.ts
  dtfs-central-api/src/services/repositories/utilisation-data-repo.test.ts
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.csv
  portal-api/api-tests/fixtures/utilisation-report.csv
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal/server/constants/utilisation-report-headers.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
Due: eslint --fix

fix(DTFS2-6713): missing constant value
  external-api/src/cron/eStoreDealFolderCreationJob.cron.ts
  trade-finance-manager-api/src/constants/deals.js
  trade-finance-manager-api/src/v1/controllers/estore.controller.js
Due: eslint --fix

feat(FN-2022): update e2e fixtures
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-September_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-next_week.xlsx
Due: none

feat(FN-2022): update name again
  dtfs-central-api/src/constants/utilisation-report-headers.ts
  dtfs-central-api/src/services/repositories/utilisation-data-repo.test.ts
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.csv
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-September_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-next_week.xlsx
  portal-api/api-tests/fixtures/utilisation-report.csv
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal/server/constants/utilisation-report-headers.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
Due: eslint --fix

feat(FN-2022): update total fees report header (#2580)
  dtfs-central-api/src/constants/utilisation-report-headers.ts
  dtfs-central-api/src/services/repositories/utilisation-data-repo.test.ts
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.csv
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-September_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-next_week.xlsx
  portal-api/api-tests/fixtures/utilisation-report.csv
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal/server/constants/utilisation-report-headers.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
Due: eslint --fix

fix(DTFS2-6910): add missing e2e test
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
Due: eslint --fix

fix(DTFS2-6910): update overridePortalUserSignInTokenWithValidTokenByUsername
  e2e-tests/gef/cypress/support/commands.js
  e2e-tests/gef/cypress/support/commands/portal/overridePortalUserSignInTokenByUsername.js
  e2e-tests/gef/cypress/support/commands/portal/overridePortalUserSignInTokenWithValidTokenByUsername.js
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/support/portal/overridePortalUserSignInTokenByUsername.js
  e2e-tests/portal/cypress/support/portal/overridePortalUserSignInTokenWithValidTokenByUsername.js
  e2e-tests/tfm/cypress/support/commands.js
  e2e-tests/tfm/cypress/support/portal-api/overridePortalUserSignInTokenByUsername.js
  e2e-tests/tfm/cypress/support/portal-api/overridePortalUserSignInTokenWithValidTokenByUsername.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/portal/overridePortalUserSignInTokenByUsername.js
  e2e-tests/ukef/cypress/support/portal/overridePortalUserSignInTokenWithValidTokenByUsername.js
Due: eslint --fix

fix(DTFS2-6910): update overridePortalUserSignInTokenWithValidTokenByUsername
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal-api/api.js
  e2e-tests/portal/cypress/support/portal/login.js
  e2e-tests/support/user-tasks.js
  e2e-tests/tfm/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/portal/logIn.js
  portal-api/test-helpers/api-test-helpers/database/user-repository.js
Due: eslint --fix

fix(DTFS2-6910): add overridePortalUserSignInTokensByUsername
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/overridePortalUserSignInTokensByUsername.js
  e2e-tests/support/user-tasks.js
Due: eslint --fix

fix(DTFS2-6910): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/e2e/pages/login/sign-in-link.js
  e2e-tests/support/user-tasks.js
Due: eslint --fix

fix(DTFS2-6910): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
Due: eslint --fix

fix(DTFS2-6910): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/sign-in-link-session-edge-cases.spec.js
  portal-api/api-test.jest.config.js
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/src/constants/http-error-causes.js
  portal-api/src/constants/index.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal/api-tests/login/login-with-sign-in-link.api-test.js
  portal/server/constants/http-error-causes.js
  portal/server/constants/index.js
  portal/server/controllers/login/login-with-sign-in-link.js
  portal/server/controllers/login/login-with-sign-in-link.test.js
  portal/templates/page-not-found.njk
Due: eslint --fix

fix(DTFS2-6910): update e2e tests
  e2e-tests/portal/cypress/e2e/pages/login/sign-in-link.js
  portal-api/src/constants/http-error-causes.js
  portal/server/constants/http-error-causes.js
  portal/server/controllers/login/login-with-sign-in-link.js
Due: eslint --fix

fix(DTFS2-6910): update e2e tests
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fix(DTFS2-6910): update lint
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fix(DTFS2-6910): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/resend-sign-in-link.spec.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal/api-tests/login/login-with-sign-in-link.api-test.js
  portal/server/controllers/login/login-with-sign-in-link.js
  portal/server/controllers/login/login-with-sign-in-link.test.js
Due: eslint --fix

fix(DTFS2-6910): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fchore(DTFS2-6713): updated dependencies
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
  utils/mock-data-loader/package-lock.json
Due: none

fix(husky): set filemode to 755 for .husky
  .husky/commit-msg
Due: none

fix(deploy): deployment script linear promotion
  .github/workflows/deploy.sh
Due: none

fix(DTFS2-6910): review comments
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  portal-api/api-test.jest.config.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
Due: eslint --fix

fix(DTFS2-6910): review comments
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
Due: eslint --fix

feat(FN-1051): add separator between bank reports tables
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/layout.scss
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
Due: none

feat(FN-1051): minor refactors
  trade-finance-manager-ui/styles/layout.scss
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
Due: none

fix(DTFS2-6910): review comments
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
Due: eslint --fix, sort-package-json

fix(DTFS2-6910): review comments
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
Due: eslint --fix

fix(DTFS2-6910): remove validate hex length
  portal-api/src/crypto/cryptographically-strong-generator.js
  portal-api/src/crypto/cryptographically-strong-generator.test.js
  portal-api/src/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fix(DTFS2-6910): remove validate hex length
  portal-api/src/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fix(DTFS2-6910): remove validate hex length
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
Due: eslint --fix

fix(DTFS-6959): Deployment strategy (#2583)
  .github/workflows/deploy.sh
  .husky/commit-msg
Due: none
