Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7294): add value to github workflows
  .github/workflows/test.yml
Due: none

feat(DTFS2-7294): display button only if MIN/AIN deal
  libs/common/src/constants/deal-submission-type.ts
  libs/common/src/constants/index.ts
  libs/common/src/types/tfm/deal-submission-type.ts
  libs/common/src/types/tfm/index.ts
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/helpers/deal-cancellation-enabled.ts
  trade-finance-manager-ui/templates/case/deal/deal.njk
Due: eslint --fix

feat(FN-3377): add new tfm url email param
  portal-api/src/v1/services/utilisation-report/email-service.test.ts
  portal-api/src/v1/services/utilisation-report/email-service.ts
Due: eslint --fix

feat(FN-3377): update report notification template id to new template
  portal-api/src/constants/email-template-ids.js
Due: eslint --fix

feat(FN-3418): hide row cells with no entries from screenreader
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-details-table-row.njk
Due: none

chore(DTFS2-7333): fix/update e2e tests
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/probability-of-default.spec.js
  e2e-tests/tfm/cypress/e2e/pages/activities/activityCommentBoxPage.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-with-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-without-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-refused-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/partials/index.js
  e2e-tests/ukef/cypress/support/click-events/click-submit-button.js
  e2e-tests/ukef/cypress/support/click-events/index.js
  e2e-tests/ukef/cypress/support/commands.js
  trade-finance-manager-ui/templates/case/activity/activity-comment.njk
Due: eslint --fix

feat(FN-2406): more detail in docstring and correct console errors
  dtfs-central-api/src/v1/routes/middleware/payload-validation/schemas/utilisation-report-csv-row-data.schema.ts
  portal-api/src/v1/api.js
Due: eslint --fix

feat(DTFS2-7294): fix tests
  libs/common/src/helpers/is-feature-flag-enabled.test.ts
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/helpers/deal-cancellation-enabled.test.ts
Due: eslint --fix

chore(FN-3419): added path to libs/common
  dtfs-central-api/tsconfig.json
Due: none

chore(FN-3419): added path to libs/common
  dtfs-central-api/.eslintrc.js
Due: eslint --fix

Revert "feat(FN-3418): hide row cells with no entries from screenreader"
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-details-table-row.njk
Due: none

chore(FN-3419): modified sca.yml
  .github/workflows/sca.yml
Due: none

chore(FN-3419): added to root package-json
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7294): improve test and rename types
  libs/common/src/types/tfm/deal-submission-type.ts
  trade-finance-manager-ui/server/helpers/deal-cancellation-enabled.test.ts
  trade-finance-manager-ui/server/helpers/deal-cancellation-enabled.ts
Due: eslint --fix

chore(FN-3419): removed from libs/common
  dtfs-central-api/tsconfig.json
Due: none

feat(DTFS2-7294): amend mocks
  trade-finance-manager-ui/server/helpers/deal-cancellation-enabled.test.ts
Due: eslint --fix

chore(FN-3419): added to ts-config
  .github/workflows/sca.yml
  dtfs-central-api/tsconfig.json
Due: none

feat(FN-3418): read out multiple rows as list hiding sub rows
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-details-table-row.njk
Due: none

fix(DTFS2-6713): fixed database write operation
  external-api/src/cron/eStoreBuyerDirectoryCreationJob.cron.ts
  external-api/src/cron/eStoreDealDirectoryCreationJob.cron.ts
  external-api/src/cron/eStoreFacilityDirectoryCreationJob.cron.ts
  external-api/src/cron/eStoreSiteCreationJob.cron.ts
  external-api/src/cron/eStoreTermStoreCreationJob.cron.ts
  external-api/src/repositories/estore/estore-repo.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

fix(DTFS2-6655): create cy.createGefApplicationReadyForCheck() to create GEF deal through UI
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/createGefApplicationReadyForCheck.js
Due: eslint --fix

Revert "feat(FN-3418): read out multiple rows as list hiding sub rows"
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-details-table-row.njk
Due: none

chore(FN-3419): add moduleDirectory to node_modules
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/api-tests/expectMongoIds.js
  dtfs-central-api/api-tests/v1/mocks/index.js
  dtfs-central-api/api-tests/v1/utilisation-reports/post-validate-utilisation-report-data.api-test.ts
  dtfs-central-api/src/constants/deals.js
  dtfs-central-api/src/constants/facilities.js
  dtfs-central-api/src/constants/regex.js
  dtfs-central-api/src/utils/error-list-order-number.js
  dtfs-central-api/unit.jest.config.js
  package-lock.json
  package.json
Due: eslint --fix, sort-package-json

feat(dtfs2-6892): remove failOnNonZeroExit: false from gef load data script in e2e tests
  e2e-tests/gef/cypress/support/commands/loadData.js
Due: eslint --fix

feat(dtfs2-6892): update js doc
  e2e-tests/support/trade-finance-manager/login.js
Due: eslint --fix

feat(FN-3148): don't hide empty cells but announce latter columnc later
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-details-table-row.njk
Due: none

feat(dtfs2-6892): update js doc
  e2e-tests/support/trade-finance-manager/overrideRedisUserSession.js
Due: eslint --fix

feat(dtfs2-6892): update js doc
  e2e-tests/support/trade-finance-manager/overrideTfmUserSessionId.js
  e2e-tests/support/trade-finance-manager/setSessionCookie.js
Due: eslint --fix

fix(DTFS2-6655): resolved comments on PR
  e2e-tests/portal/cypress/support/portal/createBssApplicationReadyForCheck.js
Due: eslint --fix

chore(DTFS2-7328): fix/update e2e test
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/unissued-facilities-change-all-MIN.spec.js
Due: eslint --fix

feat(dtfs2-6892): update js doc
  e2e-tests/support/utils/crypto.js
Due: eslint --fix

feat(dtfs2-6892): update js doc and fix js doc
  e2e-tests/support/redis-client.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
