Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(deps): update dependencies
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(deps): lint fixes
  dtfs-central-api/api-tests/test-api.ts
  gef-ui/package.json
  package-lock.json
  trade-finance-manager-api/api-tests/api-test-users.ts
  trade-finance-manager-api/api-tests/api.ts
Due: eslint --fix, sort-package-json

chore(DTFS2-8403): fix failing test
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
Due: eslint --fix

feat(DTFS2-6893): tfm sso profile linke update
  cspell.json
  trade-finance-manager-ui/component-tests/_macros/header.component-test.js
  trade-finance-manager-ui/server/helpers/validateSsoProfileUrl.test.ts
  trade-finance-manager-ui/server/helpers/validateSsoProfileUrl.ts
  trade-finance-manager-ui/server/nunjucks-configuration/index.js
  trade-finance-manager-ui/templates/_macros/header.njk
  trade-finance-manager-ui/templates/_partials/header.njk
Due: eslint --fix

chore(DTFS2-8565): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-facility-type-flags/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-facility-type-flags/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.ts
Due: eslint --fix

fix(DTFS2-8565): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
Due: eslint --fix

chore(DTFS2-8403): add e2e test
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/add-payment.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/reconcile-fee-records.spec.js
  e2e-tests/tfm/cypress/e2e/pages/utilisation-reports/utilisationReportPage.js
Due: eslint --fix

chore(DTFS2-8456): address comments
  gef-ui/api-tests/select-exporters-correspondence-address.api-test.js
Due: eslint --fix

chore(staging-revert-deployment): test
  .github/workflows/release.yml
  azure-functions/acbs/mappings/facility/helpers/get-credit-rating-code.js
Due: eslint --fix

chore(deps): fix failing api-tests
  portal-api/__mocks__/@azure/storage-file-share.js
  trade-finance-manager-api/__mocks__/@azure/storage-file-share.js
Due: eslint --fix

chore(DTFS2-8565): apim gift integration - facility boolean flags (#4941)
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-facility-type-flags/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-facility-type-flags/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-product-type-code/index.ts
Due: eslint --fix

feat(DTFS2-8521): create an ewcs gift facility - counterparties
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-party-urns/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-party-urns/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/party-urns.ts
Due: eslint --fix

chore(deps): fix failing tests and upgrade cypress to 15
  dtfs-central-api/server/repositories/tfm-facilities-repo/aggregate-pipelines/index.ts
  dtfs-central-api/server/types/session-bank.ts
  dtfs-central-api/server/v1/validation/utilisation-report-service/payment-group-validator.test.ts
  dtfs-central-api/tsconfig.json
  e2e-tests/package.json
  e2e-tests/support/register-common-typescript.js
  e2e-tests/support/tasks.js
  external-api/tsconfig.json
  gef-ui/server/services/__tests__/api.test.js
  gef-ui/server/utils/multer-filter.utils.test.js
  gef-ui/tsconfig.json
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/partial-entities/month-and-year.partial-entity.ts
  libs/common/src/sql-db-entities/payment-matching-tolerance/payment-matching-tolerance.entity.ts
  libs/common/src/sql-db-entities/payment/payment.entity.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.ts
  package-lock.json
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/server/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/tsconfig.json
  portal-ui/server/api-response-types/index.ts
  portal-ui/server/utils/multer-filter.utils.test.js
  portal-ui/tsconfig.json
  trade-finance-manager-api/server/v1/controllers/tasks.api-test.js
  trade-finance-manager-api/tsconfig.json
  trade-finance-manager-ui/server/api.get-uk-bank-holidays.test.js
  trade-finance-manager-ui/server/helpers/date.test.js
  trade-finance-manager-ui/tsconfig.json
Due: eslint --fix, sort-package-json

chore(deps): added documentation
  e2e-tests/support/register-common-typescript.js
Due: eslint --fix

fix(DTFS2-8403): checkbox accessibility fix DAC_Checkbox_01 (#4939)
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/add-payment.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/reconcile-fee-records.spec.js
  e2e-tests/tfm/cypress/e2e/pages/utilisation-reports/utilisationReportPage.js
  libs/common/src/middleware/xss/index.test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/keying-sheet-table.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table/premium-payments-table-checkboxes.component-test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/keying-sheet-table-row.njk
Due: eslint --fix

feat(DTFS2-8521): create an ewcs gift facility - category code
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.ts
Due: eslint --fix

feat(DTFS2-8521): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/party-urns.ts
Due: eslint --fix

chore(deps): fix failing test and change to cypress expose
  e2e-tests/gef/cypress.config.js
  e2e-tests/gef/cypress/e2e/maintenance/maintenance-active-page.spec.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/contact/contact.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maintenance/maintenance-active-page.spec.js
  e2e-tests/portal/cypress/support/portal/login.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/tfm/cypress/e2e/journeys/maintenance/maintenance-active-page.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/record-correction-request-submission-going-back.spec.js
  e2e-tests/ukef/cypress.config.js
  e2e-tests/ukef/cypress/e2e/journeys/utilisation-reports/utilisation-report-submission.spec.js
  e2e-tests/ukef/cypress/support/portal/logIn.js
Due: eslint --fix

chore(deps): fix failing test
  trade-finance-manager-ui/server/helpers/date.test.js
Due: eslint --fix

feat(DTFS2-8521): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/map-facility-category-code/index.ts
Due: eslint --fix

chore(deps): fix failing test
  e2e-tests/gef/cypress/support/utils/saveSession.js
  e2e-tests/package.json
  e2e-tests/portal/cypress/support/utils/saveSession.js
  e2e-tests/tfm/cypress/support/utils/saveSession.js
  e2e-tests/ukef/cypress/support/utils/saveSession.js
  package-lock.json
Due: eslint --fix, sort-package-json

chore(deps): fix failing test
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-lead-underwriter.spec.js
Due: eslint --fix

chore(deps): update dependencies - acbs node and axios
  azure-functions/acbs/Dockerfile
  azure-functions/acbs/package.json
  package-lock.json
Due: sort-package-json

chore(deps): upgrade dot-env
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): fix failing tests
  azure-functions/acbs/Dockerfile
Due: none

chore(deps): fix failing tests
  azure-functions/acbs/package.json
  package-lock.json
Due: sort-package-json

chore(deps): debug
  .github/workflows/test.yml
Due: none

chore(deps): debug
  libs/common/src/change-stream/config.ts
  libs/common/src/helpers/backend/configure-express-session.ts
  libs/common/src/helpers/backend/configure-redis-cache.ts
  libs/common/src/helpers/facility-calculations/index.ts
  libs/common/src/helpers/get-maintenance-timestamp.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
  libs/common/src/helpers/is-gov-notify-mocked.ts
  libs/common/src/helpers/is-https.ts
  libs/common/src/helpers/is-maintenance-active.ts
  libs/common/src/helpers/is-number-generator-mocked.ts
  libs/common/src/helpers/is-production.ts
  libs/common/src/helpers/timezone.ts
  libs/common/src/mongo-db-client/index.ts
  libs/common/src/sql-db-connection/config.ts
Due: eslint --fix

chore(DTFS2-8454): gef-ui happy path api tests (#4770)
  gef-ui/api-tests/application-details.api-test.js
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
  gef-ui/api-tests/confirm-cover-start-date.api-test.js
  gef-ui/api-tests/cover-start-date.api-test.js
  gef-ui/api-tests/downloadFile.api-test.js
  gef-ui/api-tests/review-decision.api-test.js
  libs/common/src/test-helpers/api-test/clone-mock.ts
  libs/common/src/test-helpers/api-test/index.ts
Due: eslint --fix

chore(deps): reenable tests
  .github/workflows/test.yml
Due: none

chore(deps): fix hanging test
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-lead-underwriter.spec.js
Due: eslint --fix

chore(deps): debug
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-lead-underwriter.spec.js
Due: eslint --fix

chore(deps): fix failing test
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-lead-underwriter.spec.js
  e2e-tests/tfm/cypress/support/ui/index.js
  e2e-tests/tfm/cypress/support/ui/logInWithSession.js
Due: eslint --fix

chore(deps): dependencies
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): try fix
  e2e-tests/tfm/cypress.config.js
Due: eslint --fix

chore(deps): try fix
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-lead-underwriter.spec.js
Due: eslint --fix

chore(deps): test
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision/add-lead-underwriter.spec.js
Due: eslint --fix

feat(DTFS2-8521): update unit test
  trade-finance-manager-api/server/v1/__mocks__/mock-TFM-deal-BSS-EWCS-AIN-submitted.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
Due: eslint --fix
