Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-974): add stbr to cspell.json
  cspell.json
Due: none

feat(FN-974): add env var to bicep & github actions
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow_feature.yml
  cspell.json
  infrastructure/resource_group_level/main.bicep
Due: none

chore(deps): dependencies updates
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
Due: sort-package-json

feat(DTFS2-6744): add feature flag for magic link (#2182)
  portal-api/src/config/feature-flag.config.js
  portal-api/src/v1/users/routes.js
  portal/server/config/feature-flag.config.js
  portal/server/routes/login.js
Due: eslint --fix

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
Due: sort-package-json

fix(headers): removed block-all-mixed-content header as it is depricated
  dtfs-central-api/src/v1/routes/middleware/headers/security.js
  external-api/src/middleware/headers/security/index.api-test.ts
  external-api/src/middleware/headers/security/index.ts
  gef-ui/server/middleware/headers/security.middleware.js
  portal-api/src/v1/middleware/headers/security.js
  portal/server/routes/middleware/headers/security.middleware.js
  trade-finance-manager-api/src/v1/middleware/headers/security.js
  trade-finance-manager-ui/server/middleware/headers/security.js
Due: eslint --fix

feat(FN-974): add max report size env var
  .github/workflows/bicep_az_deployment_group.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-974): update paths triggering workflow
  .github/workflows/bicep_workflow_feature.yml
Due: none

fix(dockerfile): updated base image to node:20.8.1-alpine3.17
  dtfs-central-api/Dockerfile
  external-api/Dockerfile
  gef-ui/Dockerfile
  portal-api/Dockerfile
  portal/Dockerfile
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-ui/Dockerfile
Due: none

feat(FN-1145): Add ClamAV - remove TODOs
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(FN-1145): add clamav infra (#2179)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/clamav.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(FN-974): create environment variable pdc inputter email (#2183)
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow_feature.yml
  cspell.json
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-995): format time for email
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix

feat(FN-967): pass data through to central api
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/routes/portal-routes.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal/server/api.js
Due: eslint --fix

feat(DTFS2-6733): add 'Check your email' screen
  portal/server/routes/login.js
  portal/templates/check-your-email.njk
Due: eslint --fix

feat(FN-997): improve error handling on file validation
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(DTFS2-6733): add 'Check your email' screen (#2185)
  portal/server/routes/login.js
  portal/templates/check-your-email.njk
Due: eslint --fix

feat(FN-995): format date for email and test
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
Due: eslint --fix

feat(FN-995): formatting
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix

feat(ssh): removed SSHD configurations
  .env.sample
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/Dockerfile
  dtfs-central-api/init.sh
  dtfs-central-api/package-lock.json
  dtfs-central-api/sshd_config
  external-api/Dockerfile
  external-api/init.sh
  external-api/package-lock.json
  external-api/sshd_config
  gef-ui/Dockerfile
  gef-ui/init.sh
  gef-ui/package-lock.json
  gef-ui/package.json
  gef-ui/sshd_config
  package-lock.json
  portal-api/Dockerfile
  portal-api/init.sh
  portal-api/package-lock.json
  portal-api/sshd_config
  portal/Dockerfile
  portal/init.sh
  portal/package-lock.json
  portal/package.json
  portal/sshd_config
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-api/init.sh
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/sshd_config
  trade-finance-manager-ui/Dockerfile
  trade-finance-manager-ui/init.sh
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/sshd_config
  utils/data-migration/package-lock.json
Due: sort-package-json

feat(FN-980): update error handling
  dtfs-central-api/src/v1/controllers/portal/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
Due: eslint --fix

feat(FN-967): add logging and fix data saving
  dtfs-central-api/src/services/repositories/utilisation-data-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix

feat(FN-997): fix error messaging
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

Feat(FN-997): improve password protected errors (#2186)
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

fix(DTFS2-6746): do not remove parties after updating bond beneficiary or issuer urns
  e2e-tests/tfm/cypress/e2e/journeys/case/parties/bond-beneficiary.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/parties/bond-issuer.spec.js
  e2e-tests/tfm/cypress/e2e/pages/partiesPage.js
  e2e-tests/tfm/cypress/fixtures/constants.js
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

fix(cookies): updated cookies name
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/api-tests/contract/about-routes.api-test.js
  portal/api-tests/contract/bond-routes.api-test.js
  portal/api-tests/contract/contract-routes.api-test.js
  portal/api-tests/contract/loan-routes.api-test.js
Due: eslint --fix

fix(api-test): fixed paths
  portal/api-tests/api-rate-limiting.api-test.js
Due: eslint --fix

feat(FN-970): populate report period & due date from params & use API to get bank hols
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

fix(DTFS2-6746): do not remove parties after updating bond beneficiary or issuer urns (#2188)
  e2e-tests/tfm/cypress/e2e/journeys/case/parties/bond-beneficiary.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/parties/bond-issuer.spec.js
  e2e-tests/tfm/cypress/e2e/pages/partiesPage.js
  e2e-tests/tfm/cypress/fixtures/constants.js
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

refactor(DTFS2-6751): create portal login templates folder
  portal/server/routes/login.js
  portal/templates/login/check-your-email.njk
  portal/templates/login/login.njk
Due: eslint --fix

feat(DTFS2-6751): add login link expired page
  portal/server/routes/login.js
  portal/templates/login/login-link-expired.njk
Due: eslint --fix

refactor(DTFS2-6751): create macro for elements to request new login link
  portal/templates/login/_macros/request-new-login-link.njk
  portal/templates/login/check-your-email.njk
  portal/templates/login/login-link-expired.njk
Due: none

chore(DTFS2-6751): remove TODO
  portal/templates/login/login-link-expired.njk
Due: none

refactor(DTFS2-6751): use sign-in link naming instead of login link
  portal/server/routes/login.js
  portal/templates/login/_macros/request-new-sign-in-link.njk
  portal/templates/login/check-your-email.njk
  portal/templates/login/sign-in-link-expired.njk
Due: eslint --fix

feat(DTFS2-6751): add component tests for check-your-email and sign-in-link-expired pages
  portal/component-tests/login/_macros/request-new-sign-in-link.component-test.js
  portal/component-tests/login/check-your-email.component-test.js
  portal/component-tests/login/sign-in-link-expired.component-test.js
  portal/templates/login/_macros/request-new-sign-in-link.njk
  portal/templates/login/check-your-email.njk
  portal/templates/login/sign-in-link-expired.njk
Due: eslint --fix

fix(test): added TLS environment variables to GHA
  .env.sample
  .github/workflows/test.yml
  README.md
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  e2e-tests/gef/cypress/support/commands/api.js
  utils/mock-data-loader/.env.sample
Due: eslint --fix

fix(test): fixed unit test
  portal/server/helpers/sanitise-environment.test.js
  portal/server/routes/middleware/rateLimit/index.test.js
Due: eslint --fix

fix(domain): domain correction for portal-ui
  .env.sample
  .github/workflows/test.yml
  README.md
  e2e-tests/gef/cypress/support/commands/api.js
  e2e-tests/ukef/cypress.config.js
  portal/README.md
  utils/mock-data-loader/.env.sample
Due: eslint --fix
