Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(deployment): removed needs database
  .github/workflows/deployment.yml
Due: none

fix(DTFS2-6655): removed user-disable.njk
  e2e-tests/portal/cypress/e2e/journeys/admin/dashboard/dashboard-table-data.spec.js
  portal-api/src/v1/routes.js
  portal/api-tests/admin-routes.api-test.js
  portal/server/routes/admin/users.js
  portal/templates/admin/user-disable.njk
Due: eslint --fix

fix(DTFS2-7105): portal-api lint fixes
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  e2e-tests/ukef/cypress/support/trade-finance-manager-api/submitManyDeals.js
  portal-api/.eslintrc.js
  portal-api/api-tests/database-helper.js
  portal-api/api-tests/v1/users/post-create-user.api-test.js
  portal-api/api-tests/v1/users/put-update-user.api-test.js
  portal-api/api-tests/v1/users/with-validate-email-is-unique.api-tests.js
  portal-api/api-tests/v1/users/with-validate-password.api-tests.js
  portal-api/src/cron-scheduler-jobs/helpers/utilisation-report-helpers.test.ts
  portal-api/src/cron-scheduler-jobs/helpers/utilisation-report-helpers.ts
  portal-api/src/cron-scheduler-jobs/send-report-due-emails-job/index.test.ts
  portal-api/src/cron-scheduler-jobs/send-report-overdue-emails-job/index.test.ts
  portal-api/src/cron-scheduler-jobs/send-report-submission-period-start-emails-job/index.test.ts
  portal-api/src/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
  portal-api/src/v1/users/transform-database-user.js
  portal-api/src/v1/users/transform-database-user.test.js
  portal-api/src/v1/users/user.service.test.js
  portal-api/src/v1/users/validation/rules/email-must-be-unique.test.js
  portal-api/test-helpers/unit-test-helpers/users/validation/user-validation.test-helpers.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
  portal/server/controllers/login/check-your-email.js
  portal/server/routes/login/index.js
  utils/mock-data-loader/helpers/logger.helper.js
Due: eslint --fix

fix(DTFS2-7105): fixed linting errors
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/due-report-initialised/due-report-initialised.event-handler.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/fee-record-keyed/fee-record-keyed.event-handler.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/payment-added-to-fee-record/payment-added-to-fee-record.event-handler.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/payment-removed-from-fee-record/payment-removed-from-fee-record.event-handler.ts
Due: eslint --fix

fix(DTFS2-7105): tfm-api eslintrc.js unified
  trade-finance-manager-api/.eslintrc.js
Due: eslint --fix

feat(DTFS2-5885): fixing bug where lead underwriter is not assigned to underwriter tasks
  cspell.json
  e2e-tests/tfm/cypress/e2e/common-tests/assessmentTasksAssignedTo.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-amendment-request-check-previous.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision-proceed.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision-withdraw.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-lead-underwriter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendments-version-order.spec.js
  e2e-tests/tfm/cypress/e2e/pages/amendments/amendmentsPage.js
  e2e-tests/tfm/cypress/e2e/pages/underwriting/underwritingPage.js
  e2e-tests/tfm/cypress/fixtures/constants.js
  trade-finance-manager-api/src/v1/__mocks__/mock-amendment-tasks-assign-by-team.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/helpers/create-tasks-amendment.helper-getTasksAssignedToUserByGroup.api-test.js
  trade-finance-manager-api/src/v1/helpers/create-tasks-amendment.helper.api-test.js
  trade-finance-manager-api/src/v1/helpers/create-tasks-amendment.helper.js
  trade-finance-manager-ui/templates/case/amendments/amendment-lead-underwriter.njk
  utils/mock-data-loader/insert-mocks-gef.js
Due: eslint --fix

fix(DTFS2-7105): utils eslintrc.js unified
  .eslintrc.js
  dtfs-central-api/.eslintrc.js
  external-api/.eslintrc.js
  libs/common/.eslintrc.js
  portal-api/.eslintrc.js
  trade-finance-manager-api/.eslintrc.js
  tsconfig.eslint.json
  tsconfig.json
  utils/data-migration/sql/utilisation-reports/index.ts
  utils/sql-db-seeder/.env.sample
  utils/sql-db-seeder/.eslintrc.js
  utils/sql-db-seeder/tsconfig.eslint.json
Due: eslint --fix

chore(DTFS2-7105): dependencies updatews
  e2e-tests/package.json
  libs/common/package.json
  package-lock.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(FN-1615): resolve remaining markups
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers.test.ts
Due: eslint --fix

fix(DTFS2-7105): fixed eslint ignore path
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  gef-ui/server/nunjucks-configuration/index.js
  libs/common/package.json
  portal-api/package.json
  portal/.eslintrc.js
  portal/package.json
  portal/server/nunjucks-configuration/index.js
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/mock-data-loader/package.json
  utils/package.json
Due: eslint --fix, sort-package-json

fix(DTFS2-7105): fixed eslint configuration
  azure-functions/acbs-function/.eslintrc.js
  e2e-tests/.eslintrc.js
  gef-ui/.eslintrc.js
  gef-ui/public/js/correspondenceAddress.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/public/js/govukFrontend.js
  gef-ui/public/js/jsEnabled.js
  gef-ui/public/js/jsEnabled.js.map
  gef-ui/public/js/main.js
  portal/.eslintrc.js
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/public/js/govukFrontend.js
  portal/public/js/guaranteeFeePayableByBank.js
  portal/public/js/jsEnabled.js
  portal/public/js/jsEnabled.js.map
  portal/public/js/main.js
  portal/public/js/main.js.map
  portal/public/js/maskedInputs.js
  portal/public/js/maskedInputs.js.map
  portal/public/js/mojFilters.js
  portal/public/js/mojFrontend.js
  portal/public/js/multiFileUpload.js
  portal/public/js/multiFileUpload.js.map
  portal/public/js/printPage.js
  portal/public/js/ukefexposure.js
  portal/public/js/ukefexposure.js.map
  portal/scripts/change-industry-classes.test.js
  portal/scripts/masked-inputs.test.js
  portal/scripts/show-hide-element.test.js
  trade-finance-manager-ui/.eslintrc.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/public/js/govukFrontend.js
  trade-finance-manager-ui/public/js/jsEnabled.js
  trade-finance-manager-ui/public/js/jsEnabled.js.map
  trade-finance-manager-ui/public/js/main.js
  trade-finance-manager-ui/public/js/mojFrontend.js
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
Due: eslint --fix

chore: update-feature-deploy-workflow-trigger
  .github/workflows/feature_deploy.yml
Due: none

feat(DTFS2-5885): test amendment.controller-updateFacilityAmendment.test.js
  trade-finance-manager-api/src/v1/__mocks__/mock-amendment.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller-updateFacilityAmendment.test.js
Due: eslint --fix

fix(DTFS2-7105): lint fix
  portal-api/src/v1/users/passport.js
Due: eslint --fix

feat(DTFS2-5885): rename api-test to unit-test
  trade-finance-manager-api/src/v1/helpers/create-tasks-amendment.helper-getTasksAssignedToUserByGroup.test.js
Due: eslint --fix

feat(DTFS2-5885): fixing test that had old helper function name
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/underwriting-page-unassigned.spec.js
Due: eslint --fix

feat(FN-1615): update fee record seeder to include status
  utils/sql-db-seeder/src/fee-record/fee-record.helper.ts
Due: eslint --fix

fix(DTFS2-7105): added eslint override to helper test
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
Due: eslint --fix

fix(DTFS2-7105): fixed unit test
  dtfs-central-api/src/helpers/mongodb.ts
Due: eslint --fix

feat(FN-1865): add db:seed:reset command to reset sql seeder
  doc/sql-db.md
  package.json
  utils/package.json
  utils/sql-db-seeder/src/helpers/get-from-mongo-db.ts
  utils/sql-db-seeder/src/mongo-db-client/index.ts
  utils/sql-db-seeder/src/reset-seeder.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
Due: eslint --fix, sort-package-json

fix(DTFS2-7105): fixed api-test
  external-api/src/v1/controllers/premium-schedule.controller.ts
Due: eslint --fix

fix(DTFS2-7105): fixed api-test
  external-api/api-tests/v1/acbs-industry-sectors.api-test.ts
  external-api/src/v1/controllers/industry-sectors.controller.ts
Due: eslint --fix

feat(dtfs2-7075): add create and update rules
  portal-api/src/v1/users/validation/index.applyCreateRules.test.js
  portal-api/src/v1/users/validation/index.applyUpdateRules.test.js
  portal-api/src/v1/users/validation/index.js
  portal-api/src/v1/users/validation/rules/get-is-trusted-field-validation-rule.js
  portal-api/src/v1/users/validation/rules/get-is-trusted-field-validation-rule.test.js
  portal-api/test-helpers/unit-test-helpers/users/validation/user-validation.test-cases.js
Due: eslint --fix

feat(dtfs2-7075): add validation tests
  dtfs-central-api/src/constants/payloads.js
  portal-api/api-tests/v1/users/post-create-user.api-test.js
  portal-api/api-tests/v1/users/put-update-user.api-test.js
  portal-api/api-tests/v1/users/test-data.js
  portal-api/api-tests/v1/users/with-validate-is-trusted-field.api-tests.js
  portal-api/src/constants/payloads.js
  portal-api/src/v1/users/sanitizeUserData.js
  utils/mock-data-loader/portal-users/index.js
Due: eslint --fix

feat(dtfs2-7075): commonise payload verification
  dtfs-central-api/src/constants/index.js
  dtfs-central-api/src/constants/payloads.js
  dtfs-central-api/src/helpers/index.js
  dtfs-central-api/src/helpers/payload.js
  dtfs-central-api/src/helpers/payload.test.js
  dtfs-central-api/src/v1/controllers/bank/create-bank.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  dtfs-central-api/src/v1/controllers/user/create-user.controller.js
  libs/common/src/constants/index.ts
  libs/common/src/constants/payload.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/payload.test.ts
  libs/common/src/helpers/payload.ts
  libs/common/unit.jest.config.js
  portal-api/src/constants/index.js
  portal-api/src/constants/payloads.js
  portal-api/src/v1/controllers/banks.controller.js
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/controllers/mandatoryCriteria.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/helpers/payload.js
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/validation/index.applyCreateRules.test.js
  portal-api/src/v1/users/validation/index.applyUpdateRules.test.js
  portal-api/src/v1/users/validation/index.js
  portal-api/src/v1/users/validation/rules/get-is-trusted-field-validation-rule.js
  portal-api/src/v1/users/validation/rules/get-is-trusted-field-validation-rule.test.js
  trade-finance-manager-api/src/constants/payloads.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/payload.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/payload.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(dtfs2-7075): revert adding to verification function tests
  portal-api/api-tests/v1/users/post-create-user.api-test.js
  portal-api/api-tests/v1/users/put-update-user.api-test.js
Due: eslint --fix

feat(dtfs2-7075): update imports to reference schema
  dtfs-central-api/src/v1/controllers/bank/create-bank.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  dtfs-central-api/src/v1/controllers/user/create-user.controller.js
  libs/common/src/constants/index.ts
  libs/common/src/index.ts
  libs/common/src/schemas/index.ts
  libs/common/src/schemas/payload.ts
  portal-api/src/v1/controllers/banks.controller.js
  portal-api/src/v1/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/controllers/mandatoryCriteria.controller.js
  portal-api/src/v1/gef/controllers/eligibilityCriteria.controller.js
  portal-api/src/v1/gef/controllers/mandatoryCriteriaVersioned.controller.js
  portal-api/src/v1/users/controller.js
  trade-finance-manager-api/src/constants/index.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(dtfs2-7075): update imports to reference schema
  libs/common/src/helpers/payload.test.ts
  libs/common/unit.jest.config.js
Due: eslint --fix

feat(dtfs2-7075): update imports to reference schema
  portal-api/src/v1/users/controller.js
Due: eslint --fix

fix(dtfs2-none): check to ensure main is passing
  portal-api/src/v1/users/passport.js
Due: eslint --fix

chore(dtfs2-none): add env copy command
  package.json
  utils/copy-env-vars.sh
Due: sort-package-json

chore(dtfs2-none): update shebang
  utils/copy-env-vars.sh
Due: none

chore(dtfs2-none): update to js
  package.json
  utils/copy-env-vars.sh
  utils/copy-env-vars/.eslintrc.js
  utils/copy-env-vars/copy-env-vars.js
  utils/package.json
Due: eslint --fix, sort-package-json

chore(dtfs2-none): update to js
  utils/copy-env-vars/.eslintrc.js
Due: eslint --fix
