Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7612): refactor deal cancellation response
  dtfs-central-api/src/services/tfm/deal-cancellation.service.processScheduledCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.submitDealCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.ts
  libs/common/src/types/tfm-deal-cancellation.ts
  trade-finance-manager-api/api-tests/v1/deal-cancellation/submit-deal-cancellation.post.api-test.ts
  trade-finance-manager-api/src/v1/services/deal-cancellation/deal-cancellation.service.test.ts
  trade-finance-manager-api/src/v1/services/deal-cancellation/deal-cancellation.service.ts
Due: eslint --fix

feat(DTFS2-7612): update jsdocs
  dtfs-central-api/src/services/portal/facility.service.ts
Due: eslint --fix

feat(DTFS2-7612): add PortalFacilityService unit test
  dtfs-central-api/src/services/portal/facility.service.update-status.test.ts
Due: eslint --fix

feat(DTFS2-7612): update unit tests for DealCancellationService
  dtfs-central-api/src/services/tfm/deal-cancellation.service.processScheduledCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.submitDealCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.ts
Due: eslint --fix

feat(DTFS2-7612): add docs for getTfmDealCancellationResponse
  dtfs-central-api/src/services/tfm/deal-cancellation.service.ts
Due: eslint --fix

feat(DTFS2-7612): add unit test for getTfmDealCancellationResponse
  dtfs-central-api/src/services/tfm/deal-cancellation.service.getTfmDealCancellationResponse.test.ts
Due: eslint --fix

feat(DTFS2-7612): update tests
  dtfs-central-api/api-tests/v1/tfm/deal-cancellation/tfm-submit-deal-cancellation-post.api-test.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deal-cancellation.repo.scheduleDealCancellation.test.ts
  dtfs-central-api/src/repositories/tfm-deals-repo/tfm-deal-cancellation.repo.submitDealCancellation.test.ts
Due: eslint --fix

fix(DTFS2-7609): fixed gef test fixtures
  portal-api/api-tests/fixtures/gef/mandatoryCriteriaVersioned.js
  portal-api/api-tests/v1/gef/mandatory-criteria-versioned.api-test.js
Due: eslint --fix

feat(FN-3566): validate and redirect when initiating fee record correction request
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction.spec.js
  e2e-tests/tfm/cypress/e2e/pages/utilisation-reports/utilisationReportPage.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.ts
  trade-finance-manager-ui/server/constants/premium-payment-tab-error-keys.ts
  trade-finance-manager-ui/server/constants/premium-payments-table-href.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/check-keying-data/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/check-keying-data/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-generate-keying-data-error-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/add-payment-error.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/add-payment-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/generate-keying-data-error.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/generate-keying-data-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/initiate-record-correction-request-error.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/initiate-record-correction-request-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/initiate-record-correction-request/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/initiate-record-correction-request/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/handle-redirect-session-data.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/handle-redirect-session-data.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/helpers/get-premium-payments-facility-id-query-from-referer.test.ts
  trade-finance-manager-ui/server/helpers/get-premium-payments-facility-id-query-from-referer.ts
  trade-finance-manager-ui/server/helpers/map-checked-checkboxes-to-record.test.ts
  trade-finance-manager-ui/server/helpers/map-checked-checkboxes-to-record.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.test.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/express-session.d.ts
  trade-finance-manager-ui/server/types/premium-payments-tab-error-keys.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: eslint --fix

feat(DTFS2-7612): update test descriptions
  dtfs-central-api/src/services/portal/facility.service.update-status.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.getTfmDealCancellationResponse.test.ts
Due: eslint --fix

feat(FN-3566): add docstrings
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/add-payment-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/generate-keying-data-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/initiate-record-correction-request-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/initiate-record-correction-request/index.ts
Due: eslint --fix

fix(DTFS2-7609): fixed gef test fixtures
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/api-tests/fixtures/gef/application.js
  portal/package.json
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7598): update deal summary page to display facility stage if it exists
  gef-ui/server/utils/display-items.js
  gef-ui/server/utils/helpers.js
Due: eslint --fix

feat(FN-3576): back link to premium payments with checkbox selected
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-to-an-existing-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-to-an-existing-payment/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-link-to-premium-payments-tab.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-link-to-premium-payments-tab.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/create-record-correction-request/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/create-record-correction-request/index.ts
  trade-finance-manager-ui/server/types/view-models/record-correction/create-record-correction-request-view-model.ts
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/create-record-correction-request.njk
Due: eslint --fix

Revert "feat(dtfs2-6892): revert"
  libs/common/src/adaptors/error-handling-adaptor.test.ts
  libs/common/src/adaptors/error-handling-adaptor.ts
  libs/common/src/adaptors/index.ts
  libs/common/src/index.ts
Due: eslint --fix

feat(FN-3576): add e2e-test
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction.spec.js
Due: eslint --fix

feat(DTFS2-7601): add e2e helper and test for AIN BSS EWCS deal
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/AIN-BSS-EWCS-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-ui/submit-deal-cancellation.js
Due: eslint --fix

feat(FN-3567): revert accidental change to data-cy
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table-row.njk
Due: none

fix(DTFS2-7609): fixed e2e test
  e2e-tests/portal/cypress/e2e/journeys/maker/bss-mandatory-criteria/bss-mandatory-criteria.spec.js
Due: eslint --fix

feat(FN-3567): add back in removed selector
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table-row.njk
Due: eslint --fix

feat(DTFS2-7601): add facility status test
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/AIN-BSS-EWCS-cancellation-updates-portal.spec.js
Due: eslint --fix

feat(DTFS2-7601): add MIN e2e test
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/AIN-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/MIN-cancellation-updates-portal.spec.js
Due: eslint --fix

feat(DTFS2-7612): rename updateBssEwcsFacilityStatus
  dtfs-central-api/src/services/portal/facility.service.ts
  dtfs-central-api/src/services/portal/facility.service.update-status.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility-status.controller.js
Due: eslint --fix

feat(FN-3566): review markups
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction.spec.js
  trade-finance-manager-ui/server/constants/premium-payments-table-error-href.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/add-payment-error.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/add-payment-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/generate-keying-data-error.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/generate-keying-data-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/initiate-record-correction-request-error.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/premium-payments-errors/initiate-record-correction-request-error.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
Due: eslint --fix

feat(FN-3576): review markups
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/create-fee-record-correction.spec.js
Due: eslint --fix

feat(DTFS2-7598): add unit test coverage
  gef-ui/server/utils/deal-helpers.test.js
  gef-ui/server/utils/display-items.js
  gef-ui/server/utils/display-items.test.js
  gef-ui/server/utils/helpers.test.js
Due: eslint --fix

feat(DTFS2-7598): change mock facility variable name
  gef-ui/server/utils/display-items.test.js
Due: eslint --fix

chore(DTFS2-7609): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7612): do not filter facility ids
  dtfs-central-api/src/services/tfm/deal-cancellation.service.ts
Due: eslint --fix

fix(DTFS2-7609): added empty old mc for portal api test
  portal-api/api-tests/fixtures/mandatoryCriteria.js
Due: eslint --fix

feat(DTFS2-7601): remove comments
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/AIN-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/MIN-cancellation-updates-portal.spec.js
Due: eslint --fix

feat(DTFS2-7601): clean up tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/AIN-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/MIN-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-ui/submit-deal-cancellation.js
Due: eslint --fix

feat(DTFS2-7609): mandatory criterion updates (#3924)
  e2e-tests/e2e-fixtures/bss/mandatoryCriteria.fixture.js
  e2e-tests/portal/cypress/e2e/journeys/maker/bss-mandatory-criteria/bss-mandatory-criteria.spec.js
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/api-tests/fixtures/gef/application.js
  portal-api/api-tests/fixtures/gef/mandatoryCriteriaVersioned.js
  portal-api/api-tests/fixtures/mandatoryCriteria.js
  portal-api/api-tests/v1/gef/mandatory-criteria-versioned.api-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/package.json
  trade-finance-manager-ui/package.json
  utils/mock-data-loader/bss/mandatoryCriteria.js
  utils/mock-data-loader/gef/mandatoryCriteriaVersioned.js
Due: eslint --fix, sort-package-json

chore(main): release 2.5.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(main): release 2.5.0 (#3678)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7612): remove obsolete test
  dtfs-central-api/src/services/tfm/deal-cancellation.service.getTfmDealCancellationResponse.test.ts
Due: eslint --fix

chore(release-2.5.0): trigger deployment
  .github/workflows/README.md
Due: none

feat(DTFS2-7598): display risk expired facility status in GEF ui (#3926)
  gef-ui/server/utils/deal-helpers.test.js
  gef-ui/server/utils/display-items.js
  gef-ui/server/utils/display-items.test.js
  gef-ui/server/utils/helpers.js
  gef-ui/server/utils/helpers.test.js
Due: eslint --fix

chore(release-2.5.0): trigger deployment
  portal/README.md
Due: none

feat(dtfs2-7430): decouple amendment details and add amendment data
  trade-finance-manager-ui/templates/case/facility/facility.njk
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
