Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix: lock down report upload journey (#2282)
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirmation.spec.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: sort-package-json

chore(DTFS2-NONE): update test data naming
  e2e-tests/portal/cypress/e2e/journeys/admin/dashboard/dashboard-table-data.spec.js
  e2e-tests/portal/cypress/e2e/journeys/checker/dashboard/dashboard.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/dashboard/fixtures/deals.js
  e2e-tests/portal/cypress/e2e/journeys/maker/edit-deal-name.spec.js
  e2e-tests/portal/cypress/e2e/journeys/number-generator/test-data/baseBssDeal.js
  e2e-tests/portal/cypress/fixtures/deal-dashboard-data.js
Due: eslint --fix

feat(DTFS2-6757): add hasher test
  portal-api/src/crypto/hasher.test.js
Due: eslint --fix

chore(package): tidy root package json (#2088)
  e2e-tests/.eslintrc.js
  package-lock.json
  package.json
Due: eslint --fix, sort-package-json

feat(FN-980): fix utilisation reports sorting from db (#2269)
  cspell.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/api-tests/v1/utilisation-report-service/previous-reports.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/constants/db-collections.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
Due: eslint --fix, sort-package-json

feat(FN-1480): remove duplicate bank routes in Central API
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

refactor(DTFS-6752): improve CSS for check your email screen
  portal/public/js/mojFrontend.js
  portal/public/js/mojFrontend.js.LICENSE.txt
  portal/public/js/mojFrontend.js.map
Due: eslint --fix

feat(DTFS2-6784): update built mojFrontend files to reflect jQuery version bump and update README
  README.md
  gef-ui/templates/index.njk
  portal/public/js/mojFrontend.js
  portal/public/js/mojFrontend.js.LICENSE.txt
  portal/public/js/mojFrontend.js.map
  portal/templates/index.njk
Due: eslint --fix

fix(DTFS2-6752): revert moj changes to fix tests
  portal/public/js/mojFrontend.js
  portal/public/js/mojFrontend.js.LICENSE.txt
  portal/public/js/mojFrontend.js.map
Due: eslint --fix

fix(DTFS2-6520): fix govukSummaryList in Amendment summary page
  trade-finance-manager-ui/templates/case/amendments/amendment-answers.njk
Due: none

feat(DTFS2-6757): add crypto utils test
  portal-api/src/crypto/utils.js
  portal-api/src/crypto/utils.test.js
  trade-finance-manager-api/src/utils/crypto.util.js
  trade-finance-manager-api/src/utils/crypto.util.test.js
Due: eslint --fix

feat(DTFS2-6757): add crypto utils test
  portal-api/src/crypto/utils.test.js
  trade-finance-manager-api/src/utils/crypto.util.test.js
Due: eslint --fix

feat(FN-1295): change index.njk to fix back button position
  portal/templates/index.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/check-the-report.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/confirm-and-send.njk
Due: none

feat(FN-1295): fix other usages of guvukBackLink
  portal/templates/admin/user-edit.njk
Due: none

feat(FN-1295): update error box positioning
  portal/templates/utilisation-report-service/utilisation-report-upload/check-the-report.njk
Due: none

feat(FN-970): refactor and update tests
  external-api/api-tests/v1/bank-holidays.api-test.ts
  external-api/src/interfaces/bankHolidays.interface.ts
  external-api/src/utils/swagger-definitions/bank-holidays-division.ts
  external-api/src/utils/swagger-definitions/bank-holidays.ts
  external-api/src/utils/swagger.util.ts
  external-api/src/v1/controllers/bank-holidays.controller.ts
  portal-api/api-tests/v1/bank-holidays/bank-holidays.api-test.js
  portal-api/src/external-api/bank-holidays.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.test.js
  portal/server/helpers/addBusinessDays.js
Due: eslint --fix

feat(FN-970): linting
  external-api/api-tests/v1/bank-holidays.api-test.ts
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/server/helpers/addBusinessDays.js
Due: eslint --fix

feat(FN-1432): handle formulas where value.result is undefined and we need to go through _value
  portal/server/utils/csv-utils.js
  portal/server/utils/csv-utils.test.js
Due: eslint --fix

chore(deps): dependencies updates
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  package-lock.json
  package.json
  trade-finance-manager-api/package-lock.json
Due: sort-package-json

chore(deps): dependencies updates (#2285)
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: sort-package-json

feat(FN-1432): handle formulas where value.result is undefined (#2292)
  portal/server/utils/csv-utils.js
  portal/server/utils/csv-utils.test.js
Due: eslint --fix

feat(DTFS2-6757): add error handling and tests
  portal-api/src/crypto/hasher.test.js
  portal-api/src/v1/errors/invalid-user-id.error.js
  portal-api/src/v1/errors/invalid-user-id.error.js.js
  portal-api/src/v1/errors/invalid-username.error.js
  portal-api/src/v1/errors/invalid-username.error.test.js
  portal-api/src/v1/errors/user-not-found.error.js
  portal-api/src/v1/errors/user-not-found.error.test.js
  portal-api/src/v1/users/controller.test.js
  portal-api/src/v1/users/login.controller.test.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
  trade-finance-manager-api/unit.jest.config.js
Due: eslint --fix

feat(DTfS2-6784): update built mojFrontend files to reflect jQuery version bump (#2289)
  README.md
  gef-ui/templates/index.njk
  portal/public/js/mojFrontend.js
  portal/public/js/mojFrontend.js.LICENSE.txt
  portal/public/js/mojFrontend.js.map
  portal/templates/index.njk
Due: eslint --fix

feat(DTFS2-6757): add error handling and tests
  portal-api/src/crypto/hasher.test.js
  portal-api/src/v1/errors/index.js
  portal-api/src/v1/errors/invalid-user-id.error.js
  portal-api/src/v1/errors/invalid-username.error.js
  portal-api/src/v1/users/controller.test.js
  portal-api/src/v1/users/login.controller.test.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

feat(DTFS2-6757): add error handling and tests
  portal-api/src/crypto/utils.test.js
  portal-api/src/v1/errors/index.js
Due: eslint --fix

feat(DTFS2-6757): add error handling and tests
  portal-api/src/v1/users/transform-database-user.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

feat(FN-1295): fix index.njk formatting
  portal/templates/index.njk
Due: none

feat(DTFS2-6757): add error handling and tests
  trade-finance-manager-api/unit.jest.config.js
Due: eslint --fix

feat(FN-1295): move import to top of index.njk
  portal/templates/index.njk
Due: none

fix(DTFS2-6520): added data-cy that was removed by mistake
  trade-finance-manager-ui/templates/case/facility/_macros/facility_details.njk
Due: none

fix(DTFS2-6788): nunjucks boolean check
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/templates/case/deal/_macros/eligibility-criteria-answer-tag.njk
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

fix(DTFS2-6788): nunjucks boolean check
  trade-finance-manager-ui/templates/case/deal/_macros/eligibility-criteria-answer-tag.njk
Due: none

feat(FN-980): refactor
  external-api/api-tests/v1/bank-holidays.api-test.ts
  external-api/src/utils/swagger.util.ts
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.test.js
Due: eslint --fix

fix(DTFS2-6789): allow read-only users to have access to all banks
  gef-ui/server/middleware/validateBank/index.js
  gef-ui/server/middleware/validateBank/index.test.js
  portal/server/routes/middleware/validateBank/index.js
  portal/server/routes/middleware/validateBank/index.test.js
Due: eslint --fix

feat(DTFS2-6757): add sign in controller tests
  portal-api/src/v1/users/sign-in-link.controller.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

chore: separate tfm case amendments e2e tests for shorter execution time
  .github/workflows/test.yml
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/1. add-amendment-request.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/2. amendment-request-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/3. amendment-effective-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/4. amendment-options.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/5. facility-value.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/6. cover-end-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/7. amendment-details-automatic-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/8. amendment-details-manual-approval.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-amendment-request-check-previous.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision-proceed.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision-underwriter-declined.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-bank-decision-withdraw.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-lead-underwriter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/add-underwriter-decision.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-changes-multiple-single-amendments.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-in-progress-deal-stage.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-should-change-all-facilities-values.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-tasks-automatic.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-tasks-manual.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-underwriting-page-multiple-amendments.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendments-version-order.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/show-amendment-button.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/underwriting-page-unassigned.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/add-bank-decision-proceed.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/amendments/amendment-changes-multiple-single-amendments.spec.js
Due: eslint --fix

feat(FN-978): update url routing for utlisation report endpoints and fix 409 behaviour
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/routes/portal-routes.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/routes.js
  portal/server/api.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
