Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-16188): reprovision waf policies
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

feat(DTFS2-16188): reprovision waf policies
  infrastructure/resource_group_level/main.bicep
Due: none

feat(DTFS2-16188): reprovision waf policies
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

feat(DTFS2-16188): reprovision waf policies
  infrastructure/resource_group_level/modules/front-door-portal.bicep
Due: none

feat(DTFS2-16188): rework on namings for tfm afd
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

feat(DTFS2-16188): rework on namings for tfm afd
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

feat(DTFS2-16188): rework on namings for tfm api
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/parameters_dev.json
Due: none

chore(8211): updated approved countries list by removing excluded countries
  external-api/api-tests/v1/countries.api-test.ts
  external-api/server/external-api/countries.ts
Due: eslint --fix

chore(8211): update countries list by removing excluded countries
  external-api/api-tests/v1/countries.api-test.ts
  external-api/server/external-api/countries.ts
Due: eslint --fix

chore(8211): include arrange act and assert comments
  external-api/api-tests/v1/countries.api-test.ts
Due: eslint --fix

chore(DTFS2-8209): fix bank review Date not update on tfm
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-latest-portal-amendment-values-with-bank-review-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-latest-portal-amendment-values-with-facility-end-date.spec.js
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.ts
Due: eslint --fix

chore(DTFS2-8209): fix unit tests
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.test.ts
Due: eslint --fix

chore(DTFS2-8209): fix failing tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-latest-portal-amendment-values-with-bank-review-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-latest-portal-amendment-values-with-facility-end-date.spec.js
Due: eslint --fix

chore(8211): update expected count in maintenance mode test
  external-api/api-tests/v1/middleware/maintenance.api-test.ts
Due: eslint --fix

chore(DTFS2-8211): update countries list by removing excluded countries (#4556)
  external-api/api-tests/v1/countries.api-test.ts
  external-api/api-tests/v1/middleware/maintenance.api-test.ts
  external-api/server/external-api/countries.ts
Due: eslint --fix

chore(DTFS2-8209): fix bank review date not updating on tfm (#4557)
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-latest-portal-amendment-values-with-bank-review-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/tfm-latest-portal-amendment-values-with-facility-end-date.spec.js
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.ts
Due: eslint --fix

fix(DTFS2-8210): fixed failing tests
  e2e-tests/gef/cypress/e2e/feature-flag-enabled/portal-amendments/unissued-facilities-change-submit-ukef-AIN.spec.js
  gef-ui/api-tests/amendments/what-needs-to-change.get.api-test.ts
Due: eslint --fix

fix(DTFS2-8210): review markups
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/review-ukef-approval/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/AIN/unissued-facilities-change-submit-ukef-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/MIN/unissued-facilities-change-submit-ukef-MIN.spec.js
  e2e-tests/gef/cypress/e2e/feature-flag-enabled/portal-amendments/unissued-facilities-change-submit-ukef-AIN.spec.js
Due: eslint --fix

feat(DTFS2-16188): changed api version for sites
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
Due: none

chore(deps): dependencies updates
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(deps): dependencies updates (#4559)
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS-8195): refactor account suspended test
  portal-ui/server/controllers/login/account-suspended-page.test.ts
Due: eslint --fix

feat(DTFS-8196): add account suspended template (#4544)
  portal-ui/component-tests/login/temporarily-suspended-access-code.component.test.js
  portal-ui/templates/login/temporarily-suspended-access-code.njk
Due: eslint --fix

feat(DTFS2-8199): address pr comments
  portal-ui/component-tests/login/check-your-email-access-code.component-test.js
  portal-ui/templates/login/check-your-email-access-code.njk
Due: eslint --fix

fix(DTFS2-8225): fixed issue where latest amendment was not latest amendment
  gef-ui/server/types/facility.ts
  gef-ui/server/utils/get-cover-start-date-or-today.test.ts
  gef-ui/server/utils/get-cover-start-date-or-today.ts
  trade-finance-manager-api/server/v1/rest-mappings/helpers/amendment.helpers.js
  trade-finance-manager-api/server/v1/rest-mappings/helpers/amendment.helpers.test.js
Due: eslint --fix

fix(DTFS2-8225): review markups
  trade-finance-manager-api/server/v1/rest-mappings/helpers/amendment.helpers.test.js
Due: eslint --fix

fix(DTFS2-8225): fix finding latest amendment with different referenceNumber and version types (#4561)
  gef-ui/server/types/facility.ts
  gef-ui/server/utils/get-cover-start-date-or-today.test.ts
  gef-ui/server/utils/get-cover-start-date-or-today.ts
  trade-finance-manager-api/server/v1/rest-mappings/helpers/amendment.helpers.js
  trade-finance-manager-api/server/v1/rest-mappings/helpers/amendment.helpers.test.js
Due: eslint --fix

chore(DTFS2-8225): added e2e tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm-amendments-integration/adding-portal-amendment-empty-string-reference-numbers-mixed.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm-amendments-integration/adding-portal-amendment-empty-string-reference-numbers.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm-amendments-integration/adding-tfm-amendment-empty-string-reference-numbers-mixed.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm-amendments-integration/adding-tfm-amendment-empty-string-reference-numbers.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-api/api.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-api/updateAmendment.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-ui/submit-tfm-amendment.js
Due: eslint --fix

feat(DTFS2-16188): add deployment pipeline
  .github/workflows/deployment_dev.yml
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: none

feat(DTFS2-16188): add deployment pipeline
  .github/workflows/deployment_dev.yml
Due: none

feat(DTFS2-16188): update rg name
  .github/workflows/deployment_dev.yml
Due: none

feat(DTFS-8222): add controller for access code expired page
  portal-ui/api-tests/login/access-code-expired.api-test.js
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
  portal-ui/server/controllers/login/access-code.ts
  portal-ui/server/routes/login/index.js
  portal-ui/tsconfig.eslint.json
Due: eslint --fix

feat(DTFS2-16188): portal ui deployment
  .github/workflows/deployment_dev.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
