Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-6794): update TFM user import gef command
  e2e-tests/gef/cypress/support/commands/submitDealAfterUkefIds.js
Due: eslint --fix

feat(DTFS2-6794): clean up constants fixtures
  e2e-tests/e2e-fixtures/constants.fixture.js
  e2e-tests/gef/cypress/fixtures/constants.js
  e2e-tests/portal/cypress/fixtures/constants.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-in-progress-deal-stage.spec.js
  e2e-tests/tfm/cypress/fixtures/constants.js
Due: eslint --fix

feat(DTFS2-6794): fix constants
  e2e-tests/e2e-fixtures/constants.fixture.js
  e2e-tests/gef/cypress/fixtures/mocks/mock-deals.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-tasks-automatic.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/amendment-tasks-manual.spec.js
  e2e-tests/tfm/cypress/fixtures/constants.js
Due: eslint --fix

feat(DTFS2-6461): change p to h2 tags for visual headings on deal page
  trade-finance-manager-ui/templates/case/deal/deal.njk
Due: none

fix: add back eslint parser typescript defs
  package-lock.json
  package.json
Due: sort-package-json

fix: update package-lock files
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
Due: none

fix: remove unnecessary redirect
  portal/server/routes/middleware/validateRole/index.js
Due: eslint --fix

fix: deploy to feature env
  .github/workflows/feature_deploy.yml
Due: none

fix: deploy
  .github/workflows/feature_deploy.yml
Due: none

fix: improve logging
  portal/server/api.js
Due: eslint --fix

fix: remove duplicated back button
  .github/workflows/feature_deploy.yml
  portal/templates/admin/user-edit.njk
Due: none

fix: remove unnecessary section of package-lock
  azure-functions/acbs-function/package-lock.json
Due: none

feat(FN-967): get buffer from report
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(FN-967): upload file to azure and save file info to db
  .env.sample
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.test.js
  portal-api/src/config/fileshare.config.js
  portal-api/src/constants/file-upload.js
  portal-api/src/constants/index.js
  portal-api/src/drivers/fileshare.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/deal-eligibility-documentation.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
  portal-api/src/v1/gef/controllers/files.controller.js
  portal-api/src/v1/middleware/index.js
  portal-api/src/v1/middleware/utilisation-report-file-upload.js
  portal-api/src/v1/routes.js
  portal-api/unit.jest.config.js
  portal/component-tests/utilisation-report-service/confirm-and-send.component-test.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/previous-reports/data.json
  portal/server/controllers/utilisation-report-service/previous-reports/no-data.json
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/utilisation-report-upload/confirm-and-send.njk
Due: eslint --fix

feat(FN-967): linting
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  portal-api/src/constants/file-upload.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
Due: eslint --fix

feat(FN-967): add mimetype to stored data
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  package-lock.json
  package.json
  portal-api/.eslintrc.js
  portal-api/src/scheduler/types/scheduler-job.d.ts
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix, sort-package-json

feat(FN-967): update unit test config
  portal-api/unit.jest.config.js
Due: eslint --fix

feat(FN-967): refactor
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  portal-api/src/drivers/fileshare.js
Due: eslint --fix

feat(FN-967): refactor and update validation tests
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.test.js
  portal-api/src/v1/middleware/utilisation-report-file-upload.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(DTFS2-6693): add sign in link expiry functionality
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/constants/index.js
  portal-api/src/constants/sign-in-link-duration.js
  portal-api/src/constants/sign-in-link-expiry-minutes.js
  portal-api/src/v1/errors/sign-in-link-expired.error.js
  portal-api/src/v1/users/authentication-email.controller.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.test.js
  portal/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-6693): add sign in link already visited functionality
  portal-api/src/v1/users/authentication-email.controller.js
Due: eslint --fix

refactor(DTFS2-6693): lint
  portal-api/src/constants/sign-in-link-duration.js
  portal-api/src/v1/errors/sign-in-link-expired.error.js
  portal-api/src/v1/users/authentication-email.controller.js
  portal-api/src/v1/users/routes.js
Due: eslint --fix

refactor(DTFS2): lint
  portal-api/src/v1/users/authentication-email.controller.js
Due: eslint --fix

feat(FN-967): fix portal-api api tests
  portal-api/api-tests/fixtures/utilisation-report.csv
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
Due: eslint --fix

feat(FN-967): fix upload file import for file controller
  portal-api/src/v1/gef/routes.js
Due: eslint --fix

feat(FN-967): linting
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.test.js
Due: eslint --fix

feat(FN-967): refactor
  .github/workflows/test.yml
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal-api/src/drivers/fileshare.js
  portal-api/src/scheduler/types/scheduler-job.d.ts
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
  portal-api/src/v1/helpers/convertUtcDateToDateTimeString.test.js
  portal-api/src/v1/helpers/covertUtcDateToDateTimeString.js
  portal-api/src/v1/helpers/formatDateForEmail.js
  portal-api/src/v1/helpers/formatDateForEmail.test.js
  portal-api/src/v1/middleware/file-upload.js
  portal-api/src/v1/middleware/utilisation-report-file-upload.js
  portal-api/test-helpers/mock-azure-file-info.js
  portal-api/test-helpers/mock-utilisation-reports.js
Due: eslint --fix

feat(FN-967): fix getting path extension
  portal-api/src/v1/middleware/file-upload.js
  portal-api/src/v1/middleware/utilisation-report-file-upload.js
Due: eslint --fix

feat(FN-967): review updates
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.test.js
  package-lock.json
  package.json
  portal-api/src/drivers/fileshare.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.test.js
Due: eslint --fix, sort-package-json

feat(DTFS-6693): add “Request a new sign in link” functionality
  portal-api/src/v1/users/authentication-email.controller.js
  portal/server/routes/login/index.js
  portal/templates/login/_macros/request-new-sign-in-link.njk
Due: eslint --fix

feat(DTFS2-6693): add unit tests
  portal-api/src/v1/errors/sign-in-link-expired.error.js
  portal-api/src/v1/errors/sign-in-link-expired.error.test.js
  portal-api/src/v1/users/authentication-email.controller.js
  portal-api/src/v1/users/authentication-email.controller.test.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/routes.test.js
  portal-api/src/v1/users/sanitizeUserData.test.js
Due: eslint --fix

refactor(DTFS2-6693): lint
  portal-api/src/v1/users/authentication-email.controller.test.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/routes.test.js
  portal-api/src/v1/users/sanitizeUserData.test.js
Due: eslint --fix

fix(DTFS2-6693): fix functionality after rebase
  portal-api/src/constants/sign-in-link-duration.js
  portal-api/src/v1/errors/sign-in-link-expired.error.js
  portal-api/src/v1/errors/sign-in-link-expired.error.test.js
  portal-api/src/v1/users/authentication-email.controller.js
  portal-api/src/v1/users/authentication-email.controller.test.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/transform-database-user.js
  portal/server/routes/login/index.js
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

fix: fix acbs function package-lock.json
  azure-functions/acbs-function/package-lock.json
Due: none

fix(DTFS2-6693): fix tests after rebase
  portal-api/src/constants/sign-in-link-duration.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/routes.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.test.js
  portal-api/src/v1/users/sign-in-link.service.test.js
Due: eslint --fix

refactor(DTFS2-6693): lint
  portal-api/src/v1/users/sign-in-link.service.test.js
Due: eslint --fix

fix: fix package-lock
  azure-functions/acbs-function/package-lock.json
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
