Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-7939): added heading texts to assertions
  e2e-tests/gef/cypress/e2e/maintenance/maintenance-active-page.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maintenance/maintenance-active-page.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/maintenance/maintenance-active-page.spec.js
Due: eslint --fix

fix(DTFS2-6707): address pr comments
  e2e-tests/e2e-fixtures/portal-users.fixture.js
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
Due: eslint --fix

feat(DTFS2-7939): fixed env variables
  .github/workflows/test.yml
Due: none

feat(DTFS2-7939): fixed env for tfm
  e2e-tests/tfm/cypress.config.js
Due: eslint --fix

feat(DTFS2-7939): service unavialable page - E2E tests (#4412)
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/maintenance/maintenance-active-page.spec.js
  e2e-tests/gef/cypress/e2e/pages/maintenance.js
  e2e-tests/portal/cypress/e2e/journeys/maintenance/maintenance-active-page.spec.js
  e2e-tests/portal/cypress/e2e/pages/maintenance.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/tfm/cypress/e2e/journeys/maintenance/maintenance-active-page.spec.js
  e2e-tests/tfm/cypress/e2e/pages/maintenance.js
  gef-ui/templates/maintenance.njk
  portal-ui/templates/maintenance.njk
  trade-finance-manager-ui/templates/maintenance.njk
Due: eslint --fix

chore(main): release 2.10.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-6707): add read-only-from-ukef with all bank
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  portal-api/src/v1/users/validation/index.js
  portal-api/src/v1/users/validation/index.test.js
  portal-api/src/v1/users/validation/rules/admin-from-ukef-only.js
  portal-api/src/v1/users/validation/rules/admin-from-ukef-only.test.js
  portal-api/src/v1/users/validation/rules/admin-read-only-from-ukef-only.js
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.js
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.test.js
Due: eslint --fix

chore(deps): dependencies updates
  gef-ui/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(deps): dependencies updates
  .github/actions/mssql/action.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
Due: none

chore(deps): dependencies updates (#4413)
  .github/actions/mssql/action.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
  gef-ui/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-6707): address pr comments
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.js
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.test.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-bank.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-bank.test.js
Due: eslint --fix

fix(DTFS2-6707): address pr comments
  e2e-tests/e2e-fixtures/banks.fixture.js
  e2e-tests/e2e-fixtures/index.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
Due: eslint --fix

feat(DTFS2-6423): reverted package-lock.json
  package-lock.json
Due: none

fix(DTFS2-6707): address pr comments
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.test.js
Due: eslint --fix

fix(DTFS2-6707): address pr comments
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.test.js
Due: eslint --fix

feat(DTFS2-6423): reverted package-lock.json
  doc/sql-db.md
Due: none

fix(DTFS2-6707): address pr comments
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  libs/common/src/constants/banks.ts
  libs/common/src/constants/index.ts
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.js
  portal-api/src/v1/users/validation/rules/read-only-from-ukef-only.test.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-bank.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-bank.test.js
Due: eslint --fix

feat(DTFS2-6423): lint fix
  package.json
Due: sort-package-json

feat(DTFS2-6423): lint fix
  external-api/server/test-mocks/index.ts
Due: eslint --fix

feat(DTFS2-6423): fixed dockerfile and dockerignore
  .dockerignore
  azure-functions/acbs-function/.dockerignore
  dtfs-central-api/Dockerfile
  dtfs-central-api/package.json
  external-api/.dockerignore
  gef-ui/.dockerignore
  libs/common/package.json
  libs/common/src/index.ts
  package.json
  portal-api/.dockerignore
  portal-ui/.dockerignore
  trade-finance-manager-api/.dockerignore
  trade-finance-manager-ui/.dockerignore
Due: eslint --fix, sort-package-json

feat(DTFS2-6423): added back test-helpers directory
  .dockerignore
  libs/common/src/index.ts
Due: eslint --fix

feat(DTFS2-6423): added back test-helpers directory
  package-lock.json
Due: none

feat(DTFS2-6423): removed test-helpers from build
  .dockerignore
  dtfs-central-api/Dockerfile
  libs/common/src/index.ts
Due: eslint --fix

feat(DTFS2-6423): remvoved back test-helpers directory
  docker-compose.yml
  dtfs-central-api/Dockerfile
  dtfs-central-api/api-tests/helpers/create-portal-facility-amendment.ts
  libs/common/package.json
  libs/common/src/index.ts
Due: eslint --fix, sort-package-json

feat(DTFS2-6423): lint fixes
  dtfs-central-api/test-helpers/replace-url-parameter-placeholders.ts
  dtfs-central-api/test-helpers/test-data/payment-matching-tolerances.ts
  e2e-tests/e2e-fixtures/payment-matching-tolerances.fixture.ts
  trade-finance-manager-api/server/v1/services/user.service.transform-entra-id-user-to-tfm-upsert-user-request.test.ts
  trade-finance-manager-api/test-helpers/handle-redirect.ts
Due: eslint --fix

feat(DTFS2-6423): fixed path
  external-api/api-tests/v1/middleware/maintenance.api-test.ts
  portal-api/api-tests/v1/middleware/maintenance.api-test.ts
  trade-finance-manager-api/api-tests/v1/middleware/maintenance.api-test.ts
Due: eslint --fix

feat(DTFS2-6423): gef-ui tests refactored
  gef-ui/api-test-setup.jest.config.js
  gef-ui/api-test.jest.config.js
  gef-ui/jest.common.config.js
  gef-ui/server/controllers/amendments/abandon-amendment/get-abandon-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/abandon-amendment/post-abandon-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/approved-by-ukef/get-approved-by-ukef.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/cancel-amendment/get-cancel-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/cancel-amendment/post-cancel-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/get-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/post-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/create-draft/post-create-draft.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/get-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/post-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/post-effective-date.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/post-eligibility.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/post-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.test.ts
  gef-ui/server/controllers/amendments/manual-approval-needed/get-manual-approval-needed.test.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/get-submit-amendment-to-ukef.test.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.test.ts
  gef-ui/server/controllers/amendments/submitted-for-checking/get-submitted-for-checking.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/post-what-needs-to-change.test.ts
  gef-ui/server/controllers/companies-house/index.test.js
  gef-ui/server/services/__tests__/api.test.js
  gef-ui/tsconfig.json
  gef-ui/unit.ff.jest.config.js
  gef-ui/unit.jest.config.js
  portal-ui/server/companies-api.test.js
Due: eslint --fix

feat(DTFS2-6423): lint fixes
  external-api/api-tests/v1/companies.api-test.ts
  external-api/api-tests/v1/party-db.api-test.ts
  external-api/api-tests/v1/party-db.ff-test.ts
  external-api/server/v1/controllers/party-db.controller.test.ts
  trade-finance-manager-api/api-tests/v1/deal-cancellation/submit-deal-cancellation.post.api-test.ts
  trade-finance-manager-api/server/v1/__mocks__/builders/entra-id.api.mock.builder.ts
  trade-finance-manager-api/server/v1/__mocks__/builders/entra-id.service.mock.builder.ts
  trade-finance-manager-api/server/v1/__mocks__/builders/user.service.mock.builder.ts
  trade-finance-manager-api/server/v1/controllers/deal-cancellation/delete-deal-cancellation.controller.test.ts
  trade-finance-manager-api/server/v1/controllers/deal-cancellation/get-deal-cancellation.controller.test.ts
  trade-finance-manager-api/server/v1/controllers/deal-cancellation/submit-deal-cancellation.controller.test.ts
  trade-finance-manager-api/server/v1/controllers/deal-cancellation/update-deal-cancellation.controller.test.ts
  trade-finance-manager-api/server/v1/controllers/sso.controller.get-auth-code-url.test.ts
  trade-finance-manager-api/server/v1/controllers/utilisation-reports/fee-record-correction/get-fee-record-correction-request-review.controller.test.ts
  trade-finance-manager-api/server/v1/controllers/utilisation-reports/fee-record-correction/get-record-correction-log-details-by-id.controller.test.ts
  trade-finance-manager-api/server/v1/middleware/validate-put-tfm-user-payload.test.ts
  trade-finance-manager-api/server/v1/repo/user.repo.create-user.test.ts
  trade-finance-manager-api/server/v1/repo/user.repo.update-user-by-id.test.ts
  trade-finance-manager-api/server/v1/services/user.service.upsert-user-from-entra-id-user.test.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seeder.ts
Due: eslint --fix

feat(DTFS2-6423): lint fixes
  trade-finance-manager-api/server/v1/__mocks__/builders/entra-id.config.mock.builder.ts
  trade-finance-manager-api/server/v1/controllers/sso.controller.handle-sso-redirect-form.test.ts
Due: eslint --fix

feat(DTFS2-6423): tfm test fix
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/search-reports-table.component-test.js
Due: eslint --fix

feat(DTFS2-6423): fixed cypress paths
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
Due: eslint --fix

feat(DTFS2-6423): fixed cypress paths
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/record-corrections/feature-flag-disabled/pending-corrections.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/record-corrections/feature-flag-enabled/correction-log.spec.js
Due: eslint --fix

feat(DTFS2-6423): fixed gef-ui unit test
  gef-ui/unit.jest.config.js
Due: eslint --fix
