Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

refactor(DTFS2-6931): move sorting tests into separate file
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-sorting.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
Due: eslint --fix

refactor(DTFS2-6931): lint
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-sorting.api-test.js
Due: eslint --fix

chore(DTFS2-6934): await promises
  utils/mock-data-loader/insert-mocks.js
Due: eslint --fix

refactor: rename max file size env var
  .github/workflows/bicep_az_deployment_group.yml
  infrastructure/resource_group_level/main.bicep
Due: none

fix(DTFS2-6963): add new test for if user is disabled once they have a valid token
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/routes.js
Due: eslint --fix

feat(DTFS2-6911): refactored deployment script
  .github/workflows/deploy.yml
  .github/workflows/development_deploy.yml
  .github/workflows/production_deploy.yml
  .github/workflows/staging_deploy.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

refactor: misc refactors and test updates
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/api-tests/v1/utilisation-reports/put-utilisation-report-status.api-test.ts
  dtfs-central-api/src/types/tfm/team.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/utilisation-reports-reconciliation-summary.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

fix(DTFS2-6911): fixed working-directory path
  .github/workflows/deploy.yml
Due: none

fix(depgha): path file name correction
  .github/workflows/deploy.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
Due: none

fix(DTFS2-6911): fixed working-directory path
  .github/workflows/deployment.yml
Due: none

fix(DTFS2-6911): documentation update
  .github/workflows/deployment.yml
Due: none

refactor(DTFS2-6963): action review comments
  .github/workflows/test.yml
  cspell.json
  e2e-tests/ukef/cypress/support/portal-api/api.js
  portal-api/src/v1/email/index.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/server/api.js
  portal/templates/page-not-found.njk
Due: eslint --fix

refactor(DTFS2-6963): lint
  e2e-tests/ukef/cypress/support/portal-api/api.js
  portal-api/src/v1/email/index.js
Due: eslint --fix

refactor(DTFS2-6963): lint
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

refactor(DTFS2-6963): replace BANK1_MAKER1.username with variable in E2E tests
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
Due: eslint --fix

fix(DTFS2-5227): fixed failing tests
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/controllers/confirm-cover-start-date/index.test.js
  gef-ui/server/controllers/unissued-facilities/index.js
  gef-ui/server/controllers/unissued-facilities/index.test.js
Due: eslint --fix

fix(DTFS2-6970): when validating the 2fa token we first check the user isnt already logged in
  portal/server/routes/middleware/validatePartialAuthToken/index.js
  portal/server/routes/middleware/validatePartialAuthToken/index.test.js
Due: eslint --fix

feat(FN-2070): change order of primary navigation items
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
Due: none

feat(FN-2070): move bank reports primary navigation (#2602)
  trade-finance-manager-ui/templates/_partials/primary-navigation.njk
Due: none

fix(DTFS2-6970): fix api tests
  portal/api-tests/login/get-check-your-email.api-test.js
  portal/api-tests/login/send-new-sign-in-link-api-tests.js
Due: eslint --fix

fix(DTFS2-6911): corrected env variable
  .github/workflows/deployment.yml
Due: none

refactor(DTFS2-6963): refactor loginUser to use isUserBlockedOrDisabled
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

feat(FN-2074): remove dividers when no buttons on 'Bank Reports' page
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/layout.scss
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
Due: none

fix(DTFS2-6963): patch user `disabled` feature to sign in link (#2590)
  e2e-tests/portal/cypress/e2e/journeys/login/navigating-using-sign-in-link.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/disablePortalUserByUsername.js
  e2e-tests/support/user-tasks.js
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/v1/email/index.js
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/controller.test.js
  portal-api/src/v1/users/login.controller.test.js
  portal-api/src/v1/users/passport.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/server/api.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
