Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(deps): dependencies updates
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): dependencies updates (#4313)
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(DTFS2-7513-7925): review markups
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/back-or-cancel-return-amendment-to-maker.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/amendment-return-to-maker.spec.js
  gef-ui/component-tests/partials/amendments/submitted-page.component-test.ts
  gef-ui/templates/partials/return-to-maker.njk
Due: eslint --fix

docs(architecture): azure architecture diagram
  doc/assets/azure-architecture.drawio
  doc/assets/azure-architecture.jpg
Due: none

docs(architecture): minor arrow fix
  cspell.json
  doc/assets/azure-architecture.drawio
  doc/assets/azure-architecture.jpg
  doc/assets/azure-architecture.svg
Due: none

docs(architecture): label fix
  doc/assets/azure-architecture.drawio
  doc/assets/azure-architecture.svg
Due: none

feat(DTFS-7755): refactor get AmendmentsOnDeal function
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-amendments-on-deal.controller.ts
  gef-ui/server/constants/amendments.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.test.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.ts
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/routes/facilities/amendments/index.ts
  gef-ui/server/services/__tests__/api.test.js
  gef-ui/server/services/api.js
  gef-ui/server/types/deal.ts
  gef-ui/server/utils/get-application-amendments.helper.ts
  gef-ui/server/utils/submitted-amendment-details.js
  gef-ui/templates/includes/application-preview/application-sub-navigation.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
  libs/common/src/constants/amendments.ts
  libs/common/src/types/amendment-type.ts
  libs/common/src/types/index.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/get-amendments-on-deal.controller.ts
Due: eslint --fix

feat(DTFS2-7750-7751-7752): address pr comments
  dtfs-central-api/api-tests/v1/portal-facility-amendments/submit-amendment-patch.api-test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.ts
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.ts
  libs/common/src/helpers/generate-amendment-mandatory-criteria.ts
Due: eslint --fix

docs(architecture): azure architecture diagram (#4314)
  cspell.json
  doc/assets/azure-architecture.drawio
  doc/assets/azure-architecture.svg
Due: none

chore(main): release 2.9.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7750-7751-7752): address pr comments
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.ts
Due: eslint --fix

feat(DTFS-7755): function name
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  dtfs-central-api/src/services/portal/facility-amendment.validateNoOtherAmendmentInProgress.service.test.ts
Due: eslint --fix

feat(DTFS2-7755): add unit tests
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.findAmendmentsByDealIStatusAndType.test.ts
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  dtfs-central-api/src/services/portal/facility-amendment.validateNoOtherAmendmentInProgress.service.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-amendments-on-deal.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-amendments-on-deal.controller.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.test.ts
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/utils/get-application-amendments.helper.test.ts
  gef-ui/server/utils/submitted-amendment-details.js
  portal-api/src/v1/api.js
  portal-api/src/v1/api.test.js
  portal-api/src/v1/controllers/amendments/get-amendments-on-deal.controller.ts
  portal-api/src/v1/controllers/amendments/get-amendments-on-deal.test.ts
Due: eslint --fix

feat(DTFS2-7755): fix
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

feat(DTFS2-7755): add all type amendments, unit tests and amendments tab
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.findAllTypeAmendmentsByDealIdAndStatus.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-amendments-on-deal.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-portal-amendments-on-deal.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-portal-amendments-on-deal.controller.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
  gef-ui/server/constants/amendments.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.test.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.ts
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/routes/facilities/amendments/index.ts
  gef-ui/server/services/__tests__/api.test.js
  gef-ui/server/services/api.js
  gef-ui/server/types/deal.ts
  gef-ui/server/utils/submitted-amendment-details.js
  gef-ui/templates/includes/application-preview/application-sub-navigation.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
  libs/common/src/constants/amendments.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/api.test.js
  portal-api/src/v1/controllers/amendments/get-amendments-on-deal.test.ts
  portal-api/src/v1/controllers/amendments/get-portal-amendments-on-deal.controller.ts
  portal-api/src/v1/controllers/amendments/get-portal-amendments-on-deal.test.ts
  portal-api/src/v1/gef/routes.js
Due: eslint --fix

feat(DTFS2-7755): add application amendment page
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/server/utils/submitted-amendment-details.js
  gef-ui/templates/_macros/amendments/submitted-amendment-summary-list.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
Due: eslint --fix

feat(DTFS2-7750-7751-7752): address pr comments
  dtfs-central-api/api-tests/v1/portal-facility-amendments/submit-amendment-patch.api-test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.ts
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.test.ts
Due: eslint --fix

feat(DTFS2-7755): format application amendments and get amendment details
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.ts
  gef-ui/server/utils/get-currency-symbol.test.ts
  gef-ui/server/utils/get-currency-symbol.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/templates/_macros/amendments/submitted-amendment-summary-list.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
Due: eslint --fix

feat(DTFS2-7750-7751-7752): add Docstring
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.ts
Due: eslint --fix

feat(DTFS-7755): add information banner
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.ts
  gef-ui/server/types/view-models/amendments/amendment-details-view-model.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/templates/_macros/amendments/submitted-amendment-summary-list.njk
  gef-ui/templates/partials/amendments/amendment-details.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
Due: eslint --fix

feat(DTFS2-7755): update createreferenceNumber
  dtfs-central-api/api-tests/v1/portal-facility-amendments/submit-amendment-patch.api-test.ts
  dtfs-central-api/src/services/portal/facility-amendment.submitPortalFacilityAmendmentToUkef.service.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-submit-amendment-payload.test.ts
  gef-ui/api-tests/amendments/submit-amendment-to-ukef.post.api-test.ts
  gef-ui/component-tests/partials/amendments/submitted-page.component-test.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.test.ts
  portal-api/api-tests/v1/gef/amendments/submit-amendment.patch.api-test.ts
  portal-api/src/v1/controllers/amendments/patch-submit-amendment-controller.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-submit-amendment-payload.test.ts
Due: eslint --fix

chore(DTFS2-6685): anonymise bank names
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-table.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/find-utilisation-reports-by-year.component-test.ts
  trade-finance-manager-ui/server/test-mocks/mock-banks.ts
  trade-finance-manager-ui/server/test-mocks/mock-utilisation-report-reconciliation-summary.ts
  utils/mock-data-loader/banks/index.js
Due: eslint --fix

feat(DTFS2-7799): displayed updated amendment values on application details page
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-get-acknowledged.api-test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/aggregate-pipelines/acknowledged-portal-amendments-by-facility-id.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/aggregate-pipelines/index.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-acknowledged-amendments-by-facility-id.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-acknowledged-amendments-by-facility-id.controller.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-multiple-cover-end-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-multiple-value-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-multiple-value-and-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-cover-end-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-value-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-value-and-date-amendment.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/gef/loginAndSubmitPortalAmendmentRequestToUkef.js
  e2e-tests/ukef/cypress/support/gef/makerAndCheckerSubmitPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerMakesPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerSubmitPortalAmendmentForReview.js
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/map-facility-to-amendment-values.test.ts
  libs/common/src/helpers/map-facility-to-amendment-values.ts
  libs/common/src/helpers/monetary-value.test.ts
  libs/common/src/helpers/monetary-value.ts
  portal-api/api-tests/fixtures/gef/facility-update.js
  portal-api/api-tests/v1/gef/facilities/facilities.get.api-test.js
  portal-api/api-tests/v1/gef/facilities/facilities.put.api-test.js
  portal-api/src/v1/api.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
Due: eslint --fix

feat(DTFS2-7513): review markups
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  gef-ui/server/controllers/amendments/return-amendment-to-maker/get-return-amendment-to-maker.ts
  gef-ui/server/controllers/amendments/return-amendment-to-maker/post-return-amendment-to-maker.ts
  gef-ui/server/controllers/return-to-maker/index.js
  libs/common/src/constants/max-character-count.ts
Due: eslint --fix

feat(DTFS2-7513): lint fix
  gef-ui/server/controllers/amendments/return-amendment-to-maker/get-return-amendment-to-maker.test.ts
  gef-ui/server/controllers/amendments/return-amendment-to-maker/post-return-amendment-to-maker.test.ts
Due: eslint --fix

feat(DTFS2-7750): submission email maker checker pim (#4304)
  dtfs-central-api/api-tests/v1/portal-facility-amendments/submit-amendment-patch.api-test.ts
  dtfs-central-api/src/constants/email-template-ids.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment-status.controller.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-submit-amendment.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-submit-amendment-payload.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-submit-amendment-payload.ts
  gef-ui/api-tests/amendments/submit-amendment-to-ukef.post.api-test.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.ts
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-checker-email-variables.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.test.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.ts
  gef-ui/server/services/api.js
  libs/common/src/helpers/generate-amendment-mandatory-criteria.test.ts
  libs/common/src/helpers/generate-amendment-mandatory-criteria.ts
  libs/common/src/helpers/index.ts
  libs/common/src/test-helpers/mock-data/index.ts
  libs/common/src/test-helpers/mock-data/portal-amendment-to-ukef-email-variables.ts
  libs/common/src/types/portal/amendment.ts
  portal-api/api-tests/v1/gef/amendments/submit-amendment.patch.api-test.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/amendments/patch-submit-amendment-controller.test.ts
  portal-api/src/v1/controllers/amendments/patch-submit-amendment.controller.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-submit-amendment-payload.test.ts
  portal-api/src/v1/validation/route-validators/amendments/validate-patch-portal-facility-submit-amendment-payload.ts
Due: eslint --fix

feat(DTFS2-7513): fix failing tests
  gef-ui/server/controllers/amendments/return-amendment-to-maker/get-return-amendment-to-maker.test.ts
  gef-ui/server/controllers/amendments/return-amendment-to-maker/post-return-amendment-to-maker.test.ts
Due: eslint --fix

chore(DTFS2-6685): updated mock data loader bank names
  utils/mock-data-loader/portal-users/index.js
Due: eslint --fix

feat(DTFS2-7513): readd removed function
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-get-acknowledged.api-test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/aggregate-pipelines/acknowledged-portal-amendments-by-facility-id.ts
  portal-api/api-tests/v1/gef/facilities/facilities.put.api-test.js
  portal-api/src/v1/gef/controllers/application-submit.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
Due: eslint --fix

chore(DTFS2-6685): updated mock data loader bank names
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers/reconciliation-summary-generator.test.ts
  e2e-tests/e2e-fixtures/portal-users.fixture.js
  e2e-tests/gef/cypress/e2e/application/application-details.spec.js
  e2e-tests/gef/cypress/e2e/scenarios/maker-checker-user-role/maker_checker-should-not-submit-edited-deal-submit-to-checker.spec.js
  e2e-tests/gef/cypress/e2e/scenarios/makers-input.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-search.spec.js
  e2e-tests/tfm/cypress/fixtures/deal-AIN.js
  portal-api/src/cron-scheduler-jobs/helpers/utilisation-report-helpers.test.ts
  portal-api/src/v1/controllers/reports/review-ukef-decision.controller.js
  portal-api/src/v1/controllers/reports/unissued-facilities.controller.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-agent-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-bond-issuer-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-buyer-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-exporter-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-indemnifier-area.component-test.js
  utils/mock-data-loader/gef/application.js
Due: eslint --fix

chore(DTFS2-6685): updated mock data loader bank names
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/utilisation-report-service/fee-record-correction/get-fee-record-correction-request-review.controller/index.test.ts
  dtfs-central-api/test-helpers/test-data/bank.ts
  e2e-tests/tfm/cypress/fixtures/deal-MIA.js
  e2e-tests/tfm/cypress/fixtures/deal-MIN.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal/submit-deal-with-issued-facilities/test-data/dealThatJustNeedsDates.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal/submit-deal-with-non-gbp-facilities/test-data/dealThatJustNeedsDates.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/test-data/dealThatJustNeedsConversionDate.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued/test-data/dealThatJustNeedsConversionDate.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/test-data/AIN-deal-unissued-facilities/dealThatJustNeedsDates.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/test-data/AIN-deal/dealThatJustNeedsDates.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/test-data/MIA-deal/dealThatJustNeedsDates.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/test-data/MIN-deal-unissued-facilities/dealThatJustNeedsDates.json
  e2e-tests/ukef/cypress/e2e/journeys/portal/test-data/MIN-deal/dealThatJustNeedsDates.json
  e2e-tests/ukef/cypress/fixtures/deal.js
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  libs/common/src/test-helpers/portal-session-bank.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal-api/src/cron-scheduler-jobs/helpers/utilisation-report-helpers.test.ts
  portal-api/test-helpers/test-data/banks.ts
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-reports-by-bank-and-year-results.component-test.js
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/test-helpers/test-data/bank.ts
  utils/package.json
Due: eslint --fix, sort-package-json

chore(DTFS2-6685): updated mock data loader bank names
  utils/mock-data-loader/gef/application.js
Due: eslint --fix

feat(DTFS2-7755): fix unit tests
  dtfs-central-api/api-tests/v1/portal-facility-amendments/all-type-amendments-on-deal-get.api-test.ts
  dtfs-central-api/api-tests/v1/portal-facility-amendments/portal-amendments-on-deal-get.api-test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.findAllTypeAmendmentsByDealIdAndStatus.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  libs/common/src/test-helpers/mock-data-backend/portal-facility-amendment.ts
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  portal-api/api-tests/v1/gef/amendments/allTypeAmendmentsOnDeal.get.api-test.ts
  portal-api/api-tests/v1/gef/amendments/amendment-urls.ts
  portal-api/api-tests/v1/gef/amendments/portalAmendmentsOnDeal.get.api-test.ts
Due: eslint --fix

chore(DTFS2-6685): dependencies updates
  dtfs-central-api/package.json
  libs/common/package.json
  package-lock.json
  utils/package.json
Due: sort-package-json

feat(DTFS2-7755): add sorting bt referenceNumber
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
Due: eslint --fix

feat(DTFS2-7799): review markups
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-acknowledged-amendments-by-facility-id.controller.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-multiple-cover-end-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-multiple-value-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-multiple-value-and-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-cover-end-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-value-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-value-and-date-amendment.spec.js
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/map-facility-fields-to-amendment-fields.test.ts
  libs/common/src/helpers/map-facility-fields-to-amendment-fields.ts
  libs/common/src/helpers/map-facility-to-amendment-values.ts
  libs/common/src/helpers/monetary-value.test.ts
  libs/common/src/helpers/monetary-value.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/gef/controllers/facilities.controller.js
Due: eslint --fix

feat(DTFS2-7799): fix failing tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-cover-end-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-amendment-values-single-value-amendment.spec.js
  libs/common/src/helpers/map-facility-fields-to-amendment-fields.test.ts
Due: eslint --fix

feat(DTFS2-7755): add unit tests and api tests in gef-ui
  gef-ui/api-tests/amendments/all-type-amendments.get.api-test.ts
  gef-ui/server/constants/amendments.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.test.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.test.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.test.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.test.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.ts
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/services/api.js
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/server/utils/submitted-amendment-details.test.js
  gef-ui/test-helpers/mock-all-type-amendment.ts
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
Due: eslint --fix
