Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(DTFS2-6713): fixed mongo docker initilisation
  docker-compose.yml
  mongodb/Dockerfile
Due: none

fix(DTFS2-6713): removed newly introduced env variable
  .env.sample
  docker-compose.yml
  mongodb/Dockerfile
Due: none

fix(DTFS2-6713): removed newly introduced env variable
  .github/workflows/test.yml
Due: none

feat(FN-2309): support auto reconciled fee records
  dtfs-central-api/api-tests/v1/utilisation-reports/post-keying-data.api-test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/generate-keying-data/generate-keying-data.event-handler.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.test.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.types.ts
Due: eslint --fix

feat(FN-2594): split tests
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/find-utilisation-reports-by-bank-and-year.spec.js
Due: eslint --fix

feat(FN-3293): make report reconciliation query params optional
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/extract-query-and-session-data.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/extract-query-and-session-data.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
Due: eslint --fix

fix(DTFS2-6713): private runner debugging
  .github/workflows/test.yml
  package.json
Due: sort-package-json

feat(FN-2406): move upload payload validation to middleware and remove old validation
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/index.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-post-upload-utilisation-report-payload.test.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-post-upload-utilisation-report-payload.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.test.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.types.ts
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.test.js
Due: eslint --fix

fix(DTFS2-6713): private runner debugging
  .github/workflows/test.yml
Due: none

feat(FN-2309): fix error message
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/map-to-fee-record-payment-groups.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/map-to-fee-record-payment-groups.ts
Due: eslint --fix

feat(FN-2309): fix merge error
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/payment-details-table-row.component-test.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/payment-details-table-row.njk
Due: eslint --fix

feat(DTFS2-7334): fix test.yml
  .github/workflows/test.yml
Due: none

chore(DTFS2-7224): refactor mock facilities to accept no argument
  e2e-tests/gef/cypress/fixtures/mocks/mock-facilities.js
Due: eslint --fix

chore(DTFS2-7334): convert constant mock facilities to functions
  e2e-tests/gef/cypress/e2e/clone/clone-gef-deal.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facilities-change-all-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facilities-change-all-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facilities-change-issued-to-unissued.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facilities-change-to-issued-3-months-after.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facility-change-from-preview-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facility-change-from-preview-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facility-change-from-preview-specialIssuedPermission.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-disabled/unissued-facilities/unissued-facility-to-issued-cover-start-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/review-ukef-approval-with-issued-and-unissued-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/review-ukef-approval-without-issuing-facilities-MIA-and-resubmit-to-ukef.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facilities-change-all-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facilities-change-all-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facilities-change-issued-to-unissued.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facilities-change-to-issued-3-months-after.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facility-change-from-preview-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facility-change-from-preview-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facility-change-from-preview-specialIssuedPermission.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facility-to-issued-cover-start-date.spec.js
  e2e-tests/gef/cypress/fixtures/mocks/mock-facilities.js
Due: eslint --fix

chore(DTFS2-7334): update maker e2e tests
  .github/workflows/test.yml
  e2e-tests/gef/cypress/e2e/maker/facility-end-date-disabled/return-to-maker-mia.spec.js
  e2e-tests/gef/cypress/e2e/maker/facility-end-date-disabled/return-to-maker.spec.js
  e2e-tests/gef/cypress/e2e/maker/facility-end-date-enabled/return-to-maker-mia.spec.js
  e2e-tests/gef/cypress/e2e/maker/facility-end-date-enabled/return-to-maker.spec.js
Due: eslint --fix

feat(DTFs2-7334): remove deal version env var from cypress
  e2e-tests/gef/cypress.config.js
Due: eslint --fix

feat(FN-2594): disable input before bank is selected (#3434)
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/find-utilisation-reports-by-bank-and-year.spec.js
  trade-finance-manager-ui/public/js/enableFindReportsByYearDropdown.js
  trade-finance-manager-ui/public/js/enableFindReportsByYearDropdown.js.map
  trade-finance-manager-ui/scripts/enable-find-reports-by-year-dropdown.ts
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

feat(FN-2406): fix mocking in payload validation test file
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-post-upload-utilisation-report-payload.test.ts
Due: eslint --fix

feat(FN-3417): add batch saving for facility utilisation data
  dtfs-central-api/api-tests/v1/utilisation-reports/post-upload-utilisation-report.api-test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/report-uploaded/report-uploaded.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/report-uploaded/report-uploaded.event-handler.ts
Due: eslint --fix

feat(FN-3293): add docs to session redirect data handler
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/handle-redirect-session-data.ts
Due: eslint --fix

feat(FN-3293): move session var deletion inline -- review comment
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
Due: eslint --fix

feat(FN-2406): add missing docstring
  dtfs-central-api/src/services/utilisation-report-data-validator/index.ts
Due: eslint --fix

feat(DTFS2-7315): remove empty test file and fix gef amendment test
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-disabled/gef-deal-expect-no-facility-end-date-features.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-enabled/gef-deal-add-bank-review-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-enabled/gef-deal-add-facility-end-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-enabled/gef-deal-add-multiple-amendments-impacting-facility-end-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-enabled/gef-deal-amend-facility-end-date-and-then-change-to-bank-review-date.spec.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendCoverEndDate.test.js
Due: eslint --fix

chore(DTFS2-7334): update e2e tests to match 7219
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facilities-bank-review-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/unissued-facilities/unissued-facilities-facility-end-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/version-0-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/facility-end-date-enabled/version-0-unissued-facility.spec.js
Due: eslint --fix

feat(dtfs2-7315): update test wording
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-enabled/gef-deal-add-bank-review-date.spec.js
Due: eslint --fix

feat(dtfs2-7315): update e2e test to use date const
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-enabled/gef-deal-add-multiple-amendments-impacting-facility-end-date.spec.js
  e2e-tests/tfm/cypress/fixtures/constants.js
Due: eslint --fix

fix(DTFS2-6713): private runner debugging
  docker-compose.yml
  mongodb/Dockerfile
Due: none

feat(dtfs2-7315): update tfm test to use date const
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/facility-end-date/feature-flag-enabled/gef-deal-add-multiple-amendments-impacting-facility-end-date.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/deal-MIA.spec.js
Due: eslint --fix

fix(DTFS2-6713): private runner debugging
  .github/workflows/test.yml
  docker-compose.yml
  mongodb/Dockerfile
Due: none

fix(DTFS2-6713): private runner debugging
  .github/workflows/test.yml
  mongodb/Dockerfile
Due: none

feat(DTFS2-7219): code review on e2e tests
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/gef/cypress/e2e/facility/about-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/bank-review-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/facilities-change-facility-end-date-to-bank-review-date-journey.spec.js
  e2e-tests/gef/cypress/e2e/facility/facilities-change-from-details-journey.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/unissued-facilities-bank-review-date.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/unissued-facilities-change-all-AIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/unissued-facilities-change-all-MIN.spec.js
  e2e-tests/gef/cypress/e2e/facility/unissued-facilities/unissued-facilities-change-issued-to-unissued.spec.js
  e2e-tests/gef/cypress/e2e/facility/version-0-facility.spec.js
  e2e-tests/gef/cypress/e2e/facility/version-0-unissued-facility.spec.js
  e2e-tests/gef/cypress/e2e/pages/bank-review-date.js
  gef-ui/api-tests/bank-review-date.get.api-test.js
Due: eslint --fix

feat(DTFS2-7219): code review
  gef-ui/api-tests/bank-review-date.post.api-test.js
  gef-ui/api-tests/facility-end-date.post.api-test.js
  gef-ui/server/controllers/bank-review-date/get-bank-review-date.ts
  gef-ui/server/controllers/bank-review-date/post-bank-review-date.ts
  gef-ui/server/controllers/facility-end-date/get-facility-end-date.ts
  gef-ui/server/controllers/facility-end-date/post-facility-end-date.ts
Due: eslint --fix

chore(DTFS2-7320): minor e2e improvements
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/underwriter-managers-decision-decline.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case-underwriting/underwriter-managers-decision.spec.js
Due: eslint --fix

chore(DTFS2-7320): update new text assertions to use assertText command
  e2e-tests/tfm/cypress/e2e/journeys/case/parties/agent.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/add-payment.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/add-to-an-existing-payment.spec.js
Due: eslint --fix

chore(DTFS2-7328): update e2e test to use clickContinueButton command
  e2e-tests/gef/cypress/e2e/facility/about-facility.spec.js
Due: eslint --fix

feat(FN-2069): wip - scrollable pane approach
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-table.component-test.ts
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/layout.scss
  trade-finance-manager-ui/styles/table.scss
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
Due: eslint --fix
