Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-1618): add tfm controller and route with tests
  dtfs-central-api/src/types/tfm/team.d.ts
  trade-finance-manager-api/api-tests/v1/utilisation-report-service/update-utilisation-report-service.api-test.ts
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/constants/index.js
  trade-finance-manager-api/src/constants/utilisation-report-reconciliation-status.ts
  trade-finance-manager-api/src/types/db-models/tfm-users.d.ts
  trade-finance-manager-api/src/types/team.d.ts
  trade-finance-manager-api/src/types/tfm-session-user.d.ts
  trade-finance-manager-api/src/types/types-helper.ts
  trade-finance-manager-api/src/types/utilisation-report-service.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/index.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.ts
  trade-finance-manager-api/src/v1/helpers/validate-update-report-status-payload.helper.test.ts
  trade-finance-manager-api/src/v1/helpers/validate-update-report-status-payload.helper.ts
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
Due: eslint --fix, sort-package-json

feat(FN-1618): fix existing tests to work with ts-jest
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.facilities.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.tasks.api-test.js
  trade-finance-manager-api/api-tests/v1/utilisation-report-service/update-utilisation-report-service.api-test.ts
  trade-finance-manager-api/src/v1/controllers/bank-holidays/get-bank-holidays.controller.test.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.test.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.ts
  trade-finance-manager-api/src/v1/helpers/validate-update-report-status-payload.helper.ts
Due: eslint --fix

feat(FN-1618): fix linting errors in dtfs-central-api
  dtfs-central-api/api-tests/v1/utilisation-reports/put-utilisation-report-status.api-test.ts
Due: eslint --fix

feat(FN-1618): type and lint error fixes
  dtfs-central-api/api-tests/mocks/test-users/mock-tfm-user.ts
  dtfs-central-api/src/types/db-models/tfm-users.d.ts
  dtfs-central-api/src/types/tfm/tfm-session-user.d.ts
  trade-finance-manager-api/src/types/tfm-session-user.d.ts
  trade-finance-manager-api/src/v1/helpers/validate-update-report-status-payload.helper.ts
  trade-finance-manager-api/src/v1/validation/validateIds.js
Due: eslint --fix

feat(FN-1618): update types in api test
  trade-finance-manager-api/api-tests/v1/utilisation-report-service/update-utilisation-report-service.api-test.ts
Due: eslint --fix

feat(FN-1618): update test files and other minor changes
  dtfs-central-api/api-tests/v1/utilisation-reports/put-utilisation-report-status.api-test.ts
  trade-finance-manager-api/api-tests/v1/utilisation-report-service/update-utilisation-report-service.api-test.ts
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/types/utilisation-reports.ts
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.ts
  trade-finance-manager-api/src/v1/helpers/validate-update-report-status-payload.helper.ts
  trade-finance-manager-api/src/v1/validation/validateIds.js
Due: eslint --fix, sort-package-json

feat(FN-1618): major changes to payload validation
  trade-finance-manager-api/src/v1/helpers/number.api-test.js
  trade-finance-manager-api/src/v1/helpers/number.js
  trade-finance-manager-api/src/v1/helpers/validate-update-report-status-payload.helper.test.ts
  trade-finance-manager-api/src/v1/helpers/validate-update-report-status-payload.helper.ts
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.test.js
Due: eslint --fix

fix(DTFS2-6672): add error handling to update endpoint
  portal-api/src/v1/users/routes.js
Due: eslint --fix

feat(FN-1618): fix merge conflict errors
  trade-finance-manager-api/src/types/types-helper.ts
  trade-finance-manager-api/src/types/utilisation-reports.d.ts
  trade-finance-manager-api/src/types/utilisation-reports.ts
Due: eslint --fix

fix(DTFS-6526): added autofocus to sort button that was just clicked
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/templates/deals/_macros/deals-table-heading.njk
  trade-finance-manager-ui/templates/deals/_macros/deals-table.njk
  trade-finance-manager-ui/templates/deals/deals.njk
Due: eslint --fix

fix(gha): `release-please` v4 upgrade (#2465)
  .github/workflows/publish.yml
  .github/workflows/release.json
  README.md
Due: none

fix(gha): added token
  .github/workflows/publish.yml
Due: none

feat(FN-692): add lint CI pipeline and disable function apps on feature deploy pipeline
  .github/workflows/bicep_lint.yml
  .github/workflows/bicep_workflow_feature.yml
  .github/workflows/feature_deploy.yml
  cspell.json
  infrastructure/resource_group_level/modules/storage.bicep
Due: none

feat(FN-692): rename lint CI pipeline
  .github/workflows/bicep_lint.yml
Due: none

Fix/publish (#2467)
  .github/workflows/publish.yml
Due: none

fix(gha): updated branch name
  .github/workflows/publish.yml
Due: none

chore(main): release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-1261): enable healthcheck on webapps
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(FN-1261): add pipeline trigger
  .github/workflows/bicep_workflow_feature.yml
Due: none

feat(FN-1618): refactor report payload validation
  trade-finance-manager-api/api-tests/v1/utilisation-report-service/update-utilisation-report-service.api-test.ts
  trade-finance-manager-api/src/v1/helpers/number.api-test.js
  trade-finance-manager-api/src/v1/helpers/number.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.test.js
  trade-finance-manager-api/src/v1/validation/validate-payloads.ts
Due: eslint --fix

fix(gha): updated branch name
  .github/workflows/release.json
Due: none

fix(gha): updated branch name
  release.json
Due: none

feat(FN-1618): remove check for number of payload properties
  trade-finance-manager-api/src/v1/validation/validate-payloads.ts
Due: eslint --fix

fix(gha): updated branch name
  release-please-manifest.json
  release.json
Due: none

fix(gha): updated branch name
  .release-please-manifest.json
Due: none

feat(FN-1618): add tfm endpoint to set report status (#2425)
  dtfs-central-api/api-tests/mocks/test-users/mock-tfm-user.ts
  dtfs-central-api/src/types/tfm/team.d.ts
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.facilities.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.tasks.api-test.js
  trade-finance-manager-api/api-tests/v1/utilisation-report-service/update-utilisation-report-service.api-test.ts
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/constants/index.js
  trade-finance-manager-api/src/constants/utilisation-report-reconciliation-status.ts
  trade-finance-manager-api/src/types/db-models/tfm-users.d.ts
  trade-finance-manager-api/src/types/team.d.ts
  trade-finance-manager-api/src/types/tfm-session-user.d.ts
  trade-finance-manager-api/src/types/utilisation-reports.d.ts
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/bank-holidays/get-bank-holidays.controller.test.js
  trade-finance-manager-api/src/v1/controllers/user/helpers/loginCallback.helper.test.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/index.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/update-utilisation-report-status.controller.ts
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.test.js
  trade-finance-manager-api/src/v1/validation/validate-payloads.ts
  trade-finance-manager-api/src/v1/validation/validateIds.js
Due: eslint --fix, sort-package-json

fix(gha): updated branch name
  .github/workflows/publish.yml
  .github/workflows/release-please-config.json
Due: none

fix(gha): updated branch name
  release-please-config.json
Due: none

chore(fix/publish): release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(gha): updated branch name
  .github/workflows/publish.yml
  .release-please-manifest.json
Due: none

chore(fix/publish): release 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json
