Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-6769): add tests for new email login pages
  portal/component-tests/login/new-sign-in-link-sent.component-test.js
  portal/component-tests/login/temporarily-suspended.component-test.js
  portal/component-tests/login/weve-sent-you-another-link.component-test.js
  portal/templates/_partials/contact-us.njk
Due: eslint --fix

feat(DTFS2-6767): update to review comments
  portal-api/src/crypto/utils.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
Due: eslint --fix

chore: add ticket number to TODOs
  e2e-tests/gef/cypress/support/e2e.js
  e2e-tests/portal/cypress/support/e2e.js
  e2e-tests/tfm/cypress/support/e2e.js
  e2e-tests/ukef/cypress/support/e2e.js
Due: eslint --fix

feat(DTFS2-6767): update to review comments
  trade-finance-manager-api/src/utils/crypto.util.js
Due: eslint --fix

feat(DTFS2-6767): update to review comments
  portal-api/src/crypto/utils.js
  trade-finance-manager-api/src/utils/crypto.util.js
Due: eslint --fix

feat(DTFS2-6767): update to review comments
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/transform-database-user.js
Due: eslint --fix

feat(FN-978): implement check for existing report before saving file or data
  portal-api/api-tests/v1/validation/validateIds.api-test.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/validation/validateIds.js
Due: eslint --fix

feat(FN-1472): remove commas from cell values
  portal/server/utils/csv-utils.js
  portal/server/utils/csv-utils.test.js
Due: eslint --fix

chore: print the page body to the console when e2e tests error for investigations (#2275)
  e2e-tests/gef/cypress/support/e2e.js
  e2e-tests/portal/cypress/support/e2e.js
  e2e-tests/tfm/cypress/support/e2e.js
  e2e-tests/ukef/cypress/support/e2e.js
Due: eslint --fix

feat(FN-1472): remove commas from cell values (#2277)
  portal/server/utils/csv-utils.js
  portal/server/utils/csv-utils.test.js
Due: eslint --fix

feat(DTFS2-6767): update seeder
  utils/mock-data-loader/api.js
  utils/mock-data-loader/database/database-client.js
  utils/mock-data-loader/database/database.config.js
  utils/mock-data-loader/database/user-repository.js
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
  utils/mock-data-loader/re-insert-mocks.js
  utils/mock-data-loader/user-helper.js
Due: eslint --fix, sort-package-json

feat(DTFS2-6767): update seeder
  utils/mock-data-loader/api.js
  utils/mock-data-loader/database/database-client.js
  utils/mock-data-loader/database/user-repository.js
  utils/mock-data-loader/re-insert-mocks.js
Due: eslint --fix

feat(DTFS2-5659): add component tests for TFM UI
  trade-finance-manager-ui/component-tests/case/activity.component-test.js
  trade-finance-manager-ui/component-tests/case/assign-lead-underwriter.component-test.js
  trade-finance-manager-ui/component-tests/case/case.component-test.js
  trade-finance-manager-ui/component-tests/case/deals.component-test.js
  trade-finance-manager-ui/component-tests/case/documents.component-test.js
  trade-finance-manager-ui/component-tests/case/edit-managers-decision.component-test.js
  trade-finance-manager-ui/component-tests/case/facility.component-test.js
  trade-finance-manager-ui/component-tests/case/lead-underwriter.component-test.js
  trade-finance-manager-ui/component-tests/case/managers-decision.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-beneficiary-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-issuer-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-agent-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-bond-beneficiary-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-bond-beneficiary-edit.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-bond-issuer-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-bond-issuer-edit.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-buyer-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-edit-unique-reference-link.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-exporter-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-indemnifier-area.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-key-value-array-grid-row.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/parties-key-value-grid-row.component-test.js
  trade-finance-manager-ui/component-tests/case/task.component-test.js
  trade-finance-manager-ui/component-tests/case/tasks.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/edit-pricing-and-risk.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/loss-given-default.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk1/edit-facility-risk-profile/edit-facility-risk-profile.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/probability-of-default.component-test.js
  trade-finance-manager-ui/component-tests/deal/default-view-deal.component-test.js
  trade-finance-manager-ui/component-tests/login/sign-in.component-test.js
Due: eslint --fix

feat(DTFS2-6767): update sample file
  utils/mock-data-loader/.env.sample
Due: none

feat(DTFS2-6767): update sample file
  .github/workflows/test.yml
Due: none

fix(DTFS2-6522): updated markup to use description lists
  gef-ui/public/css/styles.css
  gef-ui/styles/footer.scss
  gef-ui/templates/includes/footer.njk
  portal/public/css/styles.css
  portal/styles/footer.scss
  portal/templates/_partials/footer.njk
  service-unavailable/index.html
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/footer.scss
  trade-finance-manager-ui/styles/list.scss
  trade-finance-manager-ui/styles/styles.scss
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary-ndb.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-answers.njk
  trade-finance-manager-ui/templates/case/deal/deal.njk
  trade-finance-manager-ui/templates/case/facility/_macros/facility_details.njk
  trade-finance-manager-ui/templates/case/facility/_macros/premium_schedule.njk
  trade-finance-manager-ui/templates/case/parties/_macros/parties-key-value-grid-row.njk
Due: none

feat(DTFS2-6767): update depreciated functions
  portal-api/src/crypto/utils.js
  portal-api/src/v1/users/controller.js
Due: eslint --fix

feat(DTFS2-6750): match email link path in portal routes
  portal/api-tests/admin-routes.api-test.js
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/api-tests/login-routes/other-login-routes.api-test.js
  portal/server/routes/login/index.js
Due: eslint --fix

feat(FN-980): refactor and add tests
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
Due: eslint --fix, sort-package-json

feat(FN-980): linting
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
Due: eslint --fix

feat(DTFS2-6767): update mock data loader
  utils/mock-data-loader/.env.sample
  utils/mock-data-loader/api.js
  utils/mock-data-loader/database/database.config.js
Due: eslint --fix

feat(DTFS2-6767): update mock data loader
  utils/mock-data-loader/api.js
  utils/mock-data-loader/database/database.config.js
Due: eslint --fix

fix(DTFS2-6522): definition list updates
  gef-ui/public/css/styles.css
  gef-ui/styles/footer.scss
  gef-ui/templates/includes/footer.njk
  portal/public/css/styles.css
  portal/styles/footer.scss
  portal/templates/_partials/footer.njk
  service-unavailable/index.html
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/styles/footer.scss
  trade-finance-manager-ui/styles/list.scss
  trade-finance-manager-ui/templates/_partials/footer.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary-ndb.njk
  trade-finance-manager-ui/templates/case/_macros/case-summary.njk
  trade-finance-manager-ui/templates/case/facility/_macros/facility_details.njk
  trade-finance-manager-ui/templates/case/facility/_macros/premium_schedule.njk
Due: none

feat(DTFS2-6767): update validPassword
  trade-finance-manager-api/src/utils/crypto.util.js
Due: eslint --fix

fix(DTFS2-6520): made aria-labels in Deal page tab headings more consistent
  trade-finance-manager-ui/templates/case/activity/activity.njk
  trade-finance-manager-ui/templates/case/documents/documents.njk
  trade-finance-manager-ui/templates/case/parties/parties.njk
  trade-finance-manager-ui/templates/case/tasks/tasks.njk
  trade-finance-manager-ui/templates/case/underwriting/underwriting.njk
Due: none

fix/lockdown confirm and send and confirmation pages if user is not in the middle of the utilisation report journey
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/confirmation.spec.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

fix: move check for utilisationReport into confirmation page get request
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

fix: remove unnecessary optional chain
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(DTFS2-6762): add new line back in bicep_workflow_feature.yml
  .github/workflows/bicep_workflow_feature.yml
Due: none

fix(DTFS2-6757): match sent email link in portal routes
  portal/api-tests/admin-routes.api-test.js
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/api-tests/login-routes/other-login-routes.api-test.js
  portal/server/routes/login/index.js
Due: eslint --fix

fix(DTFS2-6757): correct portal UI api call URL
  portal/server/api.js
Due: eslint --fix

fix(DTFS2-6757): await response from user collection in repository
  portal-api/src/v1/users/repository.js
Due: eslint --fix

fix(DTFS2-6757): add portal UI url env variable to docker compose files
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
Due: none

feat(FN-980): update function documentation
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
Due: eslint --fix

chore(DTFS2-NONE): moved dependencies to dev deps
  e2e-tests/.eslintrc.js
  package-lock.json
  package.json
Due: eslint --fix, sort-package-json

chore(DTFS2-NONE): moved dependencies to dev deps
  e2e-tests/.eslintrc.js
  package.json
Due: eslint --fix, sort-package-json

chore(DTFS2-NONE): moved dependencies to dev deps
  package-lock.json
  package.json
Due: sort-package-json

chore(DTFS2-NONE): moved dependencies to dev deps
  package.json
Due: sort-package-json
