Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-72): build pipeline - rename workflow
  .github/workflows/bicep_workflow_feature.yml
Due: none

feat(FN-72): integrate build pipeline (#2075)
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow_feature.yml
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  infrastructure/development_scripts/export_environment_variables.azcli
  infrastructure/development_scripts/sort_lists.js
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/privatelink-mongo-cosmos-azure-com.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: eslint --fix

feat(FN-969): add e2e and component tests and add csrf token to confirm and send form
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirmation.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/confirmAndSend.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/confirmation.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  portal/component-tests/utilisation-report-service/confirm-and-send.component-test.js
  portal/component-tests/utilisation-report-service/confirmation.component-test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/utilisation-report-upload/confirm-and-send.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/confirmation.njk
Due: eslint --fix

feat(FN-969): formatting
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirmation.spec.js
Due: eslint --fix

feat(FN-1133): deploy app code - initial deploy
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1133): deploy app code - set resource group ourselves
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1133): deploy app code - set resource group explicitly
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1133): deploy app code - add other services
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1133): deploy app code - update comments and branch trigger
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1133): deploy app code (#2076)
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-805): remove DEAL_API_URL
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(FN-805):remove deal api url (#2082)
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(FN-1113): matrix deploy - webapps
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1113): matrix deploy - functionapps
  .github/workflows/feature_deploy.yml
Due: none

chore(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

fix(test): fixed failing tests
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  gef-ui/server/utils/helpers.test.js
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/server/helpers/user.test.js
  utils/data-migration/package-lock.json
Due: eslint --fix, sort-package-json

feat(FN-1113): matrix deploy app code with restricted parallelism (#2083)
  .github/workflows/feature_deploy.yml
Due: none

fix(eslint): changed rule to warn
  e2e-tests/.eslintrc.js
  package.json
Due: eslint --fix, sort-package-json

feat(FN-958): fix failing e2e tests
  e2e-tests/gef/cypress/support/commands/login.js
  e2e-tests/portal/cypress/e2e/journeys/AD integration/activedirectory.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/change-password.spec.js
  e2e-tests/portal/cypress/e2e/journeys/skip-link.spec.js
  e2e-tests/portal/cypress/support/portal/logIn.js
Due: eslint --fix

feat(FN-969): update tests
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirmation.spec.js
Due: eslint --fix

feat(FN-958): fix e2e tests
  e2e-tests/portal/cypress/e2e/journeys/login/login.spec.js
  e2e-tests/portal/cypress/support/portal/createBSSSubmission.js
  e2e-tests/portal/cypress/support/portal/logIn.js
  portal/templates/service-options/index.njk
Due: eslint --fix

feat(FN-958): formatting
  e2e-tests/portal/cypress/support/portal/createBSSSubmission.js
Due: eslint --fix

feat(FN-958): fix e2e tests
  e2e-tests/portal/cypress/e2e/journeys/admin/activate-deactivate-user/activate-deactivate-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/update-a-user.spec.js
  e2e-tests/portal/cypress/e2e/journeys/login/reset-password.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/scheme-select.spec.js
Due: eslint --fix

feat(FN-958): formatting
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
Due: eslint --fix

fix(DTFS2-6679): display errors on the edit user page
  portal/server/routes/admin/users.js
Due: eslint --fix

refactor(DTFS2-6679): commonise code for GET/POST /users/edit/:id
  portal/server/routes/admin/users.js
Due: eslint --fix

feat(DTFS2-6679): add API tests
  portal/api-tests/admin-routes.api-test.js
  portal/api-tests/common-tests/role-validation-api-tests.js
  portal/api-tests/contract/about-routes.api-test.js
  portal/api-tests/contract/bond-routes.api-test.js
  portal/api-tests/contract/contract-routes.api-test.js
  portal/api-tests/contract/loan-routes.api-test.js
  portal/api-tests/dashboard-routes.api-test.js
  portal/api-tests/eligibility-routes.api-test.js
  portal/api-tests/feedback-routes.api-test.js
  portal/api-tests/footer-routes.api-test.js
  portal/api-tests/helpers/extractSessionCookie.js
  portal/api-tests/helpers/loginAsRole.js
  portal/api-tests/login-routes.api-test.js
  portal/api-tests/portal-routes.api-test.js
  portal/api-tests/scheme-type-routes.api-test.js
  portal/api-tests/start-routes.api-test.js
  portal/api-tests/static-routes.api-test.js
  portal/api-tests/user-routes.api-test.js
Due: eslint --fix

refactor(DTFS2-6679): lint
  portal/api-tests/admin-routes.api-test.js
  portal/api-tests/helpers/extractSessionCookie.js
  portal/api-tests/helpers/loginAsRole.js
Due: eslint --fix

feat(FN-997): add clamscan package and bring up clamav server in local development
  .gitignore
  docker-compose.dev.yml
  portal/package-lock.json
  portal/package.json
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix, sort-package-json

feat(FN-1172): do not restart webapps after a slot swap
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-1172): update checkout action version
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-969): Report uploaded and show confirmation page (#2080)
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirm-and-send.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/confirmation.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/confirmAndSend.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/confirmation.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/utilisationReportUpload.js
  portal/component-tests/utilisation-report-service/confirm-and-send.component-test.js
  portal/component-tests/utilisation-report-service/confirmation.component-test.js
  portal/server/constants/roles.js
  portal/server/controllers/utilisation-report-service/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/utilisation-report-upload/confirm-and-send.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/confirmation.njk
Due: eslint --fix

feat(FN-958): fix test
  portal/server/controllers/utilisation-report-service/previous-reports/index.js
Due: eslint --fix

feat(DTFS2-NONE): test main in gha
  README.md
Due: none
