Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-1162/3/4): remove duplicate var
  .github/workflows/bicep_az_deployment_group.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-1162): refactor env var. Add scheduler log
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  portal-api/src/scheduler/index.js
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/index.js
Due: eslint --fix

feat(FN-1162/3/4): refactor var names
  .github/workflows/bicep_az_deployment_group.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-1162): refactor env vars
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/index.js
Due: eslint --fix

feat(FN-978): review mark ups and move getUtilisationReports to bank-routes
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
Due: eslint --fix

feat(FN-978): commit moving get utilisation reports to bank-routes
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/routes/bank-routes.js
  dtfs-central-api/src/v1/routes/portal-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisationReport.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/validation/validateIds.js
Due: eslint --fix

feat(FN-978): fix openApi tag
  dtfs-central-api/src/v1/routes/bank-routes.js
Due: eslint --fix

feat(FN-978): save numbers as numbers in database
  dtfs-central-api/src/services/repositories/utilisation-data-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
Due: eslint --fix

feat(FN-978): fix tests
  dtfs-central-api/src/services/repositories/utilisation-data-repo.js
  dtfs-central-api/src/services/repositories/utilisation-data-repo.test.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
Due: eslint --fix

feat(FN-978): review mark ups
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller.js
  dtfs-central-api/src/v1/routes/bank-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisationReport.js
  portal-api/src/v1/api.js
Due: eslint --fix

feat(FN-978): mark ups
  dtfs-central-api/src/v1/routes/bank-routes.js
Due: eslint --fix

feat(DTFS2-6778): add typescript compatibility to portal and fix jsdocs (#2279)
  dtfs-central-api/src/v1/routes/middleware/headers/check-api-key.js
  dtfs-central-api/src/v1/routes/middleware/headers/security.js
  dtfs-central-api/src/v1/routes/middleware/headers/seo.js
  dtfs-central-api/src/v1/routes/middleware/remove-csrf-token.js
  external-api/src/middleware/check-api-key/index.ts
  external-api/src/middleware/headers/security/index.ts
  external-api/src/middleware/headers/seo.ts
  gef-ui/server/middleware/headers/security.middleware.js
  gef-ui/server/middleware/headers/seo.middleware.js
  portal-api/src/v1/middleware/headers/check-api-key.js
  portal-api/src/v1/middleware/headers/security.js
  portal-api/src/v1/middleware/headers/seo.js
  portal-api/src/v1/middleware/remove-csrf-token.js
  portal/init.sh
  portal/package-lock.json
  portal/package.json
  portal/scripts/main.ts
  portal/server/azure-env/index.js
  portal/server/azure-env/index.ts
  portal/server/index.ts
  portal/server/routes/middleware/headers/security.middleware.js
  portal/server/routes/middleware/headers/seo.middleware.js
  portal/tsconfig.eslint.json
  portal/tsconfig.json
  portal/webpack.common.config.js
  trade-finance-manager-api/src/v1/middleware/headers/check-api-key.js
  trade-finance-manager-api/src/v1/middleware/headers/security.js
  trade-finance-manager-api/src/v1/middleware/headers/seo.js
  trade-finance-manager-api/src/v1/middleware/remove-csrf-token.js
  trade-finance-manager-api/src/v1/validation/route-validators/validation-handler.js
  trade-finance-manager-ui/server/middleware/headers/security.js
  trade-finance-manager-ui/server/middleware/headers/seo.js
Due: eslint --fix, sort-package-json

feat(FN-1480): remove duplicate bank routes in Central API (#2288)
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

feat(DTFS2-6783): add typescript compatibility to trade-finance-manager-ui
  trade-finance-manager-ui/init.sh
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/scripts/main.ts
  trade-finance-manager-ui/server/index.ts
  trade-finance-manager-ui/tsconfig.eslint.json
  trade-finance-manager-ui/tsconfig.json
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix, sort-package-json

feat(FN-978): handle report upload failures and 409 on double submission (#2298)
  dtfs-central-api/src/services/repositories/utilisation-data-repo.js
  dtfs-central-api/src/services/repositories/utilisation-data-repo.test.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.js
  dtfs-central-api/src/services/repositories/utilisation-reports-repo.test.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/routes/bank-routes.js
  dtfs-central-api/src/v1/routes/portal-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisationReport.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  portal-api/api-tests/v1/validation/validateIds.api-test.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/routes.js
  portal-api/src/v1/validation/validateIds.js
  portal/server/api.js
Due: eslint --fix

feat(FN-1162/3/4): add infra env vars for scheduled report emails (#2303)
  .github/workflows/bicep_az_deployment_group.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-1163): add report due email job
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/api-tests/v1/bank/banks-get.api-test.js
  portal-api/src/constants/email-template-ids.js
  portal-api/src/scheduler/jobs/helpers/utilisation-report-helpers.js
  portal-api/src/scheduler/jobs/helpers/utilisation-report-helpers.test.js
  portal-api/src/scheduler/jobs/index.js
  portal-api/src/scheduler/jobs/send-report-due-emails-job/index.js
  portal-api/src/scheduler/jobs/send-report-due-emails-job/index.test.js
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/helpers.js
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/index.js
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/index.test.js
  portal-api/src/utils/date.js
  portal-api/test-helpers/mock-banks.js
  portal-api/test-helpers/mock-utilisation-reports.js
Due: eslint --fix

feat(FN-1163): add report due email job (#2284)
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/api-tests/v1/bank/banks-get.api-test.js
  portal-api/src/constants/email-template-ids.js
  portal-api/src/scheduler/jobs/helpers/utilisation-report-helpers.js
  portal-api/src/scheduler/jobs/helpers/utilisation-report-helpers.test.js
  portal-api/src/scheduler/jobs/index.js
  portal-api/src/scheduler/jobs/send-report-due-emails-job/index.js
  portal-api/src/scheduler/jobs/send-report-due-emails-job/index.test.js
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/helpers.js
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/index.js
  portal-api/src/scheduler/jobs/send-reporting-period-start-emails-job/index.test.js
  portal-api/src/utils/date.js
  portal-api/test-helpers/mock-banks.js
  portal-api/test-helpers/mock-utilisation-reports.js
Due: eslint --fix

test(FN-1163): add env vars to CI
  .github/workflows/test.yml
Due: none

test(FN-1163): add env vars to CI (#2309)
  .github/workflows/test.yml
Due: none

FN-1162/3/4: remove env vars a required secrets
  .github/workflows/bicep_az_deployment_group.yml
Due: none

FN-1162/3/4: remove env vars as required secrets (#2311)
  .github/workflows/bicep_az_deployment_group.yml
Due: none

feat(FN-1088): add template for when previous report is due
  portal/templates/utilisation-report-service/utilisation-report-upload/upload-previous-utilisation-reports.njk
Due: none

feat(FN-1088): refactor utilisation-report-upload controller to only use one template
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/upload-previous-utilisation-reports/show-overdue-reports.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/uploadPreviousUtilisationReports.js
  portal/component-tests/utilisation-report-service/check-the-report.component-test.js
  portal/component-tests/utilisation-report-service/upload-previous-utilisation-report.component-test.js
  portal/component-tests/utilisation-report-service/utilisation-report-upload.component-test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-status.js
  portal/templates/utilisation-report-service/utilisation-report-upload/upload-previous-utilisation-reports.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

feat(FN-1088): add close function to db-client
  e2e-tests/portal/db-client.js
Due: eslint --fix

feat(FN-1088): replace Feburary with February
  portal/component-tests/utilisation-report-service/utilisation-report-upload.component-test.js
Due: eslint --fix

feat(FN-1088): implement e2e tests for showing overdue reports
  e2e-tests/portal/cypress.config.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/upload-previous-utilisation-reports/show-overdue-reports.spec.js
  e2e-tests/portal/cypress/e2e/pages/index.js
  e2e-tests/portal/cypress/e2e/pages/utilisation-report-service/uploadPreviousUtilisationReports.js
  e2e-tests/portal/cypress/fixtures/constants.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/insertUtilisationReportDetails.js
  e2e-tests/portal/cypress/support/portal/removeAllUtilisationReportDetails.js
  e2e-tests/portal/db-client.js
  portal-api/api-tests/fixtures/utilisation-report-service/reports.js
  portal/component-tests/utilisation-report-service/upload-previous-utilisation-report.component-test.js
  portal/templates/utilisation-report-service/utilisation-report-upload/upload-previous-utilisation-reports.njk
Due: eslint --fix

feat(FN-1088): add new getDueDates endpoint
  portal-api/api-tests/v1/utilisation-report-service/due-reports.api-test.js
  portal-api/src/v1/controllers/utilisation-report-service/due-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/due-reports.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/index.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/routes.js
  portal/server/api.js
Due: eslint --fix

feat(FN-1088): update due-reports endpoint url
  portal-api/api-tests/v1/utilisation-report-service/due-reports.api-test.js
  portal-api/src/v1/routes.js
  portal/server/api.js
Due: eslint --fix

feat(FN-1088): add tests for list-previous-reports
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/previous-reports/list-previous-reports.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/upload-previous-utilisation-reports/show-overdue-reports.spec.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  portal-api/api-tests/fixtures/utilisation-report-service/reports.js
Due: eslint --fix

feat(FN-1088): integrate new endpoint with existing nunjucks template
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/utilisation-report-upload/upload-previous-utilisation-reports.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

feat(FN-1088): update package.json to match main
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-1088): resolve small markups
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  portal-api/api-tests/v1/utilisation-report-service/due-reports.api-test.js
  portal-api/src/v1/controllers/utilisation-report-service/due-reports.controller.test.js
Due: eslint --fix

feat(FN-1088): change behaviour of due-reports endpoint
  portal-api/api-tests/v1/utilisation-report-service/due-reports.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/previous-reports.api-test.js
  portal-api/src/v1/controllers/utilisation-report-service/due-reports.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/due-reports.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(FN-1088): clear utilisation reports before running utilisation-report-upload e2e tests
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
Due: eslint --fix

feat(FN-1088): resolve some issues from rebasing
  e2e-tests/portal/cypress.config.js
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal-api/src/constants/db-collections.js
Due: eslint --fix

feat(FN-1088): refactor to use date-fns and update req.session parameters
  portal-api/src/v1/controllers/utilisation-report-service/due-reports.controller.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(FN-1088): change all uploadedDate to dateUploaded
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  portal-api/api-tests/v1/utilisation-report-service/due-reports.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/previous-reports.api-test.js
  portal-api/src/v1/controllers/utilisation-report-service/due-reports.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.test.js
Due: eslint --fix
