Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-8167): added ACBS call to portal amendment
  libs/common/src/helpers/can-submit-to-acbs.ts
  portal-api/server/v1/api.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
  trade-finance-manager-api/server/v1/routes.js
Due: eslint --fix

fix(DTFS2-8165): update error message effective from (#4503)
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/effective-date.spec.js
  gef-ui/server/controllers/amendments/effective-date/validation.test.ts
  gef-ui/server/controllers/amendments/effective-date/validation.ts
Due: eslint --fix

chore(main): release 2.11.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-8167): added ACBS call to portal amendment
  portal-ui/Dockerfile
Due: none

feat(DTFS2-8151): updated dockerfile
  package-lock.json
  portal-ui/Dockerfile
  portal-ui/package.json
Due: sort-package-json

feat(DTFS2-8151): updated dockerfile
  portal-ui/Dockerfile
Due: none

feat(DTFS2-8151): updated dockerfile
  package-lock.json
  portal-ui/Dockerfile
  portal-ui/package.json
  start.sh
Due: sort-package-json

feat(DTFS2-8151): updated dockerfile
  start.sh
Due: none

feat(DTFS2-8151): updated documentation
  package-lock.json
  start.sh
Due: none

feat(DTFS2-8147): added unit test cases
  libs/common/src/helpers/is-amendment-declined.test.ts
Due: eslint --fix

feat(DTFS2-7931): test
  portal-api/server/v1/controllers/facilities.controller.js
Due: eslint --fix

feat(DTFS2-7931): test
  e2e-tests/gef/cypress/support/commands/loadData.js
Due: eslint --fix

feat(DTFS2-8147): added unit test cases
  libs/common/src/helpers/can-submit-to-acbs.test.ts
Due: eslint --fix

fix(DTFS2-8167): change type to TFM for TFM amendment type
  libs/common/src/schemas/tfm-amendment.schema.ts
Due: eslint --fix

fix(DTFS2-8167): change type to TFM for TFM amendment type (#4505)
  libs/common/src/schemas/tfm-amendment.schema.ts
Due: eslint --fix

chore(DTFS2-6730): fix api-tests
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/put-update-user.api-test.js
  portal-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

feat(DTFS2-8151): enabled hot reloading for portal-ui (#4499)
  package-lock.json
  portal-ui/Dockerfile
  start.sh
Due: none

feat(DTFS2-7931): changed to map and promise.all
  portal-api/server/v1/controllers/facilities.controller.js
  portal-api/server/v1/controllers/facilities.controller.test.js
Due: eslint --fix

feat(DTFS2-7931): review markup
  portal-api/server/v1/controllers/facilities.controller.js
Due: eslint --fix

feat(DTFS2-8167): added unit test cases
  libs/common/src/helpers/can-submit-to-acbs.test.ts
  libs/common/src/helpers/can-submit-to-acbs.ts
  libs/common/src/helpers/is-amendment-declined.test.ts
  libs/common/src/helpers/is-amendment-declined.ts
  trade-finance-manager-api/server/v1/helpers/amendment.helpers.js
Due: eslint --fix

feat(DTFS2-8167): fixed constants
  dtfs-central-api/server/constants/amendments.ts
  trade-finance-manager-api/server/v1/helpers/amendment.helpers.js
  trade-finance-manager-api/server/v1/helpers/amendment.helpers.test.js
  trade-finance-manager-api/server/v1/rest-mappings/deal-with-amendment-bss.api-test.js
  trade-finance-manager-api/server/v1/rest-mappings/mappings/facilities/mapUkefExposure.api-test.js
  trade-finance-manager-ui/server/constants/amendments.js
Due: eslint --fix

fix(DTFS2-8170): fix effective date banner on tfm amendments tab
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/templates/case/facility/_macros/amendment-details.njk
Due: eslint --fix

feat(DTFS2-8167): fixed constants
  libs/common/src/constants/amendments.ts
Due: eslint --fix

feat(DTFS2-8167): added extra test coverage
  libs/common/src/helpers/can-submit-to-acbs.test.ts
Due: eslint --fix

chore(DTFS2-6663): add api tests for get users endpoints (#4492)
  portal-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

feat(DTFs2-8167): fixed constants
  libs/common/src/constants/amendments.ts
  trade-finance-manager-ui/server/constants/amendments.js
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentRequestApproval.controller.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/index.js
Due: eslint --fix

feat(DTFs2-8167): fixed constants
  trade-finance-manager-ui/server/controllers/case/amendments/bankDecision.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/bankDecision.controller.test.js
  trade-finance-manager-ui/server/test-mocks/amendment-test-mocks.js
Due: eslint --fix

feat(DTFS2-7931): added amended value to portal all facilities page (#4494)
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/all-facilities-page-cover-end-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/all-facilities-page-single-value-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/all-facilities-page.multiple-value-amendment.spec.js
  portal-api/server/v1/controllers/facilities.controller.js
  portal-api/server/v1/controllers/facilities.controller.test.js
Due: eslint --fix

feat(DTFs2-8167): fixed amendment tag
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

feat(DTFs2-8167): fixed test cases
  libs/common/src/helpers/is-amendment-declined.ts
Due: eslint --fix

chore(DTFS2-8159): use referenceNumber instead of updatedAt
  dtfs-central-api/server/repositories/tfm-facilities-repo/aggregate-pipelines/acknowledged-portal-amendments-by-facility-id.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/aggregate-pipelines/lastest-completed-amendment-by-deal-id.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/aggregate-pipelines/latest-completed-amendment-by-facility-id.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/aggregate-pipelines/latest-completed-cover-end-date-amendment.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/aggregate-pipelines/latest-completed-value-amendment.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/tfm-facilities.repo.findLatestCompletedAmendmentByFacilityId.test.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/tfm-facilities.repo.findLatestCoverEndDateAmendmentByFacilityId.test.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/tfm-facilities.repo.findLatestValueAmendmentByFacilityId.test.ts
  dtfs-central-api/server/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
Due: eslint --fix

fix(DTFS2-8170): add e2e-tests
  e2e-tests/tfm/cypress/e2e/pages/amendments/amendmentsPage.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-cancelled-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-pending-cancellation-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-details-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-no-future-effective-date-banners.spec.js
  trade-finance-manager-ui/templates/case/amendments/_macros/amendment-future-effective-date-facility-bar.njk
  trade-finance-manager-ui/templates/case/facility/_macros/amendment-details.njk
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
