Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(DTFS2-8467): move banks list controller to banks folder
  dtfs-central-api/server/v1/controllers/bank/get-portal-bank-list.controller.test.ts
  dtfs-central-api/server/v1/controllers/bank/get-portal-bank-list.controller.ts
Due: eslint --fix

feat(DTFS2-8437): markups
  trade-finance-manager-api/server/v1/integrations/apim-gift/send-facilities-to-apim-gift/index.ts
Due: eslint --fix

chore(main): release 3.1.0 (#4796)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-8437): fix/update api tests
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/api-tests/v1/parties/parties-update.api-test.js
Due: eslint --fix

feat(DTFS2-8437): markups
  trade-finance-manager-api/server/v1/controllers/deal.add-party-urn.test.js
  trade-finance-manager-api/server/v1/controllers/deal.party-db.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.js
Due: eslint --fix

chore(DTFS2-8467): banks list get controller portal-api
  dtfs-central-api/server/v1/routes/bank-routes.js
  portal-api/api-tests/v1/portal-bank-list/portal-bank-list.api-test.js
  portal-api/server/v1/api.js
  portal-api/server/v1/controllers/portal-bank-list.controller.js
  portal-api/server/v1/controllers/portal-bank-list.controller.test.js
  portal-api/server/v1/routes.js
Due: eslint --fix

feat(DTFS2-8352-8353): update calculations
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.ts
Due: eslint --fix

feat(DTFS2-8437): markups
  trade-finance-manager-api/server/v1/controllers/deal.party-db.js
  trade-finance-manager-api/server/v1/controllers/deal.party-db.test.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.test.js
Due: eslint --fix

feat(DTFS2-8352): fix/update tests
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
Due: eslint --fix

feat(DTFS2-8437): markups
  trade-finance-manager-api/server/v1/controllers/deal.add-party-urn.test.js
  trade-finance-manager-api/server/v1/controllers/deal.party-db.api-test.js
  trade-finance-manager-api/server/v1/controllers/deal.party-db.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.test.js
Due: eslint --fix

feat(DTFS2-8352): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.ts
Due: eslint --fix

feat(DTSF2-8352): create a gift facility - name formatting
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/apim-gift.ts
Due: eslint --fix

feat(DTFS2-8437): create a gift facility - conditionally delay creation (#4795)
  libs/common/src/constants/apim-gift-payloads/apim-gift-payloads.example.constants.ts
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/api-tests/v1/parties/parties-update.api-test.js
  trade-finance-manager-api/server/v1/controllers/deal.add-party-urn.test.js
  trade-finance-manager-api/server/v1/controllers/deal.party-db.api-test.js
  trade-finance-manager-api/server/v1/controllers/deal.party-db.js
  trade-finance-manager-api/server/v1/controllers/deal.party-db.test.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.test.js
  trade-finance-manager-api/server/v1/controllers/party.controller.js
  trade-finance-manager-api/server/v1/controllers/party.controller.test.js
  trade-finance-manager-api/server/v1/integrations/apim-gift/send-facilities-to-apim-gift/index.test.ts
  trade-finance-manager-api/server/v1/integrations/apim-gift/send-facilities-to-apim-gift/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facilities/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facilities/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/apim-gift.ts
Due: eslint --fix

chore(DTFS2-8471): move csrf creation and verification to csrf-sync and add fix SSO
  libs/common/package.json
  libs/common/src/constants/csrf.ts
  libs/common/src/constants/tfm/sso.ts
  libs/common/src/middleware/csrf/create.test.ts
  libs/common/src/middleware/csrf/create.ts
  libs/common/src/middleware/csrf/csrf-sync-instance.ts
  libs/common/src/middleware/csrf/verify.test.ts
  libs/common/src/middleware/csrf/verify.ts
  package-lock.json
Due: eslint --fix, sort-package-json

chore(DTFS2-8467): fetch banks list into portal ui
  portal-api/server/v1/api.js
  portal-ui/api-tests/login/get-login.api-test.js
  portal-ui/api-tests/login/post-login.api-test.js
  portal-ui/component-tests/login/before-you-start.component-test.js
  portal-ui/server/api.js
  portal-ui/server/controllers/login/post-login.js
  portal-ui/server/controllers/login/post-login.test.js
  portal-ui/server/helpers/get-portal-bank-list-for-login-page.js
  portal-ui/server/helpers/get-portal-bank-list-for-login-page.test.js
  portal-ui/server/helpers/index.js
  portal-ui/server/routes/login/index.js
  portal-ui/templates/_partials/before-you-start.njk
Due: eslint --fix

feat(DTFS2-8352): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.ts
Due: eslint --fix

chore(DTFS2-8471): markups
  libs/common/src/middleware/csrf/verify.test.ts
  libs/common/src/middleware/csrf/verify.ts
Due: eslint --fix

feat(DTFS2-8352): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.ts
Due: eslint --fix

feat(DTFS2-8352): create a gift facility - name formatting (#4799)
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-name/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/apim-gift.ts
Due: eslint --fix

feat(DTFS2-8352-8353): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.ts
Due: eslint --fix

chore(DTFS2-8467): upate path of get-potal-bank-list in bank-route js
  dtfs-central-api/server/v1/routes/bank-routes.js
Due: eslint --fix

feat(DTFS2-8352-8353): create a gift facility - overview, obligation amounts (#4791)
  e2e-tests/tfm/cypress/e2e/journeys/case-amendments/user-flow/7. amendment-details-automatic-approval.spec.js
  e2e-tests/tfm/cypress/e2e/pages/amendments/amendmentsPage.js
  trade-finance-manager-api/server/v1/controllers/facility.controller.js
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-cover-percentage/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/map-facility-amount/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/apim-gift.ts
  trade-finance-manager-api/server/v1/rest-mappings/mappings/deal/mapDeals.js
  trade-finance-manager-ui/templates/facilities/_macros/facilities-table.njk
Due: eslint --fix

chore(DTFS2-8471): move csrf creation and verification to csrf-sync and fix SSO (#4801)
  libs/common/package.json
  libs/common/src/constants/csrf.ts
  libs/common/src/constants/tfm/sso.ts
  libs/common/src/middleware/csrf/create.test.ts
  libs/common/src/middleware/csrf/create.ts
  libs/common/src/middleware/csrf/csrf-sync-instance.ts
  libs/common/src/middleware/csrf/verify.test.ts
  libs/common/src/middleware/csrf/verify.ts
  package-lock.json
Due: eslint --fix, sort-package-json

chore(DTFS2-8352): logging improvements
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

fix(DTFS2-8352): send a gift facility - gef name mapping
  trade-finance-manager-api/server/v1/api.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
Due: eslint --fix

chore(DTFS2-8352): deal submit controller - deal object tweak
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.test.js
Due: eslint --fix

fix(DTFS2-8352): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
Due: eslint --fix

fix(DTFS2-8352): send a gift facility - gef name mapping (#4804)
  trade-finance-manager-api/server/v1/api.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/server/v1/controllers/deal.submit.controller.test.js
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-months-of-cover/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

fix(DTFS2-8353-8354): send a gift facility - obligation amount
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.ts
Due: eslint --fix

fix(DTFS2-8353): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.ts
Due: eslint --fix

chore(DTFS2-8467): address pr comments
  dtfs-central-api/api-tests/v1/bank/get-portal-bank-list.api-test.ts
  dtfs-central-api/server/repositories/portal-bank-list-repo.test.ts
  dtfs-central-api/server/repositories/portal-bank-list-repo.ts
  dtfs-central-api/server/v1/controllers/bank/get-portal-bank-list.controller.test.ts
Due: eslint --fix

chore(DTFS2-8467): update docs
  dtfs-central-api/server/repositories/portal-bank-list-repo.test.ts
  dtfs-central-api/server/v1/controllers/bank/get-portal-bank-list.controller.ts
  dtfs-central-api/server/v1/routes/bank-routes.js
Due: eslint --fix

fix(DTFS2-8353-8354): send a gift facility - obligation amount (#4805)
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/map-obligation-amount/index.ts
Due: eslint --fix

chore(release-please-docs): add chores to release please docs)
  release-please-config.json
Due: none

chore(release-please-docs): indentation
  release-please-config.json
Due: none

feat(DTFS2-8467): update fallback message and tests
  e2e-tests/portal/cypress/e2e/pages/login/index.js
  portal-ui/component-tests/login/before-you-start.component-test.js
  portal-ui/templates/_partials/before-you-start.njk
Due: eslint --fix

chore(DTFS2-8406): nunjucks indentation
  portal-ui/templates/contract/about/about-supplier.njk
  portal-ui/templates/contract/about/about-supply-buyer.njk
  portal-ui/templates/contract/about/about-supply-check-your-answers.njk
  portal-ui/templates/contract/about/about-supply-financial.njk
  portal-ui/templates/contract/about/components/about-submission-details.njk
  portal-ui/templates/contract/about/components/indemnifier-correspondence-address.njk
  portal-ui/templates/contract/about/components/input-companies-house-reg-number.njk
  portal-ui/templates/contract/about/components/legally-distinct-counter-indemnifier_slash_guarantor.njk
  portal-ui/templates/contract/about/components/sme-type-radios.njk
  portal-ui/templates/contract/about/components/supplier-correspondence-address.njk
  portal-ui/templates/contract/about/components/supplier-name-and-address-lookup.njk
  trade-finance-manager-ui/templates/case/parties/summary/party.njk
Due: none

chore(DTFS2-8406): logging improvements
  external-api/server/v1/controllers/gift-facility.controller.test.ts
  external-api/server/v1/controllers/gift-facility.controller.ts
Due: eslint --fix

chore(deps): update dependencies
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(DTFS2-8480): change dependabot to run weekly
  .github/dependabot.yml
Due: none
