Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7138): code refactorisation
  package-lock.json
Due: none

feat(DTFS2-7754): fix failing tests
  dtfs-central-api/api-tests/v1/utilisation-reports/post-upload-utilisation-report.api-test.ts
  gef-ui/scripts/correspondence-address.test.js
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/helpers/add-exposure-values-to-amendment.test.ts
  portal-api/src/v1/validation/fields/covered-percentage.js
Due: eslint --fix

feat(DTFS2-7130): non-delegated banks deal migration to TFM (#4346)
  azure-functions/acbs-function/package.json
  dtfs-central-api/api-tests/sql-db-helper.ts
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-keying-sheet-for-report-id.ts
  e2e-tests/package.json
  e2e-tests/support/tasks.js
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/api-tests/sql-db-helper.ts
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/component-tests/user-logged-out.component-test.js
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.get-logout.test.ts
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  trade-finance-manager-ui/templates/auth/accept-sso-redirect.njk
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/templates/user-logged-out.njk
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7786): add abandon template ids
  dtfs-central-api/src/constants/email-template-ids.ts
  dtfs-central-api/src/v1/controllers/portal/facility/delete-amendment.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-delete-portal-facility-amendment-payload.test.ts
Due: eslint --fix

feat(DTFS2-7754): fix failing tests
  gef-ui/api-tests/amendments/cover-end-date.post.api-test.ts
  portal-api/src/v1/controllers/tfm.controller.test.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendCoverEndDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentAnswers.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/managersConditionsAndComments.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/underwriterManagerDecision.controller.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/index.js
Due: eslint --fix

fix(DTFS2-8004): simplified timezone value access
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  gef-ui/server/controllers/activities-controller/index.js
  gef-ui/server/controllers/activities-controller/index.test.js
  gef-ui/server/controllers/application-details/index.js
  libs/common/package.json
  libs/common/src/constants/index.ts
  libs/common/src/constants/timezone.ts
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.test.ts
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.ts
  libs/common/src/schemas/timezone.ts
  package-lock.json
  package.json
  portal-api/package.json
  portal/component-tests/admin/user-edit.component-test.js
  portal/component-tests/bond/_macros/bond-submission-details.component-test.js
  portal/component-tests/contract/components/bond-transactions-table.component-test.js
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/component-tests/contract/components/loan-transactions-table.component-test.js
  portal/component-tests/contract/contract-submission-details.component-test.js
  portal/component-tests/contract/contract-view.component-test.js
  portal/component-tests/loan/_macros/loan-submission-details.component-test.js
  portal/package.json
  portal/server/nunjucks-configuration/filter-localiseTimestamp.test.ts
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS-7786): fix abandon email variables
  gef-ui/server/controllers/amendments/abandon-amendment/post-abandon-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/abandon-amendment/post-abandon-portal-facility-amendment.ts
  gef-ui/server/controllers/amendments/helpers/map-abandon-amendment-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-abandon-amendment-email-variables.ts
  gef-ui/server/services/api.js
Due: eslint --fix

fix(DTFS2-8004): simplified timezone value access
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/timezone.ts
  libs/common/src/index.ts
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.test.ts
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.ts
  libs/common/src/schemas/timezone.ts
  package-lock.json
  portal-api/src/constants/user.js
  portal-api/src/v1/users/controller.js
Due: eslint --fix

feat(DTFS2-7754): fix failing tests
  trade-finance-manager-ui/server/controllers/case/amendments/amendCoverEndDate.controller.js
Due: eslint --fix

fix(DTFS2-8004): unable to access timeZoneConfig schema (#4350)
  gef-ui/server/controllers/activities-controller/index.js
  gef-ui/server/controllers/activities-controller/index.test.js
  gef-ui/server/controllers/application-details/index.js
  libs/common/src/constants/index.ts
  libs/common/src/constants/timezone.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/timezone.ts
  libs/common/src/index.ts
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.test.ts
  libs/common/src/schemas/tfm/entra-id-user-to-upsert-tfm-user-request.schema.ts
  libs/common/src/schemas/timezone.ts
  package-lock.json
  portal-api/src/constants/user.js
  portal-api/src/v1/users/controller.js
  portal/component-tests/admin/user-edit.component-test.js
  portal/component-tests/bond/_macros/bond-submission-details.component-test.js
  portal/component-tests/contract/components/bond-transactions-table.component-test.js
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/component-tests/contract/components/loan-transactions-table.component-test.js
  portal/component-tests/contract/contract-submission-details.component-test.js
  portal/component-tests/contract/contract-view.component-test.js
  portal/component-tests/loan/_macros/loan-submission-details.component-test.js
  portal/server/nunjucks-configuration/filter-localiseTimestamp.test.ts
Due: eslint --fix

feat(DTFS2-7782): address pr comments
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.ts
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.ts
  gef-ui/server/controllers/amendments/cover-end-date/post-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/post-cover-end-date.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/get-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/get-do-you-have-a-facility-end-date.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/post-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/post-do-you-have-a-facility-end-date.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.ts
  gef-ui/server/controllers/amendments/effective-date/post-effective-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/post-effective-date.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/post-eligibility.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/post-eligibility.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.ts
  gef-ui/server/controllers/amendments/facility-end-date/post-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/post-facility-end-date.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.test.ts
  gef-ui/server/controllers/amendments/facility-value/post-facility-value.ts
  gef-ui/server/controllers/amendments/helpers/navigation.helper.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/post-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/post-what-needs-to-change.ts
Due: eslint --fix

feat(DTFS2-7754): fix failing tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/facility-value.spec.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
Due: eslint --fix

feat(DTFS2-7754): fix disabled test
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/facility-value.spec.js
Due: eslint --fix

feat(DTFS2-7782): validate response updatedAmendment
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/post-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/post-do-you-have-a-facility-end-date.ts
Due: eslint --fix

feat(DTFS2-7786): fix abandon api test
  gef-ui/api-tests/amendments/abandon-portal-facility-amendment.post.api-test.ts
Due: eslint --fix

chore(pr): update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(DTFS2-7789): add latest amendment updatedAt on deal
  portal-api/src/v1/controllers/deal.controller.js
  portal-api/src/v1/helpers/add-latest-amendment-updatedAt-to-deals.ts
Due: eslint --fix

feat(DTFS2-7786): address pr comments
  dtfs-central-api/src/v1/controllers/portal/facility/delete-amendment.controller.test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/delete-amendment.controller.ts
  gef-ui/api-tests/amendments/abandon-portal-facility-amendment.post.api-test.ts
  gef-ui/server/controllers/amendments/helpers/map-abandon-amendment-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-abandon-amendment-email-variables.ts
Due: eslint --fix

chore(pr): update pull request template (#4351)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(DTFS2-7782): add empty lines
  gef-ui/server/controllers/amendments/bank-review-date/get-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/bank-review-date/post-bank-review-date.test.ts
  gef-ui/server/controllers/amendments/cover-end-date/get-cover-end-date.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/get-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/do-you-have-a-facility-end-date/post-do-you-have-a-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/get-effective-date.test.ts
  gef-ui/server/controllers/amendments/effective-date/post-effective-date.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/get-eligibility.test.ts
  gef-ui/server/controllers/amendments/eligibility-criteria/post-eligibility.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/get-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-end-date/post-facility-end-date.test.ts
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/get-what-needs-to-change.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/post-what-needs-to-change.test.ts
  gef-ui/server/controllers/amendments/what-needs-to-change/post-what-needs-to-change.ts
Due: eslint --fix

feat(DTFS2-7985): added amendment status to facility summary list
  e2e-tests/gef/cypress/e2e/pages/application-preview.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/amendment-status-application-details-summary-list.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/amendment-status-multiple-amendments-application-details-summary-list.spec.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/utils/display-items.js
  gef-ui/server/utils/display-items.test.js
  gef-ui/server/utils/helpers.js
  gef-ui/server/utils/helpers.test.js
  libs/common/src/helpers/amendment-status-tag-colour.test.ts
  libs/common/src/helpers/amendment-status-tag-colour.ts
  libs/common/src/helpers/get-latest-amendment-by-facility.test.ts
  libs/common/src/helpers/get-latest-amendment-by-facility.ts
  libs/common/src/helpers/index.ts
Due: eslint --fix

feat(DTFS2-7985): fix failing tests
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/utils/helpers.test.js
Due: eslint --fix

fix(DTFS2-7871): facility amendment loan amount
  azure-functions/acbs-function/mappings/facility/facility-loan-amend.js
  azure-functions/acbs-function/mappings/facility/helpers/get-loan-amount-difference.js
Due: eslint --fix

fix(DTFS2-7871): dependencies updates
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-7871): package-lock.json update
  package-lock.json
Due: none

fix(DTFS2-7871): spelling corrections
  azure-functions/acbs-function/mappings/facility/helpers/get-loan-amount-difference.js
  mongodb/Dockerfile
Due: eslint --fix

fix(DTFS2-7871): facility amendment loan amount for GUP (#4353)
  azure-functions/acbs-function/mappings/facility/facility-loan-amend.js
  azure-functions/acbs-function/mappings/facility/helpers/get-loan-amount-difference.js
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  mongodb/Dockerfile
  package-lock.json
  package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

chore(main): release 2.9.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7805): updated filter to not show amendment in progress to checker if deal cancelled
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-in-progress-amendment-deal-cancelled.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-in-progress-amendment-deal-pending-cancellation.spec.js
  portal/server/controllers/dashboard/deals/deals-filters-query.ff-test.js
  portal/server/controllers/dashboard/deals/deals-filters-query.js
Due: eslint --fix

feat(DTFS2-7786): address pr comments
  gef-ui/server/controllers/amendments/cancel-amendment/post-cancel-portal-facility-amendment.test.ts
  gef-ui/server/controllers/amendments/cancel-amendment/post-cancel-portal-facility-amendment.ts
  libs/common/src/errors/index.ts
  libs/common/src/errors/invalid-amendment-status.error.test.ts
  libs/common/src/errors/invalid-amendment-status.error.ts
Due: eslint --fix

feat(DTFS2-7985): review markups
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/amendment-status-application-details-summary-list.spec.js
  gef-ui/server/controllers/application-details/index.js
  gef-ui/server/controllers/application-details/index.test.js
  gef-ui/server/utils/display-items.js
  gef-ui/server/utils/helpers.js
  libs/common/src/constants/index.ts
  libs/common/src/constants/status-tag-colours.ts
  libs/common/src/helpers/amendment-status-tag-colour.test.ts
  libs/common/src/helpers/amendment-status-tag-colour.ts
  libs/common/src/helpers/get-latest-amendment-by-facility.ts
Due: eslint --fix

feat(DTFS2-7805): review markups
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-in-progress-amendment-deal-cancelled.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-in-progress-amendment-deal-pending-cancellation.spec.js
  portal/server/controllers/dashboard/deals/deals-filters-query.js
Due: eslint --fix

feat(DTFS2-7789): add unit tests
  portal-api/src/v1/controllers/deal.controller.js
  portal-api/src/v1/controllers/deal.controller.test.js
  portal-api/src/v1/helpers/add-latest-amendment-updatedAt-to-deals.ts
  portal-api/src/v1/helpers/get-deal-updatedAt.test.ts
  portal-api/src/v1/helpers/get-deal-updatedAt.ts
Due: eslint --fix

feat(DTFS2-7789): add e2e tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-deals-last-updated.spec.js
  e2e-tests/ukef/cypress/support/gef/makerAndCheckerSubmitPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerMakesPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerSubmitPortalAmendmentForReview.js
Due: eslint --fix

feat(DTFS2-7985): update dependencies and used ts-ignore for a test assertion
  libs/common/src/helpers/amendment-status-tag-colour.test.ts
  package-lock.json
  package.json
  reverse-proxy/Dockerfile
Due: eslint --fix, sort-package-json

feat(DTFS2-7805): update checker filter - amendment in progress, deal cancelled (#4354)
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-in-progress-amendment-deal-cancelled.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/dashboard-in-progress-amendment-deal-pending-cancellation.spec.js
  portal/server/controllers/dashboard/deals/deals-filters-query.ff-test.js
  portal/server/controllers/dashboard/deals/deals-filters-query.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
