Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(DTFS2-7029): fix tests
  portal-api/server/v1/validation/fields/issued-date.js
Due: eslint --fix

chore(DTFS2-7029): fix tests
  portal-api/server/v1/validation/fields/issued-date.test.js
Due: eslint --fix

chore(DTFS2-7029): validate issued date correctly (#4482)
  portal-api/server/v1/validation/fields/issued-date.js
  portal-api/server/v1/validation/fields/issued-date.test.js
Due: eslint --fix

feat(DTFS2-8151): enabled hot reloading for gef-ui
  gef-ui/Dockerfile
  gef-ui/package.json
  nodemon.json
  package-lock.json
  portal-ui/package.json
  start.sh
Due: sort-package-json

feat(DTFS2-8151): enabled hot reloading for gef-ui (#4490)
  gef-ui/Dockerfile
  gef-ui/package.json
  nodemon.json
  package-lock.json
  portal-ui/package.json
  start.sh
Due: sort-package-json

feat(DTFS2-8151): added start:dev script to remaining package.json files
  dtfs-central-api/package.json
  external-api/package.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS-8151): updated dockerfiles and dependencies
  dtfs-central-api/Dockerfile
  dtfs-central-api/package.json
  external-api/Dockerfile
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/Dockerfile
  portal-api/package.json
  portal-ui/Dockerfile
  portal-ui/package.json
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/Dockerfile
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(DTFS2-6663): add api tests for get users endpoints
  portal-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

feat(DTFS-8151): updated dockerfiles
  azure-functions/acbs/Dockerfile
  dtfs-central-api/Dockerfile
  external-api/Dockerfile
  gef-ui/Dockerfile
  portal-api/Dockerfile
  portal-ui/Dockerfile
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-ui/Dockerfile
Due: none

feat(DTFS-8151): updated index.ts
  external-api/server/index.ts
  portal-api/server/index.ts
  trade-finance-manager-api/server/index.ts
Due: eslint --fix

feat(DTFS-8151): updated docker-compose.yml file
  docker-compose.yml
Due: none

feat(DTFS-8151): dependencies updates
  package-lock.json
Due: none

feat(DTFS2-7931): added amended value to all facilities page portal
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/all-facilities-page-cover-end-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/all-facilities-page-single-value-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/all-facilities-page.multiple-value-amendment.spec.js
  portal-api/server/v1/controllers/facilities.controller.js
  portal-api/server/v1/controllers/facilities.controller.test.js
Due: eslint --fix

feat(DTFS-8151): dependencies updates
  azure-functions/acbs/Dockerfile
Due: none

feat(DTFS2-7931): fix import issue
  portal-api/server/v1/controllers/facilities.controller.js
Due: eslint --fix

feat(DTFS-8151): dependencies reverted
  docker-compose.yml
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  portal-api/package.json
  portal-api/server/index.ts
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

feat(DTFS-8151): dockerfile updated
  docker-compose.yml
  dtfs-central-api/Dockerfile
  external-api/Dockerfile
  portal-api/Dockerfile
  trade-finance-manager-api/Dockerfile
Due: none

feat(DTFS-8151): dockerfile updated
  dtfs-central-api/package.json
  external-api/package.json
  portal-api/package.json
  trade-finance-manager-api/package.json
Due: sort-package-json

feat(DTFS2-8151): enabled hot reloading for api microservices (#4495)
  docker-compose.yml
  dtfs-central-api/Dockerfile
  dtfs-central-api/package.json
  external-api/Dockerfile
  external-api/package.json
  portal-api/Dockerfile
  portal-api/package.json
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-api/package.json
Due: sort-package-json

chore(deps): dependencies updates
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS-8151): dockerfile updated
  azure-functions/acbs/Dockerfile
  external-api/server/index.ts
  portal-ui/package.json
  trade-finance-manager-api/server/index.ts
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

feat(DTFS-8151): dockerfile updated
  dtfs-central-api/server/index.ts
  portal-api/server/index.ts
  trade-finance-manager-ui/Dockerfile
Due: eslint --fix

feat(DTFS2-8151): enabled hot reloading for ui microservices (#4497)
  azure-functions/acbs/Dockerfile
  dtfs-central-api/server/index.ts
  external-api/server/index.ts
  portal-api/server/index.ts
  portal-ui/package.json
  trade-finance-manager-api/server/index.ts
  trade-finance-manager-ui/Dockerfile
  trade-finance-manager-ui/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-8151): updated gef-ui dockerfile
  gef-ui/Dockerfile
  gef-ui/package.json
Due: sort-package-json

chore(deps): dependencies updates (#4496)
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-8151): enabled hot reloading for gef-ui (#4498)
  gef-ui/Dockerfile
Due: none

Merge branch 'feat/DTFS2-16188-bicep-base' of https://github.com/UK-Export-Finance/dtfs2 into feat/DTFS2-16188-bicep-templates
  .eslintrc.json
Due: none

feat(DTFS2-8167): moved few functions to libs/common
  libs/common/src/constants/amendments.ts
  libs/common/src/helpers/can-submit-to-acbs.test.ts
  libs/common/src/helpers/can-submit-to-acbs.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-amendment-declined.test.ts
  libs/common/src/helpers/is-amendment-declined.ts
  portal-api/server/v1/api.js
  trade-finance-manager-api/server/constants/deals.js
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
  trade-finance-manager-api/server/v1/helpers/amendment.helpers.js
Due: eslint --fix

feat(DTFS2-8151): updated dockerfile
  portal-ui/Dockerfile
Due: none

chore(DTFS2-6730): remove password on user creation
  portal-api/api-tests/api-test-users.js
  portal-api/api-tests/v1/users/post-create-user.api-test.js
  portal-api/api-tests/v1/users/reset-password.api-test.js
  portal-api/api-tests/v1/users/with-validate-email-is-unique.api-tests.js
  portal-api/server/v1/users/controller.js
  portal-api/server/v1/users/routes.js
  utils/mock-data-loader/api.js
  utils/mock-data-loader/database/user-repository.ts
Due: eslint --fix

fix(DTFS2-8168): fix banner on facilities without amendments
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-future-effective-date-banners.spec.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
Due: eslint --fix

fix(DTFS2-8168): added test for in progress banner
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-in-progress-bar-portal-amendment-status.spec.js
Due: eslint --fix

chore(DTFS2-6663): address pr comments
  portal-api/api-tests/v1/users/users.api-test.js
Due: eslint --fix

fix(DTFS2-8168): fix amendment banner showing when no amendment in progress on facility (#4502)
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-in-progress-bar-portal-amendment-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-future-effective-date-banners.spec.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
Due: eslint --fix

fix(DTFS2-8165): update error message effective from
  gef-ui/server/controllers/amendments/effective-date/validation.test.ts
  gef-ui/server/controllers/amendments/effective-date/validation.ts
Due: eslint --fix

fix(DTFS2-8165): fix e2e test
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/general/effective-date.spec.js
Due: eslint --fix

feat(DTFS2-7931): test
  e2e-tests/gef/cypress/support/commands/loadData.js
  portal-api/server/v1/controllers/facilities.controller.test.js
Due: eslint --fix

feat(DTFS2-7931): test
  portal-api/server/v1/controllers/facilities.controller.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
