Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7787): added middleware to not allow access to amendment pages on cancelled deals
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/access-amendment-url-with-invalid-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-details-maker-cancelled-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/application-preview-checker-cancelled-deal.spec.js
  gef-ui/server/middleware/index.js
  gef-ui/server/middleware/validateAmendmentDealStatus/index.test.ts
  gef-ui/server/middleware/validateAmendmentDealStatus/index.ts
  gef-ui/server/routes/facilities/amendments/index.ts
  libs/common/src/constants/amendments.ts
Due: eslint --fix

feat(DTFS2-7787): added comment
  libs/common/src/constants/amendments.ts
Due: eslint --fix

feat(DTFS-7755): add createReferenceNumber too libs common
  gef-ui/server/constants/amendments.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.test.ts
  gef-ui/server/controllers/amendments/helpers/create-amendment-reference-number.helper.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.test.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.ts
  gef-ui/server/services/api.js
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/test-helpers/mock-all-type-amendment.ts
  libs/common/src/helpers/create-amendment-reference-number.test.ts
  libs/common/src/helpers/create-amendment-reference-number.ts
  libs/common/src/helpers/index.ts
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  libs/common/src/types/portal/amendment.ts
Due: eslint --fix

feat(DTFS2-7783): add referenceNumber tfm
  dtfs-central-api/src/constants/amendments.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-get-amendments.controller.ts
  trade-finance-manager-api/src/constants/amendments.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentAnswers.controller.js
Due: eslint --fix

chore(DTFS2-6685): dependencies updates
  dtfs-central-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(DTFS2-7513-7925): review markups
  gef-ui/server/controllers/amendments/return-amendment-to-maker/post-return-amendment-to-maker.test.ts
  gef-ui/server/controllers/amendments/return-amendment-to-maker/post-return-amendment-to-maker.ts
  gef-ui/server/controllers/amendments/returned-to-maker/get-returned-to-maker.test.ts
  gef-ui/server/controllers/amendments/returned-to-maker/get-returned-to-maker.ts
Due: eslint --fix

feat(DTFS2-7755): fix
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.test.ts
  gef-ui/server/controllers/amendments/helpers/map-common-email-variables.ts
  gef-ui/server/controllers/amendments/helpers/map-submitted-to-ukef-email-variables.test.ts
Due: eslint --fix

chore(main): release 2.9.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-7755): add component tests
  gef-ui/component-tests/_macros/submitted-amendment-summary-list.component-test.ts
  gef-ui/component-tests/includes/application-preview/application-sub-navigation.component-test.ts
  gef-ui/component-tests/partials/amendments/amendment-details.component-test.ts
  gef-ui/component-tests/partials/amendments/application-amendments.component-test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/templates/_macros/amendments/submitted-amendment-summary-list.njk
  gef-ui/templates/partials/amendments/application-amendments.njk
Due: eslint --fix

feat(DTFS2-7787): fix failing tests
  gef-ui/api-tests/amendments/approved-by-ukef.get.api-test.ts
  gef-ui/api-tests/amendments/cancel-portal-facility-amendment.post.api-test.ts
  gef-ui/api-tests/amendments/create-draft.api-test.ts
  gef-ui/api-tests/amendments/returned-to-maker.get.api-test.ts
  gef-ui/api-tests/amendments/submitted-for-checking.get.api-test.ts
Due: eslint --fix

chore(deps): dependencies updates
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-6685): fixed bank id
  dtfs-central-api/api-tests/mocks/banks.ts
  dtfs-central-api/api-tests/mocks/test-users/mock-portal-user.ts
  dtfs-central-api/test-helpers/test-data/bank.ts
  dtfs-central-api/test-helpers/test-data/session-bank.ts
  libs/common/src/test-helpers/portal-session-bank.ts
  portal-api/api-tests/api-test-users.js
  portal-api/api-tests/fixtures/deal-fully-completed.js
  portal-api/api-tests/v1/users/test-data.js
  portal-api/test-helpers/test-data/banks.ts
  portal/test-helpers/mock-banks.js
  trade-finance-manager-ui/server/test-mocks/mock-banks.ts
  trade-finance-manager-ui/test-helpers/test-data/bank.ts
  utils/mock-data-loader/banks/index.js
Due: eslint --fix

chore(deps): dependencies updates
  e2e-tests/package.json
  gef-ui/package.json
  package-lock.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): dependencies updates
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
  package-lock.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-api/src/v1/services/entra-id.service.ts
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/controllers/login/login-sso/login.controller.ts
  utils/mock-data-loader/re-insert-mocks.js
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7755): add tfm amendment schema
  gef-ui/test-helpers/mock-all-type-amendment.ts
  libs/common/src/schemas/index.ts
  libs/common/src/schemas/portal-amendment.schema.ts
  libs/common/src/schemas/tfm-amendment.schema.ts
  libs/common/src/types/portal/amendment.ts
Due: eslint --fix

chore(DTFS2-6685): fixed bank id
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-reports-reconciliation-summary.api-test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/due-report-initialised/due-report-initialised.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/utilisation-report.state-machine.test.ts
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/find-utilisation-reports-by-bank-and-year.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/navigating-to-utilisation-reports.spec.js
  portal-api/src/v1/controllers/utilisation-report-service/due-report-periods.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/next-report-period.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-download.controller.test.js
  portal-api/src/v1/controllers/utilisation-report-service/validate-utilisation-report-data.controller.test.ts
Due: eslint --fix

feat(DTFS2-7755): fix tests
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.test.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.test.ts
  gef-ui/server/services/api.js
  portal-api/api-tests/v1/gef/amendments/allTypeAmendmentsOnDeal.get.api-test.ts
Due: eslint --fix

feat(DTFS2-7755): fix endpoint get all type amendments
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.findAllTypeAmendmentsByDealIdAndStatus.test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
Due: eslint --fix

chore(deps): deps reverted
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): deps reverted
  package-lock.json
Due: none

chore(deps): dependencies updates
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

fix(cve-2024-47764): update cookie to 0.70. in package-lock.json
  package-lock.json
Due: none

feat(DTFS2-7755): address pr comments
  dtfs-central-api/api-tests/v1/portal-facility-amendments/all-type-amendments-on-deal-get.api-test.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-portal-amendments-on-deal.controller.test.ts
  gef-ui/api-tests/amendments/submit-amendment-to-ukef.post.api-test.ts
  gef-ui/server/controllers/amendments/amendment-details/get-amendment-details.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.test.ts
  gef-ui/server/controllers/amendments/application-amendments/get-application-amendments.ts
  gef-ui/server/controllers/amendments/check-your-answers/post-check-your-answers.test.ts
  gef-ui/server/controllers/amendments/helpers/get-amendment-reference-number.helper.test.ts
  gef-ui/server/controllers/amendments/helpers/get-amendment-reference-number.helper.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.test.ts
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.ts
  gef-ui/server/utils/map-application-amendments-on-deal.test.ts
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/templates/partials/amendments/application-amendments.njk
  libs/common/src/helpers/create-amendment-reference-number.test.ts
  libs/common/src/helpers/create-amendment-reference-number.ts
  portal-api/src/v1/controllers/amendments/get-portal-amendments-on-deal.controller.ts
Due: eslint --fix

chore(deps): updated cookie package integrity
  package-lock.json
Due: none

feat(DTFS2-7755): address pr comments
  dtfs-central-api/src/v1/routes/portal-routes.js
  gef-ui/server/constants/amendments.ts
  gef-ui/server/helpers/get-amendment-created-by-row.test.ts
  gef-ui/server/helpers/get-amendment-created-by-row.ts
  gef-ui/server/services/api.js
  gef-ui/server/utils/map-application-amendments-on-deal.ts
  gef-ui/templates/includes/application-preview/application-sub-navigation.njk
  portal-api/api-tests/v1/gef/amendments/allTypeAmendmentsOnDeal.get.api-test.ts
  portal-api/api-tests/v1/gef/amendments/amendment-urls.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/api.test.js
  portal-api/src/v1/gef/routes.js
Due: eslint --fix

fix(deps): updated typeorm delete function argument
  dtfs-central-api/api-tests/sql-db-helper.ts
  e2e-tests/support/tasks.js
  portal-api/api-tests/sql-db-helper.ts
  utils/sql-db-seeder/src/index.ts
Due: eslint --fix

chore(deps): dependencies updates
  package-lock.json
Due: none

feat(DTFS2-7799): review markups
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-get-acknowledged.api-test.ts
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/v1/controllers/portal/facility/get-acknowledged-amendments-by-facility-id.controller.test.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/api.test.js
Due: eslint --fix

chore(deps): reverted zod
  dtfs-central-api/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(DTFS2-7799): rename function
  portal-api/src/v1/gef/controllers/facilities.controller.js
  portal-api/src/v1/gef/routes.js
Due: eslint --fix

chore(deps): dependencies updates
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(deps): dependencies updates
  external-api/package.json
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): dependencies updates (#4323)
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(DTFS2-7755): fix api tests
  dtfs-central-api/api-tests/v1/portal-facility-amendments/all-types-amendments-on-deal-get.api-test.ts
  gef-ui/api-tests/amendments/all-types-amendments.get.api-test.ts
  gef-ui/api-tests/amendments/amendment-details.get.api-test.ts
  gef-ui/server/services/__mocks__/api.js
Due: eslint --fix

fix(DTFS2-7969): updated cookie to 0.7.0 for csurf
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-7969): updated cookie to 0.7.0 for csurf (#4324)
  package-lock.json
  package.json
Due: sort-package-json

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
