Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-19579): changed azure login version to v1
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(16188) addressed the pr comments
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
  infrastructure/subscription_level/main.bicep
Due: none

feat(16188) addressed the pr comments
  cspell.json
Due: none

feat(DTFS2-19579): reverted back to v2
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8252): add post new access code sign in
  portal-api/server/v1/users/sign-in-link.controller.js
  portal-ui/server/controllers/login/get-new-access-code-page.test.ts
  portal-ui/server/controllers/login/get-new-access-code-page.ts
  portal-ui/server/controllers/login/post-new-access-code-page.test.ts
  portal-ui/server/controllers/login/post-new-access-code-page.ts
  portal-ui/server/helpers/updateSessionAfterLogin.js
  portal-ui/server/routes/login/index.js
  portal-ui/server/types/view-models/2fa/new-access-code-view-model.ts
  portal-ui/templates/login/new-access-code.njk
Due: eslint --fix

feat(DTFS2-8251): address pr comments
  portal-ui/templates/login/new-access-code.njk
Due: none

feat(DTFS2-19579): removed creds for azure login v2
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-19579): renamed to c reds
  .github/workflows/bicep_infrastructure.yml
Due: none

chore(DTFS2-8231): revert eslintrc cypress globals setting
  e2e-tests/.eslintrc.js
Due: eslint --fix

feat(DTFS2-8199): address pr comments
  portal-ui/server/controllers/login/check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/check-your-email-access-code.ts
  portal-ui/server/helpers/getNextAccessCodePage.ts
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8251): revert back
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(DTFS2-8251): address pr comment
  portal-ui/server/controllers/login/new-access-code-page.test.ts
  portal-ui/server/controllers/login/new-access-code-page.ts
Due: eslint --fix

chore(DTFS2-8261): remove v1 from APIM env variables
  azure-functions/acbs/api.js
  azure-functions/acbs/apim-mdm.js
  docker-compose.yml
  external-api/api-tests/v1/acbs.api-test.ts
  external-api/api-tests/v1/companies.api-test.ts
  external-api/api-tests/v1/currency-exchange-rate.api-test.ts
  external-api/api-tests/v1/eStore.api-test.ts
  external-api/api-tests/v1/email.api-test.ts
  external-api/api-tests/v1/exposure-period.api-test.ts
  external-api/api-tests/v1/geospatial-addresses.api-test.ts
  external-api/api-tests/v1/party-db.api-test.ts
  external-api/api-tests/v1/party-db.ff-test.ts
  external-api/api-tests/v1/party-urn.api-test.ts
  external-api/api-tests/v1/premium-schedule.api-test.ts
  external-api/server/v1/controllers/acbs.controller.ts
  external-api/server/v1/controllers/companies.controller.ts
  external-api/server/v1/controllers/currency-exchange-rate.controller.ts
  external-api/server/v1/controllers/email.controller.ts
  external-api/server/v1/controllers/estore/eStoreApi.ts
  external-api/server/v1/controllers/exposure-period.controller.ts
  external-api/server/v1/controllers/geospatial-addresses.controller.ts
  external-api/server/v1/controllers/industry-sectors.controller.ts
  external-api/server/v1/controllers/number-generator.controller.ts
  external-api/server/v1/controllers/party-db.controller.test.ts
  external-api/server/v1/controllers/party-db.controller.ts
  external-api/server/v1/controllers/party-urn.controller.ts
  external-api/server/v1/controllers/premium-schedule.controller.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
Due: eslint --fix

chore(DTFS2-8261): remove ff for mdmv2
  docker-compose.yml
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
Due: eslint --fix

feat(DTFS2-19579): removed client-id for azure login
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-19579): updated secret name
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8251): add get new access code page (#4605)
  portal-ui/component-tests/login/new-access-code.component-test.js
  portal-ui/server/controllers/login/new-access-code-page.test.ts
  portal-ui/server/controllers/login/new-access-code-page.ts
  portal-ui/server/routes/login/index.js
  portal-ui/templates/login/new-access-code.njk
Due: eslint --fix

Revert "feat(DTFS2-6761): commonised password hashing (#4509)"
  portal-ui/package.json
  portal-ui/server/routes/login/index.js
Due: eslint --fix, sort-package-json

feat(DTFS2-8251): add get new access code page (#4605)
  portal-ui/server/routes/login/index.js
Due: eslint --fix

Revert "feat(DTFS2-6761): commonised password hashing (#4509)"
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(19579)az login issue
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8199): remove
  portal-ui/package.json
Due: sort-package-json

feat(DTFS2-8199): add email parameter
  portal-ui/server/controllers/login/check-your-email-access-code.test.ts
  portal-ui/server/controllers/login/check-your-email-access-code.ts
Due: eslint --fix

feat(DTFS2-8199): add comma
  portal-ui/server/helpers/index.js
Due: eslint --fix

feat(19579): az login issue
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8222): update access code attempts to use attemptsLeft
  portal-ui/component-tests/login/access-code-expired.component-test.js
  portal-ui/server/controllers/login/access-code-expired-page.test.ts
  portal-ui/server/controllers/login/access-code-expired-page.ts
  portal-ui/templates/login/access-code-expired.njk
Due: eslint --fix

feat(DTFS2-8199): fix login
  portal-ui/server/routes/login/index.js
Due: eslint --fix

feat(19579): update auth type
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8199): comment out login check for 2fa
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/portal/cypress/support/portal/login.js
  e2e-tests/ukef/cypress/support/portal/logIn.js
Due: eslint --fix
