Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-6182): remove request bodies from GET endpoints (#2163)
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/facilities/index.js
  trade-finance-manager-ui/server/controllers/facilities/index.test.js
Due: eslint --fix

Feat(DTFS2-6182): replace update deal graphql endpoints with REST endpoint (#2044)
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/activity/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/loss-given-default/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/loss-given-default/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/probability-of-default/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/probability-of-default/index.test.js
Due: eslint --fix

feat(DTFS2-6182): replace update party graphql endpoint with REST endpoint (#2043)
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/controllers/party.controller.js
  trade-finance-manager-api/src/v1/controllers/tfm.controller.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/parties/index.js
Due: eslint --fix

fix(DTFS2-6182): fix facility-risk-profile test
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/facility-risk-profile/index.test.js
Due: eslint --fix

feat(DTFS2-6182): replace qraphql endpoint with rest & wip refactor
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/mappings/map-facility.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/index.js
Due: eslint --fix

Feat(DTFS2-6182): replace update facility graphql endpoint with REST endpoint (#2042)
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/facility-risk-profile/index.js
Due: eslint --fix

feat(DTFS2-6182): cspell
  trade-finance-manager-api/src/v1/graphql-mappings/deal-with-amendment-gef.api-test.js
Due: eslint --fix

feat(DTFS2-6182): replace get deal and get deals graphql endpoints with REST endpoints (#2039)
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/graphql-mappings/filters/filterActivities.api-test.js
  trade-finance-manager-api/src/v1/graphql-mappings/filters/filterActivities.js
  trade-finance-manager-api/src/v1/graphql-mappings/filters/filterTasks.api-test.js
  trade-finance-manager-api/src/v1/graphql-mappings/filters/filterTasks.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/activity/index.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/case/parties/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/lead-underwriter/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/facility-risk-profile/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/loss-given-default/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/probability-of-default/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/underwriter-managers-decision/index.js
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/controllers/deals/index.test.js
Due: eslint --fix

feat(DTFS2-6182): add validation for facility ID to routes.js
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

feat(DTFS2-6182): ui validation for facility id
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(DTFS2-6182): add error handling
  trade-finance-manager-api/src/v1/controllers/facility.controller.js
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

fix(DTFS2-6182): remove passport from put deals submit (#2162)
  trade-finance-manager-api/src/v1/deals/routes.js
  trade-finance-manager-api/src/v1/graphql-mappings/filters/filterActivities.api-test.js
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

fix(DTFS2-6182): fix deal-with-amendment-bss test
  trade-finance-manager-api/src/v1/graphql-mappings/deal-with-amendment-bss.api-test.js
Due: eslint --fix

Apply suggestions from code review
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-6718): migrate update underwriters managers decision in tfm to rest (#2158)
  e2e-tests/tfm/cypress/e2e/journeys/case/activities/activities.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/case/underwriting/underwriter-managers-decision.spec.js
  e2e-tests/tfm/cypress/support/commands.js
  e2e-tests/tfm/cypress/support/ui/type-without-delay.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-lead-underwriter.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-underwriter-managers-decision.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-task.api-test.js
  trade-finance-manager-api/src/graphql/resolvers/mutation-update-underwriter-managers-decision.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/find-one-team.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/index.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal-underwriter-managers-decision.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.update-tfm-underwriter-managers-decision.test.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails-tfm-tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/task-emails.api-test.js
  trade-finance-manager-api/src/v1/controllers/tasks.api-test.js
  trade-finance-manager-api/src/v1/deals/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/underwriter-managers-decision/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/underwriter-managers-decision/index.test.js
  trade-finance-manager-ui/server/graphql/mutations/update-underwriter-managers-decision.js
Due: eslint --fix

feat(DTFS2-6715): migrate get team members in tfm to rest (#2147)
  trade-finance-manager-api/.eslintrc.js
  trade-finance-manager-api/api-tests/api-ssrf.api-test.js
  trade-finance-manager-api/api-tests/api.js
  trade-finance-manager-api/api-tests/common-tests/client-authentication-tests.js
  trade-finance-manager-api/api-tests/v1/teams/get-team-members.api-test.js
  trade-finance-manager-api/graphql-query-tests/get-team-members.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/graphql-mappings/teamMembers.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-api/src/v1/swagger.js
  trade-finance-manager-api/src/v1/teams/routes.js
  trade-finance-manager-api/src/v1/teams/team-id-param.validator.js
  trade-finance-manager-api/src/v1/teams/teams.js
  trade-finance-manager-api/src/v1/teams/teams.test.js
  trade-finance-manager-api/src/v1/validation/validateIds.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentTasks.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/leadUnderwriter.controller.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/lead-underwriter/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/lead-underwriter/index.test.js
  trade-finance-manager-ui/server/graphql/queries/team-members-query.js
Due: eslint --fix

chore(DTFS2-6182): run tests and lint on combined branch
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

feat(FN-980): update error handling, fix api tests
  dtfs-central-api/src/v1/controllers/portal/utilisation-report-service/previous-reports.controller.js
  portal-api/api-tests/api-test-users.js
  portal-api/api-tests/common-tests/role-authorisation-tests.js
  portal-api/api-tests/v1/utilisation-report-service/previous-reports.api-test.js
  portal-api/src/v1/controllers/utilisation-report-service/previous-reports.controller.js
  portal-api/src/v1/roles/user-has-at-least-one-allowed-role.test.js
Due: eslint --fix

feat(FN-980): formatting
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
Due: eslint --fix

feat(FN-1145): Add ClamAV - public subnet version
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/clamav.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
Due: none

feat(FN-1145): Add ClamAV - use private subnet
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/clamav.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-1145): Add ClamAV - reduce subnet size to minimise IP change risk
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/clamav.bicep
Due: none

feat(FN-1145): Add ClamAV - add subnet details for other environments
  infrastructure/resource_group_level/main.bicep
Due: none

add branch for test deploy
  .github/workflows/bicep_workflow_feature.yml
Due: none

feat(FN-967): add extra logic for routing requests for uploading utilisation report
  dtfs-central-api/src/v1/controllers/utilisation-report-service/upload-utilisation-report.controller.js
  dtfs-central-api/src/v1/routes/portal-routes.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/roles/roles.js
  portal-api/src/v1/routes.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(mongodb): Fix vulnerable version of `mongodb` (#2165)
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

make a public clamAV instance
  .github/workflows/bicep_workflow_feature.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/clamav-public.bicep
Due: none

feat(FN-967): send file and data to portal API with mocked file
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/routes.js
  portal/server/api.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(FN-980): fix tests
  portal-api/api-tests/api-test-users.js
Due: eslint --fix

feat(FN-997): add in correct check for clamav scanning being enabled
  portal/server/routes/middleware/virusScanUpload/index.js
Due: eslint --fix

feat(FN-997): add in correct check for clamav scanning being enabled (#2180)
  portal/server/routes/middleware/virusScanUpload/index.js
Due: eslint --fix

feat(FN-977): add logging
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(FN-997): deploy
  .github/workflows/feature_deploy.yml
Due: none

feat(FN-997): add extra logging
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(FN-974): fix tests
  portal-api/api-tests/api-test-users.js
Due: eslint --fix

feat(DTFS2-6744): add feature flag for magic link
  portal-api/src/config/feature-flag.config.js
  portal-api/src/v1/users/routes.js
  portal/server/config/feature-flag.config.js
  portal/server/routes/login.js
Due: eslint --fix

feat(DTFS2-6744): add feature flag for magic link
  portal-api/src/config/feature-flag.config.js
  portal/server/config/feature-flag.config.js
  portal/server/routes/login.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
