Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(16188): nsg issue fix
  infrastructure/resource_group_level/modules/gw-nsg.bicep
Due: none

feat(DTFS2-8222): remove api tests
  portal-ui/api-tests/login/account-suspended-api-test.js
  portal-ui/api-tests/login/account-suspended.api-test.js
  portal-ui/api-tests/login/post-access-code-expired.api-test.js
Due: eslint --fix

feat(DTFS2-8256): fix test
  portal-ui/api-tests/login/post-check-your-email-access-code.api-test.ts
  portal-ui/api-tests/login/post-new-access-code.api-test.ts
  portal-ui/api-tests/login/post-resend-another-access-code.api-test.ts
  portal-ui/api-tests/login/send-otp-access-code-api-tests.ts
Due: eslint --fix

feat(DTFS2-8316): apim - create gift facility - repayment profiles
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-repayment-profiles/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-repayment-profiles/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types.ts
Due: eslint --fix

feat(16188): nsg issue fix
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/modules/gw-nsg.bicep
Due: none

feat(16188): nsg issue fix
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(16188): db issue fix
  infrastructure/resource_group_level/modules/cosmosdb.bicep
Due: none

feat(16188): ca issue fix
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/modules/clamav-aca.bicep
Due: none

feat(16188): ca issue fix
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/parameters_dev.json
Due: none

feat(DTFS2-8319): external api - get ukef industry code by companies house industry code
  external-api/api-tests/v1/ukef-industry-code.api-test.ts
  external-api/server/helpers/swagger-definitions/ukef-industry-code.ts
  external-api/server/v1/controllers/ukef-industry-code.controller.test.ts
  external-api/server/v1/controllers/ukef-industry-code.controller.ts
  external-api/server/v1/routes/external-apis.route.ts
Due: eslint --fix

feat(DTFS2-8256): mock feature flag
  portal-ui/api-tests/common-tests/role-validation-with-otp-api-tests.ts
  portal-ui/api-tests/login/get-account-suspended-access-code.api-test.ts
  portal-ui/api-tests/login/get-check-your-email-access-code.api-test.ts
  portal-ui/api-tests/login/get-request-new-access-code.api-test.ts
  portal-ui/api-tests/login/get-resend-another-access-code.api-test.ts
Due: eslint --fix

feat(DTFS2-8256): mock feature flag
  portal-ui/api-tests/login/post-login.api-test.ts
Due: eslint --fix

feat(DTFS2-8256): fix
  portal-ui/api-tests/login/get-new-access-code.api-test.ts
Due: eslint --fix

feat(DTFS2-8316): markups
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

feat(16188): param issue fix
  .github/workflows/bicep_infrastructure.yml
Due: none

feat(DTFS2-8222): add isApiErrorResponse type gaurd
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-api-error-response.test.ts
  libs/common/src/helpers/is-api-error-response.ts
  portal-ui/server/controllers/login/attempt-otp-login.ts
  portal-ui/server/helpers/has-errors-property.test.ts
  portal-ui/server/helpers/has-errors-property.ts
Due: eslint --fix

feat(16188): update param desc
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/parameters_dev.json
Due: none

feat(16188): update param desc
  infrastructure/resource_group_level/main.bicep
Due: none

feat(16188): update line spaces
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(DTFS2-8314): apim - create gift facility - counterparties (#4673)
  libs/common/src/helpers/get-tfm-ukef-deal-id.ts
  libs/common/src/helpers/has-been-submitted-to-tfm.test.ts
  libs/common/src/types/mongo-db-models/deals.ts
  portal-api/server/v1/gef/services/clone/clone-deal.service.test.ts
  portal-api/server/v1/gef/services/clone/helpers/generate-cloned-deal.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-party-urns/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-party-urns/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-counterparties/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types.ts
  utils/create-keying-sheet-tfm-facilities/mock-data/deal.ts
Due: eslint --fix

chore(main): release 2.12.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-8319): create gift facility - data mapping - industry code
  libs/common/src/types/mongo-db-models/deals.ts
  portal-ui/server/routes/contract/about/getIndustryById/index.js
  portal-ui/server/routes/contract/about/industryFields/index.js
  trade-finance-manager-api/server/v1/api-response-types/ukef-industry-code.ts
  trade-finance-manager-api/server/v1/api.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-party-urns/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/get-industry-code/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/get-industry-code/index.ts
Due: eslint --fix

feat(DTFS2-8316): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

feat(DTFS2-8316): fix lint issue
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
Due: eslint --fix

feat(DTFS2-8319): markups
  external-api/api-tests/v1/ukef-industry-code.api-test.ts
  external-api/server/helpers/swagger-definitions/ukef-industry-code.ts
  external-api/server/v1/controllers/ukef-industry-code.controller.ts
  external-api/server/v1/routes/external-apis.route.ts
  trade-finance-manager-api/server/v1/api-response-types/index.ts
  trade-finance-manager-api/server/v1/api.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
Due: eslint --fix

feat(DTFS2-8319): fix mock submissionDetails
  libs/common/src/helpers/has-been-submitted-to-tfm.test.ts
Due: eslint --fix

feat(DTFS2-8319): fix/update tests
  external-api/api-tests/v1/ukef-industry-code.api-test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/get-party-urns/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.test.ts
Due: eslint --fix

feat(DTFS2-8319): update ukef industry code controller
  external-api/api-tests/v1/ukef-industry-code.api-test.ts
  external-api/server/v1/controllers/ukef-industry-code.controller.ts
Due: eslint --fix

feat(DTFS2-8319): fix/update credit risk ratings mapping
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/map-apim-credit-risk-ratings/index.ts
Due: eslint --fix

feat(DTFS2-8222): add errorsIncludeMesage util
  libs/common/src/helpers/errors-include-message.test.ts
  libs/common/src/helpers/errors-include-message.ts
  libs/common/src/helpers/index.ts
  portal-ui/server/controllers/login/attempt-otp-login.ts
  portal-ui/server/controllers/login/get-access-code-expired-page.test.ts
  portal-ui/server/controllers/login/get-access-code-expired-page.ts
Due: eslint --fix

feat(DTFS2-8222): add boundray to not send otp and email when third otp expired
  portal-ui/server/controllers/login/get-request-new-access-code.test.ts
  portal-ui/server/controllers/login/get-request-new-access-code.ts
Due: eslint --fix

feat(DTFS2-83154): apim - create gift facility - data mapping - obligations
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-overview/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-risk-details/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types.ts
Due: eslint --fix

feat(DTFS2-8315): external api endpoint to get obligation subtypes
  external-api/server/helpers/swagger-definitions/obligation-subtype.ts
  external-api/server/v1/controllers/obligation-subtypes.controller.test.ts
  external-api/server/v1/controllers/obligation-subtypes.controller.ts
  external-api/server/v1/routes/external-apis.route.ts
  trade-finance-manager-api/server/v1/api.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/index.ts
Due: eslint --fix

feat(DTFS2-8315): apim - create gift facility - data mapping - obligations
  trade-finance-manager-api/server/v1/api-response-types/credit-risk-rating.ts
  trade-finance-manager-api/server/v1/api-response-types/index.ts
  trade-finance-manager-api/server/v1/api-response-types/obligation-subtype.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
Due: eslint --fix

feat(DTFS2-8319): fix typo
  trade-finance-manager-api/server/v1/mappings/map-apim-credit-risk-ratings/index.ts
Due: eslint --fix

feat(DTFS2-8319): mock api calls
  trade-finance-manager-api/server/v1/__mocks__/api.js
  trade-finance-manager-api/server/v1/__mocks__/mock-credit-risk-ratings.js
  trade-finance-manager-api/server/v1/__mocks__/mock-ukef-industry-code.js
Due: eslint --fix

feat(DTFS2-8315): address todo comments
  external-api/server/v1/routes/external-apis.route.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-obligations/index.ts
Due: eslint --fix
