Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix: added github commit name
  .github/workflows/github.yml
Due: none

feat(FN-2654): review comments
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/report-uploaded/report-uploaded.event-handler.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.types.ts
Due: eslint --fix

fix(DTFS2-7105): added github commit name
  .github/workflows/github.yml
Due: none

fix(dtfs2-6119): update hidden element position in dom
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/templates/index.njk
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/templates/index.njk
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

fix(DTFS2-7105): unified util package.json
  azure-functions/acbs-function/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/package.json
Due: sort-package-json

fix(DTFS2-7105): lint fix
  utils/data-migration/tfm/migrate-tfm-users.js
Due: eslint --fix

fix(DTFS2-7105): lint fixes
  libs/common/.eslintrc.js
  libs/common/src/cron-scheduler/scheduler.ts
  libs/common/src/cron-scheduler/scheduler.types.ts
  libs/common/src/helpers/change-stream/generate-audit-database-record.test.ts
  libs/common/src/helpers/change-stream/generate-audit-details.test.ts
  libs/common/src/helpers/change-stream/validate-audit-details.test.ts
  libs/common/src/helpers/change-stream/validate-audit-details.ts
  libs/common/src/helpers/string.ts
  libs/common/src/helpers/validation.test.ts
Due: eslint --fix

fix(dtfs2-6119): update hidden element to only be created if button disabled
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/templates/index.njk
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/templates/index.njk
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

feat(DTFS2-7105): unified prettier configuration (#3045)
  .github/workflows/github.yml
  .husky/commit-msg
  .prettierrc.json
  azure-functions/acbs-function/package.json
  e2e-tests/package.json
  external-api/.prettierrc.json
  external-api/package.json
  gef-ui/package.json
  libs/common/.eslintrc.js
  libs/common/src/cron-scheduler/scheduler.ts
  libs/common/src/cron-scheduler/scheduler.types.ts
  libs/common/src/helpers/change-stream/generate-audit-database-record.test.ts
  libs/common/src/helpers/change-stream/generate-audit-details.test.ts
  libs/common/src/helpers/change-stream/validate-audit-details.test.ts
  libs/common/src/helpers/change-stream/validate-audit-details.ts
  libs/common/src/helpers/string.ts
  libs/common/src/helpers/validation.test.ts
  package-lock.json
  package.json
  portal-api/.prettierrc.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/data-migration/tfm/migrate-tfm-users.js
  utils/mock-data-loader/package-lock.json
  utils/package.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7124): Add `Shawbrook` bank to portal (#3041)
  .github/workflows/test.yml
  e2e-tests/portal/cypress/e2e/journeys/homepage/content.spec.js
  e2e-tests/portal/cypress/e2e/pages/login/index.js
  portal/templates/_partials/before-you-start.njk
Due: eslint --fix

fix(dtfs2-6119): rework
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
Due: eslint --fix

fix(FN-1859): batch save fee records in uploading report (#3043)
  dtfs-central-api/src/helpers/fee-record.helper.test.ts
  dtfs-central-api/src/helpers/fee-record.helper.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.test.ts
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/report-uploaded/report-uploaded.event-handler.test.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/event-handlers/report-uploaded/report-uploaded.event-handler.ts
  dtfs-central-api/src/services/state-machines/utilisation-report/utilisation-report.state-machine.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/post-upload-utilisation-report.controller/index.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.entity.ts
  libs/common/src/sql-db-entities/fee-record/fee-record.types.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.test.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.entity.ts
  libs/common/src/sql-db-entities/utilisation-report/utilisation-report.types.ts
Due: eslint --fix

fix(dtfs2-6119): rework
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/templates/index.njk
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/templates/index.njk
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

fix(dtfs2-6119): update sha
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/templates/index.njk
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/templates/index.njk
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

fix(dtfs2-6119): refactor
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
Due: eslint --fix

fix(dtfs2-6119): update array
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/templates/index.njk
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/templates/index.njk
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

feat(FN-2623): fix start detach script error
  package.json
Due: sort-package-json

feat(DTFS2-7118): code review
  libs/common/src/helpers/date.ts
  libs/common/src/types/audit-database-record.ts
  libs/common/src/types/date.ts
  portal-api/api-tests/v1/feedback/feedback.api-test.js
Due: eslint --fix

feat(FN-2623): fix start detach script error (#3049)
  package.json
Due: sort-package-json

fix(dtfs2-6119): fix to review comments
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
Due: eslint --fix

feat(tfm-release-6): enable running pipeline on pull request to this branch
  .github/workflows/test.yml
Due: none

feat(DTFS2-7118): update eslint config
  libs/common/.eslintrc.js
Due: eslint --fix

feat(FN-1615): add seeder for fee records
  utils/sql-db-seeder/src/fee-record/fee-record.helper.ts
  utils/sql-db-seeder/src/fee-record/fee-record.seed.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix

feat(FN-1615): run pipeline on changes to sql seeder
  .github/workflows/test.yml
Due: none

feat(FN-1615): seed fee record with utilisation reports
  utils/sql-db-seeder/src/fee-record/fee-record.helper.ts
  utils/sql-db-seeder/src/fee-record/fee-record.seed.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.helper.ts
  utils/sql-db-seeder/src/utilisation-report/utilisation-report.seed.ts
Due: eslint --fix

fix(dtfs2 6119): update prevent double click occuring (#3033)
  gef-ui/public/js/disableFormSubmitOnSubmission.js
  gef-ui/public/js/disableFormSubmitOnSubmission.js.map
  gef-ui/templates/index.njk
  gef-ui/webpack.common.config.js
  libs/common/src/ui-scripts/disable-form-submit-on-submission.js
  portal/public/css/styles.css
  portal/public/js/disableFormSubmitOnSubmission.js
  portal/public/js/disableFormSubmitOnSubmission.js.map
  portal/public/js/govukFrontend.js.map
  portal/templates/index.njk
  portal/webpack.common.config.js
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js
  trade-finance-manager-ui/public/js/disableFormSubmitOnSubmission.js.map
  trade-finance-manager-ui/public/js/govukFrontend.js.map
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/webpack.common.config.js
Due: eslint --fix

feat(DTFS2-7118): use noUserLoggedIn audit record on login routes
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
