Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(DTFS2-NONE): code review
  portal/server/constants/index.js
  portal/server/constants/login-status.ts
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-upload-errors.test.ts
  portal/server/generateApp.ts
  portal/server/helpers/express-session.ts
  portal/server/routes/admin/index.ts
Due: eslint --fix

chore(DTFS2-NONE): fix failing tests
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-upload-errors.test.ts
  portal/server/generateApp.ts
  portal/server/test-mocks/mock-portal-session-user.ts
Due: eslint --fix

chore(DTFS2-NONE): use express session helpers
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-upload-errors.ts
  portal/server/generateApp.ts
  portal/server/helpers/express-session.ts
  portal/server/types/express-session.d.ts
Due: eslint --fix

chore(DTFS2-7023): use http-errors for error validation
  portal/package-lock.json
  portal/package.json
  portal/server/generateApp.ts
  portal/server/helpers/index.js
  portal/server/helpers/isObject.ts
Due: eslint --fix, sort-package-json

chore(DTFS2-NONE): revert change to docker file
  portal/Dockerfile
Due: none

chore(DTFS2-NONE): update unit tests
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.test.js
Due: eslint --fix

chore(DTFS2-NONE): handle unknown error correctly
  portal/server/generateApp.ts
  portal/server/helpers/index.js
  portal/server/helpers/isObject.ts
Due: eslint --fix

chore(DTFS2-6993): remove moment from package dependencies
  portal/package-lock.json
  portal/package.json
Due: sort-package-json

feat(DTFS2-6965): updating testing env variables
  .github/workflows/test.yml
  docker-compose.gha.yml
  docker-compose.yml
Due: none

chore(DTFS2-6993): remove import from constants in e2e test
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
  e2e-tests/portal/cypress/fixtures/constants.js
Due: eslint --fix

feat(DTFS2-6965): revert mongo uri change
  .github/workflows/test.yml
Due: none

feat(DTFS2-6965): fix test.yml and remove unnecessary script volume from docker-compose
  .github/workflows/test.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
Due: none

fix(DTFS2-7014): added unit test cases
  portal/server/constants/status.js
  portal/server/helpers/dealFormsCompleted.test.js
Due: eslint --fix

feat(DTFS2-6965): try increasing sleep on tests
  .github/workflows/test.yml
Due: none

fix(DTFS2-7014): fixed unit test
  portal/server/routes/contract/isDealEditable.js
Due: eslint --fix

feat(DTFS2-6965): debug statements
  utils/mock-data-loader/database/user-repository.js
Due: eslint --fix

feat(DTFS2-6965): add extra logging
  utils/mock-data-loader/database/user-repository.js
Due: eslint --fix

feat(DTFS2-6965): increase timeout again
  .github/workflows/test.yml
Due: none

fix(DTFS2-7014): removed porta from ui test
  .github/workflows/test.yml
Due: none

feat(DTFS2-6965): remove replica set from GHA db
  docker-compose.gha.yml
Due: none

feat(DTFS2-6965): reduce sleep back to 60s
  .github/workflows/test.yml
Due: none

feat(DTFS2-6965): fix tests
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/index.ts
Due: eslint --fix

fix(DTFS2-7022): restrict sign in link expired path (#2750)
  gef-ui/README.md
  portal/README.md
  portal/api-tests/login/get-sign-in-link-expired.api-test.js
  portal/api-tests/login/other-login-routes.api-test.js
  portal/server/routes/login/index.js
  trade-finance-manager-ui/README.md
Due: eslint --fix

fix(DTFS2-7014): added await to country disable check
  portal-api/src/v1/validation/submission-details-rules/buyer-address-is-required.js
  portal-api/src/v1/validation/submission-details-rules/supplier-address-is-required.js
Due: eslint --fix

chore(DTFS2-6993): remove moment.js from tests in portal (#2690)
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/AIN-facility-cover-start-date-validation-past-3-months.spec.js
  e2e-tests/portal/cypress/fixtures/constants.js
  portal/component-tests/admin/user-edit.component-test.js
  portal/component-tests/bond/_macros/bond-submission-details.component-test.js
  portal/component-tests/contract/components/bond-transactions-table.component-test.js
  portal/component-tests/contract/components/contract-overview-table.component-test.js
  portal/component-tests/contract/components/loan-transactions-table.component-test.js
  portal/component-tests/contract/contract-submission-details.component-test.js
  portal/component-tests/contract/contract-view.component-test.js
  portal/component-tests/fixtures/deal-fully-completed.js
  portal/component-tests/loan/_macros/loan-submission-details.component-test.js
  portal/package-lock.json
  portal/package.json
  portal/server/constants/date.ts
  portal/server/constants/index.js
  portal/server/helpers/date.ts
Due: eslint --fix, sort-package-json

chore(DTFS2-7023): add typescript to portal routes (#2594)
  dtfs-central-api/src/types/db-models/users.ts
  portal/package-lock.json
  portal/package.json
  portal/server/constants/index.js
  portal/server/constants/login-status.ts
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-upload-errors.test.ts
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-upload-errors.ts
  portal/server/generateApp.js
  portal/server/generateApp.ts
  portal/server/helpers/express-session.ts
  portal/server/helpers/index.js
  portal/server/routes/admin/index.js
  portal/server/routes/admin/index.ts
  portal/server/routes/index.js
  portal/server/routes/index.ts
  portal/server/test-mocks/mock-portal-session-user.ts
  portal/server/types/bank.ts
  portal/server/types/date.ts
  portal/server/types/express-session.d.ts
  portal/server/types/portal-session-user.ts
  portal/server/types/session-bank.ts
Due: eslint --fix, sort-package-json

fix(DTFS2-7014): fixed unit test
  portal-api/src/external-api/__mocks__/countries.js
  portal-api/src/v1/validation/fields/country.test.js
Due: eslint --fix

feat(FN-1855): review updates
  e2e-tests/gef/cypress/support/commands/loadData.js
  e2e-tests/package.json
  e2e-tests/support/tasks.js
  libs/common/src/helpers/string.ts
Due: eslint --fix, sort-package-json

refactor(FN-2226): remove suppression of eslint 'default-param-last' rule
  dtfs-central-api/src/v1/validation/create-facility-rules/associated-deal-id.js
  dtfs-central-api/src/v1/validation/create-facility-rules/type.js
Due: eslint --fix

fix(DTFS2-7014): added return
  portal-api/src/v1/controllers/countries.controller.js
Due: eslint --fix

feat(FN-1855): review updates
  README.md
  doc/npm-workspaces.md
  dtfs-central-api/src/types/db-models/users.ts
  dtfs-central-api/src/types/db-models/utilisation-reports.ts
  dtfs-central-api/src/types/portal/portal-session-user.ts
  dtfs-central-api/src/types/tfm/tfm-session-user.ts
  libs/common/src/types/types-helper.ts
Due: eslint --fix

feat(FN-1947): add scheduler to create utilisation reports (#2695)
  .env.sample
  .github/workflows/test.yml
  cspell.json
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/index.ts
  dtfs-central-api/src/scheduler/index.ts
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.test.ts
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.ts
  dtfs-central-api/src/scheduler/jobs/index.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.ts
  dtfs-central-api/src/types/db-models/banks.ts
  dtfs-central-api/src/types/db-models/utilisation-reports.ts
  dtfs-central-api/src/types/scheduler-job.ts
  dtfs-central-api/src/utils/report-period.test.ts
  dtfs-central-api/src/utils/report-period.ts
Due: eslint --fix, sort-package-json

feat(FN-1549): enable github actions on pull request
  .github/workflows/test.yml
Due: none

feat(FN-1549): set feature branch to deploy to feature env (#2752)
  .github/workflows/feature_deploy.yml
Due: none

revert formatting
  cspell.json
Due: none

minor doc update
  docs/state-machines.md
Due: none

with await
  docs/state-machines.md
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
