Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(FN-3581): add request sent page template
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/request-sent.njk
Due: none

feat(FN-3581): tfm ui to handle request sent behaviour
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/check-the-information/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/request-sent/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/express-session.d.ts
  trade-finance-manager-ui/server/types/view-models/record-correction/index.ts
  trade-finance-manager-ui/server/types/view-models/record-correction/record-correction-request-sent-view-model.ts
Due: eslint --fix

feat(FN-3581): add api test TODO comment to central api
  dtfs-central-api/api-tests/v1/utilisation-reports/fee-record-corrections/post-fee-record-correction.api-test.ts
Due: eslint --fix

feat(DTFS2-7653): improve deal, deal cancellation services
  dtfs-central-api/src/services/portal/deal.service.add-deal-cancelled-activity.test.ts
  dtfs-central-api/src/services/portal/deal.service.add-gef-deal-cancellation-pending-activity.test.ts
  dtfs-central-api/src/services/portal/deal.service.add-gef-deal-cancelled-activity.test.ts
  dtfs-central-api/src/services/portal/deal.service.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.processPendingCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.submitDealCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.ts
Due: eslint --fix

feat(DTFS2-7653): simplify unit test
  dtfs-central-api/src/services/portal/deal.service.add-gef-deal-cancelled-activity.test.ts
Due: eslint --fix

chore(DTFS2-7688): fixed test.yml
  .github/workflows/test.yml
Due: none

feat(FN-3581): add cy test attribute on template panel
  trade-finance-manager-ui/templates/utilisation-reports/record-corrections/request-sent.njk
Due: none

fix(DTFS2-7694): argument as an object
  azure-functions/acbs-function/src/functions/acbs-amend-facility-master-record.js
  azure-functions/acbs-function/src/functions/acbs-issue-facility.js
  azure-functions/acbs-function/src/functions/activity-get-facility-loan-id.js
  azure-functions/acbs-function/src/functions/activity-get-facility-master.js
Due: eslint --fix

chore(DTFS2-7431): fixed failing test
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-details.spec.js
Due: eslint --fix

feat(DTFS2-7653): simplify unit test
  dtfs-central-api/src/services/tfm/deal-cancellation.service.processPendingCancellation.test.ts
Due: eslint --fix

chore(DTFS2-7565): trigger build
  README.md
Due: none

chore(DTFS2-7688): removed commented out code
  .github/workflows/test.yml
Due: none

feat(DTFS2-7674): update unit test
  dtfs-central-api/src/services/portal/facility-amendment.upsertPortalFacilityAmendmentDraft.service.test.ts
Due: eslint --fix

feat(DTFS2-7674): update TestApiError call
  dtfs-central-api/src/v1/controllers/portal/facility/put-amendment.controller.test.ts
Due: eslint --fix

feat(DTFS2-7616): remove dev and feature from QAT (#4046)
  .gitattributes
  .github/actions/functions/action.yml
  .github/actions/mssql/action.yml
  .github/actions/rerun/action.yml
  .github/actions/webapp/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(DTFS2-7694): argument as an object (#4054)
  azure-functions/acbs-function/src/functions/acbs-amend-facility-master-record.js
  azure-functions/acbs-function/src/functions/acbs-issue-facility.js
  azure-functions/acbs-function/src/functions/activity-get-facility-loan-id.js
  azure-functions/acbs-function/src/functions/activity-get-facility-master.js
Due: eslint --fix

feat(DTFS2-7659): fix/update activity issue
  gef-ui/templates/_macros/application-activity/activity-html.njk
  gef-ui/templates/_macros/application-activity/facility.njk
Due: none

feat(DTFS2-7671): add amendment Id error
  libs/common/src/errors/index.ts
  libs/common/src/errors/invalid-amendment-id.error.test.ts
  libs/common/src/errors/invalid-amendment-id.error.ts
  portal-api/src/v1/api.js
Due: eslint --fix

feat(DTFS2-7671): add api test
  portal-api/api-tests/types/test-user.ts
  portal-api/api-tests/v1/gef/amendments/amendments.get.api-test.ts
  portal-api/api-tests/v1/gef/amendments/get-amendment-url.ts
Due: eslint --fix

chore(DTFS2-7688): added cy.wrap to ukef tests
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-with-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-without-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-refused-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/AIN-future-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/AIN-past-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/MIN-future-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/MIN-past-cancellation-updates-portal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/BSS-EWCS/deal-cancellation-maker-unable-issue-facility.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-default-credit-rating-in-tfm/submit-AIN-deal-creates-default-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tasks-in-tfm/submit-AIN-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tfm-deal-stage-and-product/submit-AIN-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-updates-portal-deal-status/submit-AIN-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tasks-in-tfm/submit-MIA-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tfm-deal-stage-and-product/submit-MIA-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-updates-portal-deal-status/submit-MIA-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-changes-tfm-stage-to-confirmed/submit-MIN-changes-tfm-stage-to-confirmed.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-deal-does-not-create-credit-rating-in-tfm/submit-MIN-deal-does-not-create-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-deal-updates-portal-deal-status/submit-MIN-deal-updates-portal-deal-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-adds-risk-profile-to-facilities/submit-deal-adds-risk-profile-to-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-converts-contract-value-to-gbp/submit-deal-converts-contract-value-to-gbp.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-creates-loss-given-and-probability-defaults-in-tfm/submit-deal-creates-loss-given-and-probability-defaults-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-issued-facilities/submit-deal-with-issued-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-non-gbp-facilities/submit-deal-with-non-gbp-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued.spec.js
Due: eslint --fix

chore(DTFS2-7565): remove service-unavailable directory (#4048)
  README.md
  service-unavailable/assets/fonts/bold-affa96571d-v2.woff
  service-unavailable/assets/fonts/bold-b542beb274-v2.woff2
  service-unavailable/assets/fonts/light-94a07e06a1-v2.woff2
  service-unavailable/assets/fonts/light-f591b13f7d-v2.woff
  service-unavailable/assets/images/favicon.ico
  service-unavailable/assets/images/govuk-apple-touch-icon-152x152.png
  service-unavailable/assets/images/govuk-apple-touch-icon-167x167.png
  service-unavailable/assets/images/govuk-apple-touch-icon-180x180.png
  service-unavailable/assets/images/govuk-apple-touch-icon.png
  service-unavailable/assets/images/govuk-crest-2x.png
  service-unavailable/assets/images/govuk-crest.png
  service-unavailable/assets/images/govuk-logotype-crown.png
  service-unavailable/assets/images/govuk-logotype-tudor-crown.png
  service-unavailable/assets/images/govuk-mask-icon.svg
  service-unavailable/assets/images/govuk-opengraph-image.png
  service-unavailable/govuk-frontend-5.7.1.min.css
  service-unavailable/index.html
Due: none

feat(DTFS2-7470): update test description
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/gef/deal-cancellation-maker-unable-issue-facility.spec.js
Due: eslint --fix

feat(DTFS2-7671): test fixes
  portal-api/api-tests/v1/gef/amendments/amendments.get.api-test.ts
  portal-api/src/v1/controllers/amendments/get-amendment.test.ts
Due: eslint --fix

feat(DTFS2-7653): fix typo
  dtfs-central-api/src/services/tfm/deal-cancellation.service.processPendingCancellation.test.ts
Due: eslint --fix

chore(DTFS2-7435): replaced insertOneGefApplication with createGefDeal
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-keyword.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-multiple-fields.spec.js
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-deals/filter-by/dashboard-deals-filter-by-notice-type.spec.js
Due: eslint --fix

feat(DTFS2-7689): add patch endpoint
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.ts
  dtfs-central-api/src/services/portal/facility-amendment.service.ts
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment.controller.ts
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-payload.ts
Due: eslint --fix

feat(DTFS2-7689): add new route & api test
  dtfs-central-api/api-tests/v1/portal-facility-amendments/amendment-patch.api-test.ts
  dtfs-central-api/src/v1/routes/portal-routes.js
Due: eslint --fix

feat(DTFS2-7689): add repo unit test
  dtfs-central-api/src/repositories/tfm-facilities-repo/tfm-facilities.repo.updatePortalFacilityAmendmentByAmendmentId.test.ts
Due: eslint --fix

feat(DTFS2-7689): add service unit test
  dtfs-central-api/src/services/portal/facility-amendment.updatePortalFacilityAmendment.service.test.ts
  dtfs-central-api/src/services/portal/facility-amendment.upsertPortalFacilityAmendmentDraft.service.test.ts
Due: eslint --fix

feat(DTFS2-7689): add controller unit test
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment.controller.test.ts
Due: eslint --fix

feat(DTFS2-7689): add unit test for patch payload validation
  dtfs-central-api/src/v1/routes/middleware/payload-validation/validate-patch-portal-facility-amendment-payload.test.ts
Due: eslint --fix

chore(DTFS2-7688): added cypress timeouts
  e2e-tests/gef/cypress.config.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/ukef/cypress.config.js
Due: eslint --fix

feat(DTFS2-7689): update TestApiError call
  dtfs-central-api/src/v1/controllers/portal/facility/patch-amendment.controller.test.ts
Due: eslint --fix

feat(DTFS2-7671): remove amendment id error
  libs/common/src/errors/index.ts
  libs/common/src/errors/invalid-amendment-id.error.test.ts
  libs/common/src/errors/invalid-amendment-id.error.ts
Due: eslint --fix

feat(DTFS2-7671): use middleware to check valid ids
  portal-api/api-tests/v1/gef/amendments/amendments.get.api-test.ts
  portal-api/src/v1/api.js
  portal-api/src/v1/gef/routes.js
  portal-api/src/v1/validation/route-validators/route-validators.js
Due: eslint --fix

chore(DTFS2-7688): increase cypress timeouts
  e2e-tests/gef/cypress.config.js
  e2e-tests/portal/cypress.config.js
  e2e-tests/tfm/cypress.config.js
  e2e-tests/ukef/cypress.config.js
Due: eslint --fix

feat(DTFS2-7670): add unit tests for calling getApplication & getFacility
  gef-ui/server/controllers/amendments/facility-value/get-facility-value.test.ts
Due: eslint --fix

feat(DTFS2-7670): update userCanAmendFacility filename
  gef-ui/server/utils/facility-amendments.helper.userCanAmendFacility.test.ts
Due: eslint --fix

feat(DTFS2-7470): portal cancel deal maker unable to issue a cash contingent facility (#3938)
  e2e-tests/e2e-fixtures/gef/mocks/mock-deals.js
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
  e2e-tests/gef/cypress/e2e/pages/index.js
  e2e-tests/tfm/cypress/e2e/pages/index.js
  e2e-tests/ukef/cypress.config.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/deal-cancellation/gef/deal-cancellation-maker-unable-issue-facility.spec.js
  e2e-tests/ukef/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/external-api/api.js
  e2e-tests/ukef/cypress/support/portal-api/api.js
  e2e-tests/ukef/cypress/support/portal-api/createGefFacilities.js
  e2e-tests/ukef/cypress/support/portal-api/getOneGefDeal.js
  e2e-tests/ukef/cypress/support/portal-api/insertManyGefDeals.js
  e2e-tests/ukef/cypress/support/portal-api/insertOneGefDeal.js
  e2e-tests/ukef/cypress/support/portal-api/updateGefDeal.js
  e2e-tests/ukef/cypress/support/portal/checkerLoginSubmitGefDealToUkef.js
  e2e-tests/ukef/cypress/support/portal/makerLoginSubmitGefDealForReview.js
  e2e-tests/ukef/cypress/support/utils/clearSessionCookies.js
  libs/common/src/constants/e2e-fixtures.ts
  libs/common/src/constants/facility-day-count-basis.ts
  libs/common/src/constants/facility-fee-frequency.ts
  libs/common/src/constants/facility-fee-type.ts
  libs/common/src/constants/geospatial.constant.ts
  libs/common/src/constants/index.ts
  libs/common/src/constants/tfm/comment-type.ts
  libs/common/src/constants/tfm/index.ts
  libs/common/src/constants/tfm/underwriter-manager-decisions.ts
  libs/common/src/constants/tfm/url.ts
Due: eslint --fix

fix(DTFS2-7616): manual dev deployment
  .github/workflows/deployment.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
