Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-16188): reverted placeholder name
  .github/workflows/bicep_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(DTFS2-8431-8432): submit amendment to ukef flags/logic
  gef-ui/component-tests/partials/amendments/amendment-details-further-makers-input-required.component-test.ts
  gef-ui/component-tests/partials/amendments/amendment-details-ready-for-checkers-approval.component-test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.ts
  gef-ui/server/types/view-models/amendments/amendment-details-view-model.ts
  gef-ui/templates/includes/submit/submit-to-ukef.njk
  gef-ui/templates/partials/amendments/amendment-details.njk
Due: eslint --fix

chore(deps): update dependencies (#4785)
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(DTFS2-8431-8432): external api - return status only
  external-api/api-tests/v1/gift-facility.api-test.ts
  external-api/server/v1/controllers/gift-facility.controller.test.ts
  external-api/server/v1/controllers/gift-facility.controller.ts
Due: eslint --fix

feat(DTFS2-8431-8432): update tfm external api handling
  trade-finance-manager-api/server/v1/api.js
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.test.ts
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/api.ts
Due: eslint --fix

feat(DTFS2-8431-8432): markups
  external-api/api-tests/v1/gift-facility.api-test.ts
  external-api/server/v1/controllers/gift-facility.controller.test.ts
  gef-ui/component-tests/partials/amendments/amendment-details-further-makers-input-required.component-test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.test.ts
  libs/common/src/helpers/date.ts
  trade-finance-manager-api/server/v1/routes.js
Due: eslint --fix

feat(DTFS2-16188): resolved some more comments by copilot
  .github/workflows/bicep_infrastructure.yml
  .github/workflows/deployment_dev.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/parameters_dev.json
Due: none

feat(DTFS2-8431-8432): markups
  external-api/api-tests/v1/gift-facility.api-test.ts
  external-api/server/v1/controllers/gift-facility.controller.test.ts
  external-api/server/v1/controllers/gift-facility.controller.ts
Due: eslint --fix

feat(DTFS2-8431-8432): markups
  libs/common/src/helpers/date.ts
  trade-finance-manager-api/api-tests/v1/amendments/send-facility-amendment.api-test.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/api.ts
  trade-finance-manager-api/server/v1/routes.js
Due: eslint --fix

feat(DTFS2-8323): address pr commets
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/access-code-expiry.journey.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/account-suspension.journey.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/logout.journey.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/protected-routes.journey.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/resend-access-code-flow.journey.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/successful-2fa-login.journey.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/wrong-code-validation.journey.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/portal/cypress/support/portal/enterJourneyAtRequestCodeClicks.js
  e2e-tests/portal/cypress/support/portal/goToSuspendedPage.js
  e2e-tests/portal/cypress/support/portal/submitExpiredAccessCode.js
  e2e-tests/portal/cypress/support/portal/submitValidAccessCode.js
Due: eslint --fix

feat(DTFS2-8323): update test to use user id
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/suspended-access-routes.journey.spec.js
Due: eslint --fix

feat(DTFS2-8431): fix/update ukef IDs breaking amendment e2e tests
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/portal/submit-amendment-to-ukef-journey.spec.js
  libs/common/src/test-helpers/e2e/facilities/mock-gef-facilities.ts
  portal-api/server/v1/gef/services/clone/clone-facilities.service.test.ts
  portal-api/server/v1/gef/services/clone/helpers/generate-cloned-facility.test.ts
Due: eslint --fix

chore(docs): readability improvement
  trade-finance-manager-api/server/v1/controllers/estore.controller.js
Due: eslint --fix

feat(DTFS2-8431): update ukef facility ids
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-create-amendment-portal-amendment-future-effective-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-cancelled-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-pending-cancellation-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-in-progress-bar-portal-amendment-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-details-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-no-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-mixed-status-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-multiple-further-makers-input-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-multiple-ready-for-checkers-approval-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/status/amendment-status-application-details-summary-list.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/portal-amendments/tfm-display-multiple-portal-amendments-of-same-type-on-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/portal-amendments/tfm-display-single-portal-amendments-of-each-type-on-tfm.spec.js
Due: eslint --fix

feat(DTFS2-8431): update ukef facility ids
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
  e2e-tests/portal/cypress/e2e/journeys/maker/dashboard/fixtures/facilities.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  e2e-tests/tfm/cypress/fixtures/create-tfm-deal-to-insert-into-db.js
  e2e-tests/ukef/cypress/fixtures/tfm-facility.js
Due: eslint --fix

feat(DTFS2-8431): markups
  libs/common/src/helpers/date.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/amend-facility/get-amount-amendment-type/index.ts
Due: eslint --fix

chore(DTFS2-8431-8432): revert gef-ui changes
  gef-ui/component-tests/partials/amendments/amendment-details-further-makers-input-required.component-test.ts
  gef-ui/component-tests/partials/amendments/amendment-details-ready-for-checkers-approval.component-test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.ts
  gef-ui/server/types/view-models/amendments/amendment-details-view-model.ts
  gef-ui/templates/includes/submit/submit-to-ukef.njk
  gef-ui/templates/partials/amendments/amendment-details.njk
Due: eslint --fix

chore(DTFS2-8431): update e2e ukef facility ids
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
  e2e-tests/portal/cypress/e2e/journeys/reports/unissued-facilities-reports.spec.js
  e2e-tests/portal/cypress/fixtures/mockUtilisationReportDetails.js
  e2e-tests/support/tasks.js
  e2e-tests/tfm/cypress/fixtures/create-tfm-deal-to-insert-into-db.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-create-amendment-portal-amendment-future-effective-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-cancelled-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-pending-cancellation-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-in-progress-bar-portal-amendment-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-details-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-no-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-mixed-status-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-multiple-further-makers-input-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-multiple-ready-for-checkers-approval-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/status/amendment-status-application-details-summary-list.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/portal-amendments/tfm-display-multiple-portal-amendments-of-same-type-on-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/portal-amendments/tfm-display-single-portal-amendments-of-each-type-on-tfm.spec.js
  e2e-tests/ukef/cypress/fixtures/tfm-facility.js
Due: eslint --fix

feat(DTFS2-8431): markups
  external-api/api-tests/v1/gift-facility.api-test.ts
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/amendments.ts
  trade-finance-manager-api/server/v1/routes.js
Due: eslint --fix

feat(DTFS2-8431-8432): revert gef-ui changes
  e2e-tests/ukef/cypress/support/gef/checkerSubmitsPortalAmendmentRequest.js
  gef-ui/component-tests/partials/amendments/amendment-details-further-makers-input-required.component-test.ts
  gef-ui/component-tests/partials/amendments/amendment-details-ready-for-checkers-approval.component-test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.ts
  gef-ui/server/types/view-models/amendments/amendment-details-view-model.ts
  gef-ui/templates/partials/amendments/amendment-details.njk
Due: eslint --fix

feat(DTFS2-8431): update e2e ukefFacilityId instances to be unique
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/maker-can-edit-issued-facilities-after-checker-returns-to-maker-after-submit-to-ukef/MIA-deal-submitted-to-ukef-with-issued-facilities-after-checker-returned-to-maker.js
  e2e-tests/portal/cypress/e2e/journeys/maker/dashboard/fixtures/facilities.js
  e2e-tests/tfm/cypress/fixtures/create-tfm-deal-to-insert-into-db.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-create-amendment-portal-amendment-future-effective-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-cancelled-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-future-effective-date-banner-pending-cancellation-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendment-in-progress-bar-portal-amendment-status.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-details-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-portal-amendments-no-future-effective-date-banners.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-mixed-status-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-multiple-further-makers-input-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/status/application-details-multiple-ready-for-checkers-approval-amendments.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/status/amendment-status-application-details-summary-list.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/portal-amendments/tfm-display-multiple-portal-amendments-of-same-type-on-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/tfm/portal-amendments/tfm-display-single-portal-amendments-of-each-type-on-tfm.spec.js
  e2e-tests/ukef/cypress/fixtures/tfm-facility.js
Due: eslint --fix

feat(DTFS2-8431): markups
  e2e-tests/portal/cypress/fixtures/invalid-matching-utilisation-report-February_2023_monthly.csv
  e2e-tests/portal/cypress/fixtures/invalid-matching-utilisation-report-February_2024_quarterly.csv
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023_monthly.csv
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2024_quarterly.csv
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
Due: eslint --fix

feat(DTFS2-8431): update ukefDealId in e2e-tests to be unique, 00, 10 digits
  e2e-tests/portal/cypress/e2e/journeys/maker-facilities/maker-can-edit-issued-facilities-after-checker-returns-to-maker-after-submit-to-ukef/MIA-deal-submitted-to-ukef-with-issued-facilities-after-checker-returned-to-maker.js
  e2e-tests/tfm/cypress/e2e/journeys/deal-cancellation/bss-ewcs/submit-deal-cancellation-effective-from-in-future.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deal-cancellation/bss-ewcs/submit-deal-cancellation-effective-from-in-past.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deal-cancellation/gef/cancel-deal-with-amendment-in-progress.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deal-cancellation/gef/submit-deal-cancellation-effective-from-in-future.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deal-cancellation/gef/submit-deal-cancellation-effective-from-in-past.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-pagination.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/facility/facilities-pagination.spec.js
Due: eslint --fix

feat(DTFS2-8431): update ukefDealId in e2e-tests to be unique, 00, 10 digits
  e2e-tests/support/tasks.js
Due: eslint --fix

chore(DTFS2-8431): e2e before update, gef-ui nunjuck ai patches
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-create-amendment-portal-amendment-future-effective-date.spec.js
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.ts
Due: eslint --fix

chore(DTFS2-8431): temporarily only run ff tests, add api logs dump step
  .github/workflows/test.yml
Due: none

feat(DTFS2-8431): temporary test.yml changes for debugging/testing
  .github/workflows/test.yml
Due: none

chore(DTFS2-8431): revert test.yml, e2e journey changes
  .github/workflows/test.yml
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/journeys/tfm/tfm-create-amendment-portal-amendment-future-effective-date.spec.js
Due: eslint --fix

feat(DTFS2-8431): ai markups part 10
  external-api/server/v1/routes/external-apis.route.ts
  libs/common/src/helpers/date.ts
  portal-api/server/v1/gef/services/clone/helpers/generate-cloned-facility.test.ts
  trade-finance-manager-api/server/v1/controllers/amendment.controller.js
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/amend-facility/get-amendment-fields/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/amend-facility/get-amendment-fields/index.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/amend-facility/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/types/amendments.ts
Due: eslint --fix

feat(DTFS2-8431): fix typo
  trade-finance-manager-api/server/v1/integrations/apim-gift/submit-facility-amendments-to-apim-gift/index.test.ts
Due: eslint --fix

chore(DTFS2-8467): move portal bank list to central-api
  dtfs-central-api/api-tests/v1/portal-bank-list/portal-bank-list-get.api-test.ts
  dtfs-central-api/server/constants/routes.ts
  dtfs-central-api/server/generateApp.ts
  dtfs-central-api/server/repositories/portal-bank-list-repo.ts
  dtfs-central-api/server/v1/controllers/portal-bank-list/get-portal-bank-list.controller.test.ts
  dtfs-central-api/server/v1/controllers/portal-bank-list/get-portal-bank-list.controller.ts
  dtfs-central-api/server/v1/routes/index.js
  dtfs-central-api/server/v1/routes/portal-bank-list-routes.js
  dtfs-central-api/server/v1/routes/swagger-routes.ts
  libs/common/src/constants/mongo-db-collections.ts
  utils/mock-data-loader/clean-all-tables-portal.js
  utils/mock-data-loader/insert-mocks.js
  utils/mock-data-loader/portal-bank-list/index.js
Due: eslint --fix

chore(DTFS2-8431): temporary test.yml changes for debugging
  .github/workflows/test.yml
Due: none

chore(DTFS2-8431): update test.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-8323): refactor tests to assert with exact match
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/successful-2fa-login.journey.spec.js
  e2e-tests/portal/cypress/e2e/journeys/feature-flag-enabled/login/2fa/journeys/wrong-code-validation.journey.spec.js
Due: eslint --fix

feat(DTFS2-8431): revert gef-ui view model changes
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.test.ts
  gef-ui/server/controllers/amendments/amendment-details/create-amendment-details-view-model.ts
Due: eslint --fix

feat(DTFS2-8431): revert some test.yml changes
  .github/workflows/test.yml
Due: none

chore(DTFS2-8408): refactor statuses to use axios httpstatuscode
  gef-ui/api-tests/clone-gef-deal.api-test.js
  gef-ui/api-tests/common-tests/clone-mock.js
  gef-ui/api-tests/common-tests/role-validation-api-tests.js
  gef-ui/api-tests/companies-house.api-test.js
  gef-ui/api-tests/enter-exporters-correspondence-address.api-test.js
  gef-ui/api-tests/exporters-address.api-test.js
  gef-ui/api-tests/security-details.api-test.js
Due: eslint --fix

feat(DTFS2-8431): markups
  e2e-tests/ukef/cypress/fixtures/tfm-facility.js
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/amend-facility/get-amendment-fields/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/amend-facility/get-amendment-fields/index.ts
Due: eslint --fix
