Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

fix(error-handling): removed . from throwing errors and fixed missed errors in objects
  azure-functions/acbs-function/acbs-amend-facility/index.js
  azure-functions/acbs-function/acbs-facility/index.js
  azure-functions/acbs-function/activity-create-deal-guarantee/index.js
  azure-functions/acbs-function/activity-create-deal-investor/index.js
  azure-functions/acbs-function/activity-create-deal/index.js
  azure-functions/acbs-function/activity-create-facility-covenant/index.js
  azure-functions/acbs-function/activity-create-facility-fee/index.js
  azure-functions/acbs-function/activity-create-facility-guarantee/index.js
  azure-functions/acbs-function/activity-create-facility-investor/index.js
  azure-functions/acbs-function/activity-create-facility-loan/index.js
  azure-functions/acbs-function/activity-create-facility-master/index.js
  azure-functions/acbs-function/activity-create-party/index.js
  gef-ui/server/controllers/confirm-cover-start-date/index.js
  gef-ui/server/services/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-ui/server/session-configuration/index.js
  utils/mock-data-loader/api.js
  utils/reporting/tfm/rad-reporting.js
  utils/reporting/tfm/tfm-reporting.js
Due: eslint --fix

feat(FN-869): add tfm-ui - ARM templates
  infrastructure/arm_templates/trade-finance-manager-ui/errors.json
  infrastructure/arm_templates/trade-finance-manager-ui/parameters.json
  infrastructure/arm_templates/trade-finance-manager-ui/template.json
Due: none

feat(FN-869): add tfm-ui to Bicep - implement
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/trade-finance-manager-ui.bicep
Due: none

feat(FN-869): add tfm-ui to Bicep - update variable names
  infrastructure/resource_group_level/modules/trade-finance-manager-ui.bicep
Due: none

feat(FN-869): add tfm-ui to Bicep - fix typo
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-428): application gateway tfm in Bicep - ARM templates
  infrastructure/arm_templates/application-gateway-tfm/parameters.json
  infrastructure/arm_templates/application-gateway-tfm/template.json
Due: none

feat(FN-428): application gateway tfm in Bicep - implement
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
Due: none

fix(SSRF): Add validation to more api requests
  gef-ui/server/services/api.js
  portal/server/api.js
Due: eslint --fix

fix(SSRF): Fix tests
  e2e-tests/gef/cypress/e2e/enter-exporters-corr-address.spec.js
  e2e-tests/portal/cypress/e2e/pages/resetPassword.js
  gef-ui/server/services/__tests__/api.test.js
Due: eslint --fix

security: remove vulnerable dicer dependency in apollo-server-testing (#1873)
  trade-finance-manager-api/graphql-query-tests/get-deal.api-test.js
  trade-finance-manager-api/graphql-query-tests/get-facility.api-test.js
  trade-finance-manager-api/graphql-query-tests/get-team-members.api-test.js
  trade-finance-manager-api/graphql-query-tests/graphql-authentication.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-activity-comment.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-credit-rating.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-facilities.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-facility-risk-profile.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-lead-underwriter.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-loss-given-default.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-parties.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-probability-of-default.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-task.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-underwriting-managers-decision.api-test.js
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
Due: eslint --fix, sort-package-json

fix: small fixes
  external-api/src/cronJobs/eStoreSiteCreationJob.cron.ts
  external-api/src/v1/controllers/estore/eStore.controller.ts
Due: eslint --fix

fix: updated the yml files
  .github/workflows/pr_api_tests.yml
  .github/workflows/pr_e2e_tests.yml
Due: none

fix(error-handling): used consistent %O for objects and code fixes
  azure-functions/acbs-function/acbs-amend-facility/index.js
  azure-functions/acbs-function/mappings/facility/code-value-transaction.js
  azure-functions/number-generator-function/api.js
  azure-functions/number-generator-function/numbergenerator/index.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-get-amendments.controller.js
  external-api/src/v1/controllers/companies-house.controller.ts
  external-api/src/v1/controllers/industry-sectors.controller.ts
  gef-ui/server/models/application.js
  gef-ui/server/services/api.js
  portal-api/src/v1/api.js
  portal/server/api.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendCoverEndDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendFacilityValue.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentAnswers.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentEffectiveDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentOptions.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentRequestApproval.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentRequestDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/underwriterManagerDecision.controller.js
  utils/mock-data-loader/api.js
  utils/mock-data-loader/centralApi.js
  utils/mock-data-loader/gef/api.js
  utils/mock-data-loader/tfm/api.js
Due: eslint --fix

fix(error-handling): minor code fixes
  external-api/src/v1/controllers/companies-house.controller.ts
  trade-finance-manager-api/src/v1/api.js
Due: eslint --fix

fix(SR-14): Estore API SSRF protection
  external-api/src/constants/regex.constants.ts
  external-api/src/interfaces/eStore.interface.ts
  external-api/src/utils/inputValidations.ts
  external-api/src/v1/controllers/estore/eStoreApi.ts
Due: eslint --fix

fix(SSRF): Add tests for password token validation
  portal/server/validation/validate-ids.test.js
Due: eslint --fix

fix(SSRF): Remove origin from updateDealStatus request
  portal/server/api.js
  portal/server/routes/contract/index.js
Due: eslint --fix

fix(SSRF): Add validation for fieldname on file downloads
  portal/server/api.js
  portal/server/constants/file-upload.js
  portal/server/validation/validate-ids.js
  portal/server/validation/validate-ids.test.js
Due: eslint --fix

fix(SSRF): Add validation for filename on file downloads
  portal/server/api-ssrf.test.js
  portal/server/api.js
  portal/server/constants/regex.js
  portal/server/validation/validate-ids.js
  portal/server/validation/validate-ids.test.js
Due: eslint --fix

fix(SSRF): Add tests for gef-ui api
  gef-ui/server/services/__tests__/api.test.js
Due: eslint --fix

feat(FN-429): front door tfm in Bicep - add ARM templates
  infrastructure/arm_templates/front-door-tfm/parameters.json
  infrastructure/arm_templates/front-door-tfm/template.json
Due: none

feat(FN-429): front door tfm in Bicep - implement
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

fix(SR-14): Fix and add extra tests checking estore API validation
  external-api/api-tests/v1/eStore.api-test.ts
  external-api/src/v1/controllers/estore/eStoreApi.ts
Due: eslint --fix

fix(SR-14): formatting
  external-api/api-tests/v1/eStore.api-test.ts
Due: eslint --fix

fix(SR-14): Fix function documentation
  external-api/src/utils/inputValidations.ts
Due: eslint --fix

feat(FN-685): A Record generation - function-acbs
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
Due: none

feat(FN-685): A Record generation - function-number-generator
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
Due: none

feat(FN-685): A Record generation - central-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
Due: none

fix(SSRF): Add validation tests to gef
  gef-ui/server/utils/validateIds.test.js
Due: eslint --fix

feat(FN-685): A Record generation - gef-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/gef-ui.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
Due: none

feat(FN-685): A Record generation - portal-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/portal-api.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
Due: none

feat(FN-685): A Record generation - portal-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/portal-ui.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
Due: none

feat(FN-685): A Record generation - external-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/external-api.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
Due: none

feat(FN-685): A Record generation - tfm-api
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
  infrastructure/resource_group_level/modules/trade-finance-manager-api.bicep
Due: none

feat(FN-685): A Record generation - tfm-ui
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/privatelink-azurewebsites-net.bicep
  infrastructure/resource_group_level/modules/trade-finance-manager-ui.bicep
Due: none

feat(FN-685): A Record generation - remove TODO
  infrastructure/resource_group_level/modules/function-number-generator.bicep
Due: none

fix(error-handling): fixed missing formatting for consoles
  azure-functions/acbs-function/acbs-amend-facility/index.js
  azure-functions/acbs-function/acbs-facility/index.js
  azure-functions/acbs-function/api-test-setup.jest.config.js
  azure-functions/number-generator-function/activity-get-number-from-generator/index.js
  azure-functions/number-generator-function/api.js
  dtfs-central-api/src/azure-env/index.js
  dtfs-central-api/src/index.js
  dtfs-central-api/src/v1/controllers/portal/deal/update-deal-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/update-facility-status.controller.js
  dtfs-central-api/src/v1/controllers/portal/gef-deal/put-gef-deal.status.controller.js
  external-api/src/cronJobs/eStoreDealFolderCreationJob.cron.ts
  external-api/src/cronJobs/eStoreFacilityFolderCreationJob.cron.ts
  external-api/src/index.ts
  gef-ui/server/controllers/supporting-information/security-details/index.js
  gef-ui/server/index.js
  gef-ui/server/services/api.js
  portal-api/src/azure-env/index.js
  portal-api/src/drivers/fileshare.js
  portal-api/src/external-api/currencies.js
  portal-api/src/external-api/industry-sectors.js
  portal-api/src/index.js
  portal-api/src/v1/email/index.js
  portal/server/azure-env/index.js
  portal/server/index.js
  portal/server/routes/api-data-provider.js
  trade-finance-manager-api/src/azure-env/index.js
  trade-finance-manager-api/src/graphql/reducers/deals.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapDeals.js
  trade-finance-manager-api/src/index.js
  trade-finance-manager-api/src/scheduler/index.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/deal-add-tfm-data/index.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails.js
  trade-finance-manager-api/src/v1/controllers/should-update-deal-from-MIA-to-MIN.js
  trade-finance-manager-api/src/v1/helpers/activity.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/azure-env/index.js
  trade-finance-manager-ui/server/index.js
  utils/data-migration/bss-ewcs/maps/findPortalValue.js
Due: eslint --fix

fix(SR-14): review mark ups
  gef-ui/server/services/api.js
  portal/server/api.js
  portal/server/constants/regex.js
Due: eslint --fix

fix(error-handling): added GEF missing error consoles
  gef-ui/server/controllers/automatic-cover/index.js
  gef-ui/server/controllers/companies-house/index.js
  gef-ui/server/controllers/enter-exporters-correspondence-address/index.js
  gef-ui/server/controllers/exporters-address/index.js
  gef-ui/server/controllers/submit-to-ukef/index.js
  gef-ui/server/services/api.js
Due: eslint --fix

fix(env): fixed environment variables
  .env.sample
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails-tfm-tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
Due: eslint --fix
