Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(SR-8): add unit tests for rate limiting in TFM API
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-api/unit.jest.config.js
Due: eslint --fix

feat(sr-8): update dtfs central tests
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
Due: eslint --fix

feat(sr-8): update dtfs central to use createApp
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/index.js
Due: eslint --fix

feat(SR-8): add unit tests for rate limiting in External API
  external-api/package.json
  external-api/src/errors/invalid-environment-variable.error.ts
  external-api/src/middleware/rateLimit/index.test.ts
  external-api/src/middleware/rateLimit/index.ts
  external-api/unit.jest.config.js
Due: eslint --fix, sort-package-json

chore(SR-8): increase sample rate limit threshold
  .env.sample
Due: none

refactor(SR-8): separate app creation for reuse in portal-api
  portal-api/src/createApp.js
  portal-api/src/generateApp.js
Due: eslint --fix

feat(SR-8): add api tests for rate limiting to portal-api
  portal-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
Due: eslint --fix

feat(sr-8): update dtfs central to use generateApp
  dtfs-central-api/api-tests/create-api.js
  dtfs-central-api/api-tests/v1/middleware/api-rate-limiting.api-tests.js
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/generateApp.js
  dtfs-central-api/src/index.js
Due: eslint --fix

feat(sr-8): update dtfs central to use generateApp
  dtfs-central-api/api-tests/v1/middleware/api-rate-limiting.api-tests.js
  dtfs-central-api/src/generateApp.js
Due: eslint --fix

feat(sr-8): update dtfs central tests
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.js
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
Due: eslint --fix

fix(dockerignore): fixed dockerignore paths
  .gitignore
  azure-functions/acbs-function/.dockerignore
  azure-functions/number-generator-function/.dockerignore
  dtfs-central-api/.dockerignore
  external-api/.dockerignore
  gef-ui/.dockerignore
  portal-api/.dockerignore
  portal/.dockerignore
  trade-finance-manager-api/.dockerignore
  trade-finance-manager-ui/.dockerignore
Due: none

feat(sr-8): update docker compose with rate limit env var
  docker-compose.gha.yml
  docker-compose.yml
Due: none

feat(sr-8): remove todo
  dtfs-central-api/api-tests/v1/middleware/api-rate-limiting.api-tests.js
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
  gef-ui/api-tests/api-rate-limiting.api-test.js
  portal/api-tests/api-rate-limiting.api-test.js
  trade-finance-manager-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
  trade-finance-manager-ui/api-tests/api-rate-limiting.api-test.js
Due: eslint --fix

feat(sr-8): remove todo
  dtfs-central-api/api-tests/v1/middleware/api-rate-limiting.api-tests.js
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.js
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
  external-api/src/middleware/rateLimit/index.test.ts
  external-api/src/middleware/rateLimit/index.ts
  gef-ui/api-tests/api-rate-limiting.api-test.js
  gef-ui/server/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal/api-tests/api-rate-limiting.api-test.js
  portal/server/routes/middleware/rateLimit/index.js
  trade-finance-manager-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/api-tests/api-rate-limiting.api-test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.js
Due: eslint --fix

feat(sr-8): add express-rate-limit-types
  external-api/package-lock.json
  external-api/package.json
Due: sort-package-json

fix(dockerignore): fixed docker ignore paths (#1942)
  .gitignore
  azure-functions/acbs-function/.dockerignore
  azure-functions/number-generator-function/.dockerignore
  dtfs-central-api/.dockerignore
  external-api/.dockerignore
  gef-ui/.dockerignore
  portal-api/.dockerignore
  portal/.dockerignore
  trade-finance-manager-api/.dockerignore
  trade-finance-manager-ui/.dockerignore
Due: none

fix(env): added environment variables
  .github/workflows/development_infrastructure.yml
  .github/workflows/pr_api_tests.yml
  .github/workflows/pr_e2e_tests.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
Due: none

feat(sr-8): update dtfs central unit test config
  dtfs-central-api/api-test.jest.config.js
  dtfs-central-api/unit.jest.config.js
Due: eslint --fix

feat(sr-8): update dtfs central unit test config
  dtfs-central-api/unit.jest.config.js
Due: eslint --fix

feat(gha): added unit test to the pipeline
  .github/workflows/pr_api_tests.yml
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  trade-finance-manager-api/package-lock.json
Due: none

fix(SR-8): revert accidental --coverage removals
  portal/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

fix(SR-8): improve comment for api rate limit handler
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.js
  external-api/src/middleware/rateLimit/index.ts
  portal-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
Due: eslint --fix

feat(sr-8): update api rate limiting tests
  gef-ui/api-tests/api-rate-limiting.api-test.js
  portal-api/api-tests/v1/middleware/api-rate-limiting.api-test.js
  portal/api-tests/api-rate-limiting.api-test.js
Due: eslint --fix

chore(SR-8): remove @types/express-rate-limit
  external-api/package-lock.json
  external-api/package.json
Due: sort-package-json

feat(FN-712): commonise webapps - unify naming
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(SR-8): add mocking to rate limiting API tests for External API (failing for high rate limits)
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
Due: eslint --fix

refactor(SR-8): lint
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
Due: eslint --fix

fix(gha): refactored GHA
  .github/workflows/lint.yml
  .github/workflows/pr_api_tests.yml
  .github/workflows/pr_e2e_tests.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

feat(FN-712): commonise webapps - paramaterise nodeDeveloper mode
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

fix(GHA): fixed lables
  .github/workflows/test.yml
Due: none

feat(FN-712): commonise webapps - make resourceNameFragment a parameter
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

fix(gha): removed concurency
  .github/workflows/test.yml
Due: none

feat(FN-712): commonise webapps - update azure function names too
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
Due: none

fix(gha): step label renamed
  .github/workflows/test.yml
Due: none

fix(gha): concurrency run
  .github/workflows/test.yml
Due: none

feat(sr-8): update unit tests to use fake timers
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
  external-api/src/middleware/rateLimit/index.test.ts
  gef-ui/server/middleware/rateLimit/index.test.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal/server/routes/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix

feat(sr-8): update unit tests to use fake timers
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
  external-api/src/middleware/rateLimit/index.test.ts
  gef-ui/server/middleware/rateLimit/index.test.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix

refactor(SR-8): do not use string interpolation
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.js
  dtfs-central-api/src/v1/routes/middleware/rateLimit/index.test.js
  external-api/src/middleware/rateLimit/index.test.ts
  external-api/src/middleware/rateLimit/index.ts
  gef-ui/server/middleware/rateLimit/index.js
  gef-ui/server/middleware/rateLimit/index.test.js
  portal-api/src/v1/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal/server/routes/middleware/rateLimit/index.js
  portal/server/routes/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
