Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

feat(DTFS2-7055): add change stream config
  docker-compose.gha.yml
  libs/common/src/change-stream/config.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
Due: eslint --fix

revert(DTFS2-7159): revert code review changes
  .env.sample
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  libs/common/src/change-stream/config.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.test.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): add deletion audit record type
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
Due: eslint --fix

feat(DTFS2-7055): fix delete users endpoint and tests
  libs/common/src/change-stream/test-helpers/with-deletion-audit-logs.api-tests.ts
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(DTFS2-7055): code review
  .env.sample
  docker-compose.gha.yml
  docker-compose.replica-set.yml
  dtfs-central-api/src/cron-scheduler-jobs/delete-acbs-durable-function-logs/index.test.ts
  libs/common/src/change-stream/config.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.test.ts
  libs/common/src/change-stream/delete-document-with-audit-logs.ts
Due: eslint --fix

feat(DTFS2-7055): reset mocks in delete deal test
  dtfs-central-api/api-tests/v1/deals/delete-deal.api-test.js
Due: eslint --fix

feat(DTFS2-7055): handle feature flag in deleteOne helper
  dtfs-central-api/api-tests/v1/deals/delete-deal.api-test.js
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  libs/common/src/change-stream/delete-one.test.ts
  libs/common/src/change-stream/delete-one.ts
  libs/common/src/change-stream/index.ts
  libs/common/src/change-stream/test-helpers/index.ts
  libs/common/src/change-stream/test-helpers/with-delete-one.api-tests.ts
  libs/common/src/change-stream/test-helpers/with-deletion-audit-logs.api-tests.ts
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/v1/controllers/user/user.controller.js
Due: eslint --fix

feat(DTFS2-7055): code review
  dtfs-central-api/api-tests/v1/deals/delete-deal.api-test.js
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  portal-api/src/v1/controllers/feedback.controller.js
  trade-finance-manager-api/api-tests/v1/users/users.api-test.js
  trade-finance-manager-api/src/v1/controllers/feedback-controller.js
Due: eslint --fix

feat(DTFS2-7055): commonise invalid environment variable errors
  external-api/src/errors/invalid-environment-variable.error.test.ts
  external-api/src/errors/invalid-environment-variable.error.ts
  external-api/src/middleware/rateLimit/index.test.ts
  external-api/src/middleware/rateLimit/index.ts
  gef-ui/package.json
  gef-ui/server/errors/invalid-environment-variable.error.js
  gef-ui/server/errors/invalid-environment-variable.error.test.js
  gef-ui/server/middleware/rateLimit/index.js
  gef-ui/server/middleware/rateLimit/index.test.js
  package-lock.json
  portal-api/src/v1/errors/index.js
  portal-api/src/v1/errors/invalid-environment-variable.error.js
  portal-api/src/v1/errors/invalid-environment-variable.error.test.js
  portal-api/src/v1/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal/server/errors/invalid-environment-variable.error.js
  portal/server/errors/invalid-environment-variable.error.test.js
  portal/server/generateApp.ts
  portal/server/routes/middleware/rateLimit/index.js
  portal/server/routes/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/errors/invalid-environment-variable.error.js
  trade-finance-manager-api/src/v1/errors/invalid-environment-variable.error.test.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/errors/invalid-collection-name.error.test.js
  trade-finance-manager-ui/server/errors/invalid-environment-variable.error.js
  trade-finance-manager-ui/server/errors/page-out-of-bounds.error.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix, sort-package-json

feat(DTFS2-7055): revert external-api and gef-ui error commonising
  external-api/src/errors/invalid-environment-variable.error.test.ts
  external-api/src/errors/invalid-environment-variable.error.ts
  external-api/src/middleware/rateLimit/index.test.ts
  external-api/src/middleware/rateLimit/index.ts
  gef-ui/package.json
  gef-ui/server/errors/invalid-environment-variable.error.js
  gef-ui/server/errors/invalid-environment-variable.error.test.js
  gef-ui/server/middleware/rateLimit/index.js
  gef-ui/server/middleware/rateLimit/index.test.js
  package-lock.json
Due: eslint --fix, sort-package-json

feat(dtfs2-7067): update portal footer
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
Due: none

feat(FN-1697): add payment button and persist checkboxes
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/search-input-validator.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-redirect-session-data.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-redirect-session-data.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/middleware/index.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.test.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/express-session.d.ts
  trade-finance-manager-ui/server/types/view-models/error-summary-view-model.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/_macros/table-cell-checkbox.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
  trade-finance-manager-ui/test-helpers/fee-record-view-model-item.ts
Due: eslint --fix

feat(FN-1697): check select all checkbox if all selected on page load
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js.map
  trade-finance-manager-ui/scripts/enable-select-all-table-checkbox.js
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

feat(FN-1697): fix errors in tests
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
Due: eslint --fix

feat(FN-1697): refactor middleware
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-add-payment-fields-from-redirect-session-data.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-add-payment-fields-from-redirect-session-data.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.ts
  trade-finance-manager-ui/templates/_macros/table-cell-checkbox.njk
Due: eslint --fix

feat(FN-1697): reduce duplication in checkbox macro
  trade-finance-manager-ui/templates/_macros/table-cell-checkbox.njk
Due: none

fix(DTFS2-6709): add validation text for create new user page
  e2e-tests/portal/cypress/e2e/journeys/admin/create-user/create-a-user.spec.js
  e2e-tests/portal/cypress/e2e/pages/admin/users/createUser.js
  portal-api/src/v1/users/validation/index.js
  portal-api/src/v1/users/validation/rules/firstName-must-not-be-empty.js
  portal-api/src/v1/users/validation/rules/firstName-must-not-be-empty.test.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-bank.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-bank.test.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-role.js
  portal-api/src/v1/users/validation/rules/select-at-least-one-role.test.js
  portal-api/src/v1/users/validation/rules/surname-must-not-be-empty.js
  portal-api/src/v1/users/validation/rules/surname-must-not-be-empty.test.js
  portal/server/routes/admin/users.js
  portal/templates/admin/user-edit.njk
Due: eslint --fix

feat(DTFS2-7055): import errors from common to gef-ui separately
  gef-ui/package.json
  gef-ui/server/errors/invalid-environment-variable.error.js
  gef-ui/server/errors/invalid-environment-variable.error.test.js
  gef-ui/server/middleware/rateLimit/index.js
  gef-ui/server/middleware/rateLimit/index.test.js
  libs/common/package.json
  package-lock.json
Due: eslint --fix, sort-package-json

feat(DTFS2-7055): refactor errors exported from libs/common
  dtfs-central-api/src/errors/api.error.ts
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  libs/common/src/index.ts
  portal-api/src/v1/controllers/feedback.controller.js
  portal-api/src/v1/middleware/rateLimit/index.js
  portal-api/src/v1/middleware/rateLimit/index.test.js
  portal-api/src/v1/services/utilisation-report/email-service.ts
  portal/server/generateApp.ts
  portal/server/routes/middleware/rateLimit/index.js
  portal/server/routes/middleware/rateLimit/index.test.js
  trade-finance-manager-api/src/v1/controllers/feedback-controller.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.js
  trade-finance-manager-api/src/v1/middleware/rateLimit/index.test.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.js
  trade-finance-manager-ui/server/middleware/rateLimit/index.test.js
Due: eslint --fix

feat(DTFS2-7055): update infastructure and docker yml env vars
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  docker-compose.gha.yml
Due: none

feat(DTFS2-7159): update with delete one tests
  libs/common/src/change-stream/test-helpers/with-delete-one.api-tests.ts
Due: eslint --fix

feat(DTFS2-7055): code review
  docker-compose.gha.yml
  dtfs-central-api/src/v1/controllers/portal/deal/delete-deal.controller.ts
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-put-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-submit-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-update-deal.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-update-facility.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-teams.controller.js
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  portal-api/src/v1/controllers/feedback.controller.js
  trade-finance-manager-api/src/v1/controllers/feedback-controller.js
Due: eslint --fix

fix(dtfs2-none): fix boolean coercion
  libs/common/src/helpers/schemas/z-boolean-coerce.test.ts
  libs/common/src/helpers/schemas/z-boolean-coerce.ts
Due: eslint --fix

fix(dtfs2-none): fix boolean coercion
  libs/common/src/sql-db-connection/config.ts
Due: eslint --fix

fix(dtfs2-none): fix boolean coercion
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/is-feature-flag-enabled.ts
  libs/common/src/helpers/schema/index.ts
  libs/common/src/helpers/schema/z-boolean-coerce.test.ts
  libs/common/src/helpers/schema/z-boolean-coerce.ts
  libs/common/src/two-factor-authentication/config.ts
Due: eslint --fix

fix(dtfs2-none): fix boolean coercion
  libs/common/src/two-factor-authentication/config.ts
Due: eslint --fix

feat(FN-1697): add a payment button (#3135)
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/utilisation-report-reconciliation-for-report.component-test.js
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js
  trade-finance-manager-ui/public/js/enableSelectAllTableCheckbox.js.map
  trade-finance-manager-ui/scripts/enable-select-all-table-checkbox.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/find-reports-by-year/search-input-validator.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/get-add-payment-error-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-for-report-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-add-payment-fields-from-redirect-session-data.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/get-and-clear-add-payment-fields-from-redirect-session-data.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.ts
  trade-finance-manager-ui/server/middleware/index.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.test.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/express-session.d.ts
  trade-finance-manager-ui/server/types/view-models/error-summary-view-model.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/server/types/view-models/utilisation-report-reconciliation-for-report-view-model.ts
  trade-finance-manager-ui/templates/_macros/table-cell-checkbox.njk
  trade-finance-manager-ui/templates/index.njk
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
  trade-finance-manager-ui/test-helpers/fee-record-view-model-item.ts
Due: eslint --fix

feat(dtfs2-7033): add ff
  libs/common/src/helpers/is-feature-flag-enabled.ts
Due: eslint --fix

feat(FN-1696): create tfm api route to pass selected fee recrods details request through
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-selected-fee-records-details.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/index.ts
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

feat(FN-1696): add endpoint for fetching selected fee record details for add payment page
  dtfs-central-api/api-tests/v1/utilisation-reports/get-selected-fee-record-details.api-test.ts
  dtfs-central-api/src/mapping/fee-record-mapper.test.ts
  dtfs-central-api/src/mapping/fee-record-mapper.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-selected-fee-records-details.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-selected-fee-records-details.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-selected-fee-records-details.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-selected-fee-records-details.controller/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/selected-fee-records-details.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/selected-fee-record-validator.test.ts
  dtfs-central-api/src/v1/validation/utilisation-report-service/selected-fee-record-validator.ts
  dtfs-central-api/test-helpers/test-data/report-period.ts
  libs/common/src/types/index.ts
  libs/common/src/types/selected-fee-records-details.ts
Due: eslint --fix

feat(FN-1696): add add payment page with selected fee records details table
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/selected-reported-fees-details-table.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/add-payment.component-test.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-payment/index.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/add-payment/index.ts
  trade-finance-manager-ui/server/helpers/premium-payments-table-checkbox-id-helper.test.ts
  trade-finance-manager-ui/server/helpers/premium-payments-table-checkbox-id-helper.ts
  trade-finance-manager-ui/server/middleware/validatePostAddPaymentRequestBody/index.ts
  trade-finance-manager-ui/server/routes/utilisation-reports/index.ts
  trade-finance-manager-ui/server/types/view-models/add-payment-view-model.ts
  trade-finance-manager-ui/server/types/view-models/index.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/selected-reported-fees-details-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/add-payment.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
  trade-finance-manager-ui/test-helpers/test-data/add-payment-view-model.ts
  trade-finance-manager-ui/tsconfig.eslint.json
Due: eslint --fix

fix(dtfs2-none): fix boolean coercion
  libs/common/src/helpers/is-feature-flag-enabled.ts
  libs/common/src/helpers/schema/index.ts
  libs/common/src/helpers/schema/z-boolean-coerce.ts
  libs/common/src/helpers/schema/z-boolean-strict-coerce.test.ts
  libs/common/src/helpers/schema/z-boolean-strict-coerce.ts
  libs/common/src/sql-db-connection/config.ts
Due: eslint --fix

feat(FN-2588): add validation & sort by month
  dtfs-central-api/src/repositories/utilisation-reports-repo/utilisation-report-sql.repo.ts
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/constants/regex.ts
  trade-finance-manager-ui/server/helpers/date.js
  trade-finance-manager-ui/server/helpers/validateIds.js
Due: eslint --fix

chore(deps): dependencies updates
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(DTFS2-7159): implement deletion logs on delete facility endpoint
  dtfs-central-api/api-tests/v1/facilities/facility-delete.api-test.js
  dtfs-central-api/src/v1/controllers/portal/facility/delete-facility.controller.js
  dtfs-central-api/src/v1/controllers/portal/facility/delete-facility.controller.ts
  e2e-tests/portal/cypress/support/central-api/api.js
  e2e-tests/portal/cypress/support/central-api/deleteFacility.js
  e2e-tests/tfm/cypress/support/central-api/api.js
  e2e-tests/tfm/cypress/support/central-api/deleteFacility.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/bonds.controller.js
  portal-api/src/v1/controllers/facilities.controller.js
  portal-api/src/v1/controllers/loans.controller.js
  utils/mock-data-loader/centralApi.js
Due: eslint --fix

docs: update initial setup steps in README.md
  README.md
Due: none

feat: prefer npm run ci:all over npm install
  README.md
Due: none

fix(dtfs2-none): fix boolean coercion
  libs/common/src/helpers/schema/z-boolean-strict-coerce.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
