Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

fix(lint): fixed linting error
  .github/workflows/publish.yml
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  gef-ui/package-lock.json
  package-lock.json
  portal-api/api-tests/fixtures/deal-with-complete-about-section.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
  utils/data-migration/package-lock.json
Due: none

fix(lint): lint fixes
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/dealWithFirstPageComplete.json
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/dealWithSecondPageComplete.json
  portal-api/api-tests/fixtures/deal-with-incomplete-about-section.json
Due: none

fix(azure-env): removed frivolous azure env directory
  dtfs-central-api/src/azure-env/index.ts
  gef-ui/server/azure-env/index.ts
  portal-api/src/azure-env/index.ts
  portal/server/azure-env/index.ts
  trade-finance-manager-api/src/azure-env/index.ts
  trade-finance-manager-ui/server/azure-env/index.js
Due: eslint --fix

fix(azure-env): removed azure-env directory references
  dtfs-central-api/src/index.ts
  gef-ui/server/index.ts
  portal-api/src/index.ts
  portal/server/index.ts
  trade-finance-manager-api/src/index.ts
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

fix(dtfs2-6864): Remove `azure-env` directory (#2435)
  dtfs-central-api/src/azure-env/index.ts
  dtfs-central-api/src/index.ts
  gef-ui/server/azure-env/index.ts
  gef-ui/server/index.ts
  portal-api/src/azure-env/index.ts
  portal-api/src/index.ts
  portal/server/azure-env/index.ts
  portal/server/index.ts
  trade-finance-manager-api/src/azure-env/index.ts
  trade-finance-manager-api/src/index.ts
  trade-finance-manager-ui/server/azure-env/index.js
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix

feat(FN-1620): update tests for new columns
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-September_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-next_week.xlsx
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-exchange-rate-error.test.js
Due: eslint --fix

feat(FN-1620): update copy
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

fix(DTFS-6538): fixing test broken during merge
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-exporter/exporter-table.component-test.js
Due: eslint --fix

fix(DTFS-6538): cleanup, removing not required line
  trade-finance-manager-ui/styles/list.scss
Due: none

refactor: move all utilisation report related routes to 'utilisation-report-routes.js'
  dtfs-central-api/api-tests/v1/utilisation-reports/get-utilisation-report.api-test.js
  dtfs-central-api/src/v1/routes/portal-routes.js
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  portal-api/src/v1/api.js
Due: eslint --fix

fix(DTFS-6538): cleanup
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-exporter/exporter-table.component-test.js
Due: eslint --fix

feat(FN-1620): update error copy and tests
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-currency-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-currency-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-exchange-rate-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-exchange-rate-error.test.js
Due: eslint --fix

fix(typo): reverted accidental GEF EC updates
  e2e-tests/gef/cypress/fixtures/mocks/mock-deals.js
  e2e-tests/tfm/cypress/fixtures/mock-gef-deals.js
  portal-api/api-tests/fixtures/gef/eligibilityCriteria.js
  utils/mock-data-loader/gef/eligibilityCriteria.js
Due: eslint --fix

fix(typo): typo fixes
  trade-finance-manager-api/src/v1/__mocks__/mock-gef-deal.js
Due: eslint --fix

fix(gef): reverted GEF EC accidental update
  gef-ui/templates/_macros/eligibility-criteria-answers.component-test.js
Due: eslint --fix

fix(tfm): typo fixes removed double collons
  trade-finance-manager-api/src/v1/content-strings/index.js
Due: eslint --fix

feat(FN-1404): small fix to tests
  e2e-tests/tfm/cypress/e2e/journeys/header/header.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/login/login-with-role.spec.js
  trade-finance-manager-ui/server/controllers/home/index.test.js
Due: eslint --fix

feat(DTFS-2): resolved comments on PR
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-beneficiary-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/parties/_macros/bond-issuer-facilities-table.component-test.js
  trade-finance-manager-ui/component-tests/case/task.component-test.js
  trade-finance-manager-ui/templates/_macros/facility-link.component-test.js
  trade-finance-manager-ui/templates/_macros/facility-link.njk
  trade-finance-manager-ui/templates/case/deal/_macros/facilities-table.component-test.js
  trade-finance-manager-ui/templates/case/deal/_macros/facilities-table.njk
  trade-finance-manager-ui/templates/case/tasks/task.component-test.js
  trade-finance-manager-ui/templates/case/tasks/task.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.njk
  trade-finance-manager-ui/templates/deals/_macros/deals-table.component-test.js
  trade-finance-manager-ui/templates/deals/_macros/deals-table.njk
  trade-finance-manager-ui/templates/facilities/facilities.njk
Due: eslint --fix

feat(FN-1620): Update csv validation for fees paid currency (#2433)
  e2e-tests/portal/cypress/e2e/journeys/payment-report-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-September_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-next_week.xlsx
  portal/server/constants/utilisation-report-headers.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-exchange-rate-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-monthly-fees-paid-currency-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-monthly-fees-paid-currency-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-currency-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-currency-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-exchange-rate-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-exchange-rate-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(FN-1404): fix tfm teams (#2437)
  dtfs-central-api/src/v1/controllers/tfm/users/tfm-users.controller.js
  e2e-tests/e2e-fixtures/tfm-users.fixture.js
  e2e-tests/gef/cypress/fixtures/mocks/mock-tfm-user.js
  e2e-tests/tfm/cypress/e2e/journeys/header/header.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/login/login-with-role.spec.js
  e2e-tests/ukef/cypress/fixtures/tfm-users.js
  trade-finance-manager-ui/server/constants/teamIds.js
  trade-finance-manager-ui/server/controllers/case/activity/index.test.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentRequestDate.test.js
  trade-finance-manager-ui/server/controllers/case/amendments/bankDecision.controller.test.js
  trade-finance-manager-ui/server/controllers/case/amendments/underwriterManagerDecision.test.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/case/parties/helpers.test.js
  trade-finance-manager-ui/server/controllers/case/parties/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/lead-underwriter/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/facility-risk-profile/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/helpers.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/loss-given-default/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/pricing-and-risk/probability-of-default/index.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/underwriter-managers-decision/helpers.test.js
  trade-finance-manager-ui/server/controllers/case/underwriting/underwriter-managers-decision/index.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.test.js
  trade-finance-manager-ui/server/controllers/home/index.test.js
  trade-finance-manager-ui/server/controllers/login/index.test.js
  trade-finance-manager-ui/server/helpers/user.js
  trade-finance-manager-ui/server/helpers/user.test.js
  trade-finance-manager-ui/server/middleware/validateUserTeam/index.js
  trade-finance-manager-ui/server/test-mocks/amendment-test-mocks.js
  trade-finance-manager-ui/server/types/team-id.d.ts
  trade-finance-manager-ui/templates/case/amendments/_macros/tasks-table-amendments.njk
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.component-test.js
  trade-finance-manager-ui/templates/case/tasks/_macros/tasks-table.njk
  utils/mock-data-loader/tfm/mocks/users.js
Due: eslint --fix

fix(DTFS2-6576): typo fix
  trade-finance-manager-api/src/v1/content-strings/index.js
Due: eslint --fix

feat(FN-1042): add utilisation report due date env var to TFM UI infra
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-1042): add utilisation report due date env var to TFM UI infra (#2439)
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-1618): fix lint issues
  dtfs-central-api/api-tests/mocks/tfm-utilisation-reports/index.ts
  dtfs-central-api/api-tests/mocks/tfm-utilisation-reports/mock-utilisation-reports.ts
  dtfs-central-api/api-tests/mocks/utilisation-reports/index.ts
  dtfs-central-api/api-tests/v1/utilisation-report-service/tfm-put-utilisation-report-status.api-test.js
Due: eslint --fix

feat(FN-1618): add dtfs central api endpoint for marking as done or not done
  dtfs-central-api/src/v1/controllers/utilisation-report-service/interfaces/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/interfaces/utilisation-report-status.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/tfm-put-utilisation-report-status.controller.ts
  dtfs-central-api/src/v1/routes/tfm-routes.js
Due: eslint --fix

feat(FN-1618): add dtfs central api tests
  dtfs-central-api/api-test.jest.config.js
  dtfs-central-api/api-tests/mocks/utilisation-reports/index.ts
  dtfs-central-api/api-tests/mocks/utilisation-reports/mock-utilisation-reports.ts
  dtfs-central-api/api-tests/v1/utilisation-report-service/tfm-put-utilisation-report-status.api-test.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/utilisation-report-service/interfaces/utilisation-report-status.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/tfm-put-utilisation-report-status.controller.ts
Due: eslint --fix, sort-package-json

feat(FN-1618): remove excessive console.error logging
  dtfs-central-api/api-tests/v1/utilisation-report-service/tfm-put-utilisation-report-status.api-test.js
Due: eslint --fix

feat(FN-1618): refactor the controller and types
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/api-tests/mocks/tfm-utilisation-reports/index.ts
  dtfs-central-api/api-tests/v1/utilisation-report-service/tfm-put-utilisation-report-status.api-test.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/utilisation-report-service/tfm-put-utilisation-report-status.controller.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/types/index.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/types/utilisation-report-status.ts
  dtfs-central-api/src/v1/routes/tfm-routes.js
Due: eslint --fix, sort-package-json

feat(FN-1618): add swagger documentation
  dtfs-central-api/src/v1/routes/tfm-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/utilisation-report.js
Due: eslint --fix

feat(FN-1618): move database related functionality to repository directory
  dtfs-central-api/src/services/repositories/utilisation-report-status-repo.ts
  dtfs-central-api/src/types/utilisation-report-status.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/tfm-put-utilisation-report-status.controller.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/types/index.ts
Due: eslint --fix

feat(FN-1618): update documentation and add repo functions
  dtfs-central-api/src/services/repositories/utilisation-report-status-repo.test.ts
  dtfs-central-api/src/services/repositories/utilisation-report-status-repo.ts
  dtfs-central-api/src/types/mocks.ts
  dtfs-central-api/src/types/utilisation-report-status.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/tfm-put-utilisation-report-status.controller.ts
  dtfs-central-api/src/v1/routes/tfm-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/utilisation-report.js
  dtfs-central-api/unit.jest.config.js
Due: eslint --fix

feat(FN-1618): move existing api tests
  dtfs-central-api/api-tests/v1/utilisation-reports/tfm-put-utilisation-report-status.api-test.js
Due: eslint --fix

feat(FN-1618): update mock utilisation reports
  dtfs-central-api/api-tests/mocks/tfm-utilisation-reports/index.ts
  dtfs-central-api/api-tests/mocks/tfm-utilisation-reports/mock-utilisation-reports.ts
  dtfs-central-api/api-tests/v1/utilisation-reports/tfm-put-utilisation-report-status.api-test.js
Due: eslint --fix

feat(FN-1618): small refactors
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/api-tests/mocks/tfm-utilisation-reports/mock-utilisation-reports.ts
  dtfs-central-api/src/types/mocks.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/tfm-put-utilisation-report-status.controller.ts
  dtfs-central-api/src/v1/routes/tfm-routes.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
