Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-72): build pipeline - set environment
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - use self-hosted runner
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - create test ASP
  .github/workflows/bicep_deploy.yml
Due: none

feat(FN-72): build pipeline - remove temporary check
  .github/workflows/bicep_deploy.yml
Due: none

feat(FN-72): build pipeline - pass in vars and secrets
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-72): build pipeline - move acr name to parameterMap
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-72): build pipeline - use CLI for action
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-72): build pipeline - set peeringVnetName override from parametersMap
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-72): build pipeline - update secret names
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - don't use undefined secrets
  .github/workflows/bicep_az_deployment_group.yml
Due: none

feat(FN-72): build pipeline - remove note to check application gateway in vnet
  infrastructure/resource_group_level/modules/vnet.bicep
Due: none

feat(FN-72): build pipeline - customise command
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - use child reusable workflow
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
Due: none

feat(FN-72): build pipeline - derive docker credentials
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/webapps/dtfs-central-api.bicep
  infrastructure/resource_group_level/modules/webapps/external-api.bicep
  infrastructure/resource_group_level/modules/webapps/gef-ui.bicep
  infrastructure/resource_group_level/modules/webapps/portal-api.bicep
  infrastructure/resource_group_level/modules/webapps/portal-ui.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-ui.bicep
Due: none

feat(FN-72): build pipeline - wire up mongodb private DNS zoneGroup
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/privatelink-mongo-cosmos-azure-com.bicep
Due: none

feat(FN-72): build pipeline - use real IP range
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - add job names
  .github/workflows/bicep_az_deployment_group.yml
Due: none

feat(FN-72): build pipeline - correct docker container name for function apps
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
Due: none

feat(FN-72): build pipeline - don't set MACHINEKEY_DecryptionKey
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
  infrastructure/resource_group_level/main.bicep
Due: none

fix(cypress): added remaining spec paths
  .github/workflows/test.yml
Due: none

feat(FN-966): move files to utilisation-report-service
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/utilisation-report-upload/check-the-report.njk
  portal/templates/utilisation-reporting-service/_partials/header.njk
  portal/templates/utilisation-reporting-service/_partials/primary-navigation.njk
  portal/templates/utilisation-reporting-service/index.njk
  portal/templates/utilisation-reporting-service/utilisation-report-upload/utilisation-report-upload.njk
Due: eslint --fix

fix(cypress): fixed paths
  .github/workflows/test.yml
  README.md
  e2e-tests/.eslintrc.js
  e2e-tests/README.md
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN/MIA-underwriter-managers-approved-decision-updates-portal-deal-and-submission-type-to-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-with-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-approved-without-conditions-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/MIA-underwriter-managers-decision-updates-portal-deal/TFM-MIA-underwriter-managers-decision-refused-updates-portal-deal.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-default-credit-rating-in-tfm/submit-AIN-deal-creates-default-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tasks-in-tfm/submit-AIN-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-AIN-deal-creates-tfm-deal-stage-and-product/submit-AIN-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN/submit-MIA-deal-TFM-approves-resubmit-MIA-deal-becomes-MIN.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tasks-in-tfm/submit-MIA-deal-creates-tasks-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIA-deal-creates-tfm-deal-stage-and-product/submit-MIA-deal-creates-tfm-deal-stage-and-product.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-changes-tfm-stage-to-confirmed/submit-MIN-changes-tfm-stage-to-confirmed.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-deal-does-not-create-credit-rating-in-tfm/submit-MIN-deal-does-not-create-credit-rating-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-adds-risk-profile-to-facilities/submit-deal-adds-risk-profile-to-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-converts-contract-value-to-gbp/submit-deal-converts-contract-value-to-gbp.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-creates-loss-given-and-probability-defaults-in-tfm/submit-deal-creates-loss-given-and-probability-defaults-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-issued-facilities/submit-deal-with-issued-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-non-gbp-facilities/submit-deal-with-non-gbp-facilities.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued/submit-deal-with-unissued-loan-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/support/trade-finance-manager-ui/login.js
  utils/mock-data-loader/package.json
Due: eslint --fix, sort-package-json

fix(cypress): improved concurrency
  .github/workflows/test.yml
Due: none

feat(FN-969): create pages and route
  portal/server/constants/roles.js
  portal/server/controllers/utilisation-report-service/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/routes/utilisation-report-service/utilisation-report-upload/index.js
  portal/templates/utilisation-report-service/utilisation-report-upload/confirm-and-send.njk
  portal/templates/utilisation-report-service/utilisation-report-upload/confirmation.njk
Due: eslint --fix

fix(DTFS2-6679): display errors on the edit user page (#2062)
  portal/server/routes/admin/users.js
Due: eslint --fix

feat(FN-72): build pipeline - set concurrency
  .github/workflows/bicep_az_deployment_group.yml
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-958): add e2e test, component tests & api tests
  e2e-tests/portal/cypress/e2e/journeys/service-options/service-options.spec.js
  e2e-tests/portal/cypress/fixtures/users.js
  portal/api-tests/dashboard-routes.api-test.js
  portal/api-tests/service-options-routes.api-test.js
  portal/component-tests/service-options/service-options.component-test.js
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

feat(FN-958): formatting
  e2e-tests/portal/cypress/e2e/journeys/service-options/service-options.spec.js
Due: eslint --fix

fix(doc): documentation update
  e2e-tests/README.md
Due: none

feat(FN-966): add component tests and fix csv-utils
  portal/component-tests/utilisation-report-service/utilisation-report-upload.component-test.js
  portal/jest.config.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
  portal/server/utils/csv-utils.js
  portal/server/utils/csv-utils.test.js
Due: eslint --fix

feat(FN-966): move regexes to constants file
  portal/server/constants/regex.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators.js
  portal/server/utils/csv-utils.js
Due: eslint --fix

fix(spell-check): fixed spelling mistakes
  azure-functions/acbs-function/constants/party.js
  azure-functions/acbs-function/mappings/deal/helpers/get-deal-value.js
  azure-functions/acbs-function/mappings/party/agent.js
  azure-functions/acbs-function/mappings/party/bank.js
  azure-functions/acbs-function/mappings/party/bondBeneficary.js
  azure-functions/acbs-function/mappings/party/bondIssuer.js
  azure-functions/acbs-function/mappings/party/buyer.js
  azure-functions/acbs-function/mappings/party/indemnifier.js
  azure-functions/number-generator-function/README.md
  cspell.json
Due: eslint --fix

feat(FN-966): remove duplicated e2e test
  e2e-tests/portal/cypress/e2e/journeys/payment-officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  e2e-tests/portal/cypress/e2e/journeys/payment_officer/utilisation-report-upload/can-upload-utilisation-report.spec.js
  portal/server/constants/index.js
  portal/server/constants/regex.js
Due: eslint --fix

feat(FN-72): build pipeline - correct CORS_ORIGIN usage
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
  infrastructure/resource_group_level/main.bicep
Due: none

feat(FN-72): build pipeline - add development scripts
  infrastructure/development_scripts/export_environment_variables.azcli
  infrastructure/development_scripts/sort_lists.js
Due: eslint --fix

feat(FN-72): build pipeline - udpate NSG comment
  infrastructure/resource_group_level/modules/gw-nsg.bicep
Due: none

feat(FN-72): build pipeline - only trigger if there are changes
  .github/workflows/bicep_workflow.yml
Due: none

feat(FN-72): build pipeline - update target branch ready for merge
  .github/workflows/bicep_workflow.yml
Due: none
