Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

chore(DTFS2-7378): fix/update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/maker-about-supply-contract/fill-in-about-financial-validation.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/clone-deal/clone-deal.spec.js
Due: eslint --fix

feat(FN-2311): wip - disable sonar warning
  trade-finance-manager-ui/public/js/mojFilterHide.js.map
  trade-finance-manager-ui/scripts/moj-filter-hide.ts
Due: eslint --fix

feat(FN-2311): wip - disable all sonar warnings on line?
  trade-finance-manager-ui/scripts/moj-filter-hide.ts
Due: eslint --fix

chore(DTFS2-7378): fix/update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
Due: eslint --fix

feat(dtfs2-6616): remove validation to protect against empty mapped payloads
  azure-functions/acbs-function/src/functions/activity-update-facility-covenant.js
  azure-functions/acbs-function/src/functions/activity-update-facility-guarantee.js
Due: eslint --fix

feat(FN-2311): wip - revert sonar changes
  trade-finance-manager-ui/scripts/moj-filter-hide.ts
Due: eslint --fix

chore(DTFS2-7378): fix/update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/clone-deal/clone-deal.spec.js
Due: eslint --fix

feat(FN-2311): fix minor README styling errors
  doc/adding-and-updating-scripts.md
Due: none

chore(DTFS2-6655): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/admin/restrict-access/restrict-access.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-fee-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/submit-bond-with-created-element.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-dates-repayments.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-guarantee-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/submit-loan-with-created-elements.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/bss-mandatory-criteria.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/clone-deal/clone-deal.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/submit-issued-facilities-for-review/submit-issued-bond-facility-with-created-field.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/submit-issued-facilities-for-review/submit-issued-loan-facility-with-created-field.spec.js
  e2e-tests/portal/cypress/e2e/journeys/read-only/abandon-deal/cannot-abandon-a-deal.spec.js
  e2e-tests/portal/cypress/e2e/journeys/read-only/deal/access-contract.spec.js
  e2e-tests/portal/cypress/e2e/journeys/read-only/deal/cannot-abandon-a-deal.spec.js
  e2e-tests/portal/cypress/support/portal/loginGoToDealPage.js
Due: eslint --fix

feat(DTFS2-7349): add validation to reason for cancelling (#3494)
  libs/common/src/constants/index.ts
  libs/common/src/constants/max-character-count.ts
  trade-finance-manager-ui/server/controllers/case/cancellation/reason-for-cancelling.controller.test.ts
  trade-finance-manager-ui/server/controllers/case/cancellation/reason-for-cancelling.controller.ts
  trade-finance-manager-ui/server/controllers/case/cancellation/validation/validate-reason-for-cancelling.test.ts
  trade-finance-manager-ui/server/controllers/case/cancellation/validation/validate-reason-for-cancelling.ts
  trade-finance-manager-ui/server/routes/case/cancellation.ts
  trade-finance-manager-ui/server/routes/case/index.js
  trade-finance-manager-ui/templates/case/cancellation/reason-for-cancelling.njk
Due: eslint --fix

chore(DTFS2-6655): update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/checker/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date.spec.js
  e2e-tests/portal/cypress/support/portal/loginGoToDealPage.js
Due: eslint --fix

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTSF2-6655): fix/update cypress command
  e2e-tests/portal/cypress/support/portal/createBssDeal.js
Due: eslint --fix

chore(DTFS2-7378): fix/update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/maker-bond/bond-financial-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker-loan/loan-financial-details.spec.js
  e2e-tests/portal/cypress/support/portal/createBssDeal.js
Due: eslint --fix

feat(FN-2311): pull out premium payment data filtering
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report-reconciliation-details-by-id.controller/helpers/get-utilisation-report-reconciliation-details.ts
Due: eslint --fix

feat(dtfs2-6892): update to commonise date constants
  libs/common/src/constants/date-formats.ts
  libs/common/src/constants/date-timezones.ts
  libs/common/src/constants/index.ts
  trade-finance-manager-api/src/constants/date.js
  trade-finance-manager-api/src/constants/index.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/map-entra-user-data.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/map-entra-user-data.test.js
Due: eslint --fix

fix(DTFS2-6655): fix/update cypress command
  e2e-tests/portal/cypress/support/portal/createBssDeal.js
Due: eslint --fix

fix(DTFS2-7288): fixed failing SQL migration
  .github/workflows/deployment.yml
  .husky/pre-commit
  libs/common/package.json
  package-lock.json
Due: sort-package-json

fix(DTFS2-7375): upgraded docker base image version
  .husky/pre-commit
  dtfs-central-api/Dockerfile
  external-api/Dockerfile
  gef-ui/Dockerfile
  portal-api/Dockerfile
  portal/Dockerfile
  reverse-proxy/Dockerfile
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-ui/Dockerfile
Due: none

chore(tests): fix/align e2e tests
  e2e-tests/portal/cypress/e2e/journeys/dashboard/dashboard-create-deal.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/scheme-select.spec.js
  e2e-tests/portal/cypress/e2e/pages/selectScheme.js
  e2e-tests/portal/cypress/support/portal/createBSSSubmission.js
  e2e-tests/portal/cypress/support/portal/createBssDeal.js
Due: eslint --fix

fix(DTFS2-7375): removed redundant package-lock files
  gef-ui/package-lock.json
  libs/common/package-lock.json
  portal-api/package-lock.json
  portal/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
Due: none

fix(DTFS2-7375): removed redundant package-lock files
  .husky/pre-commit
Due: none

fix(DTFS2-7375): dependencies updates
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

chore(DTFS2-7378): fix/update e2e tests
  e2e-tests/portal/cypress/e2e/journeys/maker/clone-deal/clone-deal.spec.js
  e2e-tests/portal/cypress/support/commands.js
  e2e-tests/ukef/cypress/support/utils/keyboardInput.js
Due: eslint --fix

feat(dtfs2-6892): update to clarify code intent
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/get-existing-tfm-user.js
Due: eslint --fix

fix(DTFS2-7288): deployment pipeline (#3529)
  .github/workflows/deployment.yml
  libs/common/package.json
  package-lock.json
Due: sort-package-json

fix(DTFS2-7375): updated node and npm version
  azure-functions/acbs-function/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package.json
  portal-api/package.json
  portal/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
Due: sort-package-json

feat(dtfs2-6892): update js docs for clarity
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/index.js
  trade-finance-manager-api/src/v1/controllers/auth/auth-service/issue-jwt-and-update-user.js
Due: eslint --fix

feat(DTFS2-7294): update api tests
  dtfs-central-api/api-tests/v1/tfm/deal-cancellation/tfm-deal-cancellation-put.api-test.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  libs/common/src/middleware/feature-flags/deal-cancellation.ts
  trade-finance-manager-api/api-tests/v1/deal-cancellation/deal-cancellation.api-test.ts
  trade-finance-manager-api/src/v1/deals/routes.js
Due: eslint --fix

fix(DTFS2-7375): dockerfile image update (#3530)
  dtfs-central-api/Dockerfile
  external-api/Dockerfile
  gef-ui/Dockerfile
  portal-api/Dockerfile
  portal/Dockerfile
  reverse-proxy/Dockerfile
  trade-finance-manager-api/Dockerfile
  trade-finance-manager-ui/Dockerfile
Due: none

chore(DTFS2-7378): remove accidentally added command
  e2e-tests/portal/cypress/support/portal/createBssDeal.js
Due: eslint --fix

fix(DTFS2-7375): dependencies updates
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report.controller/index.test.ts
  libs/common/package.json
  package-lock.json
Due: eslint --fix, sort-package-json

fix(DTFS2-7375): dependencies updates
  package-lock.json
Due: none

chore(tests): split up e2e tests - portal maker (#3510)
  .github/workflows/test.yml
  e2e-tests/gef/cypress/.DS_Store
  e2e-tests/portal/cypress/e2e/journeys/maker/abandon-a-deal/abandon-a-deal.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/bank-details/bank-details-created-field.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/bank-details/bank-details.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/before-you-start/before-you-start.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/bss-mandatory-criteria/bss-mandatory-criteria.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/edit-deal-name/edit-deal-name.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility-criteria.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility-documentation.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/eligibility/eligibility.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/proceed-to-review/proceed-to-review.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/select-scheme/select-scheme.spec.js
  e2e-tests/portal/cypress/e2e/journeys/maker/xss/xss.spec.js
Due: eslint --fix

fix(DTFS2-7375): added type-script check to housekeeping
  package.json
Due: sort-package-json

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  sort-package-json: any of: package.json
