Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(DTFS2-6730): address pr comment
  portal-api/server/v1/users/routes.js
Due: eslint --fix

fix(DTFS2-6761): fixed unit test cases
  libs/common/src/helpers/crypto/password.test.ts
Due: eslint --fix

fix(DTFS2-8173): show amended bank review date on portal facilities summary list (#4513)
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendment-values-multiple-cover-end-date-amendment-bank-review-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendment-values-multiple-value-amendment-no-facility-end-date.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendment-values-single-cover-end-date-bank-review-date-amendment.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/amendments/pages/portal/application-details/application-details-amendment-values-single-value-and-date-and-bank-review-date-amendment.spec.js
  e2e-tests/ukef/cypress/support/gef/loginAndSubmitPortalAmendmentRequestToUkef.js
  e2e-tests/ukef/cypress/support/gef/makerAndCheckerSubmitPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerMakesPortalAmendmentRequest.js
  e2e-tests/ukef/cypress/support/gef/makerSubmitPortalAmendmentForReview.js
  libs/common/src/helpers/map-facility-fields-to-amendment-fields.test.ts
  libs/common/src/helpers/map-facility-fields-to-amendment-fields.ts
  portal-api/server/v1/gef/controllers/facilities.controller.js
Due: eslint --fix

chore(main): release 2.11.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(main): release 2.11.0 (#4416)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-6761): increased tfm-api jest timeout to 30s
  trade-finance-manager-api/api-test.jest.config.js
Due: eslint --fix

feat(DTFS-6761): refactored crypto function
  e2e-tests/support/tasks.js
  portal-api/server/crypto/pbkdf2-sha512-hash-strategy.js
  portal-api/server/crypto/utils.js
  portal-api/test-helpers/api-test-helpers/database/user-repository.js
  trade-finance-manager-api/server/utils/crypto.util.js
Due: eslint --fix

feat(DTFS-6761): depdencies updates
  dtfs-central-api/package.json
  external-api/package.json
  gef-ui/package.json
  package-lock.json
  portal-api/package.json
  portal-ui/package.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

chore(DTFS2-6730): remove password admin create user (#4501)
  portal-api/api-tests/api-test-users.js
  portal-api/api-tests/helpers/create-user.js
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/post-create-user.api-test.js
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/api-tests/v1/users/put-update-user.api-test.js
  portal-api/api-tests/v1/users/reset-password.api-test.js
  portal-api/api-tests/v1/users/users.api-test.js
  portal-api/api-tests/v1/users/with-validate-email-is-unique.api-tests.js
  portal-api/server/v1/users/controller.js
  portal-api/server/v1/users/routes.js
  utils/mock-data-loader/api.js
  utils/mock-data-loader/database/user-repository.ts
Due: eslint --fix

chore(DTFS2-6662): address pr comments
  portal-api/api-tests/v1/facilities/facilities.get.api-test.js
Due: eslint --fix

feat(DTFS-6761): refactored crypto function
  libs/common/src/helpers/crypto/password.test.ts
  libs/common/src/helpers/crypto/salt.ts
Due: eslint --fix

feat(DTFS2-16188-bicep-templates): update naming standards
  infrastructure/development_scripts/sort_lists.js
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
Due: eslint --fix

feat(DTFS-6761): refactored crypto function
  libs/common/src/helpers/crypto/salt.ts
Due: eslint --fix

chore(DTFS2-6662): update test description
  portal-api/api-tests/v1/facilities/facilities.get.api-test.js
Due: eslint --fix

feat(DTFS-6761): corrected docstring
  libs/common/src/helpers/crypto/salt.ts
Due: eslint --fix

feat(DTFS2-6761): commonised password hashing (#4509)
  e2e-tests/support/tasks.js
  gef-ui/api-tests/test-helpers/user-generator.js
  gef-ui/api-tests/test-helpers/user-session-generator.js
  libs/common/src/constants/crypto.ts
  libs/common/src/constants/index.ts
  libs/common/src/helpers/crypto/hash.test.ts
  libs/common/src/helpers/crypto/hash.ts
  libs/common/src/helpers/crypto/index.ts
  libs/common/src/helpers/crypto/password.test.ts
  libs/common/src/helpers/crypto/password.ts
  libs/common/src/helpers/crypto/salt.test.ts
  libs/common/src/helpers/crypto/salt.ts
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/server/crypto/cryptographically-strong-generator.js
  portal-api/server/crypto/cryptographically-strong-generator.test.js
  portal-api/server/crypto/hasher.js
  portal-api/server/crypto/pbkdf2-sha512-hash-strategy.js
  portal-api/server/crypto/utils.js
  portal-api/server/crypto/utils.test.js
  portal-api/server/v1/users/sign-in-link.service.js
  portal-api/test-helpers/api-test-helpers/database/user-repository.js
  trade-finance-manager-api/api-test.jest.config.js
  trade-finance-manager-api/server/utils/crypto.util.js
  trade-finance-manager-api/server/utils/crypto.util.test.js
  utils/mock-data-loader/database/user-repository.ts
  utils/mock-data-loader/user-helper.js
Due: eslint --fix

chore(DTFS2-6662): address pr comment
  portal-api/api-tests/v1/facilities/facilities.get.api-test.js
Due: eslint --fix

chore(DTFS2-6662): add get facilities api tests (#4514)
  portal-api/api-tests/v1/facilities/facilities.get.api-test.js
Due: eslint --fix

feat(DTFS-6761): added crypto
  portal-api/server/crypto/hasher.js
  trade-finance-manager-api/server/utils/crypto.util.js
Due: eslint --fix

feat(DTFS-6761): improved readbility
  portal-api/server/crypto/utils.js
  trade-finance-manager-api/server/utils/crypto.util.js
Due: eslint --fix

feat(DTFS-6761): tostring
  libs/common/src/helpers/crypto/hash.ts
  portal-api/server/crypto/hasher.js
  portal-api/server/crypto/pbkdf2-sha512-hash-strategy.js
  portal-api/test-helpers/api-test-helpers/database/user-repository.js
Due: eslint --fix

feat(DTFS-6761): tostring
  e2e-tests/support/tasks.js
  portal-api/server/crypto/utils.js
  trade-finance-manager-api/server/utils/crypto.util.js
Due: eslint --fix

feat(DTFS-6761): tostring
  portal-api/server/crypto/hasher.js
  portal-api/server/crypto/utils.js
  trade-finance-manager-api/server/utils/crypto.util.js
Due: eslint --fix

feat(DTFS-6761): tostring
  portal-api/server/crypto/utils.test.js
  trade-finance-manager-api/server/utils/crypto.util.test.js
Due: eslint --fix

chore(DTFS2-8181): change portal to portal-ui
  utils/copy-env-vars/index.ts
Due: eslint --fix

fix(DTFS2-6761): updated key length to 128
  portal-api/server/constants/sign-in-link.js
Due: eslint --fix

chore(DTFS2-7769): rename has amendment in progress
  libs/common/src/types/mongo-db-models/tfm-facilities.ts
  trade-finance-manager-ui/component-tests/case/_macros/portal-amendment-in-progress-bar.component-test.js
  trade-finance-manager-ui/component-tests/case/_macros/portal-amendment-in-progress-deal-bar.component-test.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/index.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.getAmendmentsInProgress.test.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
  trade-finance-manager-ui/templates/case/amendments/_macros/portal-amendment-in-progress-bar.njk
  trade-finance-manager-ui/templates/case/amendments/_macros/portal-amendment-in-progress-deal-bar.njk
  trade-finance-manager-ui/templates/case/deal/deal.njk
  trade-finance-manager-ui/templates/case/facility/facility.njk
Due: eslint --fix

fix(DTFS2-6761): updated e2e fixtures
  e2e-tests/e2e-fixtures/constants.fixture.js
  libs/common/src/constants/e2e-fixtures.ts
Due: eslint --fix

feat(DTFS2-16188): ammended naming conventions for resources
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

fix(DTFS2-6761): updated e2e fixtures
  libs/common/src/constants/e2e-fixtures.ts
  portal-api/api-tests/fixtures/sign-in-token-constants.js
  portal-ui/api-tests/fixtures/sign-in-token-constants.js
Due: eslint --fix

fix(DTFS2-6761): updated e2e fixtures
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/server/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-ui/api-tests/login/login-with-sign-in-link.api-test.js
  portal-ui/server/api.test.js
  portal-ui/server/controllers/login/login-with-sign-in-link.test.js
Due: eslint --fix

fix(DTFS2-6761): updated e2e fixtures
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
Due: eslint --fix

feat(DTFS2-16188): ammended naming conventions for resources (#4521)
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/clamav-aca.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
  infrastructure/resource_group_level/modules/function-acbs.bicep
  infrastructure/resource_group_level/modules/function-number-generator.bicep
  infrastructure/resource_group_level/modules/gw-nsg.bicep
  infrastructure/resource_group_level/modules/redis.bicep
  infrastructure/resource_group_level/modules/route-tables.bicep
  infrastructure/resource_group_level/modules/storage.bicep
  infrastructure/resource_group_level/modules/tfs-ip.bicep
  infrastructure/resource_group_level/modules/vnet.bicep
  infrastructure/resource_group_level/modules/waf-policies.bicep
  infrastructure/resource_group_level/modules/webapps/webapp.bicep
Due: none

feat(DTFS2-16188): rework on namings
  cspell.json
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/parameters.dev.json
Due: none

fix(DTFS2-6761): updated key length to 128 (#4518)
  e2e-tests/e2e-fixtures/constants.fixture.js
  libs/common/src/constants/e2e-fixtures.ts
  portal-api/api-tests/fixtures/sign-in-token-constants.js
  portal-api/api-tests/v1/users/login-with-sign-in-link.api-test.js
  portal-api/server/constants/sign-in-link.js
  portal-api/server/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-ui/api-tests/fixtures/sign-in-token-constants.js
  portal-ui/api-tests/login/login-with-sign-in-link.api-test.js
  portal-ui/server/api.test.js
  portal-ui/server/controllers/login/login-with-sign-in-link.test.js
Due: eslint --fix

feat(DTFS2-16188): rework on namings
  .github/workflows/bicep_lint.yml
Due: none

feat(DTFS2-16188): rework on namings
  infrastructure/resource_group_level/parameters.dev.json
Due: none

fix(DTFS2-6761): updated api test
  libs/common/src/constants/e2e-fixtures.ts
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/server/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/server/v1/users/sign-in-link.service.login-user.test.js
Due: eslint --fix
