Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(dtfs2-6892): update test yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-7467): replace hasBeenIssued filter with stage
  portal/server/constants/facility-has-been-issued.js
  portal/server/constants/field-names.js
  portal/server/content-strings/index.js
  portal/server/controllers/dashboard/facilities/facilities-filters-query.js
  portal/server/controllers/dashboard/facilities/index.js
  portal/server/controllers/dashboard/facilities/sanitise-body.js
  portal/server/controllers/dashboard/facilities/selected-filters.js
  portal/server/controllers/dashboard/facilities/template-filters.js
  portal/server/controllers/dashboard/filters/generate-template-filters.js
  portal/templates/dashboard/_macros/dashboard-filters-form.njk
Due: eslint --fix

feat(FN-3633): add back correct spy arguments
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.test.js
Due: eslint --fix

chore(DTFS2-7531): update tfm ui success banner
  trade-finance-manager-ui/templates/_macros/success-banner.njk
Due: none

feat(FN-3633): throw an error if report data is completely empty
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.test.js
Due: eslint --fix

feat(FN-3633): fix test
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.test.js
Due: eslint --fix

feat(FN-3633): fix jsdoc documentation
  portal/server/helpers/filterReportJsonToRelevantKeys.js
Due: eslint --fix

feat(FN-3566): improve e2e-test coverage of premium payments tab error states
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/premium-payments-error-states/create-fee-record-correction-errors.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/premium-payments-error-states/add-payment-errors.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/report-reconciliation/premium-payments-error-states/generate-keying-data-errors.spec.js
Due: eslint --fix

chore(DTFS2-7607): fix/update mock data loader
  utils/mock-data-loader/bss/facilities/index.js
  utils/mock-data-loader/insert-mocks.js
Due: eslint --fix

chore(DTFS2-7607): fix/update mock data loader
  utils/mock-data-loader/insert-mocks.js
Due: eslint --fix

chore(DTFS2-7531): bump gov design library
  gef-ui/templates/index.njk
  portal/public/css/styles.css
  portal/server/generateApp.ts
  portal/templates/index.njk
  trade-finance-manager-ui/server/generateApp.js
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

fix(DTFS2-7608): improved composite module bash script
  .github/modules/rerun/action.yml
  .github/workflows/test.yml
Due: none

feat(FN-3566): review markups
  e2e-tests/tfm/cypress/e2e/journeys/utilisation-reports/fee-record-correction/feature-flag-enabled/premium-payments-error-states/create-fee-record-correction-errors.spec.js
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/initiate-record-correction-request/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/utilisation-report-reconciliation-for-report/index.test.ts
  trade-finance-manager-ui/server/helpers/get-premium-payments-facility-id-query-from-referer.ts
Due: eslint --fix

feat(FN-3541): remove unused code
  dtfs-central-api/src/helpers/get-latest-tfm-facility-values.test.ts
  dtfs-central-api/src/helpers/get-latest-tfm-facility-values.ts
  dtfs-central-api/src/helpers/index.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/get-fixed-fee-for-facility.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/get-fixed-fee-for-facility.ts
Due: eslint --fix

feat(FN-3573): use only bank name in view model
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/create-record-correction-request/index.ts
Due: eslint --fix

feat(FN-3573): recompile scripts
  trade-finance-manager-ui/public/js/mojFilterHide.js
  trade-finance-manager-ui/public/js/mojFilterHide.js.map
Due: eslint --fix

feat(FN-3573): remove byId suffix from controllers
  dtfs-central-api/api-tests/v1/utilisation-reports/get-fee-record-details.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/swagger-definitions/utilisation-reports/fee-record-details-response-body.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-fee-record-details.controller.test.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-fee-record-details.controller.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/index.ts
  trade-finance-manager-api/src/v1/routes.js
Due: eslint --fix

feat(dtfs2-6892): add comment to submit deal cancellation
  e2e-tests/tfm/cypress/support/trade-finance-manager-ui/submit-deal-cancellation.js
Due: eslint --fix

chore(DTFS2-7531): replace tfm pricing risk table gov component
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk/edit-facility-risk-profile/_macros/section-facilities/facility-pricing-risk-table.component-test.js
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.njk
Due: eslint --fix

feat(FN-3567): review markups
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table/helpers.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table/premium-payments-table-checkboxes.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table/premium-payments-table-data.component-test.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/premium-payments-table/premium-payments-table-headers.component-test.ts
  trade-finance-manager-ui/templates/utilisation-reports/_macros/premium-payments-table.njk
Due: eslint --fix

feat(FN-3573): review comments
  dtfs-central-api/api-tests/v1/utilisation-reports/get-fee-record-details.api-test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/index.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/index.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-fee-record-details.controller.test.ts
Due: eslint --fix

fix(DTFS2-7608): improved composite module bash script
  .github/modules/rerun/action.yml
Due: none

chore(DTFS2-7531): fix/update unit test
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/_macros/section-facilities/facility-pricing-risk-table.njk
Due: none

feat(FN-3573): add additional toHaveBeenCalled checks
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-fee-record-details.controller/helpers.test.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/record-corrections/create-record-correction-request/index.test.ts
Due: eslint --fix

fix(DTFS2-7608): fixed bash syntax errors
  .github/modules/rerun/action.yml
Due: none

chore(DTFS2-7607): update unit tests
  portal/component-tests/_macros/eligibility-criteria-answers.component-test.js
  portal/component-tests/bond/_macros/bond-submission-details.component-test.js
  portal/component-tests/contract/about/about-submission-details.component-test.js
  portal/component-tests/contract/components/summary-table.component-test.js
  portal/component-tests/contract/components/totals-table.component-test.js
  portal/component-tests/contract/contract-submission-details.component-test.js
  portal/component-tests/contract/contract-view.component-test.js
  portal/component-tests/loan/_macros/loan-submission-details.component-test.js
  trade-finance-manager-api/api-tests/v1/deals/deal-controller.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-party-db.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-update-lead-underwriter.api-test.js
  trade-finance-manager-api/api-tests/v1/mappings/map-deal.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/mock-deal-facilities-USD-currency.js
  trade-finance-manager-api/src/v1/__mocks__/mock-deals.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller-updateFacilityAmendment.test.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.test.js
  trade-finance-manager-api/src/v1/emails/AIN-MIN-confirmation/bss-email-variables.test.js
  trade-finance-manager-api/src/v1/emails/MIA-confirmation/bss-email-variables.test.js
  trade-finance-manager-api/src/v1/emails/MIA-confirmation/generate-email-variables.test.js
  trade-finance-manager-api/src/v1/helpers/dealHasAllUkefIds.api-test.js
  trade-finance-manager-api/src/v1/rest-mappings/deals-light.api-test.js
  trade-finance-manager-api/src/v1/rest-mappings/facility.test.js
  trade-finance-manager-api/src/v1/rest-mappings/mappings/deal/mapDealSnapshot.test.js
  trade-finance-manager-api/src/v1/rest-mappings/mappings/deal/mapEligibility.api-test.js
  trade-finance-manager-api/src/v1/rest-mappings/mappings/facilities/mapFacilitySnapshot.test.js
Due: eslint --fix

feat(FN-3573): update script integrity hash
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-report-reconciliation-for-report.njk
Due: none

fix(DTFS2-7608): fixed bash script
  .github/modules/rerun/action.yml
  .github/workflows/test.yml
Due: none

fix(DTFS2-7608): fixed bash script
  .github/modules/rerun/action.yml
  libs/common/package.json
  package-lock.json
  package.json
Due: sort-package-json

feat(FN-3633): review comments
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(FN-3541): remove unused fixed fee code (#3933)
  dtfs-central-api/src/helpers/get-latest-tfm-facility-values.test.ts
  dtfs-central-api/src/helpers/get-latest-tfm-facility-values.ts
  dtfs-central-api/src/helpers/index.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/get-fixed-fee-for-facility.test.ts
  dtfs-central-api/src/services/state-machines/fee-record/event-handlers/helpers/get-fixed-fee-for-facility.ts
Due: eslint --fix

fix(DTFS2-7608): fixed test script
  .github/workflows/test.yml
Due: none

fix(DTFS2-7608): fixed test script
  .github/modules/rerun/action.yml
Due: none

feat(DTFS2-7625): code review
  dtfs-central-api/src/repositories/portal/facilities.repo.ts
  dtfs-central-api/src/repositories/portal/facilities.repo.updateByDealId.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.processScheduledCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.submitDealCancellation.test.ts
  dtfs-central-api/src/services/tfm/deal-cancellation.service.ts
Due: eslint --fix
