Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(DTFS2-8118): review markups
  portal-api/server/v1/gef/routes.js
  portal-api/server/v1/routes.js
Due: eslint --fix

feat(DTFS2-8122): fixed dependencies resolutions
  libs/common/package.json
  package-lock.json
  portal-ui/package.json
Due: sort-package-json

chore(DTFS2-8120-21): added missing swagger from central and external api
  dtfs-central-api/server/v1/routes/user-routes.js
  external-api/server/v1/routes/healthcheck.route.ts
Due: eslint --fix

feat(DTFS2-8122): moved to helper
  .github/workflows/test.yml
  libs/common/src/helpers/configure-express-session.ts
  libs/common/src/helpers/configure-redis-cache.ts
  libs/common/src/helpers/index.ts
  libs/common/src/middleware/index.ts
  libs/common/src/middleware/session/index.ts
  portal-ui/server/generateApp.ts
Due: eslint --fix

feat(DTFS2-8122): added unit test cases for redis cache
  libs/common/src/helpers/configure-redis-cache.test.ts
  libs/common/src/helpers/configure-redis-cache.ts
Due: eslint --fix

chore(DTFS2-7963): add swagger on facility routes
  gef-ui/server/controllers/about-facility/index.js
  gef-ui/server/controllers/amendments/submit-amendment-to-ukef/post-submit-amendment-to-ukef.ts
  gef-ui/server/controllers/confirm-cover-start-date/index.js
  gef-ui/server/controllers/facilities/index.js
  gef-ui/server/controllers/facility-confirm-deletion/index.js
  gef-ui/server/controllers/facility-currency/index.js
  gef-ui/server/controllers/facility-end-date/post-facility-end-date.ts
  gef-ui/server/controllers/facility-guarantee/index.js
  gef-ui/server/controllers/facility-value/index.js
  gef-ui/server/controllers/provided-facility/index.js
  gef-ui/server/routes/facilities/about-facility.js
  gef-ui/server/routes/facilities/amendments/index.ts
  gef-ui/server/routes/facilities/bank-review-date.ts
  gef-ui/server/routes/facilities/confirm-cover-start-date.js
  gef-ui/server/routes/facilities/cover-start-date.js
  gef-ui/server/routes/facilities/facilities.js
  gef-ui/server/routes/facilities/facility-confirm-deletion.js
  gef-ui/server/routes/facilities/facility-currency.js
  gef-ui/server/routes/facilities/facility-end-date.ts
  gef-ui/server/routes/facilities/facility-guarantee.js
  gef-ui/server/routes/facilities/facility-value.js
  gef-ui/server/routes/facilities/provided-facility.js
Due: eslint --fix

feat(DTFS2-8122): added unit test cases for redis cache
  .github/workflows/test.yml
  libs/common/src/helpers/configure-express-session.test.ts
  libs/common/src/helpers/configure-express-session.ts
  libs/common/src/helpers/configure-redis-cache.test.ts
Due: eslint --fix

feat(DTFS2-8122): added backend export to libs/common
  gef-ui/package.json
  gef-ui/server/generateApp.js
  libs/common/package.json
  libs/common/src/helpers/backend/configure-express-application.test.ts
  libs/common/src/helpers/backend/configure-express-application.ts
  libs/common/src/helpers/backend/configure-express-session.test.ts
  libs/common/src/helpers/backend/configure-express-session.ts
  libs/common/src/helpers/backend/configure-redis-cache.test.ts
  libs/common/src/helpers/backend/configure-redis-cache.ts
  libs/common/src/helpers/backend/index.ts
  libs/common/src/helpers/calculate-ukef-exposure.ts
  libs/common/src/helpers/frontend/decimals-count.test.ts
  libs/common/src/helpers/frontend/decimals-count.ts
  libs/common/src/helpers/frontend/index.ts
  libs/common/src/helpers/index.ts
  libs/common/src/helpers/round-value.ts
  package-lock.json
  portal-ui/package.json
  portal-ui/public/css/styles.css
  portal-ui/scripts/main.js
  portal-ui/scripts/ukef-exposure.js
  portal-ui/server/generateApp.ts
  portal-ui/server/helpers/sanitizeCurrency.js
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/generateApp.js
Due: eslint --fix, sort-package-json

feat(DTFS2-8122): updated gef-ui and trade-finance-manager-ui microservices
  gef-ui/package.json
  gef-ui/server/generateApp.js
  package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/generateApp.js
  trade-finance-manager-ui/server/session-configuration/index.js
Due: eslint --fix, sort-package-json

feat(DTFS2-8122): added express-session to tfm-ui
  package-lock.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-8122): added express-session to tfm-ui
  .github/workflows/test.yml
Due: none

feat(DTFS2-8122): replace expression in gha
  .github/workflows/test.yml
Due: none

chore(DTFS2-8120): added missing swagger from central and external api (#4443)
  dtfs-central-api/server/v1/routes/user-routes.js
  external-api/server/v1/routes/healthcheck.route.ts
Due: eslint --fix

feat(DTFS2-8122): remove replace expression in gha
  .github/workflows/test.yml
Due: none

feat(DTFS2-8122): fixed path
  portal-api/server/utils/number.js
Due: eslint --fix

feat(DTFS2-8122): re-build UI services
  gef-ui/public/css/styles.css
  gef-ui/public/js/govukFrontend.js
  gef-ui/public/js/govukFrontend.js.map
  portal-api/server/v1/gef/calculations/facility-calculations.js
  portal-api/server/v1/section-calculations/index.js
  portal-ui/public/css/styles.css
  portal-ui/public/js/govukFrontend.js
  portal-ui/public/js/govukFrontend.js.map
  portal-ui/public/js/main.js
  portal-ui/public/js/main.js.map
  portal-ui/public/js/ukefexposure.js
  portal-ui/public/js/ukefexposure.js.map
  trade-finance-manager-api/server/v1/helpers/calculateUkefExposure.js
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/public/js/govukFrontend.js
  trade-finance-manager-ui/public/js/govukFrontend.js.map
Due: eslint --fix

feat(DTFS2-8122): updated paths
  .github/workflows/test.yml
  portal-api/server/v1/validation/bond-rules/minimum-risk-margin-fee.js
  portal-api/server/v1/validation/fields/covered-percentage.js
  portal-api/server/v1/validation/fields/currency-not-the-same-as-supply-contract-rules/conversion-rate.js
  portal-api/server/v1/validation/fields/facility-value.js
  portal-api/server/v1/validation/fields/margin-fee.js
  portal-api/server/v1/validation/fields/ukef-guarantee-in-months.js
  portal-api/server/v1/validation/loan-rules/disbursement-amount.js
  portal-api/server/v1/validation/loan-rules/minimum-quarterly-fee.js
  trade-finance-manager-api/server/v1/rest-mappings/helpers/formatFacilityValue.helper.js
Due: eslint --fix

feat(DTFS2-8122): updated SRIs
  .github/workflows/test.yml
  gef-ui/component-tests/index/index.component-test.js
  gef-ui/templates/index.njk
  portal-ui/component-tests/index/index.component-test.js
  portal-ui/templates/index.njk
  trade-finance-manager-ui/component-tests/index/index.component-test.js
  trade-finance-manager-ui/templates/index.njk
Due: eslint --fix

feat(DTFS2-8122): fixed redistore
  libs/common/src/helpers/backend/configure-express-session.ts
Due: eslint --fix

feat(DTFS2-8122): fixed SRI
  .github/workflows/test.yml
  portal-ui/component-tests/contract/about/financial-details.component-test.js
  portal-ui/templates/_macros/facility-inputs/ukef-exposure.njk
Due: eslint --fix

feat(DTFS2-8122): added csrf create and verify middlewares
  .codacy/codacy.yaml
  libs/common/src/constants/csrf.ts
  libs/common/src/constants/index.ts
  libs/common/src/middleware/csrf/create.ts
  libs/common/src/middleware/csrf/index.ts
  libs/common/src/middleware/csrf/verify.ts
  libs/common/src/middleware/index.ts
  libs/common/src/types/express-session.d.ts
  portal-ui/server/generateApp.ts
Due: eslint --fix

feat(DTFS2-8122): fixed typescript errors
  dtfs-central-api/tsconfig.json
  e2e-tests/tsconfig.json
  external-api/tsconfig.json
  gef-ui/package.json
  gef-ui/tsconfig.json
  libs/common/src/middleware/csrf/verify.ts
  package-lock.json
  portal-api/tsconfig.json
  portal-ui/package.json
  portal-ui/tsconfig.json
  trade-finance-manager-api/tsconfig.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/tsconfig.json
  utils/tsconfig.json
Due: eslint --fix, sort-package-json

feat(DTFS2-8122): express session optional properties augmentation
  libs/common/src/types/express-session.d.ts
Due: eslint --fix

feat(DTFS2-8122): dependencies updates
  libs/common/package.json
  package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-8122): fixed tsconfig.json files
  dtfs-central-api/tsconfig.json
  e2e-tests/tsconfig.json
  external-api/tsconfig.json
  gef-ui/tsconfig.json
  libs/common/tsconfig.json
  portal-api/tsconfig.json
  portal-ui/tsconfig.json
  trade-finance-manager-api/tsconfig.json
  trade-finance-manager-ui/tsconfig.json
  utils/tsconfig.json
Due: none

chore(DTFS2-7963): add swagger documentation
  gef-ui/server/controllers/facility-end-date/post-facility-end-date.ts
  gef-ui/server/controllers/supporting-information/supporting-documents/index.js
  gef-ui/server/controllers/unissued-facilities/index.js
  gef-ui/server/routes/supporting-information-upload.js
  gef-ui/server/routes/unissued-facilities.js
Due: eslint --fix

chore(DTFS2-7112): fix mock data loader
  utils/mock-data-loader/portal-users/index.js
Due: eslint --fix

chore(DTFS2-7112): fix missing import
  e2e-tests/e2e-fixtures/mock-gef-facilities.js
Due: eslint --fix

chore(DTFS2-7112): fix export error
  libs/common/src/test-helpers/e2e/bss/create-mock-deal.js
Due: eslint --fix

chore(DTFS2-7112): added docstring
  libs/common/src/test-helpers/e2e/bss/create-mock-deal.js
Due: eslint --fix

chore(DTFS2-7112): added correct types
  libs/common/src/test-helpers/e2e/bss/create-mock-deal.js
Due: eslint --fix

chore(DTFS2-7112): lint fix
  libs/common/src/test-helpers/e2e/bss/create-mock-deal.ts
  libs/common/src/test-helpers/e2e/index.ts
Due: eslint --fix

feat(DTFS2-8122): updated verification middleware checkpoint
  libs/common/src/constants/csrf.ts
  libs/common/src/middleware/csrf/create.ts
  libs/common/src/middleware/csrf/verify.ts
  portal-ui/server/generateApp.ts
Due: eslint --fix

chore(DTFS2-7112): lint fix
  libs/common/src/test-helpers/e2e/bss/create-mock-deal.js
  libs/common/src/test-helpers/e2e/index.ts
  libs/common/src/test-helpers/types/e2e.ts
  libs/common/src/test-helpers/types/index.ts
Due: eslint --fix
