Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-1483): remove '.env.test'
  trade-finance-manager-api/.env.test
  trade-finance-manager-api/jest.common.config.js
  trade-finance-manager-api/jest.setup.js
Due: eslint --fix

fix(DTFS-6472): solving tests for GET /deals page sorting
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-buyer.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-exporter.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-product.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-receivedDate-default-sort.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-stage.spec.js
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-ukefDealId.spec.js
  trade-finance-manager-ui/component-tests/deals/_macros/deals-table.component-test.js
Due: eslint --fix

chore(DTFS2-6700): escape other uses of in dtfs-central-api
  dtfs-central-api/src/helpers/escapeRegExp.ts
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
Due: eslint --fix

feat(DTFS2-6897): added style to publish.yml
  .github/workflows/publish.yml
Due: none

chore(DTFS2-6700): update linting for ts files in dtfs-central-api
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/src/helpers/escapeRegExp.ts
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
Due: eslint --fix

fix(cypress): remove temporary directories
  .github/workflows/publish.yml
  e2e-tests/cypress/fixtures/example.json
  e2e-tests/cypress/support/commands.js
  e2e-tests/cypress/support/e2e.js
Due: eslint --fix

chore(DTFS2-6700): allow api-tests to run ts
  dtfs-central-api/api-test-common.jest.config.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
Due: eslint --fix, sort-package-json

fix(DTFS-6472): solving tests for GET /deals page sorting
  e2e-tests/tfm/cypress/e2e/pages/dealsPage.js
  trade-finance-manager-ui/component-tests/deals/_macros/deals-table-heading.component-test.js
Due: eslint --fix

feat(DTFS2-5659): extend component tests tfm ui
  trade-finance-manager-ui/component-tests/case/facility/facility.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk/edit-facility-risk-profile/_macros/section-exporter/exporter-table.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk/edit-facility-risk-profile/_macros/section-exporter/section-exporter.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk/edit-facility-risk-profile/_macros/section-facilities/facility-pricing-risk-table.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk/edit-facility-risk-profile/_macros/section-facilities/section-facilities.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk/edit-facility-risk-profile/edit-facility-risk-profile.component-test.js
  trade-finance-manager-ui/component-tests/case/underwriting/pricing-and-risk/edit-facility-risk-profile/edit-facility-risk-profile/_macros/legend-html.component-test.js
  trade-finance-manager-ui/component-tests/facilities/facilities-table-search-form.component-test.js
Due: eslint --fix

feat(DTFS2-5659): added component tests
  trade-finance-manager-ui/component-tests/case/deal/deal.component-test.js
Due: eslint --fix

feat(FN-1483): add docker envs
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
Due: none

feat(DTFS2-5659): added more tests for facility component test
  trade-finance-manager-ui/component-tests/case/facility/facility.component-test.js
Due: eslint --fix

fix(DTFS2-6886): fix bug where user gets a 502 on requesting new sign in link in some scenarios
  portal-api/src/v1/email/index.js
  portal-api/src/v1/email/index.test.js
  portal-api/src/v1/users/passport.js
  portal/server/routes/login/index.js
Due: eslint --fix

fix(DTFS2-6886): remove redundant API tests
  portal/api-tests/login/other-login-routes.api-test.js
  portal/api-tests/login/post-check-your-email.api-test.js
  portal/api-tests/login/post-sign-in-link-expired.api-test.js
  portal/api-tests/login/send-new-sign-in-link-api-tests.js
Due: eslint --fix

fix(DTFS2-6886): add API tests for POST sign-in-link-expired
  portal/api-tests/login/post-check-your-email-and-post-sign-in-link-expired.api-test.js
Due: eslint --fix

fix(DTFS2-6886): fix API tests
  portal/api-tests/login/post-check-your-email-and-post-sign-in-link-expired.api-test.js
  portal/api-tests/login/post-check-your-email.api-test.js
  portal/api-tests/login/post-sign-in-link-expired.api-test.js
  portal/api-tests/login/send-new-sign-in-link-api-tests.js
Due: eslint --fix

feat(FN-1483): fix tests
  trade-finance-manager-api/__mocks__/@azure/storage-file-share.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/mock-utilisation-report.ts
  trade-finance-manager-api/src/v1/controllers/utilisation-reports/get-utilisation-report-download.controller.test.ts
Due: eslint --fix

feat(FN-1483): add 'RestError' to azure mocks
  trade-finance-manager-api/__mocks__/@azure/storage-file-share.js
Due: eslint --fix

feat(DTFS2-6897): added style to publish.yml (#2459)
  .github/workflows/publish.yml
Due: none

feat(FN-1483): remove unused fileshares
  trade-finance-manager-api/src/constants/fileshares.ts
  trade-finance-manager-api/src/drivers/fileshare/index.ts
Due: eslint --fix

fix(DTFS-6472): fixing e2e test for default sorting
  e2e-tests/tfm/cypress/e2e/journeys/deals/deals-sort-by-receivedDate-default-sort.spec.js
Due: eslint --fix

refactor(DTFS2-6886): use string substitution in console logs
  portal-api/src/v1/email/index.js
  portal-api/src/v1/email/index.test.js
  portal-api/src/v1/users/passport.js
Due: eslint --fix

refactor(DTFS2-6886): lint
  portal-api/src/v1/users/passport.js
Due: eslint --fix

feat(FN-692): add what if job & create test file share
  .github/workflows/bicep_deploy.yml
  .github/workflows/bicep_workflow_feature.yml
  infrastructure/resource_group_level/modules/storage.bicep
Due: none

fix(DTFS-6462): changing title style in templates to multiple lines
  trade-finance-manager-ui/templates/_partials/problem-with-service.njk
  trade-finance-manager-ui/templates/accessibility-statement.njk
  trade-finance-manager-ui/templates/case/activity/activity.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-assign-lead-underwriter.njk
  trade-finance-manager-ui/templates/case/amendments/amendment-task.njk
  trade-finance-manager-ui/templates/case/deal/deal.njk
  trade-finance-manager-ui/templates/case/documents/documents.njk
  trade-finance-manager-ui/templates/case/facility/facility.njk
  trade-finance-manager-ui/templates/case/parties/parties.njk
  trade-finance-manager-ui/templates/case/parties/summary/bond.njk
  trade-finance-manager-ui/templates/case/parties/summary/party.njk
  trade-finance-manager-ui/templates/case/tasks/task.njk
  trade-finance-manager-ui/templates/case/tasks/tasks.njk
  trade-finance-manager-ui/templates/case/underwriting/lead-underwriter/assign-lead-underwriter.njk
  trade-finance-manager-ui/templates/case/underwriting/managers-decision/edit-managers-decision.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/edit-facility-risk-profile/edit-facility-risk-profile.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/edit-pricing-and-risk.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/loss-given-default.njk
  trade-finance-manager-ui/templates/case/underwriting/pricing-and-risk/probability-of-default.njk
  trade-finance-manager-ui/templates/case/underwriting/underwriting.njk
  trade-finance-manager-ui/templates/cookies.njk
  trade-finance-manager-ui/templates/deals/deals.njk
  trade-finance-manager-ui/templates/facilities/facilities.njk
  trade-finance-manager-ui/templates/feedback/feedback-form.njk
  trade-finance-manager-ui/templates/feedback/feedback-thankyou.njk
  trade-finance-manager-ui/templates/login.njk
  trade-finance-manager-ui/templates/page-not-found.njk
Due: none

chore(DTFS2-6666): escape regex characters in portal filter
  portal/server/controllers/dashboard/filters/generate-keyword-query.js
Due: eslint --fix

fix(DTFS2-6886): fix bug where user gets a 502 on requesting new sign in link from link expiry page (#2457)
  portal-api/src/v1/email/index.js
  portal-api/src/v1/email/index.test.js
  portal-api/src/v1/users/passport.js
  portal/api-tests/login/other-login-routes.api-test.js
  portal/api-tests/login/post-sign-in-link-expired.api-test.js
  portal/api-tests/login/send-new-sign-in-link-api-tests.js
  portal/server/routes/login/index.js
Due: eslint --fix

feat(FN-1483): add AZURE env vars to TFM API infra
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
Due: none

feat(FN-1483): add AZURE env vars to TFM API disaster recovery scripts
  .github/workflows/development_infrastructure.yml
Due: none

feat(FN-1483): add AZURE env vars to TFM API infra (#2462)
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
Due: none

fix(DTFS-6462): changing head title in main template
  trade-finance-manager-ui/templates/index.njk
Due: none

feat(FN-1483): add infra params
  infrastructure/resource_group_level/main.bicep
  infrastructure/resource_group_level/modules/webapps/trade-finance-manager-api-calculated-variables.bicep
Due: none

feat(FN-1483): add to staging and prod
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
Due: none

feat(FN-1483): add AZURE env vars to TFM API disaster recovery scripts (#2463)
  .github/workflows/development_infrastructure.yml
  .github/workflows/production_infrastructure.yml
  .github/workflows/staging_infrastructure.yml
Due: none

fix(publish): added missing comma
  .github/workflows/publish.yml
Due: none

fix(publish): added missing comma (#2464)
  .github/workflows/publish.yml
Due: none

feat(FN-1685): add JSDoc documentation for new functions
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-currency-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-total-fees-accrued-exchange-rate-error.js
Due: eslint --fix

fix(gha): release-please v4 upgrade syntax
  .github/workflows/publish.yml
  .github/workflows/release.json
  README.md
Due: none

chore(DTFS2-6666): handle regex character escaping in portal-api
  portal-api/api-tests/helpers/escapeOperators.api-test.js
  portal-api/src/v1/helpers/escapeOperators.js
  portal/server/controllers/dashboard/filters/generate-keyword-query.js
  portal/server/controllers/dashboard/filters/generate-keyword-query.test.js
Due: eslint --fix
