Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(DTFS2-6761): fix failing test
  e2e-tests/support/tasks.js
Due: eslint --fix

chore(release-4.0-pen-test-to-delete): release 3.2.0
  CHANGELOG.md
Due: none

chore(fix-release-please): fix release-please
  .github/workflows/publish.yml
  release-please-config.json
Due: none

chore(release-4.0-pen-test-to-delete): release 3.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(release-4.0-pen-test-to-delete): release 3.3.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(DTFS2-8601): fix release-please incorrectly tracking releases
  .github/workflows/publish.yml
  release-please-config.json
Due: none

chore(DTFS2-8601): fix release-please incorrectly tracking releases (#5003)
  .github/workflows/publish.yml
  release-please-config.json
Due: none

Saving release notes
  release-notes.md
Due: none

chore(main): release 3.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(main): release 3.2.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(4.0.0-notes): release notes for 4.0.0
  doc/release-notes-4.0.0-draft.md
Due: none

chore(main): release 4.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat(DTFS2-25605): fixed application gateway and cosmos error
  infrastructure/resource_group_level/modules/application-gateway-portal.bicep
  infrastructure/resource_group_level/modules/application-gateway-tfm.bicep
  infrastructure/resource_group_level/modules/cosmosdb.bicep
Due: none

chore(deps): update dependencies
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  e2e-tests/package.json
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
  utils/tsconfig.json
Due: sort-package-json

chore(deps): update dependencies
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  trade-finance-manager-ui/package.json
Due: sort-package-json

feat(DTFS2-25605): updated endpoint name for protal and tfm
  infrastructure/resource_group_level/modules/front-door-portal.bicep
  infrastructure/resource_group_level/modules/front-door-tfm.bicep
Due: none

chore(DTFS2-8268): update apim gift payload examples
  libs/common/src/constants/apim-gift-payloads/apim-gift-payloads.example.constants.ts
Due: eslint --fix

chore(nunjucks): readability improvement
  gef-ui/templates/includes/application-preview/task-comments.njk
Due: none

chore(DTFS2-8268): update payload structure
  libs/common/src/constants/apim-gift-payloads/apim-gift-payloads.example.constants.ts
Due: eslint --fix

chore(deps): fix tests
  package-lock.json
  portal-api/package.json
  portal-ui/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix, sort-package-json

chore(DTFS2-8268): update apim gift payload examples, readability improvement (#5018)
  gef-ui/templates/includes/application-preview/task-comments.njk
  libs/common/src/constants/apim-gift-payloads/apim-gift-payloads.example.constants.ts
Due: eslint --fix

chore(deps): fix data loader and login on cypress 16
  e2e-tests/gef/cypress/e2e/application/name-application-create-element.spec.js
  e2e-tests/gef/cypress/support/commands/loadData.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/support/tasks.js
  portal-ui/server/routes/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(DTFS2-25605): added feature yml to test for new feature environment
  .github/workflows/deployment_feat.yml
Due: none

chore(deps): fix failing tests and tfm mock data loader
  e2e-tests/gef/cypress/e2e/exporter/exporters-address.spec.js
  e2e-tests/gef/cypress/e2e/pages/exporters-address.js
  e2e-tests/support/tasks.js
  e2e-tests/tfm/cypress/support/utils/loadData.js
Due: eslint --fix

feat(DTFS2-8553): gift facility mapping - ewcs accrual schedules
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.ts
Due: eslint --fix

feat(DTFS2-8553): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.ts
Due: eslint --fix

chore(deps): fix failing tests
  .github/workflows/test.yml
Due: none

feat(DTFS2-8553): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.ts
Due: eslint --fix

feat(DTFS2-8553): gift facility mapping - ewcs accrual schedules (#5023)
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/constants.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.ts
Due: eslint --fix

chore(deps): update deps
  .github/workflows/test.yml
  package-lock.json
  reverse-proxy/Dockerfile
  utils/package.json
Due: sort-package-json

chore(deps): update dependencies (#5013)
  .github/workflows/test.yml
  azure-functions/acbs/package.json
  dtfs-central-api/package.json
  e2e-tests/gef/cypress/e2e/application/name-application-create-element.spec.js
  e2e-tests/gef/cypress/e2e/exporter/exporters-address.spec.js
  e2e-tests/gef/cypress/e2e/pages/exporters-address.js
  e2e-tests/gef/cypress/support/commands/loadData.js
  e2e-tests/gef/cypress/support/commands/portal/login.js
  e2e-tests/package.json
  e2e-tests/support/tasks.js
  e2e-tests/tfm/cypress/support/utils/loadData.js
  external-api/package.json
  gef-ui/package.json
  libs/common/package.json
  package-lock.json
  package.json
  portal-api/package.json
  portal-ui/package.json
  reverse-proxy/Dockerfile
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package.json
  utils/package.json
  utils/tsconfig.json
Due: eslint --fix, sort-package-json

fix(DTFS2-8603): apim/gift facility mapping - indexRateCode
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.test.ts
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.ts
Due: eslint --fix

fix(DTFS2-8603): markups
  trade-finance-manager-api/server/v1/mappings/apim-gift-payloads/create-facility/map-accrual-schedules/index.test.ts
Due: eslint --fix
