Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

feat(FN-1249): rename endpoint with utilisation reports
  portal-api/api-tests/insertUtilisationReportDetails.js
  portal-api/api-tests/v1/utilisation-report-service/due-report-dates.api-test.js
  portal-api/api-tests/v1/utilisation-report-service/previous-reports.api-test.js
  portal-api/src/v1/routes.js
Due: eslint --fix

feat(FN-1249): add report frequency to mock bank data
  portal-api/src/constants/index.js
  portal-api/src/constants/report-frequency.js
  portal/server/constants/index.js
  portal/server/constants/report-frequency.js
  utils/mock-data-loader/banks/reportFrequency.js
Due: eslint --fix

chore(DTFS2-6700): use escape-string-regexp package
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/helpers/escapeRegExp.ts
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
Due: eslint --fix, sort-package-json

feat(FN-1249): refactor and update report period and due dates
  portal-api/src/constants/index.js
  portal-api/src/constants/report-frequency.js
  portal-api/src/v1/api.js
  portal-api/src/v1/controllers/utilisation-report-service/due-report-dates.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/index.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/helpers/eachThreeMonthsOfInterval.js
  portal-api/src/v1/helpers/eachThreeMonthsOfInterval.test.js
  portal-api/src/v1/routes.js
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  utils/mock-data-loader/portal/users.js
Due: eslint --fix

feat(FN-1249): fix get frequency endpoint
  portal-api/src/v1/controllers/utilisation-report-service/due-report-dates.controller.js
  portal-api/src/v1/controllers/utilisation-report-service/index.js
  portal-api/src/v1/controllers/utilisation-report-service/utilisation-report-upload.controller.js
  portal-api/src/v1/helpers/eachThreeMonthsOfInterval.js
  portal-api/src/v1/routes.js
  portal/server/constants/index.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
Due: eslint --fix

feat(FN-1249): show quarterly when upload errors & save report with quarterly months
  portal/server/api.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/index.js
  portal/server/helpers/addMonthsToMonthAsNumber.js
  portal/server/helpers/addMonthsToMonthAsNumber.test.js
  portal/server/helpers/index.js
Due: eslint --fix

chore(DTFS2-6666): use escape-string-regexp package
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/helpers/escapeOperators.js
Due: eslint --fix, sort-package-json

feat(FN-1249): remove report frequency from mock data
  utils/mock-data-loader/banks/reportFrequency.js
Due: eslint --fix

feat(FN-1536): mark report as done (#2489)
  dtfs-central-api/api-tests/v1/utilisation-reports/put-utilisation-report-status.api-test.ts
  dtfs-central-api/src/errors/invalid-payload.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/update-report-status.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/update-report-status.ts
  dtfs-central-api/src/types/utilisation-reports.d.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller.js
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller.test.js
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  trade-finance-manager-api/api-tests/v1/utilisation-reports/update-utilisation-report-service.api-test.ts
  trade-finance-manager-api/src/utils/validation.test.ts
  trade-finance-manager-api/src/utils/validation.ts
  trade-finance-manager-api/src/v1/__mocks__/mock-tfm-session-user.ts
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.js
  trade-finance-manager-api/src/v1/validation/route-validators/route-validators.test.js
  trade-finance-manager-api/src/v1/validation/route-validators/update-report-status-payload-validation/index.test.ts
  trade-finance-manager-api/src/v1/validation/route-validators/update-report-status-payload-validation/index.ts
  trade-finance-manager-api/src/v1/validation/validate-payloads.ts
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-status.component-test.js
  trade-finance-manager-ui/component-tests/utilisation-reports/_macros/report-reconciliation-table.component-test.js
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/constants/index.js
  trade-finance-manager-ui/server/constants/utilisation-report-reconciliation-status.js
  trade-finance-manager-ui/server/constants/utilisation-report-reconciliation-status.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/helpers/reconciliation-summary-helper.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/report-download/index.ts
  trade-finance-manager-ui/server/controllers/utilisation-reports/update-utilisation-report-status/index.ts
  trade-finance-manager-ui/server/helpers/validation.js
  trade-finance-manager-ui/server/helpers/validation.test.js
  trade-finance-manager-ui/server/routes/utilisation-reports/index.js
  trade-finance-manager-ui/server/test-mocks/mock-utilisation-report-reconciliation-summary.js
  trade-finance-manager-ui/server/types/types-helper.d.ts
  trade-finance-manager-ui/server/types/utilisation-reports.d.ts
  trade-finance-manager-ui/styles/table.scss
  trade-finance-manager-ui/templates/utilisation-reports/_macros/report-reconciliation-table.njk
  trade-finance-manager-ui/templates/utilisation-reports/utilisation-reports.njk
  trade-finance-manager-ui/tsconfig.json
Due: eslint --fix

feat(DTFS2-6113): fix api-tests
  trade-finance-manager-api/src/v1/rest-mappings/mappings/deal/mapDeals.api-test.js
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(DTFS2-6932): add pagination to deals page front end
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/constants/deals.js
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/routes/deals/index.js
  trade-finance-manager-ui/styles/breadcrumbs.scss
  trade-finance-manager-ui/styles/styles.scss
  trade-finance-manager-ui/templates/_macros/pagination.njk
  trade-finance-manager-ui/templates/deals/deals.njk
Due: eslint --fix

fix(eslint): lint fixes
  .editorconfig
  .eslintrc.js
  external-api/.eslintrc.js
  external-api/api-tests/v1/currency-exchange-rate.api-test.ts
  external-api/api-tests/v1/eStore.api-test.ts
  external-api/api-tests/v1/healthcheck.api-test.ts
  external-api/api-tests/v1/middleware/api-rate-limiting.api-test.ts
  external-api/package-lock.json
  external-api/package.json
  external-api/src/cronJobs/eStoreSiteCreationJob.cron.ts
  external-api/src/middleware/validate.middleware.ts
  external-api/src/v1/controllers/estore/eStoreApi.ts
  portal-api/.eslintrc.js
  portal-api/src/v1/routes.js
Due: eslint --fix, sort-package-json

feat(FN-1685): fix csv parsing for rows with empty data at end of row
  portal/server/utils/csv-utils.js
  portal/server/utils/csv-utils.test.js
Due: eslint --fix

fix(DTFS2-6910): rename sign in link constant file and add in max send count
  portal-api/api-tests/v1/users/post-sign-in-link.api-test.js
  portal-api/src/constants/index.js
  portal-api/src/constants/sign-in-link-duration.js
  portal-api/src/constants/sign-in-link.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.is-valid-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fix(DTFS2-6910): rename sign in link constant file and add in max send count
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

chore(d(deps): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  azure-functions/number-generator-function/package.json
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
  utils/data-migration/package.json
  utils/mock-data-loader/package-lock.json
  utils/mock-data-loader/package.json
Due: sort-package-json

feat(FN-1945): change fees paid report header
  dtfs-central-api/src/constants/utilisationReportHeaders.js
  dtfs-central-api/src/services/repositories/utilisation-data-repo.js
  dtfs-central-api/src/services/repositories/utilisation-data-repo.test.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.csv
  e2e-tests/portal/cypress/fixtures/invalid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-February_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-September_2023.xlsx
  e2e-tests/portal/cypress/fixtures/valid-utilisation-report-next_week.xlsx
  portal-api/api-tests/fixtures/utilisation-report.csv
  portal-api/api-tests/v1/utilisation-report-service/utilisation-report-upload.api-test.js
  portal/component-tests/utilisation-report-service/check-the-report.component-test.js
  portal/server/constants/utilisation-report-headers.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-monthly-fees-paid-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-monthly-fees-paid-error.test.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-cell-validators/generate-payment-exchange-rate-error.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.js
  portal/server/controllers/utilisation-report-service/utilisation-report-upload/utilisation-report-validator.test.js
Due: eslint --fix

feat(FN-1051): self-review
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.js
  trade-finance-manager-ui/server/helpers/express-session.ts
Due: eslint --fix

fix(DTFS2-6631): added test to check currency with supplier currency
  portal/server/helpers/constructPayload.test.js
Due: eslint --fix

feat(FN-1685): improve documentation
  portal/server/utils/csv-utils.js
Due: eslint --fix

feat(FN-1051): fix tests
  dtfs-central-api/api-tests/v1/bank/bank-get.api-test.js
  dtfs-central-api/api-tests/v1/bank/bank-post.api-test.js
  dtfs-central-api/api-tests/v1/bank/banks-get.api-test.js
Due: eslint --fix

fix(DTFS2-6613): fix validation error on loan financial details page (#2492)
  portal/server/helpers/constructPayload.js
  portal/server/helpers/constructPayload.test.js
  portal/server/routes/contract/bond/index.js
  portal/server/routes/contract/loan/index.js
Due: eslint --fix

chore(main): release 1.1.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-6910): add no sign in token error
  portal-api/src/v1/errors/user-has-no-sign-in-tokens.error.js
  portal-api/src/v1/errors/user-has-no-sign-in-tokens.error.test.js
Due: eslint --fix

chore(DTFS2-6666): remove filter vulnerabilities (#2461)
  portal-api/api-tests/helpers/escapeOperators.api-test.js
  portal-api/package-lock.json
  portal-api/package.json
  portal-api/src/v1/helpers/escapeOperators.js
  portal/server/controllers/dashboard/filters/generate-keyword-query.js
  portal/server/controllers/dashboard/filters/generate-keyword-query.test.js
Due: eslint --fix, sort-package-json

chore(DTFS2-6700): remove tfm search vulnerabilities (#2458)
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/api-test-common.jest.config.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
Due: eslint --fix, sort-package-json

fix(DTFS2-6910): add immer
  portal-api/package-lock.json
  portal-api/package.json
Due: sort-package-json

fix(DTFS2-6910): update transform database user to handle array
  cspell.json
  portal-api/.eslintrc.js
  portal-api/src/v1/users/transform-database-user.js
  portal-api/src/v1/users/transform-database-user.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

fix(DTFS2-6910): update eslint to handle immer
  portal-api/.eslintrc.js
Due: eslint --fix

fix(DTFS2-6910): update repo/service/controller with new responses
  portal-api/src/constants/sign-in-link.js
  portal-api/src/v1/errors/index.js
  portal-api/src/v1/errors/invalid-session-identifier.error.js
  portal-api/src/v1/users/repository.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.service.js
Due: eslint --fix

fix(DTFS2-6910): update repo/service/controller with new responses
  portal-api/src/v1/errors/index.js
  portal-api/src/v1/users/sign-in-link.controller.js
Due: eslint --fix

fix(DTFS2-6910): update error handling
  portal-api/src/v1/errors/index.js
  portal-api/src/v1/errors/invalid-sign-in-token.error.js
  portal-api/src/v1/errors/invalid-sign-in-token.error.test.js
  portal-api/src/v1/errors/user-has-no-sign-in-tokens.error.js
  portal-api/src/v1/errors/user-has-no-sign-in-tokens.error.test.js
  portal-api/src/v1/users/repository.js
Due: eslint --fix

fix(DTFS2-6910): update error handling
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
Due: eslint --fix

fix(DTFS2-6910): update error handling
  portal-api/src/v1/users/repository.js
Due: eslint --fix

feat(FN-1051): add 'OneIndexedMonth' type
  dtfs-central-api/src/types/date.d.ts
  dtfs-central-api/src/types/utilisation-reports.d.ts
  trade-finance-manager-ui/server/types/date.d.ts
  trade-finance-manager-ui/server/types/utilisation-reports.d.ts
Due: eslint --fix

fix(DTFS2-6910): fix unit tests
  portal-api/.eslintrc.js
  portal-api/src/v1/errors/invalid-session-identifier.error.test.js
  portal-api/src/v1/users/controller.js
  portal-api/src/v1/users/controller.test.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.controller.login-with-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/src/v1/users/sign-in-link.service.is-valid-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
  portal-api/src/v1/users/transform-database-user.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix

fix(DTFS2-6910): fix unit tests
  portal-api/.eslintrc.js
  portal-api/src/v1/users/repository.test.js
  portal-api/src/v1/users/sign-in-link.service.create-and-email-sign-in-link.test.js
  portal-api/src/v1/users/sign-in-link.service.get-sign-in-token-status.test.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/src/v1/users/sign-in-link.service.login-user.test.js
  portal-api/test-helpers/unit-test-mocks/mock-user.js
Due: eslint --fix
