Repository UK-Export-Finance/dtfs2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"]
}

chore(main): release 1.2.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-NONE): fix routing restrictions
  portal-api/api-test.jest.config.js
  portal/api-test.jest.config.js
  portal/api-tests/login/get-login.api-test.js
  portal/api-tests/login/get-sign-in-link-expired.api-test.js
Due: eslint --fix

fix(DTFS2-NONE): fix routing restrictions
  portal/api-tests/login/get-login.api-test.js
  portal/api-tests/login/get-sign-in-link-expired.api-test.js
Due: eslint --fix

feat(FN-1946): run npm install
  external-api/package-lock.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-ui/package-lock.json
Due: none

feat(FN-1946): fix tests
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.test.js
Due: eslint --fix

feat(FN-1946): fix error text
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-data-validator.test.js
Due: eslint --fix

feat(FN-1946): small refactors
  dtfs-central-api/api-tests/v1/utilisation-reports/put-utilisation-report-status.api-test.ts
  dtfs-central-api/src/v1/routes/utilisation-reports-routes.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.js
  dtfs-central-api/src/v1/validation/utilisation-report-service/utilisation-report-validator.test.js
  trade-finance-manager-ui/server/helpers/user.ts
Due: eslint --fix

chore(main): release 1.2.1 (#2694)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(DTFS2-6931): undo changes to TFM style.css
  trade-finance-manager-ui/public/css/styles.css
Due: none

fix(DTFS2-6931): remove search.svg file added by mistake
  trade-finance-manager-ui/public/images/search.svg
Due: none

feat(DTFS2-6931): test null values in sorting API tests
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-sorting.api-test.js
Due: eslint --fix

fix(DTFS2-6931): remove feature branch from test.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-6931): add pagination to tfm and dtfs central backend (#2561)
  dtfs-central-api/api-tests/helpers/set-object-property-value-from-string-path.js
  dtfs-central-api/api-tests/helpers/set-object-property-value-from-string-path.test.js
  dtfs-central-api/api-tests/v1/mapping/mapDataModel.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-sorting.api-test.js
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get.api-test.js
  dtfs-central-api/src/mapping/mapDataModel.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  trade-finance-manager-api/api-tests/v1/deals/deal-controller.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals.api-test.js
  trade-finance-manager-api/src/v1/__mocks__/api.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/find-one-deal-failure.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/find-one-deal.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/find-user-by-id.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/index.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/query-deals.js
  trade-finance-manager-api/src/v1/__mocks__/common-api-mocks/update-deal.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/rest-mappings/mappings/deal/mapDeals.js
  trade-finance-manager-api/src/v1/rest-mappings/mappings/deal/mapDeals.test.js
  trade-finance-manager-ui/server/api.js
Due: eslint --fix

feat(FN-1947): add scheduler in dtfs-central-api
  .env.sample
  cspell.json
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  dtfs-central-api/.eslintrc.js
  dtfs-central-api/package-lock.json
  dtfs-central-api/package.json
  dtfs-central-api/src/index.ts
  dtfs-central-api/src/scheduler/index.ts
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.test.ts
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.ts
  dtfs-central-api/src/scheduler/jobs/index.ts
  dtfs-central-api/src/services/repositories/banks-repo.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.ts
  dtfs-central-api/src/types/db-models/banks.ts
  dtfs-central-api/src/types/db-models/utilisation-reports.ts
  dtfs-central-api/src/types/scheduler-job.ts
  dtfs-central-api/src/utils/report-period.test.ts
  dtfs-central-api/src/utils/report-period.ts
Due: eslint --fix, sort-package-json

fix(deployment): changed branch name to prod
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/test.yml
Due: none

fix(deployment)!: changed branch name to prod (#2696)
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/test.yml
Due: none

feat(DTFS2-6932): add pagination to deals page front end
  trade-finance-manager-ui/public/css/styles.css
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/constants/deals.js
  trade-finance-manager-ui/server/controllers/deals/index.js
  trade-finance-manager-ui/server/routes/deals/index.js
  trade-finance-manager-ui/styles/breadcrumbs.scss
  trade-finance-manager-ui/styles/styles.scss
  trade-finance-manager-ui/templates/_macros/pagination.njk
  trade-finance-manager-ui/templates/deals/deals.njk
Due: eslint --fix

feat(DTFS2-6965): setup mongodb change stream to send updates to audit API
  docker-compose.dev.yml
  dtfs-central-api/src/createApp.js
  dtfs-central-api/src/index.ts
  dtfs-central-api/src/services/changeStream/changeStreamApi.ts
  dtfs-central-api/src/services/changeStream/setupChangeStream.ts
Due: eslint --fix

refactor(porta-api): added documentation and refactored exception handling
  external-api/src/v1/controllers/currency-exchange-rate.controller.ts
  portal-api/src/v1/users/login.controller.js
  portal-api/src/v1/users/routes.js
  portal-api/src/v1/users/sign-in-link.controller.js
  portal-api/src/v1/users/sign-in-link.service.js
  portal-api/test-helpers/api-test-helpers/database/user-repository.js
  portal/server/controllers/login/login-with-sign-in-link.js
  utils/mock-data-loader/database/user-repository.js
Due: eslint --fix

refactor(porta-api): added documentation and refactored exception handling
  portal-api/src/v1/users/login.controller.js
Due: eslint --fix

feat(FN-1947): large refactors
  .env.sample
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.test.ts
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.ts
  dtfs-central-api/src/services/repositories/banks-repo.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.ts
  dtfs-central-api/src/types/db-models/banks.ts
  dtfs-central-api/src/utils/report-period.test.ts
  dtfs-central-api/src/utils/report-period.ts
Due: eslint --fix

chore(deps)): dependencies updates
  azure-functions/acbs-function/package-lock.json
  azure-functions/number-generator-function/package-lock.json
  dtfs-central-api/package-lock.json
  external-api/package-lock.json
  external-api/package.json
  gef-ui/package-lock.json
  gef-ui/package.json
  package-lock.json
  package.json
  portal-api/package-lock.json
  portal-api/package.json
  portal/package-lock.json
  portal/package.json
  trade-finance-manager-api/package-lock.json
  trade-finance-manager-api/package.json
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  utils/data-migration/package-lock.json
Due: sort-package-json

feat(FN-1947): refactor getting report by report period
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.test.ts
  dtfs-central-api/src/scheduler/jobs/create-utilisation-reports/index.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.ts
  dtfs-central-api/src/types/db-models/banks.ts
  dtfs-central-api/src/types/db-models/utilisation-reports.ts
Due: eslint --fix

fix(ec): added oil, coal and gas to EC
  utils/mock-data-loader/bss/eligibilityCriteria.js
Due: eslint --fix

chore: add 'feat/e2etf-sql' branch to CI workflows
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: none

feat(FN-1855): add TypeORM integration
  .env.sample
  .gitignore
  README.md
  cspell.json
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  docs/sql-db.md
  dtfs-central-api/src/generateApp.js
  dtfs-central-api/tsconfig.json
  external-api/tsconfig.json
  libs/common/.env.sample
  libs/common/.eslintrc.js
  libs/common/package.json
  libs/common/src/constants/index.ts
  libs/common/src/constants/utilisation-reports.ts
  libs/common/src/index.ts
  libs/common/src/sql-db/Dockerfile
  libs/common/src/sql-db/config.ts
  libs/common/src/sql-db/data-source.ts
  libs/common/src/sql-db/entity/index.ts
  libs/common/src/sql-db/entity/partials/index.ts
  libs/common/src/sql-db/entity/partials/month-and-year.ts
  libs/common/src/sql-db/entity/partials/report-period.ts
  libs/common/src/sql-db/entity/utilisation-report.ts
  libs/common/src/sql-db/index.ts
  libs/common/src/sql-db/init.sh
  libs/common/src/sql-db/migrations/1706118619447-AddUtilisationReportTable.ts
  libs/common/src/types/utilisation-reports.ts
  libs/common/tsconfig.eslint.json
  libs/common/tsconfig.json
  package-lock.json
Due: eslint --fix, sort-package-json

feat(FN-1947): small refactors
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.test.ts
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.ts
  dtfs-central-api/src/types/db-models/utilisation-reports.ts
  dtfs-central-api/src/utils/report-period.ts
Due: eslint --fix

fix(dTFS2-7007): Ensure EC wording is correct (#2701)
  utils/mock-data-loader/bss/eligibilityCriteria.js
Due: eslint --fix

feat(FN-1855): review updates
  .env.sample
  .gitignore
  README.md
  docker-compose.dev.yml
  docker-compose.gha.yml
  docker-compose.yml
  docs/sql-db.md
  libs/common/.env.sample
  libs/common/src/sql-db/config.ts
  libs/common/src/sql-db/data-source.ts
Due: eslint --fix

debug logging
  e2e-tests/support/tasks.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/test-data/dealThatJustNeedsConversionDate.json
Due: eslint --fix

debug logging
  e2e-tests/support/tasks.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
Due: eslint --fix

fix logging
  .github/workflows/test.yml
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm/submit-MIN-with-unissued-facilities-and-resubmit-issued-facilities-updates-facilities-in-tfm.spec.js
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
Due: eslint --fix

feat(FN-1947): update functions to use existing reports
  cspell.json
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.ts
  dtfs-central-api/src/utils/report-period.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-report.controller.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.test.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports-reconciliation-summary.controller/helpers.ts
  dtfs-central-api/src/v1/controllers/utilisation-report-service/get-utilisation-reports.controller.js
Due: eslint --fix

feat(FN-1947): update repo tests
  dtfs-central-api/src/services/repositories/utilisation-reports-repo/utilisation-reports-repo.test.ts
Due: eslint --fix

diff logging
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
Due: eslint --fix

chore(DTFS2-6994): rename and move unit tests labelled as api tests
  portal-api/src/v1/deal-summary/index.test.js
  portal-api/src/v1/facility-dates/cover-end-date.test.js
  portal-api/src/v1/gef/controllers/validation/eligibilityCriteria.test.js
  portal-api/src/v1/gef/controllers/validation/exporter.test.js
  portal-api/src/v1/gef/controllers/validation/supportingInfo.test.js
  portal-api/src/v1/portalActivity-object-generator/index.test.js
  portal-api/src/v1/section-calculations/index.test.js
  portal-api/src/v1/section-status/bonds.test.js
  portal-api/src/v1/section-status/loans.test.js
  portal-api/src/v1/validation/checker-submit-deal-facility-ready-for-check-cover-start-dates/index.test.js
  portal-api/src/v1/validation/eligibility-criteria.test.js
  portal-api/src/v1/validation/fields/cover-end-date.test.js
  portal-api/src/v1/validation/fields/currency-not-the-same-as-supply-contract-rules/conversion-rate-date.test.js
  portal-api/src/v1/validation/fields/date.test.js
  portal-api/src/v1/validation/validateIds.test.js
Due: eslint --fix

proper chaining?
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
Due: eslint --fix

remove catch
  e2e-tests/ukef/cypress/e2e/journeys/portal/submit-deal-with-unissued-facilities-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued/submit-deal-with-unissued-bond-and-resubmit-as-issued.spec.js
Due: eslint --fix
